<script>
    $(document).ready(function(){
		$(function(){
            $('.table-list-post').DataTable({
                'iDisplayLength': 10,
				...languageDataTable
            });
        });

        function checkValidate(params) {
            let { title, slug, category, content } = params;

            if(!title) return { error: true, msg: 'Bạn cần nhập tiêu đề cho bài viết' };
            if(!slug) return { error: true, msg: 'Bạn cần nhập slug cho bài viết' };
            if(!category) return { error: true, msg: 'Bạn cần nhập danh mục cho bài viết' };
            if(!content) return { error: true, msg: 'Bạn cần nhập nội dung cho bài viết' };

            return { error: false, msg: 'not_problem' };
        }

        let getFormBlog = () => {
            let title             = $('#txtTitle').val().trim();
            let slug              = $('#txtSlug').val().trim();
            let description       = $('#txtShortDescription').val().trim();
            let category          = $('#txtCategory').val();
            let status            = $('input[name=cbStatus]:checked').val();
            let seo               = $('#txtSeo').val().trim();
            let content           = tinyMCE.get('txtContent').getContent();

            return { title, slug, description, category, status, seo, content };
        }

        let getFormUpdateBlog = () => {
            let title             = $('#txtTitleUpdate').val().trim();
            let slug              = $('#txtSlugUpdate').val().trim();
            let description       = $('#txtShortDescriptionUpdate').val().trim();
            let category          = $('#txtCategoryUpdate').val();
            let status            = $('input[name=cbStatusUpdate]:checked').val();
            let seo               = $('#txtSeoUpdate').val().trim();
            let content           = tinyMCE.get('txtContentUpdate').getContent();

            return { title, slug, description, category, status, seo, content };
        }

        initEditor("#txtContent", {
            height: 900
        });
        initEditor("#txtContentUpdate", {
            height: 900
        });

        const slugPrevious = $('#txtSlugUpdate').val();

        $("#blogImage, #blogImageUpdate").on('change', readURL);
        $('#txtTitle, #txtTitleUpdate').on('input', function(){
            const titleToSlug = convertToSlug($(this).val().trim());

            $('#txtSlug').val(titleToSlug);
            $('#txtSlugUpdate').val(titleToSlug);
        })

		function checkSlugExists(slug) {
			return new Promise(resolve => {
				$.get(`<%= CF_ROUTINGS_BLOG.LIST_POST %>/?slug=${slug}&type=API`,
					function (resp) {
						const { error, data } = resp.listPosts;
						if(!error && data.length){
							resolve({ error: true });
						}else{
							resolve({ error: false });
						}
					}
				);
			})
		}

		function ajaxAddPost({ dataAdd, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataAdd));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.ADD_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Thêm thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Thêm thành công", "THÔNG BÁO");
                setTimeout(() => {
                    location.href = '/blog/list-post';
                }, 1000)
            }).fail(err => console.error(err))
		}

		function ajaxUpdatePost({ dataUpdate, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataUpdate));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.UPDATE_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Cập nhật thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Cập nhật thành công", "THÔNG BÁO");
            }).fail(err => console.error(err))
		}

        $('#btnAddBlog').on('click', async function(){
            let dataAdd = getFormBlog();
            let { error, msg } = checkValidate(dataAdd);
            if(error) return toastr.error(msg, 'THÔNG BÁO');

			let image = $('#blogImage').prop('files');
			dataAdd.pathImage = '';

			if(image.length){
				await addFileToUpload(image, links => {
					dataAdd.pathImage = links[0].uri;
					ajaxAddPost({ dataAdd, image });
				})
			}else{
				ajaxAddPost({ dataAdd });
			}
        })

        $('#btnUpdateBlog').on('click', async function () {
            let dataUpdate = getFormUpdateBlog();
            let { error, msg } = checkValidate(dataUpdate);
            if(error) return toastr.error(msg, 'THÔNG BÁO');

            if(slugPrevious !== dataUpdate.slug){
				const { error } = await checkSlugExists(dataUpdate.slug);
				if(error) return toastr.warning('Slug đã tồn tại', 'THÔNG BÁO');
			}

			let image = $('#blogImageUpdate').prop('files');
			dataUpdate.postID = $(this).attr('_postID');
			dataUpdate.pathImage = '';

			if(image.length){
				await addFileToUpload(image, links => {
					dataUpdate.pathImage = links[0].uri;
					ajaxUpdatePost({ dataUpdate, image });
				})
			}else{
				ajaxUpdatePost({ dataUpdate });
			}
        });

        $('.btnDeleteBlog').on('click', function () {
			let postID = $(this).attr('_postID');
			let accept = confirm('Bạn có thực sự muốn xóa bài viết không?');
			if(!postID || !accept) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_BLOG.DELETE_POST %>/?postID=${postID}`
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => console.error(err))
		});

    });    
</script>
