<script>
    $(document).ready(function(){
		$(function(){
			$('.table-list-comment').DataTable({
				'iDisplayLength': 10,
				...languageDataTable
			});
		})

		let arrCommentID = [];

		$('.cb-choose-comment').on('change', function () {
			const isChecked = $(this).prop('checked');
			const commentID = $(this).val();

			arrCommentID = isChecked ? [...arrCommentID, commentID] : arrCommentID.filter(ID => ID !== commentID);
		});

		$('.btn-show-modal-update-status-comment, .btn-update-status-comment').on('click', function () {
			$('.modal-update-status-comment').modal('show');
			$('#btnConfirmUpdateStatusComment').attr('_commentID', $(this).attr('_commentID') || '');
		});

		$('#btnConfirmUpdateStatusComment').on('click', function () {
			const statusComment = $('#scStatusComment').val();
			const commentID 	= $(this).attr('_commentID');
			const listCommentID = commentID ? [commentID] : [...arrCommentID];
			console.log(listCommentID, commentID, statusComment)

			if(!listCommentID.length){
				return toastr.warning(`Bạn chưa chọn bình luận`, "THÔNG BÁO");	
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_BLOG.UPDATE_STATUS_COMMENT %>`,
				data: { listCommentID, status: statusComment },
			}).done(resp => {
				console.log({ resp });
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Cập nhật thất bại: ${message}`, 'THÔNG BÁO');
				}

				toastr.success(`Cập nhật thành công`, 'THÔNG BÁO');
				setTimeout(() => location.reload(), 1000);
			}).fail(err => toastr.error(err.message, "THÔNG BÁO"))
		});

    })
</script>
