<script>
    $(document).ready(function(){
		$(function(){
            $('.table-list-category').DataTable({
                'iDisplayLength': 10,
				...languageDataTable
            });
        });

		$('.btn-show-modal-create-category').on('click', function () {
			$('.popup-create-category').modal('show');
		});

		$('#txtModalName, #txtModalNameUpdate').on('keyup', function () {
			let nameToSlug = convertToSlug($(this).val());
			$('#txtModalSlugUpdate').val(nameToSlug);
			$('#txtModalSlug').val(nameToSlug);
		});

		$('.btnConfirmAddCategory').on('click', function () {
			let name 		= $('#txtModalName').val().trim();
			let slug 		= $('#txtModalSlug').val().toLowerCase().trim();
			let description = $('#txtModalDescription').val().trim();
			let status 		= $('#txtModalStatus').val();

			if(!name || !slug)
				return toastr.warning('Bạn cần nhập đầy đủ tên và slug cho danh mục', 'THÔNG BÁO');

			$(this).attr('disabled', true);
            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.ADD_CATEGORY %>`,
                method: 'POST',
                data: { name, slug, description, status }
            }).done(resp => {
                if(!resp.error){
                    toastr.info('Tạo danh mục thành công', 'THÔNG BÁO');
					setTimeout(() => location.reload(), 1000);
                }else{
                    toastr.warning('Tạo danh mục thất bại', 'THÔNG BÁO');
                }
            })
            .fail(err => toastr.error(err.message, 'THÔNG BÁO'))
            .always(() => {
                $('.popup-create-category').modal('hide');

                // reset fields
                $('#txtModalName').val('');
                $('#txtModalSlug').val('');
                $('#txtModalDescription').val('');
                $('#txtModalStatus').val(1);

                $(this).attr('disabled', false);
            });
		})

		$('.btn-show-modal-update-category').on('click', function () {
			$('.popup-update-category').modal('show');

			let categoryID = $(this).attr('_categoryID');
			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_BLOG.INFO_CATEGORY %>/?categoryID=${categoryID}`,
			}).done(resp => {
				let { error, data } = resp;

                if(error)
                    return toastr.warning('Xảy ra lỗi', 'THÔNG BÁO');

                let { _id, name, slug, description, status } = data;

				$('#txtModalCategoryIDUpdate').val(_id);
                $('#txtModalNameUpdate').val(name);
                $('#txtModalSlugUpdate').val(slug);
                $('#txtModalDescriptionUpdate').val(description);
                $('#txtModalStatusUpdate').val(status);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

		$('.btnConfirmUpdateCategory').on('click', function () {
			let categoryID	= $('#txtModalCategoryIDUpdate').val();
			let name 		= $('#txtModalNameUpdate').val().trim();
			let slug 		= $('#txtModalSlugUpdate').val().toLowerCase().trim();
			let description = $('#txtModalDescriptionUpdate').val().trim();
			let status 		= $('#txtModalStatusUpdate').val();

			if(!name || !slug)
				return toastr.warning('Bạn cần nhập đầy đủ tên và slug cho danh mục', 'THÔNG BÁO');

			$(this).attr('disabled', true);
            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.UPDATE_CATEGORY %>`,
                method: 'POST',
                data: { categoryID, name, slug, description, status }
            }).done(resp => {
                if(!resp.error){
                    toastr.info('Cập nhật danh mục thành công', 'THÔNG BÁO');
					setTimeout(() => location.reload(), 1000);
                }else{
                    toastr.warning('Cập nhật danh mục thất bại', 'THÔNG BÁO');
                }
            })
            .fail(err => toastr.error(err.message, 'THÔNG BÁO'))
            .always(() => {
                $('.popup-update-category').modal('hide');

                // reset fields
				$('#txtModalCategoryIDUpdate').val('');
                $('#txtModalNameUpdate').val('');
                $('#txtModalSlugUpdate').val('');
                $('#txtModalDescriptionUpdate').val('');
                $('#txtModalStatusUpdate').val(1);

                $(this).attr('disabled', false);
            });
			
		})

		$('.btnDeleteCategory').on('click', function () {
			let categoryID = $(this).attr('_categoryID');
			let accept = confirm('Bạn có thực sự muốn xóa danh mục không?');
			if(!categoryID || !accept) return;

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_BLOG.UPDATE_CATEGORY %>`,
				data: { categoryID, status: 2 }
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => console.error(err))
		});

    })
</script>
