<script>
    $(document).ready(function(){
		$(function(){
            $('.table-list-faq').DataTable({
                'iDisplayLength': 100,
            });
        });

        initEditor("#txtContentModal", {
            height: 400
        });
        initEditor("#txtContentUpdateModal", {
            height: 400
        });

        $('.btn-create-faq').on('click', function () {
            $('.model-create-faq').modal('show');
        })

        $('.btnConfirmAddFAQ').on('click', async function () {
			const title			= $('#txtTitleModal').val().trim();
            const content       = tinyMCE.get('txtContentModal').getContent();

            if(!title || !content){
                return toastr.error(`Bạn cần nhập đầy đủ các trường`, "THÔNG BÁO");
            }

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_FAQ.ADD_FAQ %>`,
				data: { title, content },
			})
			.done(resp => {
				const { error, message, data } = resp;
				if(error){
					return toastr.error(`Có lỗi trong quá trình tạo: ${message}`, "THÔNG BÁO"); 
				}

				toastr.info(`Tạo FAQ thành công`, "THÔNG BÁO");
				setTimeout(() => location.reload(), 1000);
			})
			.fail(err => console.error(err))
			.always(() => $('.model-create-faq').modal('hide'))
        })

        $('.btn-update-faq').on('click', function () {
            const faqID = $(this).attr('_faqID');

            if(faqID){
                $.ajax({
                    type: "GET",
                    url: `<%= CF_ROUTINGS_FAQ.INFO_FAQ %>?faqID=${faqID}`,
                }).done(resp => {
                    const { error, data, message } = resp;

                    if(error){
                        return toastr.error(`Không tìm thấy FAQ: ${message}`, "THÔNG BÁO"); 
                    }

                    const { _id, title, content, status } = data;

                    $('#txtfaqIDUpdateModal').val(_id);
                    $('#txtTitleUpdateModal').val(title);
                    $('#txtStatusUpdateModal').val(status);
                    tinyMCE.get('txtContentUpdateModal').setContent(content);

                    $('.model-update-faq').modal('show');
                }).fail(err => console.error(err))
            }
        })

        $('.btnConfirmUpdateFAQ').on('click', async function () {
            const faqID     = $('#txtfaqIDUpdateModal').val();
            const title	    = $('#txtTitleModal').val().trim();
            const status    = $('#txtStatusUpdateModal').val();
            const content   = tinyMCE.get('txtContentUpdateModal').getContent();

            if(!faqID){
                return toastr.error(`ID FAQ không tồn tại`, "THÔNG BÁO");
            }
            if(!title && !content && !status){
                return toastr.error(`Bạn cần nhập ít nhất 1 trường để cập nhật`, "THÔNG BÁO");
            }

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_FAQ.UPDATE_FAQ %>`,
				data: { faqID, title, content, status },
			})
			.done(resp => {
				const { error, data, message } = resp;

				if(error){
					return toastr.error(`Có lỗi trong quá trình cập nhật: ${message}`, "THÔNG BÁO");
				}

				toastr.info(`Cập nhật FAQ thành công`, "THÔNG BÁO");
				setTimeout(() => location.reload(), 1000);
			})
			.fail(err => console.error(err))
			.always(() => $('.model-update-faq').modal('hide'))

        });

        $('.btnDeleteFAQ').on('click', function () {
            const accept = confirm('Bạn có thực sự muốn xóa FAQ không?');
            const faqID = $(this).attr('_faqID');
            if(!accept) return;

            if(faqID){
                $.ajax({
                    type: "GET",
                    url: `<%= CF_ROUTINGS_FAQ.REMOVE_FAQ %>/?faqID=${faqID}`,
                }).done(resp => {
                    const { error, message } = resp;
                    if(error){
                        return toastr.error(`Có lỗi trong quá trình xóa: ${message}`, "THÔNG BÁO"); 
                    }

                    $(this).closest('tr').remove();
                    toastr.info(`Xóa FAQ thành công`, "THÔNG BÁO");
                }).fail(err => console.error(err))
            }
        });

    })
</script>
