<style>
    img.img-thumbnail{
        width: 100px;
    }
	.table-list-pricing-request tbody tr.active{
		background: #df8f24;
		color: white;
		font-weight: bold;
	}
    /* .modal-update-status-pricing-request .modal-dialog{ */
        /* width: 400px; */
    /* } */
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách yêu cầu định giá</h5>
                            <!-- <h6 class="sub-heading">List Pricing Request</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <!-- <div class="card-header"> -->
                            <!-- <div class="d-flex justify-content-end">
                                <button class="btn btn-outline-primary btn-update-pricing-request">
                                    <span class="icon-border_color"></span>
                                    Cập nhật thông tin
                                </button>
                            </div> -->
                        <!-- </div> -->
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table class="table table-hover table-responsive table-list-pricing-request">
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <!-- <th>#</th> -->
                                                <th>STT</th>
                                                <th>Ngày tạo</th>
                                                <th>Họ và tên</th>
                                                <th>Email</th>
                                                <th>Số điện thoại</th>
                                                <th>Danh mục đã chọn</th>
                                                <th>Định giá</th>
                                                <th>Chú thích</th>
                                                <th>Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listPricingRequest && listPricingRequest.length) { %>
                                                <% listPricingRequest.forEach(( request, index ) => { %>
                                                    <tr class="tr-pricing-request-<%= request._id %>">
                                                        <!-- <td>
                                                            <input type="checkbox" class="cb-choose-pricing-request" value="<%= request._id %>" />
                                                        </td> -->
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <i> 
                                                                <%= moment(request.createAt).format('L HH:MM') %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i> <%= request.name %> </i>
                                                        </td>
                                                        <td>
                                                            <i> <%= request.email %> </i>
                                                        </td>
                                                        <td>
                                                            <i> <%= request.phone %> </i>
                                                        </td>
                                                        <td>
                                                            <% if (request.categories && request.categories.length) { %>
                                                                <% let listCategory = request.categories.map(category => category.name).join(' | ') %>
                                                                <%= listCategory %> 
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= formatCurrency('###,###.', request.priced) %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i> <%= request.description %> </i>
                                                        </td>
                                                        <td>
                                                            <% if (request.status === 0) { %>
                                                                <span class="badge badge-pill badge-danger">
                                                                    Chưa xem
                                                                </span>
                                                            <% } %>
                                                            <% if(request.status === 1){ %>
                                                                <span class="badge badge-pill badge-info">
                                                                    Chưa liên hệ
                                                                </span>
                                                            <% } %>
                                                            <% if(request.status === 2){ %>
                                                                <span class="badge badge-pill badge-success">
                                                                    <span class="icon-tick"></span> Đã liên hệ
                                                                </span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group mb-2">
                                                                <button type="button" class="btn btn-primary btn-sm btn-update-pricing-request" 
                                                                _requestID="<%= request._id %>">
                                                                    Cập nhật
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listPricingRequest && listPricingRequest.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- POPUP CẬP NHẬT TRẠNG THÁI -->
<div class="modal fade bs-example-modal-sm modal-update-status-pricing-request" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật thông tin</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
				<div class="form-group d-none">
                    <input type="hidden" class="form-control" id="txtPricingRequestIDModal">
                </div>

                <div class="row">
                    <div class="form-group col-xl-6 col-md-6 col-sm-12"><label>Họ và tên</label>
                        <input type="text" class="form-control" id="txtNameUserRequest">
                    </div>
                    <div class="form-group col-xl-6 col-md-6 col-sm-12"><label>Email</label>
                        <input type="email" class="form-control" id="txtEmailUserRequest">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xl-6 col-md-6 col-sm-12"><label>Số điện thoại</label>
                        <input type="text" class="form-control" id="txtPhoneUserRequest">
                    </div>
                    <div class="form-group col-xl-6 col-md-6 col-sm-12"><label>Trạng thái</label>
                        <select class="form-control" id="slStatusPricingRequest">
                            <option value="0">Chưa xem</option>
                            <option value="1">Chưa liên hệ</option>
                            <option value="2">Đã liên hệ</option>
                        </select>
                    </div>
                </div>

                <div class="form-group2"><label>Ghi chú</label>
                    <textarea class="form-control" id="txtDescriptionUserRequest" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success btnConfirmUpdatePricingRequest">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
