

.routing {
    background-color: #B3751D;
    padding: 10px 0;
    font-size: 14px;
}
.detailProductsRouting-wrapper {
    display: flex;
}
.detailProductsRouting-wrapper span {
    padding: 0 5px;
    color:white !important;
}
.detailProductsRouting {
    text-decoration: none;
    color:white !important;
}
.detailProductsRouting--active {
    color: #ffee90 !important;
}


.backgroundDetailProducts {
    background-size: cover;
    background-position: center;
    height: 320px;
}

.main-wrapper {
    background-color: #f5f5f5;
    color: black;
}
.main-left__brand {
    margin-top: 20px;
}
.brand__item {
    background: rgb(50, 127, 190);
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    display: inline-block;
    margin: 10px 10px 0px;
}
.main-left {
    padding: 30px 0;
} 
.main-left__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.main-right {
    padding: 30px 0;
    padding-left: 40px;
}
.main-left__sub {
    font-size: 15px;
    margin-bottom: 20px;
}

.main-right__card {
    border-radius: 10px;
    overflow: hidden;
}
.main-right__card-title {
    background-color: #e09126;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.main-right__card-content {
    background-color: white;
    padding: 15px;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-right__card-content--btn {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fd9e1b;
    text-align: center;
    margin-top: 15px;
    min-width: 150px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}

.main-right__card-content--btn a {
    color: white;
}
.main-right__card-content--btn a:hover {
    text-decoration: none;
}
.detailProduct--pawnnow a{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    background: rgb(255, 112, 25);
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    border-radius: 15px;
    display: block;
    width: 100%;
    margin-top: 20px;
}
.detailProduct--pawnnow a{
    color: rgb(255, 255, 255);
    padding: 5px;
 }
 .detailProduct--pawnnow a:hover {
     text-decoration: none;
 }
 .container-custom {
     padding: 0 60px;
 }

 @media only screen and (max-width: 765px) {
	.backgroundDetailProducts {
        height: 180px;
    }
    .main-right {
        padding-left: 0;
    }
    .container-custom {
        padding: 0 15px !important;
        
    }
}
@media only screen and (max-width: 1000px) {
    .backgroundDetailProducts {
        height: 220px;
    }
    .container-custom {
        padding: 0 15px !important;
        max-width: 960px !important;
    }
}