body,
html {
    background-color: #fff
}
input,
select,
textarea {
    width: 100%
}
.navbar {
    padding-left: 16px;
    padding-right: 16px
}
#content {
    margin-bottom: 0
}
.btn-success-yes {
    color: #fff;
    background-color: #fd8b46;
    border-color: #4cae4c
}
.btn-success-yes:hover {
    color: #fff;
    background-color: #ff7019;
    border-color: #398439
}
.form-control::-webkit-input-placeholder {
    color: #999
}
.navbar-default {
    background-image: none;
}
.badge-icon {
    padding: 0;
}
.navbar-brand .logo-icon {
    height: 56px;
    margin-top: 4px
}
.navbar-brand .logo-text {
    margin-top: 4px;
    margin-left: -6px
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #ddd
}
#steps-navbar {
    display: none
}
#welcome-navbar .welcome-title {
    font-size: 18px;
    color: #555
}
#welcome-navbar .welcome-title .fa {
    margin-left: 4px
}
#welcome-navbar .welcome-title .fa-stack {
    color: #aaa
}
#PawnHeroLogo {
    fill: #333
}
.btn.btn-large{
    background-image: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    box-shadow: 2px 2px 0 #d7d7d7;
    padding: 10px 0;
    width: 200px;
    height: 50px
}
div#content div.pawn-section button.btn.btn-large{
    font-size: 1.5em;
}
.btn.btn-large .fa {
    margin-right: 2px;
}
#thank-you-section {
    padding-bottom: 100px;
}
#submit-button {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    background-color: #ff7019;
    border-radius: .3em;
    box-shadow: none;
    font-family: SansationBold;
    color:#fff;
}
#submit-button:hover {
    background-color: #f82;
}
#submit-button-pawning {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    background-color: #ff7019;
    padding: 7px 45px;
    border-radius: .3em;
    box-shadow: none;
    font-family: SansationBold
}
#submit-button-pawning:hover {
    background-color: #f82
}

.itm-num img {
    margin: 0 5px 2px 30px;
}
#add-another-item {
    background: url(/img/add-item-v3.png) 50% 0 no-repeat #2a80b9;
    margin: 0 auto;
    width: 200px;
    border-radius: 5px;
    height: 50px
}
.display-none {
    display: none;
}
#facebook-box {
    padding: 26px;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .075);
    border-radius: .36em;
    height: 50px;
    background-color: #3b5998;
    width: 96%;
    margin-left: 2%
}
.facebook-or {
    margin: 20px;
    color: #38c;
    text-transform: lowercase;
    font-size: 17px;
    font-weight: 700;
    line-height: 80px;
    vertical-align: middle
}
.facebook-msg {
    margin-top: 10px
}
.agree-to-terms,
.facebook-msg {
    text-align: justify;
    font-size: 12.2px;
    font-family: open sans, sans-serif;
    color: #777
}
.facebook-msg {
    text-align: center;
    font-size: .7em;
    font-family: open sans, sans-serif;
    color: #777
}
.facebook-side {
    position: absolute;
    width: 100px;
    text-align: left;
    font-size: .7em;
    color: #36a;
    font-weight: 700;
    margin-top: 3px
}
#contact-details .btn-facebook {
    font-size: 16px;
    font-weight: 700;
    background-color: #3B5999;
    color: #fff;
    padding: 10px 10px 9px 14px;
    font-family: SansationBold, tahoma, verdana, arial, sans-serif;
    margin-top: -22px;
    box-shadow: none;
}
.btn-facebook:hover {
    color: #fff;
    background-color: #36a
}
.btn-facebook img {
    width: 17px;
    margin: -7px 2px -3px 8px
}
.btn-facebook .with {
    font-weight: 400;
    color: #e7e7e7
}
@media (min-width: 1451px) {
    .facebook-side {
        margin-left: 2%
    }
    .btn-facebook {
        font-size: 10px!important
    }
}
@media (min-width: 1350px) and (max-width: 1450px) {
    .facebook-side {
        margin-left: -1%
    }
    .btn-facebook {
        font-size: 16px!important;
        padding: 7px 8px 7px 1px
    }
}
@media (min-width: 961px) and (max-width: 1349px) {
    .facebook-side {
        position: relative;
        width: auto;
        text-align: center;
        margin: -4px 10px 20px
    }
    .facebook-msg {
        display: none
    }
}

/*@media only screen and (max-width: 768px) {
.summary-bg{background-color:#ebebeb; border-radius:5px; margin:10px; width:98%; padding: 10px;}
.summary-deducted{background-color:#ebebeb !important;; width: 100% !important; border-radius:5px; padding: 10px 0;}

}*/
@media (max-width: 991px) {

    #contact-details #submit-button{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .facebook-side {
        position: relative;
        width: auto;
        text-align: left;
        margin: -4px 10px 20px
    }
    .pawn-section {
        /*padding-bottom: 70px;*/
        padding-top: 30px;
        /*min-height: 205px*/
    }
	.modal-footer{text-align:left !important;}
	div#reminder .note{ font-size: 9px; width:70%;}

    #describe-section,
    #photo-section {
        display: none;
    }
    .pawning-page #describe-section,
    .pawning-page #photo-section {
        display: block;
    }
}
@media (max-width: 370px) {
    #contact-details #submit-button{
        font-size: 18px;
    }
}

div.hide-div {
    display: none;
}
.pawn-section {
    /*padding-bottom: 70px;*/
    /*min-height: 605px;*/
    display: none
}
.pawn-section.active {
    display: block
}
.pawn-section .step-label {
    color: #fff;
    border: none;
    text-transform: capitalize;
    margin: 0 14px;
    background-color: #68c552;
    border-radius: .23em;
    padding: .3em .7em
}
.pawn-section .step-label.active {
    color: #fff;
    border: none;
    background: #2a80b9;
    border-radius: .23em;
    padding: .3em .7em;
    font-family: SansationBold;
    text-transform: capitalize
}
.pawn-section .thank-label {
    color: #fff;
    border: none;
    text-transform: capitalize;
    margin: 0 14px;
    background-color: #68c552;
    border-radius: .23em;
    padding: .3em .7em
}
.pawn-section .thank-label.active {
    color: #fff;
    border: none;
    background: #2a80b9;
    border-radius: .23em;
    padding: .3em .7em;
    font-family: SansationBold;
    text-transform: capitalize
}
@font-face{font-family:SansationBold;src:url(/fonts/Sansation-Bold.ttf),url(/fonts/Sansation-Bold.eot)}
#browse-files-pawning-mobile,#browse-files-pawning-mobile-add{
background-color:#ebebeb;
border:2px solid #d7d7d7;
padding:2.9em 1.4em;
font-weight:700;
color:#d7d7d7;
box-shadow:none;
border-radius:.5em
}

/*
#identification-section #second-arrow-down,
#second-arrow-down,
#second-arrow-down-mobile,
#third-arrow-down {
    display: none;
    background: url(/img/next-btn.png) no-repeat;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto

}
*/
#govid-section #third-arrow-down #renewal-section #redeem-section{
    width:200px;
}
#second-arrow-down {
    /*display: none;*/
    /*background: #68c552;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
    height: 48px;
    color: #fff;
    font-size: 1.4em;
    font-family: SansationBold;
    padding: 15px 0*/
}
#second-arrow-down:hover{
    cursor: pointer;
}

/*.pawn-section .arrow-down,
.pawn-section .arrow-up {
    color: #38c;
    cursor: pointer;
    margin-top: 60px;
    display: block
}*/
.pawn-section .arrow-down.clicked,
.pawn-section .arrow-up.clicked {
    color: #e5e5e5;
    cursor: default;
    display: block
}
#describe-section .arrow-down,
#describe-section .arrow-up {
    margin-top: 20px
}
.pawn-section .next-step {
    color: #38c;
    font-weight: 700;
    margin-top: 12px;
    font-size: 14px;
    font-family: open sans, sans-serif
}

#snap-shot img {
    margin-bottom: .2em;
    margin-right: .2em
}
#browse-files-pawning {
    background-color: #2a80b9;
    border-radius: .3em;
    box-shadow: none;
    font-family: SansationBold;
    font-size: 1.1em
}
#browse-files-pawning img {
    margin-bottom: .2em;
    margin-right: .2em
}
#normal-lbl h3.active-label {
    color: #68c552;
    font-weight: 700;
    font-family: SansationBold
}
#normal-lbl h3.normal-label {
    /*font-weight: 700;*/
    margin: 0 0 20px;
    color: #2a80b9;
    font-family: SansationBold
}
#step2-lbl h3.active-label {
    color: #68c552;
    font-weight: 700;
    font-family: SansationBold
}
#step2-lbl h3.normal-label {
    font-weight: 700;
    margin: 30px 0 20px;
    color: #2a80b9;
    font-family: SansationBold
}
#step3-lbl h3.active-label {
    color: #68c552;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: SansationBold
}

#step3-lbl h3.normal-label {
    font-weight: 700;
    margin: 0 0 20px;
    color: #2a80b9;
    font-family: SansationBold
}
#step4-lbl h3.active-label {
    color: #68c552;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: SansationBold
}
#step4-lbl h3.normal-label {
    font-weight: 700;
    /*margin: 30px 0;*/
	margin: 30px 0 50px;
    color: #2a80b9;
    font-family: SansationBold
}
#upload-section {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.shaded-section {
    background-color: #fafafa;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7
}
#describe-form {
    padding-top: 10px
}
.shopping-desktop {
    background-color: #fff;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 9px 8px 23px 12px;
    border-radius: .3em;
    border: 2px solid #bfc0c1;
    color: #2a80b9
}
.shopping-cart-mobile {
    border: none;
    background: 0 0
}
.shopping-cart-mobile thead {
    display: none
}
.devider {
    border: 1px solid #e1e1e1
}
#shopping-cart td {
    padding-bottom: 2px
}
#shopping-cart {
    font-size: 16px;
    margin-bottom: 0
}
#shopping-cart thead td {
	text-align:center;
    padding-bottom: 20px
	font-size20px;

}
#shopping-cart tfoot td {
    padding-top: 10px!important
}
#shopping-cart tfoot,
#shopping-cart thead {
    font-weight: 700;
    color: #2a80b9!important
}
#shopping-cart.form-control {
    height: auto
}
#shopping-cart td:first-child {
    text-align: left;
    padding-top: 0
	padding-left:25px;
}
#shopping-cart td:last-child {
    text-align: center;
    padding-top: 0;
    font-size: 1.12em
}
.total-amnt {
    color: #2a80b9;
    background: #ebebeb;
    border: 2px solid #bfc0c1;
    border-radius: .3em;
    height: 3em;
    text-align: left;
    padding-top: .8em
}
#shopping-cart td {
    border: none
}
#shopping-cart tbody td {
    line-height: 1
}
#shopping-cart tfoot td {
    border-top: 1px solid #ddd
}
#shopping-cart .fa.fa-minus-circle {
    margin-right: 6px;
    color: #d00;
    cursor: pointer
}
#shopping-cart .fa.fa-plus-circle {
    margin-right: 6px;
    color: #38c
}
#shopping-cart #add-another-item {
    cursor: pointer
}
.thank-you-ticket {
    margin-top: 26px;
    font-weight: 700;
    font-size: 16px
}
#ticket-no {
    display: inline-block;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700
}

#webcam {
    margin: 0 auto; 
    background-color: #fafafa
}
#webcam.active {
    border: none;
    background-color: #000

}
.webcam-or {
  font-family: sansationbold;
  font-size: 25px;
  color: #717171;
  text-align: center;
  padding-bottom: 10px;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}
.add_item {
    background: #2a80b9;
    border-radius: 5px;
    color: #fff!important;
    margin: 20px auto 0;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-family: sansationbold;
    font-size: 22px;
    display: block
}
.add_item a {
    color: #fff!important;
    text-decoration: none!important
}
.free_estimate {
    background: #68c552;
    border-radius: 5px;
    color: #fff!important;
    margin: 0 auto;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-family: sansationbold;
    font-size: 22px;
    display: block
}
.free_estimate a {
    text-decoration: none!important
}
.almost_there {
    margin-top: 10px;
    text-align: center
}

.pickup {
  background:#fff;
  padding: 12px 28px;
  display: inline-block;
  border-radius: 20px;
  border: 5px solid #9b9b9b;
  cursor: pointer;
  height:211px;
  width:211px;
  /*margin-left: 230px;*/
}


/* acceptance */



.top_space{margin-top:25px;}

.accept_asusual_txt{
	color:#717171;
	text-decoration: none;
	font-size: 21px; 
	font-family: SansationBold;
}
.hero_blue{font-family: SansationBold;font-size: 24px; margin:0px;color:#2a80b9;}

.next-button{
	width: 200px;
	background-color:#68c552;
	border-radius:5px;
	color:#fff;
	text-decoration: none;
	font-size: 1.7em; 
	padding: 12px;
	font-family: SansationBold;
	margin:5px auto; 
	text-align:center;
}
.acceptance-grey{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px; 
	color: #717171;
	line-height: 15px;
	font-weight:bold
}
.acceptance-grey2{
	margin-top:21px;	
    color: #717171;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*line-height: 1.42857;*/
	padding-top: 16px;
}
.acceptance-grey2 a{
	margin-top:21px;	
    color: #717171;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
	text-decoration:underline;	
}
.acceptance-blue{
	font-family: SansationBold !important; 
	font-size: 16px; 
	color: #2a80b9;
	font-weight:bold;
	line-height: 15px;
}
.acceptance_red{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #eb5655;
	font-size: 16px; 
	font-weight:bold;
	line-height: 15px;
}
.acceptance-txt{
    color: #717171;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857
}

.form-grp-spacer{height: 85px;}

.estimate-notes2 {
  text-align: left;
  border-left: 5px solid #fff !important; 
  margin-left: 8px;
  padding: 5px 10px;
  background: #fff !important;
  color: #444;
}

.estimate-notes {
  background: #ebebeb!important; 

}

.upload_id{width: 100%;background-color:#2a80b9;border-radius:5px;color:#fff;text-decoration: none;font-size: 1.7em; padding: 12px;font-family: SansationBold;cursor:pointer;}

.dropoff {
  background:#fff;
  padding: 12px 28px;
  display: inline-block;
  border-radius: 20px;
  border: 5px solid #9b9b9b;
  cursor: pointer;
  height:211px;
  width:211px;
 /* margin-left: -230px;*/
}

.pickup-or{
  margin-top: 90px; 
  font-family: sansationbold;
  font-size: 25px;
  color: #717171;
  text-align: center;
  padding-bottom: 10px;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}


.accept-submit{
	width: 200px;
	background-color:#ff7019;
	border-radius:5px;
	color:#fff;
	text-decoration: none;
	font-size: 1.7em;
	padding: 12px;
	font-family: SansationBold;
	cursor:pointer; 
	margin:10px auto;
}

.accept-2go-pickup {
    background: url(/img/acceptance-forget-BG.png) no-repeat;
    /*width: 48px;*/
    height: 28px;
}
.we-can-pickup{
	color:#717171; 
	font-size:24px; 
	font-family:SansationBold;
	line-height: 25px;
	margin-bottom: 30px;
	/*margin-top:50px;
	margin-bottom: 65px;*/
}
 
 .accept_not-home{
	 color: #2a80b9; 
	 margin-bottom: 10px; 
	 font-size: 1.3em; 
	 font-family: SansationBold;
 }
 .accept_have-pickup{
	 color: #68c552; 
	 margin-top:-10px; 
	 font-size: 1.3em; 
	 font-family: SansationBold;
 }
 .accept_pick-item{
	 color: #717171; 
	 margin-bottom: 10px; 
	 font-size: 1.6em;
	 font-family: SansationBold;
 }
.permanent_address{margin-bottom: -20px !important; font-family: SansationBold; color:#2a80b9; text-align:left; padding-bottom:5px;}
.dropzone {
    margin: 0 auto;
    padding: 16px 18px;
    min-width: 300px;
    min-height: 234px;
    border: 4px dashed #ddd;
    display: inline-block
}
.dropzone .dz-message {
    position: absolute;
    width: 94%;
    padding: 24px 50px;
    margin-left: -6px;
    opacity: .6
}
#webcam-msg h4,
.dropzone h4 {
    color: #555;
    margin-bottom: 16px
}
#webcam-msg img,
.dropzone .dz-message img {
    opacity: .4
}
.dropzone .dz-preview {
    margin: 7px;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
    font-size: 13px;
    margin-top: 6px;
    color: #777;
    border: 1px solid #aaa
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
    display: none
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
    margin-bottom: 6px
}
.wizard {
    position: relative
}
.wizard:after,
.wizard:before {
    display: table;
    line-height: 0;
    content: ""
}
.wizard:after {
    clear: both
}
ul.wizard {
    padding: 0;
    margin: 0 0 0 50px;
    list-style: none
}
ul.wizard .previous-disabled li.complete {
    cursor: default
}
ul.wizard .previous-disabled li.complete:hover {
    color: #468847;
    cursor: default
}
ul.wizard .previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f3f4f5
}
ul.wizard li {
    position: relative;
    float: left;
    height: 60px;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 60px;
    color: #999;
    cursor: default;
    font-family: Lato, sans-serif
}
ul.wizard li .chevron {
    position: absolute;
    top: -1px;
    right: -14px;
    z-index: 1;
    display: block;
    border: 31px solid transparent;
    border-right: 0;
    border-left: 19px solid #d3d3d3
}
ul.wizard li .chevron:before {
    position: absolute;
    top: -31px;
    right: 1px;
    display: block;
    border: 31px solid transparent;
    border-right: 0;
    border-left: 19px solid #f8f8f8;
    content: ""
}
ul.wizard li.complete {
    color: #468847
}
ul.wizard li.complete:hover {
    cursor: pointer
}
ul.wizard li.complete .chevron:before,
ul.wizard li.complete:hover .chevron:before {
    border-left: 19px solid #f8f8f8
}
ul.wizard li.active {
    color: #3a87ad
}
ul.wizard-overview li.active a {
    color: #3a87ad!important
}
ul.wizard-overview li:hover a {
    color: #2a80b9!important;
    text-decoration: none
}
ul.wizard-overview li a {
    color: #a2a2a2!important
}
ul.wizard li.active .chevron:before {
    border-left: 19px solid #f8f8f8
}
ul.wizard li .badge {
    margin-right: 6px;
    vertical-align: text-top;
    background-color: #aaa;
    font-size: 13px;
    padding: 4px 7px;
    width: 22px;
    height: 21px;
    border-radius: 10px
}
ul.wizard li:hover .badge-icon {
    margin-right: 6px;
    vertical-align: text-top;
    background-color: #2a80b9;
    font-size: 13px;
    padding: 4px 7px;
    width: 22px;
    height: 21px;
    border-radius: 10px
}
ul.wizard li.active .badge {
    background-color: #38c
}
ul.wizard li:first-child {
    padding-left: 20px
}

#submit-section #loan-duration-field{
    text-align:left;
}
#submit-section #redeem_item_desc{
    padding: 0 20px;
}

/* Renewal */


	
	
#redeem_my_item {
    margin-top: 28px;
    display: block;
    background: #ff7019;
    height: 48px;
    margin-left: auto;
    margin-right: auto
}

#redeem_item {
       background: url(/img/redeem_chk_icon.png) no-repeat;
       height:210px;
       width: 210px;
	   box-shadow: 2px 2px 0 #fff;
}
#redeem_item:hover {
	 background-position: 0 -30px;
	 background: url(/img/redeem_chk_icon2.png) no-repeat;
}

#renew_item {
       background: url(/img/renew_chk_icon.png) no-repeat;
       height:210px;
       width: 210px;
	   box-shadow: 2px 2px 0 #fff;
}
#renew_item:hover {
	 background-position: 0 -30px;
	 background: url(/img/renew_chk_icon2.png) no-repeat;
}

.renew_new_duration_txt {
    color: #717171;
    font-size: 18px;
    padding-bottom:5px;
    padding-top: 5px;
	}
	
.redeem-bttn{
	background-color:#ebebeb;
	border:1px solid #ebebeb-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;
	height:52px;
	color:#6c6c6c;
	font-family: sansationbold;
    font-size: 25px;
	}
	
.renew-bttn{
    background-color:#ebebeb;
	border:1px solid #ebebeb-webkit-border-top-right-radius: 5px;-
	webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px; 
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
	height:52px;
	color:#6c6c6c;
	font-family: sansationbold;
    font-size: 25px;
	}
.redeem-bttn:hover,.renew-bttn:hover,.redeem-bttn.selected,.renew-bttn.selected{
    background-color:#2a80b9; border:1px solid #2a80b9 !important;
	color: #fff;
	font-weight:bold;
}
.redeem-or {
    color: #717171;
    display: block;
    font-family: sansationbold;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 95px;
    text-align: center;
}

.redeem.table {
    margin-top: 50px;
    margin-bottom: 16px;
}
.redeem.table>tbody>tr>td.item-desc {
    border-top: none;
    padding-top: 2px;
}
.redeem-footer.table>tbody>tr:last-child {
    border-bottom: 1px solid #ddd;
}
.redeem-footer.table>tbody>tr:nth-child(2)>td {
    border-top: none;
    padding-top: 0;
}
.redeem-footer.table>tbody>tr:last-child>td {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.redeem-footer.table>tbody>tr>td.text-left {
    padding-left: 10%;
}
.redeem-notes {
    text-align: left;
    border-left: 5px solid #fff;
    margin-left: 8px;
    padding: 5px 10px;
    background: #fff;
    color: #444;
}
.question {
    font-size: 15.5px;
    padding: 10px;
}
.question i {
    font-size: 24px;
    vertical-align: top;
    margin: 0 3px;
}
.step1-grey {
  margin-top: 21px;
  color: #717171;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
 line-height: 1.42857;
}

#payment_option1 {
       background: url(/img/payloan_option1.png) no-repeat;
       height:75px;
       width: 182px;
	   box-shadow: 2px 2px 0 #fff;
}
#payment_option1:hover {
	 background-position: 0 -30px;
	 background: url(/img/payloan_option1_hover.png) no-repeat;
}

#payment_option2 {
       background: url(/img/payloan_option2.png) no-repeat;
       height:75px;
       width: 182px;
	   box-shadow: 2px 2px 0 #fff;
}
#payment_option2:hover {
	 background-position: 0 -30px;
	 background: url(/img/payloan_option2_hover.png) no-repeat;
}

#payment_option3 {
       background: url(/img/payloan_option3.png) no-repeat;
       height:75px;
       width: 182px;
	   box-shadow: 2px 2px 0 #fff;
}
#payment_option3:hover {
	 background-position: 0 -30px;
	 background: url(/img/payloan_option3_hover.png) no-repeat;
}

#payment_option4 {
       background: url(/img/payloan_option4.png) no-repeat;
       height:75px;
       width: 182px;
	   box-shadow: 2px 2px 0 #fff;
}
#payment_option4:hover {
	 background-position: 0 -30px;
	 background: url(/img/payloan_option4_hover.png) no-repeat;
}

#payment_option5 {
       background: url(/img/payloan_option5.png) no-repeat;
       height:75px;
       width: 182px;
	   box-shadow: 2px 2px 0 #fff;
}
#payment_option5:hover {
	 background-position: 0 -30px;
	 background: url(/img/payloan_option5_hover.png) no-repeat;
}

@media only screen and (max-width: 776px) {
    #identification-section #second-arrow-down #redeem_my_item {
        width: 100%;
    }
	.next-button{
		width: 100%;
	}
    .webcam-or{display:none !important;}
    #submit-section .add_item, #submit-section .free_estimate,#describe-section #second-arrow-down #redeem_my_item{
            width:100%; 
    }
    #submit-section .add_item{
        margin:20px auto 20px;
    }

    ul.wizard li {
        margin-top: -50px!important
    }

}

@media (max-width: 480px) {
    #identification-section #second-arrow-down #redeem_my_item{
        width: 100%;
    }
	.next-button{
		width: 100%;
	}
    #submit-section .add_item, #submit-section .free_estimate, #describe-section #second-arrow-down{
        width:100%; 
    }
    #submit-section .add_item{
        margin:20px auto 20px;
    }
.free_estimate
{font-size: 18px; padding-top:15px !important;}

    .pawn-section h3 {
        font-size: 22px;
        margin: 5px 0 10px!important
    }
    .pawn-section .step-label,
    .pawn-section .step-label.active {
        border: none;
        display: block;
        background-color: transparent
    }
    .dropzone {
        background: 0 0
    }
    #upload-section {
        margin: 0
    }
    .dropzone {
        min-width: 280px;
        border: none
    }
    .dropzone .dz-message {
        padding: 24px 40px
    }
    .pawn-section {
        /*padding-bottom: 70px;*/
        padding-top: 10px;
        /*min-height: 205px!important;*/
        text-align: center
    }
    .shopping-cart-mobile {
        border: none;
        background: 0 0
    }
    .pawn-section input {
        text-align: left
    }
    .pawn-section #field-condition-pawning {
        /*padding-left: 30%*/
    }
    .pawn-section #field-duration-pawning {
      /*  padding-left: 25%*/
    }
    .pawn-section textarea {
        /*text-align: center*/
    }
    #shopping-cart td:last-child {
        text-align: left;
        padding-top: 0;
        font-size: 20px
    }
    #shopping-cart .fa.fa-minus-circle {
        margin-right: 25px;
        margin-left: 18px;
        color: #d00;
        cursor: pointer
    }


}
.floatlabel-wrapper input {
    border-radius: .3em;
    border: 2px solid #9b9b9b;
    background: #fff
}
.field-desc-main textarea {
    border-radius: .3em;
    border: 2px solid #9b9b9b;
    background: #fff;
    padding-top: 20px!important
}
input:-webkit-autofill {
    background: #ebebeb!important
}
.field-condition-main select {
    border-radius: .3em;
    border: 2px solid #bfc0c1
}
#branch-dropoff,
#pickup-preferred_date {
    padding: 0 .7em;
    background: url("/img/dropdown.png") no-repeat scroll 98% center #fff !important;
    border: 2px solid #bfc0c1;
    border-radius: 0.3em;
    overflow: hidden;
    position: static !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}


#field-condition-pawning {
    padding: 0 .7em;
    background: 0 0;
    border: none;
    -webkit-appearance: none;
    appearance: none
}
@-moz-document url-prefix() {
    .floatlabel-wrapper-select select {
        width: 100%
    }
}
.floatlabel-wrapper-select {
    border: 2px solid #BFC0C1;
    border-radius: .3em;
    overflow: hidden;
    background: url(/img/dropdown.png) 98% center no-repeat #fff !important; 
    position: static!important;
   /* height: 55px!important */
}
.help-block {
    position: absolute
	padding-top:3px;
}
#field-city,
#field-province {
    padding: 0 .7em;
    background: 0 0;
    border: none;
    -webkit-appearance: none;
    appearance: none
}

#field-barangay,
#field-duration-pawning {
    padding: 0 .7em;
    background: 0 0;
    border: none;
    -webkit-appearance: none;
    appearance: none
}
.active-dropdown {
    border: 2px solid #2a80b9
}
.field-duration-main select {
    border-radius: .3em;
    border: 2px solid #bfc0c1
}
.field-label {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: .3px;
    color: #38c
}
input.input-lg[data-class=field-label] {
    height: 60px;
	margin-top:20px;
}

select.input-lg[data-class=field-label] {
    height: 60px;
}

.email-space{margin-bottom:20px}
.add-space{padding-top:15px;}

select.input-lg {
    color: #2a80b9;
	
	padding: 0 .7em;
    background: url("/img/dropdown.png") no-repeat scroll 98% center #fff !important;
    border: 2px solid #bfc0c1!important;
    border-radius: 0.3em;
    overflow: hidden;
    position: static !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
	
}
.has-error .form-control,
.has-error .form-control:focus {
    border-color: #c00;
    border-width: 2px
	
}
.form-control{box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset !important;}

.ui-datepicker {
    width: auto
}
select.input-lg {
    height: 54px
}
h4.subtitle {
    color: #555;
    text-transform: uppercase;
    margin-bottom: 16px
}
#govt-id-msg {
    margin: 30px 0
}
#govt-id-msg .body {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 36px;
    margin-top: 20px
}
#govt-id-msg .body a {
    cursor: pointer;
    font-weight: 700
}
#govt-id-msg .question {
    color: #38c;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 24px
}
.btn.yes-no {
    width: 120px;
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase
}
.yes-no-text {
    margin-top: 18px;
    color: #555;
    font-size: 13px
}
#location-form {
    display: none
}
#location-toggle {
    text-align: left;
    min-height: 54px;
    font-size: 16px;
    height: auto;
    text-align: center;
}
#location-toggle .fa {
    color: #38c;
    /*
    position: absolute;
    left: 38px;
    top: 18px;
    */
}

#id-toggle i:hover{
    cursor: pointer;
}
#location-toggle .fa{
    cursor: pointer;
}
.breadcrumb-user {
    background-color: #ebebeb;
    padding: 10px!important;
    margin-top: 61px
}
.breadcrumb-user .container ul {
    list-style: none
}
.breadcrumb-user .container ul li {
    float: left;
    margin-left: 5px;
    color: #a6a5a5;
    font-size: 13pt
}
.breadcrumb-user .container ul li.active {
    color: #2a80b9
}
.overview-container {
    margin-top: 100px
}
.overview-container h1 {
    color: #2a80b9;
    text-align: center;
    font-family: SansationBold
}
.ticket-header-active {
    background-color: #2a80b9;
    border-radius: 5px 5px 0 0;
    padding-bottom: 6px!important
}
.ticket-header-active h4 {
    color: #fff;
    margin: 0!important;
    padding-top: 10px!important
}
.ticket-header {
    background-color: #a6a5a5;
    border-radius: 5px 5px 0 0;
    padding-bottom: 6px!important
}
.ticket-header h4 {
    color: #fff;
    margin: 0!important;
    padding-top: 10px!important
}
.ticket-overview {
    margin-bottom: 50px
}
.ticket-status {
    text-align: center;
    padding-right: 0!important
}
.status-icon {
    background-color: #68c552;
    height: 40px;
    padding: 8px;
    border-radius: 0 5px 0 0!important
}
.status-icon-accept,
.status-icon-delete {
    background-color: #717171;
    height: 40px;
    padding: 8px;
    border-radius: 0 5px 0 0!important
}
.ticket-body,
.ticket-body-active {
    background-color: #ebebeb;
    padding: 20px 5px!important;
    text-align: right
}
.ticket-thumbnail {
    width: 150px;
    height: 150px;
    background: url(../img/image-placeholder.png) center no-repeat;
    border-radius: 3px
}
.grey {
    color: #717171;
	font-size: 12px;
}
.blue {
    color: #2a80b9
}
.details-ticket {
    padding: 20px 10px 20px 0
}
.col-lg-4 .overview-btn {
    background-color: #68c552;
    border: 4px solid #ebebeb;
    border-radius: 10px!important;
    text-align: center;
    position: absolute;
    top: 146px;
    left: 105px;
    padding: 0 56px!important
}
.col-lg-4 .overview-btn h4 {
    color: #fff!important
}
.ticket-btn {
    text-align: center;
    position: relative
}
.question-overview {
    padding-top: 3px;
    padding-left: 1px
}
.wizard-overview {
    margin: 0!important
}
.wizard-overview li {
    border-left: solid 1px #ddd;
    padding: 0 5%!important
}
ul.wizard-overview li:first-child {
    margin-left: 30px
}
.ticket-btn-group {
    text-align: center;
    padding-bottom: 50px
}
.overview-btn-icon:hover,
.overview-btn-main:hover {
    border-color: none!important
}
.overview-btn-main {
    background-color: #68c552!important;
    border-color: #68c552!important;
    border: none;
    padding: 12px 40px 12px 0;
    border-radius: 5px!important;
    text-align: center;
    font-size: 17px;
    height: 47px
}
.overview-btn-icon {
    background-color: #68c552!important;
    border: none;
    border-right: 1px solid #4cab36!important;
    padding: 5px 12px;
    border-radius: 5px 0 0 5px!important;
    margin-right: 37px
}
.user-btn-main {
    background-color: #68c552!important;
    border-color: #68c552!important;
    border: none;
    padding: 5px 1px 12px;
    border-radius: 5px!important;
    text-align: center;
    font-size: 17px;
    height: 34px;
    margin-top: 14px
}
.user-btn-icon {
    background-color: #68c552!important;
    border: none;
    border-right: 1px solid #4cab36!important;
    padding: 5px 7px;
    border-radius: 5px 0 0 5px!important;
    margin-right: 10px
}
.dropdown-btn-icon {
    background-color: #2a80b9!important;
    border: none;
    padding: 5px;
    border-radius: 0 5px 5px 0!important
}
.user-footer {
    border-top: solid #d7d7d7 1px
}
.follow_title {
    color: #2a80b9;
    font-family: SansationBold;
    font-size: 12px;
    font-weight: 400!important;
    text-align: right
}
.follow_us ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.follow_us li {
    display: inline;
    padding: 2px
}
.need_help {
    color: #2a80b9;
    font-family: SansationBold;
    font-size: 15px!important;
    text-align: center!important;
    font-weight: 700!important
}
.help_non-mobile {
    text-align: center;
    font-size: 13px
}
.user-footer {
    padding: 15px 85px
}
.follow_us {
    padding: 0!important
}
.overview-img {
    text-align: right
}

#forth-arrow-down{
    
}
@media (min-width: 992px) {
    .navbar-header-user {
        width: 31.333333%!important
    }
    .wizard-overview {
        width: 46%!important
    }
    .btn-group-user {
        width: 8.33333333%!important
    }
    .wizard-overview li {
        border-left: solid 1px #ddd;
        padding: 0 3%!important
    }

}

@media (max-width: 991px) {
    .navbar-header-user {
        float: left;
        width: 100%
    }
    .wizard-overview {
        width: 100%
    }
    .wizard-overview li {
        padding: 0 3%!important;
        border: none!important
    }
    ul.wizard-overview li a {
        color: #a2a2a2!important;
        font-size: 12px;
        margin: 0!important
    }
    ul.wizard-overview li:first-child {
        margin: 0!important
    }
    .user-btn-main {
        display: none
    }

}
@media (min-width: 640px) and (max-width: 1024px) {
.summary-bg{background-color:#ebebeb !important; border-radius:5px; margin:10px; width:98%; padding: 10px;}
.summary-deducted{width:100% !important; background-color:#ebebeb !important; border-radius:5px; padding: 10px !important;}


}

@media (min-width: 640px) and (max-width: 989px) {
    .btn.btn-large .col-xs-4 .overview-btn {
        left: 29px!important;
        top: 166px!important
    }
    .btn-group {
        margin-top: 20px!important
    }
    #identification-section #second-arrow-down #redeem_my_item{
        width: 100%;
    }
    #govid-section #third-arrow-down #renewal-section #redeem-section{
        width:100%;
    }
}


@media (min-width: 381px) and (max-width: 767px) {
    .col-xs-4 .overview-btn {
        left: 101px!important;
        top: 150px!important
    }
    #identification-section #second-arrow-down{
        width: 100%;
    }
}
@media (max-width: 380px) {
    .col-xs-4 .overview-btn {
        left: 69px!important
    }
    .field-desc-main textarea {
        padding-top: 72px!important;
        height: 200px
    }
    .details-ticket {
        text-align: center!important
    }
    .btn-group {
        margin-top: 20px!important
    }
    .user-footer {
        padding: 0 15px!important
    }
}
@media (max-width: 1199px) {
    #identification-section #second-arrow-down #redeem_my_item{
        width:100%;
    }
    #govid-section #browse-files-pawning #renewal-section #redeem-section{
        width: 100%;
    }

    #describe-section #forth-arrow-down{
        width: 100%;
    }
    #describe-section #submit-button{
        width: 100%;
    }


}
@media (min-width: 891px) and (max-width: 1183px) {
    .col-lg-4 .overview-btn {
        left: 50px!important;
        top: 150px!important
    }
    .btn-group {
        margin-top: 20px!important
    }

}
@media (min-width: 1029px) and (max-width: 1183px) {
    ul.wizard li {
        position: relative;
        float: left;
        height: 60px;
        padding: 0 20px 0 32px;
        margin: 0;
        font-size: 11px;
        line-height: 60px;
        color: #999;
        cursor: default;
        font-family: Lato, sans-serif
    }
    .pawning-header {
        margin-left: 10px;
        margin-right: 10px
    }
}
@media (min-width: 769px) and (max-width: 1028px) {
    ul.wizard li {
        position: relative;
        float: left;
        height: 60px;
        padding: 0 0 0 25px;
        margin: 0;
        font-size: 9px;
        line-height: 60px;
        color: #999;
        cursor: default;
        font-family: Lato, sans-serif
    }
    .pawning-header {
        margin-left: 10px;
        margin-right: 10px
    }
    ul.wizard {
        margin-left: 0
    }
}
@media (max-width: 768px) {
    ul.wizard li {
        position: relative;
        float: left;
        height: 60px;
        padding: 0 0 0 19px;
        margin: 0;
        font-size: 9px;
        line-height: 60px;
        color: #999;
        cursor: default;
        font-family: Lato, sans-serif
    }
    ul.wizard {
        margin-left: 0
    }
}
.login_container {
    background-image: url(/img/main_loginBG.jpg);
    height: 390px;
    margin: 5px auto 0;
    width: 430px;
    text-align: center
}
.login-hdr {
    text-align: center;
    padding-top: 0
}
.login_txt {
    color: #fff;
    font-family: Sansation;
    font-size: 26px;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 12px;
    text-align: left
}
.inputMobileText {
    font-family: Sansation;

    font-size: 16px;
    font-weight: 700;
    background-color: #ebebeb;
    border: 1px solid #2a80b9;

    border-radius: 4px;
    text-align: center;
    width: 326px;
    height: 54px;

    color: #d7d7d7;
    margin: 15px
}
.inputSubmit {
    font-family: Sansation;
    font-size: 25px;
    font-weight: 700;
    background-color: #68c552;
    border: 1px solid #68c552;
    border-radius: 4px;
    text-align: center;
    width: 326px;
    height: 54px;
    color: #fff;
    margin: 15px
}
.keep-login-container {
    width: 430px;
    margin: 0 auto
}
.footer_bttm_space {
    margin-bottom: 20px
}

.keep_signin {
    float: left;
    color: #717171;
    font-family: 'Helvetica Neue LT Std';
    font-size: 16px;
    padding-left: 50px

}
.forgot_password {
    float: right;
    color: #717171;
    font-family: 'Helvetica Neue LT Std';
    font-size: 16px;
    padding-right: 50px
}
@media only screen and (max-width: 991px) {
    .login_container {
        margin-top: -20px!important
    }
}
@media only screen and (min-width: 320px) and (max-width: 471px) {
	#acceptance-modal{width:300px !important;}


    .login_container {
        margin-top: -15px!important;
        background: 0 0!important;
        padding: 0;
        height: 310px;
        margin-left: 10px
    }
    .login_container img {
        margin-left: -30px;
        padding-left: 0!important;
        text-align: center;
        width: 370px
    }
    .inputMobileText,
    .inputPasswordText,
    .inputSubmit {
        width: 280px!important;
        margin-left: -20px;
        height: 35px
    }
    .keep_signin {
        padding: 0!important
    }
    .keep-login-container,
    .login_container {
        width: 330px!important
    }
    .forgot_password,
    .keep_signin {
        font-size: 14px;
        padding-right: 43px;
        padding-top: 4px
    }
    div#upload-section button#browse-files-pawning-mobile-add{
        padding:0;
        width:100%;
        background-color: #2a80b9;
        border:none;
        color:#fff;
    }
}
@media (min-width: 1200px) and (max-width: 1349px) {
    .btn-facebook {
        font-size: 18px!important;
        font-weight: 700;
        background-color: #3B5999;
        color: #fff;
        box-shadow: 2px 2px 0 #d7d7d7;
        padding: 10px 10px 9px 0!important;
        font-family: sansationBold, tahoma, verdana, arial, sans-serif
    }
}
/*
@media (max-width: 1280px){
   #upload-section {
   margin-left: 50px!important;
    }
	
}
*/



@media (min-width: 1452px) and (max-width: 1800px) {
    .btn-facebook {
        font-size: 10px!important
    }
}
.estimate-headings {
    color: #fff!important;
    border-color: #fff!important;
    border-radius: 5px;
    background-color: #fff!important
}
.estimate-headings h1 {
    text-align: center;
    color: #2a80b9!important;
    margin-bottom: 0!important;
    margin-top: 0!important;
    font-family: SansationBold;
    font-size: 47px!important;
}
.estimate-headings p {
    text-align: center;
    font-size: 14px!important;
    margin-top: 0!important;
	color:#68c552!important;
	font-weight:bold;
}

.estimate-arrow {
    background: url(/img/estimate-btn.png) no-repeat!important;
    width: 347px!important
}
._li form {
    margin-bottom: 8px!important
}
.form-group {
    position: relative;
	margin-bottom:30px !important;
}
.floatlabel-wrapper-select select {
    height: 51px!important
}
@media (min-width: 481px) and (max-width: 767px) {
    #describe-section,
    #photo-section {
        display: none;
    }

    .pawning-page #describe-section,
    .pawning-page #photo-section {
        display: block;
    }

    #photo-section {
       /* min-height: 470px!important; */
    }

    div#upload-section button#browse-files-pawning-mobile-add{
        padding:0;
        width:100%;
        background-color: #2a80b9;
        border:none;
        color:#fff;
    }

}

.pawning-header {
    text-align: center;
    background-color: #4382b4;
    border-radius: 5px;
    margin-top: 30px;
    color: #fff;
    margin-bottom: 30px
}
.pawning-header h1 {
    margin-top: 10px!important;
    margin-bottom: 0!important;
    font-family: SansationBold;
    font-size: 48px
}
.pawning-header p {
    margin-top: 0!important
}
.help-text {
    font-size: 1em!important;
    color: #717171!important
}
.green {
    color: #68c552
}
.pawning-header-mobile {
    text-align: center;
    background-color: #4382b4;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 0;
    padding: 1px
}
.pawning-header-mobile h1 {
    margin-top: 10px!important;
    margin-bottom: 0!important;
    font-family: SansationBold;
    font-size: 23px
}
.pawning-header-mobile p {
    margin-top: 0!important;
    font-size: 13px
}
.nav-container {
    width: 100%
}
#captcha {
    margin: 15px auto 0!important;
    text-align: center!important;
    width: 300px!important
}
.schedule-option {
    margin-top: -100px
}
#step4-lbl .transfer-method img {
    height: 70px;
    opacity: 1
}
#step4-lbl .transfer-method {
    margin-top: -100px
}
#acceptance-modal {
    height: 723px
}


#take-photo2 {
    background-color: #2a80b9;
    border-radius: .3em;
    box-shadow: none;
    font-family: SansationBold;
    font-size: 1.1em
}
.blue .webcam-or{
    position: absolute;
    top: 87%; 
    padding: 0px; 
    left: -5%;
}

.webcam-gov-id {
    top: 10px!important;
    left: 328px!important
}
#step-1-lbl h3,
#step2-label h3 {
    font-size: 2.2em
}
.field-description {
    float: left;
    padding: 0 20px
}


div#add-item.container{
    z-index: 2;
}
div#add_item:hover{
    cursor: hover;
}

.inline{
    display: inline;
}

.m-15-up-bottom{
    margin:15px 0;
}
.something-label{
    display: inline-block;
}
.something-label > p{
    display: inline-block;
}

/* -- acceptance page --*/
div.warning-icon img{
    margin: -25px 5px 0 5px;
}
div#reminder{
    color:#c4302a; font-weight:bold;
}
div#reminder .note{
    display: inline-block;
}
.t-center{
    text-align: center;
}
#govid-section #id-toggle i #renewal-section #redeem-section{
    color:#38c;
}

#describe-section .help-block{
    position: absolute;
    margin-top: 0;
}

#location-form .form-group{
    margin-bottom: 25px;
}
select{
    -moz-appearance: none;
}


/*For REDEEM*/

.redeem-section {
    display: none;  
}
.step2-section {
    min-height: 390px;
}
@media only screen 
  and (min-device-width: 768px) {
     padding:50px 0 90px;
}


/*.redeeming-page .step2-section {
    padding:110px 0 210px;
}*/
.redeeming-page .step3-section {
    padding:10px 0 10px !important;
    overflow: auto;
}
.redeem.table {
    margin-top: 50px;
    margin-bottom: 16px;
}
.redeem.table>tbody>tr>td.item-desc {
    border-top: none;
    padding-top: 2px;
}
.redeem-footer.table>tbody>tr:last-child {
    border-bottom: 1px solid #ddd;
}
.redeem-footer.table>tbody>tr:nth-child(2)>td {
    border-top: none;
    padding-top: 0;
}
.redeem-footer.table>tbody>tr:last-child>td {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.redeem-footer.table>tbody>tr>td.text-left {
    padding-left: 10%;
}
.redeem-notes {
    text-align: left;
    border-left: 5px solid #fff;
    margin-left: 8px;
    padding: 5px 10px;
    background: #fff;
    color: #444;
}
.question {
    font-size: 15.5px;
    padding: 10px;
}
.question i {
    font-size: 24px;
    vertical-align: top;
    margin: 0 3px;
}

.payment-icon{
    border: 1px solid transparent;
    /*border: 1px solid green;*/
    -webkit-border-radius : 7px;
        -moz-border-radius: 7px;
            border-radius : 7px;
    padding: 2px;
}
.payment-icon:hover{
    border: 1px solid green;
}

.deposit-items .nav-tabs {
    border-bottom : none !important
}

.deposit-items .selected {
    border: 1px solid green;
}



.green_border {
    border: 3px solid #68c552 !important;
}
