<div class="row gutters">
    <div class="form-group col-xl-2"><label>Từ ngày</label> 
            <% if (start) { %>
                <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
            <% }else{ %>
                <input type="date" class="form-control" id="txtStartDate">
            <% } %>
        <small>Set Error</small>
    </div>
    <div class="form-group col-xl-2"><label>Đến ngày</label>
            <% if (start) { %>
                <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
            <% }else{ %>
                <input type="date" class="form-control" id="txtEndDate">
            <% } %>
        <small>Set Error</small>
    </div>
    <div class="form-group col-xl-2">
        <button style="margin-top: 36px" type="button" class="btn btn-success btnSearchProduct">
            <span class="icon-search"></span>
            Tìm kiếm
        </button>
    </div>
</div>  