<script>
    $(document).ready(function(){
        // console.log("aaaaaa");
        // moment.locale("vi");
        $(function(){
            $('#datatableListTransaction').DataTable({
                // "scrollY": "1000px",
                // "scrollX": true,
                // "scrollCollapse": true,
                // // "paging": false,
                'iDisplayLength': 10,
                "aaSorting": [],
                // "columnDefs": [
                //     { "width": "20px%", "targets": 0 },
                //     { "width": "30px%", "targets": 1 },
                // ],

                "bPaginate": true, 
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '40%' },
                    { sWidth: '60%' },
                ],
				...languageDataTable
            });
        });

        function setDataInfoTrans({ 
            status, customerCode, percent, name, phone, gender, transactionCode, loanAmountTrans, 
            transactionDate, approvalLimit, loanAmoutAfterInterest, loanAmount, pricePayInterest, promotionPrice,
            statusFinancial
        }){
            // let loanAmoutAfterInterest = loanAmountTrans * percent/100;
            $(".txtCustomerCodeTrans") .text(customerCode);
            $(".txtCustomerNameTrans") .text(name);
            $(".txtCustomerPhoneTrans").text(phone);
            $(".txtCodeTrans")         .text(transactionCode);
            // console.log({ loanAmountTrans, loanAmoutAfterInterest });
            $(".txtLoanAmountTrans")   .text(formatter.format(loanAmount));
            $(".txtApprovalLimitTrans").text(formatter.format(approvalLimit));
            percent                ? $(".txtPercentLimitTrans") .text(percent)                              : $(".txtPercentLimitTrans") .text('0');
            loanAmoutAfterInterest ? $(".txtInterestRansom").text(formatter.format(loanAmoutAfterInterest)) : $(".txtInterestRansom")    .text('0')
            pricePayInterest ? $(".txtPayInterest")       .text(formatter.format(pricePayInterest))         : $(".txtPayInterest")       .text('0')
            $(".txtTotalPrice")        .text(formatter.format(loanAmountTrans));
            if (promotionPrice) {
                $(".txtPromotionPrice")    .text(formatter.format(promotionPrice));
            } else {
                $(".txtPromotionPrice")    .text('0');
            }
            // console.log( moment(transactionDate).locale('vi').format('LLL')  );
            $(".txtTransactionDate").text( moment(transactionDate).format('L') + " lúc " +  moment(transactionDate).format('LT') );
            if( gender == 0){
                $(".txtCustomerGenderTrans").text("Nữ");
            }else{
                $(".txtCustomerGenderTrans").text("Nam");
            }
            const FINANCIAL_MONEY = 1;
            statusFinancial == FINANCIAL_MONEY ? $('.txtStatusFinancial').text("Quỹ tiền mặt") : $('.txtStatusFinancial').text("Quỹ ngân hàng")

            $("#txtNoteNotApproved").remove();
            $(".txtNoteNotApprove").remove();
            // console.log({ status });
            if ( status == 3 ){
                // console.log("aaasdas");
                $(".popupCheckStatusTransaction").append(`
                    <p class="text-left col-xl-12 txtNoteNotApprove"> <b> Ghi chú không duyệt: </b> </p>
                    <textarea class="form-control" name="" id="txtNoteNotApproved" cols="30" rows="10"></textarea>
                `);
            }
        };

        var currentradio = $("input[name='name']")[0];
        let statusChange = 2;
        let nameRadio;
        $(document).on("change", ".status", function(){
            let status         = $(this).val();
            let transactionID  = $(this).attr("_transID");
            nameRadio          = this.name;
            
            $(".model-change-status-transaction").modal("show");
            $.ajax({
                url:   `/transaction/get-info-ransom/${transactionID}`,
                method: "GET",
                success: resp => {
                    console.log({ resp });
                    if ( resp.data.error == false && resp.data.data ){
                        let data = resp.data.data;
                        if ( status == 1 ){
                            $(".modal-title").text("Xác nhận duyệt")
                        }else{
                            $(".modal-title").text("Xác nhận không duyệt")
                        }
                        statusChange = 0;
                        // if ( statusChange == 1 ) {
                        //     $(this).attr("checked", false);
                        // }
                        if(status == 3) {
                            $(".checkStatusFinancial").hide();
                            $(".textStatusFinancial").hide();
                            
                        }else{
                            $(".textStatusFinancial").show();
                            $(".checkStatusFinancial").show();
                        }
                        $("#statusFinancialMoney").attr("checked", true);

                        // let listInterest = resp.infoInterest.data;
                        // let percent;
                        // console.log({ infoInjectTransaction: resp.infoInjectTransaction });
                        let interestID         = resp.infoInjectTransaction._id;
                        let percent            = resp.infoInjectTransaction.meta.percentDatePayLate;
                        let priceRansomPay     = resp.infoInjectTransaction.meta.priceRansomPay;
                        let loanAmoutAfterInterest  = resp.infoInjectTransaction.priceMuchPayInterest;
                        let loanAmount         = resp.data.data.loanAmount;
                        let pricePayInterest   = resp.infoInjectTransaction.meta.pricePayInterest;
                        let promotionPrice     = resp.infoInjectTransaction.meta.promotionInterest;
                        let statusFinancial    = resp.infoInjectTransaction.meta.statusFinancial;
                        setDataInfoTrans({
                            customerCode:    data.customer.code,
                            name:            data.customer.name,
                            phone:           data.customer.phone,
                            gender:          data.customer.gender,
                            transactionCode: data.code,
                            loanAmountTrans: priceRansomPay,
                            transactionDate: data.transactionDate,
                            approvalLimit:   data.approvalLimit,
                            status,
                            percent,
                            loanAmoutAfterInterest,
                            loanAmount,
                            pricePayInterest,
                            promotionPrice: promotionPrice,
                            statusFinancial
                        });
                        // $(".btnConfirmUncheckTransaction").attr("_percent", percent);
                        $(".btnConfirmUncheckTransaction").attr("_injectTransID", data.latestInjectTransaction._id);
                        $(".btnConfirmUncheckTransaction").attr("_interestID", interestID);
                        $(".btnConfirmUncheckTransaction").attr("_limitDate", resp.limitDate);
                        $(".btnConfirmUncheckTransaction").attr("_loanAmount", data.loanAmount);
                        $(".btnConfirmUncheckTransaction").attr("_transID", transactionID);
                        $(".btnConfirmUncheckTransaction").attr("_customerID", data.customer._id);
                    }
                }
            })
        })

        $(document).on('hidden.bs.modal', '.model-change-status-transaction', function () {
            // console.log({ statusChange });
            if ( statusChange == 1 ){
                currentradio = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = true;
            }
            if ( statusChange == 0 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio2 = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = false;
                currentradio2.checked = false;
            }
            if ( statusChange == 2 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio.checked = true;
            }
        })

        function reloadChangeStatusSuccess(title, description) {
            $(".titleChangeSuccess").text(description);
            $("#modalNotifyCreateSuccess").modal("show");
            $(".transactionCreateSuccess").text(title);
            // khi người dùng bấm tắt popup hay thoát popup mới reload
            $('.btnCloseMyLargeModalLabel').on('click', function(){
                return location.reload();
            })
            $('.btn-block').on('click', function(){
                return location.reload();
            })
            $('#modalNotifyCreateSuccess').mouseup(function(){
                return location.reload();
            });
        }

        $(document).on("click", ".btnConfirmUncheckTransaction", function(){
            let status            = $(".status:checked").val();
            let statusFinancial   = $(".statusFinancial:checked").val();
            let customerID        = $(this).attr('_customerID');

            // console.log({ statusFinancial });
            let agency            = `<%= agency %>`;
            let userID            = `<%= userID %>`;
            let userName          = `<%= nameUser %>`;
            let transactionID     = $(this).attr("_transID");
            let injectTransID     = $(this).attr("_injectTransID");
            let interestID        = $(this).attr("_interestID");
            let limitDate         = $(this).attr("_limitDate");
            let loanAmount        = $(this).attr("_loanAmount");
            disableAndLoading(this);
            // console.log({ transactionID, injectTransID, interestID, limitDate, loanAmount });
            // if(!interestID) {
            //     return toastr.warning("Mời bạn tạo lãi cho danh mục của giao dịch bạn muốn chuộc đồ", "THÔNG BÁO");
            // }
            // if (!status) {
            //     return toastr.warning("Mời bạn chọn loại quỹ", "Thông Báo");
            // }
            if ( status == 3 ){
                let txtNoteNotApproved = $("#txtNoteNotApproved").val();
                $.ajax({
                    url: `/transaction/confirm-ransom/${transactionID}`,
                    method: "POST",
                    data: {status, noteNotApproved: txtNoteNotApproved, injectTransID},
                    success: resp =>{
                        console.log({ resp });
                        if (resp.injectTransactionAfterUpdate && resp.injectTransactionAfterUpdate.error == false && resp.injectTransactionAfterUpdate.data){
                            // toastr.info("Bạn đã không duyệt giao dịch", "Thông báo");   
                            // setTimeout(function(){
                            //     return window.location.href = `/transaction/list`;
                            // }, 700);
                            $(".model-change-status-transaction").modal("hide");
                            reloadChangeStatusSuccess("Không duyệt giao dịch", "không duyệt");
                            enableAndStopLoading(this);
                            if ( agency && userID ){
                                // console.log("aaaaaaaa");
                                socket.emit('CSS_CONFIRM_INJECT_TRANSACTION_RANSOM_REQUEST', { agencyID: agency, userID, userName, type: 7, transactionID });
                                socketAdmin.emit('CSS_CONFIRM_INJECT_TRANSACTION_RANSOM_REQUEST_ENDUSER', { agencyID: agency, userID, userName, type: 7, transactionID, customerID });
                            }
                            statusChange = 2;
                        }else{
                            if ( resp.message == "cannot_change_status_transaction" ){
                                toastr.error("Bạn không được phép thay đổi trạng thái thêm lần nữa",  "Thông báo");
                                statusChange = 1;
                                $(".model-change-status-transaction").modal("hide");
                                setTimeout( function(){
                                    window.location.href = `/transaction/list-ransom-inspect`
                                }, 700);
                                
                            }
                            if ( resp.message == "funds_not_enough"){
                                toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                               
                                // return window.location.href = "/transaction/list";
                                // if ( status == 1 ){
                                //     currentradio = $(`input[name='${nameRadio}`)[0];
                                //     currentradio.checked = false;
                                // }

                                // if ( status == 2 ){
                                //     currentradio = $(`input[name='${nameRadio}`)[1];
                                //     currentradio.checked = false;
                                // }
                            }
                            enableAndStopLoading(this);
                        }
                    }
                })
            }else{
                $.ajax({
                    url: `/transaction/confirm-ransom/${transactionID}`,
                    method: "POST",
                    data: {status, statusFinancial, transactionID, injectTransID, interestID, limitDate, loanAmount},
                    success: resp => {
                        console.log({ resp });
                        if (resp.injectTransactionAfterUpdate && resp.injectTransactionAfterUpdate.error == false && resp.injectTransactionAfterUpdate.data){
                            // toastr.success("Bạn đã duyệt thành công", "Thông báo");  
                            // setTimeout( function(){
                            //     window.location.href = `/transaction/list`
                            // }, 700); 
                            $(".model-change-status-transaction").modal("hide");
                            reloadChangeStatusSuccess("Duyệt giao dịch", "duyệt");
                            if ( agency && userID ){
                                // console.log("aaaaaaaa");
                                socket.emit('CSS_CONFIRM_INJECT_TRANSACTION_RANSOM_REQUEST', { agencyID: agency, userID, userName, type: 6, transactionID });
                                socketAdmin.emit('CSS_CONFIRM_INJECT_TRANSACTION_RANSOM_REQUEST_ENDUSER', { agencyID: agency, userID, userName, type: 6, transactionID, customerID });
                            }
                            enableAndStopLoading(this);
                        }else{  
                            if ( resp.message == "cannot_change_status_transaction" ){
                                toastr.error("Bạn không được phép thay đổi trạng thái thêm lần nữa",  "Thông báo");
                                
                                currentradio = $("input[name='name']")[1];
                                currentradio.checked = true;
                               
                            }
                            if ( resp.message == "funds_not_enough"){
                                toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                                // return window.location.href = "/transaction/list";
                                // if ( status == 1 ){
                                //     currentradio = $(`input[name='${nameRadio}']`)[0];
                                //     currentradio.checked = false;
                                // }

                                // if ( status == 2 ){
                                //     currentradio = $(`input[name='${nameRadio}']`)[1];
                                //     currentradio.checked = false;
                                // }
                            
                            }
                            enableAndStopLoading(this);
                        }
                    }
                })
            }
        });
    })
</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>