<script>
    $(document).ready(function(){
        // console.log("aaaaaa");
        // moment.locale("vi");
        $(function(){
            $('#datatableListTransaction').DataTable({
                "scrollY": "1000px",
                "scrollX": true,
                "scrollCollapse": true,
                // "paging": false,
                'iDisplayLength': 10,
                "aaSorting": [],
				...languageDataTable
                // "columnDefs": [
                //     { "width": "20px%", "targets": 0 },
                //     { "width": "30px%", "targets": 1 },
                // ],
            });
        });

        function setDataInfoTrans({ status, customerCode, name, phone, gender, transactionCode, loanAmountTrans, transactionDate, approvalLimit }){
            $(".txtCustomerCodeTrans").text(customerCode);
            $(".txtCustomerNameTrans").text(name);
            $(".txtCustomerPhoneTrans").text(phone);
            $(".txtCodeTrans").text(transactionCode);
            $(".txtLoanAmountTrans").text(formatter.format(loanAmountTrans));
            $(".txtApprovalLimitTrans").text(formatter.format(approvalLimit));
            // console.log( moment(transactionDate).locale('vi').format('LLL')  );
            $(".txtTransactionDate").text( moment(transactionDate).format('L') + " lúc " +  moment(transactionDate).format('LT') );
            if( gender == 0){
                $(".txtCustomerGenderTrans").text("Nữ");
            }else{
                $(".txtCustomerGenderTrans").text("Nam");
            }

            $("#txtNoteNotApproved").remove();
            $(".txtNoteNotApprove").remove();
            // console.log({ status });
            if ( status == 2 ){
                // console.log("aaasdas");
                $(".popupCheckStatusTransaction").append(`
                    <p class="text-left col-xl-12 txtNoteNotApprove"> <b> Ghi chú không duyệt: </b> </p>
                    <textarea class="form-control" name="" id="txtNoteNotApproved" cols="30" rows="10"></textarea>
                `);
            }
        };

        var currentradio = $("input[name='name']")[0];
        let statusChange = 2;
        let nameRadio;
        $(document).on("change", ".status", function(){
            let status         = $(this).val();
            let transactionID  = $(this).attr("_transID");
            nameRadio          = this.name;
            
            $(".model-change-status-transaction").modal("show");
            $.ajax({
                url:   `/transaction/get-info/${transactionID}`,
                method: "GET",
                success: resp => {
                    // console.log({ resp });
                    if ( resp.data.error == false && resp.data.data ){
                        let data = resp.data.data;
                        if ( status == 1 ){
                            $(".modal-title").text("Xác nhận duyệt")
                        }else{
                            $(".modal-title").text("Xác nhận không duyệt")
                        }
                        setDataInfoTrans({
                            customerCode:    data.customer.code,
                            name:            data.customer.name,
                            phone:           data.customer.phone,
                            gender:          data.customer.gender,
                            transactionCode: data.code,
                            loanAmountTrans: data.loanAmount,
                            transactionDate: data.createAt,
                            approvalLimit:   data.approvalLimit,
                            status
                        });
                        statusChange = resp.data.data.status;
                        // if ( statusChange == 1 ) {
                        //     $(this).attr("checked", false);
                        // }
                        if(status == 2) {
                            $(".checkStatusFinancial").hide();
                            $(".textStatusFinancial").hide();
                            
                        }else{
                            $(".textStatusFinancial").show();
                            $(".checkStatusFinancial").show();
                        }
                        $("#statusFinancialMoney").attr("checked", true);
                        $(".btnConfirmUncheckTransaction").attr("_transID", transactionID);
                        $(".btnConfirmUncheckTransaction").attr("_customerID", data.customer._id);
                    }
                }
            })
        })

        $(document).on('hidden.bs.modal', '.model-change-status-transaction', function () {
            console.log({ statusChange });
            if ( statusChange == 1 ){
                currentradio = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = true;
            }
            if ( statusChange == 0 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio2 = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = false;
                currentradio2.checked = false;
            }
            if ( statusChange == 2 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio.checked = true;
            }
        })

        function reloadChangeStatusSuccess(title, description) {
            $(".titleChangeSuccess").text(description);
            $("#modalNotifyCreateSuccess").modal("show");
            $(".transactionCreateSuccess").text(title);
            // khi người dùng bấm tắt popup hay thoát popup mới reload
            $('.btnCloseMyLargeModalLabel').on('click', function(){
                return location.reload();
            })
            $('.btn-block').on('click', function(){
                return location.reload();
            })
            $('#modalNotifyCreateSuccess').mouseup(function(){
                return location.reload();
            });
        }

        $(document).on("click", ".btnConfirmUncheckTransaction", function(){
            let status            = $(".status:checked").val();
            let statusFinancial   = $(".statusFinancial:checked").val();
            let customerID        = $(this).attr('_customerID');

            // console.log({ statusFinancial });
            let agency            = `<%= agency %>`;
            let userID            = `<%= userID %>`;
            let userName          = `<%= nameUser %>`;
            let transactionID     = $(this).attr("_transID");
            disableAndLoading(this);
            if ( status == 2 ){
                let txtNoteNotApproved = $("#txtNoteNotApproved").val();
                $.ajax({
                    url: `/transaction/update-status-transaction/${transactionID}`,
                    method: "POST",
                    data: {status, noteNotApproved: txtNoteNotApproved},
                    success: resp =>{
                        // console.log({ resp });
                        if ( resp.data && resp.error == false ){
                        // toastr.info("Bạn đã không duyệt giao dịch", "Thông báo");   
                            // setTimeout(function(){
                            //     return window.location.href = `/transaction/list`;
                            // }, 700);
                            $(".model-change-status-transaction").modal("hide");
                            reloadChangeStatusSuccess("Không duyệt giao dịch", "không duyệt");
                            enableAndStopLoading(this);
                            if ( agency && userID ){
                                // console.log("aaaaaaaa");
                                socket.emit('CSS_CONFIRM_TRANSACTION_REQUEST', { agencyID: agency, userID, userName, type: 3, transactionID });
                                socketAdmin.emit('CSS_CONFIRM_TRANSACTION_REQUEST_ENDUSER', { agencyID: agency, userID, userName, type: 4, transactionID, customerID });
                            }
                            statusChange = 2;
                        }else{
                            // console.log({ resp });
                            if ( resp.message == "cannot_change_status_transaction" ){
                                toastr.error("Bạn không được phép thay đổi trạng thái thêm lần nữa",  "Thông báo");
                                statusChange = 1;
                                $(".model-change-status-transaction").modal("hide");
                                setTimeout( function(){
                                    window.location.href = `/transaction/list-create-transaction-inspect`
                                }, 700);
                            }
                            if ( resp.message == "funds_not_enough"){
                                toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                            }
                            enableAndStopLoading(this);
                        }
                    }
                })
            }else{
                $.ajax({
                    url: `/transaction/update-status-transaction/${transactionID}`,
                    method: "POST",
                    data: {status, statusFinancial},
                    success: resp =>{
                        console.log({ resp });
                        if ( resp.data && resp.error == false ){
                            // toastr.success("Bạn đã duyệt thành công", "Thông báo");  
                            // setTimeout( function(){
                            //     window.location.href = `/transaction/list`
                            // }, 700); 
                            $(".model-change-status-transaction").modal("hide");
                            reloadChangeStatusSuccess("Duyệt giao dịch", "duyệt");
                            if ( agency && userID ){
                                // console.log("aaaaaaaa");
                                socket.emit('CSS_CONFIRM_TRANSACTION_REQUEST', { agencyID: agency, userID, userName, type: 2, transactionID });
                                socketAdmin.emit('CSS_CONFIRM_TRANSACTION_REQUEST_ENDUSER', { agencyID: agency, userID, userName, type: 3, transactionID, customerID });
                            }
                            enableAndStopLoading(this);
                        }else{  
                            if ( resp.message == "cannot_change_status_transaction" ){
                                toastr.error("Bạn không được phép thay đổi trạng thái thêm lần nữa",  "Thông báo");
                                currentradio = $("input[name='name']")[1];
                                currentradio.checked = true;
                               
                            }
                            if ( resp.message == "funds_not_enough"){
                                toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                                
                            }
                            if ( resp.message == "fund_not_enough"){
                                toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                            }
                            
                            enableAndStopLoading(this);
                        }
                    }
                })
            }
        });
    })
</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>