<script>
    $(document).ready(function(){

        //Set select2 cho form filtẻr
        $("#txtGenderFilter").select2();
        $("#txtWardFilter").select2();
        $("#txtDistrictFilter").select2();
        $("#txtCityFilter").select2();
        $("#txtAuthPaperFilter").select2();
        // $("small").hide();
        // //Set select2 cho form thêm khách hàng mới
        // $("#txtWard").select2();
        // $("#txtDistrict").select2();
        // $("#txtCity").select2();
        // $("#txtAuthPaper").select2();

        $(function(){
            $('#datatableListCustomer').DataTable({
                'iDisplayLength': 5,
            });
        });

        let getFormSearchAndFilter = () => {
            // let key = $('#txtSearch').val();
            let gender           = $("#txtGenderFilter    option:checked").val();
            let ward             = $("#txtWardFilter      option:checked").val();
            let district         = $("#txtDistrictFilter  option:checked").val();
            let city             = $("#txtCityFilter      option:checked").val();
            let authPaper        = $("#txtAuthPaperFilter option:checked").val();
            // let amountItemShow = $('#select_datatable_length').val();
            return { gender, ward, district, city, authPaper };
        }
        
        let  buildAndGoURI = function(){
            let { gender, ward, district, city, authPaper } = getFormSearchAndFilter();
            let uri = `/customer/list?`;
            if(gender)    uri += `&gender=${gender}`;
            if(ward)      uri += `&ward=${ward}`;
            if(district)  uri += `&district=${district}`;
            if(city)      uri += `&city=${city}`;
            if(authPaper) uri += `&authPaper=${authPaper}`;
            
            return window.location.href = uri;
        }
        
        $('#btnSearch').on('click', function(e){
            e.preventDefault();
            buildAndGoURI();
        });

        $(document).on("click", ".btn-create-customer", function(e){
            e.preventDefault(); 
            $(".model-create-customer").modal("show");    
            $("#maleAdd").attr("checked", true);
        })

        function setError( input, errorMessage){
            $(input).addClass("error");
            $(input).parent().find('small').addClass("errors");
            $(input).parent().find('small').text(errorMessage);
            $(input).parent().find('small').show();
        }

        function setSuccess( input ){
            $(input).removeClass("error");
            $(input).parent().find('small').removeClass("errors");
        }

        function readURL(input, idImage, type) {
            if ( input.files && input.files[0] ) {
                // console.log({ files: input.files });
                for (let  i = 0; i < input.files.length; i++){
                    // console.log({ img: input.files[i] });
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(idImage).append(`
                            <div class="img-wraps">
                                <span class="close deleteImage" _type="${type}" _imgName="${input.files[i].name}" _imageID = "">&times;</span>
                                <img class="imgReader" height="120px" width="120px" src="${e.target.result}" value="${input.files[i].name}" alt="">
                            </div>
                        `);
                        // $(idImage).attr('src', e.target.result);
                        // $(idImage).show();
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        $(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");

            if ( type == "imgCustomer" ){
                arrImageCustomerNew.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        arrImageCustomerNew.splice(index, 1);
                        $(this).parent().remove();
                    }
                })
            }

            if ( type == "imgAuthPaper" ){
                arrImageAuthPaperNew.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        arrImageAuthPaperNew.splice(index, 1);
                        $(this).parent().remove();
                    }
                })
            }
            if ( type == "imgCustomerUpdate" ){
                if( imgID && imgID.length ){
                    imgCustomerOldDelete.forEach( ( imgUpdate, index ) => {
                        // console.log({ imgUpdate });
                        if ( imgUpdate == imgID ){
                            imgCustomerOldDelete.splice(index, 1);
                            $(this).parent().remove();
                        }
                    });
                }else{
                    imgCustomerUpdate.forEach( ( imgUpdate, index ) => {
                        if ( imgUpdate.name == imgName ){
                            imgCustomerUpdate.splice(index, 1);
                            $(this).parent().remove();
                        }
                    })
                }
            }
            
            if ( type == "imgAuthPaperUpdate" ){
                if( imgID && imgID.length ){
                    imgAuthPaperOldDelete.forEach( ( imgUpdate, index ) => {
                        // console.log({ imgUpdate });
                        if ( imgUpdate == imgID ){
                            imgAuthPaperOldDelete.splice(index, 1);
                            $(this).parent().remove();
                        }
                    });
                }else{
                    imgAuthPaperUpdate.forEach( ( imgUpdate, index ) => {
                        if ( imgUpdate.name == imgName ){
                            imgAuthPaperUpdate.splice(index, 1);
                            $(this).parent().remove();
                        }
                    })
                }
            }
        }); 

        let arrImageCustomerNew = [];
        let arrImageAuthPaperNew = [];
        $("#txtImageCustomer").change(function(){
            let idImage     = '.listImageCustomer';
            let limit       = limitImage("#txtImageCustomer");
            if ( limit > 5 ){
                setError("#txtImageCustomer", "Hình ảnh khách hàng không được phép quá 5 tấm")
                $("#txtImageCustomer").val("");
            }else{
                setSuccess("#txtImageCustomer");
                let arrImgCus = $("#txtImageCustomer")[0].files;
                for( let i = 0; i < arrImgCus.length; i++){
                    arrImageCustomerNew[arrImageCustomerNew.length] = arrImgCus[i];
                }
                // $(idImage).find(".img-wraps").remove();
                let type = "imgCustomer";
                readURL(this, idImage, type );
            }
        });

        $("#txtImageAuthPaper").change(function(){
            let idImage     = '.listImageAuthPaper';
            let limit       = limitImage("#txtImageAuthPaper");
            if ( limit > 5 ){
                setError("#txtImageAuthPaper", "Hình ảnh giấy xác thực không được phép quá 5 tấm")
                $("#txtImageAuthPaper").val("");
            }else{
                setSuccess("#txtImageAuthPaper");
                let arrImgAuth = $("#txtImageAuthPaper")[0].files;
                for( let i = 0; i < arrImgAuth.length; i++){
                    arrImageAuthPaperNew[arrImageAuthPaperNew.length] = arrImgAuth[i];
                }
                // $(idImage).find(".img-wraps").remove();
                let type = "imgAuthPaper";
                // $(idImage).find(".img-wraps").remove();
                readURL(this, idImage, type );
            }
        });

        $("#txtImageCustomerUpdate").change(function(){
            let idImage     = '.listImageCustomerUpdate';
            let limit       = limitImage("#txtImageCustomerUpdate");
            if ( limit > 5 ){
                setError("#txtImageCustomerUpdate", "Hình ảnh khách hàng không được phép quá 5 tấm")
                $("#txtImageCustomerUpdate").val("");
            }else{
                setSuccess("#txtImageCustomerUpdate");
                let arrImgCus = $("#txtImageCustomerUpdate")[0].files;
                for( let i = 0; i < arrImgCus.length; i++){
                    imgCustomerUpdate[imgCustomerUpdate.length] = arrImgCus[i];
                }
                let type = "imgCustomerUpdate";
                // $(idImage).find("img").remove();
                readURL(this, idImage, type );
            }
        });

        $("#txtImageAuthPaperUpdate").change(function(){
            let idImage     = '.listImageAuthUpdate';
            let limit       = limitImage("#txtImageAuthPaperUpdate")
            if ( limit > 5 ){
                setError("#txtImageAuthPaperUpdate", "Hình ảnh giấy xác thực không được phép quá 5 tấm")
                $("#txtImageAuthPaperUpdate").val("");
            }else{
                setSuccess("#txtImageAuthPaperUpdate")
                let arrImgAuth = $("#txtImageAuthPaperUpdate")[0].files;
                for( let i = 0; i < arrImgAuth.length; i++){
                    imgAuthPaperUpdate[imgAuthPaperUpdate.length] = arrImgAuth[i];
                }
                let type = "imgAuthPaperUpdate";
                // $(idImage).find("img").remove();
                readURL(this, idImage, type );
            }
        });

        $(document).on("change", "#txtPhone, #txtNumberAuthPaper, #txtIssuedOn, #txtIssuedBy", function(e){
            e.preventDefault();
            setSuccess(this);
        });

        $(document).on("change", "#txtName" , function(e){
            e.preventDefault();
            setSuccess(this);
            let upperCaseName = $(this).val();
            $(this).val(upperCaseName.toUpperCase());
        });

        $(document).on("change", "#txtNameUpdate" , function(e){
            e.preventDefault();
            setSuccess(this);
            let upperCaseName = $(this).val();
            $(this).val(upperCaseName.toUpperCase());
        })

        $(document).on("change", "#txtBirthDay" , function(e){
            e.preventDefault();
            let valueBirthDay = $(this).val();
            if ( valueBirthDay == "" && valueBirthDay.length == 0 ){
                $(this).val("2021-01-01")
            }else{
                setSuccess("#txtBirthDay");
            }
        })

        $(document).on("change", "#txtBirthDayUpdate" , function(e){
            e.preventDefault();
            let valueBirthDay = $(this).val();
            if ( valueBirthDay == "" && valueBirthDay.length == 0 ){
                $(this).val("2021-01-01")
            }else{
                setSuccess("#txtBirthDay");
            }
        })
        
        function setEmptyData(){
            $("#txtName").val("");
            // $("#txtBirthDay").val("");
            $("#txtPhone").val("");
            $("#txtJob").val("");
            $("#txtAddress").val("");
            $("#txtNumberAuthPaper").val("");
            // $("#txtIssuedOn").val("");
            $("#txtIssuedBy").val("");
            $("#txtNote").val("");
            $("#txtImageCustomer").val("");
            $("#txtImageAuthPaper").val("");
            $("#txtImageCustomer").parent().find("img").remove();
            $("#txtImageAuthPaper").parent().find("img").remove();

            $("small").hide();
            // console.log($("input").hasClass("error"));
            $("input").removeClass("error");
            $(".btnConfirmAddCustomer").attr("disabled", false);
            // $(".imgCustomer").hide();
            // $(".imgAuthPaper").hide();
        }
        
        function setDataToList({ addCustomer, customerID, name, gender, phone, number_auth_paper, address, ward, district, city, status, rowCount }){
            if( addCustomer == true ){
                let element = `
                    <tr class="tr-product-category-${customerID}">
                        <th>
                            ${ Number(rowCount) || ""}
                        </th>
                        <td>
                            <a href="/agency/customer/info/${customerID}">
                                <i>
                                    ${name || ""}
                                </i>
                            </a>
                        </td>
                        <td>
                            <i>
                                ${ gender === 1 ? 'Nam' : 'Nữ' || ""}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${phone || ""}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${number_auth_paper || ""}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${address + "," || ""} ${ward + "," || "" } ${district + "," || ""} ${city + "," || ""}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${status === 1 ? 'Hoạt Động' : 'Không Hoạt Động' || ""}
                            </i>
                        </td>
                        <td>
                            <div class="btn-group mb-2">
                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDownBlog_">
                                    Thao Tác
                                </button>
                                <button type="button" 
                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false"
                                >
                                    <span class="sr-only">...</span>
                                </button>
                                <div class="dropdown-menu" 
                                    x-placement="right-start" 
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                >
                                    <a class="dropdown-item btn-update-customer" 
                                        href="javascript:void(0)" 
                                        _customerID="${customerID}">
                                        Sửa Thông Tin
                                    </a>
                                    <a class="dropdown-item btnBlockUser btnDeleteCustomer" 
                                        href="javascript:void(0)" 
                                        _customerID="${customerID}">
                                        Xóa danh mục
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                `;
                $("tbody").append(element);
            }else{
                let element = `
                    <th>
                        ${ Number(rowCount) || ""}
                    </th>
                    <td>
                        <a href="/agency/customer/info/${customerID}">
                            <i>
                                ${name || ""}
                            </i>
                        </a>
                    </td>
                    <td>
                        <i>
                            ${ gender === 1 ? 'Nam' : 'Nữ' || ""}
                        </i>
                    </td>
                    <td>
                        <i>
                            ${phone || ""}
                        </i>
                    </td>
                    <td>
                        <i>
                            ${number_auth_paper || ""}
                        </i>
                    </td>
                    <td>
                        <i>
                            ${address + "," || ""} ${ward + "," || "" } ${district + "," || ""} ${city + "," || ""}
                        </i>
                    </td>
                    <td>
                        <i>
                            ${status === 1 ? 'Hoạt Động' : 'Không Hoạt Động' || ""}
                        </i>
                    </td>
                    <td>
                        <div class="btn-group mb-2">
                            <button type="button" class="btn btn-primary btn-sm" id="btnDropDownBlog_">
                                Thao Tác
                            </button>
                            <button type="button" 
                                class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false"
                            >
                                <span class="sr-only">...</span>
                            </button>
                            <div class="dropdown-menu" 
                                x-placement="right-start" 
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                            >
                                <a class="dropdown-item btn-update-customer" 
                                    href="javascript:void(0)" 
                                    _customerID="${customerID}">
                                    Sửa Thông Tin
                                </a>
                                <a class="dropdown-item btnBlockUser btnDeleteCustomer" 
                                    href="javascript:void(0)" 
                                    _customerID="${customerID}">
                                    Xóa danh mục
                                </a>
                            </div>
                        </div>
                    </td>
                `;
                $(`.tr-product-category-${customerID}`).append(element);
            }
        }

        function limitOld({time1, time2}) {
            let a = (new Date(time1)).getTime();
            let b = (new Date(time2)).getTime();
            if (a > b) {
                return 1;
            } else if (b > a) {
                return 2;
            } else {
                return 0;
            }
        };

        function subStractDate({date1, date2}) {
            let timeDate1 = new Date(date1).getTime();
            let timeDate2 = new Date(date2).getTime();
            let resultSubtractTime = timeDate1 - timeDate2;
            
            const MINUTES = 60 * 1000;
            const HOURS   = MINUTES * 60;
            const DAYS    = HOURS * 24;
            let resultSubtractTimeAfterParseDay = resultSubtractTime / DAYS;
            // let bb = Math.round(Math.abs((timeDate1 - timeDate2) / DAYS));
            return resultSubtractTimeAfterParseDay/365;

            // return new Date((new Date(subAdded)).getTime() - minute * 60000);
        };
        
        $(document).on('hidden.bs.modal', '.model-create-customer', function () {
            setEmptyData();
        })
        
        $(document).on("click", ".btnConfirmAddCustomer", function(e){
            e.preventDefault(); 
            let name             = $("#txtName").val();
            let gender           = $(".gender:checked").val();
            let birthDay         = $("#txtBirthDay").val();
            let phone            = $("#txtPhone").val();
            let job              = $("#txtJob").val();
            let address          = $("#txtAddress").val();
            let ward             = $("#txtWard option:checked").val();
            let district         = $("#txtDistrict option:checked").val();
            let city             = $("#txtCity option:checked").val();
            let authPaper        = $("#txtAuthPaper option:checked").val();
            let numberAuthPaper  = $("#txtNumberAuthPaper").val();
            let issuedOn         = $("#txtIssuedOn").val();
            let issuedBy         = $("#txtIssuedBy").val();
            let note             = $("#txtNote").val();
            // let txtImageCustomer = $("#txtImageCustomer")[0].files;
            // let txtImageAuthPaper= $("#txtImageAuthPaper")[0].files;
            let rowCount         = $('.table-list-customer tr').length;
            // console.log({ birthDay });
            //check Date
            let dateNow = new Date();
            let dateOfParseBirthDay =  new Date(birthDay);
            //Ngày cấp
            let dateOfParseIssuedOn =  new Date(issuedOn);
            let old = limitOld({ time1: dateNow, time2: dateOfParseBirthDay});

            let resultOfSubtractDateBirthDay = subStractDate({ date1: dateNow, date2: dateOfParseBirthDay });
            let resultOfSubtractDateIssuedOnVSBirthDay = limitOld({ time1: dateOfParseIssuedOn, time2: dateOfParseBirthDay });
            let resultOfSubtractDateIssuedOnVsDateNow  = limitOld({ time1: dateNow, time2: dateOfParseIssuedOn });

            !name              ? setError("#txtName", "Tên khách hàng không được phép rỗng")                   : setSuccess("#txtName");
            !phone             ? setError("#txtPhone", "Số điện thoại không được phép rỗng")                   : setSuccess("#txtPhone");
            !numberAuthPaper   ? setError("#txtNumberAuthPaper", "Số giấy xác thực không được phép rỗng")      : setSuccess("#txtNumberAuthPaper");
            !issuedOn          ? setError("#txtIssuedOn", "Ngày cấp không được phép rỗng")                     : setSuccess("#txtIssuedOn");
            !issuedBy          ? setError("#txtIssuedBy", "Nơi cấp không được phép rỗng")                      : setSuccess("#txtIssuedBy");
            !arrImageCustomerNew  || arrImageCustomerNew.length == 0   ? setError("#txtImageCustomer", "Hình ảnh khách hàng không được phép rỗng")     : setSuccess("#txtImageCustomer");
            !arrImageAuthPaperNew || arrImageAuthPaperNew.length == 0  ? setError("#txtImageAuthPaper", "Hình ảnh giấy xác thực không được phép rỗng") : setSuccess("#txtImageAuthPaper");
            // console.log({ authPaper });
            if ( Number(authPaper) == 0 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 10 ){
                        return setError("#txtNumberAuthPaper", "Số CMND phải là 10 số");
                }
            }

            if ( Number(authPaper) == 1 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 12 ){
                    return setError("#txtNumberAuthPaper", "Số Bằng Lái Xe phải là 12 số");
                }
            }

            if ( Number(authPaper) == 2 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 12 ){
                    return setError("#txtNumberAuthPaper", "Số CCCD phải là 12 số");
                }
            }

            if ( phone && phone.length && !Number(phone) ){
                setError("#txtPhone", "Số điện thoại phải là số");

            }else if( phone  && phone.length && Number(phone) && phone.length != 10 ){
                setError("#txtPhone", "Số điện thoại phải từ 10 số");

            }else if( numberAuthPaper && numberAuthPaper.length && !Number(numberAuthPaper) ){
                setSuccess("#txtPhone");
                setError("#txtNumberAuthPaper", "Số giấy xác thực phải là số");

            }else if( birthDay && old == 2 ){
                setSuccess("#txtNumberAuthPaper");
                toastr.warning("Ngày sinh không được phép lớn hơn ngày hiện tại", "Thông báo");
                // setError("#txtNumberAuthPaper", "Số giấy xác thực phải là số")
            }else if( resultOfSubtractDateBirthDay && resultOfSubtractDateBirthDay > 0 && resultOfSubtractDateBirthDay < 18 ){
                setError("#txtBirthDay", "Độ tuổi chưa đủ khả năng chịu trách nhiệm pháp lý");
                toastr.warning("Độ tuổi chưa đủ khả năng chịu trách nhiệm pháp lý", "Thông báo");

            }else if( resultOfSubtractDateIssuedOnVSBirthDay && resultOfSubtractDateIssuedOnVSBirthDay == 2){
                setError("#txtBirthDay", "Ngày cấp không được phép nhỏ hơn ngày sinh");
                setError("#txtIssuedOn", "Ngày cấp không được phép nhỏ hơn ngày sinh");
                toastr.warning("Ngày cấp không được phép nhỏ hơn ngày sinh", "Thông báo");

            }else if( resultOfSubtractDateIssuedOnVsDateNow && resultOfSubtractDateIssuedOnVsDateNow == 2){
                setError("#txtIssuedOn", "Ngày cấp không được phép lớn hơn ngày hiện tại");
                toastr.warning("Ngày cấp không được phép lớn hơn ngày hiện tại", "Thông báo");

            }else if( name && phone && numberAuthPaper && issuedOn && issuedBy && arrImageCustomerNew && arrImageCustomerNew.length > 0 && arrImageAuthPaperNew && arrImageAuthPaperNew.length > 0 ){
                let formData = new FormData();
                formData.append('name',   name);
                formData.append('gender', gender);
                formData.append('birthday', birthDay);
                formData.append('phone', phone);
                formData.append('job', job);
                formData.append('address', address);
                formData.append('ward', ward);
                formData.append('district', district);
                formData.append('city', city);
                formData.append('auth_paper', authPaper);
                formData.append('number_auth_paper', numberAuthPaper);
                formData.append('issued_on', issuedOn);
                formData.append('issued_by', issuedBy);
                formData.append('note', note);
                // console.log({ txtImageCustomer, txtImageAuthPaper });
                for (let  i = 0; i < arrImageCustomerNew.length; i++){
                    formData.append('image_customer', arrImageCustomerNew[i]);
                }
                for (let  i = 0; i < arrImageAuthPaperNew.length; i++){
                    formData.append('image_auth_paper', arrImageAuthPaperNew[i]);
                }

                $.ajax({
                    url: `<%= CF_ROUTINGS_CUSTOMER.ADD_ACCOUNT_CUSTOMER %>`,
                    method: "POST",
                    enctype: 'multipart/form-data',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: resp => {
                        if( resp.infoAccountCustomer.error == false && resp.infoAccountCustomer.data ){
                            // !rowCount ? rowCount = 1 : rowCount;
                            $(".btnConfirmAddCustomer").attr("disabled", true);
                            toastr.success("Bạn đã thêm thành công", "Thông báo");

                            setTimeout( function() {
                                window.location.href = "<%= CF_ROUTINGS_CUSTOMER.LIST_CUSTOMER %>"
                            }, 1000);
                            
                            $(".model-create-customer").modal("hide");     
                        }else{
                            console.log({ resp });
                        }
                    }
                })
            }
        });

        $(document).on("click", ".btnDeleteCustomer", function(e){
            e.preventDefault();
            let customerID = $(this).attr("_customerID");
            let confirmRemove = confirm("Bạn có chắc chắn muốn xóa");
            if(!confirmRemove)
                return;
            $.ajax({
                url: `/customer/delete/${customerID}`,
                method: "GET",
                success: resp => {
                    if( resp.infoAccountCustomer.error == false && resp.infoAccountCustomer.data ){
                        // $(`.tr-product-category-${customerID}`).remove();
                        // alert("Bạn có chắc chắn muốn xóa", "Thông báo");
                        toastr.success("Bạn đã xóa thành công", "Thông báo");
                        
                        setTimeout( function() {
                            window.location.href = "<%= CF_ROUTINGS_CUSTOMER.LIST_CUSTOMER %>"
                        }, 1000);
                    }else{
                        console.log({ resp });
                    }
                }
            })
        });

        let imgCustomerOldDelete  = [];
        let imgCustomerUpdate     = [];
        let imgAuthPaperOldDelete = [];
        let imgAuthPaperUpdate    = [];
        function setDataUpdate({ customerID, name, gender, phone, birthday, job, authPaper, number_auth_paper, issuedOn, issuedBy, note, address, ward, district, city, imgCustomer, imgAuthPape, status }){
            $("#txtNameUpdate").val(name);
            if ( gender == 1 ){
                $("#male").attr("checked", true);
            }else{
                $("#female").attr("checked", true);
            }
            if ( birthday ){
                $("#txtBirthDayUpdate").val(birthday.substring(0,10));
            }else{
                $("#txtBirthDayUpdate").val("");
            }
            $("#txtPhoneUpdate").val(phone);
            $("#txtJobUpdate").val(job);
            if( address ){
                $("#txtAddressUpdate").val(address);
            }
            $("#txtWardUpdate").val(ward);
            $("#txtDistrictUpdate").val(district);
            $("#txtCityUpdate").val(city);
            $("#txtAuthPaperUpdate").val(authPaper);
            $("#txtNumberAuthPaperUpdate").val(number_auth_paper);
            $("#txtIssuedOnUpdate").val(issuedOn.substring(0,10));
            $("#txtIssuedByUpdate").val(issuedBy);
            $("#txtNoteUpdate").val(note);

            imgCustomer && imgCustomer.length && imgCustomer.forEach( imgCus => {
                if ( imgCus.path.includes("undefined")){
                    
                }else{
                    $(".listImageCustomerUpdate").append(`
                        <div class="img-wraps">
                            <span class="close deleteImage" _imageID="${imgCus._id}" _type="imgCustomerUpdate" _imgName="${imgCus.name}">&times;</span>
                            <img class="imgReader" height="120px" width="120px" src="${imgCus.path}" value="${imgCus.name}" alt="">
                        </div>
                    `);
                    imgCustomerOldDelete[imgCustomerOldDelete.length] = imgCus._id;
                }
            })
            imgAuthPape && imgAuthPape.length && imgAuthPape.forEach( imgAuth => {
                if ( imgAuth.path.includes("undefined")){
                   
                }else{
                    $(".listImageAuthUpdate").append(`
                        <div class="img-wraps">
                            <span class="close deleteImage" _imageID="${imgAuth._id}" _type="imgAuthPaperUpdate" _imgName="${imgAuth.name}">&times;</span>
                            <img class="imgReader" height="120px" width="120px" src="${imgAuth.path}" value="${imgAuth.name}" alt="">
                        </div>
                    `);
                    imgAuthPaperOldDelete[imgAuthPaperOldDelete.length] = imgAuth._id;
                }
            })
            $(".btnConfirmUpdateCustomer").attr("_customerID", customerID);

            if( status == 1 ){
                $(".cbActive").attr("checked", false);
            }else{
                $(".cbActive").attr("checked", true);
            }
        };
        
        let active ;
        $(document).on("change", ".cbActive", function(e){
            e.preventDefault();
            let checked = $(this).attr("checked");
            if ( checked == "checked" ){
                active = 1;
                $(this).attr("checked", false);
            }else{
                active = 0;
                $(this).attr("checked", true);
            }
        });
        
        function limitImage(input){
            var $fileUpload = $(input);
            return parseInt($fileUpload.get(0).files.length);
        }
        
        $(document).on("click", ".btn-update-customer", function(e){
            e.preventDefault();
            $(".model-update-customer").modal("show"); 
            let customerID = $(this).attr("_customerID");
            $(".listImageAuthUpdate").empty();
            $(".listImageCustomerUpdate").empty();
             imgCustomerOldDelete  = [];
             imgCustomerUpdate     = [];
             imgAuthPaperOldDelete = [];
             imgAuthPaperUpdate    = [];
            $.ajax({
                url: `/customer/info/${customerID}`,
                method: "GET",
                success: resp =>{
                    console.log({ resp });
                    if ( resp.infoAccountCustomer.error == false && resp.infoAccountCustomer.data ){
                        let data = resp.infoAccountCustomer.data;
                        // console.log({ data });
                        let imageCus = [];
                        let imageAuth = [];

                        if( data.image_customer && data.image_customer.length ){
                            imageCus = data.image_customer
                        }

                        if( data.image_auth_paper && data.image_auth_paper.length ){
                            imageAuth = data.image_auth_paper
                        }

                        $("#txtImageCustomerUpdate").parent().find("img").remove();
                        $("#txtImageAuthPaperUpdate").parent().find("img").remove();
                        setDataUpdate({
                            customerID:        data._id, 
                            name:              data.name, 
                            gender:            data.gender, 
                            phone:             data.phone, 
                            birthday:          data.birthday, 
                            job:               data.job, 
                            authPaper:         data.auth_paper, 
                            number_auth_paper: data.number_auth_paper, 
                            issuedOn:          data.issued_on, 
                            issuedBy:          data.issued_by, 
                            note:              data.note, 
                            address:           data.address, 
                            ward:              data.ward, 
                            district:          data.district, 
                            city:              data.city, 
                            imgCustomer:       imageCus, 
                            imgAuthPape:       imageAuth, 
                            status:            data.status
                        })
                    }
                }
            })    
        });

        $(document).on("click", ".btnConfirmUpdateCustomer", function(e){
            e.preventDefault();
            let customerID       = $(this).attr("_customerID");
            let name             = $("#txtNameUpdate").val();
            let gender           = $(".genderUpdate:checked").val();
            let birthDay         = $("#txtBirthDayUpdate").val();
            let phone            = $("#txtPhoneUpdate").val();
            let job              = $("#txtJobUpdate").val();
            let address          = $("#txtAddressUpdate").val();
            let ward             = $("#txtWardUpdate option:checked").val();
            let district         = $("#txtDistrictUpdate option:checked").val();
            let city             = $("#txtCityUpdate option:checked").val();
            let authPaper        = $("#txtAuthPaperUpdate option:checked").val();
            let numberAuthPaper  = $("#txtNumberAuthPaperUpdate").val();
            let issuedOn         = $("#txtIssuedOnUpdate").val();
            let issuedBy         = $("#txtIssuedByUpdate").val();
            let note             = $("#txtNoteUpdate").val();
            let imgCustomer      = $(".listImageCustomerUpdate").find("img");
            let imgAuthPaper     = $(".listImageAuthUpdate").find("img");

            // let txtImageCustomer = $("#txtImageCustomerUpdate")[0].files;
            // let txtImageAuthPaper= $("#txtImageAuthPaperUpdate")[0].files;
            // console.log("aaaaaa");
            //check Date
            let dateNow = new Date();
            let dateOfParseBirthDay =  new Date(birthDay);
            //Ngày cấp
            let dateOfParseIssuedOn =  new Date(issuedOn);
            let old = limitOld({ time1: dateNow, time2: dateOfParseBirthDay});

            let resultOfSubtractDateBirthDay = subStractDate({ date1: dateNow, date2: dateOfParseBirthDay });
            let resultOfSubtractDateIssuedOnVSBirthDay = limitOld({ time1: dateOfParseIssuedOn, time2: dateOfParseBirthDay });
            let resultOfSubtractDateIssuedOnVsDateNow  = limitOld({ time1: dateNow, time2: dateOfParseIssuedOn });

            // console.log({ old, resultOfSubtractDateIssuedOnVSBirthDay, resultOfSubtractDateIssuedOnVsDateNow });

            !name              ? setError("#txtNameUpdate", "Tên khách hàng không được phép rỗng")                   : setSuccess("#txtName");
            !phone             ? setError("#txtPhoneUpdate", "Số điện thoại không được phép rỗng")                   : setSuccess("#txtPhone");
            !numberAuthPaper   ? setError("#txtNumberAuthPaperUpdate", "Số giấy xác thực không được phép rỗng")      : setSuccess("#txtNumberAuthPaper");
            !issuedOn          ? setError("#txtIssuedOnUpdate", "Ngày cấp không được phép rỗng")                     : setSuccess("#txtIssuedOn");
            !issuedBy          ? setError("#txtIssuedByUpdate", "Nơi cấp không được phép rỗng")                      : setSuccess("#txtIssuedBy");
            !imgCustomer  || imgCustomer.length == 0   ? setError("#txtImageCustomerUpdate", "Hình ảnh khách hàng không được phép rỗng")     : setSuccess("#txtImageCustomer");
            !imgAuthPaper || imgAuthPaper.length == 0  ? setError("#txtImageAuthPaperUpdate", "Hình ảnh giấy xác thực không được phép rỗng") : setSuccess("#txtImageAuthPaper");
            
            if ( Number(authPaper) == 0 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 10 ){
                        return setError("#txtNumberAuthPaperUpdate", "Số CMND phải là 10 số");
                }
            }

            if ( Number(authPaper) == 1 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 12 ){
                    return setError("#txtNumberAuthPaperUpdate", "Số Bằng Lái Xe phải là 12 số");
                }
            }

            if ( Number(authPaper) == 2 ){
                if ( numberAuthPaper && numberAuthPaper.length && Number(numberAuthPaper) && numberAuthPaper.length != 12 ){
                    return setError("#txtNumberAuthPaperUpdate", "Số CCCD phải là 12 số");
                }
            }

            if ( phone && phone.length && !Number(phone) ){
                setError("#txtPhoneUpdate", "Số điện thoại phải là số")

            }else if( phone  && phone.length && Number(phone) && phone.length != 10 ){
                setError("#txtPhoneUpdate", "Số điện thoại phải 10  số")
            
            }else if( numberAuthPaper && numberAuthPaper.length && !Number(numberAuthPaper) ){
                setSuccess("#txtPhoneUpdate");
                setError("#txtNumberAuthPaperUpdate", "Số giấy xác thực phải là số")
            
            }else if( birthDay && old == 2 ){
                setSuccess("#txtNumberAuthPaper");
                toastr.warning("Ngày sinh không được phép lớn hơn ngày hiện tại", "Thông báo")

            }else if( resultOfSubtractDateBirthDay && resultOfSubtractDateBirthDay > 0 && resultOfSubtractDateBirthDay < 18 ){
                setError("#txtBirthDayUpdate", "Độ tuổi chưa đủ khả năng chịu trách nhiệm pháp lý");
                toastr.warning("Độ tuổi chưa đủ khả năng chịu trách nhiệm pháp lý", "Thông báo");

            }else if( resultOfSubtractDateIssuedOnVSBirthDay && resultOfSubtractDateIssuedOnVSBirthDay == 2){
                setError("#txtBirthDayUpdate", "Ngày cấp không được phép nhỏ hơn ngày sinh");
                setError("#txtIssuedOnUpdate", "Ngày cấp không được phép nhỏ hơn ngày sinh");
                toastr.warning("Ngày cấp không được phép nhỏ hơn ngày sinh", "Thông báo");

            }else if( resultOfSubtractDateIssuedOnVsDateNow && resultOfSubtractDateIssuedOnVsDateNow == 2){
                setError("#txtIssuedOnUpdate", "Ngày cấp không được phép lớn hơn ngày hiện tại");
                toastr.warning("Ngày cấp không được phép lớn hơn ngày hiện tại", "Thông báo");
            
            }else if( name && phone && numberAuthPaper && issuedOn && issuedBy && imgCustomer.length > 0 && imgAuthPaper.length > 0 ){
                setSuccess("#txtNumberAuthPaperUpdate");
                let formData = new FormData();

                formData.append('name',   name);
                formData.append('gender', gender);
                formData.append('birthday', birthDay);
                formData.append('phone', phone);
                formData.append('job', job);
                formData.append('address', address);
                formData.append('ward', ward);
                formData.append('district', district);
                formData.append('city', city);
                formData.append('auth_paper', authPaper);
                formData.append('number_auth_paper', numberAuthPaper);
                formData.append('issued_on', issuedOn);
                formData.append('issued_by', issuedBy);
                formData.append('note', note);
                formData.append('status', active);

                for (let  i = 0; i < imgCustomerUpdate.length; i++){
                    formData.append('image_customer', imgCustomerUpdate[i]);
                }

                for (let  i = 0; i < imgCustomerOldDelete.length; i++){
                    formData.append('image_customer_old', imgCustomerOldDelete[i]);
                }

                for (let  i = 0; i < imgAuthPaperUpdate.length; i++){
                    formData.append('image_auth_paper', imgAuthPaperUpdate[i]);
                }

                for (let  i = 0; i < imgAuthPaperOldDelete.length; i++){
                    formData.append('image_auth_paper_old', imgAuthPaperOldDelete[i]);
                }

                $.ajax({
                    url: `/customer/update/${customerID}`,
                    method: "POST",
                    enctype: 'multipart/form-data',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: resp => {
                        console.log({ resp });
                        if( resp.infoAccountCustomer.error == false && resp.infoAccountCustomer.data ){
                            toastr.success("Bạn đã chỉnh sửa thành công", "Thông báo");

                            setTimeout( function() {
                                window.location.href = "<%= CF_ROUTINGS_CUSTOMER.LIST_CUSTOMER %>"
                            }, 1000);
                            
                            $(".model-update-customer").modal("hide"); 
                        }else{
                            console.log({ resp });
                        }
                    }
                });
            }
        });

        $(document).on("click", ".btnFilter", function(e){
            e.preventDefault();
            // let txtNameFilter     = $("#txtNameFilter").val();
            // let txtGenderFilter   = $("#txtGenderFilter").val();
            // let txtDistrictFilter = $("#txtDistrictFilter").val();
            // let txtCityFilter     = $("#txtCityFilter").val();
            // let txtWardFilter     = $("#txtWardFilter").val();
            // let txtAuthPaperFilter= $("#txtAuthPaperFilter").val();
            buildAndGoURI();
            // $.ajax({
            //     url: `/agency/customer/filter?key=${txtNameFilter}`,
            //     method: "POST",
            //     data: {
            //         gender:     txtGenderFilter,
            //         city:       txtCityFilter,
            //         district:   txtDistrictFilter,
            //         ward:       txtWardFilter,
            //         auth_paper: txtAuthPaperFilter,
            //     },
            //     success: resp => {
            //         if ( resp.listCustomer.error == false && resp.listCustomer.data ){
            //             $("tbody").empty();
            //             resp.listCustomer.data.forEach( (customer, index) => {
            //                 setDataToList({
            //                     addCustomer: true, 
            //                     rowCount:          Number(index) + 1,
            //                     customerID:        customer._id, 
            //                     name:              customer.name, 
            //                     gender:            customer.gender, 
            //                     phone:             customer.phone, 
            //                     number_auth_paper: customer.number_auth_paper, 
            //                     address:           customer.address, 
            //                     ward:              customer.ward, 
            //                     district:          customer.district, 
            //                     city:              customer.city, 
            //                     status:            customer.status,
            //                 })
            //             });
            //         }else{
            //             console.log({ resp });
            //         }
            //     }
            // })
        })

        $(document).on("click", ".btnBack", function(e){
            e.preventDefault();
            window.location.href = "/agency/customers";
            // $.ajax({
            //     url: `/agency/customers/list`,
            //     method: "GET",
            //     success: resp => {
            //         if ( resp.listCustomer.error == false && resp.listCustomer.data ){
            //             $("tbody").empty();
            //             resp.listCustomer.data.forEach( (customer, index) => {
            //                 setDataToList({
            //                     addCustomer: true, 
            //                     rowCount:          Number(index) + 1,
            //                     customerID:        customer._id, 
            //                     name:              customer.name, 
            //                     gender:            customer.gender, 
            //                     phone:             customer.phone, 
            //                     number_auth_paper: customer.number_auth_paper, 
            //                     address:           customer.address, 
            //                     ward:              customer.ward, 
            //                     district:          customer.district, 
            //                     city:              customer.city, 
            //                     status:            customer.status,
            //                 })
            //             });
            //         }else{
            //             console.log({ resp });
            //         }
            //     }
            // })
        })
    })

</script>