<script>
    $(document).ready(function() {
        $(function(){
            $('#datatableListTransaction2').DataTable({
                "aaSorting": [],
                // "scrollY": "1000px",
                // "scrollX": true,
                // "scrollCollapse": true,
                // // "paging": false,
                'iDisplayLength': 10,
                "bPaginate": true, 
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '100%' },
                ],
				...languageDataTable
            });
        });

        $(".typeTransaction").select2();
        $(".typeStatusTransaction").select2();
        let type = '<%= type %>';

        let getFormSearchAndFilter = () => {
            // let key = $('#txtSearch').val();
            let typeTransaction          = $(".typeTransaction").val();
            let typeStatusTransaction    = $(".typeStatusTransaction").val();
            let fromDay                  = $("#txtFromDay").val();
            let toDay                    = $("#txtToDay").val();
            // let amountItemShow = $('#select_datatable_length').val();
            return { typeTransaction, typeStatusTransaction, fromDay, toDay };
        }
        // console.log(Date(2021-02-05));
        let  buildAndGoURI = function(){
            let { typeTransaction, typeStatusTransaction, fromDay, toDay } = getFormSearchAndFilter();
            // if ( ! typeTransaction && !typeStatusTransaction && !fromDay && !toDay ){
            //     return toastr.error("Bạn phải chọn ít nhất 1 thông tin để tìm kiếm", "Thông báo");
            // }
            let uri = `/transaction/list-maturity-transaction?type=${type}`;
            if(typeTransaction)         uri += `&typeTransaction=${typeTransaction}`;
            if(typeStatusTransaction)   uri += `&typeStatusTransaction=${typeStatusTransaction}`;
            if(fromDay)                 uri += `&fromDay=${fromDay}`;
            if(toDay)                   uri += `&toDay=${toDay}`;
            
            return window.location.href = uri;
        }

        $(document).on("click", ".btnFilter", function(e){
            e.preventDefault();
            buildAndGoURI();
        })
    })
</script>