<script>
    $(document).ready(function(){
        console.log("aaaaaa");
        // moment.locale("vi");
        const TYPE_NORMAL   = 2;
        const TYPE_BORROW   = 3;
        const TYPE_PAY_BACK = 4;

        $(function(){
            $('#datatableListTransaction').DataTable({
                "scrollY": "1000px",
                "scrollX": true,
                "scrollCollapse": true,
                // "paging": false,
                'iDisplayLength': 10,
                "aaSorting": [],
				...languageDataTable
                // "columnDefs": [
                //     { "width": "20px%", "targets": 0 },
                //     { "width": "30px%", "targets": 1 },
                // ],
            });
        });

        /*
        *  ================= SET DATA VỚI GIAO DỊCH TRẢ LÃI TRỄ =================
        */
        function setDataInfoTrans({ 
            status, customerCode, name, phone, gender, transactionCode, priceMuchPayInterest, transactionDate, 
            approvalLimit, cycleInterest, title, expireTimeLate, statusFinancial 
        }){
            /*
             * ================= BEGIN ẨN GIAO DỊCH VAY THÊM =================
             */
            $('.priceBorrow').hide();
            $('.totalPriceBorrow').hide();
            /*
             * ================= END ẨN GIAO DỊCH VAY THÊM =================
             */
            /*
             * ================= BEGIN ẨN GIAO DỊCH TRẢ BỚT =================
             */
            $('.pricePayBack').hide();
            $('.totalPricePayBack').hide();
            /*
             * ================= END ẨN GIAO DỊCH TRẢ BỚT =================
             */
            
            $(".txtCustomerCodeTrans").text(customerCode);
            $(".txtCustomerNameTrans").text(name);
            $(".txtCustomerPhoneTrans").text(phone);
            $(".txtCodeTrans").text(transactionCode);
            $(".txtNameTrans").text(title);
            $(".txtLoanAmountTrans").text(formatter.format(priceMuchPayInterest));
            $(".titlePricePay").text('Số tiền trả lãi');
           
            if (expireTimeLate) {
                $('.expireTimeLate').show();
                $('.txtExpireTimeLate').text(moment(expireTimeLate).format('L'));
            } else {
                $('.expireTimeLate').hide();
            }

            if (cycleInterest) {
                $(".txtCycleInterest").text(cycleInterest);
                $(".cycleInterest").show();
            }
            
            $(".txtApprovalLimitTrans").text(formatter.format(approvalLimit));
            // console.log( moment(transactionDate).locale('vi').format('LLL')  );
            $(".txtTransactionDate").text( moment(transactionDate).format('L') + " lúc " +  moment(transactionDate).format('LT') );
            if( gender == 0){
                $(".txtCustomerGenderTrans").text("Nữ");
            }else{
                $(".txtCustomerGenderTrans").text("Nam");
            }

            const FINANCIAL_MONEY = 1;
            statusFinancial == FINANCIAL_MONEY ? $('.txtStatusFinancial').text("Quỹ tiền mặt") : $('.txtStatusFinancial').text("Quỹ ngân hàng")

            $("#txtNoteNotApproved").remove();
            $(".txtNoteNotApprove").remove();
            // console.log({ status });
            if ( status == 2 ){
                // console.log("aaasdas");
                $(".popupCheckStatusTransaction").append(`
                    <p class="text-left col-xl-12 txtNoteNotApprove"> <b> Ghi chú không duyệt: </b> </p>
                    <textarea class="form-control" name="" id="txtNoteNotApproved" cols="30" rows="10"></textarea>
                `);
            }
        };

        function typeNormal(status, data, inject) {
            if ( status == 1 ){ 
                $(".modal-title").text("Xác nhận duyệt");
                $('.textStatusFinancial').show();
                $('.checkStatusFinancial').show();
            }else{
                $(".modal-title").text("Xác nhận không duyệt");
                $('.textStatusFinancial').hide();
                $('.checkStatusFinancial').hide();
            }
            console.log({
                data
            });
            setDataInfoTrans({
                customerCode:    data.customer.code,
                name:            data.customer.name,
                phone:           data.customer.phone,
                gender:          data.customer.gender,
                transactionCode: data.code,
                title:           inject.title,
                priceMuchPayInterest: inject.meta.priceMuchPayInterest,
                cycleInterest:        inject.meta.cycleInterest,
                transactionDate: inject.createAt,
                approvalLimit:   data.approvalLimit,
                expireTimeLate:  inject.meta && inject.meta.expireTimeLate,
                status,
                statusFinancial: inject.meta && inject.meta.statusFinancial,
            });
        }

        /*
        *  ================= SET DATA VỚI GIAO DỊCH VAY THÊM =================
        */
        function setDataBorrow({ 
            status, customerCode, name, phone, gender, transactionCode, priceMuchPayInterest, transactionDate, 
            title, amountWantBorrowMore, totalAmountWantBorrowMore, statusFinancial
        }){
            /*
             * ================= BEGIN ẨN GIAO DỊCH BÌNH THƯỜNG =================
             */
            $('.cycleInterest').hide();
            $('.expireTimeLate').hide();

            /*
             * ================= END ẨN GIAO DỊCH BÌNH THƯỜNG =================
             */
             /*
             * ================= BEGIN ẨN GIAO DỊCH TRẢ BỚT =================
             */
            $('.pricePayBack').hide();
            $('.totalPricePayBack').hide();
            /*
             * ================= END ẨN GIAO DỊCH TRẢ BỚT =================
             */
            $(".txtCustomerCodeTrans").text(customerCode);
            $(".txtCustomerNameTrans").text(name);
            $(".txtCustomerPhoneTrans").text(phone);
            if( gender == 0){
                $(".txtCustomerGenderTrans").text("Nữ");
            }else{
                $(".txtCustomerGenderTrans").text("Nam");
            }
            $(".txtCodeTrans").text(transactionCode);
            $(".txtNameTrans").text(title);
            $(".txtLoanAmountTrans").text(formatter.format(priceMuchPayInterest));
            $(".titlePricePay").text('Số tiền trả lãi');
           
            /*
            *  ================= SỐ TIỀN MUỐN VAY =================
            */
            $(".txtPriceBorrow").text(formatter.format(amountWantBorrowMore));
            /*
            *  ================= TỔNG TIỀN TRẢ =================
            */
            $(".txtTotalPriceBorrow").text(formatter.format(totalAmountWantBorrowMore));
            $('.priceBorrow').show();
            $('.totalPriceBorrow').show();

            // console.log( moment(transactionDate).locale('vi').format('LLL')  );
            $(".txtTransactionDate").text( moment(transactionDate).format('L') + " lúc " +  moment(transactionDate).format('LT') );

            const FINANCIAL_MONEY = 1;
            statusFinancial == FINANCIAL_MONEY ? $('.txtStatusFinancial').text("Quỹ tiền mặt") : $('.txtStatusFinancial').text("Quỹ ngân hàng")

            $("#txtNoteNotApproved").remove();
            $(".txtNoteNotApprove").remove();
            // console.log({ status });
            if ( status == 2 ){
                // console.log("aaasdas");
                $(".popupCheckStatusTransaction").append(`
                    <p class="text-left col-xl-12 txtNoteNotApprove"> <b> Ghi chú không duyệt: </b> </p>
                    <textarea class="form-control" name="" id="txtNoteNotApproved" cols="30" rows="10"></textarea>
                `);
            }
        };

        function typeBorrow(status, data, inject) {
            if ( status == 1 ){ 
                $(".modal-title").text("Xác nhận duyệt");
                $('.textStatusFinancial').show();
                $('.checkStatusFinancial').show();
            }else{
                $(".modal-title").text("Xác nhận không duyệt");
                $('.textStatusFinancial').hide();
                $('.checkStatusFinancial').hide();
            }

            setDataBorrow({
                customerCode:    data.customer.code,
                name:            data.customer.name,
                phone:           data.customer.phone,
                gender:          data.customer.gender,
                transactionCode: data.code,
                transactionDate: inject.createAt,
                title:                     inject.title,
                priceMuchPayInterest:      inject.meta.priceMuchPayInterest,
                amountWantBorrowMore:      inject.meta.amountWantBorrowMore,
                totalAmountWantBorrowMore: inject.meta.totalAmountWantBorrowMore,
                status,
                statusFinancial: inject.meta && inject.meta.statusFinancial,
            });
        }

        /*
        *  ================= SET DATA VỚI GIAO DỊCH TRẢ BỚT =================
        */
        function setDataPayBack({ 
            status, customerCode, name, phone, gender, transactionCode, priceMuchPayInterest, transactionDate, 
            title, amountWantPayback, totalAmountWantPayBack, statusFinancial
        }){
            console.log({
                transactionDate
            });
            /*
             * ================= BEGIN ẨN GIAO DỊCH BÌNH THƯỜNG =================
             */
            $('.cycleInterest').hide();
            $('.expireTimeLate').hide();

            /*
             * ================= END ẨN GIAO DỊCH BÌNH THƯỜNG =================
             */
             /*
             * ================= BEGIN ẨN GIAO DỊCH VAY THÊM =================
             */
            $('.priceBorrow').hide();
            $('.totalPriceBorrow').hide();
            /*
             * ================= END ẨN GIAO DỊCH VAY THÊM =================
             */
            $(".txtCustomerCodeTrans").text(customerCode);
            $(".txtCustomerNameTrans").text(name);
            $(".txtCustomerPhoneTrans").text(phone);
            if( gender == 0){
                $(".txtCustomerGenderTrans").text("Nữ");
            }else{
                $(".txtCustomerGenderTrans").text("Nam");
            }
            $(".txtCodeTrans").text(transactionCode);
            $(".txtNameTrans").text(title);
            $(".txtLoanAmountTrans").text(formatter.format(priceMuchPayInterest));
            $(".titlePricePay").text('Số tiền trả lãi');
           
            /*
            *  ================= SỐ TIỀN MUỐN TRẢ BỚT =================
            */
            $(".txtPricePayBack").text(formatter.format(amountWantPayback));
            /*
            *  ================= TỔNG TIỀN TRẢ =================
            */
            $(".txtTotalPricePayBack").text(formatter.format(totalAmountWantPayBack));
            $('.pricePayBack').show();
            $('.totalPricePayBack').show();

            // console.log( moment(transactionDate).locale('vi').format('LLL')  );
            $(".txtTransactionDate").text( moment(transactionDate).format('L') + " lúc " +  moment(transactionDate).format('LT') );

            const FINANCIAL_MONEY = 1;
            statusFinancial == FINANCIAL_MONEY ? $('.txtStatusFinancial').text("Quỹ tiền mặt") : $('.txtStatusFinancial').text("Quỹ ngân hàng")

            $("#txtNoteNotApproved").remove();
            $(".txtNoteNotApprove").remove();
            // console.log({ status });
            if ( status == 2 ){
                // console.log("aaasdas");
                $(".popupCheckStatusTransaction").append(`
                    <p class="text-left col-xl-12 txtNoteNotApprove"> <b> Ghi chú không duyệt: </b> </p>
                    <textarea class="form-control" name="" id="txtNoteNotApproved" cols="30" rows="10"></textarea>
                `);
            }
        };

        function typePayBack(status, data, inject) {
            if ( status == 1 ){ 
                $(".modal-title").text("Xác nhận duyệt");
                $('.textStatusFinancial').show();
                $('.checkStatusFinancial').show();
            }else{
                $(".modal-title").text("Xác nhận không duyệt");
                $('.textStatusFinancial').hide();
                $('.checkStatusFinancial').hide();
            }

            setDataPayBack({
                customerCode:    data.customer.code,
                name:            data.customer.name,
                phone:           data.customer.phone,
                gender:          data.customer.gender,
                transactionCode: data.code,
                transactionDate: inject.createAt,
                title:                     inject.title,
                priceMuchPayInterest:      inject.meta.priceMuchPayInterest,
                amountWantPayback:         inject.meta.amountWantPayback,
                totalAmountWantPayBack:    inject.meta.totalAmountWantPayBack,
                status,
                statusFinancial: inject.meta && inject.meta.statusFinancial,
            });
        }

        var currentradio = $("input[name='name']")[0];
        let statusChange = 0;
        let nameRadio;
        $(document).on("change", ".status", function() {
            let status         = $(this).val();
            let transactionID  = $(this).attr("_transID");
            nameRadio          = this.name;

            $(".model-change-status-transaction").modal("show");
            
            $.ajax({
                url:   `/transaction/get-info-normal-check/${transactionID}`,
                method: "GET",
                success: resp => {
                    if (!resp.error){
                        console.log({ resp });
                        let data   = resp.data.infoTransaction;
                        let inject = resp.data.infoInjectTransaction;
                        
                        console.log({
                            type: inject.type
                        });
                        $('.btnConfirmUncheckTransaction').attr('_type', inject.type);
                        if (inject.type == TYPE_NORMAL) {
                            typeNormal(status, data, inject);
                        }

                        if (inject.type == TYPE_BORROW) {
                            typeBorrow(status, data, inject)
                        }

                        if (inject.type == TYPE_PAY_BACK) {
                            typePayBack(status, data, inject)
                        }
                        $("#statusFinancialMoney").attr("checked", true);
                        $(".btnConfirmUncheckTransaction").attr("_transID", transactionID);
                        $(".btnConfirmUncheckTransaction").attr("_injectTransID", resp.data.infoInjectTransaction._id);
                    }
                }
            })
        })

        $(document).on('hidden.bs.modal', '.model-change-status-transaction', function () {
            console.log({ statusChange });
            if ( statusChange == 1 ){
                currentradio = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = true;
            }
            if ( statusChange == 0 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio2 = $(`input[name='${nameRadio}']`)[0];
                currentradio.checked = false;
                currentradio2.checked = false;
            }
            if ( statusChange == 2 ){
                currentradio = $(`input[name='${nameRadio}']`)[1];
                currentradio.checked = true;
            }
        })

        function reloadChangeStatusSuccess(title, description) {
            $(".titleChangeSuccess").text(description);
            $("#modalNotifyCreateSuccess").modal("show");
            $(".transactionCreateSuccess").text(title);
            // khi người dùng bấm tắt popup hay thoát popup mới reload
            $('.btnCloseMyLargeModalLabel').on('click', function(){
                return location.reload();
            })
            $('.btn-block').on('click', function(){
                return location.reload();
            })
            $('#modalNotifyCreateSuccess').mouseup(function(){
                return location.reload();
            });
        }

        function ajaxCallInject(
            { status, statusFinancial, transactionID, injectTransID, txtNoteNotApproved, agency, userID, userName, url, type }
        ) {
            $.ajax({
                url: url,
                method: "POST",
                data: { status, noteNotApproved: txtNoteNotApproved, injectTransID, statusFinancial },
                success: resp => {
                    console.log({ resp });
                    if ( resp.data && resp.error == false ){
                        const STATUS_ACCEPT    = 1;
                        const STATUS_IN_ACCEPT = 2;
                        if (status == STATUS_ACCEPT) {
                            reloadChangeStatusSuccess("Duyệt giao dịch", "duyệt");
                        } else {
                            reloadChangeStatusSuccess("Không duyệt giao dịch", "không duyệt");
                            
                        }
                        $(".model-change-status-transaction").modal("hide");
                        enableAndStopLoading(this);
                        if ( agency && userID ){
                            // console.log("aaaaaaaa");
                            // socket.emit('CSS_CONFIRM_TRANSACTION_REQUEST', { agencyID: agency, userID, userName, type: 3, transactionID });
                        }
                        statusChange = 2;
                    }else{
                        // console.log({ resp });
                        if ( resp.message == "cannot_change_status_transaction" ){
                            toastr.error("Bạn không được phép thay đổi trạng thái thêm lần nữa",  "Thông báo");
                            statusChange = 1;
                            $(".model-change-status-transaction").modal("hide");
                            setTimeout( function(){
                                window.location.reload();
                            }, 700);
                        }
                        if ( resp.message == "funds_not_enough"){
                            toastr.error("Quỹ của bạn không đủ, Mời bạn nhập quỹ để duyệt giao dịch", "Thông báo"); 
                        }
                    }
                }
            }).done(() => enableAndStopLoading(this))
        }
        
        $(document).on("click", ".btnConfirmUncheckTransaction", function() {
            let type               = $(this).attr('_type');
            let status             = $(".status:checked").val();
            let statusFinancial    = $(".statusFinancial:checked").val();
            let transactionID      = $(this).attr("_transID");
            let injectTransID      = $(this).attr("_injectTransID");
            let txtNoteNotApproved = $("#txtNoteNotApproved").val();
            let agency             = `<%= agency %>`;
            let userID             = `<%= userID %>`;
            let userName           = `<%= nameUser %>`;
            
            // if (status == 1 && !statusFinancial) {
            //     return toastr.warning("Bạn phải chọn loại quỹ trước khi xác nhận",  "Thông báo");
            // }

            disableAndLoading(this);
            let obj = {
                status, statusFinancial, transactionID, injectTransID, txtNoteNotApproved, agency, userID, userName
            }
            if (type == TYPE_NORMAL) {
                let url = `/transaction/update-inject-transaction-normal/${transactionID}`
                ajaxCallInject({ ...obj, url, type })
            }

            if (type == TYPE_BORROW) {
                let url = `/transaction/update-inject-transaction-borrow/${transactionID}`
                ajaxCallInject({ ...obj, url, type })
            }

            if (type == TYPE_PAY_BACK) {
                let url = `/transaction/update-inject-transaction-pay-back/${transactionID}`
                ajaxCallInject({ ...obj, url, type })
            }
            
        });
    })
</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>