<script>
    $(document).ready(function () {

        $(function(){
            $('#table-list-transaction, #table-list-transaction-24h').DataTable({
                'iDisplayLength': 10,
                // "scrollY": "1000px",
                // //"scrollX": true,
                // "scrollCollapse": true,
                "aaSorting": [],
                "bPaginate": true,  
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '5%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                ],
				...languageDataTable
            });
        });

        //Quận, huyện
        $('#txtCityFilter').on('change', function () {
            $("#txtDistrictFilter").empty();
            $("#txtWardFilter").empty();
            let value = $(this).val();
            let districtReturn = `<%=district%>`;
            $("#txtDistrictFilter").append(`<option value="">Chọn Quận/Huyện</option>`);
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = ``;
                    listDistrict.forEach(district => {
                        if(districtReturn && districtReturn.toString() == district[1].code){
                            dataAppend += `<option selected value="${district[1].code}">${district[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtDistrictFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        //Xã, phường
        $('#txtDistrictFilter').on('change', function () {
            $("#txtWardFilter").empty();
            let value = $(this).val();
            let districtReturn = `<%=district%>`;
            let wardReturn = `<%=ward%>`;
            value = value ? value : districtReturn;
            $("#txtWardFilter").append(`<option value="">Chọn Xã/Phường</option>`);
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = ``;
                    listWard.forEach(ward => {
                        if(wardReturn && wardReturn.toString() == ward[1].code.toString()){
                            dataAppend += `<option selected value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtWardFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        $('#select-agency').on('change', function (e) {
            let agencyID = $(this).val();
            location.href = `/transaction/list-transaction-in-day?agencyID=${agencyID}`
        });

        $('.address').on('change', function (e) {
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            $.ajax({
                url: `/agency/list-agency-by-address?city=${city}&district=${district}&ward=${ward}`,
                method: 'get',
                success: resp => {
                    let listAgency = resp.data;
                    if (!resp.error){
                        let dataAppend = `<option value="">Tất cả</option>`;
                        if(listAgency && listAgency.length){
                            listAgency.forEach(agency => {
                                dataAppend+=`<option value="${agency._id}">${agency.name}</option>`
                            })
                        }else{
                            dataAppend+=`<option value="null">Không có Đại lý nào</option>`
                        }
                       
                        $("#txtAgency").empty();
                        $("#txtAgency").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });

        });
    
        $('.btnSearch').on('click', function (e) {
            let agencyID = $('#txtAgency').val();
            let type = $("#typeProductCategory").val();
            let start = $("#txtStartDate").val();
            let end = $("#txtEndDate").val();
            let name = $("#txtKey").val();
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            let sort = $("#filter-other").val();

            let urlHref = `/transactions?search=true`

            if(agencyID){
                urlHref+=`&agencyID=${agencyID}`;
            }

            if(name){
                urlHref+=`&name=${name}`;
            }

            if(type){
                urlHref+=`&type=${type}`;
            }

            if(start && !end){
                return toastr.warning(`Vui lòng nhập ngày kết thúc`, "THÔNG BÁO");
            }
            if(!start && end){
                return toastr.warning(`Vui lòng nhập ngày bắt đầu`, "THÔNG BÁO");
            }

            if(start && end){
                urlHref+=`&start=${start}&end=${end}`;
            }

            if(city){
                urlHref+=`&city=${city}`;
            }

            if(district){
                urlHref+=`&district=${district}`;
            }

            if(ward){
                urlHref+=`&ward=${ward}`;
            }

            if(sort){
                urlHref+=`&sort=${sort}`;
            }

            if(!agencyID && !type && !start && !end && !city && !district && !ward && !sort){
                //return toastr.warning(`Vui lòng chọn các trường cần tìm kiếm`, "THÔNG BÁO");
                urlHref = '/transactions';
            }

            location.href = urlHref
        });
        
        $("#select-agency").select2({
            width: '100%'
        });
        $("#txtAgency").select2({
            width: '100%'
        });
        $("#typeProductCategory").select2({
            width: '100%'
        });

        $("#txtCityFilter").select2({
            width: '100%'
        });
        $("#txtDistrictFilter").select2({
            width: '100%'
        });
        $("#txtWardFilter").select2({
            width: '100%'
        });
        $("#filter-other").select2({
            width: '100%'
        });

        function getDataFormFilter() {
            let agencyID = $('#txtAgency').val();
            let type = $("#typeProductCategory").val();
            let start = $("#txtStartDate").val();
            let end = $("#txtEndDate").val();
            let name = $("#txtKey").val();
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            let sort = $("#filter-other").val();

            return  {
                agencyID, type, start, end, name, city, district, ward, sort
            }
        }

        function buildUri(data) {
            let {
                agencyID, type, start, end, name, city, district, ward, sort
            } = data;
            let urlHref = `<%= CF_ROUTINGS_TRANSACTION.EXPORT_EXCEL_TRANSACTION %>?search=true`

            if(agencyID){
                urlHref+=`&agencyID=${agencyID}`;
            }

            if(name){
                urlHref+=`&name=${name}`;
            }

            if(type){
                urlHref+=`&type=${type}`;
            }

            if(start){
                urlHref+=`&start=${start}`;
            }
            if (end) {
                urlHref+=`&end=${end}`;
            }

            if(city){
                urlHref+=`&city=${city}`;
            }

            if(district){
                urlHref+=`&district=${district}`;
            }

            if(ward){
                urlHref+=`&ward=${ward}`;
            }

            if(sort){
                urlHref+=`&sort=${sort}`;
            }

            return urlHref
        }
        
        $(document).on('click', '.downloadExcel', function() {
            let data = getDataFormFilter();
            let uri  = buildUri(data);

            window.location.href = uri;
            // $.ajax({
            //     url: uri,
            //     method: 'GET',
            //     success: resp => {
            //         console.log({
            //             resp
            //         });
            //         var fileName = xhr.getResponseHeader('Content-Disposition').split("=")[1]
            //         console.log(fileName)
            //         var a = document.createElement('a');
            //                 var url = window.URL.createObjectURL(response);
            //                 a.href = url;
            //                 a.download = fileName;
            //                 a.click();
            //                 window.URL.revokeObjectURL(url);
            //     }
            // })
        })

    })
</script>