<script>
    $(document).ready(function() {
        function createCardProduct(){
            return new Promise( resolve => {
                $.ajax({
                    url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_PRODUCT_CATEGORY %>`,
                    method: "GET",
                    success: resp => {
                        return resolve(resp);
                    }
                })
            })
        }

        $(document).on("click", ".btnCreateProduct", async function(e){
            e.preventDefault();
            disableAndLoading(this);
            let rowCount = $('.parentRow .createProductCard').length + 1;
            if ( !rowCount ){
                rowCount = 1
            }

            if ( rowCount ){
                for( let i = 1; i < rowCount; i++ ){
                    let name  = $(`#txtProductNameAdd${i}`).val();
                    let price = $(`#txtProductPriceAdd${i}`).val();
                    let type  = $(`#txtProductCategoryAdd${i}`).val();
                    enableAndStopLoading2(this);
                    if ( !type ){
                        return setError2(`#txtProductCategoryAdd${i}`, "Danh mục không được phép rỗng");    
                    }else{
                        setSuccess2(`#txtProductCategoryAdd${i}`);
                    }
                    if ( !name ){
                        return setError2(`#txtProductNameAdd${i}`, "Tên sản phẩm được phép rỗng");                   
                    }else{
                        setSuccess2(`#txtProductNameAdd${i}`);
                    }

                    if ( !price ){
                        return setError2(`#txtProductPriceAdd${i}`, "Giá sản phẩm không được phép rỗng");
                    }else{
                        setSuccess2(`#txtProductPriceAdd${i}`);
                    }
                }
            }

            $(".parentRow").append(`
                <div class="col-xl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 createProductCard img-wraps">
                    <span class="close deleteCard" _index="${rowCount}" _imageID="" _type="imgCustomerUpdate" >&times;</span>
                    <div class="card ">
                        <div class="card-body">
                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-database3 color-icon"></span> Sản phẩm </h3>
                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Những thông tin có dấu (*) là thông tin bắt buộc</p>
                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Bạn phải nhập đầy đủ thông tin mới được phép tạo thêm sản phẩm</p>
                            
                            </br>
                            <div class="row gutters cardProduct" style="
                                margin-top: 15px;
                            ">
                                <div class="form-group col-xl-6 categoryPricingProductAppend">
                                    <h6>Danh mục (*)</h6> 
                                    <select class="form-control txtProductCategoryAdd" id="txtProductCategoryAdd${rowCount}">
                                        <option value="">Chọn danh mục</option>
                                    </select>
                                    
                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                </div>
                                <div class="form-group col-xl-6">
                                    <h6>Tên sản phẩm (*)</h6> 
                                    <input type="text" class="form-control txtProductNameAdd" placeholder="VD: Nhẫn Kim Cương"   id="txtProductNameAdd${rowCount}" >
                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                </div>
                                <div class="form-group col-xl-6">
                                    <h6>Giá sản phẩm (*)</h6> 
                                    <input type="text" class="form-control txtProductPriceAdd" placeholder="VD: 2,000,000" id="txtProductPriceAdd${rowCount}" >
                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                </div>
                                <div class="form-group col-xl-6">
                                    <h6>Ghi chú</h6> 
                                    <input type="text" class="form-control txtNotePriceAdd" placeholder="VD: Sản phẩm còn được bảo hành" id="txtNotePriceAdd${rowCount}" >
                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                </div>
                                <div class="form-group col-xl-6">
                                    <button class="btn btn-primary  btnPricingProduct" _index="${rowCount}">Định giá sản phẩm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `);

            let resp = await createCardProduct();
            
            let proCateAppend = ``;
            if( resp && resp.length ){
                let id ;
                if ( rowCount > 1 ){
                    let category  = $(`#txtProductCategoryAdd1`).val();
                    resp.forEach( cate => {
                        if ( cate._id == category )
                            proCateAppend += `<option value='${cate._id}' selected>${cate.name}</option>` 
                        else
                            proCateAppend +=`<option value='${cate._id}'>${cate.name}</option>` 
                    });
                }else{
                    resp.forEach( cate => {
                        proCateAppend +=  `<option value='${cate._id}'>${cate.name}</option>` 
                    });
                       
                }
                enableAndStopLoading2(this);
            }
            $(`#txtProductCategoryAdd${rowCount}`).select2();
            $(`#txtProductCategoryAdd${rowCount}`).append(proCateAppend);
            /*
                Lưu ý (*)
            */
            $(".select2-selection__rendered").css("font-size", "16px");
            // $(`#txtProductCategoryAdd${rowCount}`).select2().trigger("change");
            // console.log({proCateAppend});
        });
        
        let inputCategory;
        let inputPriceProduct;
        let inputNameProduct;
        let _index;
        $(document).on("click", ".btnPricingProduct", function(e){
            e.preventDefault();
            _index                = $(this).attr("_index");
            let rowCount          = $('.parentRow .createProductCard').length;
            // console.log({ rowCount });
            inputCategory     = $(this).parents(".cardProduct").find(".txtProductCategoryAdd");
            inputPriceProduct = $(this).parents(".cardProduct").find(".txtProductPriceAdd");
            // valueOfInputPriceProduct  = $(this).parents(".cardProduct").find(".txtProductCategoryAdd").val();
            inputNameProduct  = $(this).parents(".cardProduct").find(".txtProductNameAdd");
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_PRODUCT_CATEGORY %>`,
                method: "GET",
                success: resp => {
                    // console.log({ resp });
                    if( resp && resp.length ){
                        $(".showPricingProduct").empty();
                        let proCateAppend = ``;
                        resp.forEach( (cate, index) => {
                            // console.log({ cate });
                           
                            proCateAppend = proCateAppend + `
                            <div class=" mb-0">
                                <div class="card-header" role="tab" id="headingFour">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" 
                                            aria-expanded="false" 
                                            aria-controls="collapseFour" 
                                            class="nav-link collapsed chooseCategory" 
                                            href="#" 
                                            _cateID="${cate._id}" 
                                            _index="${index + 1}"
                                            _price="${cate.priceAgency || 0}"
                                            _name="${cate.name}"
                                            _type="${cate.type}"
                                            _textFieldType="${cate.textField && cate.textField.type || 0}"
                                            _percentValue="${cate.percentValue && cate.percentValue || 0}"
                                            _specialCategory="${cate.specialCategory && cate.specialCategory || 0}"
                                        >
                                            ${cate.name}
                                        </a>
                                    </h5>
                                </div>
                            </div>` 
                        });

                        $(".showPricingProduct").append(proCateAppend);
                        $(".btnConfirmAddPricingProduct").attr("_index", rowCount)
                        $(".titlePopupChild").text("Chọn danh mục");
                        $(".model-pricing-product").modal("show");
                    }
                }
            })
        });

        let pricingProduct = 0;
        let namePricingProduct = '';
        let nameOld = '';
        let categoryParentID;
        let categoryChildID;
        let listChildExist = true;
        let chossen;
        let arrPricingProductToBack = [];
        let lastCategoryChild;
        let parentOfListLastChildCategory;
        // Class ở Danh mục cuối vừa chọn;
        let classLastChild;
        // ID Danh mục được chọn
        let categoryChild;
        // let arrListChildCategory = [];
        $(document).on("click", ".chooseCategory", function(e){
            e.preventDefault();
            let parentCategoryID        = $(this).attr("_cateID");
            let rowCount                = $('.parentRow .createProductCard').length;
            let txtProductCategoryAdd1  = $("#txtProductCategoryAdd1").val();
            // let rowCount = $('.parentRow .createProductCard').length + 1;
            let priceAgency          = $(this).attr("_price");
            let nameAgency           = $(this).attr("_name");
            let lastCategoryProduct  = $(this).attr("lastCategoryProduct");
            let type                 = $(this).attr("_type");
            let changeColor          = $(this).attr("_changeColor");
            let changeColorButton    = $(this).attr("_changeColorButton");

            /*
                CHECK FIELD: (textFieldType)
                    * 0: Có hóa đơn
                    * 1: Trọng lượng vàng
                    * 2: Số ly 
            */
            let textFieldType        = $(this).attr("_textFieldType");
            let specialCategory      = $(this).attr("_specialCategory");
            // $(".btnConfirmAddPricingProduct").attr("_specialCategory", specialCategory);
            /*
                Phần trăm lãi của từng danh mục
            */
            let percentValue        = $(this).attr("_percentValue");
            /*
                CHECK FIELD PARENT: (textFieldType) => text field của cha
                    * 0: Có hóa đơn
                    * 1: Trọng lượng vàng
                    * 2: Số ly 
            */

            // Set obj 
            let objPricingProduct = {
                nameOld: nameAgency,
                // priceAgency: priceAgency,
                parentCategoryID: parentCategoryID,
                percentValue
            }   
            if (priceAgency && priceAgency != 'undefined') {
                objPricingProduct = {
                    ...objPricingProduct, 
                    priceAgency: priceAgency,
                }
            } else {
                objPricingProduct = {
                    ...objPricingProduct, 
                    priceAgency: 0,
                }
            }
            // console.log({ objPricingProduct });
            let _typeFieldParentHaveBill = $(this).attr("_typeFieldParent");
                                     
            // Đổi màu khi chọn category last child với type == 0 (checkbox)
            if(type == 0) {
                if(!changeColor || changeColor == "false") {
                    $(this).parents("#headingFour").css("background-color", "#DF9024");
                    $(this).css("color",  "white");
                    $(this).attr("_changeColor", true);

                    $(this).attr("lastCategoryProduct", true);
                }else{
                    $(this).parents("#headingFour").css("background-color", "rgba(0,0,0,.03)");
                    $(this).css("color",  "#0c0c0c");
                    $(this).attr("_changeColor", false);
                    // (3)// Set lại danh mục hiện tại chưa chọn
                    $(this).attr("lastCategoryProduct", false);
                }
            }

            // Đổi màu khi chọn category last child với type == 1 (checkbox)
            if(type == 1) {
                /*
                    Tìm những class cđã chọn trước đó => đổi màu nó lại
                */
                let findClassChangeColorButton = $(".chooseCategory");
                for( let i = 0; i < findClassChangeColorButton.length; i++) {
                    $(findClassChangeColorButton[i]).attr("_changeColorButton", false);
                    $(findClassChangeColorButton[i]).parents("#headingFour").css("background-color", "rgba(0,0,0,.03)");
                    $(findClassChangeColorButton[i]).css("color",  "#0c0c0c");
                    // (3)// Set lại danh mục hiện tại chưa chọn
                    $(findClassChangeColorButton[i]).attr("lastCategoryProduct", false);
                }

                if(!changeColorButton || changeColorButton == "false") {
                    $(this).parents("#headingFour").css("background-color", "#DF9024");
                    $(this).css("color",  "white");
                    $(this).attr("_changeColorButton", true);

                    $(this).attr("lastCategoryProduct", true);
                }else{
                    $(this).parents("#headingFour").css("background-color", "rgba(0,0,0,.03)");
                    $(this).css("color",  "#0c0c0c");
                    $(this).attr("_changeColorButton", false);
                    // (3)// Set lại danh mục hiện tại chưa chọn
                    $(this).attr("lastCategoryProduct", false);
                }
            }

            /*
                TYPE = 2 (TEXTBOX) => Phải điền textbox trước khi chọn
            */
            if (type == 2) {
                let txtHaveBillAdd = $("#txtHaveBillAdd").val()
                if (!txtHaveBillAdd) {
                    return setError("#txtHaveBillAdd", "Bạn phải nhập số tiền trước khi chọn");
                }
                /*
                    PUSH GIÁ CÓ HÓA ĐƠN VÀO MẢNG
                */
                txtHaveBillAdd = replaceAll(txtHaveBillAdd, ",", "");
                objPricingProduct.have_bill = txtHaveBillAdd;
            }
            
            /*
                CHECK XEM FIELD TYPE = 0 (HÓA ĐƠN)
                 => INPUT tiền hóa đơn != => Không được click tiếp
            */
            if (_typeFieldParentHaveBill == 0) {
                let pricehaveBill = $("#txtHaveBillAdd").val();
                if (!pricehaveBill) {
                    let findClassChangeColorButton = $(".chooseCategory");
                    for( let i = 0; i < findClassChangeColorButton.length; i++) {
                        $(findClassChangeColorButton[i]).attr("_changeColorButton", false);
                        $(findClassChangeColorButton[i]).parents("#headingFour").css("background-color", "rgba(0,0,0,.03)");
                        $(findClassChangeColorButton[i]).css("color",  "#0c0c0c");
                        // (3)// Set lại danh mục hiện tại chưa chọn
                        $(findClassChangeColorButton[i]).attr("lastCategoryProduct", false);
                    }
                    return setError("#txtHaveBillAdd", "Bạn phải nhập số tiền của hóa đơn trước");
                }
            }

            // 1// Kiểm tra giá có tồn tại
            let TYPE_BUTTON   = 1;
            let TYPE_CHECKBOX = 0;
            // console.log({ arrPricingProductToBack });
            // CHECK price agency
                     
            // 1// Kiểm tra xem có phải là Danh mục sản phẩm cuối cùng
            if(!lastCategoryProduct || lastCategoryProduct == "false") {
                // 2// Kiểm tra xem có phải là danh mục với type là BUTTON và có tồn tại last category child
                // Set lại danh mục cha = rỗng
                if(type == TYPE_BUTTON && lastCategoryChild) {
                    // 3//
                    /*
                        Nếu chọn danh mục khác, và đã chọn 1 danh mục cuối cùng trước đó
                        1 // Xóa đi CategoryID trong mảng
                        2 // Set lại class lastCategoryProduct (classLastChild) chưa được chọn (false)
                    */
                    arrPricingProductToBack = arrPricingProductToBack.filter( categoryID => {
                        // (2*)
                        $(classLastChild).attr("lastCategoryProduct", false);
                        return categoryID.parentCategoryID != lastCategoryChild;
                    });
                }

                // 3// Push vào mảng 
                let checkPricingToBack = false;
                arrPricingProductToBack.forEach( pricingCheck => {
                    if (pricingCheck.parentCategoryID == objPricingProduct.parentCategoryID) {
                        checkPricingToBack = true;
                    }
                });
                /**
                 * NẾU ĐÃ TỒN TẠI THÌ KH PUSH NỮA
                 * */
                if (!checkPricingToBack) {
                    arrPricingProductToBack.push(objPricingProduct);
                }
            }else{
                // 1// Check xem TYPE_CHECKBOX và Đã được check trước đó
                if(type == TYPE_CHECKBOX) {
                    // 2// Xóa Danh mục đã chọn trước đó khỏi mảng;
                    arrPricingProductToBack = arrPricingProductToBack.filter( categoryID => {
                        return categoryID.parentCategoryID != parentCategoryID;
                    });
                }
            }
            // console.log({ arrPricingProductToBack });
            // Kiểm tra nếu tạo 2 card Product trở lên thì phải cùng danh mục
            if (rowCount > 1 && _index == 1) {
                let price = $(this).parents(".cardProduct").find(".txtProductPriceAdd").val();
                let name  = $(this).parents(".cardProduct").find(".txtProductNameAdd").val();
                // console.log({ price, name });
                // console.log("aaaaa");
                categoryParentID = parentCategoryID;

                // let categoryParentFirst = $("#txtProductCategoryAdd1").val();

                // Check if != CATEGORY ở card thứ 2 trở đi
                // if(categoryParentFirst != parentCategoryID) {
                //     return toastr.warning("Bạn phải chọn cùng danh mục" , "Thông báo")
                // }

                if ( name == namePricingProduct ){
                    $(this).parents(".cardProduct").find(".txtProductNameAdd").val("");
                }
                for( let i = 2; i <= rowCount; i++ ){
                    let priceIndex = $(`#txtProductPriceAdd${i}`).val();
                    $(`#txtProductNameAdd${i}`).parents(".createProductCard").remove();
                    
                    priceIndex     = replaceAll(priceIndex, ",", "");
                    totalPro       = totalPro - Number( priceIndex );
                    // totalPro2 = totalPro2 - Number( priceIndex );

                    if ( totalPro == 0 ){
                        $("#txtApprovalLimitAdd").val("");
                    }else{
                        $("#txtApprovalLimitAdd").val(formatter.format(totalPro));
                    }
                    let txtLoanAmountAdd = $("#txtLoanAmountAdd").val();
                    txtLoanAmountAdd     = replaceAll(txtLoanAmountAdd, ",", "");
                    if (txtLoanAmountAdd) {
                        if ( totalPro == 0 ){
                            return setError("#txtApprovalLimitAdd", "Bạn phải tạo sản phẩm để hiển thị hạn mức phê duyệt");
                        }else{
                            if ( Number(txtLoanAmountAdd) > totalPro ){
                                return setError("#txtLoanAmountAdd", "Số tiền vay không được phép lớn hạn mức phê duyệt");
                            }else{
                                setSuccess("#txtLoanAmountAdd");
                            }
                            setSuccess("#txtApprovalLimitAdd");
                        }
                    }else{
                        setSuccess("#txtLoanAmountAdd");
                    }
                }
            }
            
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT %>?parentCategoryID=${parentCategoryID}&type=API`,
                method: "GET",
                success: resp => {
                    if( resp ){
                        // console.log({ resp });
                        // console.log($(".showPricingProduct"));
                        if (resp.infoParent) { 
                            if ( !resp.infoParent.parent ){ // CHECK LÀ DANH MỤC CHA
                                // CHEK XEM CÓ CÙNG DANH MỤC ĐẦU TIÊN
                                if ( txtProductCategoryAdd1 != parentCategoryID && txtProductCategoryAdd1 && _index > 1 ){
                                    namePricingProduct = "";
                                    nameOld            = "";
                                    pricingProduct     = 0;
                                    
                                    arrPricingProductToBack = [];
                                    return toastr.error("Bạn phải chọn cùng danh mục", "Thông báo");
                                }else{
                                    categoryParentID = resp.infoParent._id;
                                  
                                    $(".btnConfirmAddPricingProduct").attr("_cateID", resp.infoParent._id);
                                    $(".btnConfirmAddPricingProduct").attr("_specialCategory", resp.infoParent.specialCategory);
                                }
                            }
                          
                            if ( resp.listChildsCategory.length ){
                                $(this).parents(".showPricingProduct").empty();
                                listChildExist    = true;
                                let proCateAppend = ``;
                                let data          = resp.listChildsCategory;

                                // Set giá trị lại nếu danh mục vẫn còn child
                                lastCategoryChild = null;
                                classLastChild    = null;
                                // Set ID danh mục cha để back
                                parentOfListLastChildCategory = resp.infoParent._id;
                                let textFieldType             = resp.infoParent.specialCategory || 0;
                                /*
                                    (HAVE_BILL)  CÓ HÓA ĐƠN
                                    (TYPE_GOLD)  TRỌNG LƯỢNG VÀNG
                                    (TYPE_GLASS) SỐ LY                               
                                */
                                const HAVE_BILL  = 0;
                                const TYPE_GOLD  = 1;
                                const TYPE_GLASS = 2;

                                const TYPE_TEXT_BOX  = 2;
                                const TYPE_BUTTON    = 1;
                                const TYPE_DROPDOWN  = 3;
                                const TYPE_NOT_BILL  = 5;

                                let inputTypeField = "";

                                $('.btn-back-category-modal').removeClass('d-none').attr({
                                    '_categoryID': resp.infoParent._id,
                                    '_parentCategoryID': resp.infoParent.parent
                                });
                                // Lấy category cha để back về
                                // parentOfListLastChildCategory = resp.infoParent.parent;

                                let checkType = ({ name, placeholder, nameID, validateP, categoryID, type, arrDropDown, nameInput }) => {
                                    let input = "";
                                    /*
                                        VỚI TYPE TRỌNG LƯỢNG VÀNG
                                    */
                                    if (type == TYPE_GOLD) {
                                        input = `
                                            <h5 class="mb-0 addTypeField">${name}</h5>
                                            </br>
                                            <input type="text" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                            ${validateP}
                                            <small>Error Message</small>
                                            </br>
                                        `;
                                        return input;
                                    }
                                    /*
                                        VỚI TYPE DROP DOWN
                                    */
                                    if (type == TYPE_DROPDOWN) {
                                        arrDropDown.forEach((category, index) => {
                                            // console.log({ category });
                                            input += `
                                                <option categoryID="${category._id}" value="${category.value}">${category.text}</option>
                                            `
                                        });
                                        input = `
                                            <h5 class="mb-0 addTypeField">${name}</h5>
                                            </br>
                                            <select class="form-control" _category="${categoryID}" id="${nameID}">
                                                <option value="">Chọn Loại</option>
                                                ${input}
                                            </select>
                                            </br>
                                            <small>Error Message</small>
                                        `;
                                        return input;
                                    }
                                    /*
                                        VỚI TYPE_TEXT_BOX
                                    */
                                    if (type == TYPE_TEXT_BOX && nameInput == "text_box") {
                                        input = `
                                            <h5 class="mb-0 addTypeField">${name}</h5>
                                            </br>
                                            <input type="text" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                            ${validateP}
                                            <small>Error Message</small>
                                            </br>
                                        `;
                                        return input;
                                    }
                                    /*
                                        VỚI TYPE SỐ LY
                                    */
                                    if (type == TYPE_GLASS && nameInput == "glass") {
                                        input = `
                                            <h5 class="mb-0 addTypeField">${name}</h5>
                                            </br>
                                            <input type="number" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                            ${validateP}
                                            <small>Error Message</small>
                                            </br>
                                        `;
                                        return input;
                                    }
                                }

                                data.forEach( (cate, index) => {
                                     /*
                                        LẤY TYPE DANH MỤC CON
                                    */
                                    let inputType = '';
                                    const TYPE_OF_CATEGORY = cate.textField && cate.textField.type || 0;
                                    const TYPE = cate.type;
                                    // const TYPE_OF_CATEGORY = cate.specialCategory;
                                    /*
                                        DANH MỤC CON = TYPE TRỌNG LƯỢNG VÀNG
                                    */
                                    if (TYPE_OF_CATEGORY == TYPE_GOLD) {
                                        let name       = "Trọng lượng (Chỉ)";
                                        let nameID     = "txtGoldWeightAdd";
                                        let validateP  = `
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số, Trọng lượng tính bằng Chỉ</p>
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn phải chọn danh mục trước để điền trọng lượng</p>
                                        `;
                                        let placeholder = cate.textField && cate.textField.text || "";
                                        inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_GOLD })

                                        proCateAppend += `
                                            <div class=" mb-0 ">
                                                <div class="card-header" role="tab" id="headingFour">
                                                    ${inputType}
                                                </div>
                                            </div>               
                                        `;
                                    /*
                                        DANH MỤC CON = TYPE GLASS
                                    */
                                    } else if (TYPE_OF_CATEGORY == TYPE_GLASS) {
                                        let name       = "Kích Thước";
                                        let nameID     = "txtGlassAdd";
                                        let validateP  = `
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số</p>
                                        `;
                                        let placeholder = cate.textField && cate.textField.text || "";
                                        inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_GLASS, nameInput: "glass" })

                                        proCateAppend += `
                                            <div class=" mb-0 ">
                                                <div class="card-header" role="tab" id="headingFour">
                                                    ${inputType}
                                                </div>
                                            </div>               
                                        `;
                                    /*
                                        DANH MỤC CON = TYPE DROPDOWN vs TYPE = TYPE_NOT_BILL (Không có hóa đơn)
                                    */
                                    // } else if (cate.dropDown && cate.dropDown.length && textFieldType == TYPE_NOT_BILL) {
                                    //     let name       = "Loại";
                                    //     let nameID     = "txtKindGoldAdd";
                                    //     let validateP  = ``;
                                    //     let placeholder = cate.textField && cate.textField.text || "";
                                    //     inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_DROPDOWN, arrDropDown: cate.dropDown });

                                    //     proCateAppend += `
                                    //         <div class=" mb-0 ">
                                    //             <div class="card-header" role="tab" id="headingFour">
                                    //                 ${inputType}
                                    //                 </br>
                                    //             </div>
                                    //         </div>               
                                    //     `;
                                    /*
                                        DANH MỤC CON = CÓ HÓA ĐƠN
                                    */
                                    } else if (TYPE == TYPE_DROPDOWN && cate.dropDown && cate.dropDown.length) {
                                        // console.log("da do day =========================");
                                        let name       = cate.name;
                                        let nameID     = "txtTypeOfHaveBillAdd";
                                        let validateP  = ``;
                                        let placeholder = cate.textField && cate.textField.text || "";
                                        inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_DROPDOWN, arrDropDown: cate.dropDown });

                                        proCateAppend += `
                                            <div class=" mb-0 ">
                                                <div class="card-header" role="tab" id="headingFour">
                                                    ${inputType}
                                                    </br>
                                                </div>
                                            </div>               
                                        `;
                                    /*
                                        DANH MỤC CON = CÓ HÓA ĐƠN
                                    */
                                    }else if (TYPE == TYPE_TEXT_BOX) {
                                        let name        = "Điền giá";
                                        let nameID      = "txtHaveBillAdd";
                                        let validateP   = `
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số</p>
                                        `;
                                        let placeholder = cate.textField && cate.textField.text || "";
                                        inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_TEXT_BOX, nameInput: "text_box" })

                                        proCateAppend += `
                                            <div class=" mb-0 ">
                                                <div class="card-header" role="tab" id="headingFour">
                                                    ${inputType}
                                                    <h5 class="mb-0 addTypeField">
                                                        <a 
                                                            class="nav-link collapsed chooseCategory" 
                                                            href="#" 
                                                            _cateID="${cate._id}" 
                                                            _price="${cate.priceAgency}"
                                                            _name="${cate.name}"
                                                            _index="${index + 1}"
                                                            _type="${cate.type}"
                                                            _textFieldType="${cate.textField && cate.textField.type || 0}"
                                                            _percentValue="${cate.percentValue || 0}"
                                                            _specialCategory="${cate.specialCategory || 0}"
                                                        >
                                                            ${cate.name}
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>               
                                        `;
                                    } else {
                                        proCateAppend = proCateAppend + `
                                            <div class=" mb-0 ">
                                                <div class="card-header" role="tab" id="headingFour">
                                                    <h5 class="mb-0 addTypeField">
                                                        <a 
                                                            class="nav-link collapsed chooseCategory" 
                                                            href="#" 
                                                            _cateID="${cate._id}" 
                                                            _price="${cate.priceAgency}"
                                                            _name="${cate.name}"
                                                            _index="${index + 1}"
                                                            _type="${cate.type}"
                                                            _textFieldType="${cate.textField && cate.textField.type || 0}"
                                                            _percentValue="${cate.percentValue || 0}"
                                                            _specialCategory="${cate.specialCategory || 0}"
                                                        >
                                                            ${cate.name}
                                                        </a>
                                                        ${inputType}
                                                    </h5>
                                                </div>
                                            </div>
                                        ` 
                                    }
                                });
                                $(".showPricingProduct").empty();
                                
                                $(".showPricingProduct").append(proCateAppend);
                                // $(".showPricingProduct").append(proCateAppend);
                                
                                $(".titlePopupChild").text("Chọn danh mục con");
                            }else{
                                listChildExist      = false;
                                categoryChildID     = categoryParentID;
                                /*
                                    TYPE BUTTON: 1
                                */
                                if(type == 1) {
                                    lastCategoryChild   = resp.infoParent._id;
                                    classLastChild      = this;
                                    $(this).attr("lastCategoryProduct", true);
                                }

                                /*
                                    (HAVE_BILL)  CÓ HÓA ĐƠN
                                    (TYPE_GOLD)  TRỌNG LƯỢNG VÀNG
                                    (TYPE_GLASS) SỐ LY                               
                                */
                                const HAVE_BILL  = 0;
                                const TYPE_GOLD  = 1;
                                const TYPE_GLASS = 2;
                                // const TYPE_OF_CATEGORY = resp.infoParent.textField && cate.textField.type || 0 resp.infoParent.textFieldType;
                                /*
                                    Kiểm tra xem text field có tồn tại
                                    => Tồn tại:
                                        1: GOLD:  Thêm INPUT Text Nhập Trọng Lượng
                                        2: GLASS: Thêm INPUT Text Nhập Số Ly
                                    
                                    TYPE FIELD CỦA PARENT (_typeFieldParent)
                                */
                                let _typeFieldParent = $(this).attr("_typeFieldParent");
                                if (_typeFieldParent && _typeFieldParent == TYPE_GOLD) {
                                    $("#txtGoldWeightAdd").val("");
                                    $("#txtGoldWeightAdd").attr("_categoryID", resp.infoParent._id);
                                }
                                
                                $(this).attr("chossen", true);
                                chossen = $(this).attr("chossen");
                            }
                        }else{
                            $('.btn-back-category-modal').addClass('d-none');
                        }
                    }
                }
            })
        });

        /*
            FUNCTION: CHECK TRỌNG LƯỢNG VÀNG
            AUTHOR: SONLP
        */
        $(document).on('keyup', "#txtGoldWeightAdd", function() {
            let weight     = $(this).val();
            let categoryID = $(this).attr("_categoryID");
            if (!categoryID) {
                $(this).val("");
                return setError(this, "Mời bạn chọn danh mục trước khi điền trọng lượng");
            }

            if (!Number(weight)) {
                $(this).val("");
                return setError(this, "Trọng lượng vàng phải là số");
            } 

            if (Number(weight) > 50 || Number(weight) <= 0) {
                $(this).val("");
                return setError(this, "Trọng lượng vàng phải từ 1 -> 50 kg");
            }

            setSuccess(this)
        });

        function checkArrPricingProduct({ arrPricingProductToBack, category, type }) {
            let checkExist = false;
            arrPricingProductToBack.forEach((product, index) => {
                /*
                    NẾU TỒN TẠI THÌ SET TRỌNG LƯỢNG VÀO PHẦN TỬ ĐÓ
                */
                if (product.parentCategoryID == category || product.categoryChossed == type) {
                    checkExist = true;
                    arrPricingProductToBack[index] = {
                        nameOld: name,
                        parentCategoryID: category,
                        priceAgency: price,
                        percentValue: 0,
                        weight,
                        categoryChossed: 1
                    }
                } 
            });
            /*
                NẾU CHƯA TỒN TẠI THÌ TẠO 1 PHẦN TỬ PUSH 
            */
            if (checkExist == false) {
                arrPricingProductToBack.push({
                    nameOld: name,
                    parentCategoryID: category,
                    priceAgency: price,
                    percentValue: 0,
                    weight,
                    categoryChossed: 1
                })
            }
        }
        /*
            FUNCTION: CHECK LOẠI VÀNG
            AUTHOR: SONLP
        */
        $(document).on("change", "#txtKindGoldAdd", function() {
            let price      = $(this).val();
            let category   = $(this).attr("_category");
            let name       = $("#txtKindGoldAdd option:selected").text();
            let categoryIDOption = $("#txtKindGoldAdd option:selected").attr("categoryID");
            let weight     = $("#txtGoldWeightAdd").val();

            if (!weight) {
                $(this).val("")
                return setError("#txtGoldWeightAdd", "Bạn phải trọng lượng trước khi chọn loại vàng");
            }
            // console.log({ weight });
            let checkExist = false;
            arrPricingProductToBack.forEach((product, index) => {
                /*
                    NẾU TỒN TẠI THÌ SET TRỌNG LƯỢNG VÀO PHẦN TỬ ĐÓ
                */
                if (product.parentCategoryID == category) {
                    checkExist = true;
                    arrPricingProductToBack[index] = {
                        nameOld: name,
                        parentCategoryID: category,
                        categoryIDOption: categoryIDOption,
                        priceAgency: price,
                        percentValue: 0,
                        weight,
                    }
                } 
            });
            /*
                NẾU CHƯA TỒN TẠI THÌ TẠO 1 PHẦN TỬ PUSH 
            */
            if (checkExist == false) {
                arrPricingProductToBack.push({
                    nameOld: name,
                    parentCategoryID: category,
                    categoryIDOption: categoryIDOption,
                    priceAgency: price,
                    percentValue: 0,
                    weight,
                })
            }
            // console.log({ arrPricingProductToBack });
            setSuccess(this);
        });
        
        /*
            FUNCTION: CHECK LOẠI KIM CƯƠNG RỜI CÓ HÓA ĐƠN
            // UPDATE: CHECK INPUT SELECT (SONLP)
            AUTHOR: SONLP
        */
        $(document).on("change", "#txtTypeOfHaveBillAdd", function() {
            let price      = $(this).val();
            let category   = $(this).attr("_category");
            let name       = $(this).find('option:selected').text();
            let categoryIDOption = $(this).find('option:selected').attr("categoryID");
            let weight     = $("#txtGoldWeightAdd").val();
            
            // console.log({ categoryIDOption, weight });
            let checkExist = false;
            let obj = {
                nameOld: name,
                parentCategoryID: category,
                priceAgency: price,
                percentValue: 0,
                categoryIDOption: categoryIDOption,
            }
            if (weight) {
                obj.weight = weight;
            }

            arrPricingProductToBack.forEach((product, index) => {
                /*
                    NẾU TỒN TẠI THÌ SET TRỌNG LƯỢNG VÀO PHẦN TỬ ĐÓ
                */
                if (product.parentCategoryID == category) {
                    checkExist = true;
                    arrPricingProductToBack[index] = obj;
                } 
            });
            /*
                NẾU CHƯA TỒN TẠI THÌ TẠO 1 PHẦN TỬ PUSH 
            */
            if (checkExist == false) {
                arrPricingProductToBack.push(obj);
            }
            // console.log({ arrPricingProductToBack });
            setSuccess(this);
        });
        /*
            FUNCTION: LẤY GIÁ TIỀN CỦA CÓ HÓA ĐƠN
            AUTHOR: SONLP
        */
        $(document).on('keyup', "#txtHaveBillAdd", function() {
            let price      = $(this).val();
            let categoryID = $(this).attr("_categoryID");

            $(this).toArray().forEach(function(field){
                new Cleave(field, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                });
            });
            // console.log({ categoryID, arrPricingProductToBack });

            price = replaceAll(price, ",", "");
            if (price < 0) {
                $(this).val("");
                return setError(this, "Số tiền nhập không được phép âm");
            }

            arrPricingProductToBack.forEach((product, index) => {
                if (product.parentCategoryID == categoryID) {
                    arrPricingProductToBack[index] = {
                        ...product,
                        have_bill: price
                    }
                }
            })
            setSuccess(this)
        });

        /*
            (categorySize):    2 CHECK SIZE     (txtGlassAdd)    CÓ TỒN TẠI TRONG MẢNG (arrPricingProductToBack)
            (categoryChossed): 1 CHECK CATEGORY (txtKindGoldAdd) CÓ TỒN TẠI TRONG MẢNG (arrPricingProductToBack)
        */

        $(document).on('keyup', "#txtGlassAdd", function() {
            let size       = $(this).val();
            let categoryID = $(this).attr("_categoryID");

            if (Number(size) > 50 || Number(size) <= 0) {
                $(this).val("");
                return setError(this, "Trọng lượng vàng phải từ 1 -> 50 kg");
            }

            let checkExist = false;
            arrPricingProductToBack.forEach((product, index) => {
                /*
                    NẾU TỒN TẠI THÌ SET SIZE VÀO PHẦN TỬ ĐÓ
                */
                if (product.parentCategoryID == categoryID || product.categorySize == 2) {
                    checkExist = true;
                    arrPricingProductToBack[index] = {
                        nameOld: `Kích Thước ${size} ly`,
                        parentCategoryID: categoryID,
                        priceAgency: 0,
                        percentValue: 0,
                        size,
                        categorySize: 2
                    }
                } 
            });
            /*
                NẾU CHƯA TỒN TẠI THÌ TẠO 1 PHẦN TỬ VÀ PUSH 
            */
            if (checkExist == false) {
                arrPricingProductToBack.push({
                    nameOld: `Kích Thước ${size} ly`,
                    parentCategoryID: categoryID,
                    priceAgency: 0,
                    percentValue: 0,
                    size,
                    categorySize: 2
                })
            }
            setSuccess(this);
        });

        function callAjaxBackPricingProduct(parentCategoryID = null, priceAgencyBeforeBack){
            let url = parentCategoryID ?
                `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT %>/?parentCategoryID=${parentCategoryID}&type=API` :
                `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_PRODUCT_CATEGORY %>/?type=API`;
            $.ajax({
                url,
                method: "GET",
                success: resp => {
                    // console.log({ resp });
                    if( resp ){
                        // console.log($(".showPricingProduct"));
                        const { infoParent, listChildsCategory } = resp;

                        // 1// Kiểm tra Category Cha có tồn tại
                        if ( !infoParent ){ 
                            pricingProduct          = 0;
                            $('.modal-preview-product-category .modal-body .text-parent').text('');
                            $('.btn-back-category-modal').addClass('d-none');
                        }
                        else{
                            // 2// Tồn tại thì 
                            $('.btn-back-category-modal').removeClass('d-none').attr({
                                '_categoryID': parentCategoryID,
                                '_parentCategoryID': infoParent.parent
                            });
                        }
                        if ( listChildsCategory && listChildsCategory.length ){
                            $(".showPricingProduct").empty();
                            listChildExist    = true;
                            let proCateAppend = ``;
                            let data          = resp.listChildsCategory;
                            // console.log("PRICING BEFORE================= ");
                            // console.log({ arrPricingProductToBack, pricingProduct, lastCategoryChild});
                            // console.log("PRICING BEFORE================= ");
                            let arr = [];
                            // Lấy danh sách con của cha
                            if(parentOfListLastChildCategory) {
                                let parent = data.find(category => category._id.toString() === parentOfListLastChildCategory);
                                // Push cha vào mảng con
                                parent.childs.push(parentOfListLastChildCategory);
                                // Filter lại mảng back
                                arrPricingProductToBack = arrPricingProductToBack.filter(cate => {
                                    if(parent.childs.includes(cate.parentCategoryID)){
                                        pricingProduct     -= cate.priceAgency;
                                        namePricingProduct = namePricingProduct.replace(cate.nameOld + ' ', "");
                                    }
                                    return !parent.childs.includes(cate.parentCategoryID);
                                })
                                parentOfListLastChildCategory = parentCategoryID;
                            }

                            // Kiểm tra xem có phải là last Category Child hay kh, nếu là cuối thì back trừ cho thằng cuối
                            if(lastCategoryChild) {
                                arrPricingProductToBack.forEach(cate => {
                                    if(cate.parentCategoryID == lastCategoryChild){
                                        pricingProduct     -= cate.priceAgency;   
                                        namePricingProduct = namePricingProduct.replace(cate.nameOld + ' ', "");
                                    }
                                })
                                // arrPricingProductToBack.splice(index, 1);
                                lastCategoryChild = parentCategoryID;
                            }

                            let textFieldType             = resp.infoParent && resp.infoParent.specialCategory || 0;
                            /*
                                (HAVE_BILL)  CÓ HÓA ĐƠN
                                (TYPE_GOLD)  TRỌNG LƯỢNG VÀNG
                                (TYPE_GLASS) SỐ LY                               
                            */
                            const HAVE_BILL  = 0;
                            const TYPE_GOLD  = 1;
                            const TYPE_GLASS = 2;

                            const TYPE_TEXT_BOX  = 2;
                            const TYPE_BUTTON    = 1;
                            const TYPE_DROPDOWN  = 3;
                            const TYPE_NOT_BILL  = 5;

                            let inputTypeField = "";
                            // Lấy category cha để back về
                            // parentOfListLastChildCategory = resp.infoParent.parent;

                            let checkType = ({ name, placeholder, nameID, validateP, categoryID, type, arrDropDown, nameInput }) => {
                                let input = "";
                                /*
                                    VỚI TYPE TRỌNG LƯỢNG VÀNG
                                */
                                if (type == TYPE_GOLD) {
                                    input = `
                                        <h5 class="mb-0 addTypeField">${name}</h5>
                                        </br>
                                        <input type="text" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                        ${validateP}
                                        <small>Error Message</small>
                                        </br>
                                    `;
                                    return input;
                                }
                                /*
                                    VỚI TYPE DROP DOWN
                                */
                                if (type == TYPE_DROPDOWN) {
                                    arrDropDown.forEach((category, index) => {
                                        input += `
                                            <option categoryID="${category._id}" value="${category.value}">${category.text}</option>
                                        `
                                    });
                                    input = `
                                        <h5 class="mb-0 addTypeField">${name}</h5>
                                        </br>
                                        <select class="form-control" _category="${categoryID}" id="${nameID}">
                                            <option value="">Chọn Loại</option>
                                            ${input}
                                        </select>
                                        </br>
                                        <small>Error Message</small>
                                    `;
                                    return input;
                                }
                                /*
                                    VỚI TYPE_TEXT_BOX
                                */
                                if (type == TYPE_TEXT_BOX && nameInput == "text_box") {
                                    input = `
                                        <h5 class="mb-0 addTypeField">${name}</h5>
                                        </br>
                                        <input type="text" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                        ${validateP}
                                        <small>Error Message</small>
                                        </br>
                                    `;
                                    return input;
                                }
                                /*
                                    VỚI TYPE SỐ LY
                                */
                                if (type == TYPE_GLASS && nameInput == "glass") {
                                    input = `
                                        <h5 class="mb-0 addTypeField">${name}</h5>
                                        </br>
                                        <input type="number" class="form-control" _categoryID="${categoryID}" placeholder="${placeholder}" id="${nameID}">
                                        ${validateP}
                                        <small>Error Message</small>
                                        </br>
                                    `;
                                    return input;
                                }
                            }

                            data.forEach( (cate, index) => {
                                 /*
                                    LẤY TYPE DANH MỤC CON
                                */
                                let inputType = '';
                                const TYPE_OF_CATEGORY = cate.textField && cate.textField.type || 0;
                                const TYPE = cate.type;
                                // const TYPE_OF_CATEGORY = cate.specialCategory;
                                /*
                                    DANH MỤC CON = TYPE TRỌNG LƯỢNG VÀNG
                                */
                                if (TYPE_OF_CATEGORY == TYPE_GOLD) {
                                    let name       = "Trọng lượng (Chỉ)";
                                    let nameID     = "txtGoldWeightAdd";
                                    let validateP  = `
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số, Trọng lượng tính bằng Chỉ</p>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn phải chọn danh mục trước để điền trọng lượng</p>
                                    `;
                                    let placeholder = cate.textField && cate.textField.text || "";
                                    inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_GOLD })

                                    proCateAppend += `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                ${inputType}
                                            </div>
                                        </div>               
                                    `;
                                /*
                                    DANH MỤC CON = TYPE GLASS
                                */
                                } else if (TYPE_OF_CATEGORY == TYPE_GLASS) {
                                    let name       = "Kích Thước";
                                    let nameID     = "txtGlassAdd";
                                    let validateP  = `
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số</p>
                                    `;
                                    let placeholder = cate.textField && cate.textField.text || "";
                                    inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_GLASS, nameInput: "glass" })

                                    proCateAppend += `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                ${inputType}
                                            </div>
                                        </div>               
                                    `;
                                /*
                                    DANH MỤC CON = TYPE DROPDOWN vs TYPE = TYPE_NOT_BILL (Không có hóa đơn)
                                */
                                } else if (cate.dropDown && cate.dropDown.length && textFieldType == TYPE_NOT_BILL) {
                                    let name       = "Loại";
                                    let nameID     = "txtKindGoldAdd";
                                    let validateP  = ``;
                                    let placeholder = cate.textField && cate.textField.text || "";
                                    inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_DROPDOWN, arrDropDown: cate.dropDown });

                                    proCateAppend += `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                ${inputType}
                                                </br>
                                            </div>
                                        </div>               
                                    `;
                                /*
                                    DANH MỤC CON = CÓ HÓA ĐƠN
                                */
                                } else if (cate.dropDown && cate.dropDown.length && textFieldType != TYPE_NOT_BILL) {
                                    let name       = cate.name;
                                    let nameID     = "txtTypeOfHaveBillAdd";
                                    let validateP  = ``;
                                    let placeholder = cate.textField && cate.textField.text || "";
                                    inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_DROPDOWN, arrDropDown: cate.dropDown });

                                    proCateAppend += `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                ${inputType}
                                                </br>
                                            </div>
                                        </div>               
                                    `;
                                /*
                                    DANH MỤC CON = CÓ HÓA ĐƠN
                                */
                                } else if (TYPE == TYPE_TEXT_BOX) {
                                    let name        = "Điền giá";
                                    // console.log("======================== AAA");
                                    let nameID      = "txtHaveBillAdd";
                                    let validateP   = `
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Bạn chỉ được phép nhập số</p>
                                    `;
                                    let placeholder = cate.textField && cate.textField.text || "";
                                    inputType = checkType({ name, placeholder, nameID, validateP, categoryID: cate._id, type: TYPE_TEXT_BOX, nameInput: "text_box" })

                                    proCateAppend += `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                ${inputType}
                                                <h5 class="mb-0 addTypeField">
                                                    <a 
                                                        class="nav-link collapsed chooseCategory" 
                                                        href="#" 
                                                        _cateID="${cate._id}" 
                                                        _price="${cate.priceAgency}"
                                                        _name="${cate.name}"
                                                        _index="${index + 1}"
                                                        _type="${cate.type}"
                                                        _textFieldType="${cate.textField && cate.textField.type || 0}"
                                                        _percentValue="${cate.percentValue || 0 }"
                                                        _specialCategory="${cate.specialCategory && cate.specialCategory|| 0}"
                                                    >
                                                        ${cate.name}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>               
                                    `;
                                } else {
                                    proCateAppend = proCateAppend + `
                                        <div class=" mb-0 ">
                                            <div class="card-header" role="tab" id="headingFour">
                                                <h5 class="mb-0 addTypeField">
                                                    <a 
                                                        class="nav-link collapsed chooseCategory" 
                                                        href="#" 
                                                        _cateID="${cate._id}" 
                                                        _price="${cate.priceAgency}"
                                                        _name="${cate.name}"
                                                        _index="${index + 1}"
                                                        _type="${cate.type}"
                                                        _textFieldType="${cate.textField && cate.textField.type || 0}"
                                                        _percentValue="${cate.percentValue || 0}"
                                                        _specialCategory="${cate.specialCategory || 0}"
                                                    >
                                                        ${cate.name}
                                                    </a>
                                                    ${inputType}
                                                </h5>
                                            </div>
                                        </div>
                                    ` 
                                }
                            });

                            // console.log("PRICING AFTER================= ");
                            // console.log({ arrPricingProductToBack });
                            // console.log("PRICING AFTER================= ");
                            $(".showPricingProduct").append(proCateAppend);
                            $(".titlePopupChild").text("Chọn danh mục con");
                            chossen = false;
                        }else{
                            // console.log("=============Xin Chao");
                            // listChildExist      = false;
                            // categoryChildID     = categoryParentID;
                            // console.log({ categoryChildID });
                            // pricingProduct      = resp.infoParent.priceAgency;
                            // namePricingProduct  = resp.infoParent.name;
                            // $(this).attr("lastCategoryProduct", true);
                            // $(this).attr("chossen", true);
                            // chossen = $(this).attr("chossen");
                        }
                    }
                }
            })
        }

        $(document).on('click', '.btn-back-category-modal', function () {
            const categoryID             = $(this).attr('_categoryID');
            const parentCategoryID       = $(this).attr('_parentCategoryID');
            const priceAgencyBeforeBack  = $(this).attr("_priceAgency");
            // console.log("============================doumasssss");
            // console.log({ categoryID, parentCategoryID });
            // removeCategoryToLocalStorage(categoryID);
            callAjaxBackPricingProduct(parentCategoryID, priceAgencyBeforeBack);
        })

        function checkPricingProduct({ priceOld, pricingProduct, input }){
            if ( priceOld && priceOld.length ){
                let check = false;
                priceOld.forEach( prices =>{
                    if ( prices.input == input ){
                        check = true;
                        // console.log("da đo day 1:" , totalPro);
                        totalPro = totalPro - prices.price;
                        // console.log("da đo day 1:" , totalPro);
                        totalPro = totalPro + Number( pricingProduct );
                        // console.log("da đo day 3:" , totalPro);
                        prices.price = pricingProduct;
                    }
                })
                if( check == false ){
                    totalPro = totalPro + Number( pricingProduct );
                    let obj = {
                        input: input,
                        price: pricingProduct
                    }
                    priceOld[priceOld.length] = obj;
                }
            }else{
                totalPro = totalPro + Number( pricingProduct );
                let obj = {
                    input: input,
                    price: pricingProduct
                }
                priceOld[priceOld.length] = obj;
            }
        }

        // Dnah sách sản phẩm đã chọn
        let arrProductChossed = [];
        // % cầm đồ của đại lýe
        let percentOfAgency = "<%= percentOfAgency %>";
        // GIÁ CÓ HÓA ĐƠN
        let priceHaveBillChoose = 0;
        $(document).on("click", ".btnConfirmAddPricingProduct", function(e){
            e.preventDefault();
            let parentCategoryID = $(this).attr("_cateID");
            let indexCard        = $(this).attr("_index");
            let specialCategory  = $(this).attr("_specialCategory");
            // 0: Mặc định
            // 1: Vẫn còn danh mục con
            // 2: Hết danh mục con
            // if( listChildExist == true ){
            //     return toastr.error("Bạn phải hoàn thành chọn danh mục", "Thông báo");
            // }
            /*
                (HAVE_BILL)  CÓ HÓA ĐƠN
                (TYPE_GOLD)  TRỌNG LƯỢNG VÀNG
                (TYPE_GLASS) SỐ LY                               
            */
            // let HAVE_BILL  = 0;
            // console.log({ specialCategory, arrPricingProductToBack });
            // console.log({ arrPricingProductToBack });

            let TYPE_NOT_BILL     = 5;
            let ARR_TYPE_CATEGORY = [2, 3, 4, 5];
            // let TYPE_DROPDOWN = 3;
            /*
                CHECK XEM CÓ ĐIỀN ĐỦ THÔNG TIN KHI Ở TRỌNG LƯỢNG VÀNG
            */
            // if (specialCategory == TYPE_NOT_BILL ) {
            //     let price       = $("#txtKindGoldAdd").val();
            //     let weight      = $("#txtGoldWeightAdd").val();
            //     if (!weight) {
            //         return setError("#txtGoldWeightAdd", "Bạn phải điền trọng lượng");
            //     }
            //     if (!price) {
            //         return setError("#txtKindGoldAdd", "Bạn phải chọn loại vàng");
            //     }
            // }
            
            //Push danh mục đã chọn vào mảng
            let arrCategoryChossed = arrPricingProductToBack.map( productID => productID.parentCategoryID );

            let pricingProduct = 0;
            let nameProduct    = '';

            let arrPercentToPricing = [];

            let checkPercentExist = ({ percent, price, totalPrice }) => {
                if (percent) {
                    // totalPrice = totalPrice * percent / 100
                    arrPercentToPricing.push(percent);
                    return totalPrice;
                }else {
                    totalPrice += price;
                    return totalPrice;
                }
            }

            /**
             * =======================CHECK XEM CÓ TỒN TẠI WEIGHT=======================
             *      => Nếu tồn tại thì kh cho tính giá hóa đơn 
             *      => Không tồn tại thì tính giá hóa đơn vào
             */
            let checkWeight = arrPricingProductToBack.filter(item => item.weight);

            console.log({
                arrPricingProductToBack,checkWeight
            });
            arrPricingProductToBack.forEach((pricing, index) => {
                nameProduct             += pricing.nameOld ;
                /*
                    PUSH ID OPTION CỦA SELECT VÀO MẢNG => ĐỂ LẤY CATEGORY ĐÃ CHOOSED
                */
                if (pricing.categoryIDOption) {
                    arrCategoryChossed.push(
                        pricing.categoryIDOption
                    )
                }
                /*
                    1: KIỂM TRA XEM CÓ TỒN TẠI TRỌNG LƯỢNG VÀNG 
                        => TỒN TẠI: GIÁ ĐẠI LÝ (pricing.priceAgency) * TRỌNG LƯỢNG (pricing.weight) * PHẦN TRĂM DANH MỤC (pricing.percentValue) / 100 (100%)
                        => KHÔNG TỒN TẠI: GIÁ ĐẠI LÝ (pricing.priceAgency) * PHẦN TRĂM DANH MỤC (pricing.percentValue) / 100 (100%)
                */
                if (pricing.weight) {
                    /*
                        1// Set name cho Sản phẩm
                    */
                    $(`#txtNotePriceAdd${indexCard}`).val(`Trọng lượng ${pricing.weight} chỉ`)
                    nameProduct += `, ${pricing.weight} chỉ`;
                    /*
                        2// Tính giá của Sản phẩm
                    */
                    let pricingAfterPercent =  Number(pricing.priceAgency) * Number(pricing.weight);
                    pricingProduct = checkPercentExist({ percent: Number(pricing.percentValue), price: pricingAfterPercent, totalPrice: pricingProduct });
                    // pricingProduct          += pricingAfterPercent;

                /*
                    Kiểm tra có giá hóa đơn
                */
                } else if (pricing.have_bill) {
                    console.log({ pricing });
                    priceHaveBillChoose = Number(pricing.have_bill);
                    /**
                     * ===================NẾU WEIGHT KHÔNG TỒN TẠI========================
                     *      => Cộng giá hóa đơn vào
                     *      => Có weight không cộng giá hóa đơn
                     */
                    if (!checkWeight || !checkWeight.length) {
                        pricingProduct      = checkPercentExist({ percent: Number(pricing.percentValue), price: Number(pricing.have_bill), totalPrice: pricingProduct });
                    }
                /*
                    Kiểm tra có tồn tại kích thước
                */
                } else if (pricing.size) {
                    /*
                        1// Set name cho Sản phẩm
                    */
                    $(`#txtNotePriceAdd${indexCard}`).val(`Kích thước ${pricing.size} ly`)
                    // nameProduct += `, ${pricing.size} ly`;

                } else  {
                    pricingProduct = checkPercentExist({ percent: Number(pricing.percentValue), price: Number(pricing.priceAgency), totalPrice: pricingProduct });
                }

                if(arrPricingProductToBack.length != index + 1) {
                    nameProduct += ", ";
                }   
            });
            // console.log({ arrPercentToPricing, arrPricingProductToBack });
            if (arrPercentToPricing.length) {
                arrPercentToPricing.forEach( percent => {
                    pricingProduct = pricingProduct * percent / 100;
                })
            }
            
            arrProductChossed.push({
                id: indexCard,
                arrCategoryChossed
            });
            // Số tiền sau khi tính phần trăm của đại lý với type trang sức
            if (ARR_TYPE_CATEGORY.includes(Number(specialCategory))) {
                pricingProduct = pricingProduct * percentOfAgency / 100;
            }

            checkPricingProduct({ priceOld, pricingProduct, input: inputPriceProduct[0] });
            // namePricingProduct = changeName;
            // console.log({ namePricingProduct, changeName });
            inputNameProduct.val(nameProduct);

            inputPriceProduct.val(formatter.format(pricingProduct));
            inputPriceProduct.attr("categoryChildID", categoryChildID);

            inputCategory.val(parentCategoryID);
            $(inputCategory).select2().trigger("change");
            $(".select2-selection__rendered").css("font-size", "16px");

            $(".txtApprovalLimitAdd").val(formatter.format(totalPro));

            $(".model-pricing-product").modal("hide");

            // Set lại giá trị cũ, để khi tạo card mới kh bị conflict
            listChildExist = true;
            pricingProduct = 0;

            namePricingProduct = "";
            nameOld            = "";

            categoryParentID = undefined;
            categoryChildID  = undefined;
            chossen = undefined;
            arrPricingProductToBack = [];
            lastCategoryChild = undefined;
            parentOfListLastChildCategory = undefined;
            arrPricingProductToBack = [];
        });

        let totalPro = 0;
        let priceOld = [];
        let priceProductOld = 0;
        $(document).on("keyup", ".txtProductPriceAdd", function(){
            $('.txtProductPriceAdd').toArray().forEach(function(field){
                new Cleave(field, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                });
            }); 
            let cateChild = $(this).attr("categoryChildID");
            let price = $(this).val();
            price     = replaceAll(price, ",", "");

            setSuccess("#txtApprovalLimitAdd");

            // if( cateChild )
                // checkBetweenPriceChangeAndPriceOld({ cateChild, price, input: this });
        });

        $(document).on("keyup", ".txtProductNameAdd", function(){
            setSuccess2(".txtProductNameAdd");
        });

        function checkBetweenPriceChangeAndPriceOld({ cateChild, price, input }){
            // if( cateChild ){
            const debounceAjax = debounce( changePricingProduct, 1000);
            let dataToView = {};
            // console.log({ cateChild, price, debounceAjax });
            dataToView.show = (data) => {
                // console.log({ data,  totalPro, price });
                let priceProduct = data.price;
                if ( priceProduct > price ){
                    let priceChange = priceProduct - price;
                    return setError2(input, `Bạn đã thay đổi giá sản phẩm từ ${formatter.format(priceProduct)} - thành ${formatter.format(price)}`);
                }
                if ( priceProduct < price ){
                    let priceChange = price - priceProduct;
                    return setError2(input, `Bạn đã thay đổi giá sản phẩm từ ${formatter.format(price)} - thành ${formatter.format(priceProduct)}`);
                }
                if ( priceProduct == price ){
                    return setSuccess2(input);
                }
            }
            debounceAjax({ categoryID: cateChild, dataToView });
            // }
        }

        function changePricingProduct ({ categoryID, dataToView } ){
            // console.log({ price, categoryID });
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT %>?parentCategoryID=${categoryID}&type=API`,
                method: "GET",
                success: resp => {
                    // console.log({ resp });
                    if ( resp ){
                        dataToView.show(resp.infoParent);
                        return resp.infoParent;
                    } 
                }
            })
        }
        // let totalTest = 0;
        $(document).on("keyup", ".txtProductPriceAdd", async function(){
            // console.log("aaaaa");
            let price     = $(this).val();
            
            // console.log({ categoryID });
            price     = replaceAll(price, ",", "");
            // console.log({ price });
            if ( !price || !Number(price)){
                return setError2(`#${this.id}`, "Giá sản phẩm phải là số");
            }else{
                setSuccess2(`#${this.id}`);
            }

            if ( price && Number(price) < 0 ){
                $(this).val("");
                return setError2(`#${this.id}`, "Giá sản phẩm không được phép âm");
            }else{
                setSuccess2(`#${this.id}`);
            }
           
            
            // totalTest = totalTest + price;
            // $("#txtApprovalLimitAdd").val(formatter.format(totalTest));

        });

        $(document).on("change", ".txtProductPriceAdd", function(){
            let priceVal = $(this).val();
            let price    = replaceAll(priceVal, ",", "");
            price        = Number(price);
            setSuccess("#txtApprovalLimitAdd");
            if ( !price || price.length == 0 ){
                price = 0;
            }

            checkPricingProduct({ priceOld, pricingProduct: price, input: this });
            
            $("#txtApprovalLimitAdd").val(formatter.format(totalPro));

            let txtLoanAmountAdd = $("#txtLoanAmountAdd").val();
            txtLoanAmountAdd     = replaceAll(txtLoanAmountAdd, ",", "");
            if ( txtLoanAmountAdd ){
                if ( Number(txtLoanAmountAdd) > totalPro ){
                    return setError("#txtLoanAmountAdd", "Số tiền vay không được phép lớn hạn mức phê duyệt");
                    
                }else{
                    setSuccess("#txtLoanAmountAdd");
                    $("#txtTotalMoneyNumberAdd").val(formatter.format(txtLoanAmountAdd));
                    // let changeNumberToChar = DocTienBangChu(Number(txtLoanAmountAdd))
                    // $("#txtTotalMoneyCharAdd").val(changeNumberToChar);
                }
            }   
        });

        $(document).on("change", ".txtProductCategoryAdd", function() {
            setSuccess2(".txtProductCategoryAdd");
            // console.log($(this));
            let categoryID  = $(this).val();
            let nameProduct = $(this).val();
            let rowCount          = $('.parentRow .createProductCard').length;
            // if (  )
            let id = this.id;
            if ( id == "txtProductCategoryAdd1" ){
                let price = $(this).parents(".cardProduct").find(".txtProductPriceAdd").val();
                let name  = $(this).parents(".cardProduct").find(".txtProductNameAdd").val();
                // console.log({ price, name });
                // name = name.slice(1);
                // console.log({ name });
                categoryParentID = categoryID;

                // if ( name == namePricingProduct ){
                //     console.log("aaa");
                //     $(this).parents(".cardProduct").find(".txtProductNameAdd").val("");
                // }
                if ( rowCount > 1 ){
                    for( let i = 2; i <= rowCount; i++ ){
                        let priceIndex = $(`#txtProductPriceAdd${i}`).val();
                        $(`#txtProductNameAdd${i}`).parents(".createProductCard").remove();
                        
                        priceIndex     = replaceAll(priceIndex, ",", "");
                        totalPro = totalPro - Number( priceIndex );

                        if ( totalPro == 0 ){
                            $("#txtApprovalLimitAdd").val("");
                        }else{
                            $("#txtApprovalLimitAdd").val(formatter.format(totalPro));
                        }
                        let txtLoanAmountAdd = $("#txtLoanAmountAdd").val();
                        txtLoanAmountAdd     = replaceAll(txtLoanAmountAdd, ",", "");
                        if ( txtLoanAmountAdd ){
                            if ( totalPro == 0 ){
                                return setError("#txtApprovalLimitAdd", "Bạn phải tạo sản phẩm để hiển thị hạn mức phê duyệt");
                            }else{
                                if ( Number(txtLoanAmountAdd) > totalPro ){
                                    return setError("#txtLoanAmountAdd", "Số tiền vay không được phép lớn hạn mức phê duyệt");
                                }else{
                                    setSuccess("#txtLoanAmountAdd");
                                }
                                setSuccess("#txtApprovalLimitAdd");
                            }
                        }else{
                            setSuccess("#txtLoanAmountAdd");
                        }
                    }
                }
            }else if ( id != "txtProductCategoryAdd1" && rowCount > 1 ){
                let categoryIndexMore1 = $("#txtProductCategoryAdd1").val();
                // console.log({ categoryIndexMore1 });
                if ( categoryIndexMore1 != categoryID ){
                    $(this).val(categoryIndexMore1);
                    $(this).select2().trigger("change");
                    
                    $(".select2-selection__rendered").css("font-size", "16px");
                    return toastr.error("Bạn phải chọn cùng danh mục", "Thông báo");
                }
            }else if ( categoryParentID && categoryParentID != categoryID ){
                $(this).val(categoryParentID);
                // $(this).val("");
                return toastr.error("Bạn đã thay đổi danh mục", "Thông báo");
            }
        });
        
    })
</script>