<style>
    img.img-thumbnail{
        width: 100px;
    }
    .font-change{
        font-size: 15px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .titlePopup{
       padding: 0;
   }
   .color-icon{
        color: #DF9024;
    }
    .gallery a img {
        /* height: 300px; */
        max-height:  300px ;
    }
    .change-font-img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Chi tiết khách hàng</h5>
                            <!-- <h6 class="sub-heading">Welcome to Unify Admin Template</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnUpdateInfoAgency">
                                            <span class="icon-border_color"></span>
                                            Chỉnh sửa thông tin
                                        </a>
                                    </div>
                                </ol>
                            </nav> -->
                            <div class="text-left col-xl-6">
                                <button class="btn btn-primary btnCreateTransaction" _customerID="<%= infoAccountCustomer._id %>">Tạo giao dịch</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gutters font-change">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-group color-icon"></span> Thông tin cá nhân </h3>
                                    </br>
                                    <p class="text-left"> <b> Mã khách hàng:</b>  <%=infoAccountCustomer.code  ? infoAccountCustomer.code : ''%></p>
                                    <p class="text-left"> <b>Tên khách hàng:</b> <%=infoAccountCustomer.name  ? infoAccountCustomer.name : ''%></p>
                                    <p class="text-left"><b>Số điện thoại:</b>  <%=infoAccountCustomer.phone ? infoAccountCustomer.phone : ''%></p>
                                    <p class="text-left"> <b>Giới tính:</b>      
                                        <% TYPE_GENDER.forEach(type => { %>
                                            <% if (infoAccountCustomer.gender == type.value) { %>
                                                <%= type.text%>
                                            <% } %>
                                        <% }) %>
                                    </p>
                                   
                                    <p class="text-left"><b>Ngày sinh:</b>
                                        <%= infoAccountCustomer.birthday  ? moment(infoAccountCustomer.birthday).format('L') : '' %>
                                    </p>

                                    <!-- <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Địa chỉ thường trú </h3> -->
                                    <p class="text-left"><b>Địa chỉ: </b>
                                        
                                        <%= infoAccountCustomer.address    ? infoAccountCustomer.address + "," : '' %>
                                        <%= wardArr && wardArr.length      ? wardArr[1].name_with_type + "," : '' %>
                                        <%= districtArr && districtArr.length      ? districtArr[1].name_with_type + "," : '' %>
                                        <%= provinceArr && provinceArr.length      ? provinceArr[1].name_with_type  : '' %>
                                    </p>
                                    <p class="text-left"><b>Hoạt động:</b>
                                        <% if( infoAccountCustomer.status === 1 ){ %>
                                            <span class="badge badge-pill badge-success">
                                                Đang hoạt động
                                            </span>
                                        <% }else{ %>
                                            <span class="badge badge-pill badge-secondary">Không Hoạt Động</span>
                                        <% } %>
                                    </p>
                                    <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                    </p>
                                    <div class=" gallery">
                                        <div class="row gutters listImageCustomer">
                                            <% infoAccountCustomer.image_customer && infoAccountCustomer.image_customer.length && infoAccountCustomer.image_customer.forEach( image => { %>
                                                <div class="col-lg-6 col-md-6 col-sm-6" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                
                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                        <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                        <div class="overlay">
                                                            <!-- <span class="expand">+</span> -->
                                                        </div>
                                                    </a>
                                                </div>

                                            <% }) %>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-open-book color-icon"></span> Thông tin giấy xác nhận </h3>
                                    </br>
                                    <p class="text-left"><b>Loại giấy xác thực:</b>
                                        <% KIND_OF_AUTH_PAPER.forEach( authPaper => { %>
                                            <% if ( infoAccountCustomer.auth_paper == authPaper.value ){ %>
                                                <%= authPaper.text %>
                                            <% } %>
                                        <% }) %>
                                    </p>
                                    <p class="text-left"><b>Số:</b>  <%= infoAccountCustomer.number_auth_paper    ? infoAccountCustomer.number_auth_paper : '' %> </p>
                                    <p class="text-left"><b>Nơi cấp:</b>  <%= infoAccountCustomer.issued_by       ? infoAccountCustomer.issued_by : '' %> </p>
                                    <p class="text-left"><b>Ngày cấp:</b>  <%= infoAccountCustomer.issued_on      ? moment(infoAccountCustomer.issued_on).format('L') : '' %> </p>
                                    <p class="text-left"><b>Hình ảnh giấy xác thực:</b>
                                    </p>
                                    <div class=" gallery">
                                        <div class="row gutters listImageAuth">
                                            <% infoAccountCustomer.image_auth_paper && infoAccountCustomer.image_auth_paper.length && infoAccountCustomer.image_auth_paper.forEach( image => { %>
                                                <div class="col-lg-6 col-md-6 col-sm-6" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                
                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                        <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                        <div class="overlay">
                                                        </div>
                                                    </a>
                                                </div>

                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <% listTransaction && listTransaction.length && listTransaction.forEach((transaction, index) => { %>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="col-xl-12 mt-0 titlePopup"><span class="icon-info2 color-icon" style="margin-right: 10px;"></span>Giao dịch số <%= index + 1%></h3>
                            </div>
                            <div class="card-body">
                                <div class="row gutters font-change">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-database3 color-icon"></span> Thông tin sản phẩm </h3>
                                            </br>
                                            <div class="row gutters">
                                                <% if ( transaction.infoTransaction.products && transaction.infoTransaction.products.length ){ %>
                                                    <% transaction.infoTransaction.products.forEach( (product, index) => { %>
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <h5 class="text-left"> <b>Sản phẩm <%=index + 1%></b> </h5>
                                                            <p class="text-left"> <b> Tên sản phẩm:</b> <%= product.name %> </p>
                                                            <p class="text-left"> <b> Giá sản phẩm:</b> <%= formatCurrency('###,###.', product.price) %> </p>
                                                            <p class="text-left"><b>  Danh mục:</b> <%= _lodash.get(product.type, "name", "") %> </p>
                                                        </div>
                                                    <% }) %>
                                                <% }else{ %> 
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <p class="text-left"><b>Không có thông tin sản phẩm</b>
                                                    </div>
                                                <% } %>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                <h3 class="col-xl-10 text-left titlePopup"><span class="icon-swap color-icon"></span> Thông tin giao dịch </h3>
                                                <% if ( transaction.infoTransaction.qrCode ){ %>
                                                    <img src="<%= _lodash.get(transaction.infoTransaction.qrCode.image, 'path', '') %>">
                                                <% } %>
                                                
                                            </br>
                                                <!-- </br> -->
                                                
                                            <p class="text-left"><b>Mã giao dịch: </b> <%= _lodash.get(transaction.infoTransaction, "code", "") %>
                                            
                                            </p>
                                            <p class="text-left"><b>Số tiền vay:</b>           
                                                <% if ( transaction.infoTransaction.loanAmount == 0 ){ %>
                                                    <%= transaction.infoTransaction.loanAmount %>  
                                                <% }else{ %>
                                                    <%= formatCurrency('###,###.', transaction.infoTransaction.loanAmount ) %>  
                                                <% } %>
                                            </p>
                                            
                                            <p class="text-left"><b>Hạn mức phê duyệt:</b>     <%= formatCurrency('###,###.',_lodash.get(transaction.infoTransaction, "approvalLimit", "")) %>  </p>
                                            <p class="text-left"><b>Ngày giao dịch:</b>        <%= moment(_lodash.get(transaction.infoTransaction, "transactionDate", "")).format('L')  %> lúc <%= moment(_lodash.get(transaction.infoTransaction, "transactionDate", "")).format('LT') %>  </p>
                                            <p class="text-left"><b>Số ngày cầm dự kiến:</b>   <%= _lodash.get(transaction.infoTransaction, "expectedDate", "")  %> </p>
                                            <p class="text-left"><b>Ngày bắt đầu tính lãi:</b> 
                                                <% if ( transaction.infoTransaction.latestInjectTransaction  ){ %>
                                                    <%= moment(_lodash.get(transaction.infoTransaction.latestInjectTransaction, "createAt", "")).format('L')%> lúc <%= moment(_lodash.get(transaction.infoTransaction.latestInjectTransaction, "createAt", "")).format('LT')%>
                                                <% }else{ %>
                                                    <%= moment(_lodash.get(transaction.infoTransaction, "interestStartDate", "")).format('L')%> lúc
                                                    <%= moment(_lodash.get(transaction.infoTransaction, "interestStartDate", "")).format('LT')%> 
                                                <% } %>
                                            </p>
                                            <p class="text-left"><b>Ngày đến lãi:</b>          <%= moment(_lodash.get(transaction.infoTransaction, "expireTime", "")).format('L')  %> lúc <%= moment(_lodash.get(transaction.infoTransaction, "expireTime", "")).format('LT')  %></p>
                                            <p class="text-left"><b>Số ngày tính lãi:</b>      <%= transaction.limitDate ? transaction.limitDate : "" %> </p>
                                            <p class="text-left"><b>Tổng lãi + Phí:</b>        
                                                <% if( transaction.loanAmoutAfterInterest == 0 ){ %> 
                                                    <%= transaction.loanAmoutAfterInterest %> 
                                                <% }else{ %> 
                                                    <%= formatCurrency('###,###.', transaction.loanAmoutAfterInterest, "")  %> 
                                                <% } %> 
                                            </p>
                                            <p class="text-left"><b>Ghi chú:</b>               <%= _lodash.get(transaction.infoTransaction, "approvalNote", "") %> </p>
                                            </br>
                                            
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            </br>
                                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                                        
                                            </br>
                                            <div class=" gallery ">
                                                <div class="row gutters ">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 " >
                                                        <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                                        </p>
                                                        <div class="listImagesTransaction">
                                                            <% if ( transaction.infoTransaction.customerImages && transaction.infoTransaction.customerImages.length ){ %>
                                                                <% transaction.infoTransaction.customerImages && transaction.infoTransaction.customerImages.length && transaction.infoTransaction.customerImages.forEach( image => { %>
                                                                        <a href="<%= image.path %>"  class="effects">
                                                                            <img src="<%= image.path %>" class="img-responsive change-font-img"  alt="Unify Admin">
                                                                            <div class="overlay">
                                                                                <!-- <span class="expand">+</span> -->
                                                                                </div>
                                                                        </a>
                                                                <% }) %>
                                                            <% }else{ %> 
                                                                <p class="text-left"><b>Không có hình ảnh khách hàng</b>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                                                        <p class="text-left"><b>Hình ảnh giấy tờ:</b>
                                                        </p>  
                                                        <!-- <div class="row gutters"> -->
                                                        <div class="listImagesTransaction">
                                                            <% if ( transaction.infoTransaction.KYCImages && transaction.infoTransaction.KYCImages.length ){ %>
                                                                <% transaction.infoTransaction.KYCImages && transaction.infoTransaction.KYCImages.length && transaction.infoTransaction.KYCImages.forEach( image => { %>
                                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                        <a href="<%= image.path %>" data-src="<%= image.path %>"  class="effects">
                                                                            <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                            <div class="overlay">
                                                                            </div>
                                                                        </a>
                                                                    <!-- </div> -->
                                                                <% }) %>
                                                            <% }else{ %> 
                                                                <p class="text-left"><b>Không có hình ảnh giấy tớ</b>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <p class="text-left"><b>Hình ảnh biên nhận:</b>
                                                        </p>  
                                                        <div class="listImagesTransaction">
                                                        <% if ( transaction.infoTransaction.receiptImages && transaction.infoTransaction.receiptImages.length ){ %>
                                                            <% transaction.infoTransaction.receiptImages && transaction.infoTransaction.receiptImages.length && transaction.infoTransaction.receiptImages.forEach( image => { %>
                                                                <a href="<%= image.path %>" class="effects">
                                                                    <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                    <div class="overlay">
                                                                    </div>
                                                                </a>
                                                            <% }) %>
                                                        <% }else{ %> 
                                                            <p class="text-left"><b>Không có hình ảnh biên nhận</b>
                                                        <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <p class="text-left"><b>Hình ảnh phiếu kiểm định:</b>
                                                        </p>    
                                                        <div class="listImagesTransaction">
                                                        <% if ( transaction.infoTransaction.formVerificationImages && transaction.infoTransaction.formVerificationImages.length ){ %>
                                                            <% transaction.infoTransaction.formVerificationImages && transaction.infoTransaction.formVerificationImages.length && transaction.infoTransaction.formVerificationImages.forEach( image => { %>
                                                                <a href="<%= image.path %>" class="effects">
                                                                    <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                    <div class="overlay">
                                                                    </div>
                                                                </a>
                                                            <% }) %>
                                                        <% }else{ %> 
                                                            <p class="text-left"><b>Không có hình ảnh phiểu kiểm định</b>
                                                        <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row gutters">
                                                <div class="text-left col-xl-12 col-md-12">
                                                    </br>
                                                    
                                                    <h3 class="text-left titlePopup"><span class="icon-swap_calls color-icon"></span> Thông tin giao dịch bổ sung</h3>
                                                    </br>
                                                </div>
                                                <% if ( transaction.infoTransaction.injectTransaction && transaction.infoTransaction.injectTransaction.length ){ %>
                                                    <% transaction.infoTransaction.injectTransaction.forEach( (injectTransaction, index) => { %>
                                                        <div class="text-left  col-xl-12 col-md-12">
                                                            <h5 class="text-left"> <b>Giao dịch bổ sung <%= index + 1 %></b> </h5>
                                                            </br>
                                                            <p class="text-left"><b>Tên giao dịch:</b> <%= _lodash.get(injectTransaction, "title", "") %>  </p>
                                                            <p class="text-left"><b>Ghi chú:</b>       <%= _lodash.get(injectTransaction, "note", "") %>  </p>
                                                            <% TYPE_TRANSACTION.forEach( type => { %>
                                                                <% if ( injectTransaction.type == type.value ){ %>
                                                                    <p class="text-left"><b>Loại giao dịch:</b>  <%= _lodash.get(type, "text", "") %>  </p>
                                                                <% } %>
                                                            <% }) %>
                                                            <% if ( injectTransaction.type == 3 ){ %>
                                                                <p class="text-left"><b>Có thể vay thêm:</b>        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "canBorrowMore", "")) %>  </p>
                                                                <p class="text-left"><b>Số tiền muốn vay thêm:</b>  <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantBorrowMore", "")) %>  </p>
                                                            <% } %>
            
                                                            <% if ( injectTransaction.type == 4 ){ %>
                                                                <p class="text-left"><b>Trả bớt tối thiểu:</b>        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "paybackMin", "")) %>  </p>
                                                                <p class="text-left"><b>Số tiền muốn trả bớt:</b>     <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantPayback", "")) %>  </p>
                                                            <% } %>
            
                                                            <% if ( injectTransaction.type == 5 ){ %>
                                                                <p class="text-left"><b>Phí cấp lại:</b>        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "reissueFee", "")) %>  </p>
                                                                <p class="text-left"><b>Yêu cầu in lần thứ:</b> <%= _lodash.get(injectTransaction.meta, "requestPrintTh", "") %>  </p>
                                                            <% } %>
                                                            <% if ( injectTransaction.type == 6 ){ %>
                                                                <% if ( injectTransaction.ransom == 1){ %>
                                                                    <p class="text-left"><b>Trạng thái:</b> Đã duyệt </p>
                                                                <% } %>
                                                                <% if ( injectTransaction.ransom == 2){ %>
                                                                    <p class="text-left"><b>Trạng thái:</b> Chưa duyệt </p>
                                                                <% } %>
                                                                <% if ( injectTransaction.ransom == 3){ %>
                                                                    <p class="text-left"><b>Trạng thái:</b> Không duyệt </p>
                                                                    <% if ( injectTransaction.noteNotApproved) { %>
                                                                        <p class="text-left"><b>Lý do:</b> <%= injectTransaction.noteNotApproved  %> </p>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                            <p class="text-left"><b>Ngày giao dịch:</b>         <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('L')  %> lúc <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('LT')  %> </p>
                                                            <div class=" gallery">
                                                                <div class="row gutters">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                                        <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                                                        </p>
                                                                        <!-- <div class="row gutters"> -->
                                                                        <div class="listImagesTransaction">
                                                                            <% if ( injectTransaction.customerImages && injectTransaction.customerImages.length ){ %>
                                                                                <% injectTransaction.customerImages && injectTransaction.customerImages.length && injectTransaction.customerImages.forEach( image => { %>
                                                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                                        <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                            <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                            <div class="overlay">
                                                                                            </div>
                                                                                        </a>
                                                                                    <!-- </div> -->
                                                                                <% }) %>
                                                                            <% }else{ %> 
                                                                                <p class="text-left"><b>Không có hình ảnh khách hàng</b>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                                        <p class="text-left"><b>Hình ảnh giấy tờ:</b>
                                                                        </p>  
                                                                        <!-- <div class="row gutters"> -->
                                                                        <div class="listImagesTransaction">
                                                                            <% if ( injectTransaction.KYCImages && injectTransaction.KYCImages.length ){ %>
                                                                                <% injectTransaction.KYCImages && injectTransaction.KYCImages.length && injectTransaction.KYCImages.forEach( image => { %>
                                                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                                        <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                            <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                            <div class="overlay">
                                                                                            </div>
                                                                                        </a>
                                                                                    <!-- </div> -->
                                                                                <% }) %>
                                                                            <% }else{ %> 
                                                                                <p class="text-left"><b>Không có hình ảnh giấy tớ</b>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                                        <p class="text-left"><b>Hình ảnh biên nhận:</b>
                                                                        </p>    
                                                                        <div class="listImagesTransaction">
                                                                        <% if ( injectTransaction.receiptImages && injectTransaction.receiptImages.length ){ %>
                                                                            <% injectTransaction.receiptImages && injectTransaction.receiptImages.length && injectTransaction.receiptImages.forEach( image => { %>
                                                                                <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                    <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                    <div class="overlay">
                                                                                    </div>
                                                                                </a>
                                                                            <% }) %>
                                                                        <% }else{ %> 
                                                                            <p class="text-left"><b>Không có hình ảnh biên nhận</b>
                                                                        <% } %>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                                        <p class="text-left"><b>Hình ảnh phiếu kiểm định:</b>
                                                                        </p>    
                                                                        <div class="listImagesTransaction">
                                                                        <% if ( injectTransaction.formVerificationImages && injectTransaction.formVerificationImages.length ){ %>
                                                                            <% injectTransaction.formVerificationImages && injectTransaction.formVerificationImages.length && injectTransaction.formVerificationImages.forEach( image => { %>
                                                                                <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                    <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                    <div class="overlay">
                                                                                    </div>
                                                                                </a>
                                                                            <% }) %>
                                                                        <% }else{ %> 
                                                                            <p class="text-left"><b>Không có hình ảnh phiểu kiểm định</b>
                                                                        <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                            </br>
                                                        </div>
                                                    <% }) %>
                                                <% }else{ %>
                                                    <div class="text-left  col-xl-12 col-md-12">
                                                        <p class="text-left"><b>Không có thông tin giao dịch bổ sung</b>
                                                        </br>
                                                        </br>
                                                    </div>
                                                <% } %>
                                                
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>

    