<style>
	:root {
		--clr-boder: #d1d1d1;
		--clr-primary: #ffd200;
		--clr-font: #32325d;
		--clr-font-low: #6a7590;
	}

	.comments-wrap {
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
	}
	.comments__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;
	}

	.comments__item-content{
		border-bottom: 1px solid var(--clr-boder);
		padding-bottom: 15px;
		width: 100%;
	}
	.comments__item-content-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.comments__item-content-header-name {
		font-size: 16px;
		color: var(--clr-font);
	}
	.comments__item-content-header-time {
		color: var(--clr-font-low);
	}
	.comments__item-content-main span {
		color: var(--clr-font-low);
		margin: 10px 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.comments__item-ava {
		width: 80px;
		height: 70px;
		background-position: center !important;
		background-size: cover !important;
		border-radius: 50%;
		margin-right: 20px;
	}
	.comments__item-website{
		opacity: .3;
	}

	.home-news__title {
		font-size: 20px;
		font-weight: bold;
		color: var(--unnamed-color-32325d);
		padding: 20px 0;
		position: relative;
		text-align: left;
		margin-bottom: 30px;
	}

	.home-news__title::before {
		content: "";
		position: absolute;
		width: 100px;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--clr-primary);
	}
	.box-related-post{
		margin-bottom: 10px;
	}
	.img-cover{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.c-h1, .tt-blog-nav-label, .tt-blog-nav-title, .comment-reply-title, #btnComment{
		font-family: Arial, Geneva, Helvetica, sans-serif;
	}

</style>

<div class="container-fluid container--main p-0 ">
	<div class="container" style="margin-top: 0px;">
		<div class="empty-space marg-lg-b60 marg-sm-b40 marg-xs-b30"></div>

		<div class="row d-flex justify-content-center">
			<div class="col-md-8 col-md-offset-2">

				<article class="post-8674 post type-post status-publish format-standard has-post-thumbnail hentry category-finance tag-digital-finance tag-ecommerce tag-fintech tag-mobile-banking tag-online-pawning tag-statistics">
					<!-- TT-BLOG-CATEGORY -->
					<div class="tt-blog-category post-single text-center">
						<a class="c-btn type-3 color-3" href="javascript: void(0)">
							<%= infoPost.category ? infoPost.category.name : '' %> 
						</a>
					</div>

					<div class="empty-space marg-lg-b10"></div>
					<h1 class="c-h1 text-center">
						<%= infoPost.title %> 
					</h1>
					<div class="empty-space marg-lg-b5"></div>

					<!-- TT-BLOG-USER -->
					<div class="text-center">
						<div class="tt-blog-user clearfix">
							<a class="tt-blog-user-img" href="#">
								<img alt="" src="https://secure.gravatar.com/avatar/163fde843fe5fa446f8bef9e3753986f?s=40&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/163fde843fe5fa446f8bef9e3753986f?s=80&amp;d=mm&amp;r=g 2x" class="tt-comment-form-ava avatar-40 photo" height="40" width="40">
							</a>
							<div class="tt-blog-user-content">
								<span class="tt-post-author-single">
									<a href="javascript: void(0)">
										<%= infoPost.userCreate ? infoPost.userCreate.username.toUpperCase() : '' %> 
									</a>
								</span>
								<span class="tt-post-date-single">
									<%= moment(infoPost.createAt).format('L') %> 
								</span>
							</div>
						</div>                            
					</div>

					<div class="empty-space marg-lg-b10"></div>

					<!-- <div class="tt-share position-2">
						<h5 class="tt-share-title">Share</h5>
						<ul class="tt-share-list">
							<li>
								<a class="tt-share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://blog.pawnhero.ph/digital-finance-statistics/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="tt-share-twitter" href="https://twitter.com/home?status=https://blog.pawnhero.ph/digital-finance-statistics/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="tt-share-pinterest" href="https://pinterest.com/pin/create/button/?url=&amp;media=https://s3-ap-southeast-1.amazonaws.com/pawnhero-blog/wp-content/uploads/Pawnhero-Resc1_3-608x505.png&amp;description=25+Statistics+on+Digital+Finance+and+Its+Impact+on+Global+Economy"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="tt-share-google" href="https://plus.google.com/share?url=https://blog.pawnhero.ph/digital-finance-statistics/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="tt-share-reddit" href="http://www.reddit.com/submit?url=https://blog.pawnhero.ph/digital-finance-statistics/&amp;title="><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
							</li>
							<li>
								<a class="tt-share-mail" href="http://digg.com/submit?url=https://blog.pawnhero.ph/digital-finance-statistics/&amp;title="><i class="fa fa-digg" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div> -->

					<!-- TT-DEVIDER -->
					<div class="tt-devider"></div>
					<div class="empty-space marg-lg-b20"></div>
			
					<a class="tt-thumb" href="<%= infoPost.image && infoPost.image.path %>" style="width: 100%;">
						<img class="img-responsive img-cover" src="<%= infoPost.image && infoPost.image.path %>" alt="Image Cover">
						<span class="tt-thumb-icon">
							<i class="fa fa-arrows-alt" aria-hidden="true"></i>
						</span>
					</a>
						
						
					<div class="empty-space marg-lg-b40 marg-sm-b30"></div>
				
					<div class="simple-text size-4 tt-content title-droid margin-big">
						<%- infoPost.content %> 
						<span class="cp-load-after-post"></span>
					</div>
								
				</article>

				<!-- <div class="empty-space marg-lg-b30 marg-sm-b30"></div>
				<span class="tt-tag-title">Tags:</span> -->
				<!-- <ul class="tt-tags">
					<li>
						<a href="https://blog.pawnhero.ph/tag/digital-finance/" rel="tag">digital finance</a>
					</li>
					<li>
						<a href="https://blog.pawnhero.ph/tag/ecommerce/" rel="tag">ecommerce</a>
					</li>
					<li>
						<a href="https://blog.pawnhero.ph/tag/fintech/" rel="tag">fintech</a>
					</li>
					<li>
						<a href="https://blog.pawnhero.ph/tag/mobile-banking/" rel="tag">mobile banking</a>
					</li>
					<li>
						<a href="https://blog.pawnhero.ph/tag/online-pawning/" rel="tag">online pawning</a>
					</li>
					<li>
						<a href="https://blog.pawnhero.ph/tag/statistics/" rel="tag">statistics</a>
					</li>
				</ul> -->

				<div class="empty-space marg-lg-b50 marg-sm-b30"></div>

				<!-- TT-NAV -->
				<div class="row">

					<div class="col-sm-6">
						<div class="tt-blog-nav left">
							<% if (listRelatedPost && listRelatedPost.length) { %>
								<div class="tt-blog-nav-label">
									Bài viết liên quan
								</div>
								<% listRelatedPost.forEach(post => { %>
									<div class="box-related-post">
										<a class="tt-blog-nav-title" href="/post/detail-post/<%= post._id %>">
											<%= post.title %> 
										</a>
									</div>
								<% }) %>
							<% } %>
						</div>
						<div class="empty-space marg-xs-b20"></div>
					</div>

				</div>

				<div class="empty-space marg-lg-b55 marg-sm-b50 marg-xs-b30"></div>
				<div class="tt-devider"></div>
				<div class="empty-space marg-lg-b55 marg-sm-b50 marg-xs-b30"></div>

				<section class="coment-item">
					<% if (infoPost.comments && infoPost.comments.length) { %>
						<h1 class="home-news__title">
							Có <%= infoPost.comments.length %> bình luận cho bài viết này
						</h1>
					<% } %>

					<section class="comments-wrap">

						<% if (infoPost.comments && infoPost.comments.length) { %>
							<% infoPost.comments.forEach((comment, index) => { %>
								<div class="comments__item">
									<div class="comments__item-ava" style="background: transparent url('../../../../template/img/avaCmt0.svg') 0% 0% no-repeat padding-box;"></div>
									<div class="comments__item-content">
										<div class="comments__item-content-header">
											<h2 class="comments__item-content-header-name">
												<%= comment.fullname %> 
												<span class="comments__item-website">
													<%= comment.website && ' - ' + comment.website %>
												</span> 
											</h2>
											<span class="comments__item-content-header-time">
												<%= moment(comment.createAt).format("L") %>
											</span>
										</div>
										<div class="comments__item-content-main">
											<span><%= comment.content %></span>
										</div>
									</div>
								</div>
							<% }) %>
						<% } %>

					</section>

					<!-- Add Comment -->
					<div class="tt-comment-form tt-comment-form clearfix">

						<div id="respond" class="comment-respond" style="margin-bottom: 30px;">
						  	<h3 id="reply-title" class="comment-reply-title">Để lại bình luận 
							  	<small>
								  	<a rel="nofollow" id="cancel-comment-reply-link" href="/digital-finance-statistics/#respond" style="display:none;">
										Hủy Comment
									</a>
								</small>
							</h3>

							<div class="comment-form">
								<div class="simple-text size-5 font-poppins color-3">
									<p>
										Email của bạn sẽ không bị tiết lộ, Các trường bắt buộc được đánh dấu *
									</p>
									<textarea id="txtContentComment" aria-required="true" class="c-area type-2 form-white placeholder" rows="10" placeholder="Nhập bình luận *"></textarea>
							
								  	<div class="row">
										<div class="col-sm-6">
											<input type="text" id="txtNameComment" aria-required="true" class="c-input placeholder" placeholder="Họ Tên *" maxlength="100">
					
											<input type="email" id="txtEmailComment" placeholder="Email *" class="c-input placeholder" maxlength="100">
					
											<input type="text" id="txtWebsiteComment" placeholder="Website" class="c-input placeholder" maxlength="100">
										</div>
									</div>
									<!-- <p class="comment-form-cookies-consent">
										<input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
										<label for="wp-comment-cookies-consent">
											Save my name, email, and website in this browser for the next time I comment.
										</label>
									</p> -->
								</div>

				  				<p class="form-submit">
									<input type="button" id="btnComment" value="Gửi bình luận" _postID="<%= infoPost && infoPost._id %>">
								</p>
							</div>	
						</div>

					</div>
				</section>

			</div>
		</div>

	</div>
</div>
