<% moment.locale("vi-VN") %>
<style>
	.img-responsive {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	.tt-post{
		margin-bottom: 20px;

	}
	.box-most-viewed-post{
		margin-bottom: -10px;
	}
	.tt-recent-news, small, .tt-blog-nav-title, .tt-title-text, .c-h5{
		font-family: Arial, Geneva, Helvetica, sans-serif;
	}
</style>

<div class="container-fluid container--main p-0">
	<div id="wrapper">
		<!-- <div id="loader-wrapper">
		<div id="loader"></div>
		<div id="loading-text">LOADING</div> -->
	</div>
	<div class="tt-mobile-block">
		<div class="tt-mobile-close"></div>
		<a id="hotline-menu-header" class="nav-link" href="tel:+63288282274">
			<img src="/assets/new-pawnhero-hotline.svg"
				style="max-width: 215px; width: 100%; align-self: center; margin-bottom: 15px;" alt="hotline-number">
		</a>
		<nav class="tt-mobile-nav">
			<ul id="side-header-nav" class="side-menu">
				<li id="menu-item-472"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-36 current_page_item menu-item-472">
					<a href="https://blog.pawnhero.ph/" aria-current="page">Home</a></li>
				<li id="menu-item-8007" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8007">
					<a href="https://pawnhero.ph/items-we-accept">Items We Accept</a></li>
				<li id="menu-item-8008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8008">
					<a href="https://pawnhero.ph/how-pawnhero-works">How PawnHero Works</a></li>
				<li id="menu-item-8009" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8009">
					<a href="https://pawnhero.ph/about-us">About Us</a></li>
				<li id="menu-item-8010" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8010">
					<a href="https://pawnhero.ph/contact-us">Contact Us</a></li>
			</ul>
		</nav>
	</div>
	<div class="tt-mobile-overlay"></div>
	<div class="tt-s-popup">
		<div class="tt-s-popup-overlay"></div>
		<div class="tt-s-popup-content">
			<div class="tt-s-popup-layer"></div>
			<div class="tt-s-popup-container">
				<form action="https://blog.pawnhero.ph/" method="get" class="tt-s-popup-form">
					<div class="tt-s-popup-field">
						<input type="text" id="s" name="s" value="" placeholder="Type to search" class="input" required>
						<div class="tt-s-popup-devider"></div>
						<h3 class="tt-s-popup-title">Type to search</h3>
					</div>
					<a href="#" class="tt-s-popup-close"></a>
				</form>
			</div>
		</div>
	</div>
	<div class="tt-video-popup">
		<div class="tt-video-popup-overlay"></div>
		<div class="tt-video-popup-content">
			<div class="tt-video-popup-layer"></div>
			<div class="tt-video-popup-container">
				<div class="tt-video-popup-align">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="about:blank"></iframe>
					</div>
				</div>
				<div class="tt-video-popup-close"></div>
			</div>
		</div>
	</div>

	<div class="tt-thumb-popup">
		<div class="tt-thumb-popup-overlay"></div>
		<div class="tt-thumb-popup-content">
			<div class="tt-thumb-popup-layer"></div>
			<div class="tt-thumb-popup-container">
				<div class="tt-thumb-popup-align">
					<img class="tt-thumb-popup-img img-responsive" src="about:blank" alt="">
				</div>
				<div class="tt-thumb-popup-close"></div>
			</div>
		</div>
	</div>

	<div id="content-wrapper">
		<!-- TT-SLIDER-WIDE -->
		<!-- <div class="tt-slider-wide tt-mag-slider tt-slider-custom-marg slider-style1 tt-custom-arrows">
			<div class="container">
				<div class="tt-slider-entry">
					<div class="tt-swiper-margin-10">
						<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="1"
							data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="3" data-md-slides="3"
							data-lg-slides="3" data-add-slides="3">
							<div class="swiper-wrapper clearfix">

								<% if (listMostViewed && listMostViewed.length) { %>
									<% listMostViewed.forEach((post, index)=> { %>
										<div class="swiper-slide <%= index === 0 && 'active' %> "
											data-val="<%= index %> ">
											<div class="tt-swiper-margin-10-entry">
												<div class="tt-mslide type-2 custom-hover-image">


													<div class="tt-mslide-image bg tt-mslide type-2"
														style="background-image:url(https://s3-ap-southeast-1.amazonaws.com/pawnhero-blog/wp-content/uploads/PAWNHERO_INFO9Banner_FEB.png);">
														<div class="tt-mslide-gradient"></div>
													</div>

													<a class="tt-mslide-link"
														href="/post/detail-post?postID=<%= post._id %> "></a>
													<div class="tt-mslide-table">
														<div class="tt-mslide-cell">
															<div class="tt-mslide-block">
																<div class="tt-mslide-cat">
																	<a class="c-btn type-3 color-2 tt-mslide-cat"
																		href="">
																		<%= post.category ? post.category.name : '' %>
																	</a>
																</div>
																<h1 class="tt-mslide-title c-h1">
																	<%= post.title %>
																</h1>
																<div class="tt-mslide-label">
																	<span class="tt-mslide-author">
																		<a
																			href="https://blog.pawnhero.ph/author/pawninabayani/">
																			<%= post.userCreate ?
																				post.userCreate.username : '' %>
																		</a>
																	</span>
																	<span class="tt-mslide-date">
																		<%= moment(post.createAt).format('L') %>
																	</span>
																</div>

															</div>
														</div>
													</div>



												</div>
											</div>
										</div>
										<% }) %>
											<% } %>

							</div>
							<div class="pagination c-pagination color-2 pos-3 visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-arrow-left  c-arrow left size-2 pos-1 hidden-xs hidden-sm">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			</div>
			<div class="custom-arrow-right c-arrow  right size-2 pos-1 hidden-xs hidden-sm">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>
		</div> -->

		<div id="page-wrapper" class="content top-bottom">
			<div class="empty-space marg-lg-b55 marg-sm-b30"></div>
			<div class="container">
				<div class=" tt-content tt-column-content">
					<div class="row">
						<div class="col-md-8">

							<!-- dual sidebar-->
							<div class="vc_row wpb_row vc_row-fluid">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner">
										<div class="wpb_wrapper">
											<div class="tt-title-block custom-color-properties-1000 style3">
												<h2 class="tt-title-text">Bài viết mới nhất</h2>
											</div>
											<div class="empty-space  marg-lg-b25"></div>


											<div class="empty-space  marg-lg-b25"></div>


											<div class="tt-recent-news">
												<% if (listPosts && listPosts.length) { %>
													<% listPosts.forEach(post=> { %>
														<div class="tt-post has-thumbnail type-6 clearfix post-8674 post type-post status-publish format-standard has-post-thumbnail hentry category-finance tag-digital-finance tag-ecommerce tag-fintech tag-mobile-banking tag-online-pawning tag-statistics">
															<a class="tt-post-img custom-hover"
																href="/post/detail-post/<%= post._id %>">
																<img width="288" height="180"
																	src="<%= post.image && post.image.path %>"
																	class="img-responsive wp-post-image"
																	alt="Image Preview" />
															</a>
															<div class="tt-post-info">
																<div class="tt-post-cat">
																	<a href="#" rel="category tag">
																		<%= post.category ? post.category.name : '' %>
																	</a>
																</div>
																<a class="tt-post-title c-h4"
																	href="/post/detail-post/<%= post._id %>">
																	<small>
																		<%= post.title %>
																	</small>
																</a>
																<div class="tt-post-label">
																	<span class="tt-post-author-name">
																		<a href="#">
																			<%= post.userCreate ?
																				post.userCreate.username.toUpperCase() : '' %>
																		</a>
																	</span>
																	<span class="tt-post-date">
																		<%= moment(post.createAt).format('L') %>
																	</span>
																</div>
																<div class="simple-text">
																	<p>
																		<% if (post.description && post.description.length > 200) { %>
																			<%= post.description.substr(0, 200) + '...' %>
																		<% }else{ %>
																			<%= post.description %>
																		<% } %>
																	</p>
																</div>
																<div class="tt-post-bottom">
																	<span class="tt-post-comment">
																		<i class="material-icons">Bình luận</i>
																		<%= post.comments && post.comments.length || 0 %>
																	</span>
																	<span class="tt-post-views">
																		<i class="material-icons">Lượt xem: </i>
																		<%= post.views %> 
																	</span>
																</div>
															</div>
														</div>
													<% }) %>
												<% } %>


												<div class="empty-space marg-lg-b30"></div>
												<!-- <div class="text-center">
													<ul class='page-numbers'>
														<li><span class="page-numbers current">1</span>
														</li>
														<li><a class="page-numbers"
																href="https://blog.pawnhero.ph/page/2/">2</a>
														</li>
														<li><a class="page-numbers"
																href="https://blog.pawnhero.ph/page/3/">3</a>
														</li>
														<li><span
																class="page-numbers dots">&hellip;</span>
														</li>
														<li><a class="page-numbers"
																href="https://blog.pawnhero.ph/page/79/">79</a>
														</li>
														<li><a class="next page-numbers"
																href="https://blog.pawnhero.ph/page/2/">Next
																&raquo;</a></li>
													</ul>

												</div> -->
												<div class="empty-space marg-sm-b60"></div>
											</div>


											<div class="empty-space  marg-lg-b60 marg-sm-b30"></div>
										</div>
									</div>
								</div>
							</div>
							<span class="cp-load-after-post"></span>
						</div>
						<div class="col-md-4">
							<div class="sidebar pleft75 sidebar-heading-style1 right-sidebar">
								<div class="empty-space marg-sm-b60"></div>
								<!-- <div id="subscribe-widget-1" class="sidebar-item widget widget_newsletter_entries">
									<div class="tt-border-block">
										<div class="tt-newsletter">
											<h4 class="tt-newsletter-title c-h4"><small>Sign up for Newsletter</small>
											</h4>
											<div class="simple-text">
												<p>

												</p>
											</div>
											<form method="post" action="https://blog.pawnhero.ph/?na=s"
												onsubmit="return newsletter_check(this)">
												<input class="c-input" type="text" name="nn" required=""
													placeholder="First Name">
												<input class="c-input" type="email" name="ne" required=""
													placeholder="Email Address">
												<div class="c-btn type-1 style-2 color-2 size-3">
													<input type="submit" class="newsletter-submit"
														value="Subscribe Now">
												</div>
											</form>
										</div>
									</div>
								</div> -->
								<div class="empty-space marg-lg-b30"></div>
								<div id="text-2" class="sidebar-item widget widget_text" style="margin-left: 50px">
									<div class="tt-title-block">
										<h5 class="c-h5 widget-title tt-title-text">Những bài viết nổi bật</h5>
									</div>
									<div class="empty-space marg-lg-b20"></div>
									<ul class="textwidget" style="list-style: initial;">
										<% if (listMostViewed && listMostViewed.length) { %>
											<% listMostViewed.forEach(post => { %>
												<li class="box-most-viewed-post">
													<a class="tt-blog-nav-title" href="/post/detail-post/<%= post._id %>">
														<%= post.title %> 
													</a>
												</li>
											<% }) %>
										<% } %>
									</div>
								</div>
								<div class="empty-space marg-lg-b30"></div>
							</div>
						</div>

					</div><!-- .row -->
				</div>
			</div>
			<div class="empty-space marg-lg-b60 marg-sm-b50 marg-xs-b30"></div>
		</div>

	</div>
</div>
</div>