<!-- END: .app-container -->
			<!-- BEGIN .main-footer -->
			<footer class="main-footer fixed-btm">
				Copyright LDK SOFTWARE @ <script>document.write(new Date().getFullYear())</script>
			</footer>
			<!-- END: .main-footer -->
		</div>
		<!-- END: .app-wrap -->

		<!-- jQuery first, then Tether, then other JS. -->
		<script src="../../../../template/new-admin/js/jquery.js"></script>
		<script src="../../../../template/new-admin/js/tether.min.js"></script>
		<script src="../../../../template/new-admin/js/bootstrap.min.js"></script>
		<script src="../../../../template/new-admin/vendor/unifyMenu/unifyMenu.js"></script>
		<script src="../../../../template/new-admin/vendor/onoffcanvas/onoffcanvas.js"></script>
		<script src="../../../../template/new-admin/js/moment.js"></script>
		<script src="../../../../template/new-admin/js/cleave.min.js"></script>

		<!-- Slimscroll JS -->
		<script src="../../../../template/new-admin/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="../../../../template/new-admin/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Chartist JS -->
		<script src="../../../../template/new-admin/vendor/chartist/js/chartist.min.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/chartist-tooltip.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart1.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-area-chart.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/donut-chart2.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart4.js"></script>

		<!-- Common JS -->
		<script src="../../../../template/new-admin/js/common.js"></script>
		<script src="../../../../template/toastr/toastr.min.js"></script>

		<!-- list_customer -->
		<!-- Gallery -->
		<script src="../../../../template/new-admin/vendor/gallery/baguetteBox.js" async></script>
		<script src="../../../../template/new-admin/vendor/gallery/plugins.js" async></script>
		<script src="../../../../template/new-admin/vendor/gallery/custom-gallery.js" async></script>

		<!-- moment -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Data Tables -->
		<script src="../../../../template/new-admin/vendor/datatables/dataTables.min.js"></script>
		<script src="../../../../template/new-admin/vendor/datatables/dataTables.bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
		<!-- lightgallery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery.min.js" integrity="sha512-gDBgGPXSeC2hx1W3S1CfSHbAValtLI8OArTGf0UVX7Fwb9Ak7HUE3LK9UEZxKGYVrIe0CJUVZDk9B2dIPwJ6VQ==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-zoom/1.3.0/lg-zoom.js" integrity="sha512-D6MkrX5d4oidcCMf03tIq1FD9UDZ/A7J6Av08vBUd8+8mI7jDq5PB7J2w/U6FdMBiqgrbdTufmtesTB17N+9YA==" crossorigin="anonymous"></script>
		
		<!-- QR CODE -->
		<script src="/template/new-admin/js/jquery.qrcode.min.js"></script>

		<script src="https://dntdurzwr12tp.cloudfront.net/template/socket/index.lib.js"></script>
		<script>
			let token = localStorage.getItem('token_agency');
			
			let socket = io.connect('<%=AGENCY_DOMAIN%>', {
				query: { token },
				transports: ['websocket'], upgrade: false
			});

			let socketAdmin = io.connect('<%= ADMIN_DOMAIN%>', {
				query: { token },
				transports: ['websocket'], upgrade: false
			});
		</script>

		<%- include ../inc/utils/socket.ejs %>
	</body>
</html>