<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>
<script>
    

$(document).ready(function(){
   
    $(function () {
        

        let valueFirst = $("#typeProductCategory .optionType").first().val();
        let valueFirstAgency = $("#txtAgency .optionAgency").first().val();

        $('option[value=' + valueFirst + ']').attr('selected', true);
        $('option[value=' + valueFirstAgency + ']').attr('selected', true);

        let myChart = document.getElementById('myChart').getContext('2d');
        let myChartHaveMostCustomer = document.getElementById('myChartHaveMostCustomer').getContext('2d');
        let myChartTopCustomer = document.getElementById('myChartTopCustomer').getContext('2d');
        let myChartTopProductCategory = document.getElementById('myChartTopProductCategory').getContext('2d');
        let myChartProductCategoryByDate = document.getElementById('myChartProductCategoryByDate').getContext('2d');
        let myChartAgencyDaily = document.getElementById('myChartAgencyDaily').getContext('2d');

        let heightMyChart = $("#myChart").height();
        $("#myChartHaveMostCustomer").css("height", 389);

        // myChartHaveMostCustomer.width = 1000;
        // myChartHaveMostCustomer.height = 1000;
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Quicksand';
        Chart.defaults.global.defaultFontSize = 14;
        Chart.defaults.global.defaultFontColor = '#b3b3b3';
        let total = [];
        let name = [];
        let count = [];

        let nameAgencyHaveBestCustomer = [];
        let nameCustomer = [];
        let totalMoneyCustomer = [];

        let nameProductCategory = [];
        let countProductCategory = [];

        //Chart top 5 Đại lý có tổng doanh số cao nhất
        $.ajax({
            url: `/statistical/top-5-agency-best-sale`,
            method: 'get',
            success: resp => {
                let listTopAgency = resp.data;
                if (!resp.error){
                    if(listTopAgency && listTopAgency.length){
                        for (let i = 0; i < listTopAgency.length; i++) {
                            listTopAgency[i] ? total.push(listTopAgency[i].total) : total.push(0)
                            listTopAgency[i] ? name.push(listTopAgency[i].agency.name) : name.push("Null")
                        }
                    }

                    let massPopChart = new Chart(myChart, {
                    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                    data:{
                        labels: name,
                        datasets:[
                            {
                            label:'Doanh số',
                            data: total,
                            //backgroundColor:'#cbac7b',
                            backgroundColor:[
                                '#E6973E',
                                '#F0B241',
                                '#D9B445',
                                '#F0D641',
                                '#E6DD3E',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 99, 132, 0.6)'
                            ],
                            borderWidth:1,
                            borderColor:'#777',
                            hoverBorderWidth:2,
                            hoverBorderColor:'#b3b3b3'
                            },
                        ]
                    },
                    options:{
                        title:{
                            display:true,
                            text:'',
                            fontSize: 25
                        },
                        legend:{
                            display:false,
                            position:'right',
                            labels:{
                                fontColor:'#000'
                            }
                        },
                        layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                        },
                        tooltips:{
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    return Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
                                        return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                                    });
                                }
                            }
                        },
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value, index, values) {
                                if(parseInt(value) >= 1000){
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                } else {
                                    return value;
                                }
                                }
                            }
                            }]
                        }
                    }
                    });

                }else{
                    return toastr.error(`Thất bại`, "THÔNG BÁO");
                }
            },
            error: function(err) {
                return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
            }
        });

        //Chart top 5 Đại lý có lượng khách hàng cao nhất
        $.ajax({
            url: `/statistical/top-5-agency-have-most-customer`,
            method: 'get',
            success: resp => {
                let listTopAgencyMostCustomer = resp.data;
                //console.log(listTopAgencyMostCustomer);
                if (!resp.error){
                    if(listTopAgencyMostCustomer && listTopAgencyMostCustomer.length){
                        for (let i = 0; i < listTopAgencyMostCustomer.length; i++) {
                            listTopAgencyMostCustomer[i] ? count.push(listTopAgencyMostCustomer[i].count) : count.push(0)
                            listTopAgencyMostCustomer[i] ? nameAgencyHaveBestCustomer.push(listTopAgencyMostCustomer[i].agency.name) : nameAgencyHaveBestCustomer.push("Null")
                        }
                    }

                    let massPopChart = new Chart(myChartHaveMostCustomer, {
                    type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                    data:{
                        labels: nameAgencyHaveBestCustomer,
                        datasets:[
                            {
                            label:'Khách hàng',
                            data: count,
                            //backgroundColor:'#cbac7b',
                            backgroundColor:[
                                '#DB5454',
                                '#C799F2',
                                '#65A6EB',
                                '#F2C48D',
                                '#E8E6C8',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 99, 132, 0.6)'
                            ],
                            borderWidth:1,
                            borderColor:'#fff',
                            hoverBorderWidth:1,
                            hoverBorderColor:'#b3b3b3'
                            },
                        ]
                    },
                    options:{
                        title:{
                        display:true,
                        text:'',
                        fontSize: 25
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        legend:{
                        display:true,
                        position:'right',
                        labels:{
                            fontColor:'#b3b3b3'
                        }
                        },
                        layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                        },
                        tooltips:{
                        enabled:true
                        }
                    }
                    });

                }else{
                    return toastr.error(`Thất bại`, "THÔNG BÁO");
                }
            },
            error: function(err) {
                return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
            }
        });

        //Chart top 5 Khách hàng có chi tiêu nhiều nhất
        $.ajax({
            url: `/statistical/top-customer`,
            method: 'get',
            success: resp => {
                let listTopCustomer = resp.data;
                console.log({ listTopCustomer });
                //console.log({ length: listTopCustomer.length });
                if (!resp.error){
                    if(listTopCustomer && listTopCustomer.length){
                        for (let i = 0; i < listTopCustomer.length; i++) {
                            listTopCustomer[i] ? totalMoneyCustomer.push(listTopCustomer[i].total) : totalMoneyCustomer.push(0)
                            listTopCustomer[i] ? nameCustomer.push(listTopCustomer[i].customer.name) : nameCustomer.push("Null")
                        }
                    }

                    let massPopChart = new Chart(myChartTopCustomer, {
                    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                    data:{
                        labels: nameCustomer,
                        datasets:[
                            {
                            label:'Khách hàng',
                            data: totalMoneyCustomer,
                            //backgroundColor:'#cbac7b',
                            backgroundColor:[
                                '#DB5454',
                                '#C799F2',
                                '#65A6EB',
                                '#F2C48D',
                                '#E8E6C8',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 99, 132, 0.6)'
                            ],
                            borderWidth:1,
                            borderColor:'#fff',
                            hoverBorderWidth:1,
                            hoverBorderColor:'#b3b3b3'
                            },
                        ]
                    },
                    options:{
                        title:{
                        display:true,
                        text:'',
                        fontSize: 25
                        },
                        legend:{
                        display:false,
                        position:'right',
                        labels:{
                            fontColor:'#000'
                        }
                        },
                        layout:{
                        padding:{
                            left:50,
                            right:0,
                            bottom:0,
                            top:0
                        }
                        },
                        tooltips:{
                            callbacks: {
                            label: function(tooltipItem, data) {
                                return Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
                                    return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                                });
                            }
                        }
                        },
                        scales: {
                            yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value, index, values) {
                                if(parseInt(value) >= 1000){
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                } else {
                                    return value;
                                }
                                }
                            }
                            }]
                        }
                    }
                    });

                }else{
                    return toastr.error(`Thất bại`, "THÔNG BÁO");
                }
            },
            error: function(err) {
                return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
            }
        });

        function translate_month( month ) {

            var result = month;

            switch(month) {
                case 'Jan':
                    result = 'Tháng 1' ;
                    break;
                case 'Feb':
                    result = 'Tháng 2' ;
                    break;
                case 'Mar':
                    result = 'Tháng 3' ;
                    break;
                case 'Apr':
                    result = 'Tháng 4' ;
                    break;
                case 'May':
                    result = 'Tháng 5' ;
                    break;
                case 'Jun':
                    result = 'Tháng 6' ;
                    break;
                case 'Jul':
                    result = 'Tháng 7' ;
                    break;
                case 'Aug':
                    result = 'Tháng 8' ;
                    break;
                case 'Sep':
                    result = 'Tháng 9' ;
                    break;
                case 'Oct':
                    result = 'Tháng 10' ;
                    break;
                case 'Nov':
                    result = 'Tháng 11' ;
                    break;
                case 'Dec':
                    result = 'Tháng 12';
                    break;

            }

            return result;
        }


        function translate_this_label( label ) {

            month = label.match(/Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec/g);

            if ( ! month ) 
                return label;

            translation = translate_month( month[0] );
            return label.replace( month, translation, 'g' );
        }

        //Chart top 5 danh mục sản phẩm được giao dịch nhiều nhất
        $.ajax({
            url: `/statistical/top-product-category`,
            method: 'get',
            success: resp => {
                let listTopProductCategory = resp.data;
                console.log({ listTopProductCategory });
                if (!resp.error){
                    if(listTopProductCategory && listTopProductCategory.length){
                        for (let i = 0; i < listTopProductCategory.length; i++) {
                            listTopProductCategory[i] ? countProductCategory.push(listTopProductCategory[i].count) : countProductCategory.push(0)
                            listTopProductCategory[i] ? nameProductCategory.push(listTopProductCategory[i].type.name) : nameProductCategory.push("Null");
                        }
                    }

                    let massPopChart = new Chart(myChartTopProductCategory, {
                    type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                    data:{
                        labels: nameProductCategory,
                        datasets:[
                            {
                            label:'Danh mục SP',
                            data: countProductCategory,
                            //backgroundColor:'#cbac7b',
                            backgroundColor:[
                                '#DB5454',
                                '#C799F2',
                                '#65A6EB',
                                '#F2C48D',
                                '#E8E6C8',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 99, 132, 0.6)'
                            ],
                            borderWidth:1,
                            borderColor:'#fff',
                            hoverBorderWidth:1,
                            hoverBorderColor:'#b3b3b3'
                            },
                        ]
                    },
                    options:{
                        title:{
                            display:true,
                            text:'',
                            fontSize: 25
                        },
                        legend:{
                            display:false,
                            position:'right',
                            labels:{
                                fontColor:'#000'
                            }
                        },
                        layout:{
                            padding:{
                                left:50,
                                right:0,
                                bottom:0,
                                top:0
                            }
                        },
                        tooltips:{
                            enabled:true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    
                                }
                            }]
                        }
                        
                    }
                    });

                }else{
                    return toastr.error(`Thất bại`, "THÔNG BÁO");
                }
            },
            error: function(err) {
                return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
            }
        });
        
        let massPopChartCategory;
        //Chart thể hiển loại hàng kinh doanh biến động theo ngày
        $('#typeProductCategory').on('change', function (e) {
            let type = $(this).val();
            let text = $( "#typeProductCategory option:selected" ).text();
            let nameProductCategoryByDate = [];
            let dateAndCountProductCategoryByDate = [];
            let dateProductCategoryByDate = [];

            if(!type){
                return toastr.warning(`Vui lòng chọn Danh mục sản phẩm cần xem`, "THÔNG BÁO");
            }

            if (massPopChartCategory) {
                massPopChartCategory.destroy();
            }

            $.ajax({
                url: `/statistical/chart-product-category-by-day?typeProductCategory=${type}`,
                method: 'get',
                success: resp => {
                    let listProductCategory = resp.data;
                    //console.log(listProductCategory);
                    if (!resp.error){
                        if(listProductCategory && listProductCategory.length){
                            for (let i = 0; i < listProductCategory.length; i++) {
                                //listProductCategory[i] ? countProductCategoryByDate.push(listProductCategory[i].count) : countProductCategoryByDate.push(0)
                                listProductCategory[i] ? nameProductCategoryByDate.push(listProductCategory[i].type.name) : nameProductCategoryByDate.push("Null");
                                listProductCategory[i] ? dateProductCategoryByDate.push(listProductCategory[i]._id.dateCreate.substring(0, 10)) : dateProductCategoryByDate.push("Null");
                                listProductCategory[i] ? dateAndCountProductCategoryByDate.push({ t: listProductCategory[i]._id.dateCreate.substring(0, 10), y: listProductCategory[i].count}) : dateAndCountProductCategoryByDate.push("Null");
                            }
                        }
                        // console.log({ dateAndCountProductCategoryByDate });
                        // console.log({ dateProductCategoryByDate });

                        massPopChartCategory = new Chart(myChartProductCategoryByDate, {
                        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data:{
                            labels: dateProductCategoryByDate,
                            datasets:[
                                {
                                label: "Số lượng",
                                data: dateAndCountProductCategoryByDate,
                                //backgroundColor:'#cbac7b',
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                ],
                                borderWidth:1,
                                hoverBorderWidth:1,
                                hoverBorderColor:'#b3b3b3'
                                },
                            ]
                        },
                        options:{
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        tooltipFormat: 'D MMM, YYYY',
                                        displayFormats: {
                                            day: 'D MMM'
                                        },
                                        distribution: 'series'
                                    },
                                    ticks : {
                                        // Here's where the magic happens:
                                        callback: function( label, index, labels ) {

                                            return translate_this_label( label );
                                        }
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function(value, index, values) {
                                            if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                            } else {
                                                return value;
                                            }
                                        }
                                    }
                                }]
                            },
                            title:{
                            display:true,
                            text:'',
                            fontSize: 25
                            },
                            legend:{
                            display:false,
                            position:'right',
                            labels:{
                                fontColor:'#000'
                            }
                            },
                            layout:{
                            padding:{
                                left:50,
                                right:0,
                                bottom:0,
                                top:0
                            }
                            },
                            tooltips:{
                            enabled:true
                            },
                        }
                        });

                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        let d = new Date();
        let n = d.getMonth() + 1;
        let year = d.getFullYear();
        n = n < 10 ? `0${n}` : n;
        let monthYear = `${year}-${n}`;
        $('#month').val(monthYear);

        let massPopChart;
        
        //Chart thể hiển đại lý kinh doanh biến động theo ngày
        $('#month').on('change', function (e) {
            e.preventDefault();

            let value = $(this).val();
            let month = new Date(value).getMonth() + 1;
            //let nameAgency = $( "#txtAgency option:selected" ).text();
            let arrNameAgency = [];
            let dateAndSumMoneyAgency = [];
            let dateAgency = [];

            if (massPopChart) {
                massPopChart.destroy();
            }
            
            $.ajax({
                url: `/statistical/chart-agency-by-day?month=${month}`,
                method: 'get',
                success: resp => {
                    let listData = resp.data;
                    console.log(listData);
                    if (!resp.error){
                        if(listData && listData.length){
                            for (let i = 0; i < listData.length; i++) {
                                //listData[i] ? countProductCategoryByDate.push(listData[i].count) : countProductCategoryByDate.push(0)
                                //listData[i] ? arrNameAgency.push(listData[i].agency.name) : arrNameAgency.push("Null");
                                listData[i] ? dateAgency.push(listData[i].createAt) : dateAgency.push("Null");
                                listData[i] ? dateAndSumMoneyAgency.push({ t: listData[i].createAt, y: listData[i].totalMoney}) : dateAndSumMoneyAgency.push("Null");
                            }
                        }
                        //console.log({ dateAgency });
                        //console.log({ dateAndSumMoneyAgency });

                        massPopChart = new Chart(myChartAgencyDaily, {
                        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data:{
                            labels: dateAgency,
                            datasets:[
                                {
                                label: '',
                                data: dateAndSumMoneyAgency,
                                //backgroundColor:'#cbac7b',
                                backgroundColor: [
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                ],
                                borderWidth:1,
                                hoverBorderWidth:1,
                                hoverBorderColor:'#b3b3b3'
                                },
                            ]
                        },
                        options:{
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        tooltipFormat: 'D MMM, YYYY',
                                        displayFormats: {
                                            day: 'D MMM'
                                        },
                                        distribution: 'series'
                                    },
                                    ticks : {
                                        // Here's where the magic happens:
                                        callback: function( label, index, labels ) {

                                            return translate_this_label( label );
                                        }
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function(value, index, values) {
                                            if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                            } else {
                                                return value;
                                            }
                                        }
                                    }
                                }]
                            },
                            title:{
                            display:true,
                            text:'',
                            fontSize: 25
                            },
                            legend:{
                            display:false,
                            position:'right',
                            labels:{
                                fontColor:'#000'
                            }
                            },
                            layout:{
                            padding:{
                                left:50,
                                right:0,
                                bottom:0,
                                top:0
                            }
                            },
                            tooltips:{
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        return Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
                                            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                                        });
                                    }
                                }
                            },
                        }
                        });
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        $("#typeProductCategory").select2();
        $("#txtAgency").select2();
        
    });
})
</script>