<!-- BEGIN .app-container -->
<style>
    /* @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-dialog{
        margin: 10px 10% 10px 10%;
        width: 80%;
    } */

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* @media (max-width: 1200px){
        .select2-container{
            width: 100% !important;
        }
    } */
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    .btnFilter{
        margin-top: 15px;
    }
    .color-icon{
        color: #DF9024;
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách lịch sử quỹ</h5>
                            <!-- <h6 class="sub-heading">List Customer</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 ">
                                <div class="row gutters">
                                    <!-- <div class="form-group col-2">
                                        <label>Tên/SDT</label> 
                                        <input type="text" class="form-control" id="txtNameFilter">
                                    </div> -->
                                    <div class="form-group col-xl-3 "><label>Loại phiếu</label> 
                                        <div class="parentTypeFinancial">
                                            <select class="form-control typeAdd" id="typeAdd">
                                                <option value="">Chọn loại phiếu</option>
                                                <% TYPE_TICKET.forEach(typeTicket => { %>
                                                    <option value="<%= typeTicket.value%>" <% if (type == typeTicket.value) { %>
                                                        selected
                                                    <% } %>><%= typeTicket.text%></option>
                                                <% }) %>
                                            </select>
                                            <small>Error Message</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 "><label>Loại phiếu</label> 
                                        <div class="">
                                            <select class="form-control typeFinancial" id="typeFinancial">
                                                <option value="">Chọn loại phiếu</option>
                                                <% TYPE_FINANCIAL.forEach(type => { %>
                                                    <option value="<%= type.value%>" <% if (typeFinancial == type.value) { %>
                                                        selected
                                                    <% } %>><%= type.text%></option>
                                                <% }) %>
                                            </select>
                                            
                                            <small>Error Message</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-2"><label>Từ Ngày</label> 
                                        <input type="date" class="form-control"  id="txtFromDay" value="<%= fromDay ? fromDay: '' %>">
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-xl-2"><label>Đến ngày</label> 
                                        <input type="date" class="form-control"  id="txtToDay" value="<%= toDay ? toDay: '' %>">
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-xl-2">
                                        <br />
                                        <button type="button" class="btn btn-success btnFilter br-btn">
                                            <span class="icon-search"></span>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2 ">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary  waves-effect waves-light btn-create-financial">
                                    <span class="icon-add_circle"></span> Khởi tạo phiếu thu/chi
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListFinancial" class="table table-striped table-bordered">
                                
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="sttThead"        style="width: 5%;">STT</th>
                                                <th class="sttThead"        style="width: 8%;">Mã phiếu</th>
                                                <th class="nameThead"       style="width: 25%;">Tên phiếu</th>
                                                <th class="nameThead"       style="width: 10%;">Loại phiếu</th>
                                                <th class="genderThead"     style="width: 15%;">Giá</th>
                                                <th class="phoneThead"      style="width: 10%;">Mã giao dịch</th>
                                                <th class="authPaperThead"  style="width: 12%;">Ngày thu/chi</th>
                                                <th class="numberAuthThead" style="width: 15%;">Số quỹ còn lại</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listFinancial && listFinancial.length) { %>
                                                <% listFinancial.forEach(( financial, index ) => { %>
                                                    <tr class="odd tr-product-category-<%= financial._id %>">
                                                        <th>
                                                            <%= index + 1 %>
                                                        </th>
                                                        <td>
                                                            <i>
                                                                <%= _lodash.get(financial, "code", "") %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <!-- <a href="/financial/info/<%= financial._id %>"> -->
                                                                <i>
                                                                    <%= _lodash.get(financial, "title", "") %>
                                                                </i>
                                                            <!-- </a> -->
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <% TYPE_TICKET.forEach( type => {%>
                                                                    <% if ( financial.type == type.value ){%>
                                                                        <%= type.text %>
                                                                    <% }%>
                                                                <% })%>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <% 
                                                                let varialble = "";
                                                                let style     = "";
                                                                if (financial.type == 1) {
                                                                    varialble = "+"
                                                                    style = "color: green; font-weight: bold;"
                                                                } else {
                                                                    varialble = "-"
                                                                    style = "color: #CE0C0C; font-weight: bold;"
                                                                }
                                                            %> 
                                                            
                                                            <i style="<%= style %>" >
                                                                <%= varialble %> <%= formatCurrency('###,###.', _lodash.get(financial, "price", "")) || "0" %>đ
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= _lodash.get(financial.transaction, "code", "") %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i >
                                                                <%= moment(_lodash.get(financial, "date", "")).format('L')  %> - <%= moment(_lodash.get(financial, "date", "")).format('LT')  %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i style="<%= style %>">
                                                                <% if (financial.fundsAfterChange) { %>
                                                                    <%= formatCurrency('###,###.', _lodash.get(financial, "fundsAfterChange", "")) %>đ
                                                                <% } else { %>
                                                                    0đ
                                                                <% } %>
                                                            </i>
                                                        </td>
                                                        <!-- <td>
                                                            <i>
                                                                
                                                            </i>
                                                        </td> -->
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listFinancial && listFinancial.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-create-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                
                <h2 class="modal-title mt-0 ">Khởi tạo phiếu thu/chi</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                
                </br>
                <h6 class=" text-primary" style="margin-bottom: 20px;">Những thông tin có dấu (*) là thông tin bắt buộc</h6>

                <div class="row gutters">
                    <div class="col-xl-12">
                        <h3 class="col-xl-12 mt-0 titlePopup "><span class="icon-info2 color-icon"></span> Thông tin phiếu </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-12 "><label>Loại phiếu <b>(*)</b></label> 
                                <div class="parentTypeFinancial">
                                    <label class="custom-control custom-radio">
                                        <input id="receiveFinancial" name="type" value="1" type="radio" class="custom-control-input typeFinancialAdd" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Thu</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="payFinancial" name="type" value="2" type="radio" class="custom-control-input typeFinancialAdd">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Chi</span>
                                    </label>
                                    <small>Error Message</small>
                                </div>
                            </div>
                            <div class="form-group col-xl-12">
                                <label>Tên phiếu <b>(*)</b></label> 
                                <input type="text" class="form-control" placeholder="VD: Nạp quỹ" id="txtNameFinancialAdd">
                                <small>Error Message</small>
                                <!-- <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button> -->
                            </div>
                            <!-- <div class="form-group col-xl-2">
                                </br>
                                </br>
                            </div> -->
                            <div class="form-group col-xl-12">
                                <label>Giá <b>(*)</b></label> 
                                <input type="text" class="form-control" placeholder="VD: 50,000,000" id="txtPriceFinancialAdd">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-12">
                                <label>Ghi chú </label> 
                                <input type="text" class="form-control" placeholder="VD: Nạp quỹ đầu tháng" id="txtNoteFinancialAdd">
                                <small>Error Message</small>
                            </div>
                            <!-- <div class="form-group col-xl-12">
                                <label>Loại giao dịch <b>*</b></label> 
                                <select class="form-control" id="txtTypeTransactionFinancialAdd">
                                    <option value="">Chọn Loại giao dịch</option>
                                    
                                </select>
                                <small>Error Message</small>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddFinancial">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
