<%  
    // isOwner check owner
    let isOwner = false;
    let LEVEL_ADMIN = 0;
    let LEVEL_OWNER = 1;
    if(infoUser.level == LEVEL_ADMIN || infoUser.level == LEVEL_OWNER){
        isOwner = true;
    }
%>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .font-change{
        font-size: 15px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    .modal-confirm {		
        color: #636363;
        width: 600px;
        font-size: 15px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-confirm .modal-header {
        border-bottom: none;   
        position: relative;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }	
    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }	
    .modal-confirm .icon-box {
        color: #fff;		
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #DF9024;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .icon-box::before {
        content:none;
    }
    .modal-confirm .icon-box i {
        font-size: 64px;
    }
    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #DF9024;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }
    .modal-confirm .btn:hover, .modal-confirm .btn:focus {
        background: #DF9024;
        outline: none;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    .img-responsive{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Chi tiết đại lý</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <% if (isOwner) { %>
                            <div class="card-header">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <div class="col-lg-12 d-flex justify-content-end">
                                            <a href="javascript:void(0)" _agencyID="<%=infoAgency._id%>" class="btn btn-outline-primary waves-effect waves-light btnUpdateInfoAgency">
                                                <span class="icon-border_color"></span>Chỉnh sửa thông tin
                                            </a>
                                        </div>
                                    </ol>
                                </nav>
                            </div>
                        <% } %>
                        <div class="card-body">
                            <div class="row gutters font-change">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="text-left">Tên Đại lý:</p>
                                    <p class="text-left">Mã đại lý:</p>
                                    <p class="text-left">Mã số thuế:</p>
                                    <p class="text-left">Email:</p>
                                    <p class="text-left">Số điện thoại:</p>
                                    <p class="text-left">Địa chỉ:</p>
                                    <p class="text-left">Sản phẩm nhận cầm:</p>
                                    <p class="text-left">Tình trạng hoạt động:</p>
                                    <p class="text-left">Khung giờ hoạt động:</p>
                                    <p class="text-left">Ảnh đại diện:</p>
                                    <% if (infoAgency.avatar) { %>
                                        <div style="max-width: 600px" class="baguetteBoxThree gallery text-left">
                                            <div class="row gutters">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <a href="<%= _lodash.get(infoAgency.avatar, 'path', '')   %>" class="effects">
                                                        <img src="<%= _lodash.get(infoAgency.avatar, 'path', '')   %>" class="img-responsive" alt="avatar-agency">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <br>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="text-right"><%=infoAgency.name%></p>
                                    <p class="text-right"><%=infoAgency.code%></p>
                                    <p class="text-right"><%=infoAgency.tax_code%></p>
                                    <p class="text-right"><%=infoAgency.email%></p>
                                    <p class="text-right"><%=infoAgency.phone%></p>
                                    <p class="text-right"><%=infoAgency.address%>, <%=infoWard && infoWard.path_with_type%></p>
                                    <p class="text-right"><%=_lodash.get(infoAgency, 'productPawn', 'ㅤ') %></p>
                                    <p class="text-right"><%= infoAgency.status == 1 ? "Đang hoạt động" : "Khóa"%></p>
                                    <p class="text-right"><%=infoAgency.openTime%> AM - <%=infoAgency.closeTime%> PM</p>
                                    <p class="text-right">Album Ảnh</p>
                                    <div style="max-width: 600px" class="baguetteBoxThree gallery text-right">
                                        <div class="row gutters">
                                            <% infoAgency.gallery && infoAgency.gallery.length && infoAgency.gallery.forEach(image => { %>
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                        <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive" alt="gallery-agency">
                                                    </a>
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <b>Danh sách Quản Lý</b>
                                                <% if (isOwner) { %>
                                                    <div style="float: right;">
                                                        <a  href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnShowModalAddOwner">
                                                            <span class="icon-add_circle"></span> Thêm Quản Lý
                                                        </a>&nbsp;
                                                        <a  href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnShowModalCreateOwner">
                                                            <span class="icon-add_circle"></span> Tạo Quản Lý
                                                        </a>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="card-body">
                                                <table id="basicExampleOwner" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 114px;">STT</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 193.2px;">Tên</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 82.8px;">Email</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31.6px;">Trạng thái</th>
                                                            <% if (isOwner) { %>
                                                                <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 74px;">Tác vụ</th>
                                                            <% } %>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% if (infoAgency.owners && infoAgency.owners.length) { %>
                                                        <% infoAgency.owners.forEach(( owner, index ) => { %>
															<% let statusOwner = 1 %> 
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1"> <%= index + 1 %></td>
                                                                <td><%= owner.username %></td>
                                                                <td><%= owner.email %></td>
                                                                <td>
																	<% if (listBlacklistUserOfAgency.includes(owner._id.toString())) { %>
																		<% statusOwner = 0 %> 
																		<span class="badge badge-pill badge-danger">
                                                                            Khoá
                                                                        </span>
																	<% } else{ %>
																		<span class="badge badge-pill badge-success">
                                                                            Hoạt Động
                                                                        </span>
																	<% } %>
                                                                </td>
                                                                <% if (isOwner) { %>
                                                                    <td>
                                                                        <div class="btn-group mb-2 border-btn-black">
                                                                            <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= owner._id && owner._id %>">Thao Tác</button>
                                                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="sr-only">...</span>
                                                                            </button>
                                                                            <div class="dropdown-menu" 
                                                                                x-placement="right-start" 
                                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                                <a class="dropdown-item btnUpdateUser" href="javascript:void(0)" _userID="<%= owner._id %>"
																				_status="<%= statusOwner %>">
                                                                                    Sửa Thông Tin
                                                                                </a>
                                                                                <a class="dropdown-item btnBlockUser btnUpdateLevelDown" href="" _agencyID="<%=infoAgency._id%>" _userID="<%= owner._id %>">
                                                                                    Set tài khoản nhân viên
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                <% } %>
                                                            </tr>
                                                        <% }) %>
                                                    <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <b>Danh sách Nhân Viên</b>
                                                <% if (isOwner) { %>
                                                    <div style="float: right;">
                                                        <a  href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnShowModalAddEmployee">
                                                            <span class="icon-add_circle"></span> Thêm nhân viên
                                                        </a>&nbsp;
                                                        <a  href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnShowModalCreateEmployee">
                                                            <span class="icon-add_circle"></span> Tạo nhân viên
                                                        </a>&emsp;
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="card-body">
                                                <table id="basicExampleEmployee" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 114px;">STT</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 193.2px;">Tên</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 82.8px;">Email</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31.6px;">Trạng thái</th>
                                                            <% if (isOwner) { %>
                                                                <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 74px;">Tác vụ</th>
                                                            <% } %>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% if (infoAgency.employees && infoAgency.employees.length) { %>
                                                        <% infoAgency.employees.forEach(( employee, index ) => { %>
															<% let statusEmployee = 1 %> 
															<tr role="row" class="odd">
																<td class="sorting_1"> <%= index + 1 %></td>
																<td><%= employee.username %></td>
																<td><%= employee.email %></td>
																<td>
																	<% if (listBlacklistUserOfAgency.includes(employee._id.toString())) { %>
																		<% statusEmployee = 0 %>
																		<span class="badge badge-pill badge-danger">
																			Khoá
																		</span>
																	<% } else{ %>
																		<span class="badge badge-pill badge-success">
																			Hoạt Động
																		</span>
																	<% } %>
																</td>
																<% if (isOwner) { %>
																	<td>
																		<div class="btn-group mb-2 border-btn-black">
																			<button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= employee._id && employee._id %>">Thao Tác</button>
																			<button type="button" class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																				<span class="sr-only">...</span>
																			</button>
																			<div class="dropdown-menu" 
																				x-placement="right-start" 
																				style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
																				<a class="dropdown-item btnUpdateUser" href="javascript:void(0)" _userID="<%= employee._id %>"
																				_status="<%= statusEmployee %>">
																					Sửa Thông Tin
																				</a>
																				<a class="dropdown-item btnBlockUser btnUpdateLevelUp" href="" _agencyID="<%=infoAgency._id%>" _userID="<%= employee._id %>">
																					Set tài khoản quản lý
																				</a>
																			</div>
																		</div>
																	</td>
																<% } %>
															</tr>
                                                        <% }) %>
                                                    <% } %>
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <b>Danh sách Chi Nhánh</b>
                                                <% if (infoUser.level == 0 || infoUser.level == 1) { %>
                                                    <a style="float: right;" href="javascript:void(0)" _agencyID="<%=infoAgency._id%>" class="btn btn-outline-primary waves-effect waves-light btnShowModalCreateAgencyChild">
                                                        <span class="icon-add_circle"></span> Tạo chi nhánh
                                                    </a>&emsp;
                                                <% } %>
                                            </div>
                                            <div class="card-body">
                                                <table id="basicExampleAgency" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 31.6px;">STT</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150px;">Tên</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 100px;">Email</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 82.8px;">Số điện thoại</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">Địa chỉ</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 82.8px;">Giờ hoạt động</th>
                                                            <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31.6px;">Trạng thái</th>
                                                            <% if (isOwner) { %>
                                                                <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 74px;">Tác vụ</th>
                                                            <% } %>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% if (infoAgency.childs && infoAgency.childs.length) { %>
                                                        <% infoAgency.childs.forEach(( agencyChild, index ) => { %>
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1"> <%= index + 1 %></td>
                                                            <td><a href="/agency/detail-agency-branch/<%= agencyChild._id %>"><%= agencyChild.name %></a></td>
                                                            <td><%= agencyChild.email %></td>
                                                            <td><%= agencyChild.phone %></td>
                                                            <td><%= agencyChild.address %></td>
                                                            <td><%= agencyChild.openTime %> - <%= agencyChild.closeTime %></td>
                                                            <td>
                                                                <% if (agencyChild.status === 1) { %>
                                                                    <span class="badge badge-pill badge-success">
                                                                        Hoạt Động
                                                                    </span>
                                                                <% }else{ %>
                                                                    <span class="badge badge-pill badge-danger">
                                                                        Không hoạt động
                                                                    </span>
                                                                <% } %>
                                                            </td>
                                                            <% if (isOwner) { %>
                                                                <td>
                                                                    <div class="btn-group mb-2 border-btn-black">
                                                                        <button type="button" class="btn btn-primary btn-sm">Thao Tác</button>
                                                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="sr-only">...</span>
                                                                        </button>
                                                                        <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                            <a class="dropdown-item btnUpdateInfoAgency" href="" _agencyID="<%= agencyChild._id %>">
                                                                                Sửa Thông Tin
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            <% } %>
                                                        </tr>
                                                        <% }) %>
                                                    <% } %>
                                                    </tbody>
                                                </table>
                                                <% if (infoAgency.childs && infoAgency.childs.length == 0) { %>
                                                    <% include ../../common/views/no_result.ejs %>
                                                <% } %>
                                            </div></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>

    <div class="modal fade bs-example-modal-sm model-create-product-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Cập Nhật Đại Lý</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                
                <div class="modal-body">
                    <p style="color: #DF9024;">Ghi chú: *Trường tung độ, vĩ độ phải nhập đúng thông tin tọa độ của Đại Lý</p>
                    <div class="row gutters">
                        <div class="form-group col-xl-4"><label>Tên đại lý</label>
                            <input type="text" class="form-control" id="txtName">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Email</label> 
                            <input type="email" class="form-control" id="txtEmail">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Trạng thái hoạt động</label> 
                            <div class="">
                                <label class="custom-control custom-radio">
                                    <input id="radio1" name="radio" type="radio" value="1" class="custom-control-input" checked="">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bật</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio2" name="radio" type="radio" value="0" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Tắt</span>
                                </label>
                            </div>
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-4"><label>Số điện thoại</label> 
                            <input type="text" class="form-control" id="txtPhone">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Mã Đại Lý (có thể nhập)</label> 
                            <input type="text" class="form-control" id="txtCode">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Mã số thuế</label> 
                            <input type="number" class="form-control" id="txtTaxCode">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6">
                            <label>Sản phẩm nhận cầm</label>
                            <input type="text" class="form-control" id="txtProductPawn">
                            <small>Set Error</small>
                        </div>
						<div class="form-group col-xl-6">
                            <label>Tỷ lệ cầm</label>
                            <input type="number" class="form-control" id="txtPercentPawn">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                            <input type="text" class="form-control" id="txtAddress" placeholder="VD: 244/9B đường Man Thiện">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Tỉnh/Thành Phố</label> 
                            <select class="form-control" id="txtCityFilter">
                                <option value="">Chọn Tỉnh/Thành phố</option>
                                <% listProvince.forEach(province => { %>
                                    <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                <% }) %>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Quận/Huyện</label> 
                            <select class="form-control" id="txtDistrictFilter">
                                <option value="">Chọn Quận/Huyện</option>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Xã/Phường</label> 
                            <select class="form-control" id="txtWardFilter">
                                <option value="">Chọn Xã/Phường</option>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Vĩ độ</label> 
                            <input type="number" class="form-control" placeholder="VD: 10.848200508644084" id="txtLatitude">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Kinh độ</label> 
                            <input type="number" class="form-control" placeholder="VD: 106.7866335683083" id="txtLongitude">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Giờ mở cửa</label> 
                            <input type="time" class="form-control" id="txtOpenTime">
                        </div>
                        <div class="form-group col-xl-6"><label>Giờ đóng cửa</label> 
                            <input type="time" class="form-control" id="txtCloseTime">
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Ảnh đại diện</label> 
                            <input id="btnUploadAvatar" type="file" class="form-control"accept="image/*">
                            <div class="image-avatar-update">
    
                            </div>
                        </div>
                        <div class="form-group col-xl-6"><label>Album ảnh</label> 
                            <input id="btnUploadGallery" type="file" class="form-control" accept="image/*" multiple >
                            <div class="image-gallery-update">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btnAddAndUpdateAgency border-btn-black">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP TẠO tài khoản employee  -->
    <div class="modal fade bs-example-modal-sm modal-create-account-employee" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Tạo tài khoản Nhân Viên</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-12">
                            <label style="color: #e2b670">Ghi chú: *Hệ thống sẽ tự động gửi mật khẩu về Email, hãy dùng mật khẩu đó để đăng nhập.</label> 
                        </div>
                        <div class="form-group col-xl-12"><label>Username</label>
                            <input type="text" class="form-control" required id="txtNameEmployee">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12"><label>Email</label> 
                            <input type="email" class="form-control" required id="txtEmailEmployee">
                            <small>Set Error</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button _agencyID="<%=infoAgency._id%>" class="btn btn-info btnAddEmployee">Tạo tài khoản</button>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP TẠO tài khoản owner  -->
    <div class="modal fade bs-example-modal-sm modal-create-account-owner" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Tạo tài khoản Quản Lý</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-12"><label style="color: #e2b670">Ghi chú: *Hệ thống sẽ tự động gửi mật khẩu về Email, hãy dùng mật khẩu đó để đăng nhập.</label> 
                        </div>
                        <div class="form-group col-xl-12"><label>Username</label> 
                            <input type="text" class="form-control" id="txtNameOwner">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12"><label>Email</label> 
                            <input type="email" class="form-control" id="txtEmailOwner">
                            <small>Set Error</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button _agencyID="<%=infoAgency._id%>" class="btn btn-info btnAddOwner">Tạo tài khoản</button>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP Cập nhật tài khoản  -->
    <div class="modal fade bs-example-modal-sm modal-update-account" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Cập nhật tài khoản</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-12"><label>Username</label>
                            <input type="text" class="form-control" id="txtUsernameUser">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12"><label>Email</label>
                            <input type="email" class="form-control" id="txtEmailUser">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12"><label>Trạng thái hoạt động</label> 
                            <select class="form-control" id="txtStatusModal">
                                <option value="0">Khoá</option>
                                <option value="1">Hoạt động</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btnConfirmUpdateUser">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP THÊM tài khoản owner  -->
    <div class="modal fade bs-example-modal-sm modal-add-account-owner" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Thêm Tài khoản Quản Lý</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        </div>
                        <div class="form-group col-xl-12"><label>Nhập Email</label> 
                            <input placeholder="ldk.software@gmail.com" type="email" class="form-control" id="txtEmailOwnerAdd">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12 infoUserAdd">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button _agencyID="<%=infoAgency._id%>" class="btn btn-info btnAddOwnerIsExisted">Thêm Quản Lý</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- POPUP THÊM tài khoản employee  -->
    <div class="modal fade bs-example-modal-sm modal-add-account-employee" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Thêm Tài khoản Nhân viên</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        </div>
                        <div class="form-group col-xl-12"><label>Nhập Email</label> 
                            <input placeholder="ldk.software@gmail.com" type="email" class="form-control" id="txtEmailEmployeeAdd">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-12 infoUserAdd">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button _agencyID="<%=infoAgency._id%>" class="btn btn-info btnAddEmployeeIsExisted">Thêm Nhân Viên</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

     <!-- POPUP TẠO CHI NHÁNH -->
    <div class="modal fade bs-example-modal-sm modal-create-agency-child" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Khởi tạo Chi Nhánh</h5>
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Tên đại lý</label> 
                            <input type="text" class="form-control" id="txtNameAgencyChild">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Email</label> 
                            <input type="email" class="form-control" id="txtEmailAgencyChild">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-4"><label>Số điện thoại</label> 
                            <input type="number" class="form-control" id="txtPhoneAgencyChild">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Mã Đại Lý</label> 
                            <input type="text" class="form-control" id="txtCodeAgencyChild">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-4"><label>Mã số thuế</label> 
                            <input type="number" class="form-control" id="txtTaxCodeAgencyChild">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col">
                            <label>Sản phẩm nhận cầm</label>
                            <input type="text" class="form-control" id="txtProductPawnInsert">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                            <input type="text" class="form-control" id="txtAddressAgencyChild">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Tỉnh/Thành Phố</label> 
                            <select class="form-control" id="txtCityFilterAgencyChild">
                                <option value="">Chọn Tỉnh/Thành phố</option>
                                <% listProvince.forEach(province => { %>
                                    <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                <% }) %>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Quận/Huyện</label>
                            <select class="form-control" id="txtDistrictFilterChild">
                                <option value="">Chọn Quận/Huyện</option>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Xã/Phường</label>
                            <select class="form-control" id="txtWardFilterChild">
                                <option value="">Chọn Xã/Phường</option>
                            </select>
                            <br>
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Vĩ độ</label> 
                            <input type="number" class="form-control" placeholder="VD: 10.848200508644084" id="txtLongitudeAgencyChild">
                            <small>Set Error</small>
                        </div>
                        <div class="form-group col-xl-6"><label>Kinh độ</label> 
                            <input type="number" class="form-control" placeholder="VD: 106.7866335683083" id="txtLatitudeAgencyChild">
                            <small>Set Error</small>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Giờ mở cửa</label> 
                            <input type="time" class="form-control" id="txtOpenTimeAgencyChild">
                        </div>
                        <div class="form-group col-xl-6"><label>Giờ đóng cửa</label> 
                            <input type="time" class="form-control" id="txtCloseTimeAgencyChild">
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Ảnh đại diện</label> 
                            <input id="btnUploadAvatarInsert" type="file" class="form-control"accept="image/*">
                            <div class="image-avatar">
    
                            </div>
                        </div>
                        <div class="form-group col-xl-6"><label>Album ảnh</label> 
                            <input id="btnUploadGalleryInsert" type="file" class="form-control" accept="image/*" multiple >
                            <div class="image-gallery">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btnAddAndUpdateAgencyBranch border-btn-black" >Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalNotifyCreateSuccess" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="icon-box">
                        <i class="fas fa-check-circle"></i>
                    </div>				
                    <h4 class="modal-title w-100 ownerCreateSuccess">Tạo quản lý thành công!</h4>	
                    <h4 class="modal-title w-100 employeeCreateSuccess">Tạo nhân viên thành công!</h4>	
                </div>
                <div class="modal-body">
                    <p class="text-center">Mật khẩu đã được gửi đến email <b><span class="emailCreateSuccess"></span></b> của bạn</p>
                    <p class="text-center">Vui lòng kiểm tra email của bạn</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>   