<div class="container container--main py-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 align-self-center">
            <div class="">
                <h3 class="font-weight-semi-bold text--blue text-left">Liên hệ với chúng tôi</h3>
                <p class="text--gray text-justify">
                    Chúng tôi rất muốn hỗ trợ bạn trong hành trình vay K360 của bạn. Bạn có thể nói chuyện với bất kỳ nhóm hỗ trợ khoản vay nào của chúng tôi trong giờ làm việc.
                </p>

                <p class="text--blue_dark font-weight-semi-bold text-left">
                   Liên hệ với chúng tôi tạm thời trong thời gian kiểm dịch cộng đồng chung
                </p>
                <ul class="list-unstyled">
                    <li class="text--gray">Thứ Hai đến Thứ Bảy, 9:00 sáng đến 5:00 chiều</li>
                    <li class="text--gray"><supp class="text--green">*</supp>
                        4:30 chiều thời gian giới hạn cho các giao dịch tự động
                    </li>
                </ul>

                <ul class="list-unstyled">
					<li class="text--gray">email: <a target="_blank" href="" ><span class="text--blue font-weight-semi-bold" >info@k-group.asia</span></a></li>
                    <li class="text--gray">phone: <a href="tel:+63288282274" ><span class="text--blue font-weight-semi-bold" >0935 339988</span></a></li>
                    <li class="text--gray">Hotline: <a target="_blank" href="" ><span class="text--blue font-weight-semi-bold" >18001237</span></a></li>
                </ul>

                <p class="text--blue_dark font-weight-semi-bold text-left">K360 VN</p>

                <ul class="list-unstyled">
                    <li class="text--gray">12B Nguyễn Hữu Cảnh, Phường 19</li>
                    <li class="text--gray">Quận Bình Thạnh, TP. Hồ Chí Minh</li>
                </ul>

                <!-- <p class="text--gray text-justifyd mt-1">
                    PawnHero Pawnshop Philippines Inc. is regulated by the Bangko Sentral ng Pilipinas with contact number (02) 8708-7807 and email address consumeraffairs@bsp.gov.ph</li>
                </p> -->
            </div>
        </div>
        <div class="col-sm-12 col-md-6 align-self-center">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2881037886073!2d106.7098766506826!3d10.789232061868995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ad5ac1d1c5%3A0x209518c71789241f!2zMTJiIE5ndXnhu4VuIEjhu691IEPhuqNuaCwgUGjGsOG7nW5nIDE5LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1621220844379!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid backg-gray">
    <div class="container mt-0 py-5">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-6" >
                <p class="text--blue_dark font-weight-semi-bold text-center">Muốn chúng tôi gọi bạn không? Chỉ cần viết chi tiết liên hệ và tin nhắn của bạn vào biểu mẫu bên dưới.</p>
            </div>
        </div>
        <form class="my-3">
            <div class="form-row">
                <div class="col-sm-12">
                    <div class=" error-container">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="" class="sr-only">Full name</label>
                    <input id="txtFullname" type="text" class="form-control" id="name" name="name" placeholder="Họ và Tên">
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="sr-only">Mobile</label>
                    <input id="txtPhone" type="number" class="form-control" id="mobile" name="mobile" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="" class="sr-only">Email</label>
                    <input id="txtEmail" type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="sr-only">Subject</label>
                    <select class="custom-select" id="txtType" name="">
                        <option value="" selected hidden disabled>Loại</option>
                        <% TYPE_CONTACT.forEach(type => { %>
                            <option value="<%=type.value%>"><%=type.text%></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="" class="sr-only">Nội dung</label>
                    <textarea value="" class="form-control" id="txtContent" name="message" rows="6" placeholder="Nội dung"></textarea>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 ">
                    <button id="btnSubmitMessage" class="btn btn-block btn-orange">
                        <span class="ladda-label font-weight-semi-bold">GỬI</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="advisory_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class=" text--white py-3">
                    <p class="font-weight-semi-bold text--size_18">Extension of Loan Payments and Loan Renewals</p>
                    <p>Customers with loans maturing within the period 17 March 2020 to 15 April 2020 may request for
                        extension of:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Loan payment</p>
                        </li>
                        <li>
                            <p>2. Loan renewal</p>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">For extension of loan payment:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer must make their requests on or before the maturity date of their loan</p>
                        </li>
                        <li>
                            <p>2. Go to <a class="text-white" href="https://pawnhero.ph/contact-us"
                                    target="_blank"><u>https://pawnhero.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@pawnhero.ph"><u>customer@pawnhero.ph</u></a> the request for
                                extension of loan payment with the following information:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Name</p>
                                </li>
                                <li>
                                    <p>b. Pawn Ticket No.</p>
                                </li>
                                <li>
                                    <p>c. Email address</p>
                                </li>
                                <li>
                                    <p>d. Mobile number</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>3. A confirmation reply thru email or SMS will be sent to the customer should extension
                                for loan payment is approved.</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Loan payment is extended until <strong>30 April 2020</strong></p>
                                </li>
                                <li>
                                    <p>b. Pro-rated interest or other charges as a result of the extension shall be
                                        waived</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">For extension of loan renewal:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer must make their requests on or before the maturity date of their loan</p>
                        </li>
                        <li>
                            <p>2. Go to <a class="text-white" href=""
                                    target="_blank"><u>https://pawnhero.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@pawnhero.ph"><u>customer@pawnhero.ph</u></a> the request for
                                extension of loan renewal with the following information:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Name</p>
                                </li>
                                <li>
                                    <p>b. Pawn Ticket No.</p>
                                </li>
                                <li>
                                    <p>c. Email address</p>
                                </li>
                                <li>
                                    <p>d. Mobile number</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>3. A confirmation reply thru email or SMS will be sent to the customer should extension
                                for loan renewal is approved. No pro-rated interest or other charges as a result of the
                                extension shall be charged to the customer.</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Loan renewal is extended until <strong>25 April 2020</strong></p>
                                </li>
                                <li>
                                    <p>b. Pro-rated interest or other charges as a result of the extension shall be
                                        waived</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">Online Payments</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer may continue paying or renewing their loans online thru:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Direct bank transfers to Pawnhero Pawnshop Philippines, Inc.
                                        <br />Security Bank - 0000016827011
                                        <br />BDO - 007100058845
                                    </p>
                                </li>
                                <li>
                                    <p>b. Bills payments (Pawnhero Pawnshop Philippines, Inc.)
                                        <br />Coins.ph
                                        <br />Security Bank
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>2. Customer must include in remarks the Pawn Ticket Number being paid or renewed</p>
                        </li>
                        <li>
                            <p>3. After payment has been made, the customer must send proof of remittance/transfer to <a
                                    class="text-white" href="https://pawnhero.ph/contact-us"
                                    target="_blank"><u>https://pawnhero.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@pawnhero.ph"><u>customer@pawnhero.ph</u></a> or message us in
                                our Facebook page.</p>
                        </li>
                        <li>
                            <p>4. An email or SMS will be sent to the customer once payment validation is successful.
                            </p>
                        </li>
                        <li>
                            <p>5. Once loan payment is validated, pawned item/s will be delivered by PawnHero or can be
                                picked up in our office by the customer as soon as the quarantine is lifted.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="advisory2_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class=" text--white py-3">
                    <p class="font-weight-semi-bold text--size_24">
                        Frequently Asked Questions
                    </p>
                    <p class="font-weight-semi-bold">
                        1. How do I apply for a loan?
                    </p>
                    <p>
                        STEP 1
                    </p>
                    <p class="font-italic"> 
                        Go to 
                        <a class="text--white" target="_blank" href="https://pawnhero.ph/">
                            <u>www.pawnhero.ph</u>
                        </a> 
                        and create your pawn ticket.
                    </p>
                    <p>
                        STEP 2
                    </p>
                    <p class="font-italic">
                        Once you have accepted our initial loan offer estimate, you may now select your item pick-up schedule.
                    </p>
                    <p>
                        STEP 3
                    </p>
                    <p class="font-italic">
                        You will then get a final offer from us once your item is appraised and authenticated. Once you have accepted our final offer, you will receive your money in a few hours via bank transfer or Coins.ph.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        2. Can I have my collateral picked up from home for appraisal?
                    </p>
                    <p class="font-italic">  
                        No need to drop by our office. You can have your collateral picked up by our Pawntroopers. Then our appraisal team will conduct inspection of your item for proper appraisal.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        3. How will you appraise my item?
                    </p>
                    <p class="font-italic">
                        Once our Pawntrooper has picked up your item, it will be sent to our appraisal center in BGC for the physical appraisal. You will then get a final offer from us once your item is appraised and authenticated. 
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        4. How can I get my money?
                    </p>
                    <p class="font-italic">
                        You will receive your money via bank transfer, bank deposit or Coins.ph.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        5. How can I renew my loan?
                    </p>
                    <p class="font-italic">
                        You can renew without the need to go out of your house!      
                    </p>
                    <p>
                        STEP 1
                    </p>
                    <p class="font-italic"> 
                        Request for renewal through the website
                    </p>
                    <p>
                        STEP 2
                    </p>
                    <p class="font-italic"> 
                        Pay through any of the following payment methods:
                        Online Bank Payment, Coins.ph, Electronic Fund Transfer (PESONet, Instapay)
                    </p>
                    <p>
                        STEP 3
                    </p>
                    <p class="font-italic"> 
                        Send proof of payment through the website or email it to 
                        <a class="text--white" href="mailto:customer@pawnhero.ph">
                            <u>customer@pawnhero.ph</u> 
                        </a>
                        <a class="text--white" href="mailto:finance@pawnhero.ph">
                            <u>and finance@pawnhero.ph</u>
                        </a>
                    </p>
                    <p>
                        STEP 4
                    </p>
                    <p class="font-italic"> 
                        Once payment is confirmed, your loan will be renewed!
                    </p>
                    <p class="font-weight-semi-bold mt-4">
                        6. How can I redeem my item?
                    </p>
                    <p class="font-italic">
                        To redeem your item, just settle your loan balance online and we will deliver your pawned item to you safely. Please note that deliveries may be delayed until further notice. 
                    </p>
                    <div class="text-center">
                        <a id="pawn-now-btn-modal" class="btn btn-orange px-5 btn-circle shadow" href="https://pawnhero.ph/pawn">Pawn now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="walkin_preventive_measures_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="w-75 mx-auto text--white py-3">
                    <p class="font-weight-semi-bold text--size_24">
                        Preventive Measures Against COVID-19 for Walk-in Transactions
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        1. Temperature is checked by W Global Center admin to prevent entry of clients or employees with 37.6 degrees and above temperature.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        2. PawnHero employees are equipped with sanitizing kits to be used at all times.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        3. Social distancing is encouraged during transactions. We practice a 1-meter distance between client and PawnHero employee.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        4. PawnHero Client Lounge, tables, chairs and other equipment are regularly disinfected.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        5. If in any case a PawnHero employee does not feel well, we do not encourage reporting to work.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        6. We are strictly implementing a No Mask, No Entry policy for everyone's safety.
                    </p>
                    
                    <div class="text-center">
                        <a id="pawn-now-btn-modal" class="btn btn-orange px-5 btn-circle shadow" href="https://pawnhero.ph/pawn">Pawn now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalNotifyCreateSuccess" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align: center; width: 100%;">Gửi Liên hệ thành công!</h4>	
                <img style="position: absolute; margin-top: 70px;
                left: 50%;
                margin-left: -50px;" src="../../../../template/img/checked.png" width="100px" height="100px" alt="success">
            </div>
            <br><br><br><br><br>
            <div class="modal-body">
                <p class="text-center">Liên hệ của bạn đã được gửi đi. </p>
                <p class="text-center">Chúng tôi sẽ phản hồi lại sớm nhất có thể.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block btnOk" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="alert alert-ph alert-cookie alert-dismissible animated show fadeIn p-4" role="alert">
    <div class="alert-head">
        <strong>Dear PawnHero customers,</strong>
    </div>
    <div class="alert-body mt-3">
        <p class="text-justify">
            This website uses cookies to ensure you get the best experience on our website. <a href="https://pawnhero.ph/privacy-policy"><u class="text-white">Read more</u></a>
        </p>
    </div>
    <div class="alert-footer text-center">
        <button id="i_understand_cookie" type="button" class="font-weight-semi-bold btn btn-green btn-circle px-5 shadow " >I understand</button>
    </div>
</div> -->