<% 
    // let agencyID;
    // if(infoUser.agency && infoUser.agency.length){
    //     infoUser.agency.forEach(agency => {
    //         if(agencyChoosed && agency._id.toString() === agencyChoosed._id.toString()){
    //             agencyID = agency._id;
    //         } 
    //     })
    // }
    const statusUser = infoUser && infoUser.level;
    const agencyIDChoised = agencyChoosed && agencyChoosed._id;
    let arrUrl = [
        // {
        //     name: 'Dashboard',
        //     path: '/home',
        //     icon: `<span class="icon-laptop_windows"></span>`,
        // },
        
        {
            id: 1,
            name: 'Quản lý nhân viên',
            path: '/agency/view-list-employee',
            icon: `<span class="icon-user-check"></span>`,
            childs: [
            ]
        },
        {
            id: 2,
            name: 'Quản lý chi nhánh',
            path: `/agency/list-agency-branch/` + agencyIDChoised,
            icon: `<span class="icon-flow-merge"></span>`,
        },
        {
            id: 3,
            name: 'Quản lý danh mục',
            path: '/product-category/list-product-category-by-parent',
            icon: `<span class="icon-newspaper"></span>`,
        },
        {
           id: 4,      
           name: 'Kiểm Kê',
           icon: `<span class="icon-line-graph"></span>`,
           childs: [
               {
                   name: 'Danh sách Giao Dịch trong ngày',
                   path: '/transaction/list-transaction-24h',
               },
               {
                   name: 'Danh sách Sản Phẩm Giao Dịch trong ngày',
                   path: '/transaction/list-product-24h',
               },
               {
                   name: 'Danh sách các Phiên Kiểm Kê',
                   path: '/inventory/list-inventory',
               },
           ]
        },
        {
            id: 5,
            name: 'Quản lý khách hàng',
            path: '/customer/list',
            icon: `<span class="icon-users"></span>`,
        },
        {
           id: 6,
           name: 'Quản lý giao dịch',
           <!-- path: '/transaction/list-transaction', -->
           icon: `<span class="icon-swap"></span>`,
           childs: [
                {
                   name: 'Tất cả giao dịch',
                   path: '/transaction/list-transaction',
               },
                //{
                //    name: 'Giao dịch 24h',
                //    path: '/transaction/list-24h-transaction',
                // },
               {
                    name: 'Giao dịch sắp đến hạn',
                    path: '/transaction/list-maturity-transaction?type=maturity',
                },
                {
                    name: 'Giao dịch đến hạn',
                    path: '/transaction/list-maturity-transaction?type=expires',
                },
                {
                    name: 'Giao dịch có thể thanh lý tài sản',
                    path: '/transaction/list-maturity-transaction?type=liquidationAssets',
                }
           ]
        },
        {
           id: 7,
           name: 'Duyệt giao dịch',
           icon: `<span class="icon-check2"></span>`,
           childs: [
                {
                    name: 'Duyệt tạo giao dịch',
                    path: '/transaction/list-create-transaction-inspect',
                },
                {
                    name: 'Duyệt chuộc đồ',
                    path: '/transaction/list-ransom-inspect',
                },
                {
                    name: 'Loại giao dịch khác',
                    path: '/transaction/list-transaction-normal',
                }
            ]
        },
        {
           id: 8,
           name: 'Quản lý quỹ',
           icon: `<span class="icon-local_atm"></span>`,
           childs: [
                {
                    name: 'Quỹ tiền mặt',
                    path: '/financial/list-financials',
                },
                {
                    name: 'Quỹ tiền ngân hàng',
                    path: '/financial/list-financial-bank',
                }
            ]
        },
		{
            id: 9,
            name: 'Yêu cầu định giá',
            path: '/pricing-request/list-pricing-request',
            icon: `<span class="icon-loop"></span>`,
        },
        {
            id: 10,
            name: 'Quản lý lãi',
            path: '/list-interest-rate',
            icon: `<span class="icon-coin-dollar"></span>`,
        },
        // {
        //     id: 11,
        //     name: 'Thông báo hệ thống',
        //     path: '/notification/list-notification-core',
        //     icon: `<span class="icon-markunread"></span>`,
        // },
        {
            id: 12,
            name: 'Thống kê',
            icon: `<span class="icon-pie-chart"></span>`,
            childs: [
                {
                    name: 'Quản lý đại lý',
                    path: `/agency`,
                },
                {
                    name: 'Doanh số bán hàng',
                    path: '/transactions',
                },
                {
                    name: 'Danh sách giao dịch 24h',
                    path: '/transaction/list-transaction-in-day',
                }
            ]
        },
    ];
%>

<aside class="app-side" id="app-side">
    <!-- BEGIN .side-content -->
    <div class="side-content ">
        <!-- BEGIN .user-profile -->
        <div class="user-profile">
            <img src="../../../../template/new-admin/img/78775c519f0a6e54371b.jpg" class="profile-thumb" alt="User Thumb" style="object-fit: cover;width:50px;height: 50px;">
            <h6 class="profile-name"><%= infoUser.username%></h6>
            <ul class="profile-actions">
                <li>
                    <a href="#">
                        <i class="icon-social-skype"></i>
                        <span class="count-label red"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="icon-export"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END .user-profile -->
        <!-- BEGIN .side-nav -->
        <nav class="side-nav">
            <!-- BEGIN: side-nav-content -->
            <ul class="unifyMenu" id="unifyMenu">
                <% const MENU_ID         = 7 %>
                <% const STATUS_EMPLOYEE = 2 %>

                <% const MEMU_ID_EMPLOYEE_NOT_ACCEPT = [ 1, 2, 3, 7, 10, 11, 12 ] %>
                <% if(statusUser == 2) { %>
                    <% arrUrl = arrUrl.filter( url => !MEMU_ID_EMPLOYEE_NOT_ACCEPT.includes(url.id)) %>
                <% } %>

                <% arrUrl.forEach(urlObj => { %>
                    <li class="<%= urlObj.path === hrefCurrent ? 'active selected' : '' %>">
                        <% let hasChild        = urlObj.childs && urlObj.childs.length %>
                        <% if (!hasChild) { %>
                            <a href="<%= urlObj.path %>">
                                <span class="has-icon">
                                    <%- urlObj.icon %> 
                                </span>
                                <span class="nav-title"><%= urlObj.name %></span>
                            </a>
                        <% } else{ %>
                            <a href="#" class="has-arrow" aria-expanded="false">
                                <span class="has-icon">
                                    <%- urlObj.icon %>
                                </span>
                                <span class="nav-title"><%= urlObj.name %></span>
                            </a>
                            <ul aria-expanded="false">
                                <% urlObj.childs.forEach(urlObjChild => { %>
                                    <li class="<%= hrefCurrent == urlObjChild.path ? 'child-selected' : '' %>">

                                        <a href="<%= urlObjChild.path %>"> <%= urlObjChild.name %> </a>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
            <!-- END: side-nav-content -->
        </nav>
        <!-- END: .side-nav -->
    </div>
    <!-- END: .side-content -->
</aside>


