<% moment.locale('vi') %>
<style>
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 35px auto;
    }
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input {
        display: none;
    }
    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit input + label span {
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-upload .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Tạo bài viết</h5>
                            <!-- <h6 class="sub-heading">Create a post</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-md-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row pt-3">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Tiêu đề</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control--bgLight" type="text" placeholder="Nhập tên bài viết" id="txtTitle">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Slug</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control--bgLight" type="text" id="txtSlug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô Tả ngắn</label>
                                <div>
                                    <textarea class="form-control form-control--bgLight" id="txtShortDescription" rows="5" placeholder="Mô tả ngắn"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="col-form-label">Chi tiết</label>
                                <textarea id="txtContent"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-4">
                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Tùy Chọn</h4>
                            <div>
                                <label class="col-form-label">Danh Mục</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control form-control--bgLight" id="txtCategory">
											<option value="0" disabled selected>Chọn danh mục</option>
                                            <% listCategories && listCategories.length && listCategories.forEach(category => { %>
                                                <option value="<%= category._id %>"> <%= category.name %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div> 
                                <label class="col-form-label">SEO</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input class="form-control form-control--bgLight" type="text" placeholder="VD: gach, da, xi mang" id="txtSeo">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng Thái</label>
                                            <div>
                                                <div class="input-group">
                                                    <div>
                                                        <label class="custom-control custom-radio">
                                                            <input name="cbStatus" type="radio" class="custom-control-input" value="1" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Hiển thị</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input name="cbStatus" type="radio" class="custom-control-input" value="0">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Không hiển thị</span>
                                                        </label>
                                                    </div>
                                                    <!-- <div class="form-check">
														<label class="form-check-label">
															<input class="form-check-input" id="cbStatus" type="checkbox"> Hiển thị
														</label>
													</div> -->
                                                    <!-- <input id="cbStatus" switch="dark" type="checkbox" checked> 
                                                    Hiển thị
                                                    <label for="cbStatus" data-on-label="On" data-off-label="Off"></label>  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Hình Ảnh</h4>
                            <br>
                            <div class="container">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="blogImage" accept=".png, .jpg, .jpeg" />
                                        <label for="blogImage">
                                            <span class="icon-add" style="font-size: 25px;"></span>
                                        </label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-block waves-effect waves-light btn-lg" id="btnAddBlog" >Thêm Mới</button>
                    <a href="/blog/list-post" class="btn btn-outline-primary btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
