<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .dataTables_length,
	.dataTables_paginate{
		display: none;
	} */
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách bài viết</h5>
                            <!-- <h6 class="sub-heading">List posts</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="/blog/add-post" class="btn btn-outline-primary waves-effect waves-light">
									<span class="icon-add_circle"></span>
                                    Tạo bài viết
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-post">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Danh mục</th>
                                        <th>Slug</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Ngày tạo</th>
                                        <th>Hình ảnh</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listPosts && listPosts.length) { %>
                                        <% listPosts.forEach(( post, index ) => { %>
                                            <tr class="tr-post-<%= post._id %>">
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= post.title %>
                                                    </i>
                                                </td>
                                                    <td>
                                                    <i>
                                                        <%=post.category &&  post.category.name %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= post.slug %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <% let description = post.description.length > 100 ? post.description.substr(0, 100) + '...' : post.description %> 
                                                        <%= description %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= moment(post.createAt).format('L') %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (post.image) { %>
                                                        <img class="img-fluid img-thumbnail rounded" src="<%= post.image.path %>">
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <% if (post.status === 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% } else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2 border-btn-black">
                                                        <button type="button" class="btn btn-primary btn-sm">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item" 
                                                                href="/blog/update-post/?postID=<%= post._id %>">
                                                                Sửa Thông Tin
                                                            </a>
															<a class="dropdown-item" 
                                                                href="/blog/list-comment-by-post/?postID=<%= post._id %>">
                                                                Xem bình luận
                                                            </a>
                                                            <a class="dropdown-item btnBlockUser btnDeleteBlog" 
                                                                href="javascript:void(0)" 
                                                                _postID="<%= post._id %>">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
