<script>
    $(document).ready(function () {
        let mailformat = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        function delay(callback, ms) {
            var timer = 0;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                callback.apply(context, args);
                }, ms || 0);
            };
        }

        function readURL(input, idImage, type) {
            if ( input.files && input.files[0] ) {
                // console.log({ files: input.files });
                for (let  i = 0; i < input.files.length; i++){
                    // console.log({ img: input.files[i] });
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        if(type == "imgAvatarUpdate" || type == "imgAvatarInsert"){
                            $(idImage).empty();
                        }
                        $(idImage).append(`
                            <div class="img-wraps">
                                <span class="close deleteImage" _type="${type}" _imgName="${input.files[i].name}" _imageID = "">&times;</span>
                                <a href="${e.target.result}"  class="effects">
                                    <img  src="${e.target.result}" value="${input.files[i].name}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
                                    <div class="overlay">
                                        <span class="expand">+</span>
                                    </div>
                                </a>
                            </div>
                        `);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        //Quận, huyện
        $('#txtCityFilter').on('change', function () {
            $("#txtDistrictFilter").empty();
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="">Chọn Quận/Huyện</option>`;
                    listDistrict.forEach(district => {
                        dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtDistrictFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        //Xã, phường
        $('#txtDistrictFilter').on('change', function () {
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Chọn Xã/Phường</option>`;
                    listWard.forEach(ward => {
                        dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtWardFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

                //Quận, huyện
        $('#txtCityFilterAgencyChild').on('change', function () {
            $("#txtDistrictFilterChild").empty();
            $("#txtWardFilterChild").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="">Chọn Quận/Huyện</option>`;
                    listDistrict.forEach(district => {
                        dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtDistrictFilterChild").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        //Xã, phường
        $('#txtDistrictFilterChild').on('change', function () {
            $("#txtWardFilterChild").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Chọn Xã/Phường</option>`;
                    listWard.forEach(ward => {
                        dataAppend += `<option value="${ward[0]}">${ward[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtWardFilterChild").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });
        
        let sortReturn = $("#sort-other").attr("_sort");
        $("#sort-other").val(sortReturn);

        //Quận, huyện
        $('#txtCitySearch').on('change', function () {
            $("#txtDistrictSearch").empty();
            $("#txtWardSearch").empty();
            let value = $(this).val();
            let districtReturn = $("#txtDistrictSearch").attr("_district");
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="">Chọn Quận Huyện</option>`;
                    listDistrict.forEach(district => {
                        if(district[1].code == districtReturn){
                            dataAppend += `<option selected value="${district[1].code}">${district[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtDistrictSearch").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        //Xã, phường
        $('#txtDistrictSearch').on('change', function () {
            $("#txtWardSearch").empty();
            let value = $(this).attr("_district");
            let wardReturn = $("#txtWardSearch").attr("_ward");
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Tất cả</option>`;
                    listWard.forEach(ward => {
                        if(ward[1].code == wardReturn){
                            dataAppend += `<option selected value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtWardSearch").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        //Show modal cập nhật thông tin đại lý
        $('.btnUpdateInfoAgency').on('click', function (e) {
            e.preventDefault();

			$('.model-create-product-category').modal('show');
            let agencyID = $(this).attr("_agencyID");

			$.ajax({
                url: `/agency/info-agency/${agencyID}`,
                method: 'GET',
                success: resp => {
                    let { name, email, phone, address, location, openTime, status, closeTime, code, tax_code, city, district, ward, productPawn, avatar, gallery, percentPawn } = resp.data;
                    let longitude = location.coordinates[0];
                    let latitude = location.coordinates[1];
                    if (!resp.error){

                        $("#txtName").val(name);
                        $("#txtEmail").val(email);
                        $("#txtPhone").val(phone);
                        $("#txtAddress").val(address);
                        $("#txtLatitude").val(latitude);
                        longitude ? $("#txtLongitude").val(longitude) : $("#txtLongitude").val("");
                        latitude ? $("#txtLatitude").val(latitude) : $("#txtLatitude").val("");
                        $("#txtOpenTime").val(openTime);
                        $("#txtCloseTime").val(closeTime);
                        $("#txtCode").val(code);
                        $("#txtTaxCode").val(tax_code);
                        $("#txtCityFilter").val(city);
                        $("#txtDistrictFilter").val(district);
                        $("#txtWardFilter").val(ward);
                        $("#txtProductPawn").val(productPawn);
                        $("#txtPercentPawn").val(percentPawn || 0);
                        
                        status == 1 ? $('#radio1').attr('checked', 'checked') : $('#radio2').attr('checked', 'checked');

                        if(avatar){
                            $(".image-avatar-update").empty();
                            $(".image-avatar-update").append(`
                                <div class="img-wraps">
                                    <a href="${avatar.path}" class="effects">
                                        <img  src="${avatar.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
                                        <div class="overlay">
                                            <span class="expand">+</span>
                                        </div>
                                    </a>
                                </div>
                            `);
                        }

                        if(gallery && gallery.length){
                            let dataAppend = ``;
                            gallery.forEach(image => {
                                dataAppend += `<div class="img-wraps">
                                    <span class="close deleteImage" _imageID="${image._id}" _type="imgGalleryUpdate" _imgName="${image.name}">&times;</span>
                                    <a href="${image.path}" class="effects">
                                        <img  src="${image.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
                                        <div class="overlay">
                                            <span class="expand">+</span>
                                        </div>
                                    </a>
                                </div>`
                            imgGalleryOldDelete[imgGalleryOldDelete.length] = image._id;
                            })
                            $(".image-gallery-update").empty();
                            $(".image-gallery-update").append(dataAppend);
                        }

                        //Truyền data quận huyện
                        $.ajax({
                            url: `/list-districts/${city}`,
                            method: 'get',
                            success: resp => {
                                let { listDistricts } = resp;
                                let listDistrict = Object.entries(listDistricts);
                                let dataAppend = "";
                                listDistrict.forEach(districts => {
                                    if(districts[1].code.toString() == district.toString()){
                                        dataAppend += `<option value="${districts[1].code}" selected>${districts[1].name_with_type}</option>`
                                    }else{
                                        dataAppend += `<option value="${districts[1].code}">${districts[1].name_with_type}</option>`
                                    }
                                })
                                if (!resp.error){
                                    $("#txtDistrictFilter").append(dataAppend);
                                }else{
                                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                                }
                            },
                            error: function(err) {
                                return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                            }
                        });

                        //Truyền data xã phường
                        $.ajax({
                            url: `/list-wards/${district}`,
                            method: 'get',
                            success: resp => {
                                let { listWards } = resp;
                                let listWard = Object.entries(listWards);
                                let dataAppend = "";
                                listWard.forEach(wards => {
                                    if(wards[1].code.toString() == ward.toString()){
                                        dataAppend += `<option value="${wards[1].code}" selected>${wards[1].name_with_type}</option>`
                                    }else{
                                        dataAppend += `<option value="${wards[1].code}">${wards[1].name_with_type}</option>`
                                    }
                                })
                                if (!resp.error){
                                    $("#txtWardFilter").append(dataAppend);
                                }else{
                                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                                }
                            },
                            error: function(err) {
                                return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                            }
                        });

                        $(".btnAddAndUpdateAgency").attr("_agencyID", agencyID);

                        
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                }
            });
        });

        //Show modal cập nhật thông tin owner, employee
        $('.btnUpdateUser').on('click', function (e) {
            e.preventDefault();

            let userID = $(this).attr("_userID");
            let status = $(this).attr("_status");
            setSuccess("#txtEmailUser");
            $('.modal-update-account').modal('show');

            $.ajax({
                url: `/agency/info-user-update?userID=${userID}`,
                method: 'GET',
                success: resp => {
                    let { email, username } = resp.data;
                    if (!resp.error){
                        $("#txtEmailUser").val(email);
                        $("#txtUsernameUser").val(username);
                        $("#txtStatusModal").val(status);
                        $(".btnConfirmUpdateUser").attr("_userID", userID);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                }
            });
        });

        //Hàm check email ton tai
        function checkExistedEmailAgency(email){
            return new Promise(async resolve => {
                $.ajax({
                    url: `/agency/check-email-existed`,
                    method: 'POST',
                    data: { 
                        email
                    },
                    success: resp => {
                        if(resp.data){
                            return resolve({ error: true, message: "email_is_existed" });
                        }else{
                            return resolve({ error: false, message: "code_invalid" });
                        }
                    },
                    error: function(err) {
                        return resolve({ error: true, message: "cannot_get_email" });
                    }
                });
            })
        }

        //Tạo
        $("#btnUploadGallery").change(function(){
            let idImage     = '.image-gallery-update';
            let arrImgGallery = $("#btnUploadGallery")[0].files;
            for( let i = 0; i < arrImgGallery.length; i++){
                imgGalleryUpdate.push(arrImgGallery[i]);
            }
            let type = "imgGalleryUpdate";
            readURL(this, idImage, type );
        });

        $("#btnUploadAvatar").change(function(){
            let idImage     = '.image-avatar-update';
            avatarAgencyUpdate = $("#btnUploadAvatar")[0].files[0];
            avatarAgencyUpdate = [avatarAgencyUpdate];
            let type = "imgAvatarUpdate";
            readURL(this, idImage, type );
        });

        //Tạo
        $("#btnUploadGalleryInsert").change(function(){
            let idImage     = '.image-gallery';
            let arrImgGallery = $("#btnUploadGalleryInsert")[0].files;
            for( let i = 0; i < arrImgGallery.length; i++){
                imgGalleryInsert.push(arrImgGallery[i]);
            }
            let type = "imgGalleryInsert";
            readURL(this, idImage, type );
        });

        $("#btnUploadAvatarInsert").change(function(){
            let idImage     = '.image-avatar';
            avatarAgencyInsert = $("#btnUploadAvatarInsert")[0].files[0];
            avatarAgencyInsert = [avatarAgencyInsert];
            let type = "imgAvatarInsert";
            readURL(this, idImage, type );
        });

        function removeVietnameseTones(str) {
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
            str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
            str = str.replace(/đ/g,"d");
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            str = str.replace(/Đ/g, "D");
            // Some system encode vietnamese combining accent as individual utf-8 characters
            // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
            str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
            str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
            // Remove extra spaces
            // Bỏ các khoảng trắng liền nhau
            str = str.replace(/ + /g," ");
            str = str.trim();
            // Remove punctuations
            // Bỏ dấu câu, kí tự đặc biệt
            str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
            return str;
        }

        let imgGalleryOldDelete = [];
        let imgGalleryOldIsDeleted = [];
        let imgGalleryUpdate = [];
        let imgGalleryInsert = [];
        let avatarAgencyUpdate;
        let avatarAgencyInsert;

        $(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if(type == "imgGalleryInsert"){
                imgGalleryInsert.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        imgGalleryInsert.splice(index, 1);
                        $(this).parent().remove();
                    }
                })
            }

            if ( type == "imgGalleryUpdate" ){
                if( imgID && imgID.length ){
                    imgGalleryOldDelete.forEach((imgUpdate, index) => {
                        // console.log({ imgUpdate });
                        if ( imgUpdate == imgID ){
                            let obj = {
                                id: imgUpdate,
                                name: imgName
                            }
                            imgGalleryOldIsDeleted[imgGalleryOldIsDeleted.length] = obj ;
                            imgGalleryOldDelete.splice(index, 1);
                            $(this).parent().remove();
                        }
                    });
                    //console.log({ imgGalleryOldIsDeleted });
                }else{
                    imgGalleryUpdate.forEach((imgUpdate, index) => {
                        if ( imgUpdate.name == imgName ){
                            imgGalleryUpdate.splice(index, 1);
                            $(this).parent().remove();
                        }
                    })
                }
            }
        }); 

        //Tự động sinh code đại lý
        $('#txtNameAgencyChild').on('keyup', delay(function (e) {
            e.preventDefault();
            let nameAgency = $(this).val();
            let step1 = nameAgency.split(" ");
            let codeAgency = "";
            if(step1 && step1.length){
                for(let i = 0; i < step1.length; i++){
                    codeAgency+= step1[i].substr(0, 1);
                }
            }
            // Chuyển về dạng slug và viết hoa.. VD: Tô Văn Thành Đạt => TVTD
            codeAgency = removeVietnameseTones(codeAgency).toUpperCase();
            console.log({ codeAgency });
            if(nameAgency){
                $("#txtCodeAgencyChild").val(codeAgency);
            }else{
                $("#txtCodeAgencyChild").val("");
            }
        }, 1500))

        function setSuccess(input){
            $(input).removeClass("error");
            $(input).parent().find('small').removeClass("errors");
        }

        function setError(input, errorMessage){
            $(input).addClass("error");
            $(input).parent().find('small').addClass("errors");
            $(input).parent().find('small').text(errorMessage);
        }

        $("#txtPhone").on("keyup", function(e){
            // e.preventDefault();
            let phone = $(this).val();
            // phone     = Number(phone);
            if(phone.length == 0){
                return setError("#txtPhone", "Số điện thoại không được phép rỗng");
            }
            if(!Number(phone) && phone != 0){
                $(this).val("");
                return setError("#txtPhone", "Số điện thoại không được phép nhập ký tự");
            }
            if(Number(phone) < 0){
                $(this).val("");
                return setError("#txtPhone", "Số điện thoại không được phép âm");
            }
            if(phone[0] != 0){
                $(this).val("");
                return setError("#txtPhone", "Số điện thoại phải bắt đầu bằng kí tự 0");
            }
            if(phone.length != 10){
                return setError("#txtPhone", "Số điện thoại phải đúng 10 kí tự");
            }
            setSuccess("#txtPhone");
        });  

        $("#txtTaxCode").on("keyup", function(e){
            // e.preventDefault();
            let TaxCode = $(this).val();
            // TaxCode     = Number(TaxCode);
            // console.log({ TaxCode });
            if( !TaxCode ){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép rỗng");
            }
            if( TaxCode && !Number(TaxCode) ){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép nhập ký tự");
            }
            if( Number(TaxCode) < 0){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép âm");
            }
            if(TaxCode.length != 10){
                return setError("#txtTaxCode", "Mã số thuế phải đúng 10 kí tự");
            }
            setSuccess("#txtTaxCode");
        });

        //Tạo và cập nhật đại lý
        $('.btnAddAndUpdateAgency').on('click', async function (e) {
            e.preventDefault();

            let name = $("#txtName").val();
            let email = $("#txtEmail").val();
            let phone = $("#txtPhone").val();
            let address = $("#txtAddress").val();
            let latitude = $("#txtLatitude").val();
            let longitude = $("#txtLongitude").val();
            let openTime = $("#txtOpenTime").val();
            let closeTime = $("#txtCloseTime").val();
			let percentPawn = $("#txtPercentPawn").val();

            let code = $("#txtCode").val();
            let tax_code = $("#txtTaxCode").val();
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            let productPawn = $("#txtProductPawn").val();
            let status = $('input[name="radio"]:checked').val();

            let agencyID = $(this).attr("_agencyID");
            !name ? setError("#txtName", "Tên đại lý không được phép rỗng") : setSuccess("#txtName");
            !email ? setError("#txtEmail", "Email không được phép rỗng") : setSuccess("#txtEmail");
            !phone ? setError("#txtPhone", "Số điện thoại không được phép rỗng") : setSuccess("#txtPhone");
            !address ? setError("#txtAddress", "Địa chỉ không được phép rỗng") : setSuccess("#txtAddress");
            !latitude ? setError("#txtLatitude", "Không được phép rỗng") : setSuccess("#txtLatitude");
            !longitude ? setError("#txtLongitude", "Không được phép rỗng") : setSuccess("#txtLongitude");
            !code ? setError("#txtCode", "Không được phép rỗng") : setSuccess("#txtCode");
            !tax_code ? setError("#txtTaxCode", "Không được phép rỗng") : setSuccess("#txtTaxCode");
            !city ? setError("#txtCityFilter", "Vui lòng chọn Tỉnh/Thành phố") : setSuccess("#txtCityFilter");
            !district ? setError("#txtDistrictFilter", "Vui lòng chọn Quận/Huyện") : setSuccess("#txtDistrictFilter");
            !ward ? setError("#txtWardFilter", "Vui lòng chọn Xã/Phường") : setSuccess("#txtWardFilter");
            !productPawn ? setError("#txtProductPawn", "Sản phẩm nhận cầm đồ không được phép rỗng") : setSuccess("#txtProductPawn");

            if(!name || !email || !phone || !address 
                || !openTime || !closeTime || !code || !tax_code || !city || !district || !ward || !productPawn){
                return toastr.warning(`Vui lòng điền đầy đủ các trường`, "THÔNG BÁO");
            }

            if(phone.length != 10){
                return toastr.warning(`Số điện thoại phải đúng 10 kí tự`, "THÔNG BÁO");
            }

            if(phone < 0){
                return toastr.warning(`Số điện thoại không được phép âm`, "THÔNG BÁO");
            }

            if(!email.match(mailformat)){
                return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
            }

            //return console.log({ avatarAgencyUpdate, imgGalleryUpdate, imgGalleryOldIsDeleted });

            let gallery = [];
            let avatar = [];

            disableAndLoading(this);

            if(avatarAgencyUpdate && avatarAgencyUpdate.length){
                let image_avatar_agency = await addFileToUpload(avatarAgencyUpdate);
                avatar = image_avatar_agency().map(item => item.uri);
            } 

            if(imgGalleryUpdate && imgGalleryUpdate.length){

                let multiInput = imgGalleryUpdate;

                await addFileToUpload(multiInput, links => {
                    links.forEach(item => {
                        gallery[gallery.length] = item.uri;
                    })
                    
                    $.ajax({
                        url: `/agency/update-agency/${agencyID}`,
                        method: 'POST',
						data: { name, email, phone, address, latitude, longitude, openTime, closeTime, status, code, tax_code, city, district, ward, productPawn, percentPawn,
							gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar)
						},
                        success: resp => {
                            if (!resp.error){
                                toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                                setTimeout(function(){
                                    location.reload();
                                }, 700);
                            }else{
                                enableAndStopLoading(this)
                                return toastr.error(`${resp.message}`, "THÔNG BÁO"); 
                            }
                        },
                        error: function(err) {
                            enableAndStopLoading(this)
                            return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                        }
                    });
                })
            }else{
                $.ajax({
                    url: `/agency/update-agency/${agencyID}`,
                    method: 'POST',
                    data: { name, email, phone, address, latitude, longitude, openTime, closeTime, status, code, tax_code, city, district, ward, productPawn, percentPawn,
                            gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar)
                    },
                    success: resp => {
                        console.log({ resp });
                        if (!resp.error){
                            toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 700);
                        }else{
                            enableAndStopLoading(this)
                            return toastr.error(`${resp.message}`, "THÔNG BÁO"); 
                        }
                    },
                    error: function(err) {
                        enableAndStopLoading(this)
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                });
            }
        });  

        //Cập nhật Employee => Owner
        $('.btnUpdateLevelUp').on('click', function (e) {
            e.preventDefault();
            if (confirm("Bạn có chắc chắn cập nhật sang tài khoản quản lý không?")){
                let userID = $(this).attr("_userID");
                let agency = $(this).attr("_agencyID");
                $.ajax({
                    url: `/agency/update-to-owner`,
                    method: 'POST',
                    data: { userID, agency },
                    success: resp => {
                        console.log(resp);
                        if (!resp.error){
                            toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 500);
                        }else{
                            return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                });
            } return false
        });

        //Cập nhật Owner => Employee
        $('.btnUpdateLevelDown').on('click', function (e) {
            e.preventDefault();
            let userID = $(this).attr("_userID");
            let agency = $(this).attr("_agencyID");
            if (confirm("Bạn có chắc chắn cập nhật sang tài khoản nhân viên không?")){
                $.ajax({
                    url: `/agency/update-to-employee`,
                    method: 'POST',
                    data: { userID, agency },
                    success: resp => {
                        console.log(resp);
                        if (!resp.error){
                            toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 500);
                        }else{
                            return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                });
            } return false
        });

        //Show modal tạo chi nhánh
        $('.btnShowModalCreateAgencyChild').on('click', function (e) {
            e.preventDefault();
            $('.modal-create-agency-child').modal('show');
            $("#txtOpenTimeAgencyChild").val("08:00");
            $("#txtCloseTimeAgencyChild").val("20:00");
            let agencyID = $(this).attr("_agencyID");
            $(".btnAddAndUpdateAgencyBranch").attr("_agencyID", agencyID);
            setSuccess("#txtNameAgencyChild");
            setSuccess("#txtEmailAgencyChild");
            setSuccess("#txtPhoneAgencyChild");
            setSuccess("#txtAddressAgencyChild");
            setSuccess("#txtLatitudeAgencyChild");
            setSuccess("#txtLongitudeAgencyChild");
            setSuccess("#txtCodeAgencyChild");
            setSuccess("#txtTaxCodeAgencyChild");
            setSuccess("#txtCityFilterAgencyChild");
            setSuccess("#txtDistrictFilterChild");
            setSuccess("#txtWardFilterChild");
        });

        //Show modal thêm nhân viên
        $('.btnShowModalAddEmployee').on('click', function (e) {
            e.preventDefault();
            $("#txtEmailEmployeeAdd").val('');
            $('.infoUserAdd').empty();
            $('.modal-add-account-employee').modal('show');
            // setSuccess("#txtEmailOwner");
        });

        //Show modal tạo nhân viên
        $('.btnShowModalCreateEmployee').on('click', function (e) {
            e.preventDefault();
            $('.modal-create-account-employee').modal('show');
            setSuccess("#txtNameEmployee");
            setSuccess("#txtEmailEmployee");
        });

        //Show modal thêm quản lý
        $('.btnShowModalAddOwner').on('click', function (e) {
            e.preventDefault();
            $("#txtEmailOwnerAdd").val('');
            $('.infoUserAdd').empty();
            $('.modal-add-account-owner').modal('show');
            setSuccess("#txtEmailOwner");
        });

        //Show modal tạo owner
        $('.btnShowModalCreateOwner').on('click', function (e) {
            e.preventDefault();
            $('.modal-create-account-owner').modal('show');
            setSuccess("#txtNameOwner");
            setSuccess("#txtEmailOwner");
        });

        $('.btnAddOwnerIsExisted').on('click', async function (e) {
            e.preventDefault();
            let email = $("#txtEmailOwnerAdd").val();
            let agencyID = $(this).attr("_agencyID");
            disableAndLoading(this);
            $.ajax({
                url: `/agency/add-owner-existed`,
                method: 'POST',
                data: { email, agencyID
                },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error && resp.message == "email_not_existed"){
                        toastr.warning(`Email không tồn tại`, "THÔNG BÁO");
                        return enableAndStopLoading(".btnAddOwnerIsExisted");
                    }
                    if (resp.error && resp.message == "email_is_have_agency"){
                        toastr.warning(`Email đã thuộc Đại Lý này`, "THÔNG BÁO"); 
                        return enableAndStopLoading(".btnAddOwnerIsExisted");
                    }
                    if (resp.error && resp.message == "account_is_not_owner"){
                        toastr.warning(`Tài khoản này không phải là Quản Lý`, "THÔNG BÁO"); 
                        return enableAndStopLoading(".btnAddOwnerIsExisted");
                    }
                    if(!resp.error){
                        toastr.success(`Thêm thành công`, "THÔNG BÁO"); 
                        setTimeout(() => {
                            return location.reload();
                        }, 600);
                    }
                },
                error: function(err) {
                    toastr.error(`Thất bại`, "THÔNG BÁO"); 
                    return enableAndStopLoading(this);
                }
            });

        })

        $('.btnAddEmployeeIsExisted').on('click', async function (e) {
            e.preventDefault();

            let email       = $("#txtEmailEmployeeAdd").val();
            let agencyID    = $(this).attr("_agencyID");
            disableAndLoading(this);

            $.ajax({
                url: `<%= CF_ROUTINGS_AGENCY.ADD_EMPLOYEE_EXISTED %>`,
                method: 'POST',
                data: { email, agencyID }
            }).done(resp => {
                if(resp.error){
                    switch (resp.message) {
                        case 'email_not_existed':
                            toastr.warning(`Email không tồn tại`, "THÔNG BÁO");
                            break;
                        case 'email_is_have_agency':
                            toastr.warning(`Email đã thuộc Đại Lý này`, "THÔNG BÁO"); 
                            break;
                        case 'account_is_not_employee':
                            toastr.warning(`Tài khoản này không phải là nhân viên`, "THÔNG BÁO"); 
                            break;
                        default:
                            break;
                    }

                    return enableAndStopLoading(".btnAddEmployeeIsExisted");
                }

                if(!resp.error){
                    toastr.success(`Thêm thành công`, "THÔNG BÁO"); 
                    setTimeout(() => location.reload(), 600);
                }
            }).fail(err => {
                toastr.error(`Thất bại: ${err.message}`, "THÔNG BÁO"); 
                return enableAndStopLoading(this);
            })

        })

        //Xóa user
        $('.btnDeleteUser').on('click', function () {
            let userID = $(this).attr("_userID");
            let level = $(this).attr("_level");
            let agency = $(this).attr("_agencyID");
            if (confirm("Bạn có chắc chắn xóa tài khoản này không?")){
                $.ajax({
                    url: `/agency/delete-user?userID=${userID}&levelUserRemove=${level}&agency=${agency}`,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error){
                            $(this).closest('tr').remove();
                            toastr.success(`Xóa thành công`, "THÔNG BÁO");
                            setTimeout(() => {
                                location.reload();
                            }, 1500);
                        }else{
                            return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO"); 
                    }
                });
            } return false
        });

        //Cập nhật thông tin User
        $('.btnConfirmUpdateUser').on('click', function () {
			let agencyID = `<%= agencyChoosed && agencyChoosed._id %>`;
            let userID = $(this).attr("_userID");
            let email = $("#txtEmailUser").val();
            let status = $("#txtStatusModal").val();
            let username = $("#txtUsernameUser").val();

			if(!email){
				return setError("#txtEmailUser", "Email không được phép rỗng");
			}

			setSuccess("#txtEmailUser");
            disableAndLoading(this);

            $.ajax({
                url: `<%= CF_ROUTINGS_USER.UPDATE_USER_AGENCY_BRANCH %>`,
                method: 'POST',
                data: { userID, email, username, status, agencyID },
                success: resp => {
                    // console.log({ resp });

                    if (!resp.error){
                        toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                        setTimeout(() => location.reload(), 500);
                    } else{
                        enableAndStopLoading(this);
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    enableAndStopLoading(this);
                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                }
            });
        });

        //Show modal tạo owner
        $('#txtEmailOwnerAdd').on('keyup', delay(function (e) {
            e.preventDefault();
            let email = $(this).val();

            if(!email){
                return toastr.warning(`Vui lòng nhập Email`, "THÔNG BÁO"); 
            }

            if(!email.match(mailformat)){
                return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
            }
            
            $.ajax({
                url: `/agency/info-user-by-email`,
                method: 'POST',
                data: { email },
                success: resp => { 
                    if (resp.error && resp.message == "email_existed"){
                        let infoUser = resp.data;
                        let { agency: listAgency } = infoUser;
                        let agencyOfUser = ``;
                        let role = ``;
                        if(infoUser.level == 1) 
                            role = "Quản Lý"
                        if(infoUser.level == 2) 
                            role = "Nhân viên"
                        listAgency && listAgency.length && listAgency.forEach(item => {
                            agencyOfUser+=item.name + `, `;
                        })
                        $(".infoUserAdd").empty();
                        $(".infoUserAdd").append(`
                            <i>
                            <p>Thông tin: </p>
                            <p>Username: ${infoUser.username}</p>
                            <p>Email: ${infoUser.email}</p>
                            <p>Đại Lý: ${agencyOfUser ? agencyOfUser : "Không thuộc Đại Lý nào"}</p>
                            <p>Chức vụ: ${role}</p>
                            </i>
                        `)
                    }

                    if (!resp.error && resp.message == "can_use_account"){
                        $(".infoUserAdd").empty();
                        $(".infoUserAdd").append(`
                            <i>
                            <p style="color: red;">(*) Email này không tồn tại </p>
                            </i>
                        `)
                    }

                },
                error: function(err) {
                    
                }
            });

        }, 1000));

        //Tạo quản lý
        $('.btnAddOwner').on('click', function () {
            let username = $("#txtNameOwner").val();
            let email = $("#txtEmailOwner").val();
            let agency = $(this).attr("_agencyID");

            !username ? setError("#txtNameOwner", "Tên không được phép rỗng") : setSuccess("#txtNameOwner");
            !email ? setError("#txtEmailOwner", "Email không được phép rỗng") : setSuccess("#txtEmailOwner");

            if(!username || !email){
                return;
            }

            if(!email.match(mailformat)){
                return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
            }

            disableAndLoading(this);
            $.ajax({
                url: `/agency/info-user-by-email`,
                method: 'POST',
                data: { email, username },
                success: resp => {
                    if (resp.error == true && resp.message == "email_existed"){
                        enableAndStopLoading(this);
                        return toastr.warning(`Email này đã tồn tại`, "THÔNG BÁO");
                    }

                    if(resp.error == true && resp.message == "username_existed"){
                        enableAndStopLoading(this);
                        return toastr.warning(`Username này đã tồn tại`, "THÔNG BÁO");
                    }
                    
                    if(!resp.error){
                        $.ajax({
                            url: `/agency/add-owner`,
                            method: 'POST',
                            data: { username, email, agency },
                            success: resp => {
                                if (!resp.error){
                                    toastr.success(`Thêm thành công`, "THÔNG BÁO");
                                    reloadCreateAccountSuccess(email, 1);
                                } else {
                                    toastr.error(`Thêm thất bại`, "THÔNG BÁO");
                                    enableAndStopLoading(this);
                                }
                            },
                            error: function(err) {
                                toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                                enableAndStopLoading(this);
                            }
                        });
                    }
                },
                error: function(err) {
                    
                }
            });
        });

        /**
         * type: 1 ==> khi tạo quản lí thành công
         * type: 2 ==> khi tạo nhân viên thành công
         */
        function reloadCreateAccountSuccess(email, type) {
            if(type === 1) {
                setTimeout(() => {
                    $('#modalNotifyCreateSuccess').modal('show');  
                    $('.modal-create-account-employee').modal('hide');
                    $('.employeeCreateSuccess').hide();
                    $('.ownerCreateSuccess').show();
                    $('.modal-create-account-owner').modal('hide');
                    $('.emailCreateSuccess').text(email);
                }, 1000);
            } else {
                setTimeout(() => {
                    $('#modalNotifyCreateSuccess').modal('show');  
                    $('.modal-create-account-employee').modal('hide');
                    $('.employeeCreateSuccess').show();
                    $('.ownerCreateSuccess').hide(); 
                    $('.modal-create-account-owner').modal('hide');
                    $('.emailCreateSuccess').text(email);
                }, 1000);
            }
            // khi người dùng bấm tắt popup hay thoát popup mới reload
            $('.btnCloseMyLargeModalLabel').on('click', function(){
                return location.reload();
            })
            $('.btn-block').on('click', function(){
                return location.reload();
            })
            $('#modalNotifyCreateSuccess').mouseup(function(){
                return location.reload();
            });
        }

        function checkExistedEmail(email){
            return new Promise(async resolve => {
                $.ajax({
                    url: `/agency/check-email-existed`,
                    method: 'POST',
                    data: { email },
                    success: resp => { 
                        if (!resp.error){
                            return resolve({ error: true, message: "email_is_existed" });
                        }else{
                            return resolve({ error: false, message: "email_invalid" });
                        }
                    },
                    error: function(err) {
                        
                    }
                });
            })
        }

        function checkExistedCodeAgency(code){
            return new Promise(async resolve => {
                $.ajax({
                    url: `/agency/check-code-existed`,
                    method: 'POST',
                    data: { code },
                    success: resp => {
                        if(resp.data){
                            return resolve({ error: true, message: "code_is_existed" });
                        }else{
                            return resolve({ error: false, message: "code_invalid" });
                        }
                    },
                    error: function(err) {
                        return code;
                    }
                });
            })
        }

        //Tạo chi nhánh
        $('.btnAddAndUpdateAgencyBranch').on('click', async function (e) {
            e.preventDefault();

            let name = $("#txtNameAgencyChild").val();
            let email = $("#txtEmailAgencyChild").val();
            let phone = $("#txtPhoneAgencyChild").val();
            let address = $("#txtAddressAgencyChild").val();
            let latitude = $("#txtLatitudeAgencyChild").val();
            let longitude = $("#txtLongitudeAgencyChild").val();
            let openTime = $("#txtOpenTimeAgencyChild").val();
            let closeTime = $("#txtCloseTimeAgencyChild").val();
            let code = $("#txtCodeAgencyChild").val();
            let tax_code = $("#txtTaxCodeAgencyChild").val();
            let city = $("#txtCityFilterAgencyChild").val();
            let district = $("#txtDistrictFilterChild").val();
            let ward = $("#txtWardFilterChild").val();
            let productPawn = $("#txtProductPawnInsert").val();

            let agencyID = $(this).attr("_agencyID");

            !name ? setError("#txtNameAgencyChild", "Tên đại lý không được phép rỗng") : setSuccess("#txtNameAgencyChild");
            !email ? setError("#txtEmailAgencyChild", "Email không được phép rỗng") : setSuccess("#txtEmailAgencyChild");
            !phone ? setError("#txtPhoneAgencyChild", "Số điện thoại không được phép rỗng") : setSuccess("#txtPhoneAgencyChild");
            !address ? setError("#txtAddressAgencyChild", "Địa chỉ không được phép rỗng") : setSuccess("#txtAddressAgencyChild");
            !latitude ? setError("#txtLatitudeAgencyChild", "Không được phép rỗng") : setSuccess("#txtLatitudeAgencyChild");
            !longitude ? setError("#txtLongitudeAgencyChild", "Không được phép rỗng") : setSuccess("#txtLongitudeAgencyChild");
            !code ? setError("#txtCodeAgencyChild", "Không được phép rỗng") : setSuccess("#txtCodeAgencyChild");
            !tax_code ? setError("#txtTaxCodeAgencyChild", "Không được phép rỗng") : setSuccess("#txtTaxCodeAgencyChild");
            !city ? setError("#txtCityFilterAgencyChild", "Không được phép rỗng") : setSuccess("#txtCityFilterAgencyChild");
            !district ? setError("#txtDistrictFilterChild", "Không được phép rỗng") : setSuccess("#txtDistrictFilterChild");
            !ward ? setError("#txtWardFilterChild", "Không được phép rỗng") : setSuccess("#txtWardFilterChild");
            !productPawn ? setError("#txtProductPawnInsert", "Không được phép rỗng") : setSuccess("#txtProductPawnInsert");

            if(!name || !email || !phone || !address || !latitude || !longitude 
            || !openTime || !closeTime || !code || !tax_code || !city || !district || !ward || !productPawn){
                return;
            }

            if(phone.length != 10){
                return toastr.warning(`Số điện thoại phải đúng 10 kí tự`, "THÔNG BÁO");
            }

            //Kiểm tra tồn tại email đại lý
            let emailInValid = await checkExistedEmail(email);
            let { error: errorEmail } = emailInValid;
            if(errorEmail == true){
                return toastr.warning(`Email đã tồn tại. Vui lòng nhập email khác`, "THÔNG BÁO");
            }

            //Kiểm tra tồn tại code đại lý
            let codeInValid = await checkExistedCodeAgency(code);
            let { error: errorCode } = codeInValid;
            if(errorCode == true){
                return toastr.warning(`Mã đại lý đã tồn tại. Vui lòng nhập một mã khác`, "THÔNG BÁO");
            }

            let gallery = [];
            let avatar = [];

            disableAndLoading(this);

            if(avatarAgencyInsert && avatarAgencyInsert.length){
                let image_avatar_agency = await addFileToUpload(avatarAgencyInsert);
                avatar = image_avatar_agency().map(item => item.uri);
            }

            if(imgGalleryInsert && imgGalleryInsert.length){
                let multiInput = imgGalleryInsert;
                await addFileToUpload(multiInput, links => {
                    links.forEach(item => {
                        gallery[gallery.length] = item.uri;
                    })
                    // Tạo chi nhánh
                    $.ajax({
                        url: `/agency/add-agency`,
                        method: 'POST',
                        data: { name, email, phone, address, latitude, longitude, openTime, closeTime, parentAgencyBranch: agencyID, code, tax_code, city, district, ward,
                            gallery: JSON.stringify(gallery), avatar: JSON.stringify(avatar), productPawn
                        },
                        success: function(resp) {
                            console.log({ resp })
                            enableAndStopLoading(this);
                            if (!resp.error){
                                toastr.success(`Thêm thành công`, "THÔNG BÁO");
                                setTimeout(function(){
                                    location.reload();
                                }, 500);
                            }else{
                                return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                            }
                        },
                        error: function(err) {
                            enableAndStopLoading(this);
                            return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                        }
                    });
                })
            }else{
                // Tạo chi nhánh
                $.ajax({
                    url: `/agency/add-agency`,
                    method: 'POST',
                    data: { name, email, phone, address, latitude, longitude, openTime, closeTime, parentAgencyBranch: agencyID, code, tax_code, city, district, ward,
                        gallery: JSON.stringify(gallery), avatar: JSON.stringify(avatar), productPawn
                    },
                    success: function(resp) {
                        console.log({ resp })
                        enableAndStopLoading(this);
                        if (!resp.error){
                            toastr.success(`Thêm thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 500);
                        }else{
                            return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                        }
                    },
                    error: function(err) {
                        enableAndStopLoading(this);
                        return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                    }
                });
            }
        });

        //Tạo nhân viên
        $('.btnAddEmployee').on('click', function () {
            let username = $("#txtNameEmployee").val();
            let email = $("#txtEmailEmployee").val();
            let agency = $(this).attr("_agencyID");
            let mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            if(!email.match(mailformat)){
                return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
            }

            !username ? setError("#txtNameEmployee", "Tên không được phép rỗng") : setSuccess("#txtNameEmployee");
            !email ? setError("#txtEmailEmployee", "Email không được phép rỗng") : setSuccess("#txtEmailEmployee");

            if(!username || !email){
                return;
            }

            disableAndLoading(this);

            $.ajax({
                url: `/agency/info-user-by-email`,
                method: 'POST',
                data: { email, username, agency },
                success: resp => { 
                    if (resp.error && resp.message == "email_existed"){
                        enableAndStopLoading(this);
                        return toastr.warning(`Email này đã tồn tại`, "THÔNG BÁO");
                    }

                    if(resp.error && resp.message == "username_existed"){
                        enableAndStopLoading(this);
                        return toastr.warning(`Username này đã tồn tại`, "THÔNG BÁO");
                    }
                    
                    if(!resp.error){
                        $.ajax({
                            url: `/agency/add-employee-agency-branch`,
                            method: 'POST',
                            data: { username, email, agency },
                            success: resp => {
                                if (!resp.error){
                                    toastr.success(`Thêm thành công`, "THÔNG BÁO"); 
                                    reloadCreateAccountSuccess(email, 2);
                                } else {
                                    enableAndStopLoading(this);
                                    return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                                }
                            },
                            error: function(err) {
                                enableAndStopLoading(this);
                                return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
                            }
                        });
                    }
                },
                error: function(err) {
                }
            });
        });

        //Remove agency
        $('.btnDeleteAgency').on('click', function (e) {
            e.preventDefault();
            let agencyID = $(this).attr("_agencyID");
            if (confirm("Bạn có chắc chắn xóa đại lý này không?")){
                $.ajax({
                    url: `/agency/remove-agency/${agencyID}`,
                    method: 'get',
                    success: resp => { 
                        console.log(resp);
                        if (!resp.error){
                            $(this).closest('tr').remove();
                            return toastr.success(`Xóa thành công`, "THÔNG BÁO");
                        }else{
                            return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }
            return false;
        })

        function detectKeyupInputNull(input){
            $(`#${input}`).on('keyup', function (e) {
                let text = $(this).val();
                if(text.length > 0){
                    setSuccess(`#${input}`);
                }else{
                    setError(`#${input}`, "Không được phép rỗng");
                }
                if(input == "txtEmailAgency"){
                    $.ajax({
                        url: `/agency/check-email-existed`,
                        method: 'POST',
                        data: { email: text },
                        success: resp => { 
                            if (!resp.error){
                                return setError(this, " (*) Email này đã tồn tại");
                            }else{
                                $(this).parent().find('small').addClass("errors");
                                $(this).parent().find('small').text("Email khả dụng").css({"color": "#e6b465"});
                                if(text.length == 0){
                                    setSuccess(this);
                                }
                            }
                        },
                        error: function(err) {
                            
                        }
                    });
                }
            })
        }

        detectKeyupInputNull("txtNameAgency");
        detectKeyupInputNull("txtEmailAgency");
        detectKeyupInputNull("txtPhoneAgency");
        detectKeyupInputNull("txtAddressAgency");
        detectKeyupInputNull("txtLatitude");
        detectKeyupInputNull("txtLongitude");
        detectKeyupInputNull("txtTaxCodeAgency");
        detectKeyupInputNull("txtCodeAgency");

        detectKeyupInputNull("txtNameOwner");
        detectKeyupInputNull("txtEmailOwner");

        detectKeyupInputNull("txtNameEmployee");
        detectKeyupInputNull("txtEmailEmployee");

        detectKeyupInputNull("txtNameAgencyChild");
        detectKeyupInputNull("txtEmailAgencyChild");
        detectKeyupInputNull("txtPhoneAgencyChild");
        detectKeyupInputNull("txtAddressAgencyChild");
        detectKeyupInputNull("txtLatitudeAgencyChild");
        detectKeyupInputNull("txtLongitudeAgencyChild");
        detectKeyupInputNull("txtTaxCodeAgencyChild");
        detectKeyupInputNull("txtCodeAgencyChild");

        $("#txtCitySearch").select2();
        $("#txtDistrictSearch").select2();
        $("#txtWardSearch").select2();
        $("#txtAgency").select2();
        $("#filter-other").select2();

        $('select').on('change', function (e) {
            let value = $(this).val();
            if(value){
                setSuccess(this);
            }
        });

        $("#txtCityFilterAgency, #txtDistrictFilter, #txtWardFilter").select2({
            width: '100%'
        });
        $("#txtCityFilterAgencyChild, #txtDistrictFilterChild, #txtWardFilterChild").select2({
            width: '100%'
        });
    });
</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>