<script>
    $(document).ready(function () {

        $(function(){
            $('#table-list-agency').DataTable({
                'iDisplayLength': 10,
                // "scrollY": "1000px",
                // //"scrollX": true,
                // "scrollCollapse": true,
                "aaSorting": [],
                "bPaginate": true,  
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                    { sWidth: '5%' },
                ],
				...languageDataTable
            });
        });

        function readURL(input, idImage, type) {
            if ( input.files && input.files[0] ) {
                // console.log({ files: input.files });
                for (let  i = 0; i < input.files.length; i++){
                    // console.log({ img: input.files[i] });
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        if(type == "imgAvatarUpdate" || type == "imgAvatarInsert"){
                            $(idImage).empty();
                        }
                        $(idImage).append(`
                            <div class="img-wraps">
                                <span class="close deleteImage" _type="${type}" _imgName="${input.files[i].name}" _imageID = "">&times;</span>
                                <a href="${e.target.result}"  class="effects">
                                    <img  src="${e.target.result}" value="${input.files[i].name}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
                                    <div class="overlay">
                                        <span class="expand">+</span>
                                    </div>
                                </a>
                            </div>
                        `);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        function setError(input, errorMessage){
            $(input).addClass("error");
            $(input).parent().find('small').addClass("errors");
            $(input).parent().find('small').text(errorMessage);
        }

        let mailformat = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        //Quận, huyện
        $('#txtCityFilter').on('change', function () {
            $("#txtDistrictFilter").empty();
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="">Chọn Quận/Huyện</option>`;
                    listDistrict.forEach(district => {
                        dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtDistrictFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        //Xã, phường
        $('#txtDistrictFilter').on('change', function () {
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Chọn Xã/Phường</option>`;
                    listWard.forEach(ward => {
                        dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtWardFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();
        
        let sortReturn = $("#sort-other").attr("_sort");
        $("#sort-other").val(sortReturn);
        
        //Quận, huyện
        $('#txtCitySearch').on('change', function () {
            $("#txtDistrictSearch").empty();
            $("#txtWardSearch").empty();
            let value = $(this).val();
            let districtReturn = $("#txtDistrictSearch").attr("_district");
            $("#txtDistrictSearch").append(`<option value="">Chọn Quận/Huyện</option>`);
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    if(listDistricts){
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = ``;
                        listDistrict.forEach(district => {
                            if(district[1].code == districtReturn){
                                dataAppend += `<option selected value="${district[1].code}">${district[1].name_with_type}</option>`
                            }else{
                                dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                            }
                        })
                        if (!resp.error){
                            $("#txtDistrictSearch").append(dataAppend);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        //Xã, phường
        $('#txtDistrictSearch').on('change', function () {
            $("#txtWardSearch").empty();
            let value = $(this).val();
            let districtReturn = $(this).attr("_district");
            let wardReturn = $("#txtWardSearch").attr("_ward");
            console.log({ value, wardReturn, districtReturn });
            value = value ? value : districtReturn;
            $("#txtWardSearch").append(`<option value="">Chọn Xã/Phường</option>`);
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Tất cả</option>`;
                    listWard.forEach(ward => {
                        if(ward[1].code == wardReturn){
                            dataAppend += `<option selected value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtWardSearch").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        }).change();

        function randomStringFixLengthCode(count){
            let text = "";
            let possible = "012345678987654321";
            for (let i = 0; i < count; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            return text;
        }
 
        function setSuccess(input){
            $(input).removeClass("error");
            $(input).parent().find('small').removeClass("errors");
        }

        function setNullInputAndRemoveClassError(){
            $(".modal-body").find("input").val("");
            $(".modal-body").find("input").removeClass("error");
            $(".modal-body").find("select").removeClass("error");
            $(".modal-body").find("small").removeClass("errors");
        }

        function detectKeyupInputNull(input){
            $(`#${input}`).on('keyup', function (e) {
                let text = $(this).val();
                if(text.length > 0){
                    setSuccess(`#${input}`);
                }else{
                    setError(`#${input}`, "Không được phép rỗng")
                }

                enableAndStopLoading(".btnAddAndUpdateAgency");

                if(input == "txtEmail"){
                    console.log({ email: text });
                    $.ajax({
                        url: `/agency/check-email-existed`,
                        method: 'POST',
                        data: { email: text },
                        success: resp => { 
                            if (!resp.error){
                                return setError(this, " (*) Email này đã tồn tại");
                            }else{
                                $(this).parent().find('small').addClass("errors");
                                $(this).parent().find('small').text("Email khả dụng").css({"color": "#e6b465"});
                                if(text.length == 0){
                                    
                                    setSuccess(this);
                                }
                            }
                        },
                        error: function(err) {
                            
                        }
                    });
                }
            })
        }
        
        //Hàm kiểm tra code tồn tại
        function checkExistedCodeAgency(code){
            return new Promise(async resolve => {
                $.ajax({
                    url: `/agency/check-code-existed`,
                    method: 'POST',
                    data: { code },
                    success: resp => {
                        if(resp.data){
                            let codeConcat = randomStringFixLengthCode(3);
                            let valueCurrentAgency = $("#txtCode").val();
                            $("#txtCode").val(valueCurrentAgency.concat(codeConcat));

                            return resolve({ error: true, message: "code_is_existed" });
                        }else{
                            return resolve({ error: false, message: "code_invalid" });
                        }
                    },
                    error: function(err) {
                        return code;
                    }
                });
            })
        }

        //Hàm check email ton tai
        function checkExistedEmailAgency(email){
            return new Promise(async resolve => {
                $.ajax({
                    url: `/agency/check-email-existed`,
                    method: 'POST',
                    data: { 
                        email
                    },
                    success: resp => {
                        if(resp.data){
                            return resolve({ error: true, message: "email_is_existed" });
                        }else{
                            return resolve({ error: false, message: "code_invalid" });
                        }
                    },
                    error: function(err) {
                        return resolve({ error: true, message: "cannot_get_email" });
                    }
                });
            })
        }

        //Tự động sinh code đại lý
        $('#txtName').on('keyup', delay(function (e) {
            e.preventDefault();
            let nameAgency = $(this).val();
            let step1 = nameAgency.split(" ");
            let codeAgency = "";
            if(step1 && step1.length){
                for(let i = 0; i < step1.length; i++){
                    codeAgency+= step1[i].substr(0, 1);
                }
            }
            // Chuyển về dạng slug và viết hoa.. VD: Tô Văn Thành Đạt => TVTD
            codeAgency = removeVietnameseTones(codeAgency).toUpperCase();
            if(nameAgency){
                $("#txtCode").val(codeAgency);
            }else{
                $("#txtCode").val("");
            }
        }, 1500))

        // //Show modal khởi tạo thông tin đại lý
        // $('.btn-create-product-category').on('click', function () {
        //     $('.model-create-product-category').modal('show');
        //     setNullInputAndRemoveClassError();
        //     $("#txtOpenTime").val("08:00");
        //     $("#txtCloseTime").val("20:00");
        //     $('.model-create-product-category').find("h5").text("Khởi tạo Đại Lý mới");

        //     $('.gallery').empty();

        //     //Reset select
        //     $('#txtCityFilter').find("option").first().attr("selected", "selected");
        //     $('#txtDistrictFilter').find("option").first().attr("selected", "selected");
        //     $('#txtWardFilter').find("option").first().attr("selected", "selected");
        // });

        //Show modal cập nhật thông tin đại lý
        let lightGalleryAvatar;
        let lightGallery;
        // $('.btnUpdateAgency').on('click', function (e) {
        //     e.preventDefault();
        //     $('.model-create-product-category').modal('show');
        //     $('.model-create-product-category').find("h5").text("Cập nhật thông tin Đại Lý");
        //     let agencyID = $(this).attr("_agencyID");
        //     $(".btnAddAndUpdateAgency").attr("_agencyID", agencyID);
        //     $.ajax({
        //         url: `/agency/info-agency/${agencyID}`,
        //         method: 'GET',
        //         success: resp => {
        //             let { name, email, phone, address, location, openTime, status, closeTime, code, tax_code, city, district, ward, avatar, gallery } = resp.data;
        //             let latitude = location.coordinates[0];
        //             let longitude = location.coordinates[1];
        //             if (!resp.error){

        //                 $("#txtName").val(name);
        //                 $("#txtEmail").val(email);
        //                 $("#txtPhone").val(phone);
        //                 $("#txtAddress").val(address);
        //                 $("#txtLatitude").val(latitude);
        //                 $("#txtLongitude").val(longitude);
        //                 $("#txtOpenTime").val(openTime);
        //                 $("#txtCloseTime").val(closeTime);
        //                 $("#txtCode").val(code);
        //                 $("#txtTaxCode").val(tax_code);
        //                 $("#txtCityFilter").val(city).change();
        //                 $("#txtDistrictFilter").val(district).change();
        //                 $("#txtWardFilter").val(ward).change();
                        
        //                 status == 1 ? $('#radio1').attr('checked', 'checked') : $('#radio2').attr('checked', 'checked');

        //                 //Truyền data quận huyện
        //                 $.ajax({
        //                     url: `/list-districts/${city}`,
        //                     method: 'get',
        //                     success: resp => {
        //                         $("#txtDistrictFilter").empty();
        //                         let { listDistricts } = resp;
        //                         let listDistrict = Object.entries(listDistricts);
        //                         let dataAppend = "";
        //                         listDistrict.forEach(districts => {
        //                             if(districts[1].code.toString() == district.toString()){
        //                                 dataAppend += `<option value="${districts[1].code}" selected>${districts[1].name_with_type}</option>`
        //                             }else{
        //                                 dataAppend += `<option value="${districts[1].code}">${districts[1].name_with_type}</option>`
        //                             }
        //                         })
        //                         if (!resp.error){
        //                             $("#txtDistrictFilter").append(dataAppend);
        //                         }else{
        //                             return toastr.error(`Có lỗi sảy ra vui lòng thử lại`, "THÔNG BÁO"); 
        //                         }
        //                     },
        //                     error: function(err) {
        //                         return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 });

        //                 //Truyền data xã phường
        //                 $.ajax({
        //                     url: `/list-wards/${district}`,
        //                     method: 'get',
        //                     success: resp => {
        //                         $("#txtWardFilter").empty();
        //                         let { listWards } = resp;
        //                         let listWard = Object.entries(listWards);
        //                         let dataAppend = "";
        //                         listWard.forEach(wards => {
        //                             if(wards[1].code.toString() == ward.toString()){
        //                                 dataAppend += `<option value="${wards[1].code}" selected>${wards[1].name_with_type}</option>`
        //                             }else{
        //                                 dataAppend += `<option value="${wards[1].code}">${wards[1].name_with_type}</option>`
        //                             }
        //                         })
        //                         if (!resp.error){
        //                             $("#txtWardFilter").append(dataAppend);
        //                         }else{
        //                             return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                         }
        //                     },
        //                     error: function(err) {
        //                         return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 });

        //                 if(avatar){
        //                     $(".image-avatar").empty();
        //                     $(".image-avatar").append(`
        //                         </br>
        //                         <div class="img-wraps" data-src="${avatar.path}">
        //                             <a href="${avatar.path}" class="effects">
        //                                 <img  src="${avatar.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
        //                                 <div class="overlay">
        //                                 </div>
        //                             </a>
        //                         </div>
        //                     `);

        //                     if(lightGalleryAvatar) {
        //                         $('.image-avatar').data('lightGallery').destroy(true);
        //                     }

        //                     lightGalleryAvatar = $('.image-avatar').lightGallery({
        //                         thumbnail:true,
        //                         appendSubHtmlTo: "K360"
        //                     });
        //                 }

        //                 if(gallery && gallery.length){
        //                     let dataAppend = `</br>`;
        //                     gallery.forEach(image => {
        //                         dataAppend += `<div class="img-wraps" data-src="${image.path}">
        //                             <span class="close deleteImage" _imageID="${image._id}" _type="imgGalleryUpdate" _imgName="${image.name}">&times;</span>
        //                             <a href="${image.path}" class="effects">
        //                                 <img  src="${image.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
        //                                 <div class="overlay">
        //                                 </div>
        //                             </a>
        //                         </div>&nbsp;`
        //                     imgGalleryOldDelete[imgGalleryOldDelete.length] = image._id;
        //                     })
        //                     $(".image-gallery").empty();
        //                     $(".image-gallery").append(dataAppend);

        //                     if(lightGallery) {
        //                         $('.image-gallery').data('lightGallery').destroy(true);
        //                     }
        //                     lightGallery = $('.image-gallery').lightGallery({
        //                         thumbnail:true,
        //                         appendSubHtmlTo: "K360"
        //                     });
        //                 }
                        
        //             }else{
        //                 return toastr.error(`Thất bại`, "THÔNG BÁO"); 
        //             }
        //         },
        //         error: function(err) {
        //             return toastr.error(`Thất bại`, "THÔNG BÁO"); 
        //         }
        //     });
        // });

        //Show modal cập nhật thông tin đại lý
        $('.btnUpdateInfoAgency').on('click', function (e) {
            e.preventDefault();

			$('.model-create-product-category').modal('show');
            let agencyID = $(this).attr("_agencyID");

			$.ajax({
                url: `/agency/info-agency/${agencyID}`,
                method: 'GET',
                success: resp => {
                    let { name, email, phone, address, location, openTime, status, closeTime, code, tax_code, city, district, ward, productPawn, avatar, gallery, percentPawn } = resp.data;
                    let longitude = location.coordinates[0];
                    let latitude = location.coordinates[1];
                    if (!resp.error){

                        $("#txtName").val(name);
                        $("#txtEmail").val(email);
                        $("#txtPhone").val(phone);
                        $("#txtAddress").val(address);
                        $("#txtLatitude").val(latitude);
                        longitude ? $("#txtLongitude").val(longitude) : $("#txtLongitude").val("");
                        latitude ? $("#txtLatitude").val(latitude) : $("#txtLatitude").val("");
                        $("#txtOpenTime").val(openTime);
                        $("#txtCloseTime").val(closeTime);
                        $("#txtCode").val(code);
                        $("#txtTaxCode").val(tax_code);
                        $("#txtCityFilter").val(city).change();
                        $("#txtDistrictFilter").val(district);
                        $("#txtWardFilter").val(ward);
                        $("#txtProductPawn").val(productPawn);
                        $("#txtPercentPawn").val(percentPawn || 0);
                        
                        status == 1 ? $('#radio1').attr('checked', 'checked') : $('#radio2').attr('checked', 'checked');

                        if(avatar){
                            $(".image-avatar-update").empty();
                            $(".image-avatar-update").append(`
                                <div class="img-wraps">
                                    <a href="${avatar.path}" class="effects">
                                        <img  src="${avatar.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
                                        <div class="overlay">
                                            <span class="expand">+</span>
                                        </div>
                                    </a>
                                </div>
                            `);
                        }

                        if(gallery && gallery.length){
                            let dataAppend = ``;
                            gallery.forEach(image => {
                                dataAppend += `<div class="img-wraps">
                                    <span class="close deleteImage" _imageID="${image._id}" _type="imgGalleryUpdate" _imgName="${image.name}">&times;</span>
                                    <a href="${image.path}" class="effects">
                                        <img  src="${image.path}" width="120px" height="120px class="img-responsive" alt="Unify Admin">
                                        <div class="overlay">
                                            <span class="expand">+</span>
                                        </div>
                                    </a>
                                </div>`
                            imgGalleryOldDelete[imgGalleryOldDelete.length] = image._id;
                            })
                            $(".image-gallery-update").empty();
                            $(".image-gallery-update").append(dataAppend);
                        }

                        //Truyền data quận huyện
                        $.ajax({
                            url: `/list-districts/${city}`,
                            method: 'get',
                            success: resp => {
                                let { listDistricts } = resp;
                                let listDistrict = Object.entries(listDistricts);
                                let dataAppend = "";
                                listDistrict.forEach(districts => {
                                    if(districts[1].code.toString() == district.toString()){
                                        dataAppend += `<option value="${districts[1].code}" selected>${districts[1].name_with_type}</option>`
                                    }else{
                                        dataAppend += `<option value="${districts[1].code}">${districts[1].name_with_type}</option>`
                                    }
                                })
                                if (!resp.error){
                                    $("#txtDistrictFilter").append(dataAppend);
                                }else{
                                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                                }
                            },
                            error: function(err) {
                                return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                            }
                        });

                        //Truyền data xã phường
                        $.ajax({
                            url: `/list-wards/${district}`,
                            method: 'get',
                            success: resp => {
                                let { listWards } = resp;
                                let listWard = Object.entries(listWards);
                                let dataAppend = "";
                                listWard.forEach(wards => {
                                    if(wards[1].code.toString() == ward.toString()){
                                        dataAppend += `<option value="${wards[1].code}" selected>${wards[1].name_with_type}</option>`
                                    }else{
                                        dataAppend += `<option value="${wards[1].code}">${wards[1].name_with_type}</option>`
                                    }
                                })
                                if (!resp.error){
                                    $("#txtWardFilter").append(dataAppend);
                                }else{
                                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                                }
                            },
                            error: function(err) {
                                return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                            }
                        });

                        $(".btnAddAndUpdateAgency").attr("_agencyID", agencyID);

                        
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                }
            });
        });


        $("#txtPhone").on("keyup", function(e){
            // e.preventDefault();
            let phone = $(this).val();
            // phone     = Number(phone);
            if(phone.length == 0){
                return setError("#txtPhone", "Số điện thoại không được phép rỗng");
            }
            if(!Number(phone) && phone != 0){
                $(this).val("");
                return setError("#txtPhone", "Số điện thoại không được phép nhập ký tự");
            }
            if(Number(phone) < 0){
                $(this).val("");
                return setError("#txtPhone", "Số điện thoại không được phép âm");
            }
            if(phone.length != 10){
                return setError("#txtPhone", "Số điện thoại phải đúng 10 kí tự");
            }
            setSuccess("#txtPhone");
        });  

        $("#txtTaxCode").on("keyup", function(e){
            // e.preventDefault();
            let TaxCode = $(this).val();
            // TaxCode     = Number(TaxCode);
            // console.log({ TaxCode });
            if(!TaxCode){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép rỗng");
            }
            if(TaxCode && !Number(TaxCode) && Number(TaxCode) !== 0){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép nhập ký tự");
            }
            if(Number(TaxCode) < 0){
                $(this).val("");
                return setError("#txtTaxCode", "Mã số thuế không được phép âm");
            }
            // if(TaxCode.length != 10){
            //     return setError("#txtTaxCode", "Mã số thuế phải đúng 10 kí tự");
            // }
            setSuccess("#txtTaxCode");
        });

        //Tạo và cập nhật đại lý
        // $('.btnAddAndUpdateAgency').on('click', async function (e) {
        //     e.preventDefault();

        //     let name = $("#txtName").val();
        //     let email = $("#txtEmail").val();
        //     let phone = $("#txtPhone").val();
        //     let address = $("#txtAddress").val();
        //     let latitude = $("#txtLatitude").val();
        //     let longitude = $("#txtLongitude").val();
        //     let openTime = $("#txtOpenTime").val();
        //     let closeTime = $("#txtCloseTime").val();

        //     let code = $("#txtCode").val();
        //     let tax_code = $("#txtTaxCode").val();
        //     let city = $("#txtCityFilter").val();
        //     let district = $("#txtDistrictFilter").val();
        //     let ward = $("#txtWardFilter").val();
        //     let status = $('input[name="radio"]:checked').val();

        //     let agencyID = $(this).attr("_agencyID");

        //     !name ? setError("#txtName", "Tên đại lý không được phép rỗng") : setSuccess("#txtName");
        //     !email ? setError("#txtEmail", "Email không được phép rỗng") : setSuccess("#txtEmail");
        //     !phone ? setError("#txtPhone", "Số điện thoại không được phép rỗng") : setSuccess("#txtPhone");
        //     !address ? setError("#txtAddress", "Địa chỉ không được phép rỗng") : setSuccess("#txtAddress");
        //     !latitude ? setError("#txtLatitude", "Không được phép rỗng") : setSuccess("#txtLatitude");
        //     !longitude ? setError("#txtLongitude", "Không được phép rỗng") : setSuccess("#txtLongitude");
        //     !code ? setError("#txtCode", "Không được phép rỗng") : setSuccess("#txtCode");
        //     !tax_code ? setError("#txtTaxCode", "Không được phép rỗng") : setSuccess("#txtTaxCode");
        //     !city ? setError("#txtCityFilter", "Vui lòng chọn Tỉnh/Thành phố") : setSuccess("#txtCityFilter");
        //     !district ? setError("#txtDistrictFilter", "Vui lòng chọn Quận/Huyện") : setSuccess("#txtDistrictFilter");
        //     !ward ? setError("#txtWardFilter", "Vui lòng chọn Xã/Phường") : setSuccess("#txtWardFilter");

        //     if(!name || !email || !phone || !address || !latitude || !longitude 
        //         || !openTime || !closeTime || !code || !tax_code || !city || !district || !ward){
        //         return toastr.warning(`Vui lòng điền đầy đủ các trường`, "THÔNG BÁO");
        //     }

        //     if(phone.length != 10){
        //         return toastr.warning(`Số điện thoại phải đúng 10 kí tự`, "THÔNG BÁO");
        //     }

        //     if(phone < 0){
        //         return toastr.warning(`Số điện thoại không được phép âm`, "THÔNG BÁO");
        //     }

        //     if(!email.match(mailformat)){
        //         return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
        //     }

        //     if(agencyID){ // Cập nhật đại lý
        //         disableAndLoading(this);

        //         let gallery = [];
        //         let avatar = [];

        //         if(avatarAgency && avatarAgency.length){
        //             let image_avatar_agency = await addFileToUpload(avatarAgency);
        //             avatar = image_avatar_agency().map(item => item.uri);
        //         }

        //         if(arrGalleryAgency && arrGalleryAgency.length){
        //             let multiInput = arrGalleryAgency;
        //             await addFileToUpload(multiInput, links => {
        //                 links.forEach(item => {
        //                     gallery[gallery.length] = item.uri;
        //                 })
        //                 $.ajax({
        //                     url: `/agency/update-agency/${agencyID}`,
        //                     method: 'POST',
        //                     data: { name, email, phone, address, status, latitude, longitude, openTime, closeTime, code, tax_code, 
        //                         city, district, ward, gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar) },
        //                     success: resp => {
        //                         console.log({ resp })
        //                         if (!resp.error){
        //                             toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
        //                             setTimeout(function(){
        //                                 location.reload();
        //                             }, 500);
        //                         }else{
        //                             enableAndStopLoading(this)
        //                             return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                         }
        //                     },
        //                     error: function(err) {
        //                         enableAndStopLoading(this)
        //                         return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 });
        //             })
        //         }else{
        //             $.ajax({
        //                 url: `/agency/update-agency/${agencyID}`,
        //                 method: 'POST',
        //                 data: { name, email, phone, address, status, latitude, longitude, openTime, closeTime, code, tax_code, 
        //                     city, district, ward, gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar) },
        //                 success: resp => {
        //                     if (!resp.error){
        //                         toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
        //                         setTimeout(function(){
        //                             location.reload();
        //                         }, 500);
        //                     }else{
        //                         enableAndStopLoading(this)
        //                         return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 },
        //                 error: function(err) {
        //                     enableAndStopLoading(this)
        //                     return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
        //                 }
        //             });
        //         }
        //     } else{ // Tạo đại lý
        //         disableAndLoading(this);

        //         //Kiểm tra tồn tại code đại lý
        //         let codeInValid = await checkExistedCodeAgency(code);
        //         let { error } = codeInValid;
        //         if(error == true){
        //             toastr.options.fadeOut = 2000;
        //             toastr.info(`Mã đại lý đã tồn tại. Chúng tôi đã chuyển sang một mã khác`, "THÔNG BÁO");
        //             return enableAndStopLoading(".btnAddAndUpdateAgency");
        //         }
                
        //         //Kiểm tra email có tồn tại chưa?
        //         let emailInvalid = await checkExistedEmailAgency(email);
        //         let { error: errorEmail } = emailInvalid;
        //         if(errorEmail == true){
        //             toastr.info(`Email đã tồn tại. Vui lòng nhập một email khác`, "THÔNG BÁO");
        //             return enableAndStopLoading(".btnAddAndUpdateAgency");
        //         }

        //         let gallery = [];
        //         let avatar = [];

        //         if(avatarAgency && avatarAgency.length){
        //             let image_avatar_agency = await addFileToUpload(avatarAgency);
        //             avatar = image_avatar_agency().map(item => item.uri);
        //         }

        //         if(arrGalleryAgency && arrGalleryAgency.length){
        //             let multiInput = arrGalleryAgency;
        //             await addFileToUpload(multiInput, links => {
        //                 links.forEach(item => {
        //                     gallery[gallery.length] = item.uri;
        //                 })
        //                 $.ajax({
        //                     url: `/agency/add-agency`,
        //                     method: 'POST',
        //                     data: { name, email, phone, address, latitude, longitude, openTime, closeTime, code, tax_code, city, district, ward,
        //                         gallery: JSON.stringify(gallery), avatar: JSON.stringify(avatar)
        //                     },
        //                     success: function(resp) {
        //                         enableAndStopLoading(this)
        //                         if (!resp.error){
        //                             toastr.success(`Thêm thành công`, "THÔNG BÁO");
        //                             setTimeout(function(){
        //                                 location.reload();
        //                             }, 1000);
        //                         }else{
        //                             return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
        //                         }
        //                     },
        //                     error: function(err) {
        //                         enableAndStopLoading(this)
        //                         return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 });
        //             })
        //         }else{
        //             $.ajax({
        //                 url: `/agency/add-agency`,
        //                 method: 'POST',
        //                 data: { name, email, phone, address, latitude, longitude, openTime, closeTime, code, tax_code, city, district, ward,
        //                     gallery: JSON.stringify(gallery), avatar: JSON.stringify(avatar)
        //                 },
        //                 success: function(resp) {
        //                     enableAndStopLoading(this)
        //                     if (!resp.error){
        //                         toastr.success(`Thêm thành công`, "THÔNG BÁO");
        //                         setTimeout(function(){
        //                             location.reload();
        //                         }, 1000);
        //                     }else{
        //                         return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
        //                     }
        //                 },
        //                 error: function(err) {
        //                     enableAndStopLoading(this)
        //                     return toastr.error(`Thêm thất bại`, "THÔNG BÁO"); 
        //                 }
        //             });
        //         }
        //     }
        // });  


        $('.btnAddAndUpdateAgency').on('click', async function (e) {
            e.preventDefault();

            let name = $("#txtName").val();
            let email = $("#txtEmail").val();
            let phone = $("#txtPhone").val();
            let address = $("#txtAddress").val();
            let latitude = $("#txtLatitude").val();
            let longitude = $("#txtLongitude").val();
            let openTime = $("#txtOpenTime").val();
            let closeTime = $("#txtCloseTime").val();
			let percentPawn = $("#txtPercentPawn").val();

            let code = $("#txtCode").val();
            let tax_code = $("#txtTaxCode").val();
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            let productPawn = $("#txtProductPawn").val();
            let status = $('input[name="radio"]:checked').val();

            let agencyID = $(this).attr("_agencyID");
            !name ? setError("#txtName", "Tên đại lý không được phép rỗng") : setSuccess("#txtName");
            !email ? setError("#txtEmail", "Email không được phép rỗng") : setSuccess("#txtEmail");
            !phone ? setError("#txtPhone", "Số điện thoại không được phép rỗng") : setSuccess("#txtPhone");
            !address ? setError("#txtAddress", "Địa chỉ không được phép rỗng") : setSuccess("#txtAddress");
            !latitude ? setError("#txtLatitude", "Không được phép rỗng") : setSuccess("#txtLatitude");
            !longitude ? setError("#txtLongitude", "Không được phép rỗng") : setSuccess("#txtLongitude");
            !code ? setError("#txtCode", "Không được phép rỗng") : setSuccess("#txtCode");
            !tax_code ? setError("#txtTaxCode", "Không được phép rỗng") : setSuccess("#txtTaxCode");
            !city ? setError("#txtCityFilter", "Vui lòng chọn Tỉnh/Thành phố") : setSuccess("#txtCityFilter");
            !district ? setError("#txtDistrictFilter", "Vui lòng chọn Quận/Huyện") : setSuccess("#txtDistrictFilter");
            !ward ? setError("#txtWardFilter", "Vui lòng chọn Xã/Phường") : setSuccess("#txtWardFilter");
            !productPawn ? setError("#txtProductPawn", "Sản phẩm nhận cầm đồ không được phép rỗng") : setSuccess("#txtProductPawn");

            if(!name || !email || !phone || !address 
                || !openTime || !closeTime || !code || !tax_code || !city || !district || !ward || !productPawn){
                return toastr.warning(`Vui lòng điền đầy đủ các trường`, "THÔNG BÁO");
            }

            if(phone.length != 10){
                return toastr.warning(`Số điện thoại phải đúng 10 kí tự`, "THÔNG BÁO");
            }

            if(phone < 0){
                return toastr.warning(`Số điện thoại không được phép âm`, "THÔNG BÁO");
            }

            if(!email.match(mailformat)){
                return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
            }

            //return console.log({ avatarAgencyUpdate, imgGalleryUpdate, imgGalleryOldIsDeleted });

            let gallery = [];
            let avatar = [];

            disableAndLoading(this);

            if(avatarAgencyUpdate && avatarAgencyUpdate.length){
                let image_avatar_agency = await addFileToUpload(avatarAgencyUpdate);
                avatar = image_avatar_agency().map(item => item.uri);
            } 

            if(imgGalleryUpdate && imgGalleryUpdate.length){

                let multiInput = imgGalleryUpdate;

                await addFileToUpload(multiInput, links => {
                    links.forEach(item => {
                        gallery[gallery.length] = item.uri;
                    })
                    
                    $.ajax({
                        url: `/agency/update-agency/${agencyID}`,
                        method: 'POST',
						data: { name, email, phone, address, latitude, longitude, openTime, closeTime, status, code, tax_code, city, district, ward, productPawn, percentPawn,
							gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar)
						},
                        success: resp => {
                            if (!resp.error){
                                toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                                setTimeout(function(){
                                    location.reload();
                                }, 700);
                            }else{
                                enableAndStopLoading(this)
                                return toastr.error(`${resp.message}`, "THÔNG BÁO"); 
                            }
                        },
                        error: function(err) {
                            enableAndStopLoading(this)
                            return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                        }
                    });
                })
            }else{
                $.ajax({
                    url: `/agency/update-agency/${agencyID}`,
                    method: 'POST',
                    data: { name, email, phone, address, latitude, longitude, openTime, closeTime, status, code, tax_code, city, district, ward, productPawn, percentPawn,
                            gallery: JSON.stringify(gallery), galleryDelete: JSON.stringify(imgGalleryOldIsDeleted), avatar: JSON.stringify(avatar)
                    },
                    success: resp => {
                        console.log({ resp });
                        if (!resp.error){
                            toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 700);
                        }else{
                            enableAndStopLoading(this)
                            return toastr.error(`${resp.message}`, "THÔNG BÁO"); 
                        }
                    },
                    error: function(err) {
                        enableAndStopLoading(this)
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                });
            }
        });  


        //Remove agency
        $('.btnDeleteAgency').on('click', function (e) {
            e.preventDefault();
            let agencyID = $(this).attr("_agencyID");
            if (confirm("Bạn có chắc chắn xóa đại lý này không?")){
                $.ajax({
                    url: `/agency/remove-agency/${agencyID}`,
                    method: 'get',
                    success: resp => { 
                        if (!resp.error){
                            $(this).closest('tr').remove();
                            return toastr.success(`Xóa thành công`, "THÔNG BÁO");
                        }else{
                            return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }
            return false;
        })

        //Tìm kiếm
        $('.btnSearch').on('click', function (e) {
            e.preventDefault();
            let name = $("#txtKey").val();
            let start = $("#txtStartDate").val();
            let end = $("#txtEndDate").val();
            let city = $("#txtCitySearch").val();
            let district = $("#txtDistrictSearch").val();
            let ward = $("#txtWardSearch").val();
            let sort = $("#sort-other").val();

            if(!start && end) {
                return toastr.warning(`Vui lòng nhập thời gian bắt đầu và kết thúc`, "THÔNG BÁO");
            }

            if(!end && start) {
                return toastr.warning(`Vui lòng nhập thời gian bắt đầu và kết thúc`, "THÔNG BÁO");
            }

            if(!name && !start && !end && !city && !district && !ward && !sort && sort !== ""){
                return toastr.warning(`Vui lòng nhập ít nhất một trường`, "THÔNG BÁO");
            }

            let urlHref = `/agency?search=true`

            if(name){
                urlHref+=`&name=${name}`;
            }

            if(city){
                urlHref+=`&city=${city}`;
            }

            if(district){
                urlHref+=`&district=${district}`;
            }

            if(ward){
                urlHref+=`&ward=${ward}`;
            }

            if(start && end) {
                urlHref+=`&start=${start}&end=${end}`;
            }

            if(sort){
                urlHref+=`&sort=${sort}`;
            }

            location.href = urlHref;
        })

        let arrGalleryAgency = [];
        let imgGalleryOldDelete = [];
        let imgGalleryOldIsDeleted = [];
        let avatarAgency;
        let imgGalleryUpdate = [];
        let imgGalleryInsert = [];
        let avatarAgencyUpdate;
        let avatarAgencyInsert;

        let LGAddAgency = $('.image-gallery').lightGallery({
            thumbnail:true,
            // dynamicEl: [{
            // 	"src": 'http://sachinchoolur.github.io/lightGallery/demos/dynamic.html',
            // 	'iframe' : true
            // }]
        });
        
        // $(document).on("change", "#btnUploadGallery", function(){
        //     let idImage     = '.image-gallery';
        //     //setSuccess("#btnUploadGallery");
        //     let arrImgCus = $("#btnUploadGallery")[0].files;
        //     for( let i = 0; i < arrImgCus.length; i++){
        //         arrGalleryAgency[arrGalleryAgency.length] = arrImgCus[i];
        //     }
        //     let type = "imgGalleryAgency";
        //     readURL(this, idImage, type );
        //     if ( LGAddAgency ){
        //         $('.image-gallery').data('lightGallery').destroy(true);
        //     }

        //     LGAddAgency = $('.image-gallery').lightGallery({
        //         thumbnail:true,
        //         // dynamicEl: [{
        //         // 	"src": 'http://sachinchoolur.github.io/lightGallery/demos/dynamic.html',
        //         // 	'iframe' : true
        //         // }]
        //     });
        // });

        // $(document).on("change", "#btnUploadAvatar", function(){
        //     let idImage     = '.image-avatar';
        //     //setSuccess("#btnUploadGallery");
        //     avatarAgency = $("#btnUploadAvatar")[0].files[0];
        //     avatarAgency = [avatarAgency];
        //     let type = "imgAvatarAgency";
        //     readURL(this, idImage, type );
        //     if(lightGalleryAvatar) {
        //         $('.image-avatar').data('lightGallery').destroy(true);
        //     }

        //     lightGalleryAvatar = $('.image-avatar').lightGallery({
        //         thumbnail:true,
        //         appendSubHtmlTo: "K360"
        //     });
        // });

        //Tạo
        $("#btnUploadGallery").change(function(){
            let idImage     = '.image-gallery-update';
            let arrImgGallery = $("#btnUploadGallery")[0].files;
            for( let i = 0; i < arrImgGallery.length; i++){
                imgGalleryUpdate.push(arrImgGallery[i]);
            }
            let type = "imgGalleryUpdate";
            readURL(this, idImage, type );
        });

        $("#btnUploadAvatar").change(function(){
            let idImage     = '.image-avatar-update';
            avatarAgencyUpdate = $("#btnUploadAvatar")[0].files[0];
            avatarAgencyUpdate = [avatarAgencyUpdate];
            let type = "imgAvatarUpdate";
            readURL(this, idImage, type );
        });

        //Tạo
        $("#btnUploadGalleryInsert").change(function(){
            let idImage     = '.image-gallery';
            let arrImgGallery = $("#btnUploadGalleryInsert")[0].files;
            for( let i = 0; i < arrImgGallery.length; i++){
                imgGalleryInsert.push(arrImgGallery[i]);
            }
            let type = "imgGalleryInsert";
            readURL(this, idImage, type );
        });

        $("#btnUploadAvatarInsert").change(function(){
            let idImage     = '.image-avatar';
            avatarAgencyInsert = $("#btnUploadAvatarInsert")[0].files[0];
            avatarAgencyInsert = [avatarAgencyInsert];
            let type = "imgAvatarInsert";
            readURL(this, idImage, type );
        });

        $(document).on('hidden.bs.modal', '.model-create-customer', function () {
            arrGalleryAgency = [];
            setEmptyData();
        })

        $(document).on("click", ".deleteImage", function(e){
            e.preventDefault();

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if ( type == "imgGalleryAgency" ){
                arrGalleryAgency.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        arrGalleryAgency.splice(index, 1);
                        $(this).parent().remove();
                    }
                })

            }

            if ( type == "imgGalleryUpdate" ){
                if( imgID && imgID.length ){
                    imgGalleryOldDelete.forEach((imgUpdate, index) => {
                        // console.log({ imgUpdate });
                        if ( imgUpdate == imgID ){
                            let obj = {
                                id: imgUpdate,
                                name: imgName
                            }
                            imgGalleryOldIsDeleted[imgGalleryOldIsDeleted.length] = obj ;
                            imgGalleryOldDelete.splice(index, 1);
                            $(this).parent().remove();
                        }
                    });
                    //console.log({ imgGalleryOldIsDeleted });
                }else{
                    imgGalleryUpdate.forEach((imgUpdate, index) => {
                        if ( imgUpdate.name == imgName ){
                            imgGalleryUpdate.splice(index, 1);
                            $(this).parent().remove();
                        }
                    })
                }
                changeLightGallery({ lightGallery, input: ".image-gallery"  });
            }
        }); 

        detectKeyupInputNull("txtName");
        detectKeyupInputNull("txtEmail");
        // detectKeyupInputNull("txtPhone");
        detectKeyupInputNull("txtAddress");
        detectKeyupInputNull("txtLatitude");
        detectKeyupInputNull("txtLongitude");
        // detectKeyupInputNull("txtTaxCode");
        detectKeyupInputNull("txtCode");

        $('select').on('change', function (e) {
            let value = $(this).val();
            if(value){
                setSuccess(this);
            }
        });

        $("#txtCitySearch").select2({
            width: '100%'
        });
        $("#txtDistrictSearch").select2({
            width: '100%'
        });
        $("#txtWardSearch").select2({
            width: '100%'
        });
        $("#txtAgency").select2();
        $("#filter-other").select2();

        $("#txtCityFilter, #txtDistrictFilter, #txtWardFilter").select2({
            width: '100%'
        });
    });
    
</script>