<script>
    $(function(){
        $('#basicExampleEmployee').DataTable({
            'iDisplayLength': 10,
			...languageDataTable
        });
    });

    function setError(input, errorMessage){
        $(input).addClass("error");
        $(input).parent().find('small').addClass("errors");
        $(input).parent().find('small').text(errorMessage);
    }

    function setSuccess(input){
        $(input).removeClass("error");
        $(input).parent().find('small').removeClass("errors");
    }
    //Show modal tạo nhân viên
    $('.btnShowModalCreateEmployee').on('click', function (e) {
        e.preventDefault();
        $('.modal-create-account-employee').modal('show');
        setSuccess("#txtNameEmployee");
        setSuccess("#txtEmailEmployee");
    });

    //Tạo nhân viên
    $('.btnAddEmployee').on('click', function () {
        let username = $("#txtNameEmployee").val();
        let email = $("#txtEmailEmployee").val();

        !username ? setError("#txtNameEmployee", "Tên không được phép rỗng") : setSuccess("#txtNameEmployee");
        !email ? setError("#txtEmailEmployee", "Email không được phép rỗng") : setSuccess("#txtEmailEmployee");

        if(!username || !email)
            return;

        let mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

        if(!email.match(mailformat)){
            return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO"); 
        }

        disableAndLoading(this);
        
        $.ajax({
            url: `/agency/add-employee`,
            method: 'POST',
            data: { username, email },
            success: resp => {
                console.log({ resp });
                enableAndStopLoading(this);
                if (!resp.error){
                    toastr.success(`Thêm thành công`, "THÔNG BÁO");
                    $('#modalNotifyCreateSuccess').modal('show');
                    $('.modal-create-account-employee').modal('hide');
                    $('.emailCreateSuccess').text(email);
                    $('.btn-block').on('click', function(){
                        return location.reload();
                    })
                    $('.btnCloseMyLargeModalLabel').on('click', function(){
                        return location.reload();
                    })
                    $('#modalNotifyCreateSuccess').mouseup(function(){
                        return location.reload();
                });
                    
                }else{
                    if (resp.message == "email_existed"){
                        return toastr.warning(`Email đã tồn tại, Mời bạn nhập email khác`, "THÔNG BÁO");
                    }else if(resp.message == "username_existed"){
                        return toastr.warning(`Username đã tồn tại, Mời bạn nhập username khác`, "THÔNG BÁO");
                    }else{
                        return toastr.error(`Thêm không thành công`, "THÔNG BÁO");
                    }
                }
            },
            error: function(err) {
                toastr.error(`Thêm không thành công`, "THÔNG BÁO"); 
            }
        });
    });

    //Show modal cập nhật thông tin owner, employee
    $('.btnUpdateUser').on('click', function (e) {
        e.preventDefault();

        let employeeID = $(this).attr("_employeeID");
		let status = $(this).attr('_status');
        setSuccess("#txtEmailUser");
		$('.modal-update-account').modal('show');

        $.ajax({
            url: `/agency/info-user/${employeeID}`,
            method: 'GET',
            success: resp => {
                let { email, username, level } = resp.data;
                if (!resp.error){
                    $("#txtEmailUser").val(email);
                    $("#txtUsernameUser").val(username);
                    $("#txtStatus").val(status);
                    $("#txtLevel").val(level);
                    $(".btnConfirmUpdateUser").attr("_userID", employeeID);
                }else{
                    return toastr.error(`Thất bại`, "THÔNG BÁO");
                }
            },
            error: function(err) {
                return toastr.error(`Thất bại`, "THÔNG BÁO");
            }
        });
    });

    //Cập nhật thông tin User
    $('.btnConfirmUpdateUser').on('click', function () {
		let agencyID = `<%= agencyChoosed && agencyChoosed._id %>`;
        let userID = $(this).attr("_userID");
        let email = $("#txtEmailUser").val();
        let status = $("#txtStatus").val();
        let username = $("#txtUsernameUser").val();
        let level = $("#txtLevel").val();

        if(!email || !username){
            return toastr.warning(`Vui lòng điền đầy đủ thông tin`, "THÔNG BÁO");
        }
        disableAndLoading(this);

        $.ajax({
            url: `<%= CF_ROUTINGS_USER.UPDATE_USER_AGENCY_BRANCH %>`,
            method: 'POST',
            data: { userID, email, username, status, level, agencyID },
            success: resp => {
                enableAndStopLoading(this);

                if (!resp.error){
                    toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                    setTimeout(() => location.reload(), 700);
                } else{
                    return toastr.warning(`Email này đã tồn tại trên hệ thống`, "THÔNG BÁO"); 
                }
            },
            error: function(err) {
                return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
            }
        });
    });

    // Show modal thêm nhân viên
    $('.btnShowModalAddEmployee').on('click', function (e) {
        e.preventDefault();
        $("#txtEmailEmployeeAdd").val('');
        $('.infoUserAdd').empty();
        $('.modal-add-account-employee').modal('show');
        // setSuccess("#txtEmailOwner");
    });

    $('.btnAddEmployeeIsExisted').on('click', async function (e) {
        e.preventDefault();

        let email       = $("#txtEmailEmployeeAdd").val();
        let agencyID    = $(this).attr("_agencyID");
        disableAndLoading(this);

        $.ajax({
            url: `<%= CF_ROUTINGS_AGENCY.ADD_EMPLOYEE_EXISTED %>`,
            method: 'POST',
            data: { email, agencyID }
        }).done(resp => {
            if(resp.error){
                switch (resp.message) {
                    case 'email_not_existed':
                        toastr.warning(`Email không tồn tại`, "THÔNG BÁO");
                        break;
                    case 'email_is_have_agency':
                        toastr.warning(`Email đã thuộc Đại Lý này`, "THÔNG BÁO"); 
                        break;
                    case 'account_is_not_employee':
                        toastr.warning(`Tài khoản này không phải là nhân viên`, "THÔNG BÁO"); 
                        break;
                    default:
                        break;
                }

                return enableAndStopLoading(".btnAddEmployeeIsExisted");
            }

            if(!resp.error){
                toastr.success(`Thêm thành công`, "THÔNG BÁO"); 
                setTimeout(() => location.reload(), 600);
            }
        }).fail(err => {
            toastr.error(`Thất bại: ${err.message}`, "THÔNG BÁO"); 
            return enableAndStopLoading(this);
        })

    })

</script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>