<script>
    $(document).ready(function () {

		const pickAgency = $('#slProductCategory');
		pickAgency.length && pickAgency.select2();

		$('#btn-check-product-category').on('click', function () {
            const categoryID = $('#slProductCategory').val();
			if(!categoryID){
				return toastr.warning(`Bạn chưa chọn danh mục`, "THÔNG BÁO");
			}

            const categoryName = $(`#slProductCategory option[value=${categoryID}]`).text().trim();

			localStorage.setItem('PRODUCT_CATEGORY_CHOOSED', JSON.stringify([
				{ categoryID, categoryName, value: 0 }
			]));

            location.href = `${location.origin}/step-by-choose?category=${categoryID}`;
        });

		$('.btn-see-all-category').on('click', function () {
			$.ajax({
				type: "GET",
				url: "?type=API",
			}).done(resp => {
				const { listProductCategory } = resp;
				if(listProductCategory && listProductCategory.length){
					let htmlListCategory = '';

					listProductCategory.map(category => {
						htmlListCategory += `
							<div class="col-md-3 col-6 col-sm-6 text-center py-3">
								<a href="/detail-pawn-category?category=${category._id}" class="list--link category-item home_pawn_designerbags-${category._id}">
									<img class="img-fluid rounded-circle shadow" width="220px" src="${category.image && category.image.path}"
										alt="category icon bag" />
									<p class="category-name py-3 text--white font-weight-semi-bold text--size_18">
										${category.name}
									</p>
								</a>
							</div>
						`;
					})

					$('.container-list-category').html(htmlListCategory);
				}else{
					toastr.warning(`Không còn danh mục nào`, "THÔNG BÁO");
				}

				$(this).hide();
			}).fail(err => console.log(err));
			
		});

    })
</script>