<style>
    .routing {
        background-color: #B3751D;
        padding: 10px 0;
        font-size: 14px;
        margin-top: 90px;
        visibility: hidden;
    }
    .detailProductsRouting-wrapper {
        display: flex;
    }
    .detailProductsRouting-wrapper span {
        padding: 0 5px;
        color:white !important;
    }
    .detailProductsRouting {
        text-decoration: none;
        color:white !important;
    }
    .detailProductsRouting--active {
        color: #ffee90 !important;
    }


    .backgroundDetailProducts {
        background-size: contain;
        background-position: center;
        height: 230px;
        background-repeat: no-repeat;
    }

    .main-wrapper {
        background-color: #f5f5f5;
        color: black;
        min-height: 50vh;
    }
    .main-left__brand {
        margin-top: 20px;
    }
    .brand__item {
        /* background: rgb(50, 127, 190); */
        background-color: #e09126;
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        color: rgb(255, 255, 255) !important;
        font-weight: 400;
        display: inline-block;
        margin: 10px 10px 0px;
    }
    .main-left {
        padding: 30px 0;
    } 
    .main-left h1 {
        font-size: 35px;
    }
    .main-left p {
        font-size: 17px !important;
    }
    .main-left a {
        color: #e09126;
    }
    .main-left__title {
        font-size: 37px !important;
        font-weight: bold !important;
        margin-bottom: 10px;
    }
    .main-right {
        padding: 30px 0;
        padding-left: 40px;
    }
    .main-left__sub {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .main-right__card {
        border-radius: 10px;
        overflow: hidden;
    }
    .main-right__card-title {
        background-color: #e09126;
        text-align: center;
        margin: 0;
        padding: 20px;
        font-size: 23px;
        /* font-weight: bold; */
        color: white;
    }
    .main-right__card-content {
        background-color: white;
        padding: 15px;
        color: black;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-right__card-content--btn {
        padding: 5px 15px;
        border-radius: 20px;
        background-color: #fd9e1b;
        text-align: center;
        margin-top: 15px;
        min-width: 150px;
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    }

    .main-right__card-content--btn a {
        color: white;
		width: 100%;
		height: 100%;
		display: block
    }
    .main-right__card-content--btn a:hover {
        text-decoration: none;
    }
    .detailProduct--pawnnow a{
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        background: rgb(255, 112, 25);
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        border-radius: 15px;
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .detailProduct--pawnnow a{
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    .detailProduct--pawnnow a:hover {
        text-decoration: none;
    }
    .container-custom {
        padding: 0 60px;
    }
    #footer{
    	position: relative;
        bottom: 0;
        width: 100%;
    }

    @media only screen and (max-width: 765px) {
        .backgroundDetailProducts {
            height: 180px;
        }
        .main-right {
            padding-left: 0;
        }
        .container-custom {
            padding: 0 15px !important;
            
        }
    }
    @media only screen and (max-width: 1000px) {
        .backgroundDetailProducts {
            height: 220px;
        }
        .container-custom {
            padding: 0 15px !important;
            max-width: 960px !important;
        }
        .routing {
            margin-top: 90px;
        }
    }
</style>

<% if (infoProductCategory) { %>
	<div class="container-grid">
		<div class="routing">
			<div class="container container-custom detailProductsRouting-wrapper">
				<a class="detailProductsRouting" href="/">Trang chủ</a>
				<span>/</span>
				<a class="detailProductsRouting" href="/pawn-category">Danh mục</a>
				<span>/</span>
				<a class="detailProductsRouting detailProductsRouting--active" href="javascript:void(0)">
					<%= infoProductCategory.name %>
				</a>
			</div>
		</div>
		<% if (infoProductCategory.image) { %>
			<!-- /template/assets/images/latop.jpeg -->
			<div class="backgroundDetailProducts" style="background-image: url('<%= infoProductCategory.image.path %>');">
			</div>
		<% } %>
		<div class="main-wrapper">
			<div class="container container-custom">
				<div class="row">
		
					<div class="col-12 col-md-8 col-lg-8">
						<div class="main-left">
							<h1 class="main-left__title"> <%= infoProductCategory.name %> </h1>
							<p class="main-left__sub">
								<%- infoProductCategory.content %>
							</p>
	
							<div class="main-left__brand">
								<% if (infoProductCategory.brands && infoProductCategory.brands.length) { %>
									<h1 class="main-left__title">Thương hiệu</h1>
									<div class="main-left__brand-wrap-item">
										<% infoProductCategory.brands.forEach(brand => { %>
											<a href="javascript:void(0)" class="brand__item"> <%= brand %> </a>
										<% }) %>
									</div>
								<% } %>
							</div>
	
							<!-- <div class="detailProduct--pawnnow">
								<a href="/">Pawn now</a>
							</div> -->
						</div>
					</div>
	
					<div class="col-12 col-md-4 col-lg-4">
						<div class="main-right">
							<div class="main-right__card">
								<h2 class="main-right__card-title">Lợi ích khi cầm  <%= infoProductCategory.name %>  ở K360</h2>
								<div class="main-right__card-content">
									<span class="main-right__card-content--sub">
										<%- infoProductCategory.description %> 
									</span>
									<div class="main-right__card-content--btn">
										<a href="javascript:void(0)" id="btnChoisePawnCategory" 
										_categoryID="<%= infoProductCategory._id %>"
										_categoryName="<%= infoProductCategory.name %>">
										Định giá
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>   
			</div>
		</div>
	</div>
<% } %>
