<style>
	.category-item img{
		object-fit: contain;
		height: 150px;
		width: 150px;	
	}
</style>

<section class="items-section-container py-5">
    <div class="container">
        <div class="section-title text-center my-5">
            <h3 class="text--white font-weight-semi-bold">DANH MỤC TÀI SẢN CẦM CỐ</h3>
        </div>
        <div class="items-body container">
            <div class="row container-list-category">
				<% if (listProductCategory && listProductCategory.length) { %>
					<% listProductCategory.forEach((category, index) => { %>
						<% if (index < 4) { %>
							<div class="col-md-3 col-6 col-sm-6 text-center py-3">
								<a href="/detail-pawn-category?category=<%= category._id %>" class="list--link category-item home_pawn_designerbags-<%= category._id %>">
									<img class="img-fluid rounded-circle shadow" width="220px" src="<%= category.image && category.image.path %> "
										alt="category icon bag" />
									<p class="category-name py-3 text--white font-weight-semi-bold text--size_18">
										<%= category.name %>
									</p>
								</a>
							</div>
						<% } %>
					<% }) %>
				<% } %>
            </div>
        </div>
        <div class="items-footer">
            <div class="row">
                <p class="col-sm-12 text-center">
                    <a href="javascript:void(0)" class="btn btn-green btn-circle shadow px-5 btn-see-all-category">Xem tất cả</a>
                </p>
            </div>
        </div>
    </div>
</section>
