<section class="container--main container--k360">
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="home">
                    <div class="title text-center text--blue_dark">
                        <h3 class="">Bạn cần Tài chính đột xuất?</h3>
                        <h1 class="font-weight-semi-bold">
                            <span class="font-weight-normal">ĐÃ CÓ</span>
                            <span>K360</span>
                            <!-- <span class="text--blue ">K</span><span class="text--green">360</span> -->
                        </h1>
                    </div>
                    <div class="text-center d-lg-none">
                        <!-- <img src="../../../../template/assets/v3/img/k360-models-v10.png" class="img-fluid bannerHome" height="550px" alt="k360 models" style="max-width: 550px;"> -->
                        <img src="../../../../template/assets/v3/img/k360-models-v10.png" class="img-fluid bannerHome" height="550px" alt="k360 models">
                    </div>
                    <div class="category-container k360.ph/pawn/shadow rounded container py-3">
                        <p class="text-center text--blue_dark text--size_22">Chúng tôi sẽ ước tính và định giá mặt hàng của bạn</p>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group form-select2 home-select">
                                    <label class="text--size_16 text--blue_dark" for="">Chọn danh mục</label>
                                    <select class="form-control form-control-chosen select-pawn-categories"
                                        data-placeholder="Chọn danh mục" id="slProductCategory" style="width: 100%">
                                        <option selected hidden></option>
                                        <% if(listProductCategory && listProductCategory.length){ %>
                                            <% listProductCategory.forEach(category => { %>
                                                <option value="<%= category._id %>">
                                                    <%= category.name %>
                                                </option>
                                            <% }) %>
                                        <% } %>
                                    </select>
                                </div>
                                <input type="hidden" name="base-url" value="https://k360.ph/" />
                            </div>
                            <div class="col-sm-4 align-self-end">
                                <div class="form-group">
                                    <!-- main-pawn-now -->
                                    <a id="btn-check-product-category" class="btn btn-orange btn-block btn-circle shadow"
                                        style="margin-bottom: -2px;margin-left: -5px;" href="javascript:void(0)">
                                        Kiểm tra
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners-container d-flex flex-wrap justify-content-around">
                        <!-- <img src="../../../../template/assets/v3/img/bsp.svg" class="img-fluid" alt="k360 bsp">
                        <img src="../../../../template/assets/v3/img/pioneer-logo-2.svg" class="img-fluid" alt="k360 pioneer"> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block align-self-end">
                <img src="../../../../template/assets/v3/img/k360-models-v10.png" width="700px" class="img-fluid" alt="k360 models">
            </div>
        </div>
    </div>
    </div>
    <!-- <div id="marquee_section" class="marquee-wrapper backg-blue_dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block">
                    <p class="text--white m-0" style="line-height: 1.3rem;">Các giao dịch gần đây</p>
                </div>
                <div class="col-lg-9 d-none d-lg-block">
                    <div class="marquee pb-2">
                        <p class="text--white m-0 " style="line-height: 1.3rem;">13/05/2021 &bullet; Máy tính HP 576LPX FULLHD | 24/05/2021 &bullet; Điện thoại Samsung Galaxy Note9 512GB GOLD | 30 Mar 2021 &bullet; P1,620.00 Casio G-Shock | 19 Mar 2021 &bullet; P719,080.80 Hermes Birkin Bag | 30 Mar 2021 &bullet; P9,563.40 Invicta Any Model | 15 Mar 2021 &bullet; P6,551.40 TechnoMarine Cruise | 30 Mar 2021 &bullet; P1,545.00 Michael Kors Duffel Bag | 22 Mar 2021 &bullet; P3,545.40 Coach Any model | 23 Mar 2021 &bullet; P24,963.29 Samsung Samsung S21 Ultra | 12 Apr 2021 &bullet; P21,057.00 Oris Aquis | 14 Apr 2021 &bullet; P8,559.60 Louis Vuitton Keepall | 13 Apr 2021 &bullet; P4,500.00 TechnoMarine Cruise | 29 Mar 2021 &bullet; P6,000.00 Bally handbag | 27 Mar 2021 &bullet; P5,547.60 Tag Heuer Aquaracer | 08 Apr 2021 &bullet; P1,345.20 Michael Kors Handbag | 12 Apr 2021 &bullet; P12,575.92 Gold 21K | 06 Apr 2021 &bullet; P16,500.00 Apple iPhone 11 Pro Max | 26 Mar 2021 &bullet; P210,331.80 Hermes Birkin Bag | 23 Mar 2021 &bullet; P8,559.60 Louis Vuitton Caissa Clutch | 07 Apr 2021 &bullet; P99,921.60 Chanel Flap Bag with Top Handle | 15 Mar 2021 &bullet; P9,563.40 Chanel 11.12 Flap Bag | 30 Mar 2021 &bullet; P1,345.80 Kate Spade Backpack | 31 Mar 2021 &bullet; P11,069.60 Huawei Matebook D14 | 16 Mar 2021 &bullet; P18,954.00 Apple iPhone 11 Pro Max | 26 Mar 2021 &bullet; P19,383.26 Apple Macbook Air 2020</p>
                    </div>
                </div>
                <div class="col-sm-12 d-lg-none">
                    <div class="marquee pb-2">
                        <p class="text--white m-0" style="line-height: 1.3rem;">
                            Latest Pawn Transactions: 05 Apr 2021 &bullet; P4,545.00 TechnoMarine Cruise | Latest Pawn Transactions: 19 Mar 2021 &bullet; P7,555.80 Gucci 1955 Horsebit Tote Bag       | Latest Pawn Transactions: 30 Mar 2021 &bullet; P1,620.00 Casio G-Shock | Latest Pawn Transactions: 19 Mar 2021 &bullet; P719,080.80 Hermes Birkin Bag | Latest Pawn Transactions: 30 Mar 2021 &bullet; P9,563.40 Invicta Any Model | Latest Pawn Transactions: 15 Mar 2021 &bullet; P6,551.40 TechnoMarine Cruise | Latest Pawn Transactions: 30 Mar 2021 &bullet; P1,545.00 Michael Kors Duffel Bag | Latest Pawn Transactions: 22 Mar 2021 &bullet; P3,545.40 Coach Any model | Latest Pawn Transactions: 23 Mar 2021 &bullet; P24,963.29 Samsung Samsung S21 Ultra | Latest Pawn Transactions: 12 Apr 2021 &bullet; P21,057.00 Oris Aquis | Latest Pawn Transactions: 14 Apr 2021 &bullet; P8,559.60 Louis Vuitton Keepall | Latest Pawn Transactions: 13 Apr 2021 &bullet; P4,500.00 TechnoMarine Cruise | Latest Pawn Transactions: 29 Mar 2021 &bullet; P6,000.00 Bally handbag | Latest Pawn Transactions: 27 Mar 2021 &bullet; P5,547.60 Tag Heuer Aquaracer | Latest Pawn Transactions: 08 Apr 2021 &bullet; P1,345.20 Michael Kors Handbag | Latest Pawn Transactions: 12 Apr 2021 &bullet; P12,575.92 Gold 21K | Latest Pawn Transactions: 06 Apr 2021 &bullet; P16,500.00 Apple iPhone 11 Pro Max | Latest Pawn Transactions: 26 Mar 2021 &bullet; P210,331.80 Hermes Birkin Bag | Latest Pawn Transactions: 23 Mar 2021 &bullet; P8,559.60 Louis Vuitton Caissa Clutch | Latest Pawn Transactions: 07 Apr 2021 &bullet; P99,921.60 Chanel Flap Bag with Top Handle | Latest Pawn Transactions: 15 Mar 2021 &bullet; P9,563.40 Chanel 11.12 Flap Bag | Latest Pawn Transactions: 30 Mar 2021 &bullet; P1,345.80 Kate Spade Backpack | Latest Pawn Transactions: 31 Mar 2021 &bullet; P11,069.60 Huawei Matebook D14 | Latest Pawn Transactions: 16 Mar 2021 &bullet; P18,954.00 Apple iPhone 11 Pro Max | Latest Pawn Transactions: 26 Mar 2021 &bullet; P19,383.26 Apple Macbook Air 2020                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>