<style>
	.category--image img{
		width: 130px;
		height: 100px;
		object-fit: contain;
	}
    .search-wrapper{
        margin: 30px 0 30px 0;
        height: 40px;
    }
    .search-bar{
        margin: auto;
        width: 50%;
        height: 100%;
        position: relative;
    }
    .search-bar img{
        position: absolute;
        width: 20px;
        height: 100%;
        left: 10px;
        z-index: 1;
    }
    .search-bar #txtSearchCategory{
        position: absolute;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 10px;
        outline: none;
        padding-left: 35px;
        width: 100%;
        height: 100%;
        left: 0
    }
</style>

<div class="container container--main container-minHeight py-5">
    <div class="row justify-content-center">
        <div class="col-sm-8">

            <div class="text-center" style="margin-bottom: 20px;">
                <img src="/template/img/pawn-images/items-we-accept-banner.svg" alt="">
            </div>

			<h3 class="font-weight-semi-bold text--blue text-center">
                <!-- Định giá miễn phí Mặt Hàng của bạn. -->
                Các mặt hàng chúng tôi chấp nhận
            </h3>

            <p class="text--gray text-center">
                Tại K360, chúng tôi nhận cung cấp nhiều loại mặt hàng có giá trị như các mặt hàng xa xỉ như túi hàng hiệu, đồng hồ sang trọng, đồ trang sức, kim loại quý, đá quý, v.v. mà theo truyền thống đã được các hiệu cầm đồ chấp nhận.
            </p>

            <p class="text--gray text-center">
                Không giống như các hiệu cầm đồ truyền thống, chúng tôi cũng chấp nhận một danh sách mở rộng các mặt hàng như điện thoại thông minh, các thiết bị điện tử khác, v.v. Để biết danh sách đầy đủ các mặt hàng chúng tôi chấp nhận, hãy xem danh sách bên dưới.
            </p>

            <div class="text--gray text-center">
                <div class="search-wrapper">
                    <div class="search-bar">
                        <img src="https://d1v5w8bodpeh4i.cloudfront.net/assets/search-icon-green.svg" alt="">
                        <input type="text" id="txtSearchCategory" placeholder="Nhập tên danh mục">
                    </div>
                    <!-- <button class="btn-lg btn btn-orange ladda-button ">Tìm kiếm</button> -->
                </div>
            </div>

			<h1 class="font-weight-semi-bold text--blue text-center hide">
				Pawn Categories
			</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row container-pawn-category">

                <% if (listProductCategory && listProductCategory.length) { %>
                    <% listProductCategory.forEach(category => { %>
                        <% let { _id, name, image } = category %>

                        <div class="col-sm-4 item-pawn-category">
                            <a id="category_smarthphones" class="category--link" 
                            href="/detail-pawn-category?category=<%= _id %>">
                                <div class="smart--box category--box border p-3 my-2">
                                    <div class="category--image text-center">
                                        <!-- /template/assets/v3/img/category-smartphones.png -->
                                        <img src="<%= image && image.path %> " class="img-fluid" />
                                    </div>
                                    <p class="text-smartphone text-center category--name mt-3 mb-0">
                                        <%= name %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } %>

            </div>
        </div>
    </div>
</div>
