<style>
    .link--item.active{
        background-color: #e09126;
    }
    .link--item:hover .text-description:not(.active),
    .text--blue_dark.active{
        color: white !important;
    }

	.text-description{
		color: #ddac66
	}

	.last-product-category,
	.last-product-category:active,
	.last-product-category:focus,
	.last-product-category:hover {
		text-decoration: none
	}

	.last-product-category:hover .link--item {
		background-color: #e09126
	}

	.last-product-category:hover .link--item ul li,
	.last-product-category:hover .link--item>p {
		color: #fff !important
	}
	.title-form-pricing-request{
		text-align: center !important;
		font-size: 25px;
		margin-bottom: 30px;
		font-weight: bold;
		color: #B3751E !important
	}
	.step-category-number{
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
		padding-top: 3px;
		border: 1px solid #B3751E;
		font-weight: bold;
		cursor: pointer;
	}
	.step-category-number.active{
		border: none;
		color: white;
		background-color: #e9a444 !important
	}
    #footer{
    	position: relative;
        bottom: -180px;
        width: 100%;
    }
	.input-text-field,
	.select-dropdown-item{
		width: 50%;
		margin-left: 10px;
		margin-top: -5px;
	}
	.select-dropdown-item{
		width: 20%;
	}
</style>

<div class="container container--pawn container--pawn container--main py-5">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12 col-md-8">
            <div class="border p-3 clearfix">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="previous--container">
                        <% 
							let parentCategory = infoParent && infoParent.parent;
							let url = parentCategory 
                                ? '/step-by-choose?category=' + parentCategory
                                : '/';
                        %>
                        <a href="<%= url %>" class="text--blue_dark attr--prev btn-back" _parentCategory="<%= infoParent && infoParent._id %>">
                            <i class="fa text--size_24 fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="box--label">
                        <h1 class="text--size_24 text--blue_dark text-parent">
                            <%= infoParent && infoParent.textParent %> 
                        </h1>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="container--list">
                <% 
					let hasChilds = false;
					let infoNextButton = [];
				%>

                <% if (listProductCategory && listProductCategory && listProductCategory.length) { %>

                    <% listProductCategory.forEach(category => { %>

                        <% if (category.childs && category.childs.length || category.type === 1) { %>
                            <% hasChilds = true; %>
                        <% } %>

						<% if (category.type == 0) { %>
							<a href="javascript:void(0)" 
								style="text-decoration: none"
								_categoryID="<%= category._id %>"
								_categoryName="<%= category.name %>"
								_categoryPrice="<%= category.price %>"
							>
								<div class="link--item item-checkbox border border-top-0 px-3 py-3">
									<p class="py-2 text--blue_dark m-0">
										<%= category.name %> 
										<i class="pt-1 fa fa-check pull-right invisible" aria-hidden="true"></i>
									</p>
									<div class="text-description">
										<%- category.description %>
									</div>
								</div>
							</a>
						<% } %>

                        <% if (category.type == 1) { %>
                            <a href="/step-by-choose?category=<%= category._id %>" 
                                class="<%= category.childs && !category.childs.length ? 'last-product-category' : 'list--link' %>"
                                _categoryID="<%= category._id %>"
                                _categoryName="<%= category.name %>"
                                _categoryPrice="<%= category.price %>"
								_specialCategory="<%= category.specialCategory %>"
							>
                                <div class="link--item border border-top-0 px-3 py-3">
                                    <p class="py-2 text--blue_dark m-0">
                                        <%= category.name %> 
                                        <i class="fa fa-chevron-right pull-right pt-1" aria-hidden="true"></i>
                                    </p>
                                    <div class="text-description text--blue_dark">
                                        <%- category.description %>
                                    </div>
                                </div>
                            </a>
                        <% } %>

						<% if (category.type == 2) { %>
							<% 
								infoNextButton.push({
									categoryID: category._id,
									categoryName: category.name,
									type: category.type
								})
							%>
							<a href="javascript:void(0)" style="text-decoration: none">
								<div class="field--item border border-top-0 px-3 py-3">
									<p class="py-2 text--blue_dark m-0 d-flex">
										<%= category.name %>
										<input 
											type="text"
											class="form-control input-text-field" 
											_categoryID="<%= category._id %>"
											placeholder="<%= category.textField ? category.textField.text : '' %>"
										/>
									</p>
									<div class="text-description">
										<%- category.description %>
									</div>
								</div>
							</a>
						<% } %>

						<% if (category.type == 3) { %>
							<% 
								infoNextButton.push({
									categoryID: category._id,
									categoryName: category.name,
									type: category.type
								})
							%>
							<a href="javascript:void(0)" style="text-decoration: none">
								<div class="dropdown--item border border-top-0 px-3 py-3">
									<p class="py-2 text--blue_dark m-0 d-flex">
										<%= category.name %>

										<% if (category.dropDown && category.dropDown.length) { %>
											<select class="form-control select-dropdown-item" _categoryID="<%= category._id %>">
												<% category.dropDown.forEach(item => { %>
													<option value="<%= item._id %>"> <%= item.text %> </option>
												<% }) %>
											</select>
										<% } %>
									</p>
									<div class="text-description">
										<%- category.description %>
									</div>
								</div>
							</a>
						<% } %>

                    <% }) %>

                <% } %>

            </div>

            <!-- SELECT AGENCY -->
            <div class="border p-5 d-none form-select-agency">
                <h5 class="text-center title-form-pricing-request">
                    Lựa chọn đại lý
                </h5>

                <div class="form-group" style="text-align: center;">
                    <select class="form-control" data-placeholder="Chọn đại lý" id="slAgency" style="width: 40%">
                        <option selected hidden></option>
                    </select>
                </div>

                <!-- <div class="mt-4 text-center">
                    <button data-style="slide-right" class="btn-lg btn btn-orange ladda-button btn-select-agency">
                        <span class="ladda-label font-weight-semi-bold">
                            Tiếp theo
                        </span>
                    </button>
                </div> -->
            </div>

            <!-- PRICING REQUEST -->
            <div class="border p-5 d-none form-pricing-request">
                <h5 class="text-center title-form-pricing-request">
                    Làm thế nào chúng tôi nhận được yêu cầu cho vay của bạn?
                </h5>
                <!-- <div class="alert alert-info">
                    <p class="text--blue_dark">
                        <span class="text--blue">LƯU Ý:</span> Đảm bảo
                        <span class="text--blue">
                            tên pháp lý
                        </span> 
                        mà bạn nhập trên ứng dụng này
                        <span class="text--blue">khớp với ID hợp lệ của bạn</span>.
                    </p>
                </div> -->

                <div class="form-group">
                    <label for="txtFullname">Họ và tên</label>
                    <input type="text" class="form-control" id="txtFullname" placeholder="">
                    <div class="invalid-feedback">
                        Please provide a valid last name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPhone">Số điện thoại</label>
                    <input type="text" class="form-control" id="txtPhone" placeholder="">
                    <!-- <input type="hidden" class="form-control" id="mobile_number" name="mobile_number" value="" /> -->
                    <div class="invalid-feedback">
                        Please provide a valid mobile number.
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="email" class="form-control" id="txtEmail" aria-describedby="" placeholder="">
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                </div>
				<div class="form-group">
                    <label for="txtNote">Chú thích</label>
                    <textarea id="txtNote" class="form-control" cols="30" rows="4"></textarea>
                </div>
                
                <div class="mt-4 text-center">
                    <button data-style="slide-right" class="btn-lg btn btn-orange ladda-button btn-send-pricing-request">
                        <span class="ladda-label font-weight-semi-bold">
                            Định giá miễn phí
                        </span>
                    </button>
                </div>
            </div>

            <div class="contact--pawn border border-top-0 p-3 backg-blue_dark clearfix">
                <p class="m-0 text--white font-weight-light pull-left">Không tìm thấy danh mục sản phẩm?
                    <a id="tap-here-btn" class="text--white font-weight-semi-bold" href="/contact">
                        Liên hệ chúng tôi
                    </a>
                    <!-- <i class="fa fa-info-circle mt-2 text--green pull-right" aria-hidden="true"></i> -->
                </p>
                <div class="pull-right">
					<a data-spinner-color="#354F65" data-style="slide-right" href="javascript:void(0)" class="ladda-button btn btn-outline-light btn-block btn-proceed-price-product <%= !hasChilds || infoNextButton.length > 1 ? '' : 'd-none' %>" 
						_infoFields="<%= JSON.stringify(infoNextButton) %>">
						Định giá
					</a>
                    <a data-spinner-color="#354F65" data-style="slide-right" href="javascript:void(0)" class="ladda-button btn btn-outline-light btn-block d-none btn-select-agency">
                        Chọn đại lý
                    </a>
					<% if (infoNextButton.length === 1) { %>
						<a data-spinner-color="#354F65" data-style="slide-right" href="javascript:void(0)" class="ladda-button btn btn-outline-light btn-block btn-next-step" _infoFields="<%= JSON.stringify(infoNextButton) %>">
							Tiếp theo
						</a>
					<% } %>
                </div>
            </div>
            <!-- <input type="hidden" name="pid" value="24477">
            <input type="hidden" name="next" value="https://pawnhero.ph/pawn/jewelry/silver/bracelet-24477?attr[]=51&attr[]=">
            <input type="hidden" name="previous" value="https://pawnhero.ph/pawn/jewelry/silver/bracelet-24477"> -->
        </div>
        <!-- <div class="col-md-4 d-none d-md-block">
            <div class="side--title backg-blue border p-3">
                <h3 class="text--blue_dark text--size_24 text-center m-0">Tại sao chọn K360?</h3>
            </div>
            <div class="side--checklist border border-top-0">
                <div class="pl-4 pr-1 py-2">
                    <ul class="list-unstyled">
                        <li class="text--blue_dark my-2">Tiền mặt ngay lập tức</li>
                        <li class="text--blue_dark my-2">Hỗ trợ khách hàng</li>
                        <li class="text--blue_dark my-2">Bất kì đâu ở thành phố Hồ Chí Minh</li>
                        <li class="text--blue_dark my-2">Thẻ rút tiền miễn phí</li>
                    </ul>
                </div>
            </div>
        </div> -->


		<div class="col-md-4 d-none d-md-block">
            <div class="side--title backg-blue border p-3">
                <h3 class="text--blue_dark text--size_24 text-center m-0">Danh mục đã chọn</h3>
            </div>
            <div class="side--checklist border border-top-0">
                <div class="pl-4 pr-1 py-2">
                    <ul class="list-unstyled list-step-category-choosed"></ul>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ./utils/modal_online_pricing %> 
