<script>
	$(document).ready(function(){
		$(function(){
            $('.table-list-pricing-request').DataTable({
				"scrollY": "1000px",
                "scrollX": true,
                "scrollCollapse": true,
                // "paging": false,
                'iDisplayLength': 10,
                // 'iDisplayLength': 10,
				// "bPaginate": true, 
                // "bInfo": false,  
                // "bFilter": true,
                // "bAutoWidth": false,
                // "aoColumns" : [
                //     { sWidth: '5%' },
                //     { sWidth: '10%' },
                //     { sWidth: '15%' },
                //     { sWidth: '15%' },
                //     { sWidth: '10%' },
                //     { sWidth: '15%' },
                //     { sWidth: '10%' },
                //     { sWidth: '10%' },
                //     { sWidth: '10%' },
                // ],
				...languageDataTable
            });
        });

		let requestParam = new URLSearchParams(location.search).get('request');
		if(requestParam){
			$(`.table-list-pricing-request tbody .tr-pricing-request-${requestParam}`).addClass('active');
		}

		let arrRequestID = [];

		$('.cb-choose-pricing-request').on('change', function () {
			const isChecked = $(this).prop('checked');
			const requestID = $(this).val();

			arrRequestID = isChecked ? [...arrRequestID, requestID] : arrRequestID.filter(ID => ID !== requestID);
		});

		$('.btn-update-pricing-request').on('click', function () {
			const requestID = $(this).attr('_requestID');

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_PRICING_REQUEST.INFO_PRICING_REQUEST %>?pricingRequestID=${requestID}`,
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					return toastr.error(message, "THÔNG BÁO");	
				}

				const { name, email, phone, status, description } = data;

				$('#txtPricingRequestIDModal').val(requestID);
				$('#txtNameUserRequest').val(name);
				$('#txtEmailUserRequest').val(email);
				$('#txtPhoneUserRequest').val(phone);
				$('#slStatusPricingRequest').val(status);
				$('#txtDescriptionUserRequest').val(description);

				$('.modal-update-status-pricing-request').modal('show');
			}).fail(err => {
				toastr.error(`Có lỗi xảy ra trong quá trình cập nhật: ${err.message}`, "THÔNG BÁO");
			})
		});

		$('.btnConfirmUpdatePricingRequest').on('click', function () {
			const requestID 	= $('#txtPricingRequestIDModal').val();
			const fullname 		= $('#txtNameUserRequest').val();
			const email 		= $('#txtEmailUserRequest').val();
			const phone 		= $('#txtPhoneUserRequest').val();
			const status 		= $('#slStatusPricingRequest').val();
			const description	= $('#txtDescriptionUserRequest').val();
			const listRequestID = requestID ? [requestID] : [...arrRequestID];
			// console.log({ listRequestID, requestID, fullname, email, phone, status });

			if(!listRequestID.length){
				return toastr.warning(`Có lỗi xảy ra trong quá trình cập nhật trạng thái`, "THÔNG BÁO");	
			}
			if(!validatePhone(phone)){
				return toastr.warning(`Số điện thoại không đúng định dạng`, "THÔNG BÁO");	
			}
			if(!validateEmail(email)){
				return toastr.warning(`Email không đúng định dạng`, "THÔNG BÁO");	
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_PRICING_REQUEST.UPDATE_PRICING_REQUEST %>`,
				data: { listRequestID, fullname, email, phone, status, description },
			})
			.done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.error(`Có lỗi xảy ra trong quá trình cập nhật: ${message}`, "THÔNG BÁO");
				}

				toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
				setTimeout(() => location.reload(), 1000);
			})
			.fail(err => console.error(err))
			.always(() => $('.modal-update-status-pricing-request').modal('hide'))
		});
	})
</script>
