<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách danh mục</h5>
                            <!-- <h6 class="sub-heading">List Category</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary btn-show-modal-create-category">
									<span class="icon-add_circle"></span>
                                    Tạo danh mục
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-category">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
										<th>STT</th>
										<th>Tên Danh Mục</th>
										<th>Slug</th>
										<th>Mô Tả Ngắn</th>
										<th>Trạng Thái</th>
										<th>Tuỳ Chọn</th>
									</tr>
                                </thead>
                                <tbody>
                                    <% if (listCategories && listCategories.length) { %>
                                        <% listCategories.forEach(( category, index ) => { %>
                                            <tr class="tr-category-<%= category._id %>">
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= category.name %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= category.slug %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= category.description %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (category.status === 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% }else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2 border-btn-black">
                                                        <button type="button" class="btn btn-primary btn-sm">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btn-show-modal-update-category" 
                                                                href="javascript:void(0)"
                                                                _categoryID="<%= category._id %>">
                                                                Sửa Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnDeleteCategory" 
                                                                href="javascript:void(0)" 
                                                                _categoryID="<%= category._id %>">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->


<!-- POPUP THÊM CATEGORY -->
<div class="modal fade bs-example-modal-sm popup-create-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Khởi tạo danh mục mới</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" required="" placeholder="Name" id="txtModalName">
                </div>
                <div class="form-group"><label>slug</label> 
                    <input type="text" class="form-control" required="" placeholder="Slug" id="txtModalSlug">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtModalDescription" placeholder="Mô tả" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtModalStatus">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddCategory border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT CATEGORY -->
<div class="modal fade bs-example-modal-sm popup-update-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<div class="form-group d-none"><label>Category ID</label> 
                    <input type="hidden" class="form-control" placeholder="Category ID" id="txtModalCategoryIDUpdate">
                </div>
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" placeholder="Name" id="txtModalNameUpdate">
                </div>
                <div class="form-group"><label>slug</label> 
                    <input type="text" class="form-control" placeholder="Slug" id="txtModalSlugUpdate">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtModalDescriptionUpdate" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtModalStatusUpdate">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateCategory">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

