<style>
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>

<%- include("../../../packages/product_category/views/online_pricing") %>
<%- include("../../../packages/product_category/views/list_product_category") %>

<a name="service-advisory"> </a>
<section class="pt-3" style="background: url('/template/assets/v3/img/background-9.svg') no-repeat center center;background-size: cover;position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 align-self-center col-sm-12">
                <div class="">
                    <h1 style="font-size: 50px; padding: 20px; color: #D6F0F5;" class="text-center measures-title m-0 text-capitalize">
                        LỊCH HOẠT ĐỘNG CỦA K360
                    </h1>
                    <!-- <p style="color: #D6F0F5;" class="mb-3 text-center">From April 13, 2021 until April 30, 2021</p>  -->
                    <p class="text--size_32 m-0 text--white text-center">8:00 AM - 5:00 PM</p>
                    <p class="font-italic text--size_12 text--white text-center">*4:30 PM giới hạn cho khách ghé thăm</p>

                    <div class="mb-5 text-center">
                        <!-- <a href="" class="text--size_12 btn btn-green btn-circle shadow px-3" id="home-service-advisory-sked">Đọc thêm</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="align-self-end" style="height: 100%;">
                    <img  src="../../../../template/assets/v3/img/models.png" width="370px" style="height: 104%;"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background: url('/template/assets/v3/img/background-8.svg') no-repeat center center;background-size: cover;position: relative;">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center">
                <div class="text-center">
                    <h2 style="font-size: 40px;" class="text--white">DỊCH VỤ CỦA K360</h2>
                </div>
                <div class="category-container py-5 px-4">
                    <div>
                        <p class="text-center text--blue font-weight-semi-bold">Chúng tôi hỗ trợ đầy đủ các loại hình dịch vụ Cầm Cố </p>
                        <p class="text-center text--blue_dark mt-4 mb-0">Cầm đồ</p>
                        <p class="text-center text--blue_dark m-0">Gia hạn bình thường</p>
                        <p class="text-center text--blue_dark m-0">Gia hạn vay thêm</p>
                        <p class="text-center text--blue_dark m-0">Gia hạn trả bớt</p>
                        <p class="text-center text--blue_dark m-0">Báo mất</p>
                        <p class="text-center text--blue_dark m-0">Chuộc đồ</p>
                        <p class="text-center text--blue_dark mt-4 mb-0"><supp>*</supp>Cam kết bảo mật và an toàn cho Khách hàng</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 align-self-center py-5">
                <div class="text-center">
                    <p class="mb-0 text--size_24 text--white">Hỗ trợ từ thứ 2 đến thứ 7 hàng tuần</p>
                    <p class="mb-0 text--size_18 text--white ">8:00 AM - 5:00 PM<supp>*</supp></p>
                    <p class="font-italic mb-0 text--size_14 text--white"><supp>*</supp>4:30 PM cho khách hàng đến trực tiếp</p>
                </div>
                <div class="col-sm-12 text-center text-sm-center my-4 ">
                    <a href="/pawn-category" class="font-weight-semi-bold btn btn-orange btn-circle px-5 shadow" id="advisory_pawn_btn">Thử ngay</a>
                </div>
                <div class="w-100 text-center">
                    <!-- <a href="" class=" text--white text--size_18"  id="read_more_details_service"><u>Đi tới trang tư vấn Dịch vụ</u></a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-section-container py-5">
    <div class="instruction--wrapper py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ins--head text-center mb-5">
                        <h3 class="font-weight-semi-bold text--blue ">Sử dụng dịch vụ chúng tôi như thế nào?</h3>
                        <p class="text--gray">Chỉ cần thực hiện 3 bước sau đây! Bạn sẽ được hỗ trợ tài chính ngay trong tức khắc</p>
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                
                <div>
                    <div class="steps--wrapper d-lg-none d-sm-block">
                        <h3 class="steps--title text-center text--blue_dark my-1">&nbsp;</h3>
                    </div>
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="img-fluid align-self-center mr-3" src="../../../../template/assets/v3/img/step-1.svg"
                                alt="step 1 icon">
                            <div class="media-body media-body--steps text-justify">
                                <p class="s-1 m-0 align-middle text--gray">Bước 1: <span
                                    class="font-weight-semi-bold text--blue_dark">Cầm đồ </span>
                                    ngay bây giờ để tạo phiếu cầm đồ và chọn món đồ bạn muốn cầm đồ với chúng tôi.
                                </p>
                            </div>
                        </li>
                        <li class="media my-3">
                            <img class="img-fluid align-self-center mr-3" src="../../../../template/assets/v3/img/step-2.svg"
                                alt="step 2 icon">
                            <div class="media-body media-body--steps text-justify">
                                <p class="s-2 m-0 text--gray">
                                    Bước 2: Sau khi bạn chấp nhận đề nghị ban đầu của chúng tôi, bây giờ bạn có thể chọn lịch trình nhận hàng của mình để Người 
                                    cầm đồ của chúng tôi có thể đến địa chỉ đã cho của bạn để lấy hàng của bạn và vận chuyển đến văn phòng của K360 để 
                                    được thẩm định cho đề nghị cuối cùng.
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="img-fluid align-self-center mr-3" src="../../../../template/assets/v3/img/step-3.svg"
                                alt="step 3 icon">
                            <div class="media-body media-body--steps text-justify">
                                <p class="s-3 m-0 text--gray">
                                    Bước 3: Chỉ trong vài giờ, bạn có thể nhận tiền ngay lập tức bằng cách sử dụng thẻ tiền mặt miễn phí của chúng tôi để rút từ bất kỳ máy ATM nào gần nhất.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="why-section-container py-5">
    <div class="why-section-title text-center my-5">
        <h3 class="text--white font-weight-semi-bold">TẠI SAO CHỌN K360?</h3>
    </div>
   
</section>
<section class="faq-section-container py-5">
    <div class="section-title text-center my-5">
        <h3 class="text--blue font-weight-semi-bold">CÁC CÂU HỎI THƯỜNG GẶP (FAQ)</h3>
    </div>
    
</section> -->

<section class="about-section-container pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 align-self-center col-sm-12">
                <div class="about-text">
                    <p class="text--white font-weight-semi-bold text--size_24">
                        K360 tự hào là dịch vụ Cầm đồ trực tuyến đầu tiên tại Việt Nam và sẽ cố gắng tạo ra cuộc cách mạng thay đổi dịch vụ Cầm đồ trên cả nước
                    </p>
                    <p class="text--white">
                        Áp dụng Công nghệ để giải quyết nhu cầu xã hội, K360 cung cấp các khoản vay tiền mặt ngay lập tức cho khách hàng một cách nhanh chóng, kín đáo và dễ dàng 
                    </p>
                    <p class="text--white">
                        Sứ mệnh của chúng tôi là cung cấp dịch vụ tài chính thuận tiện và đáng tin cậy nhất cho tất cả người Việt Nam có nhu cầu vay tiền mặt nhanh chóng.
                    </p>
                </div>
            </div>
            <div class="col-md-5 align-self-end d-none d-md-block">
                <div class="text-center">
                    <img class="img-fluid" src="../../../../template/assets/v3/img/model-girl.png" alt="model girl" width="500px" />
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="travel-modal" tabindex="-1" role="dialog" aria-labelledby="travel-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content why-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-container text-center mb-3">
                    <img class="rounded-circle img-fluid" src="../../../../template/assets/v3/img/w-travel.png" alt="Travel" width="150px">
                </div>
                <p class="font-weight-semi-bold text--size_18 text--white text-center mb-3">Travel</p>
                <p class="text--size_14 text-center">
                    Traveling can be a great relief from stress or if you’re looking for something new, it can let you experience different cultures. Book a cruise or a flight to anywhere around the world without pocket money worries! Receive your cash immediately when you pawn with us.
                </p>
                <div class="text-center">
                    <!-- <a id="pawn-now-travel-btn" class="btn btn-orange px-5 btn-circle shadow" href="../../../../template/pawn-category-1.html">Pawn now</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="business-modal" tabindex="-1" role="dialog" aria-labelledby="business-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content why-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-container text-center mb-3">
                    <img class="rounded-circle img-fluid" src="../../../../template/assets/v3/img/w-business.png" alt="Business" width="150px">
                </div>
                <p class="font-weight-semi-bold text--size_18 text--white text-center mb-3">Business</p>
                <p class="text--size_14 text-center">
                    Get your initial capital through k360 and start a more secure financial future. Be an entrepreneur and start your own business today! Receive your cash immediately when you pawn with us.
                </p>
                <div class="text-center">
                    <a id="pawn-now-business-btn" class="btn btn-orange px-5 btn-circle shadow" href="">Pawn now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="education-modal" tabindex="-1" role="dialog" aria-labelledby="education-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content why-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-container text-center mb-3">
                    <img class="rounded-circle img-fluid" src="../../../../template/assets/v3/img/w-education.png" alt="Education" width="150px">
                </div>
                <p class="font-weight-semi-bold text--size_18 text--white text-center mb-3">Education</p>
                <p class="text--size_14 text-center">
                    Education is the passport to a bright and secure future. Cover all education expenses conveniently and receive your cash immediately when you pawn with us.
                </p>
                <div class="text-center">
                    <a id="pawn-now-education-btn" class="btn btn-orange px-5 btn-circle shadow" href="">Pawn now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="health-modal" tabindex="-1" role="dialog" aria-labelledby="health-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content why-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-container text-center mb-3">
                    <img class="rounded-circle img-fluid" src="../../../../template/assets/v3/img/w-health.png" alt="Health" width="150px">
                </div>
                <p class="font-weight-semi-bold text--size_18 text--white text-center mb-3">Health</p>
                <p class="text--size_14 text-center">
                    Maintaining good health can be heavy in the pocket and when emergency situations arise, k360 can back you up. Receive your cash immediately when you pawn with us.
                </p>
                <div class="text-center">
                    <a id="pawn-now-health-btn" class="btn btn-orange px-5 btn-circle shadow" href="">Pawn now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="automobile-modal" tabindex="-1" role="dialog" aria-labelledby="automobile-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content why-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="image-container text-center mb-3">
                    <img class="rounded-circle img-fluid" src="../../../../template/assets/v3/img/w-automobile.png" alt="Automobile" width="150px">
                </div>
                <p class="font-weight-semi-bold text--size_18 text--white text-center mb-3">Automobile</p>
                <p class="text--size_14 text-center">
                    If owning a car is on your list, consider it achieved now! Build equity for your dream car today with k360. Receive your cash immediately when you pawn with us.
                </p>
                <div class="text-center">
                    <a id="pawn-now-automobile-btn" class="btn btn-orange px-5 btn-circle shadow" href="">Pawn now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="authenticity-modal" tabindex="-1" role="dialog" aria-labelledby="authenticity-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                For designer bag authentication, contact us on <span class="text--orange">828-CASH (2274)</span> to book
                an appointment
            </div>
            <div class="modal-footer">
                <button id="auth-service-close" type="button" class="btn btn-outline-secondary btn-block shadow"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="discount-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content">
            <button type="button" class="abs-btn-modal close text--white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="text-center py-3">
                    <h1 class="modal-title text--white">Promo Mechanics</h1>
                </div>
                <ul class="list-unstyled text--white">
                    <li>
                        <p>
                            1. For the customer to be eligible for the promo, he/she must apply for a loan ticket within the promo duration February 1 to March 31, 2021.
                        </p>
                    </li>
                    <li>
                        <p>
                            2. This promo is valid to first time k360 Pawnshop pawners only.
                        </p>
                    </li>
                    <li>
                        <p>
                            3. Qualified k360 Pawnshop pawners with successful loan release from February 1 to March 31, 2021 will be given 50% off their interest amount for the first month only –
                            <ol type="a">
                                <li>for gold and jewelry with loan value amount of PHP15,000.00 and above, get 50% off interest amount</li>
                                <li>for luxury bags, watches and electronics with loan value amount of PHP23,000.00 and above, get 50% off interest amount</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <p>
                            4.  DTI Fair Trade Permit No. FTEB-112309 Series of 2021
                        </p>
                    </li>
                </ul>
                <p class="text--white font-italic">
                    Disclaimer: <br/>
                    For multiple loan applications throughout the promo duration, only the first approved loan will be entitled for the promo.
                </p>
                <div class="text-center mt-5">
                    <a id="pawn-now-discount-btn" class="btn btn-orange px-5 btn-circle shadow" href="">Pawn now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="covid_modal_bak" tabindex="-1" role="dialog" aria-labelledby="covid-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content covid-modal-content position-relative">
            <button type="button" class="abs-btn-modal close position-sticky" style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="px-5 pt-0 pb-5">
                    <p class="text--blue font-weight-semi-bold">Dear k360 Customers,</p>
                    <p class="text--blue_dark">
                        In line with the recent enhanced community quarantine implemented in the city of Taguig and in the whole of Luzon island, we would like to announce the temporary closure of our office to protect the customers and employees against COVID-19. The preventive measures are evolving frequently and we are making sure that we are able to comply, align and adapt to the safety recommendations of DOH.
                    </p>
                    <p class="text--blue_dark">
                        As of the moment, our organization is at work from home scheme which means appraisal, loan release, pick-up and walk-in service are all temporarily paused.
                    </p>
                    <p class="text--blue_dark">
                        Our customer service, marketing, IT and finance department will continue to deliver the support needed. Rest assured that inquiries, community updates, system updates, loan renewal and loan redemption concerns are all supported.
                    </p>
                    <p class="text--blue_dark">
                        We are looking forward to the time that we can welcome you back. You can still apply for a loan through the website and your application will be processed as soon as the enhanced community quarantine has been lifted.
                    </p>
                    <p class="text--blue_dark">
                        In the meantime, please be safe! We are stronger than the virus!
                    </p>
                    <p class="text--blue font-weight-semi-bold">Your k360 Family</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="advisory_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class=" text--white py-3">
                    <p class="font-weight-semi-bold text--size_18">Extension of Loan Payments and Loan Renewals</p>
                    <p>Customers with loans maturing within the period 17 March 2020 to 15 April 2020 may request for
                        extension of:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Loan payment</p>
                        </li>
                        <li>
                            <p>2. Loan renewal</p>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">For extension of loan payment:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer must make their requests on or before the maturity date of their loan</p>
                        </li>
                        <li>
                            <p>2. Go to <a class="text-white" href="https://k360.ph/contact-us"
                                    target="_blank"><u>https://k360.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@k360.ph"><u>customer@k360.ph</u></a> the request for
                                extension of loan payment with the following information:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Name</p>
                                </li>
                                <li>
                                    <p>b. Pawn Ticket No.</p>
                                </li>
                                <li>
                                    <p>c. Email address</p>
                                </li>
                                <li>
                                    <p>d. Mobile number</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>3. A confirmation reply thru email or SMS will be sent to the customer should extension
                                for loan payment is approved.</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Loan payment is extended until <strong>30 April 2020</strong></p>
                                </li>
                                <li>
                                    <p>b. Pro-rated interest or other charges as a result of the extension shall be
                                        waived</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">For extension of loan renewal:</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer must make their requests on or before the maturity date of their loan</p>
                        </li>
                        <li>
                            <p>2. Go to <a class="text-white" href="https://k360.ph/contact-us"
                                    target="_blank"><u>https://k360.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@k360.ph"><u>customer@k360.ph</u></a> the request for
                                extension of loan renewal with the following information:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Name</p>
                                </li>
                                <li>
                                    <p>b. Pawn Ticket No.</p>
                                </li>
                                <li>
                                    <p>c. Email address</p>
                                </li>
                                <li>
                                    <p>d. Mobile number</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>3. A confirmation reply thru email or SMS will be sent to the customer should extension
                                for loan renewal is approved. No pro-rated interest or other charges as a result of the
                                extension shall be charged to the customer.</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Loan renewal is extended until <strong>25 April 2020</strong></p>
                                </li>
                                <li>
                                    <p>b. Pro-rated interest or other charges as a result of the extension shall be
                                        waived</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="font-weight-semi-bold ">Online Payments</p>
                    <ul class="list-unstyled ml-5">
                        <li>
                            <p>1. Customer may continue paying or renewing their loans online thru:</p>
                            <ul class="list-unstyled ml-5">
                                <li>
                                    <p>a. Direct bank transfers to k360 Pawnshop Viet Nam, Inc.
                                        <br />Security Bank - 0000016827011
                                        <br />BDO - 007100058845
                                    </p>
                                </li>
                                <li>
                                    <p>b. Bills payments (k360 Pawnshop Viet Nam, Inc.)
                                        <br />Coins.ph
                                        <br />Security Bank
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>2. Customer must include in remarks the Pawn Ticket Number being paid or renewed</p>
                        </li>
                        <li>
                            <p>3. After payment has been made, the customer must send proof of remittance/transfer to <a
                                    class="text-white" href="https://k360.ph/contact-us"
                                    target="_blank"><u>https://k360.ph/contact-us</u></a> or email <a
                                    class="text-white"
                                    href="mailto:customer@k360.ph"><u>customer@k360.ph</u></a> or message us in
                                our Facebook page.</p>
                        </li>
                        <li>
                            <p>4. An email or SMS will be sent to the customer once payment validation is successful.
                            </p>
                        </li>
                        <li>
                            <p>5. Once loan payment is validated, pawned item/s will be delivered by k360 or can be
                                picked up in our office by the customer as soon as the quarantine is lifted.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="advisory2_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class=" text--white py-3">
                    <p class="font-weight-semi-bold text--size_24">
                        Frequently Asked Questions
                    </p>
                    <p class="font-weight-semi-bold">
                        1. How do I apply for a loan?
                    </p>
                    <p>
                        STEP 1
                    </p>
                    <p class="font-italic"> 
                        Go to 
                        <a class="text--white" target="_blank" href="https://k360.ph/">
                            <u>www.k360.ph</u>
                        </a> 
                        and create your pawn ticket.
                    </p>
                    <p>
                        STEP 2
                    </p>
                    <p class="font-italic">
                        Once you have accepted our initial loan offer estimate, you may now select your item pick-up schedule.
                    </p>
                    <p>
                        STEP 3
                    </p>
                    <p class="font-italic">
                        You will then get a final offer from us once your item is appraised and authenticated. Once you have accepted our final offer, you will receive your money in a few hours via bank transfer or Coins.ph.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        2. Can I have my collateral picked up from home for appraisal?
                    </p>
                    <p class="font-italic">  
                        No need to drop by our office. You can have your collateral picked up by our Pawntroopers. Then our appraisal team will conduct inspection of your item for proper appraisal.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        3. How will you appraise my item?
                    </p>
                    <p class="font-italic">
                        Once our Pawntrooper has picked up your item, it will be sent to our appraisal center in BGC for the physical appraisal. You will then get a final offer from us once your item is appraised and authenticated. 
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        4. How can I get my money?
                    </p>
                    <p class="font-italic">
                        You will receive your money via bank transfer, bank deposit or Coins.ph.
                    </p>
                    <p class="font-weight-semi-bold mt-5">
                        5. How can I renew my loan?
                    </p>
                    <p class="font-italic">
                        You can renew without the need to go out of your house!      
                    </p>
                    <p>
                        STEP 1
                    </p>
                    <p class="font-italic"> 
                        Request for renewal through the website
                    </p>
                    <p>
                        STEP 2
                    </p>
                    <p class="font-italic"> 
                        Pay through any of the following payment methods:
                        Online Bank Payment, Coins.ph, Electronic Fund Transfer (PESONet, Instapay)
                    </p>
                    <p>
                        STEP 3
                    </p>
                    <p class="font-italic"> 
                        Send proof of payment through the website or email it to 
                        <a class="text--white" href="mailto:customer@k360.ph">
                            <u>customer@k360.ph</u> 
                        </a>
                        <a class="text--white" href="mailto:finance@k360.ph">
                            <u>and finance@k360.ph</u>
                        </a>
                    </p>
                    <p>
                        STEP 4
                    </p>
                    <p class="font-italic"> 
                        Once payment is confirmed, your loan will be renewed!
                    </p>
                    <p class="font-weight-semi-bold mt-4">
                        6. How can I redeem my item?
                    </p>
                    <p class="font-italic">
                        To redeem your item, just settle your loan balance online and we will deliver your pawned item to you safely. Please note that deliveries may be delayed until further notice. 
                    </p>
                    <div class="text-center">
                        <a id="pawn-now-btn-modal" class="btn btn-orange px-5 btn-circle shadow" href="./pawn/jewelry/cartier.html">Pawn now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="walkin_preventive_measures_modal" tabindex="-1" role="dialog" aria-labelledby="advisory-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content promo-modal-content position-relative">
            <button type="button" class="abs-btn-modal close text--white position-sticky"
                style="text-align: right;padding-right: 10px;padding-top: 10px;" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="w-75 mx-auto text--white py-3">
                    <p class="font-weight-semi-bold text--size_24">
                        Preventive Measures Against COVID-19 for Walk-in Transactions
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        1. Temperature is checked by W Global Center admin to prevent entry of clients or employees with 37.6 degrees and above temperature.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        2. k360 employees are equipped with sanitizing kits to be used at all times.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        3. Social distancing is encouraged during transactions. We practice a 1-meter distance between client and k360 employee.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        4. k360 Client Lounge, tables, chairs and other equipment are regularly disinfected.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        5. If in any case a k360 employee does not feel well, we do not encourage reporting to work.
                    </p>
                    <p class="font-weight-semi-bold py-3">
                        6. We are strictly implementing a No Mask, No Entry policy for everyone's safety.
                    </p>
                    
                    <div class="text-center">
                        <a id="pawn-now-btn-modal" class="btn btn-orange px-5 btn-circle shadow" href="./pawn/jewelry/cartier.html">Pawn now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>localStorage.removeItem('AGENCY_CHOOSED')</script>
<script>localStorage.removeItem('PRODUCT_CATEGORY_CHOOSED')</script>