<div class="container container--pawn container--pawn container--main py-5">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <!-- SELECT AGENCY -->
            <div class="border p-5 d-none form-select-agency">
                <h5 class="text-center title-form-pricing-request">
                    Lựa chọn đại lý
                </h5>

                <div class="form-group">
                    <!-- <label for="txtFullname">Họ và tên</label> -->
                    <select class="form-control form-control-chosen"
                        data-placeholder="Chọn danh mục" id="slAgency" style="width: 100%">
                        <option selected hidden></option>
                        <% if(listAgency && listAgency.length){ %>
                            <% listAgency.forEach(agency => { %>
                                <option value="<%= agency._id %>">
                                    <%= agency.name %>
                                </option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>

                <div class="mt-4 text-center">
                    <button data-style="slide-right" class="btn-lg btn btn-orange ladda-button btn-select-agency">
                        <span class="ladda-label font-weight-semi-bold">
                            Tiếp theo
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-none d-md-block">
            <div class="side--title backg-blue border p-3">
                <h3 class="text--blue_dark text--size_24 text-center m-0">Danh mục đã chọn</h3>
            </div>
            <div class="side--checklist border border-top-0">
                <div class="pl-4 pr-1 py-2">
                    <ul class="list-unstyled list-step-category-choosed"></ul>
                </div>
            </div>
        </div>

    </div>
</div>
