	<footer id="footer" class="footer--ph foot-index">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-none d-sm-none d-lg-block col-lg-6">
					<nav class="nav nav--footer">
						<a id="about-footer" class="nav-link nav-link__footer pl-0 pr-2" href="#">Pawn</a>
						<a id="about-footer" class="nav-link nav-link__footer pl-0 pr-2" href="#">How k360 Works</a>
						<!-- <a class="nav-link nav-link__footer px-2" href="#">Careers</a> -->
						<a id="help-footer" class="nav-link nav-link__footer px-2" href="/post/list-post">Về chúng tôi</a>
						<a id="help-footer" class="nav-link nav-link__footer px-2" href="/">Thanh toán</a>
						<a id="help-footer" class="nav-link nav-link__footer px-2" href="/contact">Liên hệ</a>
					</nav>
					<nav class="nav nav--footer ">
						<a id="terms-footer" class="nav-link nav-link__footer px-2" href="/" >Điều khoản sử dụng</a>
						<a id="privacy-policy-footer" class="nav-link nav-link__footer px-2" href="/" >Chính sách bảo mật</a>
					</nav>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
					<nav class="nav nav--footer justify-content-md-center justify-content-lg-end nav--footer__right py-2">
						<a target="_blank" id="home-footer-fb" class="nav-link nav-link__footer pl-2 px-2" href="#">
							<img width="24px" src="/template/assets/img/facebook.svg" />
						</a>
						<a target="_blank" id="home-footer-twitter" class="nav-link nav-link__footer px-2" href="#">
							<img width="24px" src="/template/assets/img/twitter.svg" />
						</a>
						<a target="_blank" id="home-footer-linkedin" class="nav-link nav-link__footer px-2" href="#">
							<img width="24px" src="/template/assets/img/linkedin.svg" />
						</a>
						<a target="_blank" id="home-footer-instagram" class="nav-link nav-link__footer px-2" href="#">
							<img width="24px" src="/template/assets/img/instagram.svg" />
						</a>
					</nav>
				</div>
			</div>
			<div class="row m-3">
				<div class="col-sm-12 text-center">
					<!-- <img src="/assets/v3/img/bsp-logo-new.svg" class="" alt="BSP"> -->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 py-0">
					<p class="footer--text text-center">
						© 2021 K360 Convenient Financial Technology Joint Stock Company |
						<a href="#" id="sitemap-home-footer"
							title="Sitemap">Sitemap</a>
					</p>
					<p class="footer--text text-justify">
						<!-- K360 offers flexible loan terms with a loan redemption period minimum of 4 months. Monthly interest rate starts as low as 2.99% with no other fees and charges, and is paid as a deduction from the loan release or on a monthly basis if paid during the 3 month legal notice period which is applicable to all loans. The Maximum APR for our loans is 56% and the APR range for our loans is between 37% and 56%. Representative example: a 10,000 PHP loan value for 12 months will have an interest charge of 3,588 PHP (10,000 PHP*2.99%*12 months) which will be deducted from the total loan value, resulting in net loan proceeds of 6,412 PHP. The APR is 3,588PHP/6,412PHP = 56%. The total amount payable to redeem the loan after 12 months is 10,000 PHP. All loans via K360 have a minimum loan redemption period of 120 days or longer. -->
						K360 cung cấp các điều khoản vay linh hoạt với lãi suất bắt đầu từ 2,99% đối với vàng và 4,50% đối với tất cả các hạng mục khác được sử dụng 
						làm tài sản thế chấp. Lãi suất được trả như một khoản khấu trừ từ việc giải phóng khoản vay và có thể tăng lên tùy thuộc vào loại mặt hàng và 
						thời hạn của khoản vay. Phí dịch vụ không quá P5 sẽ được tính cho mỗi giao dịch thành công và phạt 2% mỗi tháng nếu chậm thanh toán. APR tối 
						đa cho các khoản vay của chúng tôi là 56% và phạm vi APR cho các khoản vay của chúng tôi là từ 37% đến 56%. Ví dụ đại diện: giá trị khoản vay 
						10.000 PHP trong 12 tháng sẽ có phí lãi suất là 3.588 PHP (10.000 PHP * 2,99% * 12 tháng) sẽ được khấu trừ vào tổng giá trị khoản vay, dẫn đến 
						khoản vay ròng là 6.412 PHP. APR là 3,588PHP / 6,412PHP = 56%. Tổng số tiền phải trả để mua lại khoản vay sau 12 tháng là 10.000 PHP. Tất cả các 
						khoản vay qua K360 đều có thời gian hoàn trả khoản vay tối thiểu là 120 ngày hoặc lâu hơn.
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="/template/assets/v3/js/vendor/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="/template/assets/v3/js/vendor/owl.carousel.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	<script src='https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
	<script src="/template/assets/v3/js/vendor/jquery.maskedinput.min.js"></script>
	<script src="/template/assets/v3/js/vendor/notify.min.js" type="text/javascript"></script>
	<script src="/template/assets/v3/js/pawn3.min.js?version=20210201" type="text/javascript"></script>
	<script src="/template/toastr/toastr.min.js"></script>
	<script src="/template/js/cleave.min.js"></script>
	<script src="/template/js/moment.min.js"></script>

	<!-- <script src='https://blog.pawnhero.ph/wp-content/themes/magplus/js/global.js?ver=5.3'></script> -->
	<script src='https://blog.pawnhero.ph/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.0'></script>
	<script src="/template/js/global.js"></script>
	<script src="/template/js/main.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>

	<script src="https://dntdurzwr12tp.cloudfront.net/template/socket/index.lib.js"></script>
	<script>
		let _token = `<%= _token %>`;

		let socketAgency = io.connect(`<%= AGENCY_DOMAIN %>`, {
			query: { _token },
			transports: ['websocket'], upgrade: false
		});

		let socketAdmin = io.connect(`<%= ADMIN_DOMAIN %>`, {
			query: { _token },
			transports: ['websocket'], upgrade: false
		});

		// console.log({ _token, socketAgency });
	</script>

	<%#- include ../inc/home/utils/socket-admin.ejs %>
	<%#- include ../inc/home/utils/socket-agency.ejs %>
</body>
</html>
