<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="/template/assets/images/3601_favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta HTTP-EQUIV="Pragma" CONTENT="private">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="private, max-age=7200, pre-check=7200">
    <META HTTP-EQUIV="Expires" CONTENT="Wed, 21 Apr 21 17:23:37 +0800">
    <meta name="google-signin-client_id" content="851394341481-5kk2ud6cdr9ap3qfpadjbnt0aoaq936o.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
    <meta name="facebook-domain-verification" content="x9p4ezj6h5orq8eb5ij7kzxj8ykzz7" />

	<% let imgThumbnail = 'https://s3-ap-southeast-1.amazonaws.com/ldk-software.k360/root/anh-thuong-hieu-k360.PNG' %>

	<% if (isSeo) { %>
		<meta name="description" content="<%= infoPost.description %>" />
		<meta property="og:locale" content="vi-VN" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= infoPost.title %>" />
		<meta property="og:description" content="<%= infoPost.description %>" />
		<meta property="og:site_name" content="k360 Viet Nam" />
		<meta property="og:image" content="<%= infoPost.image ? infoPost.image.path : imgThumbnail %>" />
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:description" content="<%= infoPost.description %>"/>
		<meta name="twitter:title" content="<%= infoPost.title %>"/>
		<meta name="twitter:domain" content="k360"/>
		<meta name="twitter:image" content="<%= infoPost.image ? infoPost.image.path : imgThumbnail %>"/>
		<meta name="keywords" content="<%= infoPost.seo.join(',') %>" />
		<title> <%= infoPost.title %> </title>
	<% } else{ %>
		<meta name="description" content="K360 hiện tại là dịch vụ cầm đồ tốt nhất Việt Nam, với phương châm đem lại sự tiện lợi, hỗ trợ tối đa nhu cầu xoay tiền của khách hàng.">
		<meta property="og:locale" content="vi-VN" />
		<meta property="og:type" content="Website" />
		<meta property="og:title" content="Website cầm đồ uy tín chất lượng - K360" />
		<meta property="og:description" content="K360 hiện tại là dịch vụ cầm đồ tốt nhất Việt Nam, với phương châm đem lại, sự tiện lợi, hổ trợ tối đa nhu cầu xoay tiền của khách hàng" />
		<meta property="og:site_name" content="k360 Viet Nam" />
		<meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/ldk-software.k360/root/anh-thuong-hieu-k360.PNG" />
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:description" content="K360 hiện tại là dịch vụ cầm đồ tốt nhất Việt Nam, với phương châm đem lại, sự tiện lợi, hổ trợ tối đa nhu cầu xoay tiền của khách hàng"/>
		<meta name="twitter:title" content="Website cầm đồ uy tín chất lượng - K360"/>
		<meta name="twitter:domain" content="k360"/>
		<meta name="twitter:image" content="https://s3-ap-southeast-1.amazonaws.com/ldk-software.k360/root/anh-thuong-hieu-k360.PNG"/>
		<title>K360 - Website cầm đồ uy tín chất lượng</title>
	<% } %>

    <!-- Social Links -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "k360 Viet Nam Pawnshop",
        "url": "https://k360.ph",
        "logo": "https://k360.ph/assets/images/k360-logo.png",
        "sameAs": [
            "https://www.facebook.com/k360.ph",
            "https://twitter.com/k360PH",
            "https://plus.google.com/+k360PhPawnShop/posts",
            "https://www.linkedin.com/company/k360",
            "https://instagram.com/k360ph/"
        ]
    }
    </script>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required { visibility: visible; }
    </style>

    <!-- <link rel='stylesheet' id='magplus-main-style-css' href='https://blog.pawnhero.ph/wp-content/themes/magplus/css/style.css?ver=5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href='https://blog.pawnhero.ph/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.9.2' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'  href='https://blog.pawnhero.ph/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.9.2' type='text/css' media='all' /> -->

	<link rel="stylesheet" href="/template/css/style.css">
	<link rel="stylesheet" href="/template/css/animations.min.css">
	<link rel="stylesheet" href="/template/css/frontend.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/template/assets/v3/css/vendor/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="/template/assets/v3/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" href="/template/assets/v3/css/home.min.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/template/toastr/index.admin.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <script> dataLayer = [];</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-52P47P');</script>
    <!-- End Google Tag Manager -->

	<!-- <script src="/template/js/jquery-1.12.4.js"></script> -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52P47P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark backg-blue shadow" style="z-index: 400;">
    <div class="container">
        <a id="nav-pawn-logo" class="navbar-brand" href="/">
            <img src="/template/assets/v3/img/logo_k360.png" class="img-fluid k360--logo" alt="" width="180px">
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#k360--nabvar"
            aria-controls="k360--nabvar" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"> -->
            <span class="bar-icon-collapsed">
                <img src="/template/assets/v3/img/toggler.svg" alt="">
            </span>
            <span class="mx-1 bar-icon-show text--black  hide" style="color: black !important;">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse flex-md-column navbar--k360" id="k360--nabvar">
            <div class="separator shadow"></div>
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a id="hotline-menu-header" class="nav-link pr-0" href="tel:+63288282274">
                        <img src="/assets/v3/img/new-pawnhero-hotline.svg" alt="hotline">
                    </a>
                </li> -->
            </ul>
            <ul class="navbar-nav ml-auto d-lg-none">
                <li class="nav-item">
                    <a id="pawn-menu-header" class="text--black nav-link"
                        href="/">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pawn-menu-header" class="text--black  nav-link"
                        href="/pawn-category">
                        Danh mục cầm đồ
                    </a>
                </li>
                <li class="nav-item">
                    <a id="about-us-menu-header" class="text--black nav-link"
                        href="/agency/location">
                        Tra cứu Đại Lý
                    </a>
                </li>
              
                <li class="nav-item">
                    <a id="blog-menu-header" class="text--black nav-link" target="_blank"
                        href="/post/list-post">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a id="contact-us-menu-header"
                        class="text--black pr-0 nav-link"
                        href="/contact">
                        Liên Hệ
                    </a>
                </li>
                <li class="nav-item">
                    <a id="contact-us-menu-header"
                        class="text--black pr-0 nav-link"
                        href="/faq">
                        FAQ
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark backg-blue_medium desktop-nav shadow d-none d-lg-block" style="z-index: 400;">
    <div class="container">
        <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pawn-category">Danh mục cầm đồ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agency/location">Tra cứu Đại Lý</a>
                </li>
                <!-- <li class="nav-item">
                    <a id="about-us-menu-header" class="nav-link" href="/">Về chúng tôi</a>
                </li> -->
                
                <li class="nav-item">
                    <a id="blog-menu-header" class="nav-link" href="/post/list-post" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                    <a id="contact-us-menu-header" class="nav-link" href="/contact">Liên Hệ</a>
                </li>
                <li class="nav-item">
                    <a id="contact-us-menu-header" class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
            	<!-- <li class="nav-item faq-nav-item dropdown">
                    <a id="faq-header" class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Định giá mặt hàng</a>
                </li> -->
                <li class="nav-item ">
                    <a id="pawn-menu-header" class="nav-link btn btn-orange btn-circle shadow" href="/pawn-category">Thử ngay</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
