
<script>
    $(document).ready(function () {

        checkLocation();

        $(function(){
            $('#list-agency').DataTable({
                'iDisplayLength': 20,
                "scrollY": "1000px",
                //"scrollX": true,
                "scrollCollapse": true,
                "aaSorting": [],
                
            });
        });

        function checkLocation(){
            return navigator.permissions && navigator.permissions.query({name: 'geolocation'})
            .then(function(PermissionStatus) {
                if (PermissionStatus.state == 'denied') {
                    let lng = $("#btnSearchAgency").attr("_lng");
                    let lat = $("#btnSearchAgency").attr("_lat");
                    if(lng && lat){
                        return location.href = `/agency/location`;
                    }
                    $( "#txtMaxDistance" ).prop( "disabled", true );
                }else{
                    let lng = $("#btnSearchAgency").attr("_lng");
                    let lat = $("#btnSearchAgency").attr("_lat");
                    if(!lng && !lat){
                        navigator.geolocation.getCurrentPosition(function(position){
                            lng = position.coords.longitude;
                            lat = position.coords.latitude;
                            let city = $("#txtCity").val();
                            let district = $("#txtDistrict").val();
                            let ward = $("#txtWard").val();
                            let maxDistance = $("#txtMaxDistance").val();
                            let name = $("#txtName").val();

                            let urlHref = `/agency/location?lng=${lng}&lat=${lat}`;
                            
                            if(name){
                                urlHref+=`&name=${name}`
                            }

                            if(city){
                                urlHref+=`&city=${city}`
                            }

                            if(district){
                                urlHref+=`&district=${district}`
                            }

                            if(ward){
                                urlHref+=`&ward=${ward}`
                            }
                            
                            if(maxDistance){
                                urlHref+=`&maxDistance=${maxDistance}`
                            }

                            return location.href = urlHref;
                        });
                    }
                }
            })
        };

        let city = $("#txtCity").val();
        let district = $("#txtDistrict").val();
        let ward = $("#txtWard").val();
        let maxDistance = $("#txtMaxDistance").val();

        if(city){
            //Truyền data quận huyện
            $.ajax({
                url: `/list-districts/${city}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = ``;
                    listDistrict.forEach(districts => {
                        if(districts[1].code.toString() == district.toString()){
                            dataAppend += `<option value="${districts[1].code}" selected>${districts[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${districts[1].code}">${districts[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtDistrict").append(dataAppend);
                    }else{
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO"); 
                }
            });
        }

        if(district && district != "null"){
            //Truyền data xã phường
            $.ajax({
                url: `/list-wards/${district}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = ``;
                    listWard.forEach(wards => {
                        if(wards[1].code.toString() == ward.toString()){
                            dataAppend += `<option value="${wards[1].code}" selected>${wards[1].name_with_type}</option>`
                        }else{
                            dataAppend += `<option value="${wards[1].code}">${wards[1].name_with_type}</option>`
                        }
                    })
                    if (!resp.error){
                        $("#txtWard").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Thất bại`, "THÔNG BÁO"); 
                }
            });
        }

        //Quận, huyện
        $("#txtCity").on("change", function () {
            $("#txtDistrict").empty();
            $("#txtWard").empty();
            let value = $(this).val();
            if(!value)
                return;
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="null">Tất cả</option>`;
                    listDistrict.forEach(district => {
                        dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtDistrict").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        //Xã, phường
        $("#txtDistrict").on("change", function () {
            $("#txtWard").empty();
            let value = $(this).val();
            if(!value)
                return;
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);

                    let dataAppend = `<option value="null">Tất cả</option>`;
                    listWard.forEach(ward => {
                        dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtWard").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        $(document).on('click', '.text-center', function(e){
            $('tr').removeClass("show-subInfo");
            $(this).closest('tr').addClass("show-subInfo");
        })

        $(document).on('click', '.close-store-info', function(e){
            $('tr').removeClass("show-subInfo");
        })

        $(document).on('click', '#btnSearchAgency', function(e){
            e.preventDefault();

            let urlHref = `/agency/location?search=true`;

            let citySearch = $("#txtCity").val();
            let districtSearch = $("#txtDistrict").val();
            let wardSearch = $("#txtWard").val();
            let name = $("#txtName").val();
            let maxDistanceSearch = $("#txtMaxDistance").val();

            if(name){
                urlHref+=`&name=${name}`
            }

            if(citySearch){
                urlHref+=`&city=${citySearch}`
            }

            if(districtSearch){
                urlHref+=`&district=${districtSearch}`
            }

            if(wardSearch){
                urlHref+=`&ward=${wardSearch}`
            }

            navigator.permissions && navigator.permissions.query({name: 'geolocation'})
            .then(function(PermissionStatus) {
                if (PermissionStatus.state == 'denied') {
                    return location.href = urlHref;
                }else{
                    navigator.geolocation.getCurrentPosition(function(position){

                        let lng = position.coords.longitude;
                        let lat = position.coords.latitude;

                        urlHref += `&lng=${lng}&lat=${lat}`;

                        if(maxDistanceSearch){
                            urlHref+=`&maxDistance=${maxDistanceSearch}`
                        }
                        return location.href = urlHref;

                    });
                }
            })
        });

        $("#txtCity, #txtDistrict, #txtWard").select2({
            width: '100%'
        });
        
    })
</script>




    
