<!-- YÊU CẦU: listProvince -->
<div class="row gutters">
    <div class="form-group col-xl-3"><label><span class="icon-glass2"> </span>Tìm theo từ khóa</label> 
        <input type="text" class="form-control" placeholder="VD: Cầm đồ Tô Thành Đạt" id="txtKey">
    </div>
    <div class="form-group col-xl-3"><label><span class="icon-glass2"> </span>Bộ lọc theo Địa chỉ</label> 
        <select class="form-control address" id="txtCitySearch">
            <option value="">Chọn Tỉnh/Thành phố</option>
                <% listProvince.forEach(province => { %>
                    <% if (city && province[1].code.toString() == city.toString()) { %>
                        <option selected value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                    <% }else{ %>
                        <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                    <% } %>
                <% }) %>
        </select>
    </div>
    <div class="form-group col-xl-3"><label>&nbsp;<span></span></label> 
        <select class="form-control address" id="txtDistrictSearch">
            <option value="">Chọn Quận/Huyện</option>
        </select>
    </div>
    <div class="form-group col-xl-3"><label>&nbsp;<span></span></label> 
        <select class="form-control address" id="txtWardSearch">
            <option value="">Chọn Xã/Phường</option>
        </select>
    </div>
</div>