<% moment.locale('vi') %>
<style>
	.faq--title{
		text-overflow: unset !important;
		white-space: unset !important
	}
</style>

<div class="container container--main pt-2 pb-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 align-self-end">
            <div class="d-flex flex-md-column flex-sm-column-reverse flex-xs-column-reverse">
                <div class="pt-5">
                    <h3 class="font-weight-semi-bold text--blue text-left">Các câu hỏi thường gặp</h3>
                    <p class="text--gray text-justify">
                        Chúng tôi muốn trả lời tất cả các câu hỏi của bạn để cải thiện trải nghiệm cầm đồ của bạn.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <div id="faq-accordion">

                <% if (listFAQ && listFAQ.length) { %>
                    <!-- <div class="row"> -->
                        <% listFAQ.forEach((faq, index) => { %>
                            <% let i = index + 1 %>

                            <div class="col-sm-12 col-md-12">
                                <div class="card rounded-0 mb-1" >
                                    <div class="collapse-container" id="faq-heading-<%= faq._id %>">
                                        <button class="rounded-0 btn-collapse collapsed btn btn-block py-3 text-left" data-toggle="collapse" data-target="#faq-<%= i %>" aria-expanded="true" aria-controls="faq-<%= i %>">
                                            <p class="faq--title text-left collapse-title m-0">
                                                <%= faq.title %>
                                                <i class="collapse-icon fa fa-chevron-down pt-1" aria-hidden="true"></i>
                                            </p>
                                        </button>
                                    </div>
                                    <div id="faq-<%= i %>" class="collapse" aria-labelledby="faq-heading-<%= faq._id %>" data-parent="#faq-accordion">
                                        <div class="card-body faq--content">
                                            <%- faq.content %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <% }) %>
                    <!-- </div> -->
                <% } %>

            </div>
        </div>
    </div>
</div>
