body{
	padding: 50px 100px 50px 100px;
}

.paper{
	padding: 50px;
	box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.2);
}

.row .block-logo,
.row .block-code{
	width: 177px;
	height: 78px;
	background-color: #5B9BD5;
}

.row .paper-title strong{
	text-transform: uppercase;
}

main ul.list-style-custom{
	list-style-type: '- ';
	/* margin-left: -35px; */
}

main ol{
	margin-left: -15px;
}