<!-- END: .app-container -->
			<!-- BEGIN .main-footer -->
			<footer class="main-footer fixed-btm">
				Copyright LDK SOFTWARE @ <script>document.write(new Date().getFullYear())</script>
			</footer>
			<!-- END: .main-footer -->
		</div>
		<!-- END: .app-wrap -->

		<!-- jQuery first, then Tether, then other JS. -->
		<script src="../../../../template/new-admin/js/jquery.js"></script>
		<script src="../../../../template/new-admin/js/tether.min.js"></script>
		<script src="../../../../template/new-admin/js/bootstrap.min.js"></script>
		<script src="../../../../template/new-admin/vendor/unifyMenu/unifyMenu.js"></script>
		<script src="../../../../template/new-admin/vendor/onoffcanvas/onoffcanvas.js"></script>
		<script src="../../../../template/new-admin/js/moment.js"></script>
		<script src="../../../../template/new-admin/js/cleave.min.js"></script>

		<!-- Slimscroll JS -->
		<script src="../../../../template/new-admin/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="../../../../template/new-admin/vendor/slimscroll/custom-scrollbar.js"></script>
		<!-- Gallery -->
		<script src="../../../../template/new-admin/vendor/gallery/baguetteBox.js" async></script>
		<script src="../../../../template/new-admin/vendor/gallery/plugins.js" async></script>
		<script src="../../../../template/new-admin/vendor/gallery/custom-gallery.js" async></script>

		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.min.js"></script>
		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.time.min.js"></script>
		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.pie.min.js"></script>
		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.stack.min.js"></script>
		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.tooltip.min.js"></script>
		<script src="../../../../template/new-admin/vendor/flot/jquery.flot.resize.min.js"></script>

		<!-- Chartist JS -->
		<script src="../../../../template/new-admin/vendor/chartist/js/chartist.min.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/chartist-tooltip.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart1.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-area-chart.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/donut-chart2.js"></script>
		<script src="../../../../template/new-admin/vendor/chartist/js/custom/custom-line-chart4.js"></script>
		

		<!-- Tiny Editor -->
		
		<script type="text/javascript" src="https://cdn.tiny.cloud/1/mnhe8mkhfadk24d7pbtvd880370fc3jyxr34fxx0csiks0gt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<!-- Common JS -->
		<script src="../../../../template/toastr/toastr.min.js"></script>
		<script src="../../../../template/new-admin/js/common.js"></script>
		<script src="../../../../template/new-admin/vendor/datatables/dataTables.min.js"></script>
		<script src="../../../../template/new-admin/vendor/datatables/dataTables.bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<!-- lightgallery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery.min.js" integrity="sha512-gDBgGPXSeC2hx1W3S1CfSHbAValtLI8OArTGf0UVX7Fwb9Ak7HUE3LK9UEZxKGYVrIe0CJUVZDk9B2dIPwJ6VQ==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-zoom/1.3.0/lg-zoom.js" integrity="sha512-D6MkrX5d4oidcCMf03tIq1FD9UDZ/A7J6Av08vBUd8+8mI7jDq5PB7J2w/U6FdMBiqgrbdTufmtesTB17N+9YA==" crossorigin="anonymous"></script>

		<script src="https://dntdurzwr12tp.cloudfront.net/template/socket/index.lib.js"></script>
		<script>
			let token = localStorage.getItem('token_admin');
			let socketAgency = io.connect('<%= AGENCY_DOMAIN%>', {
				query: { token },
				transports: ['websocket'], upgrade: false
			});

			let socketAdmin = io.connect('<%= ADMIN_DOMAIN%>', {
				query: { token },
				transports: ['websocket'], upgrade: false
			});
		</script>

		<%- include ../inc/utils/socket-agency.ejs %>
		<%- include ../inc/utils/socket-admin.ejs %>
	</body>
</html>