<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Unify Admin Panel" />
		<meta name="keywords" content="Admin, Dashboard, Bootstrap4, Sass, CSS3, HTML5, Responsive Dashboard, Responsive Admin Template, Admin Template, Best Admin Template, Bootstrap Template, Themeforest" />
		<meta name="author" content="Bootstrap Gallery" />
		<!-- BEGIN SEO -->
        <!-- Primary Meta Tags -->
        <title>K360 Admin Dashboard | LDK Team</title>
        <meta name="title" content="Template Admin Dashboard DA11 Chuẩn SEO | KhoTemplateVN">
        <meta name="description" content="KhoTemplateVN cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm dễ dàng, chuẩn seo, chuẩn responsive...">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://khotemplate.vn/preview/template-dashboard-admin-da11/index.html">
        <meta property="og:title" content="Template Admin Dashboard DA11 Chuẩn SEO | KhoTemplateVN">
        <meta property="og:description" content="KhoTemplateVN cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm dễ dàng, chuẩn seo, chuẩn responsive...">
        <meta property="og:image" content="../../../../template/new-admin/img/template-dashboard-admin-da11.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://khotemplate.vn/preview/template-dashboard-admin-da11/index.html">
        <meta property="twitter:title" content="Template Admin Dashboard DA11 Chuẩn SEO | KhoTemplateVN">
        <meta property="twitter:description" content="KhoTemplateVN cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm dễ dàng, chuẩn seo, chuẩn responsive...">
        <meta property="twitter:image" content="../../../../template/new-admin/img/template-dashboard-admin-da11.png">
        <!-- END SEO -->
		<link rel="shortcut icon" href="../../../../template/new-admin/img/3601_favicon.png" />
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		
		<!-- Common CSS -->
		<link rel="stylesheet" href="../../../../template/new-admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/fonts/icomoon/icomoon.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/css/main.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/vendor/gallery/gallery.css" />

		<!-- Other CSS includes plugins - Cleanedup unnecessary CSS -->
		<!-- Chartist css -->
		<link href="../../../../template/new-admin/vendor/chartist/css/chartist.min.css" rel="stylesheet" />
		<link href="../../../../template/new-admin/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
		<link href="../../../../template/toastr/toastr.min.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Quicksand:wght@500&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
		<link rel="stylesheet" href="../../../../template/new-admin/vendor/datatables/dataTables.bs4.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/vendor/datatables/dataTables.bs4-custom.css" />
		<!-- lightgallery -->
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/css/lg-transitions.css" integrity="sha512-pspbvYsqlfHdwBTYE7cIR0QMGpaIrDE1vyZ6mqho3bniC1NRO0RJyHWXiW0wkoVqczxsMb3DaI7glSLqdx3G+w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/css/lightgallery.css" integrity="sha512-I/g40Mx7U2Oepd3iHIpQRqdQGJ3vgdw0ix8LxGxX9zKv1MDizjD6dRcJ3PC1qpyfkj4rikVNcpBKcnmuJWUaTQ==" crossorigin="anonymous" />

		<style>
			*{
				font-family: 'Quicksand', sans-serif;
			}

			.wrapper-notification{
				height: 310px;
				overflow: auto;
			}

		</style>
	</head>
	<body>

		<!-- Loading starts -->
		<div class="loading-wrapper">
			<div class="loading">
				<div class="img"></div>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- Loading ends -->

		<!-- BEGIN .app-wrap -->
		<div class="app-wrap">
			<!-- BEGIN .app-heading -->
			<header class="app-header">
				<div class="container-fluid">
					<div class="row gutters">
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
							<a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
								<i class="icon-menu5"></i>
							</a>
							<a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
								<i class="icon-menu5"></i>
							</a>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-4">
							<a href="/agency" class="logo">
								<img src="../../../../template/new-admin/img/logo_k360.png" alt="Logo Admin Dashboard" />
							</a>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
							<ul class="header-actions">
								<li class="dropdown">
									<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
										<i class="icon-notifications_none"></i>
										<% if (totalUnSeenNotifications > 0) { %>
											<span class="icon-button__badge total-not-seen">
												<%= totalUnSeenNotifications %>
											</span>
										<% } %>
									</a>
									<div class="dropdown-menu dropdown-menu-right lg" aria-labelledby="notifications">
										<p style="color: white; font-size: 15px; margin-left: 10px; margin-top: 8px;">Danh sách thông báo</p>
										<a style="color: white; position: absolute; right: 20px; top: 18px; font-size: 13px;" href="/notification/receive">Xem tất cả</a>
										<ul style="margin-top: 25px" class="imp-notify wrapper-notification">
											<% if (listNotifications && listNotifications.length) { %>
												<% listNotifications.forEach((notify, index) => { %>
													<% const isSeen = notify.status === 1 %>
													<li class="notify-item <%= !isSeen && 'active' %>" _notifyID="<%= notify._id %>" _notiUrl="<%=notify.url%>">
														<a href="#" class="notify-link">
															<span class="icon">
																<i class="icon-fire"></i>
															</span>
															<div class="details">
																<p>
																	<span><%= notify.title %></span>
																	<p style="font-size: 13px"><%= moment(notify.createAt).format('LL')%> lúc <%= moment(notify.createAt).format('LT')%></p>
																	<p><%= notify.description.length > 30 ? notify.description.slice(0, 30).concat("...") : notify.description %></p>
																</p>
															</div>
														</a>
													</li>
												<% }) %>

											<% } else{ %>
												<div class="not-notify" style="padding: 20px;text-align: center;">
													Không có thông báo
												</div>
											<% } %>
										</ul>
									</div>
								</li>
								<li>
									<a href="#" id="todos" data-toggle="dropdown" aria-haspopup="true" class="none">
										<i class="icon-person_outline"></i>
										<span class="count-label red"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right lg" aria-labelledby="todos">
										<ul class="stats-widget">
											<li>
												<h4>$37895</h4>
												<p>Revenue <span>+2%</span></p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
														<span class="sr-only">87% Complete (success)</span>
													</div>
												</div>
											</li>
											<li>
												<h4>4,897</h4>
												<p>Downloads <span>+39%</span></p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
														<span class="sr-only">65% Complete (success)</span>
													</div>
												</div>
											</li>
											<li>
												<h4>2,219</h4>
												<p>Uploads <span class="text-secondary">-7%</span></p>
												<div class="progress">
													<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%">
														<span class="sr-only">42% Complete (success)</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li class="dropdown">
									<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
										<img class="avatar" src="../../../../template/new-admin/img/avatar1.svg" alt="User Thumb" />
										<span class="user-name"><%= infoUser && infoUser.username%></span>
										<i class="icon-chevron-small-down"></i>
									</a>
									<div class="dropdown-menu lg dropdown-menu-right" aria-labelledby="userSettings">
										<ul class="user-settings-list">
											<li style="margin-left: 42px;">
												<a href="/account-setting">
													<div class="icon yellow">
														<i class="icon-user"></i>
													</div>
													<p>Tài khoản</p>
												</a>
											</li>
											<li style="margin-right: 40px;">
												<a href="javascript:void(0)" class="btnLogout">
													<div class="icon red">
														<i class="icon-power2"></i>
													</div>
													<p>Đăng xuất</p>
												</a>
											</li>
											<!-- <li>
												<a href="profile.html">
													<div class="icon red">
														<i class="icon-cog3"></i>
													</div>
													<p>Settings</p>
												</a>
											</li>
											<li>
												<a href="filters.html">
													<div class="icon yellow">
														<i class="icon-schedule"></i>
													</div>
													<p>Activity</p>
												</a>
											</li> -->
										</ul>
										<!-- <div class="logout-btn">
											<a href="/" class="btn btn-primary btnLogout">Đăng Xuất</a>
										</div> -->
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
