<script>
    socket.once('connect', () => {

        const userID = `<%= infoUser._id %>`;
        const agencyChose = '<%= agencyChoosed && agencyChoosed._id %>'
        /*
         * Socket: Nhận thông báo từ user gửi yêu cầu định giá
         * Dev: MinhVH
         * Date: 19/05/2021
         */
        socket.on('SSC_PRICING_REQUEST', resp => {
			const { notify, content, title, link } = resp;
			const wrapNotify 	= $('.imp-notify');
			const countNotify 	= $('#notifications');

			if(notify.receiver.toString() === userID){
				// If don't have notify
				if(wrapNotify.find('.not-notify').length){
					wrapNotify.empty();
				}

				// Set total notify
				if(countNotify.find('.total-not-seen').length){
					const wrapTotalNotify 		= countNotify.find('.total-not-seen');
					const currentNotifyTotal 	= wrapTotalNotify.text().trim();
					wrapTotalNotify.text(+currentNotifyTotal + 1);
				} else{
					countNotify.append(`<span class="icon-button__badge total-not-seen">1</span>`);
				}

				toastr.info(content, title);

				wrapNotify.prepend(`
					<li class="notify-item active" _notifyID="${notify._id}">
						<a href=${link} class="notify-link">
							<div class="icon" style="background:red"> NEW </div>
							<div class="details">
								<p>
									<span>${title}</span>
									${content}
								</p>
							</div>
						</a>
					</li>
				`);
			}

        })

        /*
         * Socket: Nhận thông báo từ user gửi yêu cầu tạo giao dịch
         * Dev: SONLP
         * Date: 20/05/2021
         */
        //  const userID = "<%= infoUser._id %>";
         socket.on('SSC_ADD_MAIN_TRANSACTION_REQUEST', resp =>{
            const { title, content, arrNotifiIDOfMember, transactionID } = resp;
            console.log({ title, content, arrNotifiIDOfMember });
            let notifiID;
            let acceptNotification = false;

            arrNotifiIDOfMember.forEach(element => {
                if(element.member.toString() == userID.toString() && agencyChose.toString() == element.agency.toString()){
                    notifiID = element.notifiID
                    acceptNotification = true;
                }
            });
            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }
                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}">
                        <a href="/transaction/info-transaction/${transactionID}" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content}
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
        });

        /*
         * Socket: Nhận thông báo từ ADMIN gửi thông báo
         * Dev: Dattv
         * Date: 26/05/2021
         */
        socket.on('SSC_SEND_NOTIFICATION', resp =>{
            const { title, content, notificationAfterInsert } = resp;
            let notifiID;
            let url;
            let acceptNotification = false;
            console.log({ agencyChose });
            notificationAfterInsert.forEach(element => {
                if(element.receiver.toString() == userID.toString() && agencyChose.toString() == element.agency.toString()){
                    notifiID = element._id;
                    url = element.url;
                    acceptNotification = true;
                }
            });

            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }

                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}">
                        <a href="${url}" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content}
                                    <span style="
                                        float: right;
                                    ">Vài giây trước</span>
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
            
        });

        /*
         * Socket: Nhận thông báo từ user gửi yêu cầu tạo giao dịch
         * Dev: SONLP
         * Date: 20/05/2021
         */
         socket.on('SSC_CONFIRM_TRANSACTION_REQUEST', resp =>{
            const { title, content, listNotiAfterInsert, userSend, transactionID } = resp;

            let notifiID;
            let acceptNotification = false;

            listNotiAfterInsert.forEach(element => {
                if(element.data.receiver.toString() == userID.toString() && agencyChose.toString() == element.data.agency.toString()){
                    notifiID = element.data._id;
                    acceptNotification = true;
                }
            });
            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }
                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}">
                        <a href="/transaction/info-transaction/${transactionID}" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content}
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
        });

        /*
         * Socket: Nhận thông báo từ user gửi yêu cầu tạo giao dịch
         * Dev: SONLP
         * Date: 02/06/2021
         */
         socket.on('SSC_ADD_INJECT_TRANSACTION_RANSOM_REQUEST', resp =>{
            const { title, content, listNotiAfterInsert, userSend, transactionID } = resp;

            let notifiID;
            let acceptNotification = false;

            listNotiAfterInsert.forEach(element => {
                if(element.data.receiver.toString() == userID.toString() && agencyChose.toString() == element.data.agency.toString()){
                    notifiID = element.data._id;
                    acceptNotification = true;
                }
            });
            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }
                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}">
                        <a href="/transaction/info-transaction/${transactionID}" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content}
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
        });
         /*
         * Socket: Nhận thông báo từ user gửi yêu cầu tạo giao dịch
         * Dev: SONLP
         * Date: 02/06/2021
         */
         socket.on('SSC_CONFIRM_INJECT_TRANSACTION_RANSOM_REQUEST', resp =>{
            const { title, content, listNotiAfterInsert, userSend, transactionID } = resp;

            let notifiID;
            let acceptNotification = false;

            listNotiAfterInsert.forEach(element => {
                if(element.data.receiver.toString() == userID.toString() && agencyChose.toString() == element.data.agency.toString()){
                    notifiID = element.data._id;
                    acceptNotification = true;
                }
            });
            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }
                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}">
                        <a href="/transaction/info-transaction/${transactionID}" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content}
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
        });

    })
</script>