<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách Đại Lý</h5>
                            <!-- <h6 class="sub-heading">List Product Category</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-product-category">
                                    <span class="icon-add_circle"></span> Tạo đại lý
                                </a>
                            </div>
                            <% include ../../common/components/filter_address_agency.ejs %>
                            <div class="row gutters">
                                <div class="form-group col-xl-3"><label>Từ ngày</label> 
                                        <input type="date" class="form-control" id="txtStartDate"
                                            <% if (start) { %>
                                                value="<%= start %>"
                                            <% } %>
                                        >
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-3"><label>Đến ngày</label>
                                        <input type="date" class="form-control" id="txtEndDate"
                                            <% if (end) { %>
                                                value="<%= end %>"
                                            <% } %>
                                        >
                                    <small>Set Error</small>
                                </div>
                                <!-- <div class="form-group col-xl-3"><label>Sắp xếp</label> 
                                    <select class="form-control" id="sort-other">
                                        <option value="">Mặc định</option>
                                        <option value="1">Doanh số từ cao xuống thấp</option>
                                        <option value="2">Doanh số từ thấp lên cao</option>
                                        <option value="3">Khách hàng từ cao xuống thấp</option>
                                        <option value="4">Khách hàng từ thấp lên cao</option>
                                        <option value="5">Thời gian cũ nhất</option>
                                        <option value="6">Thời gian mới nhất</option>
                                    </select>
                                    <small>Set Error</small>
                                </div> -->
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearch border-btn-black">
                                        <span class="icon-search"></span>
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <!-- table-striped table-bordered -->
                                    <table id="table-list-agency" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th>STT</th>
                                                <th>Mã Đại Lý</th>
                                                <th>Tên</th>
                                                <th>Tổng giao dịch đang cầm</th>
                                                <th>Tổng số tiền vay giao dịch đang cầm</th>
                                                <th>Tổng số tiền lãi đang giao dịch đang cầm</th>
                                                <th>Tổng giao dịch đã chuộc</th>
                                                <th>Tổng số tiền giao dịch đã chuộc</th>
                                                <th>Khách hàng</th>
                                                <th>Ngày khởi tạo</th>
                                                <th>Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listAgency && listAgency.length) { %>
                                                <% listAgency.forEach(( agency, index ) => { %>
                                                    <tr>
                                                        <th><%= index + 1 %></th>
                                                        <td>
                                                            <i><%= _lodash.get(agency, 'code', '') %></i>
                                                        </td>
                                                        <td>
                                                            <a href="/agency/detail/<%=agency._id%>">
                                                                <i><%= _lodash.get(agency, 'name', '') %></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <% if (agency.amountPawn) { %>
                                                                <%=formatCurrency('###,###.', _lodash.get(agency, 'amountPawn',"0") )%>
                                                            <% }else{ %>
                                                                0
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (agency.originalAmt) { %>
                                                                <%=formatCurrency('###,###.', _lodash.get(agency, 'originalAmt',"0") )%>
                                                            <% }else{ %>
                                                               0
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (agency.totalInterestAmt) { %>
                                                                <%=formatCurrency('###,###.', _lodash.get(agency, 'totalInterestAmt',"0") )%>
                                                            <% }else{ %> 
                                                               0
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (agency.redeem) { %>
                                                                <%=formatCurrency('###,###.', _lodash.get(agency, 'redeem',"0") )%>
                                                            <% }else{ %>
                                                               0
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (agency.redeemAmt) { %>
                                                                <%=formatCurrency('###,###.', _lodash.get(agency, 'redeemAmt',"0") )%>
                                                            <% }else{ %> 
                                                               0
                                                            <% } %>
                                                        </td>
                                                        
                                                        <td><%=_lodash.get(agency, 'totalCustomer', '0')%></td>
                                                        <td><%=moment(agency.createAt).format('L');%></td>
                                                        <td>
                                                            <% if (agency.status === 1) { %>
                                                                <span class="badge badge-pill badge-success">
                                                                    Hoạt Động
                                                                </span>
                                                            <% } else { %>
                                                                <span class="badge badge-pill badge-danger">
                                                                    Không Hoạt Động
                                                                </span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group mb-2 border-btn-black">
                                                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= agency._id && agency._id %>">
                                                                    Thao Tác
                                                                </button>
                                                                <button type="button" 
                                                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" 
                                                                    x-placement="right-start" 
                                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                    <a class="dropdown-item" href="/agency/detail/<%= agency._id %>" _agencyID="<%= agency._id %>">
                                                                        <span class="icon-info4"></span> Xem chi tiết
                                                                    </a>
                                                                    <a class="dropdown-item btnUpdateAgency" href="javascript:void(0)" _agencyID="<%= agency._id %>">
                                                                        <span class="icon-border_color"></span> Sửa Thông Tin
                                                                    </a>
                                                                    <!-- <a class="dropdown-item btnBlockUser btnDeleteAgency" href="javascript:void(0)" _agencyID="<%= agency._id %>">
                                                                        <span class="icon-trash2"></span> Xóa
                                                                    </a> -->
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listAgency && listAgency.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO ĐẠI LÝ -->
<div class="modal fade bs-example-modal-sm model-create-product-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Khởi tạo Đại Lý mới</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            
            <div class="modal-body">
                <p style="color: #DF9024;">Ghi chú: *Trường kinh độ, vĩ độ phải nhập đúng thông tin tọa độ của Đại Lý</p>
                <div class="row gutters">
                    <div class="form-group col-xl-4"><label>Tên đại lý</label> 
                        <input type="text" class="form-control" id="txtName">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Email</label> 
                        <input type="email" class="form-control" id="txtEmail">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Trạng thái hoạt động</label> 
                        <div class="">
                            <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" value="1" class="custom-control-input" checked="">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Bật</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" value="0" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Tắt</span>
                            </label>
                        </div>
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-4"><label>Số điện thoại</label> 
                        <input type="text" class="form-control" id="txtPhone">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Mã Đại Lý (có thể nhập)</label> 
                        <input type="text" class="form-control" id="txtCode">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Mã số thuế</label> 
                        <input type="text" class="form-control" id="txtTaxCode">
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                        <input type="text" class="form-control" id="txtAddress" placeholder="VD: 244/9B đường Man Thiện">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-6"><label>Tỉnh/Thành Phố</label> 
                        <select class="form-control" id="txtCityFilter">
                            <option value="">Chọn Tỉnh/Thành phố</option>
                            <% listProvince.forEach(province => { %>
                                <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                            <% }) %>
                        </select>
                        <br>
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Quận/Huyện</label> 
                        <select class="form-control" id="txtDistrictFilter">
                            <option value="">Chọn Quận/Huyện</option>
                        </select>
                        <br>
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-6"><label>Xã/Phường</label> 
                        <select class="form-control" id="txtWardFilter">
                            <option value="">Chọn Xã/Phường</option>
                        </select>
                        <br>
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Vĩ độ</label> 
                        <input type="number" class="form-control" placeholder="VD: 10.848200508644084" id="txtLongitude">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-6"><label>Kinh độ</label> 
                        <input type="number" class="form-control" placeholder="VD: 106.7866335683083" id="txtLatitude">
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Giờ mở cửa</label> 
                        <input type="time" class="form-control" id="txtOpenTime">
                    </div>
                    <div class="form-group col-xl-6"><label>Giờ đóng cửa</label> 
                        <input type="time" class="form-control" id="txtCloseTime">
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Ảnh đại diện</label> 
                        <input id="btnUploadAvatar" type="file" class="form-control"accept="image/*">
                        <div class="gallery image-avatar">

                        </div>
                    </div>
                    <div class="form-group col-xl-6"><label>Album ảnh</label> 
                        <input id="btnUploadGallery" type="file" class="form-control" accept="image/*" multiple >
                        <div class="gallery image-gallery">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnAddAndUpdateAgency border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

