<% include layout/head.ejs %>
<%- include(render.inc) %>
<% include layout/footer.ejs %>

<%- include("inc/home/scripts/home-script") %>

<% if (render.code === CF_ROUTINGS_PRODUCT_CATEGORY.STEP_BY_CHOOSE ||
        render.code === CF_ROUTINGS_PRODUCT_CATEGORY.SELECT_AGENCY) { %>
    <%- include("../packages/product_category/views/scripts/step_by_choose-script") %> 
<% } %>

<% if(render.code === CF_ROUTINGS_PRODUCT_CATEGORY.PAWN_CATEGORY ||
        render.code === CF_ROUTINGS_PRODUCT_CATEGORY.DETAIL_PAWN_CATEGORY){ %>
    <%- include("../packages/product_category/views/scripts/pawn_category-script") %>
<% } %>

<!--==================== TRANG TÌM KIẾM SẢN PHẨM DỰA VÀO LOCATION ====================-->
<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_LIST_AGENCY) { %>
    <%- include("../packages/agency/views/scripts/list_agency_near-script") %>
<% } %>

<% if (render.code === CF_ROUTINGS_CONTACT.VIEW_CONTACT) { %>
    <%- include("../packages/contact/views/scripts/add_contact-script") %>
<% } %>

<% if (render.code === CF_ROUTINGS_BLOG.INFO_POST ||
		render.code === CF_ROUTINGS_BLOG.LIST_POST) { %>
    <%- include("../packages/blog/views/scripts/manage_blog-script") %>
<% } %>
