<% moment.locale('vi') %>
<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Chi tiết Liên hệ</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-20">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Tiêu đề</b>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input disabled class="form-control" type="text" value = "<%=infoNotification && infoNotification.title%>">
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Mô tả</b>
                                                    </label>
                                                </div>
                                                <div>
                                                    <textarea class="form-control" disabled name="" id="" cols="30" rows="5"><%=infoNotification && infoNotification.description%></textarea>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Danh sách đại lý</b>
                                                    </label>
                                                </div>
                                                <div>
                                                    <% infoNotification.agencys_receive.forEach(agency => { %>
                                                        <button class="btn btn-outline-success"><%= agency.name%></button>
                                                    <% }) %>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                Nội dung
                                            </label>
                                        </div>
                                        <div>
                                            <div style="background-color: #e9ecef;" class="form-control" name="" id="contentDetail" cols="30" rows="10" disabled><%-infoNotification && infoNotification.content%></div>
                                        </div>
                                    </div>
                                    <div class="form-group right">
                                        <button onclick="goBack()" class="btn btn-secondary"> Quay lại</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        
</script>