<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .tag{
        margin-top: 10px;
        margin-left: 10px;
    }

    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    .note{
        color: #DF9024;
        font-size: small;
    }

    .agency-receive{
        width: 500px;
        height: 150px;
        overflow: auto;
    }

    
  
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách Thông báo</h5>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtStartDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtEndDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearchReceive border-btn-black">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="table-list-notification-receive" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead >
                                            <tr>
                                                <th>STT</th>
                                                <th>Tiêu đề</th>
                                                <th>Thời gian</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listNotification && listNotification.length) { %>
                                                <% listNotification.forEach(( notification, index ) => { %>
                                                    <% if (notificationID && notification._id.toString() == notificationID.toString()) { %>
                                                        <tr style="background-color: #ffc16a;">
                                                            <th><%= index + 1 %></th>
                                                            <td>
                                                                <i><a href="<%= notification.url %>"><%= notification.title %></a></i>
                                                            </td>
                                                            <td>
                                                                <i><%= moment(notification.createAt).format('L'); %> lúc <%= moment(notification.createAt).format('LT'); %></i>
                                                            </td>
                                                        </tr>
                                                    <% }else{ %>
                                                        <tr>
                                                            <th><%= index + 1 %></th>
                                                            <td>
                                                                <i><a href="<%= notification.url %>"><%= notification.title %></a></i>
                                                            </td>
                                                            <td>
                                                                <i><%= moment(notification.createAt).format('L'); %> lúc <%= moment(notification.createAt).format('LT'); %> </i>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listNotification && listNotification.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

