<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }

    .tag{
        margin-top: 10px;
        margin-left: 10px;
    }

    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .select2-selection--multiple { max-height: 8rem; overflow: auto }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    .note{
        color: #DF9024;
        font-size: small;
    }

    /* .agency-receive{
        width: 500px;
        height: 150px;
        overflow: scroll;
    } */
  
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách Thông báo</h5>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtStartDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtEndDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearch border-btn-black">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-product-category">
                                    <span class="icon-add_circle"></span> Tạo thông báo
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="table-list-notification" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead >
                                            <tr>
                                                <th>STT</th>
                                                <th>Tiêu đề</th>
                                                <!-- <th>Mô tả</th>
                                                <th>Nội dung</th> -->
                                                <th>Ngày gửi</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listNotification && listNotification.length) { %>
                                                <% listNotification.forEach(( notification, index ) => { %>
                                                    <tr>
                                                        <th><%= index + 1 %></th>
                                                        <td>
                                                            <a href="/notification-core/<%=notification._id%>">
                                                                <i><%= notification.title %></i>
                                                            </a>
                                                                <!-- <i><%= notification.title %></i> -->
                                                        </td>
                                                        <!-- <td>
                                                            <i><%= notification.description %></i>
                                                        </td>
                                                        <td>
                                                            <i><%- notification.content && notification.content.length > 200 ? notification.content.slice(0, 200).concat("...") : notification.content %></i>
                                                        </td> -->
                                                        <td>
                                                            <i><%= moment(notification.createAt).format('L') %> lúc <%= moment(notification.createAt).format('LT')%> </i>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group mb-2 border-btn-black">
                                                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= notification._id && notification._id %>">
                                                                    Thao Tác
                                                                </button>
                                                                <button type="button" 
                                                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" 
                                                                    x-placement="right-start" 
                                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                    <a class="dropdown-item btnUpdateNotification" href="javascript:void(0)" _notificationID="<%= notification._id %>">
                                                                        <span class="icon-border_color"></span> Sửa Thông Tin
                                                                    </a>
                                                                    <a class="dropdown-item btnDeleteNotification" href="javascript:void(0)" _notificationID="<%= notification._id %>">
                                                                        <span class="icon-trash2"></span> Xóa
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listNotification && listNotification.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm modal-create-update-notification" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0 titleCreateNotification">Khởi Tạo Thông Báo</h5>
                <h5 class="modal-title mt-0 titleUpdateNotification">Cập Nhật Thông Báo</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p style="color: #DF9024;">Tiện ích: Dùng bộ lọc để tìm Đại lý nhanh hơn</p>
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Tiêu đề (*)</label> 
                        <input type="text" class="form-control" id="txtTitle">
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Mô tả (*)</label> 
                        <textarea name="" cols="30" rows="3" class="form-control" id="txtDescription"></textarea>
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Nội dung (*)</label> 
                        <textarea  class="form-control" id="txtContent" rows="2"></textarea>
                        <small>Set Error</small>
                    </div>
                </div>
                <!-- <div class="row gutters">
                    <div class="form-group col-xl-12">
                        <label class="form-check-label">
                            <input class="form-check-input send-all-agency-system" type="checkbox" value="">
                                Gửi cho tất cả đại lý trên hệ thống <span class="note">(Không bắt buộc)</span>
                        </label>
                    </div>
                </div> -->
                <div class="row gutters filter">
                    <div class="form-group col-xl-4"><label>Tỉnh/Thành phố</label> 
                        <select class="form-control address" id="txtCityFilter">
                            <option value="">Chọn Tỉnh/Thành phố</option>
                            <% listProvince.forEach(province => { %>
                                <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                            <% }) %>
                        </select>
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Quận/Huyện</label> 
                        <select class="form-control address" id="txtDistrictFilter">
                            <option value="">Chọn Quận/Huyện</option>
                        </select>
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-4"><label>Xã/Phường</label> 
                        <select class="form-control address" id="txtWardFilter">
                            <option value="">Chọn Xã/Phường</option>
                        </select>
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters filter">
                    <div class="form-group col-xl-6"><label>Chọn Đại lý</label> 
                        <select class="form-control" id="txtAgency" name="states[]" multiple="multiple">
                            <% listAgency && listAgency.length && listAgency.forEach(agency => { %>
                                <option value="<%=agency._id%>"><%=agency.name%></option>
                            <% }) %>
                        </select>
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-6">
                        <button style="margin-top: 36px" type="button" class="btn btn-secondary btnRemoveAll border-btn-black">
                            Xoá tất cả
                        </button>
                    </div>
                    <div class="form-group col-xl-12">
                        <label class="form-check-label">
                            <input class="form-check-input send-all-agency-select" type="checkbox" value="">
                                Gửi cho tất cả Đại Lý trong hệ thống
                        </label>
                    </div>
                    <!-- <div class="form-group col-xl-6 agency-receive">
                        <label for="">Danh sách Đại lý được chọn</label>
                        <br><br>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btnAddAndUpdateNotification border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

