<script>
    $(document).ready(function () {

        $(".agency-receive").hide();
        $('.titleUpdateNotification').hide(); 

        $(function(){
            $('#table-list-notification-core').DataTable({
                'iDisplayLength': 10,
                // "scrollY": "1000px",
                // //"scrollX": true,
                // "scrollCollapse": true,
                "aaSorting": [],
                "bPaginate": true,  
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '5%' },
                    { sWidth: '40%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                ],
                ...languageDataTable

            });

            $(' #table-list-notification').DataTable({
                'iDisplayLength': 10,
                // "scrollY": "1000px",
                // //"scrollX": true,
                // "scrollCollapse": true,
                "aaSorting": [],
                "bPaginate": true,  
                "bInfo": false,  
                "bFilter": true,
                "bAutoWidth": false,
                "aoColumns" : [
                    { sWidth: '5%' },
                    { sWidth: '20%' },
                    { sWidth: '30%' },
                    { sWidth: '10%' },
                    { sWidth: '10%' },
                ],
                ...languageDataTable

            });
        });

        //Quận, huyện
        $('#txtCityFilter').on('change', function () {
            $("#txtDistrictFilter").empty();
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-districts/${value}`,
                method: 'get',
                success: resp => {
                    let { listDistricts } = resp;
                    let listDistrict = Object.entries(listDistricts);
                    let dataAppend = `<option value="">Tất cả</option>`;
                    listDistrict.forEach(district => {
                        dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtDistrictFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        //Xã, phường
        $('#txtDistrictFilter').on('change', function () {
            $("#txtWardFilter").empty();
            let value = $(this).val();
            $.ajax({
                url: `/list-wards/${value}`,
                method: 'get',
                success: resp => {
                    let { listWards } = resp;
                    let listWard = Object.entries(listWards);
                    let dataAppend = `<option value="">Tất cả</option>`;
                    listWard.forEach(ward => {
                        dataAppend += `<option value="${ward[0]}">${ward[1].name_with_type}</option>`
                    })
                    if (!resp.error){
                        $("#txtWardFilter").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });
        });

        //Show modal khởi tạo thông tin đại lý
        $('.btn-create-product-category').on('click', function () {
            $('.modal-create-update-notification').modal('show');
            $('.titleUpdateNotification').hide(); 
            $('.titleCreateNotification').show();
            $("#txtTitle").val("");
            $("#txtDescription").val("");
            $("#txtContent").val("");
        });
        
        $('.send-all-agency-system').on('change', function () {
            if ($(this).is(':checked')) {
                $('.filter').hide();
            } else {
                $('.filter').show();
            }
        });

        $('.send-all-agency-select').on('change', function () {
            $(".agency-receive").show();
            if ($(this).is(':checked')) {
                let value =  $("#txtAgency").find("option").first().val();
                if(!value){
                    $("#txtAgency").find("option").first().remove();
                }
                
                $(".agency-receive").empty();
                arrayAgencyReceive = [];
                $("#txtAgency").find("option").each(function(index, item) {
                    let agencyName = $(item).text();
                    let agencyID = $(item).val();
                    arrayAgencyReceive.push(agencyID);
                    $(".agency-receive").append(`<div class="receive"><span class="badge badge-bdr-pill badge-primary tag">${agencyName}</span>&nbsp;<span _agencyID="${agencyID}" class="icon-cross btnRemove"></span></div>`)
                });
            } else {
                
            }
            
        });

        $('.address').on('change', function (e) {
            let city = $("#txtCityFilter").val();
            let district = $("#txtDistrictFilter").val();
            let ward = $("#txtWardFilter").val();
            $.ajax({
                url: `/agency/list-agency-by-address?city=${city}&district=${district}&ward=${ward}`,
                method: 'get',
                success: resp => {
                    let listAgency = resp.data;
                    if (!resp.error){
                        let dataAppend = "";
                        if(listAgency && listAgency.length){
                            listAgency.forEach(agency => {
                                dataAppend+=`<option value="${agency._id}">${agency.name}</option>`
                            })
                        }else{
                            dataAppend+=`<option value="">Không có Đại lý nào</option>`
                        }
                       
                        $("#txtAgency").empty();
                        $("#txtAgency").append(dataAppend);
                    }else{
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                },
                error: function(err) {
                    return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                }
            });

        });

        $(document).on("change", "#select-agency", function() {
            let agencyID = $(this).val();
            location.href = `/notification?agencyID=${agencyID}`;
        })

        $(document).on("click", ".btnSearch", function() {
            let start = $("#txtStartDate").val();
            let end = $("#txtEndDate").val();
            if(!start || !end){
                return toastr.warning(`Vui lòng chọn ngày bắt đầu và ngày kết thúc`, "THÔNG BÁO")
            }
            location.href = `/notification?start=${start}&end=${end}`;
        })

        //Xóa thông báo
        $(document).on("click", ".btnDeleteNotification", function(e) {
            e.preventDefault();
            if (confirm("Bạn có chắc chắn xóa không?")) {
                let notificationID = $(this).attr("_notificationID");
                $.ajax({
                    url: `/notification/remove-notification/${notificationID}`,
                    method: 'get',
                    success: resp => {
                        if (!resp.error){
                            toastr.success(`Xóa Thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 500);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }
            return false;
        })

        let arrayAgencyReceive = [];
        $(document).on("change", "#txtAgency", function() {
            $(".agency-receive").show();
            let agencyID = $(this).val();
            let agencyName = $("#txtAgency option:selected").text();
            if(arrayAgencyReceive.includes(agencyID) == false && agencyID){
                arrayAgencyReceive.push(agencyID);
                $(".agency-receive").append(`<div class="receive"><span class="badge badge-bdr-pill badge-primary tag">${agencyName}</span>&nbsp;<span _agencyID="${agencyID}" class="icon-cross btnRemove"></span></div>`)
            } else {
                toastr.warning('Đại lý đã thêm', 'THÔNG BÁO');
            }
        })

        $(document).on("click", ".btnRemove", function() {
            let agencyID = $(this).attr('_agencyID');
            $(this).closest(".receive").remove();
            let index = arrayAgencyReceive.indexOf(agencyID); 
            arrayAgencyReceive.splice(index, 1);
            $('.send-all-agency-select').prop('checked', false);
            if(arrayAgencyReceive.length == 0){
                $(".agency-receive").hide();
            }
        })

        $(document).on("click", ".btnAddAndUpdateNotification", function(e) {
            e.preventDefault();
            let title = $("#txtTitle").val();
            let description = $("#txtDescription").val();
            let content = $("#txtContent").val();
            let stringReceive = arrayAgencyReceive.join(",");
            let notificationID = $(this).attr('_notificationid');
            
            if(!title || !description || !content){
                return toastr.warning(`Vui lòng nhập đầy đủ thông tin`, "THÔNG BÁO");
            }

            if(!stringReceive){
                return toastr.warning(`Vui lòng chọn Đại Lý muốn gửi thông báo`, "THÔNG BÁO");
            }

            if(!notificationID) {
                disableAndLoading(this);
                $.ajax({
                    url: `/notification/add-notification`,
                    method: 'post',
                    data: { title, description, content, arrayAgencyReceive: stringReceive },
                    success: resp => {
                        if (!resp.error){
                            toastr.success(`Tạo Thông báo thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 1500);
                        }else{
                            enableAndStopLoading(this)
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        enableAndStopLoading(this)
                        return toastr.error(`Thất bại`, "THÔNG BÁO");
                    }
                });
            } else {
                $.ajax({
                    url: `/notification/update-notification/${notificationID}`,
                    method: 'POST',
                    data: { title, description, content, arrayAgencyReceive: stringReceive },
                    success: resp => {
                        if (!resp.error){
                            toastr.success(`Cập nhật thành công`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 1500);
                        }else{
                            toastr.error(`Cập nhật thất bại`, "THÔNG BÁO");
                            setTimeout(function(){
                                location.reload();
                            }, 1500);
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Cập nhật thất bại`, "THÔNG BÁO");
                    }
                });
            }
        })


        $("#txtAgency, #txtCityFilter, #txtDistrictFilter, #txtWardFilter").select2({
            width: '100%'
        });

        //Show modal update thông tin đại lý
        $('.btnUpdateNotification').on('click', function () {
            $('.modal-create-update-notification').modal('show');
            $('.titleUpdateNotification').show();
            $('.titleCreateNotification').hide();
            $('#btnAddAndUpdateNotification').show();
            $('.btnConfirmUpdateNotification').show();

            let notificationID = $(this).attr('_notificationID');
            
            $.ajax({
                url: `/notification/info-notification/${notificationID}`,
                method: 'GET',
                success: function(resp) {
                    let { title, description, content, agencys_receive } = resp.data;

                    $('#txtTitle').val(title);
                    $('#txtDescription').val(description);
                    $('#txtContent').val(content);
                    $('.btnAddAndUpdateNotification').attr('_notificationID', notificationID);

                    arrayAgencyReceive = [];
                    $(".agency-receive").empty();
                    agencys_receive.forEach(agencyReceive => {
                        arrayAgencyReceive.push(agencyReceive._id);
                        $(".agency-receive").append(`<div class="receive"><span class="badge badge-bdr-pill badge-primary tag">${agencyReceive.name}</span>&nbsp;<span _agencyID="${agencyReceive._id}" class="icon-cross btnRemove"></span></div>`);
                    });
                    $(".agency-receive").show();
                },
                error: function(err) {
                    return toastr.error('CẬP NHẬT THẤT BẠI', 'THÔNG BÁO');
                }
            });
        });

        let contentDetail = $("#contentDetail").text();
        let resultContent = jQuery(contentDetail).text();
        $("#contentDetail").text(resultContent);
        
    })
    
</script>