<% include layout/head-agency.ejs %>
    <%- include(render.inc) %>
<% include layout/footer-agency.ejs %>

<%- include inc/scripts/main-script.ejs %>

<!-- ==================== QUẢN LÝ ĐẠI LÝ ==================== -->
<% if (render.code === CF_ROUTINGS_AGENCY.LIST_AGENCY) { %>
    <%- include("../packages/agency/views/scripts/list_agency-script.ejs") %>
<% } %>

<%if (render.code === CF_ROUTINGS_CUSTOMER.LIST_CUSTOMER){%>
    <%- include("../packages/customer/views/scripts/list_customer-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_CUSTOMER.GET_INFO_ACCOUNT_CUSTOMER){%>
    <%- include("../packages/customer/views/scripts/info_customer-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.ADD_TRANSACTION){%>
    <%- include("../packages/transaction/views/scripts/add_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_TRANSACTIONS ||
      render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_TRANSACTION_IN_DAY){%>
    <%- include("../packages/transaction/views/scripts/manage_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.LIST_TRANSACTION ||
    render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_TRANSACTION ||
    render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_PRODUCT ||
    render.code === CF_ROUTINGS_INVENTORY.DETAIL_INVENTORY_SESSISON ){%>
    <%- include("../packages/transaction/views/scripts/list_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_INVENTORY.VIEW_LIST_INVENTORY_SESSION){%>
    <%- include("../packages/transaction/views/scripts/list_inventory_session-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.LIST_TRANSACTION_RANSOM){%>
    <%- include("../packages/transaction/views/scripts/list_transaction_ransom-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.LIST_MATURITY_TRANSACTION){%>
    <%- include("../packages/transaction/views/scripts/list_maturity_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.LIST_24H_TRANSACTION){%>
    <%- include("../packages/transaction/views/scripts/list_24h_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.GET_UPDATE_TRANSACTION){%>
    <%- include("../packages/transaction/views/scripts/update_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.GET_LIST_TRANSACTION_CHECK){%>
    <%- include("../packages/transaction/views/scripts/list_transaction_check-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.LIST_TRANSACTION_NORMAL){%>
    <%- include("../packages/transaction/views/scripts/list_transaction_normal-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_TRANSACTION.INFO_TRANSACTION){%>
    <%- include("../packages/transaction/views/scripts/info_transaction-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_FINANCIAL.LIST_FINANCIAL){%>
    <%- include("../packages/financial/views/scripts/list_financial-script.ejs") %>
<%}%>

<%if (render.code === CF_ROUTINGS_FINANCIAL.LIST_FINANCIAL_BANK){%>
    <%- include("../packages/financial/views/scripts/list_financial_bank-script.ejs") %>
<%}%>

<% if (render.code === CF_ROUTINGS_INTEREST_RATE.LIST_INTEREST_RATE) { %>
    <%- include('../packages/interest_rate/views/scripts/list_interest_rate-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_PRICING_REQUEST.LIST_PRICING_REQUEST) { %>
    <%- include('../packages/pricing_request/views/scripts/manage_pricing_request-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT ||
    render.code === CF_ROUTINGS_PRODUCT_CATEGORY.LIST_PRODUCT_CATEGORY_BY_PARENT ||
    render.code === CF_ROUTINGS_PRODUCT_CATEGORY.ADD_PRODUCT_CATEGORY) { %>
    <%- include("../packages/product_category/views/scripts/manage_product_category-script.ejs") %>
<% } %>

<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_LIST_EMPLOYEE) { %>
    <%- include('../packages/agency/views/scripts/list_employee-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_LIST_AGENCY_BRANCH) { %>
    <%- include('../packages/agency/views/scripts/list_agency_branch-script') %>
<% } %> 

<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_DETAIL_AGENCY_BRANCH) { %>
    <%- include('../packages/agency/views/scripts/detail_agency-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_NOTIFICATION.VIEW_LIST_NOTIFICATION ||
        render.code === CF_ROUTINGS_NOTIFICATION.DETAIL_NOTIFICATION) { %>
    <%- include('../packages/notification/views/scripts/list_notification-script.ejs') %>
<% } %>

<% if (render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_HISTORY_CHECK_OF_TRANSACTION) { %>
    <%- include('../packages/transaction/views/scripts/list_history_check_transaction-script.ejs') %>
<% } %>