<script>
    socketAdmin.once('connect', () => {

        const userID = `<%= infoUser._id %>`;

        /*
         * Socket: Demo Socket
         * Dev: MinhVH
         * Date: 19/05/2021
         */
         socketAdmin.on('SSC_SEND_MESSAGE', resp =>{
            console.log({ resp });
        })

        socketAdmin.on('SSC_CONFIRM_TRANSACTION_REQUEST_ENDUSER', resp =>{
            console.log({ resp });
        })
        /*
         * Socket: Nhận thông báo từ user gửi liên hệ admin
         * Dev: Dattv
         * Date: 27/05/2021
         */
         socketAdmin.on('SSC_SEND_NOTIFICATION_CONTACT', resp => {

            const { title, content, notificationAfterInsert, contactID } = resp;
            let notifiID;
            let url;
            let acceptNotification = false;

            notificationAfterInsert.forEach(element => {
                if(element.receiver.toString() == userID.toString()){
                    notifiID = element._id;
                    url = element.url;
                    acceptNotification = true;
                }
            });

            if(acceptNotification){
                let totalNotSeen = $(".total-not-seen").text();

                if(!totalNotSeen){
                    $(".icon-notifications_none").append(
                        `<span class="icon-button__badge total-not-seen">
                            1
                    </span>`)
                }else{
                    $(".total-not-seen").text(Number(totalNotSeen) + 1);
                }

                if(Number(totalNotSeen) == 0){
                    $(".not-notify").remove();
                }

                $(".imp-notify").prepend(`
                    <li class="notify-item active" _notifyID="${notifiID}" _notiUrl="${url}" >
                        <a href="#" class="notify-link">
                            <span class="icon">
                                <span class="icon-bell3"></span>
                            </span>
                            <div class="details">
                                <p>
                                    <span>${title}</span>
                                    ${content.length < 150 ? content : content.slice(0, 150) + "..."}
                                </p>
                            </div>
                        </a>
                    </li>
                `);
                toastr.info(content, title);
            }
        });

    })
</script>