<script>
    socketAgency.once('connect', () => {

        const userID = `<%= infoUser._id %>`;

        /*
         * Socket: Demo Socket
         * Dev: MinhVH
         * Date: 19/05/2021
         */
         socketAgency.on('SSC_SEND_MESSAGE', resp =>{
            console.log({ resp });
        })
    })
</script>