<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }

    .row-2{
        float: right
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Chi tiết đại lý</h5>
                            <h6 class="sub-heading">Welcome to Unify Admin Template</h6>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="/admin/list-agency">Agency</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><%=infoAgency.name%></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p>Tên Đại lý:</p>
                                    <p>Email:</p>
                                    <p>Số điện thoại:</p>
                                    <p>Địa chỉ:</p>
                                    <p>Giờ mở cửa:</p>
                                    <p>Giờ đóng cửa:</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="text-right"><%=infoAgency.name%></p>
                                    <p class="text-right"><%=infoAgency.email%></p>
                                    <p class="text-right"><%=infoAgency.phone%></p>
                                    <p class="text-right"><%=infoAgency.address%></p>
                                    <p class="text-right"><%=infoAgency.openTime%></p>
                                    <p class="text-right"><%=infoAgency.closeTime%></p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p>Danh sách Owner</p>
                                </div>
                                <table class="table table-hover table-responsive">
                                    <!-- thead-inverse -->
                                    <thead class="thead-default">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Email</th>
                                            <th>Trạng thái</th>
                                            <th>Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (infoAgency.owners && infoAgency.owners.length) { %>
                                            <% infoAgency.owners.forEach(( owner, index ) => { %>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <a href="">
                                                            <i><%= owner.username %></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <i><%= owner.email %></i>
                                                    </td>
                                                    <td>
                                                        <i><%= owner.status === 1 ? 'Hoạt động' : 'Không hoạt động' %></i>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-secondary btn-sm" id="btnDropDown_<%= owner._id && owner._id %>">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" 
                                                                class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                data-toggle="dropdown" 
                                                                aria-haspopup="true" 
                                                                aria-expanded="false"
                                                            >
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" 
                                                                x-placement="right-start" 
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                            >
                                                                <a class="dropdown-item btnUpdateOwner" 
                                                                    href="javascript:void(0)" 
                                                                    _ownerID="<%= owner._id %>">
                                                                    Sửa Thông Tin
                                                                </a>
                                                                <a class="dropdown-item btnBlockUser btnDeleteOwner" 
                                                                    href="javascript:void(0)" 
                                                                    _ownerID="<%= owner._id %>">
                                                                    Xóa
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p>Danh sách Employee</p>
                                </div>
                                <table class="table table-hover table-responsive">
                                    <!-- thead-inverse -->
                                    <thead class="thead-default">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Email</th>
                                            <th>Trạng thái</th>
                                            <th>Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (infoAgency.owners && infoAgency.owners.length) { %>
                                            <% infoAgency.owners.forEach(( owner, index ) => { %>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <a href="">
                                                            <i><%= owner.username %></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <i><%= owner.email %></i>
                                                    </td>
                                                    <td>
                                                        <i><%= owner.status === 1 ? 'Hoạt động' : 'Không hoạt động' %></i>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-secondary btn-sm" id="btnDropDown_<%= owner._id && owner._id %>">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" 
                                                                class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                data-toggle="dropdown" 
                                                                aria-haspopup="true" 
                                                                aria-expanded="false"
                                                            >
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" 
                                                                x-placement="right-start" 
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                            >
                                                                <a class="dropdown-item btnUpdateOwner" 
                                                                    href="javascript:void(0)" 
                                                                    _ownerID="<%= owner._id %>">
                                                                    Sửa Thông Tin
                                                                </a>
                                                                <a class="dropdown-item btnBlockUser btnDeleteOwner" 
                                                                    href="javascript:void(0)" 
                                                                    _ownerID="<%= owner._id %>">
                                                                    Xóa
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>