<style>
    .submit-btn{
        position: relative;
        float: right;
        right: 1em;
        top: 1em;
        /* push it up into the element before it. This is a trick for bottom-right */
        right: 1em;
        z-index: 200;
        font-weight:bolder;
    }
    .wrap-lookup-location{
        height: 250px;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    table.dataTable thead th {
        border-bottom: 0;
    }
    table.dataTable tbody td {
        border-top: 0;
    }
    table.dataTable tbody td {
        border-bottom: 0;
    }

</style>
<div class="pawn--attrib-box">
    <div class="container container--pawn container--pawn container--main py-5">
        <h1 class="text--size_32 headerSearchLocation" style="text-align: center; font-weight:bold; color: #df9024;">TRA CỨU CÁC ĐỊA ĐIỂM GIAO DỊCH</h1>
        <div class="wrap-lookup-location">
            <h2 class="text--size_24 mb-4" style="color: #df9024;">Bộ lọc Địa điểm Giao dịch:</h2>
            <div class="row formselect">
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                        <span style="min-width: 150px; font-weight: bold;">Tên Đại Lý:</span>
                        <input type="text" placeholder="VD: Cầm đồ K360..." class="form-control" id="txtName" value="<%= name ? name : '' %>">
                    </div> 
                </div>
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-sm-6">
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                        <span style="min-width: 150px; font-weight: bold;">Tỉnh/ Thành phố:</span>
                        <select style="width: 100%" class="form-control selectBox" id="txtCity" >
                            <option value="">Tất cả</option>
                            <% listProvince.forEach(province => { %>
                                <% if (province[1].code.toString() == city && city.toString()) { %>
                                    <option selected value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                <% }else{ %>
                                    <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                        <span style="min-width: 150px; font-weight: bold;">Quận/ Huyện:</span>
                        <select id="txtDistrict" _district="<%= district ? district : "" %>" class="form-control selectBox">
                            <option selected value="<%= district ? district : "" %>">Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-sm-6">
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                        <span style="min-width: 150px; font-weight: bold;">Phường/Xã:</span>
                        <select id="txtWard" _ward="<%= ward ? ward : "" %>" class="form-control selectBox">
                            <option selected value="<%= ward ? ward : "" %>">Tất cả</option>
                        </select>
                    </div>
                    <div class="form-group selectWrapper s1 mb-2" style="display: flex; align-items: center;">
                        <span style="min-width: 150px; font-weight: bold;">Khoảng cách:</span>
                        <select id="txtMaxDistance" class="form-control selectBox">
                            <% DISTANCES.forEach(distance => { %>
                                    <% if (maxDistance && maxDistance.toString() == distance.value.toString()) { %>
                                        <option selected value="<%=distance.value%>"><%=distance.text%></option>
                                    <% }else{ %>
                                        <option value="<%=distance.value%>"><%=distance.text%></option>
                                    <% } %>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 submit-btn">
                <a id="btnSearchAgency" class="btn btn-orange btn-block btn-circle" _lng="<%=lng%>" _lat="<%=lat%>" href="javascript:void(0)">Tìm Đại Lý</a>
            </div>
        </div>

        <div class="result-lookup">
            <% if (listAgencyNear && listAgencyNear.length) { %>
            <h1 class="text--size_24 mb-4" style="color: #df9024;">Danh sách các Địa điểm Giao dịch</h1>

            <div class="tableScrollMobile">
                <table id="list-agency" class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Tên đại lý</th>
                        <th scope="col" class="text-center">Địa chỉ</th>
                        <th scope="col" class="text-center">SĐT</th>
                        <th scope="col" class="text-center">Khoảng cách</th>
                        <th scope="col" class="text-center">Chỉ đường</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                        <% listAgencyNear.forEach((agency, index) => { %>
                            <tr style="position: relative; transform: scale(1); z-index: <%= 100 - index %>" onclick="$(this).toggleClass('show-subInfo');">
                                <td class="text-center" scope="row"><%=agency.name%></td>
                                <%  
                                    let infoProvince;
                                    let infoDistrict;
                                    listProvince.forEach(province => {
                                        if ( province[1].code == agency.city ){
                                            infoProvince = province[1];
                                        }
                                    });
                                    listDistricts.forEach(district => {
                                        if ( district[1].code == agency.district ){
                                            infoDistrict = district[1];
                                        }
                                    });

                                %>
                                <td class="text-center"><%=agency.address%>, <%=infoProvince && infoDistrict.name_with_type%>, <%=infoProvince && infoProvince.name_with_type%></td>
                                <td class="text-center"><%=agency.phone%></td>
                                <td class="text-center"><%=agency.dist ? Math.round(Number(agency.dist.calculated) * 100) / 100 + 'km' : 'Cần bật vị trí để xem' %> </td>
                                <td class="text-center"><a target="_blank" href="https://www.google.com/maps?ll=<%=agency.location.coordinates[1]%>,<%=agency.location.coordinates[0]%>&q=<% if (!agency.name.toLowerCase().includes("cầm đồ")) { %>Cầm Đồ <% } %><%= agency.name ? agency.name : "" %>&amp;z=19" target="_blank" class="list--link" style="color: #df9024;">View road map</a></td>
                            
                                <td class="list-agency__subItem" > 
                                    <span class="close-store-info" onclick="$(this).removeClass('show-subInfo')"> </span>
                                    <span class="list-agency__subItem-name"><%=agency.name%></span>
                                    <span class="list-agency__subItem-address">Địa chỉ: <%=agency.address%>, <%=infoDistrict && infoDistrict.name_with_type%>, <%=infoProvince && infoProvince.name_with_type%></span>
                                    <% if (agency.productPawn) { %>
                                        <span class="list-agency__subItem-info-business">Sản phẩm nhận cầm: <%=agency.productPawn %></span> 
                                    <% } %>
                                    <span class="list-agency__subItem-info-phone">Điện thoại: <%=agency.phone%></span>
                                    <span class="list-agency__subItem-info-note">Hoạt động: Mở cửa: <%=agency.openTime%>; Đóng cửa: <%=agency.closeTime%></span>
                                    <span class="list-agency__subItem-info-view-on-map cm-scroll-to-top"><a target="_blank" href="https://www.google.com/maps?ll=<%=agency.location.coordinates[1]%>,<%=agency.location.coordinates[0]%>&q=<% if (!agency.name.toLowerCase().includes("cầm đồ")) { %>Cầm Đồ <% } %><%= agency.name ? agency.name : "" %>&amp;z=19">Xem đường đến cửa hàng</a></span>
                                    <!-- <input 
                                        type="hidden" 
                                        class="ichuamap" 
                                        value="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.7487677765898!2d106.69624065802908!3d10.773153998080955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fda4cad684b%3A0xe4182e5abcad16b3!2zQ-G7rWEgaMOgbmcgTmfGsOG7nWkgQuG6oW4gVsOgbmc!5e0!3m2!1svi!2s!4v1610349212326!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">  -->
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <% }else if(listAgencyNear == undefined){ %>
                <div class="not-found-agency" style="text-align: center">
                    <h4>Dùng bộ lọc phía trên để tìm kiếm Đại Lý</h4>
                    <br>
                    <img src="/template/img/icon-search.png" alt="not-found">
                </div>
            <% } else { %>
                <div class="not-found-agency" style="text-align: center">
                    <h4>Không tìm thấy Đại Lý nào</h4>
                    <img src="/template/img/no.png" alt="not-found">
                </div>
            <% } %>
        </div>
    </div>
</div>
