<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách Nhân Viên</h5>
                            <h6 class="sub-heading">List Employee</h6>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-start">
                            <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                                <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                            </a>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-success waves-effect waves-light btnShowModalCreateEmployee">
                                    + Tạo Nhân Viên
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Nhân Viên</th>
                                        <th>Email</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listEmployee && listEmployee.length) { %>
                                        <% listEmployee.forEach(( employee, index ) => { %>
                                            <tr>
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <a href="/agency/employee/<%=employee._id%>">
                                                        <i>
                                                            <%= employee.username %>
                                                        </i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= employee.email %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= employee.status === 1 ? 'Hoạt động' : 'Khóa' %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= employee._id && employee._id %>">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btnUpdateEmployee" 
                                                                href="javascript:void(0)" 
                                                                _employeeID="<%= employee._id %>">
                                                                Sửa Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnBlockUser btnDeleteEmployee" 
                                                                href="javascript:void(0)" 
                                                                _employeeID="<%= employee._id %>">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- POPUP TẠO tài khoản nhân viên  -->
<div class="modal fade bs-example-modal-sm modal-create-account-employee" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo tài khoản Nhân Viên</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label style="color: #e2b670">Ghi chú: *Hệ thống sẽ tự động gửi mật khẩu về Email, hãy dùng mật khẩu đó để đăng nhập.</label> 
                    </div>
                    <div class="form-group col-xl-12"><label>Username</label> 
                        <input type="text" class="form-control" id="txtNameEmployee">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-12"><label>Email</label> 
                        <input type="email" class="form-control" id="txtEmailEmployee">
                        <small>Set Error</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnAddEmployee">Tạo tài khoản</button>
            </div>
        </div>
    </div>
</div>

