<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách danh mục sản phẩm</h5>
                            <h6 class="sub-heading">List Product Category</h6>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-start">
                            <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                                <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                            </a>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-success waves-effect waves-light btn-create-product-category">
                                    + Tạo đại lý
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Owner</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listAgency && listAgency.length) { %>
                                        <% listAgency.forEach(( agency, index ) => { %>
                                            <tr>
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <a href="/agency/detail/<%=agency._id%>">
                                                        <i>
                                                            <%= agency.name %>
                                                        </i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= agency.email %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= agency.phone %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= agency.address %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                       Ai đó
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= agency.status === 1 ? 'Hoạt động' : 'Không hoạt động' %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2">
                                                        <button type="button" class="btn btn-secondary btn-sm" id="btnDropDown_<%= agency._id && agency._id %>">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btnUpdateAgency" 
                                                                href="javascript:void(0)" 
                                                                _agencyID="<%= agency._id %>">
                                                                Sửa Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnBlockUser btnDeleteAgency" 
                                                                href="javascript:void(0)" 
                                                                _agencyID="<%= agency._id %>">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-create-product-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo đại lý</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Tên đại lý</label> 
                        <input type="text" class="form-control" id="txtName">
                    </div>
                    <div class="form-group col-xl-6"><label>Email</label> 
                        <input type="email" class="form-control" id="txtEmail">
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Số điện thoại</label> 
                        <input type="text" class="form-control" id="txtPhone">
                    </div>
                    <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                        <input type="text" class="form-control" id="txtAddress">
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Latitude</label> 
                        <input type="number" class="form-control" id="txtLatitude">
                    </div>
                    <div class="form-group col-xl-6"><label>Longitude</label> 
                        <input type="number" class="form-control" id="txtLongitude">
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Giờ mở cửa</label> 
                        <input type="time" class="form-control" id="txtOpenTime">
                    </div>
                    <div class="form-group col-xl-6"><label>Giờ đóng cửa</label> 
                        <input type="time" class="form-control" id="txtCloseTime">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnAddAgency">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-update-product-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật danh mục sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group d-none"><label>Category ID</label> 
                    <input type="hidden" class="form-control" id="txtCategoryIDUpdateModal">
                </div>
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" id="txtNameUpdateModal">
                </div>
                <div class="form-group"><label>Slug</label> 
                    <input type="text" class="form-control" id="txtSlugUpdateModal">
                </div>
                <div class="form-group"><label>Giá</label> 
                    <input type="number" class="form-control" id="txtPriceUpdateModal">
                </div>
                <div class="form-group"><label>Trạng thái</label>
                    <select class="form-control" id="txtStatusUpdateModal">
                        <option value="0">Không hiển thị</option>
                        <option value="1" selected>Hiển thị</option>
                    </select>
                </div>
                <div class="form-group"><label>Kiểu</label> 
                    <select class="form-control" id="txtTypeUpdateModal">
                        <option value="1">Button</option>
                        <option value="0">Checkbox</option>
                    </select>
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea cols="30" rows="5" class="form-control" id="txtDescriptionUpdateModal"></textarea>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" id="txtImageUpdateModal" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateProductCategory">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
