<% 
    const arrUrl = [
        // {
        //     name: 'Dashboard',
        //     path: '/home',
        //     icon: `<span class="icon-laptop_windows"></span>`,
        // },
        {
            name: 'Quản Lý Tài Khoản',
            path: '/account/list-account',
            icon: `<span class="icon-user"></span>`,
        },
        {
            name: 'Quản Lý Đại Lý',
            path: '/agency',
            icon: `<span class="icon-account_balance"></span>`,
        },
        {
            name: 'Quản lý danh mục',
            path: '/product-category/list-product-category',
            icon: `<span class="icon-sweden"></span>`,
        },
        {
            name: 'Quản lý Slide',
            path: '/slide/list-slide',
            icon: `<span class="icon-stack"></span>`,
        },
        {
            name: 'Quản lý bài viết',
            icon: `<span class="icon-new-message"></span>`,
            childs: [
                {
                    name: 'Danh sách bài viết',
                    path: '/blog/list-post',
                },
                {
                    name: 'Tạo bài viết',
                    path: '/blog/add-post',
                },
                {
                    name: 'Danh sách danh mục',
                    path: '/blog/list-category',
                },
            ]
        },
        {
            name: 'Thống Kê Giao Dịch',
            icon: `<span class="icon-database2"></span>`,
            childs: [
                {
                    name: 'Doanh số bán hàng',
                    path: '/transactions',
                },
                {
                    name: 'Danh sách giao dịch 24h',
                    path: '/transaction/list-transaction-24h',
                },
            ]
         },
         {
           name: 'Kiểm Kê',
           icon: `<span class="icon-line-graph"></span>`,
           childs: [
               {
                   name: 'Thống kê Kiểm Kê của Đại Lý',
                   path: '/inventory/list-inventory',
               },
           ]
        },
        {
            name: 'Quản trị Thống Kê',
            path: '/statistical',
            icon: `<span class="icon-pie-chart"></span>`,
        },
        {
            name: 'Quản lý thông báo',
            path: '/notification-core',
            icon: `<span class="icon-notifications"></span>`,
        },
        {
            name: 'Quản Lý Liên hệ',
            path: '/contact',
            icon: `<span class="icon-people"></span>`,
        },
        {
            name: 'Quản lý FAQ',
            path: '/faq/list-faq',
            icon: `<span class="icon-help2"></span>`,
        }
    ];
%>

<aside class="app-side" id="app-side">
    <!-- BEGIN .side-content -->
    <div class="side-content ">
        <!-- BEGIN .user-profile -->
        <div class="user-profile">
            <img src="../../../../template/new-admin/img/khanhney.jpg" class="profile-thumb" alt="User Thumb" style="object-fit: cover;">
            <h6 class="profile-name"><%= infoUser.username%></h6>
            <ul class="profile-actions">
                <li>
                    <a href="#">
                        <i class="icon-social-skype"></i>
                        <span class="count-label red"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="icon-export"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END .user-profile -->
        <!-- BEGIN .side-nav -->
        <nav class="side-nav">
            <!-- BEGIN: side-nav-content -->
            <ul class="unifyMenu" id="unifyMenu">

                <% arrUrl.forEach(urlObj => { %>
                    <li class="<%= urlObj.path === hrefCurrent ? 'active selected' : '' %>">
                        <% let hasChild = urlObj.childs && urlObj.childs.length %>
                        <% if (!hasChild) { %>
                            <a href="<%= urlObj.path %>">
                                <span class="has-icon">
                                    <%- urlObj.icon %> 
                                </span>
                                <span class="nav-title"><%= urlObj.name %> </span>
                            </a>
                        <% } else{ %>
                            <a href="#" class="has-arrow" aria-expanded="false">
                                <span class="has-icon">
                                    <%- urlObj.icon %>
                                </span>
                                <span class="nav-title"><%= urlObj.name %> </span>
                            </a>
                            <ul aria-expanded="false">
                                <% urlObj.childs.forEach(urlObjChild => { %>
                                    <li class="<%= hrefCurrent.includes(urlObjChild.path) == true ? 'child-selected' : '' %>">
                                        <a href="<%= urlObjChild.path %>"> <%= urlObjChild.name %> </a>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </li>
                <% }) %>

                <!-- <li class="active selected">
                    <a href="/admin/home">
                        <span class="has-icon">
                            <i class="icon-laptop_windows"></i>
                        </span>
                        <span class="nav-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/list-product-category">
                        <span class="has-icon">
                            <span class="icon-newspaper"></span>
                        </span>
                        <span class="nav-title">Quản lý danh mục</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-adjust2"></i>
                        </span>
                        <span class="nav-title">Quản lý đại lý</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="/admin/add-agency">Thêm đại lý</a>
                        </li>
                        <li>
                            <a href="/admin/list-agency">Danh sách đại lý</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="widgets.html">
                        <span class="has-icon">
                            <i class="icon-flash-outline"></i>
                        </span>
                        <span class="nav-title">Graph Widgets</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-adjust2"></i>
                        </span>
                        <span class="nav-title">Cool Features</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="filters.html">Content Filter</a>
                        </li>
                        <li>
                            <a href="datepickers.html">Datepickers</a>
                        </li>
                        <li>
                            <a href='map-skins.html'>Gmap Skins</a>
                        </li>
                        <li>
                            <a href='vector-maps.html'>Vector Maps</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-tabs-outline"></i>
                        </span>
                        <span class="nav-title">Pages</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='profile.html'>Profile</a>
                        </li>
                        <li>
                            <a href='calendar.html'>Calendar</a>
                        </li>
                        <li>
                            <a href='gallery.html'>Gallery</a>
                        </li>
                        <li>
                            <a href='invoice.html'>Invoice</a>
                        </li>
                        <li>
                            <a href='timeline.html'>Timeline</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="faq.html">Faq's</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-layers"></i>
                        </span>
                        <span class="nav-title">Layouts</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='custom-drag.html'>Drag &amp; Drop</a>
                        </li>
                        <li>
                            <a href='layout.html'>Default Layout</a>
                        </li>
                        <li>
                            <a href='layout-range-date-header.html'>Layout Date Range</a>
                        </li>
                        <li>
                            <a href='fixed-sidebar.html'>Fixed Sidebar</a>
                        </li>
                        <li>
                            <a href='layout-logo-left.html'>Logo on Left</a>
                        </li>
                        <li>
                            <a href='dark-header.html'>Dark Header</a>
                        </li>
                        <li>
                            <a href='dark-sidebar.html'>Dark Sidebar</a>
                        </li>
                        <li>
                            <a href='rtl.html'>RTL Layout</a>
                        </li>
                        <li>
                            <a href='boxed.html'>Boxed Layout</a>
                        </li>
                        <li>
                            <a href='boxed-slim-sidebar.html'>Boxed Slim Sidebar</a>
                        </li>
                        <li>
                            <a href='slim-sidebar.html'>Slim Sidebar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="comments.html">
                        <span class="has-icon">
                            <i class="icon-chat_bubble_outline"></i>
                        </span>
                        <span class="nav-title">Comments</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-chart-area-outline"></i>
                        </span>
                        <span class="nav-title">Graphs</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='c3-graphs.html'>C3 Graphs</a>
                        </li>
                        <li>
                            <a href='flot.html'>Flot Graphs</a>
                        </li>
                        <li>
                            <a href='morris.html'>Morris Graphs</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-center_focus_strong"></i>
                        </span>
                        <span class="nav-title">Forms</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='form-inputs.html'>Form Inputs</a>
                        </li>
                        <li>
                            <a href='input-groups.html'>Inputs Groups</a>
                        </li>
                        <li>
                            <a href='checkbox-radio.html'>Checkbox &amp; Radio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-beaker"></i>
                        </span>
                        <span class="nav-title">UI Elements</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='general-elements.html'>General Elements</a>
                        </li>
                        <li>
                            <a href='buttons.html'>Buttons</a>
                        </li>
                        <li>
                            <a href='tabs.html'>Tabs</a>
                        </li>
                        <li>
                            <a href="modals.html">Modals</a>
                        </li>
                        <li>
                            <a href='accordion.html'>Accordion</a>
                        </li>
                        <li>
                            <a href="labels-badges.html">Labels &amp; Badges</a>
                        </li>
                        <li>
                            <a href='notifications.html'>Notifications</a>
                        </li>
                        <li>
                            <a href='carousel.html'>Carousels</a>
                        </li>
                        <li>
                            <a href='list-items.html'>List Items</a>
                        </li>
                        <li>
                            <a href='cards.html'>Cards</a>
                        </li>
                        <li>
                            <a href='navbars.html'>Navbars</a>
                        </li>
                        <li>
                            <a href='popovers-tooltips.html'>Popovers &amp; Tooltips</a>
                        </li>
                        <li>
                            <a href='typography.html'>Typography</a>
                        </li>
                        <li>
                            <a href='icons.html'>Icons</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="tables.html">
                        <span class="has-icon">
                            <i class="icon-border_outer"></i>
                        </span>
                        <span class="nav-title">Tables</span>
                    </a>
                </li>
                <li>
                    <a href="datatables.html">
                        <span class="has-icon">
                            <i class="icon-border_all"></i>
                        </span>
                        <span class="nav-title">Data Tables</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <i class="icon-lock_outline"></i>
                        </span>
                        <span class="nav-title">Authentication</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <a href='login.html'>Login</a>
                        </li>
                        <li>
                            <a href='signup.html'>Signup</a>
                        </li>
                        <li>
                            <a href='forgot-pwd.html'>Forgot Password</a>
                        </li>
                        <li>
                            <a href="locked-screen.html">Locked Screen</a>
                        </li>
                        <li>
                            <a href='error404.html'>Error 404</a>
                        </li>
                        <li>
                            <a href='error505.html'>Error 505</a>
                        </li>										
                    </ul>
                </li> -->
            </ul>
            <!-- END: side-nav-content -->
        </nav>
        <!-- END: .side-nav -->
    </div>
    <!-- END: .side-content -->
</aside>
