<!-- TEMPLATE DROPDOWN LIST -->
<div class="row gutters row-dropdown-item d-none">
	<div class="col-xl-7 col-md-7 col-sm-7">
		<div class="input-group form-group">
			<!-- <input type="checkbox" class="form-control" style="margin-top: 13px;"> -->
			<span class="input-group-btn brand-item-dropdown">
				<button class="btn disabled" type="button">Tên thuộc tính</button>
			</span>
			<input type="text" class="form-control input-property-dropdown" aria-label="Property for...">
		</div>
	</div>
	<div class="col-xl-5 col-md-5 col-sm-5">
		<div class="input-group form-group">
			<span class="input-group-btn brand-item-dropdown">
				<button class="btn disabled" type="button">Giá</button>
			</span>
			<input type="text" class="form-control input-value-dropdown" aria-label="Value for..." value="0">
		</div>
	</div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-update-price-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật giá sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label style="color: #e2b670">Lưu ý: ***Danh mục chỉ được tồn tại 1 giá trị, giá theo tiền hoặc phần trăm </label> 
                </div>
                <div class="form-group d-none"><label>Parent ID</label>
                    <input type="hidden" class="form-control" id="txtParentIDUpdateModal">
                </div>
				<div class="form-group d-none"><label>Category ID</label>
                    <input type="hidden" class="form-control" id="txtCategoryIDUpdateModal">
                </div>
                <div class="form-group"><label>Đại Lý</label>
                    <input type="text" class="form-control" value="<%= agencyChoosed && agencyChoosed.name %>" disabled>
                </div>
                <div class="form-group"><label>Tên danh mục sản phẩm</label>
                    <input type="text" class="form-control" id="txtNameProductCategory" disabled>
                </div>
                <div class="form-group"><label>Trạng thái</label>
                    <select class="form-control" id="slStatusCategoryUpdateModal">
                        <option value="0">Không hiển thị</option>
                        <option value="1" selected>Hiển thị</option>
                    </select>
                </div>
                <div class="form-group"><label>Giá tiền(đ)</label>
                    <input type="text" class="form-control" id="txtPriceCategoryUpdateModal">
                </div>
				<div class="form-group"><label>Giá theo phần trăm(%)</label>
                    <input type="number" class="form-control" id="txtPercentValueUpdateModal">
                </div>
                <div class="form-group"><label>Lãi mặc định(%)</label>
                    <input type="number" class="form-control" id="txtInterestCategoryUpdateModal">
                </div>

				<div class="row-dropdown-type d-none">
					<div style="padding: 5px;margin-bottom: 10px;">
						Thuộc tính cho dropdown
					</div> 
					<div class="container-list-dropdown-item">
						<!-- DROPDOWN LIST ITEM -->
					</div>
				</div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success btnConfirmUpdatePriceCategory">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-update-status-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group d-none"><label>Parent ID</label>
                    <input type="hidden" class="form-control" id="txtParentIDUpdateStatusModal">
                </div>
				<div class="form-group d-none"><label>Category ID</label>
                    <input type="hidden" class="form-control" id="txtCategoryIDUpdateStatusModal">
                </div>
                <div class="form-group"><label>Đại Lý</label>
                    <input type="text" class="form-control" value="<%= agencyChoosed && agencyChoosed.name %>" disabled>
                </div>
                <div class="form-group"><label>Tên danh mục sản phẩm</label>
                    <input type="text" class="form-control" id="txtNameCategoryUpdateStatusModal" disabled>
                </div>
                <div class="form-group"><label>Trạng thái</label>
                    <select class="form-control" id="scStatusCategoryUpdateStatusModal">
                        <option value="0">Không hiển thị</option>
                        <option value="1" selected>Hiển thị</option>
                    </select>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success btnConfirmUpdateStatusCategory">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<!-- POPUP PREVIEW DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-preview-product-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Preview</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="border p-3 clearfix">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="previous--container">
                                <a href="javascript:void(0)" class="text--green btn-back-category-modal d-none">
                                    <i class="icon-arrow-left-thick"></i>
                                </a>
                            </div>
                            <div class="box--label">
                                <h4 class="text--size_20 text--blue_dark text-parent"></h4>
                            </div>
                            <div class="searchbox--container">
                                <form action="javascript:"
                                    class="navbar-form navbar-right navbar-form-search" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search--input" id="txtSearchCategoryModal" placeholder="Search...">
                                        <div class="input-group-btn">
                                            <button class="btn btn-dark btn-search-category-modal" type="button">
                                                <i class="icon-magnifying-glass"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="container--list"></div>
                    
                    <!-- <div class="contact--pawn border border-top-0 p-3 backg-blue_dark clearfix">
                        <p class="m-0 text--white font-weight-light" style="visibility: hidden;">Can't find your item? 
                            <a id="tap-here-btn" class="text--white font-weight-semi-bold"
                                href="https://pawnhero.ph/contact-us" target="_blank">Contact us</a>
                            <i class="fa fa-info-circle mt-2 text--green pull-right" aria-hidden="true"></i>
                        </p>
                        <div class="pull-right">
                            <div class="btn btn-outline-primary btn-large btn-proceed-price-product-modal d-none">
                                Proceed
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success btn-proceed-price-product-modal d-none">
                    Proceed
                </button>
            </div>
        </div>
    </div>
</div>
