<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-dialog{
        /* max-width: 10%; */
        margin: 10px 10% 10px 10%;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Thống kê Kiểm kê của Đại Lý </h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-12">
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtStartDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtEndDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearchInventory br-btn">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>                                    
                            <div class="form-group col-2">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListAgency" class="table table-striped table-bordered">
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên Đại Lý</th>
                                                <th>Giao dịch đã kiểm kê/Tổng</th>
                                                <!-- <th>Tác vụ</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listTransactionHaveTypeInventoryIsTrue && listTransactionHaveTypeInventoryIsTrue.length && listTransactionHaveTypeInventoryIsTrue.forEach((inventory, index) => { %>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td><a href="/inventory/agency/<%=_lodash.get(inventory.agency, '_id', '')%>"><%= _lodash.get(inventory.agency, 'name', '')%></a></td>
                                                    
                                                    <%  let count;
                                                        countTransactionOfAllAgency && countTransactionOfAllAgency.length && countTransactionOfAllAgency.forEach(agency => { 
                                                            if(agency._id.toString() == inventory.agency._id.toString()){
                                                                count = agency.count;
                                                            }
                                                        })
                                                    %>
                                                    <td><%= _lodash.get(inventory, 'count', '')%>/<%=count %></td>
                                                    <!-- <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-primary btn-sm">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" 
                                                                class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" 
                                                                x-placement="right-start" 
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item btnUpdateInventory" href="javascript:void(0)" _inventoryID="<%= inventory._id %>">
                                                                    <span class="icon-border_color"></span> Cập nhật phiên kiểm kê
                                                                </a>
                                                                <a class="dropdown-item btnBlockUser btnDeleteInventory" href="javascript:void(0)" _inventoryID="<%= inventory._id %>">
                                                                    <span class="icon-trash2"></span> Xóa phiên kiểm kê
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td> -->
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% if (listTransactionHaveTypeInventoryIsTrue && listTransactionHaveTypeInventoryIsTrue.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
