<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    #month{
        height: 35px; border-radius: 4px; border-width: 1px; padding-left: 10px; padding-right: 5px;
    }

</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách Thống Kê</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>TOP 5 CỬA HÀNG CÓ DOANH SỐ CAO NHẤT</b> </div>
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>TOP 5 CỬA HÀNG CÓ KHÁCH HÀNG CAO NHẤT</b> </div>
                        <div class="card-body chartO">
                            <canvas id="myChartHaveMostCustomer"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>TOP 5 KHÁCH HÀNG CÓ CHI TIÊU CAO NHẤT</b> </div>
                        <div class="card-body">
                            <canvas id="myChartTopCustomer"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>TOP 5 DANH MỤC CÓ GIAO DỊCH NHIỀU NHẤT</b></div>
                        <div class="card-body">
                            <canvas id="myChartTopProductCategory"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>CHART THỂ HIỆN ĐẠI LÝ KINH DOANH BIẾN ĐỘNG THEO NGÀY</b> </div>
                        <br>
                        <div class="form-group col-xl-4"><label>Chọn tháng</label>&nbsp;
                            <input type="month" id="month" name="month" min="2021-03">
                        </div>
                        <div class="card-body">
                            <canvas id="myChartAgencyDaily"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header"><b>CHART THỂ HIỆN LOẠI HÀNG KINH DOANH BIẾN ĐỘNG THEO NGÀY</b> </div>
                        <br>
                        <div class="form-group col-xl-6"><label>Chọn Danh mục Kinh doanh</label> 
                            <select class="form-control" id="typeProductCategory">
                                <option  value="">Chọn Danh mục Kinh doanh</option>
                                <% listProductCategory && listProductCategory.length && listProductCategory.forEach(type => { %>
                                        <option class="optionType" value="<%=type._id%>"><%=type.name%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="card-body">
                            <canvas id="myChartProductCategoryByDate"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                
            </div>
        </div>
    </div>
</div>

