<style>
    .text--blue_dark{
        font-size: 24px !important;
        color: #354f65 !important;
    }
    .text-small{
        font-size: 16px !important;
    }
    .link--item.active,
    .link--item:hover{
        background-color: #17a2b8;
        color: white
    }
    .container--list .link--item:hover .content-category,
    .container--list .link--item:hover .text-description .text--blue_dark{
        color: white !important;
    }
    .previous--container{
        font-size: 20px;
    }
    .text-description,
    .text-description .text--blue_dark{
        font-size: 16px !important;
    }
    .content-category{
        font-size: 20px;
    }
    .item-checkbox .fa-check{
        font-size: 17px;
        margin-top: -35px;
    }
    /* .arrow-right{
        top: calc(100% - 40%);
        position: absolute;
        right: 30px;
    } */
</style>

<!-- NỘI DUNG -->
<div class="content-page" style="margin-top:100px">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="border p-3 clearfix">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="previous--container">
                                            <a href="javascript:void(0)" class="text--green btn-back-category">
                                                <i class="icon-arrow-left-thick"></i>
                                            </a>
                                        </div>
                                        <div class="box--label">
                                            <h1 class="text--size_20 text-parent">
                                                <% if (infoParent) { %>
                                                    <%= infoParent.textParent %>
                                                <% } %>
                                            </h1>
                                        </div>
                                        <div class="searchbox--container">
                                            <form action="javascript:"
                                                class="navbar-form navbar-right navbar-form-search" role="search">
                                                <div class="input-group">
                                                    <input type="text" class="form-control search--input"
                                                        name="search--brand" id="search--brand" placeholder="Search..">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-dark" type="button">
                                                            <i class="icon-magnifying-glass"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="container--list">
                                    <% let hasChilds = false %>
                                    <% if (listChildsCategory && listChildsCategory.length) { %>
                                        <% listChildsCategory.forEach(category => { %>
                                            <% if (category.statusAgency === 1) { %>
                                                <% if (category.childs && category.childs.length) { %>
                                                    <% hasChilds = true; %> 
                                                <% } %> 
                                                <% if (category.type == 1) { %>
                                                    <a class="product-category product-category-<%= category.name %>" 
                                                        href="/product-category/list-child-by-parent/?parentCategoryID=<%= category._id %>"
                                                        class="list--link"
                                                        _categoryID="<%= category._id %>"
                                                        _parentCategory="<%= listChildsCategory._id %>">
                                                        <div class="link--item border border-top-0 px-3 py-3 d-flex justify-content-between">
                                                            <p class="text--blue_dark text-small m-0">
                                                                <div class="content-category" style="flex-grow: 2">
                                                                    <%= category.name %>
                                                                    <div class="text-description">
                                                                        <%- category.description %>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                            <div>
                                                                <i class="fa fa-chevron-right pull-right pt-1 arrow-right" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                <% } else{ %>
                                                    <a class="product-category-<%= category._id %>" href="javascript:void(0)" class="list--link list--link_multi">
                                                        <div class="link--item item-checkbox border border-top-0 px-3 py-3">
                                                            <p class="text--blue_dark text-small m-0">
                                                                <div class="content-category" style="flex-grow: 2">
                                                                    <%= category.name %>
                                                                    <div class="text-description">
                                                                        <%- category.description %>
                                                                    </div>
                                                                </div>
                                                            </p>
                                                            <div>
                                                                <i class="pt-1 fa fa-check pull-right invisible" aria-hidden="true"></i>
                                                            </div>
                                                            <!-- <p class="py-2 text--blue_dark m-0"><%= category.name %> -->
                                                                <!-- <i class="pt-1 fa fa-check pull-right invisible" aria-hidden="true"></i> -->
                                                            <!-- </p> -->
                                                        </div>
                                                    </a>
                                                <% } %>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </div>
                                <div class="contact--pawn border border-top-0 p-3 backg-blue_dark clearfix">
                                    <p class="m-0 text--white font-weight-light" style="visibility: hidden;">Can't find your item? 
                                        <a id="tap-here-btn" class="text--white font-weight-semi-bold"
                                            href="https://pawnhero.ph/contact-us" target="_blank">Contact us</a>
                                        <i class="fa fa-info-circle mt-2 text--green pull-right" aria-hidden="true"></i>
                                    </p>
                                    <div class="pull-right">
                                        <div class="btn btn-outline-primary btn-large btn-proceed-price-product <%= hasChilds && 'd-none' %>">
                                            Proceed
                                        </div>
                                        <!-- <a data-spinner-color="#354F65" data-style="slide-right" data-data-size="s" id="btn-proceed" href="javascript:void(0)" data-key="4" class="ladda-button btn btn-outline-light btn-block btn-attr-multi "><span class="ladda-label">Proceed</span><span class="ladda-spinner"></span></a> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
