<style>
    img.img-thumbnail{
        width: 100px;
    }
    .modal-update-price-category .modal-dialog{
        width: 500px;
    }
	.row-dropdown-item{
		background: #e5e5e5;
		padding-top: 13px;
		border-radius: 5px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
	.brand-item-dropdown button{
		font-size: 13px;
	}
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách danh mục sản phẩm</h5>
                            <!-- <h6 class="sub-heading">List Product Category</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- <div class="progress" style="color: white; font-size:30px;height:15px;width:0"></div>
            <div class="progress1" style="color: white; font-size:30px;height:15px;width:0; background-color: red;"></div>
            <div class="progress2" style="color: white; font-size:30px;height:15px;width:0; background-color: yellowgreen;"></div> -->

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <!-- <input type="file" multiple id="input-upload-multi-file-1">
                                <input type="file" multiple id="input-upload-multi-file-2">
                                <button id="btn-upload-multi-file">Upload</button>
                                <style>
                                    .container-image-preview img{
                                        width: 100px;
                                    }
                                </style>
                                <div class="container-image-preview"></div> -->
                                <% if (parentCategory) { %>
                                    <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                                        <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                                    </a>
									<p> <%= parentCategory %> </p>
                                <% } else{ %>
									<div></div>
									<div></div>
								<% } %>

								<button class="btn btn-outline-primary btn-update-status-category">
									<span class="icon-border_color"></span> Cập nhật trạng thái
								</button>
                                <!-- <button class="btn btn-outline-danger btn-preview">Preview</button> &nbsp;&nbsp; -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-product-category">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>
											<input type="checkbox" class="cb-check-all-product-category" />
										</th>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Loại danh mục</th>
                                        <th>Hình ảnh</th>
                                        <th>Giá hệ thống</th>
                                        <th>Giá đại lý</th>
                                        <th>Giá trị % hệ thống</th>
                                        <th>Giá trị %</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listProductCategory && listProductCategory.length) { %>
                                        <% listProductCategory.forEach(( category, index ) => { %>
                                            <% let isShow = category.statusAgency === 1; %> 
                                            <tr class="tr-product-category-<%= category._id %> <%#= !isShow && 'd-none' %>">
                                                <td>
                                                    <input type="checkbox" class="cb-choose-product-category" 
                                                            _categoryID="<%= category._id %>" 
                                                            _categoryName="<%= category.name %>" />
                                                </td>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <a href="/product-category/list-product-category-by-parent/?parent=<%= category._id %>">
                                                        <i> <%= category.name %> </i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <i> <%- category.description %> </i>
                                                </td>
												<td>
													<% if (category.specialCategory) { %>
														<% SPECIAL_CATEGORY.forEach(type => { %>
															<% if (category.specialCategory == type.value) { %>
																<i> <%= type.text %> </i>
															<% } %>
														<% }) %>
													<% } else{ %>
														Bình thường
													<% } %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <% if (category.image) { %>
                                                            <img src="<%= category.image.path %>" alt="<%= category.image.name %>" style="width:60px" />
                                                        <% } %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i> 
														<%= formatCurrency('###,###.', category.price) %> 
													</i>
                                                </td>
                                                <td>
                                                    <i> 
														<%= formatCurrency('###,###.', category.priceAgency) %>
													</i>
                                                </td>
												<td>
													<% if (category.percentValue) { %>
														<i> <%= category.percentValue %>% </i>
													<% } %>
                                                </td>
												<td>
                                                    <i> 
														<% if (category.percentValueAgency) { %>
															<%= category.percentValueAgency %>%
														<% } %>
													</i>
                                                </td>                                                
                                                <td>
                                                    <% if (isShow) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hiển thị
                                                        </span>
                                                    <% } else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không hiển thị
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2">
                                                        <button type="button" class="btn btn-primary btn-sm btn-update-price-category" 
                                                        _parentID="<%= category.parent %>"
                                                        _categoryID="<%= category._id %>"
                                                        _categoryName="<%= category.name %>"
                                                        _categoryStatus="<%= category.statusAgency %>"
                                                        _interestAgency="<%= category.interestAgency %>"
														_percentValueAgency="<%= category.percentValueAgency %>">
                                                            Cập nhật
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <% if (listProductCategory && listProductCategory.length == 0) { %>
                                <% include ../../common/views/no_result.ejs %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<%- include("./utils/modal_product_category") %>
