<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .modal-confirm {		
        color: #636363;
        width: 600px;
        font-size: 15px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-confirm .modal-header {
        border-bottom: none;   
        position: relative;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }	
    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }	
    .modal-confirm .icon-box {
        color: #fff;		
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #DF9024;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .icon-box::before {
        content:none;
    }
    .modal-confirm .icon-box i {
        font-size: 64px;
    }
    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #DF9024;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }
    .modal-confirm .btn:hover, .modal-confirm .btn:focus {
        background: #DF9024;
        outline: none;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Danh sách tài khoản</h5>
                            <!-- <h6 class="sub-heading">List Employee</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnShowModalCreateEmployee">
                                    <span class="icon-add_circle"></span> Tạo Tài Khoản
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table id="dataTable" class="table table-hover table-responsive">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Trạng thái</th>
                                        <th>Loại tài khoản</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listUser && listUser.length) { %>
                                        <% listUser.forEach(( user, index ) => { %>
                                            <tr>
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <%= user.username %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= user.email %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (user.status === 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                    <% }else{ %>
                                                        <span class="badge badge-pill badge-secondary">
                                                            Khóa
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <i>
                                                        Admin
                                                    </i>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= user._id && user._id %>">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btnUpdateUser" 
                                                                href="javascript:void(0)" 
                                                                _userID="<%= user._id %>">
                                                                Cập nhật Thông Tin
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- POPUP TẠO tài khoản nhân viên  -->
<div class="modal fade bs-example-modal-sm modal-create-account-employee" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo tài khoản Admin</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label style="color: #e2b670">Ghi chú: *Bạn cần nhập đầy đủ thông tin.</label> 
                    </div>
                    <div class="form-group col-xl-12"><label>Tên Hiển Thị</label> 
                        <input type="text" class="form-control" id="txtNameEmployee">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-12"><label>Email</label> 
                        <input type="email" class="form-control" id="txtEmailEmployee">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-12"><label>Mật Khẩu</label> 
                        <input type="password" class="form-control" id="txtPasswordEmployee">
                        <small>Set Error</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnAddEmployee">Tạo tài khoản</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP Cập nhật tài khoản -->
<div class="modal fade bs-example-modal-sm modal-update-account" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật tài khoản</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Tên hiển thị</label>
                        <input type="text" class="form-control" id="txtNameUser">
                        <small>Set Error</small>
                    </div>
                    <!-- <div class="form-group col-xl-12"><label>Email</label>
                        <input type="email" class="form-control" id="txtEmailUser">
                        <small>Set Error</small>
                    </div> -->
                    <div class="form-group col-xl-12"><label>Trạng thái hoạt động</label> 
                        <select class="form-control" id="txtStatus">
                            <!-- <option value="">Chọn trạng thái</option> -->
                            <option value="1">Hoạt động</option>
                            <option value="0">Khóa</option>
                        </select>
                    </div>
                    <!-- <div class="form-group col-xl-12"><label>Loại tài khoản</label> 
                        <select class="form-control" id="txtLevel">
                            <option value="1">Quản lý</option>
                            <option value="2">Nhân Viên</option>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateUser">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div id="modalNotifyCreateSuccess" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="icon-box">
                    <i class="fas fa-check-circle"></i>
                </div>				
                <h4 class="modal-title w-100 employeeCreateSuccess">Tạo nhân viên thành công!</h4>	
            </div>
            <div class="modal-body">
                <p class="text-center">Mật khẩu đã được gửi đến email <b><span class="emailCreateSuccess"></span></b> của bạn</p>
                <p class="text-center">Vui lòng kiểm tra email của bạn</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>   