<!-- TEMPLATE DROPDOWN LIST -->
<div class="row gutters row-dropdown-item d-none">
	<div class="col-xl-6">
		<div class="input-group form-group">
			<span class="input-group-btn">
				<button class="btn disabled" type="button">Tên thuộc tính</button>
			</span>
			<input type="text" class="form-control input-property-dropdown" aria-label="Search for...">
		</div>
	</div>
	<div class="col-xl-5">
		<div class="input-group form-group">
			<span class="input-group-btn">
				<button class="btn disabled" type="button">Giá</button>
			</span>
			<input type="text" class="form-control input-value-dropdown" aria-label="Search for..." value="0">
		</div>
	</div>
	<div class="col-xl-1">
		<button class="btn btn-secondary btn-remove-item-dropdown">
			<span class="icon-times"></span>
		</button>
	</div>
</div>

<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-create-product-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo danh mục sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Tên danh mục</label> 
                        <input type="text" class="form-control" id="txtNameModal" tabindex="1">
						<label class="custom-control custom-checkbox mt-2">
							<input type="checkbox" class="custom-control-input" id="cbSpecialCategoryModal">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Danh mục đặc biệt</span>
						</label>
						<div class="col-xl-8">
							<select class="form-control d-none" id="slSpecialCategoryModal">
								<option value="0" hidden></option>
								<option value="2">Vàng nguyên liệu</option>
								<option value="3" selected>Trang sức</option>
								<option value="4">Non brand</option>
								<option value="5">Không có hóa đơn</option>
								<option value="6">Danh mục cuối</option>
							</select>
						</div>
                    </div>
					<div class="form-group col-xl-6"><label>Tiêu đề danh mục</label> 
                        <input type="text" class="form-control" id="txtTitleModal" tabindex="2" placeholder="VD: Lựa chọn dung lượng">
                    </div>
                    
                </div>

                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Giá</label> 
                        <input type="text" class="form-control" id="txtPriceModal" tabindex="3">
                    </div>
                    <div class="form-group col-xl-6"><label>Thương hiệu</label> 
                        <input type="text" class="form-control" id="txtBrandModal" tabindex="4" placeholder="VD: Apple, Samsung, Oppo...">
                    </div>
                </div>

				<div class="row gutters">
                    <div class="form-group col-xl-6"><label>Giá trị %</label> 
                        <input type="number" class="form-control" id="txtPercentValueModal" tabindex="5" placeholder="VD: 93%">
                    </div>
                    <div class="form-group col-xl-6">
						<!-- <label for="txtImageModal" class="custom-file">Hình ảnh 
							<input type="file" id="txtImageModal" class="custom-file-input" accept=".png, .jpg, .jpeg">
							<span class="custom-file-control"></span>
						</label> -->
						<label for="txtImageModal">Hình ảnh </label>
						<input type="file" id="txtImageModal" class="form-control" tabindex="6" accept=".png, .jpg, .jpeg">
						<div class="image-preview"></div>
					</div>
                </div>

                <div class="row gutters">
					<div class="form-group col-xl-6"><label>Kiểu danh mục</label> 
						<select class="form-control" id="txtTypeModal" tabindex="7">
							<option value="0">Checkbox</option>
							<option value="1" selected>Button</option>
							<option value="2">Text field</option>
							<option value="3">Dropdown</option>
						</select>
					</div>
                    <div class="form-group col-xl-6"><label>Trạng thái</label>
                        <select class="form-control" id="txtStatusModal" tabindex="8">
                            <option value="0">Không hoạt động</option>
                            <option value="1" selected>Hoạt động</option>
                        </select>
                    </div>
                </div>

				<div class="row gutters row-text-field-type d-none">
					<div class="form-group col-xl-6"><label>Kiểu text field</label> 
                        <select class="form-control" id="txtTypeTextFieldModal">
                            <option value="0">Có hóa đơn</option>
                            <option value="1">Trọng lượng vàng</option>
                            <option value="2">Số ly</option>
                        </select>
                    </div>
					<div class="form-group col-xl-6"><label>Mô tả text field</label>
                        <input type="text" class="form-control" id="txtTextTextFieldModal">
                    </div>
				</div>

				<div class="row-dropdown-type d-none">
					<div style="padding: 5px;margin-bottom: 10px;">
						Thêm thuộc tính cho dropdown
						<button class="btn btn-info btn-sm btn-add-dropdown-item ml-1" btn-type="create">
							<span class="icon-plus2"></span>
						</button>
					</div> 
					<div class="container-list-dropdown-item">
						<!-- DROPDOWN LIST ITEM -->
					</div>
				</div>

                <div class="form-group mt-3"><label>Mô tả</label> 
                    <textarea id="txtDescriptionModal" cols="30" rows="5" class="form-control" tabindex="9"></textarea>
                </div>

                <div class="form-group"><label>Nội dung</label> 
                    <textarea cols="30" rows="5" class="form-control" id="txtContentCategoryModal" tabindex="10"></textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddProductCategory border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-update-product-category" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật danh mục sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group d-none"><label>Category ID</label>
                    <input type="hidden" class="form-control" id="txtCategoryIDUpdateModal">
                </div>

                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Tên danh mục</label>
                        <input type="text" class="form-control" id="txtNameUpdateModal">
						<label class="custom-control custom-checkbox mt-2">
							<input type="checkbox" class="custom-control-input" id="cbSpecialCategoryUpdateModal">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Danh mục đặc biệt</span>
						</label>
						<div class="col-xl-8">
							<select class="form-control d-none" id="slSpecialCategoryUpdateModal">
								<option value="0" hidden></option>
								<option value="2">Vàng nguyên liệu</option>
								<option value="3" selected>Trang sức</option>
								<option value="4">Non brand</option>
								<option value="5">Không có hóa đơn</option>
								<option value="6">Danh mục cuối</option>
							</select>
						</div>
                    </div>
					<div class="form-group col-xl-6"><label>Tiêu đề danh mục</label>
                        <input type="text" class="form-control" id="txtTitleUpdateModal" placeholder="VD: Lựa chọn dung lượng">
                    </div>
                </div>

                <div class="row gutters">
                    <div class="form-group col-xl-6">
						<label>
							Giá 
							<!-- <span class="ml-2" style="color: #DF9024;">(Nhập 0 nếu không có giá)</span> -->
						</label>
                        <input type="text" class="form-control" id="txtPriceUpdateModal">
                    </div>
                    <div class="form-group col-xl-6"><label>Thương hiệu</label>
                        <input type="text" class="form-control" id="txtBrandUpdateModal" placeholder="VD: Apple, Samsung, Oppo...">
                    </div>
                </div>

				<div class="row gutters">
                    <div class="form-group col-xl-6"><label>Giá trị %</label>
                        <input type="number" class="form-control" id="txtPercentValueUpdateModal">
                    </div>
                    <div class="form-group col-xl-6">
						<label>Hình ảnh</label>
						<input type="file" id="txtImageUpdateModal" class="form-control" accept=".png, .jpg, .jpeg">
						<div class="image-preview"></div>
					</div>
                </div>

                <div class="row gutters">
					<div class="form-group col-xl-6"><label>Kiểu danh mục</label> 
                        <select class="form-control" id="txtTypeUpdateModal">
                            <option value="0">Checkbox</option>
                            <option value="1" selected>Button</option>
							<option value="2">Text field</option>
							<option value="3">Dropdown</option>
                        </select>
                    </div>
                    <div class="form-group col-xl-6"><label>Trạng thái</label>
                        <select class="form-control" id="txtStatusUpdateModal">
                            <option value="0">Không hoạt động</option>
                            <option value="1" selected>Hoạt động</option>
                        </select>
                    </div>
                </div>

				<div class="row gutters row-text-field-type-update d-none">
					<div class="form-group col-xl-6"><label>Kiểu text field</label> 
                        <select class="form-control" id="txtTypeTextFieldUpdateModal">
                            <option value="0">Có hóa đơn</option>
                            <option value="1">Trọng lượng vàng</option>
                            <option value="2">Số ly</option>
                        </select>
                    </div>
					<div class="form-group col-xl-6"><label>Mô tả text field</label>
                        <input type="text" class="form-control" id="txtTextTextFieldUpdateModal">
                    </div>
				</div>

				<div class="row-dropdown-type-update d-none">
					<div style="padding: 5px;margin-bottom: 10px;">
						Thêm thuộc tính cho dropdown
						<button class="btn btn-info btn-sm btn-add-dropdown-item ml-1" btn-type="update">
							<span class="icon-plus2"></span>
						</button>
					</div> 
					<div class="container-list-dropdown-item-update">
						<!-- DROPDOWN LIST ITEM -->
					</div>
				</div>

                <div class="form-group"><label>Mô tả</label> 
                    <textarea cols="30" rows="5" class="form-control" id="txtDescriptionUpdateModal"></textarea>
                </div>

                <div class="form-group"><label>Nội dung</label> 
                    <textarea cols="30" rows="5" class="form-control" id="txtContentCategoryUpdateModal"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateProductCategory border-btn-black" _parentCategory="<%= parentCategory %>">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
