<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .image-preview img{
        margin-right: 5px;
       	margin-top: 5px;
        width: 100px; 
        height: 100px;
        object-fit: contain;
    }
	.row-dropdown-item{
		background: #e5e5e5;
		padding-top: 13px;
		border-radius: 5px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
	.btn-add-dropdown-item,
	.btn-add-dropdown-item-update{
		padding: 0px 4px
	}

    input[type="file"]#inputUploadExcelCategory {
        display: none;
    }
    .custom-file-upload {
        line-height: 0;
        margin-bottom: 0;
        cursor: pointer;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách danh mục sản phẩm</h5>
                            <!-- <h6 class="sub-heading">List Product Category</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
								<% if (parentCategory) { %>
                                    <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                                        <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                                    </a>
									<p> <%= parentCategory %> </p>
                                <% } else{ %>
									<div></div>
									<div></div>
								<% } %>

								<div class="d-flex">
                                    <% if (!parentCategory) { %>
                                        <button class="btn btn-outline-primary waves-effect waves-light mr-2">
                                            <label for="inputUploadExcelCategory" class="custom-file-upload">
                                                <span class="icon-upload4"></span>
                                                Import excel
                                            </label>
                                            <input type="file" id="inputUploadExcelCategory" />
                                        </button>
                                    <% } %>
                                    <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-product-category">
                                        <span class="icon-add_circle"></span>
                                        Tạo danh mục
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-product-category">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Loại danh mục</th>
                                        <th>Hình ảnh</th>
                                        <th>Giá</th>
                                        <th>Giá trị %</th>
                                        <th>Kiểu</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listProductCategory && listProductCategory.length) { %>
                                        <% listProductCategory.forEach(( category, index ) => { %>
                                            <tr class="tr-product-category-<%= category._id %>">
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <a href="/product-category/list-product-category/?parent=<%= category._id %>">
                                                        <i>
                                                            <%= category.name %>
                                                        </i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%- category.description %>
                                                    </i>
                                                </td>
												<td>
													<% if (category.specialCategory) { %>
														<% SPECIAL_CATEGORY.forEach(type => { %>
															<% if (category.specialCategory == type.value) { %>
																<i> <%= type.text %> </i>
															<% } %>
														<% }) %>
													<% } else{ %>
														Bình thường
													<% } %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <% if (category.image) { %>
                                                            <img src="<%= category.image.path %>" alt="<%= category.image.name %>" style="width:60px" />
                                                        <% } %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
														<%= formatCurrency('###,###.', category.price) %>
                                                    </i>
                                                </td>
												<td>
                                                    <i>
														<% if (category.percentValue) { %>
															<%= category.percentValue %>%
														<% } %>
                                                    </i>
                                                </td>
												<td>
                                                    <i>
														<%= category.type === 0 ? 'Checkbox' : (
															category.type === 1 ? 'Button' : (
															category.type === 2 ? 'Text field' : 'Dropdown')
														) %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
														<%= moment(category.createAt).format('L') %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (category.status === 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% }else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2 border-btn-black">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnDropDownBlog_<%= category._id && category._id %>">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btn-update-product-category" 
                                                                href="javascript:void(0)" 
                                                                _categoryID="<%= category._id %>">
                                                                Sửa Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnBlockUser btnDeleteProductCategory" 
                                                                href="javascript:void(0)" 
                                                                _categoryID="<%= category._id %>">
                                                                Xóa danh mục
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<% include ./utils/component_product_category %>
