<script>
    $(document).ready(function(){
		$(function(){
            $('.table-list-interest-rate').DataTable({
                "scrollY": "1000px",
                //"scrollX": true,
                "scrollCollapse": true,
                'iDisplayLength': 10,
            });
        });

        // Set select2
        $("#search_product").select2()
        $("#search_type_transaction").select2()
        
        $('.btn-create-interest-rate').on("click", () => {
            $(".model-create-interest-rate").modal("show");
        });

        $('.btnUpdateInterestRate').on("click", function() {
            let interestRate = $(this).attr("_interestRate");
            $(".model-update-interest-rate").modal("show");
            $(".btnConfirmUpdateInterestRate").attr("_interestRate", interestRate);
            $.ajax({
                url: `/agency/info-interest-rate/${interestRate}`,
                method: 'get',
                success: function(resp) {
                    if (resp.error){
                    }else{
                        let { name, percent } = resp.data;
                        $("#txtNameInterestRateUpdate").val(name);
                        $("#txtPercentUpdate").val(percent);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })

        });

        // Xoá lãi
        $('.btnRemoveInterestRate').on("click", function() {
            let interestRate = $(this).attr("_interestRate");
            let confirmRemove = confirm("Bạn có chắc chắn xoá không");
            if(!confirmRemove)
                return;
            $.ajax({
                url: `/agency/remove-interest-rate/${interestRate}`,
                method: 'get',
                success: function(resp) {
                    if (resp.error){
                    }else{
                       toastr.info("Xoá thành công", "Thông báo");
                       return window.location.reload();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })

        });

        

        $(".btnConfirmAddInterestRate").on("click", function(){
            let name = $("#txtNameInterestRate").val();
            let product = $("#txtProductInterestRate").val();
            // let typeTransaction = $("#txtTypeTransaction").val();
            let from = $("#txtFrom").val();
            let to = $("#txtTo").val();
            let percent = $("#txtPercent").val();
            if(!name || !product || !from || !to || !percent)
                return toastr.warning(`Vui lòng nhập đầy đủ thông tin!`, "Thông báo");
            if( from < 1 || from > 30 )
                return toastr.warning(`"Từ ngày" phải nằm trong khoảng từ 1 đến 30`, "Thông báo");
            if( to < 1 || to > 30 )
                return toastr.warning(`"Đến ngày" phải nằm trong khoảng từ 1 đến 30`, "Thông báo");
            if( percent < 0 || percent > 100 )
                return toastr.warning(`Phần trăm lãi suất không hợp lệ`, "Thông báo");
          
            disableAndLoading(this)

            let confirmAdd = confirm("Lưu ý bạn sẽ chỉ được cập nhật phần trăm lãi, nếu chắc chắn hãy nhấn ok");
            if(!confirmAdd){
                enableAndStopLoading(this)
                return;
            }

            $.ajax({
                url: `<%= CF_ROUTINGS_INTEREST_RATE.ADD_INTEREST_RATE%>`,
                method: 'POST',
                data: { name, productID: product, from, to, percent },
                success: (resp) => {
                    console.log({ resp });
                    if (resp.error){
                        enableAndStopLoading(this)
                        if(resp.message == "from_invalid"){
                            $("#txtFrom").val(resp.from);
                            return toastr.warning(`"Từ ngày" phải bắt đầu từ ${resp.from}`, "Thông báo" );
                        }
                        if(resp.message == "to_invalid"){
                            return toastr.warning(`Ngày không hợp lệ vui lòng kiểm tra lại`, "Thông báo" );
                        }
                    }else{
                        $(".model-create-interest-rate").modal("hide");
                        toastr.info(`Thêm thành công`, "Thông báo" );
                        setTimeout(() => {
                            window.location.reload();
                        }, 700);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });

        });
      
        // Search quản lý lãi
        $(".btnSearchInterestRate").on("click", function(){
            let product= $("#search_product").val();
            let type = $("#search_type_transaction").val();
            let percent = $("#search_percent").val();
            
            if(!product && !type && !percent )
                return toastr.warning("Vui lòng nhập thông tin tim kiếm", "Thông Báo");
           return window.location.href = `<%= CF_ROUTINGS_INTEREST_RATE.LIST_INTEREST_RATE%>/?product=${product}&type=${type}&percent=${percent}`
        });

        // Xác nhận cập nhật quản lý lãi
        $(".btnConfirmUpdateInterestRate").on("click", function(){
            let name = $("#txtNameInterestRateUpdate").val();
            let percent = $("#txtPercentUpdate").val();
            let interestRate = $(this).attr("_interestRate");

            if(!name || !percent)
                return toastr.warning("Vui lòng nhập đầy đủ thông tin", "Thông Báo");
            $.ajax({
                url: `<%= CF_ROUTINGS_INTEREST_RATE.UPDATE_INTEREST_RATE%>`,
                method: 'POST',
                data: { interestRate, name, percent },
                success: function(resp) {
                    if (resp.error){
                         return toastr.warning(resp.message, "Thông Báo");
                    }else{
                        return window.location.reload();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        });
    })
</script>