<% moment.locale('vi') %>
<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Chi tiết Liên hệ</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Họ tên</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <input disabled class="form-control" type="text" value = "<%= infoContact.fullname %>">
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Số điện thoại</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <input  disabled class="form-control" type="text" value = "<%= infoContact.phone %>">
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Email</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <input disabled class="form-control" type="text" value = "<%= infoContact.email %>">
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Loại</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <% TYPE_CONTACT.forEach(type => { %>
                                                            <% if (type.value == infoContact.type) { %>
                                                                <input  disabled class="form-control" type="text" value="<%=type.text%> ">
                                                            <% } %>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    Nội dung
                                                </label>
                                            </div>
                                            <div>
                                                <textarea class="form-control" name="" id="" cols="30" rows="10" disabled><%= infoContact.content %></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group right">
                                            <a href="/contact" class="btn btn-secondary"> Quay lại</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>