<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    #txtStartDate{
        color: black;
        background: white;
    }
    #txtEndDate{
        color: black;
        background: white;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }
  
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách Liên Hệ</h5>
                            <!-- <h6 class="sub-heading">List Contact</h6> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtStartDate">
                                    <% } %>
                                   
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtEndDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearch border-btn-black">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <!-- table-striped table-bordered -->
                                    <table id="table-list-contact" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead >
                                            <tr>
                                                <th >STT</th>
                                                <th >Tên</th>
                                                <th >Email</th>
                                                <th >Số điện thoại</th>
                                                <th >Nội dung</th>
                                                <th >Loại Liên Hệ</th>
                                                <th >Ngày gửi</th>
                                                <th >Trạng thái</th>
                                                <!-- <th></th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listContact && listContact.length) { %>
                                                <% listContact.forEach(( contact, index ) => { %>
                                                    <tr>
                                                        <th><%= index + 1 %></th>
                                                        <td>
                                                            <a href="/contact/detail/<%=contact._id%>">
                                                                <i><%= contact.fullname %></i>
                                                            </a>
                                                        </td>
                                                        <!-- <td>
                                                            <i><%= contact.fullname %></i>
                                                        </td> -->
                                                        <td>
                                                            <i><%= contact.email %></i>
                                                        </td>
                                                        <td>
                                                            <i><%= contact.phone %></i>
                                                        </td>
                                                        <td>
                                                            <i><%= contact.content.length > 200 ? contact.content.slice(0, 200).concat('...') : contact.content %></i>
                                                        </td>
                                                        <td>
                                                            <% TYPE_CONTACT.forEach(type => { %>
                                                                <% if (type.value == contact.type) { %>
                                                                    <i><%= type.text %></i>
                                                                <% } %>
                                                            <% }) %>
                                                        </td>
                                                        <td>
                                                            <i><%= moment(contact.createAt).format('L'); %></i>
                                                        </td>
                                                        <td>
                                                            <% if (contact.status === 1) { %>
                                                                <span class="badge badge-pill badge-success">
                                                                    Đã xem
                                                                </span>
                                                            <% }else{ %>
                                                                <span class="badge badge-pill badge-danger">
                                                                    Chưa xem
                                                                </span>
                                                            <% } %>
                                                            <!-- <span class="badge badge-pill badge-success">
                                                                Đã xem
                                                            </span> -->
                                                        </td>
                                                        <!-- <td>
                                                            <div class="btn-group mb-2 border-btn-black">
                                                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= contact._id && contact._id %>">
                                                                    Thao Tác
                                                                </button>
                                                                <button type="button" 
                                                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" 
                                                                    x-placement="right-start" 
                                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                    <a class="dropdown-item btnUpdateContact" href="javascript:void(0)" _contactID="<%= contact._id %>">
                                                                        <span class="icon-border_color"></span> Sửa Thông Tin
                                                                    </a>
                                                                    <a class="dropdown-item btnBlockUser btnDeleteContact" href="javascript:void(0)" _contactID="<%= contact._id %>">
                                                                        <span class="icon-trash2"></span> Xóa
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listContact && listContact.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>