<% moment.locale('vi') %>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách FAQ</h5>
                            <!-- <h6 class="sub-heading">List Product Category</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-faq">
									<span class="icon-add_circle"></span>
                                    Tạo FAQ
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-faq">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Nội dung</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listFAQ && listFAQ.length) { %>
                                        <% listFAQ.forEach((faq, index) => { %>
                                            <tr class="tr-faq-<%= faq._id %>">
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <i>
                                                        <%= faq.title %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <% let description = faq.content.replace(/(<([^>]+)>)/gi, ""); %> 
                                                        <%- description.length > 200 ? description.substr(0, 200) + '...' : description %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
														<%= moment(faq.createAt).format('L') %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (faq.status === 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% }else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div class="btn-group mb-2 border-btn-black">
                                                        <button type="button" class="btn btn-primary btn-sm">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" 
                                                            class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false"
                                                        >
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" 
                                                            x-placement="right-start" 
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                        >
                                                            <a class="dropdown-item btn-update-faq" 
                                                                href="javascript:void(0)" 
                                                                _faqID="<%= faq._id %>">
                                                                Sửa Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnBlockUser btnDeleteFAQ" 
                                                                href="javascript:void(0)" 
                                                                _faqID="<%= faq._id %>">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <% if (listFAQ && listFAQ.length == 0) { %>
                                <% include ../../common/components/no_result.ejs %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->


<!-- POPUP TẠO FAQ -->
<div class="modal fade bs-example-modal-sm model-create-faq" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo FAQ</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-6"><label>Tiêu đề FAQ</label> 
                        <input type="text" class="form-control" id="txtTitleModal">
                    </div>
                    <div class="form-group col-xl-6"><label>Trạng thái</label>
                        <select class="form-control" id="txtStatusModal">
                            <option value="0">Không hoạt động</option>
                            <option value="1" selected>Hoạt động</option>
                        </select>
                    </div>
                </div>

                <div class="form-group"><label>Nội dung FAQ</label> 
                    <textarea cols="30" rows="5" class="form-control" id="txtContentModal"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddFAQ border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT FAQ -->
<div class="modal fade bs-example-modal-sm model-update-faq" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật FAQ</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group d-none"><label>FAQ ID</label>
                    <input type="hidden" class="form-control" id="txtfaqIDUpdateModal">
                </div>

                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-6"><label>Tiêu đề FAQ</label> 
                            <input type="text" class="form-control" id="txtTitleUpdateModal">
                        </div>
                        <div class="form-group col-xl-6"><label>Trạng thái</label>
                            <select class="form-control" id="txtStatusUpdateModal">
                                <option value="0">Không hoạt động</option>
                                <option value="1" selected>Hoạt động</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-group"><label>Nội dung FAQ</label> 
                        <textarea cols="30" rows="5" class="form-control" id="txtContentUpdateModal"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateFAQ border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
