/*
Template: Bavure - Responsive 404 Error Template
Author: TheThemeLab
Version: 1.0
Email: saif.shajib@gmil.com
*/

/*----------------------------   
** Reset.**
*----------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, center, u, b, i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
:focus {
	outline: 0
}
ol, ul {
	list-style: none
}
input, textarea {
	margin: 0;
	padding: 0
}
input[type=text] {
	outline: none;
}
input[type=text]::-ms-clear {
	display: none;
}
input[type=submit] {
	-webkit-appearance: none;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
/*----------------------------   ** Custom Style **----------------------------*/
*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 16px;
	word-spacing: normal;
	height: 100%;
  color:#ffffff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background-color: #333333;
}
img {
	max-width: 100%;
}
a {
	color: #fff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
a:hover {
	color: #f1f1f1;
	text-decoration: none;
}
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
.content-inner {
	position: relative;
	z-index: 100;
	padding-bottom: 30px;
	padding-top: 30px;
}
.clearfix {
	clear: both;
	float: none;
}
/*----------------------------    ** 404 text **----------------------------*/
.border {
	border: 15px solid #F7F7F7;
	display: block;
	height: auto;
	position: fixed;
	width: 100%;
	z-index: 1;
	min-height: 650px;
}
.bg-overlay {
	background: url(../images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -2;
}
.full-width {
	background-color: rgba(161,113,134,0.6);
	width: 100%;
	height: 100%;
	min-height: 450px;
	padding-bottom: 180px;
}
.Out {
	opacity: 0;
	transform: scaleY(0);
}
.In {
	opacity: 1;
	transform: scaleY(1);
}

/* No JS-------------------------------------------------*/
.no-js #preload {
	display: none;
}
/*-----------------------------   **404 Text**------------------------------*/
.text-404 h1 {
	font-family: 'Abril Fatface', helvetica;
	font-size: 90px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	margin-bottom: 2px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}
.text-404 h1:hover {
	color: rgba(255,255,255,0.6);
}
.text-404 h1.line2 {
	letter-spacing: -3px;
}
.text-404 h1.line2, .text-404 h1.line4 {
	margin-top: -12px;
}
.text-404 h2 {
	font-family: 'Merienda One', helvetica;
	font-size: 75px;
	line-height: 1;
	font-weight: 700;
	color: rgba(253,213,42, 0.9);
	margin: 5px 0px;
	padding: 0px;
	letter-spacing: 20px;
	text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
}
/* Preload */
#preload {
	background-color: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}
#preload-content {
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 999;
}
.preload-text {
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.preload-bounce {
	margin: 0 auto 15px;
	text-align: center;
}
.bounce1, .bounce2, .bounce3, .bounce4 {
	-webkit-animation-name: pbounce;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-name: pbounce;
	-moz-animation-duration: 1.4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;
	-o-animation-name: pbounce;
	-o-animation-duration: 1.4s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
	animation-name: pbounce;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	background: #ffffff;
	display: inline-block;
	height: 15px;
	margin: 0 3px;
	opacity: 0.6;
	width: 15px;
	border-radius: 100%;
	-webkit-border-radius: 100%
}
.bounce1 {
	-webkit-animation-delay: -0.48s;
	-moz-animation-delay: -0.32s;
	-o-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.bounce2 {
	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.16s;
	-o-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.bounce3 {
	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	-o-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes pbounce {
0%, 80%, 100% {
	-webkit-transform: scale(0.0)
}
40% {
	-webkit-transform: scale(1.0)
}
}
@-moz-keyframes pbounce {
0%, 80%, 100% {
	-moz-transform: scale(0.0)
}
40% {
	-moz-transform: scale(1.0)
}
}
@keyframes pbounce {
0%, 80%, 100% {
	transform: scale(0.0)
}
40% {
	transform: scale(1.0)
}
}
/* ------------------------------     
**Search Box**
*--------------------------------*/
.search {
	position: relative;
	height: 40px;
	margin: 0px;
	max-width: 300px;
}
#search input::-webkit-input-placeholder, #search input:-moz-placeholder, #search input::-moz-placeholder, #search input:-ms-input-placeholder {
	color: #999;
}
#search input[type="text"] {
	background-color: rgba(255,255,255,0.9);
	background-image: url("../images/search.png");
	background-position: 97% 9px;
	background-repeat: no-repeat;
	border: 0 none;
	border-radius: 20px;
	color: #000000;
	font-family: inherit;
	font-size: 16px;
	padding: 9px 45px 9px 15px;
	transition: all 0.7s ease 0s;
	width: 100%;
}
#search input[type="text"]:focus {
	background-color: rgba(255,255,255,1);
}
.search-submit {
	background: #fff;
/* IE needs this */
	-ms-filter: "progid: dximagetransform.microsoft.alpha(opacity=0)";
/* IE 8 */
	filter: alpha(opacity=0);
/* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	width: 26px;
	position: absolute;
	margin-left: -34px;
	margin-top: 7px;
}
.search h3 {
	font-weight: 100;
	font-size: 18px;
	background: url(../images/l-arrow.png) left bottom no-repeat;
	padding-bottom: 40px;
	margin-bottom: 10px;
}
/*----------------------------        
**Footer**
*----------------------------*/
.footerTop {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 110px;
}
.footer {
	background-color: rgba(253,213,42, 0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	padding: 10px 0 0 0;
	margin: 0px;
	width: 100%;
	z-index: 101;
}
.footerContent {
	padding-top: 0px;
}
.footer a {
	color: #ffffff;
}
.footer a:hover {
	color: #f1f1f1;
}
/*--------------------------------------------------       
**Social Icons Roll Over**
*---------------------------------------------------*/
.social-icons {
	padding: 0!important;
	margin: 0!important;
	clear: both;
	float: right;
	list-style-type: none!important;
}
.social-icons h3 {
	font-weight: 100;
	font-size: 18px;
	background: url(../images/r-arrow.png) center bottom no-repeat;
	padding-bottom: 40px;
	margin-bottom: 10px;
	text-align: right;
}
.social-icons li {
	float: left!important;
	margin-right: 6px!important;
	margin-bottom: 6px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	background-color: #ffffff;
}
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 40px!important;
	height: 40px!important;
	text-indent: -9999px!important;
}
.social-icons li a:hover {
	background-position: 0 -40px!important;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}
.social-icons li a {
	background-color: transparent;
}
.social-icons li.facebook a {
	background: url(../images/icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}
.social-icons li.googleplus a {
	background: url(../images/icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}
.social-icons li.linkedin a {
	background: url(../images/icons/linkedin.png) no-repeat 0 0;
}
.social-icons li.linkedin a:hover {
	background-color: #71b2d0;
}
.social-icons li.pinterest a {
	background: url(../images/icons/pinterest.png) no-repeat 0 0;
}
.social-icons li.pinterest a:hover {
	background-color: #cb2027;
}
.social-icons li.rss a {
	background: url(../images/icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
	background-color: #fe9900;
}
.social-icons li.skype a {
	background: url(../images/icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color: #18b7f1;
}
.social-icons li.twitter a {
	background: url(../images/icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}
/*------------------------------      
**Footer links Effect ** 
*--------------------------------*/
.footer nav a {
	position: relative;
	display: inline-block;
	margin: 10px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.footer nav a:hover, .footer nav a:focus {
	cursor: pointer;
	outline: none;
}
.footer nav a {
	padding: 5px 0px;
  letter-spacing: 1px;  
}
.footer nav a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(255,255,255,0.9);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.footer nav a:hover::after, .footer nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.copyright {
	color: #ffffff;
	clear: both;
	font-size: 14px;
	padding: 0px;
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media (max-width:960px) {
.search {
	margin: 0px auto 10px auto;
}
.social-icons {
	float: none;
}
.social-icons ul {
	margin: 0px auto;
	text-align: center;
	width: 240px;
}
.text-404 h1 {
	font-size: 70px;
	margin-bottom: 2px;
	letter-spacing: 1px;
}
.text-404 h1.line2 {
	letter-spacing: 0px;
}
.text-404 h1.line2, .text-404 h1.line4 {
	margin-top: -8px;
}
.text-404 h2 {
	font-size: 60px;
	margin: 5px 0px;
	letter-spacing: 15px;
}
.social-icons h3, .search h3 {
	display: none;
}
.footer nav a {
	float: none;
}
}
@media (max-width:480px) {
.text-404 h1 {
	font-size: 60px;
	margin-bottom: 2px;
	letter-spacing: 1px;
}
.text-404 h1.line2 {
	letter-spacing: 0px;
}
.text-404 h1.line2, .text-404 h1.line4 {
	margin-top: -8px;
}
.text-404 h2 {
	font-size: 40px;
	margin: 5px 0px;
	letter-spacing: 15px;
}
.footerTop {
z-index:101;
}
.footer nav a {
	font-size: 12px;
	line-height: 1;
	padding: 0px;
	margin: 0px 1px;
}
.copyright {
	font-size: 12px;
	padding: 0px;
}
}