<style>
    img.img-thumbnail{
        width: 100px;
    }
    .font-change{
        font-size: 15px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .titlePopup{
       padding: 0;
   }
   .color-icon{
        color: #DF9024;
    }
    .gallery a img {
        /* height: 300px; */
        max-height:  300px ;
    }
    .change-font-img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    .importantPrice {
        color: #ef0000;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Chi tiết khách hàng</h5>
                            <!-- <h6 class="sub-heading">Welcome to Unify Admin Template</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnUpdateInfoAgency">
                                            <span class="icon-border_color"></span>
                                            Chỉnh sửa thông tin
                                        </a>
                                    </div>
                                </ol>
                            </nav> -->
                            <div class="text-left col-xl-6">
                                <button class="btn btn-primary btnCreateTransaction" _customerID="<%= infoAccountCustomer._id %>">Tạo giao dịch</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gutters font-change">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-group color-icon"></span> Thông tin cá nhân </h3>
                                    </br>
                                    <p class="text-left"> <b> Mã khách hàng:</b>  <%=infoAccountCustomer.code  ? infoAccountCustomer.code : ''%></p>
                                    <p class="text-left"> <b>Tên khách hàng:</b> <%=infoAccountCustomer.name  ? infoAccountCustomer.name : ''%></p>
                                    <p class="text-left"><b>Số điện thoại:</b>  <%=infoAccountCustomer.phone ? infoAccountCustomer.phone : ''%></p>
                                    <p class="text-left"> <b>Giới tính:</b>      
                                        <% TYPE_GENDER.forEach(type => { %>
                                            <% if (infoAccountCustomer.gender == type.value) { %>
                                                <%= type.text%>
                                            <% } %>
                                        <% }) %>
                                    </p>
                                   
                                    <p class="text-left"><b>Ngày sinh:</b>
                                        <%= infoAccountCustomer.birthday  ? moment(infoAccountCustomer.birthday).format('L') : '' %>
                                    </p>

                                    <!-- <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Địa chỉ thường trú </h3> -->
                                    <p class="text-left"><b>Địa chỉ: </b>
                                        
                                        <%= infoAccountCustomer.address    ? infoAccountCustomer.address + "," : '' %>
                                        <%= wardArr && wardArr.length      ? wardArr[1].name_with_type + "," : '' %>
                                        <%= districtArr && districtArr.length      ? districtArr[1].name_with_type + "," : '' %>
                                        <%= provinceArr && provinceArr.length      ? provinceArr[1].name_with_type  : '' %>
                                    </p>
                                    <p class="text-left"><b>Hoạt động:</b>
                                        <% if( infoAccountCustomer.status === 1 ){ %>
                                            <span class="badge badge-pill badge-success">
                                                Đang hoạt động
                                            </span>
                                        <% }else{ %>
                                            <span class="badge badge-pill badge-secondary">Không Hoạt Động</span>
                                        <% } %>
                                    </p>
                                    <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                    </p>
                                    <div class=" gallery">
                                        <% infoAccountCustomer.image_customer && infoAccountCustomer.image_customer.length && infoAccountCustomer.image_customer.forEach( image => { %>
                                            <div class="row gutters listImageCustomer">
                                                    <div class="col-lg-6 col-md-6 col-sm-6" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                    
                                                        <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                            <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                            <div class="overlay">
                                                                <!-- <span class="expand">+</span> -->
                                                            </div>
                                                        </a>
                                                    </div>
                                            </div>
                                        <% }) %>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-open-book color-icon"></span> Thông tin giấy xác nhận </h3>
                                    </br>
                                    <p class="text-left"><b>Loại giấy xác thực:</b>
                                        <% KIND_OF_AUTH_PAPER.forEach( authPaper => { %>
                                            <% if ( infoAccountCustomer.auth_paper == authPaper.value ){ %>
                                                <%= authPaper.text %>
                                            <% } %>
                                        <% }) %>
                                    </p>
                                    <p class="text-left"><b>Số:</b>  <%= infoAccountCustomer.number_auth_paper    ? infoAccountCustomer.number_auth_paper : '' %> </p>
                                    <p class="text-left"><b>Nơi cấp:</b>  <%= infoAccountCustomer.issued_by       ? infoAccountCustomer.issued_by : '' %> </p>
                                    <p class="text-left"><b>Ngày cấp:</b>  <%= infoAccountCustomer.issued_on      ? moment(infoAccountCustomer.issued_on).format('L') : '' %> </p>
                                    <p class="text-left"><b>Hình ảnh giấy xác thực:</b>
                                    </p>
                                    <div class=" gallery">
                                        <% infoAccountCustomer.image_auth_paper && infoAccountCustomer.image_auth_paper.length && infoAccountCustomer.image_auth_paper.forEach( image => { %>
                                            <div class="row gutters listImageAuth">
                                                <div class="col-lg-6 col-md-6 col-sm-6" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                
                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                        <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                        <div class="overlay">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <% listTransaction && listTransaction.length && listTransaction.forEach((transaction, index) => { %>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="col-xl-12 mt-0 titlePopup"><span class="icon-info2 color-icon" style="margin-right: 10px;"></span>Giao dịch ngày  <%= moment(_lodash.get(transaction.infoTransaction, "createAt", "")).format('L')  %> lúc <%= moment(_lodash.get(transaction.infoTransaction, "createAt", "")).format('LT') %>  </p>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row gutters font-change">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-database3 color-icon"></span> Thông tin sản phẩm </h3>
                                            </br>
                                            <div class="row gutters">
                                                <% if ( transaction.infoTransaction.products && transaction.infoTransaction.products.length ){ %>
                                                    <% transaction.infoTransaction.products.forEach( (product, index) => { %>
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <h5 class="text-left"> <b>Sản phẩm <%=index + 1%></b> </h5>
                                                            <p class="text-left"> Danh mục:    <b> <%= _lodash.get(product.type, "name", "") %></b>  </p>
                                                            <p class="text-left"> Tên sản phẩm:<b> <%= product.name %> </b> </p>
                                                            <p class="text-left"> Giá sản phẩm:<b> <%= formatCurrency('###,###.', product.price) %>đ</b> </p>
                                                            <p class="text-left"> Ghi chú:     <b> <%= _lodash.get(product, "note", "") %></b> </p>
                                                        </div>
                                                    <% }) %>
                                                <% }else{ %> 
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <p class="text-left"><b>Không có thông tin sản phẩm</b>
                                                    </div>
                                                <% } %>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                <h3 class="col-xl-10 text-left titlePopup"><span class="icon-swap color-icon"></span> Thông tin giao dịch </h3>
                                                <% if ( transaction.infoTransaction.qrCode ){ %>
                                                    <img src="<%= _lodash.get(transaction.infoTransaction.qrCode.image, 'path', '') %>">
                                                <% } %>
                                                
                                            </br>
                                                <!-- </br> -->
                                                
                                                <p class="text-left">Mã giao dịch: <b> 
                                                    <%= _lodash.get(transaction.infoTransaction, "code", "") %>
                                            </b>
                                            
                                            </p>
                                            <p class="text-left">Số tiền vay:          
                                                <% if ( transaction.infoTransaction.loanAmount == 0 ){ %>
                                                    <span class="importantPrice"><%= transaction.infoTransaction.loanAmount %>đ  </span></b> 
                                                <% }else{ %>
                                                    <b><span class="importantPrice"><%= formatCurrency('###,###.', transaction.infoTransaction.loanAmount ) %>đ </span> </b>
                                                <% } %>
                                            </p>
                                            
                                            <p class="text-left">Hạn mức phê duyệt:<b> <%= formatCurrency('###,###.',_lodash.get(transaction.infoTransaction, "approvalLimit", "")) %>đ </b>      </p>
                                            <p class="text-left">Ngày giao dịch: <b><%= moment(_lodash.get(transaction.infoTransaction, "createAt", "")).format('L')  %> lúc <%= moment(_lodash.get(transaction.infoTransaction, "createAt", "")).format('LT') %> </b> </p>
                                            <p class="text-left">Số ngày cầm dự kiến:<b>  <%= _lodash.get(transaction.infoTransaction, "expectedDate", "")  %> </b>  </p>
                                            <p class="text-left">Ngày bắt đầu tính lãi:<b>
                                                    <%= moment(_lodash.get(transaction.infoTransaction, "interestStartDate", "")).format('L')%> lúc
                                                    <%=  moment(_lodash.get(transaction.infoTransaction, "interestStartDate", "")).format('LT')%> </b> 
                                            </p>
                                            <p class="text-left">Ngày đến lãi:<b>         <%= moment(_lodash.get(transaction.infoTransaction, "expireTime", "")).format('L')  %> lúc <%= moment(_lodash.get(transaction.infoTransaction, "expireTime", "")).format('LT')  %></b> </p>
                                            <p class="text-left">Tổng ngày tính lãi:<b> 
                                                <% if(transaction.infoTransaction.status == 1) { %>
                                                    <span class="importantPrice"><%= transaction.infoTransaction.limitDate %> </span>
                                                <% }else{ %>  
                                                    0
                                                <% } %>  
                                                </b>   
                                            </p>
                                            <p class="text-left">Số ngày tính lãi:<b>
                                                <% if(transaction.infoTransaction.status == 1) { %>
                                                    <% if(transaction.infoTransaction.arrObjPerPeriod && transaction.infoTransaction.arrObjPerPeriod.length) { %>
                                                        <% transaction.infoTransaction.arrObjPerPeriod.forEach( (interest, index) => { %>
                                                            <span class="importantPrice">
                                                                <%= interest.day %> ngày lãi <%=interest.percent%>% - 
                                                                <% if (interest.price) { %>
                                                                    <%= formatCurrency('###,###.', interest.price, "0") %>đ  
                                                                <% } else { %>
                                                                    0đ
                                                                <% } %>
                                                            </span> 
                                                            <% if (index < arrObjPerPeriod.length - 1) { %>
                                                                ||
                                                            <% } %>
                                                        <% } ) %>
                                                    <% }else{ %>
                                                        Chưa tính lãi
                                                    <% } %>
                                                <% }else{ %>  
                                                    Chưa tính lãi
                                                <% } %>       
                                            </b> 
                                            </p>
                                            <p class="text-left">Lãi:<b>
                                                <% if(transaction.infoTransaction.status == 1) { %>
                                                    <% if(transaction.infoTransaction.arrObjPerPeriod && transaction.infoTransaction.arrObjPerPeriod.length) { %>
                                                        <% transaction.infoTransaction.arrObjPerPeriod.forEach( (interest, index) => { %>
                                                            <span class="importantPrice">
                                                                <% if (interest.price) { %>
                                                                    <%= formatCurrency('###,###.', interest.price, "") %>đ 
                                                                <% } else { %>
                                                                    0đ
                                                                <% } %>
                                                            </span>
                                                            <% if(index != arrObjPerPeriod.length - 1) {%>
                                                                +
                                                            <% } %>
                                                        <% } ) %>
                                                        <% if (arrObjPerPeriod.length > 1) { %>
                                                            = <span class="importantPrice"><%= formatCurrency('###,###.', loanAmoutAfterInterest, "")  %> </span>
                                                        <% } %>
                                                    <% }else{ %>
                                                        Chưa tính lãi
                                                    <% } %> 
                                                <% }else{ %>  
                                                    Chưa tính lãi
                                                <% } %>      
                                                </b>   
                                            </p>
                                            <p class="text-left">Tổng lãi + Phí:<b>  
                                                <% if(transaction.infoTransaction.status == 1) { %>
                                                    <% if( !transaction.infoTransaction.loanAmoutAfterInterest ){ %> 
                                                        <span class="importantPrice">0đ</span>
                                                    <% }else{ %> 
                                                        <span class="importantPrice"><%= formatCurrency('###,###.', transaction.infoTransaction.loanAmoutAfterInterest, "")%>đ </span>
                                                    <% } %> 
                                                <% }else{ %>  
                                                    Chưa tính lãi
                                                <% } %>       
                                            </b> 
                                            </p>
                                            <p class="text-left">Số tiền trả lãi trước còn dư: <b>
                                                <% if(transaction.infoTransaction.status == 1) { %>
                                                    <% if(transaction.infoTransaction.payInterest) { %>
                                                        <span class="importantPrice"><%= formatCurrency('###,###.', transaction.infoTransaction.payInterest, "")  %>  </span>
                                                    <% }else{ %>
                                                        Không có số dư
                                                    <% } %>
                                                <% }else{ %>  
                                                    Không có số dư
                                                <% } %>       
                                                </b> 
                                            </p>
                                            <p class="text-left">Ghi chú:<b> <%= _lodash.get(transaction.infoTransaction, "approvalNote", "") %> </b></p>
                                            </br>
                                            
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            </br>
                                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                                        
                                            </br>
                                            <div class=" gallery ">
                                                <div class="row gutters ">
                                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12" >
                                                        <h6 class="text-left"><b>Hình ảnh bắt buộc</b>
                                                        </h6>
                                                    </div> -->
                                                    <div class="col-lg-4 col-md-4 col-sm-4 " >
                                                        <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                                        </p>
                                                        <% if ( transaction.infoTransaction.customerImages && transaction.infoTransaction.customerImages.length ){ %>
                                                            <div class="listImagesTransaction">
                                                                    <% transaction.infoTransaction.customerImages && transaction.infoTransaction.customerImages.length && transaction.infoTransaction.customerImages.forEach( image => { %>
                                                                            <a href="<%= image.path %>"  class="effects">
                                                                                <img src="<%= image.path %>" class="img-responsive change-font-img"  alt="Unify Admin">
                                                                                <div class="overlay">
                                                                                    <!-- <span class="expand">+</span> -->
                                                                                    </div>
                                                                            </a>
                                                                    <% }) %>
                                                            </div>
                                                        <% }else{ %> 
                                                            <p class="text-left"><b>Không có hình ảnh khách hàng</b>
                                                        <% } %>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                                                        <% if ( transaction.infoTransaction.KYCImages && transaction.infoTransaction.KYCImages.length ){ %>
                                                            <p class="text-left"><b>Hình ảnh giấy tờ:</b></p>  
                                                            <div class="listImagesTransaction">
                                                                <% transaction.infoTransaction.KYCImages.forEach( image => { %>
                                                                    <a href="<%= image.path %>" data-src="<%= image.path %>"  class="effects">
                                                                        <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                            
                                                        <% if ( transaction.infoTransaction.formVerificationImages && transaction.infoTransaction.formVerificationImages.length ){ %>
                                                            <p class="text-left"><b>Hình ảnh sản phẩm:</b></p>
                                                            <div class="listImagesTransaction">
                                                                <% transaction.infoTransaction.formVerificationImages.forEach( image => { %>
                                                                    <a href="<%= image.path %>" class="effects">
                                                                        <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                <% }) %>
                                                            
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <% if ( transaction.infoTransaction.receiptImages && transaction.infoTransaction.receiptImages.length ){ %>
                                                            <p class="text-left"><b>Hình ảnh biên nhận:</b></p>
                                                            <div class="listImagesTransaction">
                                                                <% transaction.infoTransaction.receiptImages.forEach( image => { %>
                                                                    <a href="<%= image.path %>" class="effects">
                                                                        <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                         
                                                        <% if ( transaction.infoTransaction.billImages && transaction.infoTransaction.billImages.length ){ %>
                                                            <p class="text-left"><b>Hình ảnh hóa đơn - phiếu kiểm định:</b></p>   
                                                            <div class="listImagesTransaction">
                                                                <% transaction.infoTransaction.billImages.forEach( image => { %>
                                                                    <a href="<%= image.path %>" class="effects">
                                                                        <img  src="<%= image.path %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row gutters">
                                                <div class="text-left col-xl-12 col-md-12">
                                                    </br>
                                                    
                                                    <h3 class="text-left titlePopup"><span class="icon-swap_calls color-icon"></span> Thông tin giao dịch bổ sung</h3>
                                                    </br>
                                                </div>
                                                <% if (  transaction.infoTransaction.injectTransaction &&  transaction.infoTransaction.injectTransaction.length ){ %>
                                                    <%
                                                        const TYPE_NORMAL   = 2;
                                                        const TYPE_BORROW   = 3;
                                                        const TYPE_PAY_BACK = 4;
                                                        const TYPE_LOST     = 5;
                                                        const TYPE_RANSOM   = 6;
                                                        const TYPE_RANSOM_ACTIVE   = 1;
                                                        const TYPE_RANSOM_INACTIVE = 2;
                                                        const TYPE_NOT_RANSOM      = 3;
                                                    
                                                    %>
                                                    <%  transaction.infoTransaction.injectTransaction.forEach( (injectTransaction, index) => { %>
                                                        <div class="text-left  col-xl-12 col-md-12">
                                                            <h5 class="text-left"> <b>Giao dịch bổ sung ngày <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('L')%> lúc <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('LT')%></b> </h5>
                                                            </br>
                                                            <p class="text-left">Tên giao dịch:<b> <%= _lodash.get(injectTransaction, "title", "") %> </b></p>
                                                            <% if (injectTransaction.note) { %>
                                                                <p class="text-left">Ghi chú:      
                                                                    <b>  
                                                                        <%= injectTransaction.note %> 
                                                                    </b>
                                                                </p>
                                                               
                                                            <% } %>
                                                            
                                                            <% TYPE_TRANSACTION.forEach( type => { %>
                                                                <% if ( injectTransaction.type == type.value ) { %>
                                                                    <p class="text-left">Loại giao dịch:
                                                                        <b> 
                                                                            <%= _lodash.get(type, "text", "") %> 
                                                                        </b> 
                                                                    </p>
                                                                <% } %>
                                                            <% }) %>
                                                            <% if ( injectTransaction.type == TYPE_NORMAL ) { %>
                                                                <p class="text-left ">Số tiền trã lãi: 
                                                                    <b class="importantPrice">
                                                                        <% if(injectTransaction.meta.priceMuchPayInterest) { %>
                                                                            <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "priceMuchPayInterest", "")) %>đ  
                                                                        <% }else{ %>
                                                                            0đ
                                                                        <% } %>
                                                                    </b>     
                                                                </p>
                                                                <p class="text-left">Số tiền khuyến mãi:
                                                                    <b>
                                                                        <% if(injectTransaction.meta.promotionInterest) { %>
                                                                            <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "promotionInterest", "")) %>đ  
                                                                        <% } else { %>
                                                                            0đ
                                                                        <% } %>
                                                                    </b>   
                                                                </p>
                                                            <% } %>
                                                            <% if (injectTransaction.type == TYPE_BORROW) { %>
                                                                <p class="text-left">Có thể vay thêm:
                                                                    <b>
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "canBorrowMore", "")) %>đ
                                                                    </b>  
                                                                </p>    
                                                                <p class="text-left ">Số tiền đã vay thêm:
                                                                    <b class="importantPrice">
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantBorrowMore", "")) %>đ  
                                                                    </b>  
                                                                </p>
                                                            <% } %>
            
                                                            <% if (injectTransaction.type == TYPE_PAY_BACK) { %>
                                                                <p class="text-left">Trả bớt tối thiểu:
                                                                    <b>
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "paybackMin", "")) %>đ 
                                                                    </b>         
                                                                </p>
                                                                <p class="text-left ">Số tiền đã trả bớt:
                                                                    <b class="importantPrice">
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantPayback", "")) %>đ
                                                                    </b>     
                                                                </p>
                                                            <% } %>
            
                                                            <% if (injectTransaction.type == TYPE_LOST){ %>
                                                                <p class="text-left">Phí cấp lại:
                                                                    <b  class="importantPrice">
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "reissueFee", "")) %>đ  
                                                                    </b>        
                                                                </p>
                                                                <p class="text-left ">Yêu cầu in lần thứ:
                                                                    <b>
                                                                        <%= _lodash.get(injectTransaction.meta, "requestPrintTh", "") %>
                                                                    </b> 
                                                                </p>
                                                            <% } %>
                                                            <% if (injectTransaction.type == TYPE_RANSOM){ %>
                                                                <p class="text-left ">Số tiền chuộc:
                                                                    <b class="importantPrice">
                                                                        <%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "priceRansomPay", "")) %>đ 
                                                                    </b>         
                                                                </p>
                                                                <% if (injectTransaction.ransom == TYPE_RANSOM_ACTIVE){ %>
                                                                    <p class="text-left">Trạng thái:
                                                                        <b>
                                                                            Đã duyệt 
                                                                        </b> 
                                                                    </p>
                                                                <% } %>
                                                                <% if (injectTransaction.ransom == TYPE_RANSOM_INACTIVE){ %>
                                                                    <p class="text-left">Trạng thái:
                                                                        <b>
                                                                            Chưa duyệt 
                                                                        </b> 
                                                                    </p>
                                                                <% } %>
                                                                <% if (injectTransaction.ransom == TYPE_NOT_RANSOM){ %>
                                                                    <p class="text-left">Trạng thái:
                                                                        <b>
                                                                            Không duyệt 
                                                                        </b> 
                                                                    </p>
                                                                    <% if (injectTransaction.noteNotApproved) { %>
                                                                        <p class="text-left">Lý do:
                                                                            <b>
                                                                                <%= injectTransaction.noteNotApproved  %>
                                                                            </b> 
                                                                        </p>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                            <p class="text-left">Ngày giao dịch:
                                                                <b>
                                                                    <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('L')  %> lúc <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('LT')  %>
                                                                </b>         
                                                            </p>
                                                            <div class=" gallery">
                                                                <div class="row gutters">
                                                                    <% if (injectTransaction.customerImages && injectTransaction.customerImages.length) { %>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                                            <p class="text-left"><b>Hình ảnh của khách hàng:</b>
                                                                            </p>
                                                                            <!-- <div class="row gutters"> -->
                                                                            <div class="listImagesTransaction">
                                                                                <% injectTransaction.customerImages.forEach( image => { %>
                                                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                                        <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                            <img src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                            <div class="overlay">
                                                                                            </div>
                                                                                        </a>
                                                                                    <!-- </div> -->
                                                                                <% }) %>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    <% if (injectTransaction.KYCImages && injectTransaction.KYCImages.length) { %>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                                            <p class="text-left"><b>Hình ảnh giấy tờ:</b>
                                                                            </p>  
                                                                            <!-- <div class="row gutters"> -->
                                                                            <div class="listImagesTransaction">
                                                                                <% injectTransaction.KYCImages.forEach( image => { %>
                                                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                                        <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                            <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                            <div class="overlay">
                                                                                            </div>
                                                                                        </a>
                                                                                    <!-- </div> -->
                                                                                <% }) %>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    <% if (injectTransaction.receiptImages && injectTransaction.receiptImages.length) { %>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                                            <p class="text-left"><b>Hình ảnh biên nhận:</b>
                                                                            </p>   
                                                                            <div class="listImagesTransaction">
                                                                                <% injectTransaction.receiptImages.forEach( image => { %>
                                                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                        <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                        <div class="overlay">
                                                                                        </div>
                                                                                    </a>
                                                                                <% }) %>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    <% if (injectTransaction.formVerificationImages && injectTransaction.formVerificationImages.length) { %>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                                                            <p class="text-left"><b>Hình ảnh phiếu kiểm định:</b>
                                                                            </p>    
                                                                            <div class="listImagesTransaction">
                                                                                <% injectTransaction.formVerificationImages.forEach( image => { %>
                                                                                    <a href="<%= _lodash.get(image, 'path', '')   %>" class="effects">
                                                                                        <img  src="<%= _lodash.get(image, 'path', '')   %>" class="img-responsive change-font-img" alt="Unify Admin">
                                                                                        <div class="overlay">
                                                                                        </div>
                                                                                    </a>
                                                                                <% }) %>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    
                                                                </div>
                                                            </div>
                        
                                                            </br>
                                                        </div>
                                                    <% }) %>
                                                <% }else{ %>
                                                    <div class="text-left  col-xl-12 col-md-12">
                                                        <p class="text-left"><b>Không có thông tin giao dịch bổ sung</b>
                                                        </br>
                                                        </br>
                                                    </div>
                                                <% } %>
                                                
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>

    