<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-dialog{
        /* max-width: 10%; */
        /* margin: 10px 10% 10px 10%; */
        margin-top: 20px;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    /* @media (max-width: 1400px){
        .select2-container{
            width: 200px !important;
        }
    }
    @media (min-width: 1400px){
        .select2-container{
            width: 250px !important;
        }
    }
    @media (min-width: 1800px){
        .select2-container{
            width: 300px !important;
        }
    }
    @media (min-width: 2000px){
        .select2-container{
            width: 350px !important;
        }
    } */
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* @media (max-width: 1200px){
        .select2-container{
            width: 100% !important;
        }
    } */
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* .select2-container{
        width: 200px !important;
    } */
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }
    .color-icon{
        color: #DF9024;
    }
    .form-control:disabled{
        background-color: #98a0bc;
    }
    .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách khách hàng</h5>
                            <!-- <h6 class="sub-heading">List Customer</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12">
                                <div class="row gutters">
                                    <!-- <div class="form-group col-2">
                                        <label>Tên/SDT</label> 
                                        <input type="text" class="form-control" id="txtNameFilter">
                                    </div> -->
                                    <div class="form-group col-xl-3">
                                        <label>Giới tính</label>
                                        </br>
                                        <select class="form-control" id="txtGenderFilter">
                                            <option value="">Chọn giới tính</option>
                                            <% TYPE_GENDER.forEach(type => { %>
                                                <option value="<%= type.value%>" <% if (_gender == type.value) { %>
                                                    selected
                                                <% } %>><%= type.text%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <label>Loại giấy tờ</label>
                                        </br>
                                        <select class="form-control" id="txtAuthPaperFilter">
                                            <option value="">Chọn loại giấy tờ</option>
                                            <% KIND_OF_AUTH_PAPER.forEach(type => { %>
                                                <option value="<%= type.value%>" <% if (auth_paper == type.value) { %>
                                                    selected
                                                <% } %>><%= type.text%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3"><label>Tỉnh/Thành Phố</label> 
                                        </br>
                                        <select class="form-control" id="txtCityFilter">
                                            <option value="">Chọn Tỉnh/Thành phố</option>

                                            <% listProvince.forEach(province => { %>
                                                <% if ( province[1].code == city ){ %>
                                                    <option value="<%=province[1].code%>" selected><%=province[1].name_with_type%></option>
                                                <% }else{ %>
                                                    <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3"><label>Quận/Huyện</label> 
                                        </br>
                                        <select class="form-control" id="txtDistrictFilter">
                                            <option id="emptyDistrictFilter" value="">Chọn Quận/Huyện</option>
                                            <% listDistrictsFilter && listDistrictsFilter.length && listDistrictsFilter.forEach(districtArr => { %>
                                                <% if ( districtArr[1].code == district ){ %>
                                                    <option value="<%=districtArr[1].code%>" selected><%=districtArr[1].name_with_type%></option>
                                                <% }else{ %>
                                                    <option value="<%=districtArr[1].code%>"><%=districtArr[1].name_with_type%></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3"><label>Phường</label> 
                                        </br>
                                        <select class="form-control" id="txtWardFilter">
                                            <option id="emptyWardFilter" value="">Chọn Phường</option>
                                            <% listWards && listWards.length && listWards.forEach(wardArr => { %>
                                                <% if ( wardArr[1].code == ward ){ %>
                                                    <option value="<%=wardArr[1].code%>" selected><%=wardArr[1].name_with_type%></option>
                                                <% }else if ( wardArr[1].code != ward ){ %>
                                                    <option value="<%=wardArr[1].code%>"><%=wardArr[1].name_with_type%></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group col-xl-3">
                                        <br />
                                        <h1></h1>
                                        <button type="button" class="btn btn-success btnFilter br-btn">
											<span class="icon-search"></span>
											Tìm kiếm
										</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary  waves-effect waves-light btn-create-customer">
									<span class="icon-add_circle"></span>
                                    Tạo khách hàng
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="dataTableListCustomer" class="table table-hover table-responsive no-footer table-striped table-bordered">
                                    
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th >STT</th>
                                                <th >Mã khách hàng</th>
                                                <th >Tên</th>
                                                <th >Giới Tính</th>
                                                <th >SĐT</th>
                                                <th >Loại giấy tờ</th>
                                                <th >Số xác thực</th>
                                                <th >Địa Chỉ</th>
                                                <th >Ngày tạo</th>
                                                <th >Trạng thái</th>
                                                <th >Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listAccountCustomer && listAccountCustomer.length) { %>
                                                <% listAccountCustomer.forEach(( customer, index ) => { %>
                                                    <tr class="odd tr-product-category-<%= customer._id %>">
                                                        <th>
                                                            <%= index + 1 %>
                                                        </th>
                                                        <td>
                                                            <i>
                                                                <%= customer.code %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <a href="/customer/info/<%= customer._id %>">
                                                                <i>
                                                                    <%= customer.name %>
                                                                </i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= customer.gender === 1 ? 'Nam' : 'Nữ' %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= customer.phone %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <% KIND_OF_AUTH_PAPER.forEach( authPaper => { %>
                                                                    <% if ( customer.auth_paper == authPaper.value ){ %>
                                                                        <%= authPaper.text %>
                                                                    <% } %>
                                                                <% }) %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= customer.number_auth_paper ? customer.number_auth_paper : '' %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <% listProvince.forEach(province => { %>
                                                                    <% if( province[1].code == customer.city ){  %>
                                                                        <%= province[1].name_with_type %>
                                                                    <% } %>
                                                                <% }) %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <i>
                                                                <%= customer.createAt ? moment(customer.createAt).format('L'): '' %>
                                                            </i>
                                                        </td>
                                                        <td>
                                                            <% if(!listCustomerIDInactive.includes(customer._id.toString())){ %>
                                                                <span class="badge badge-pill badge-success">
                                                                    Hoạt Động
                                                                </span>
                                                            <% }else{ %>
                                                                <span class="badge badge-pill badge-secondary">Không Hoạt Động</span>
                                                            <% } %>
                                                        </td>

                                                        <td>
                                                            <div class="btn-group mb-2">
                                                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDownBlog_">
                                                                    Thao Tác
                                                                </button>
                                                                <button type="button" 
                                                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                    data-toggle="dropdown" 
                                                                    aria-haspopup="true" 
                                                                    aria-expanded="false"
                                                                >
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" 
                                                                    x-placement="right-start" 
                                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);"
                                                                >
                                                                    <a class="dropdown-item btn-update-customer" 
                                                                        href="javascript:void(0)" 
                                                                        _customerID="<%= customer._id %>">
                                                                        Sửa Khách Hàng
                                                                    </a>
                                                                    <!-- <a class="dropdown-item btnBlockUser btnDeleteCustomer" 
                                                                        href="javascript:void(0)" 
                                                                        _customerID="<%= customer._id %>">
                                                                        Xóa Khách Hàng
                                                                    </a> -->
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listAccountCustomer && listAccountCustomer.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-create-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Khởi tạo khách hàng mới</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary" style="
                margin-left: 15px;
            ">Những thông tin có dấu (*) là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                </br>
                <h6 class=" text-primary" style="margin-bottom: 20px">Những thông tin có dấu (*) là thông tin bắt buộc</h6>
                <div class="row gutters">
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-group color-icon"></span> Thông tin cá nhân </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-4">
                                <label>Mã Khách Hàng <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtCode" disabled>
                                <small>Error Message</small>
                                <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button>
                            </div>
                            <!-- <div class="form-group col-xl-2">
                                </br>
                                </br>
                            </div> -->
                            <div class="form-group col-xl-4">
                                <label>Tên <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtName">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-4"><label>Giới tính</label> 
                                <div class="">
                                    <label class="custom-control custom-radio">
                                        <input id="maleAdd" name="radio1" value="1" type="radio" class="custom-control-input gender" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nam</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="femaleAdd" name="radio1" value="0" type="radio" class="custom-control-input gender">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nữ</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Ngày Sinh</label> 
                                <input type="date" class="form-control"  id="txtBirthDay">
                                <!-- </br> -->
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;">(*) Khách hàng phải trên 18 tuổi</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Số Điện Thoại <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtPhone">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p>
                                <small>Error Message</small>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Công Việc</label> 
                                <input type="text" class="form-control" id="txtJob">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ghi Chú</label> 
                                <input type="text" class="form-control" id="txtNote">
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-address color-icon"></span> Địa chỉ thường trú </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-12"><label>Địa chỉ</label> 
                                <input type="text" class="form-control" id="txtAddress">
                            </div>
                        </br>
                            <div class="form-group col-xl-4" id="txtCityParent"><label>Tỉnh/Thành Phố <b>*</b></label> 
                                </br>
                                <select class="form-control" id="txtCity">
                                    <option value="">Chọn Tỉnh/Thành phố</option>
                                    <% listProvince.forEach(province => { %>
                                        <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                    <% }) %>
                                </select>
                                </br>
                                <small>Error Message</small>
                            </div>
                            
                            <div class="form-group col-xl-4" id="txtDistrictParent"><label>Quận/Huyện</label> 
                                </br>
                               
                                <select class="form-control" id="txtDistrict">
                                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                                    <!-- <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option> -->
                                </select>
                            </div>
                            <div class="form-group col-xl-4" id="txtWardParent"><label>Phường</label> 
                                </br>
                                <select class="form-control" id="txtWard">
                                    <option id="emptyWard" value="">Chọn Phường</option>
                                    <!-- <option value="Phường 1">Phường 1</option>
                                    <option value="Phường 2">Phường 2</option> -->
                                </select>
                            </div>
                            
                        </div>
                        <!-- <img class="form-control imgCustomer" style="display: none;object-fit: cover;"  height="250px" width="250px" src="" alt=""> -->
                    </div>
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-open-book color-icon"></span> Thông tin giấy xác nhận </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6" id="txtAuthPaperParent"><label>Loại giấy tờ <b>(*)</b></label>
                                </br>
                                <select class="form-control" id="txtAuthPaper">
                                    <option value="0">CMND</option>
                                    <option value="1">Bằng lái xe</option>
                                    <option value="2">CCCD</option>
                                    <option value="3">Khác</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Số loại giấy tờ <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtNumberAuthPaper">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) CMND chỉ được nhập 9 số, CCCD và Bằng lái xe chỉ được nhập 12 số</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ngày cấp <b>(*)</b></label> 
                                <input type="date" class="form-control" id="txtIssuedOn">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Ngày cấp phải nhỏ hơn ngày hiện tại và lớn hơn ngày sinh</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Nơi cấp <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtIssuedBy">
                                <small>Error Message</small>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6 ">
                                <label>Hình ảnh khách hàng <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageCustomer"  class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                                </br>
                                <div class=" gallery listImageCustomer" _isShow = "0">
                                </div>
                                <!-- <div class="takePhotoCustomer" style="display: none;">
                                    <video id="player" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="capture">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshot" width=320 height=240></canvas>
                                </div>
                                </br>
                                <button class="btn btn-info btn-sm btnTakePhoto">Mở camera</button> -->
                                <img class="form-control imgCustomer" style="display: none;"  height="250px" width="250px" src="" alt="">
                            </div>
                            <div class="form-group col-xl-6">
                                <label>Hình ảnh loại giấy tờ <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageAuthPaper" class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                               
                                </br>
                                <div class="gallery listImageAuthPaper">
                                </div>
                                <!-- <div class="takePhotoAuthPaper" _isShow = "0" style="display: none;">
                                    <video id="playerAuthPaper" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="captureAuthPaper">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshotAuthPaperImage" width=320 height=240></canvas>
                                </div> -->
                                <!-- </br>
                                <button class="btn btn-info btn-sm btnTakePhotoAuthPaper">Mở camera</button> -->
                                <img class="form-control imgAuthPaper" style="display: none;" height="250px" width="250px" src="" alt="">
                            </div>
                        </div>
                        <!-- <img class="form-control imgAuthPaper" style="display: none;object-fit: cover;" height="250px" width="250px" src="" alt=""> -->
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddCustomer">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-update-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Cập nhật thông tin khách hàng</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary" style="
                margin-left: 15px;
            ">Những thông tin có dấu * là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                <!-- <h6 class="modal-title mt-0"> Thông tin cá nhân </h6> -->
                <h6 class=" text-primary" style="margin: 15px 0;">Những thông tin có dấu * là thông tin bắt buộc</h6>
                <div class="row gutters">
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-group color-icon"></span> Thông tin cá nhân </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-4">
                                <label>Mã Khách Hàng <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtCodeUpdate" disabled>
                                <small>Error Message</small>
                                <!-- <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button> -->
                            </div>
                            <div class="form-group col-xl-4">
                                <label>Tên <b>*</b></label> 
                                <input type="text" class="form-control" id="txtNameUpdate" >
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-4"><label>Giới tính</label> 
                                <div class="">
                                    <label class="custom-control custom-radio">
                                        <input id="male" name="radio" value="1" type="radio" class="custom-control-input genderUpdate" checked="true">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nam</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="female" name="radio" value="0" type="radio" class="custom-control-input genderUpdate">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nữ</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters listCustomer--margin">
                            <div class="form-group col-xl-6"><label>Ngày Sinh</label> 
                                <input type="date" class="form-control" id="txtBirthDayUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Khách hàng phải trên 18 tuổi</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Số Điện Thoại <b>*</b></label> 
                                <input type="text" class="form-control" id="txtPhoneUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p>
                                <small>Error Message</small>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-4"><label>Công Việc</label> 
                                <input type="text" class="form-control" id="txtJobUpdate">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-4"><label>Ghi Chú</label> 
                                <input type="text" class="form-control" id="txtNoteUpdate">
                            </div>
                            <div class="form-group col-xl-2"><label>Hoạt động</label> 
                                <div class="toggle-switch">
                                    <input type="checkbox" class="check cbActive">
                                    <b class="b switch"></b>
                                    <b class="b track"></b>
                                </div>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-address color-icon"></span> Địa chỉ thường trú </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-12"><label>Địa chỉ</label> 
                                <input type="text" class="form-control" id="txtAddressUpdate">
                            </div>
                            <div class="form-group col-xl-4" id="txtCityParentUpdate"><label>Tỉnh/Thành Phố <b>(*)</b></label> 
                                </br>

                                <select class="form-control" id="txtCityUpdate">
                                    <option value="">Chọn Tỉnh/Thành phố</option>
                                    <% listProvince.forEach(province => { %>
                                        <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                    <% }) %>
                                </select>
                            </br>
                                <small>Error Message</small>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p> -->
                            </div>
                            <div class="form-group col-xl-4" id="txtDistrictParentUpdate"><label>Quận/Huyện</label> 
                                </br>
                                <select class="form-control" id="txtDistrictUpdate">
                                    <option id="emptyDistrictUpdate" value="">Chọn Quận/Huyện</option>
                                    <!-- <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option> -->
                                </select>
                            </div>
                            <div class="form-group col-xl-4" id="txtWardParentUpdate"><label>Phường</label>
                                </br>
                                <select class="form-control" id="txtWardUpdate">
                                    <option id="emptyWardUpdate" value="">Chọn Phường</option>
                                </select>
                            </div>
                            
                            
                        </div>
                        <!-- <img class="form-control imgCustomerUpdate" style="display: none;object-fit: cover;"  height="250px" width="250px" src="" alt=""> -->
                    </div>
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-open-book color-icon"></span> Thông tin giấy xác nhận </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6" id="txtAuthPaperParentUpdate"><label>Loại giấy tờ <b>*</b></label>
                                </br>

                                <select class="form-control" id="txtAuthPaperUpdate">
                                    <option value="0">CMND</option>
                                    <option value="1">Bằng lái xe</option>
                                    <option value="2">CCCD</option>
                                    <option value="3">Khác</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Số loại giấy tờ <b>*</b></label> 
                                <input type="text" class="form-control" id="txtNumberAuthPaperUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) CMND chỉ được nhập 9 số, CCCD và Bằng lái xe chỉ được nhập 12 số</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ngày cấp <b>*</b></label> 
                                <input type="date" class="form-control" id="txtIssuedOnUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Ngày cấp phải nhỏ hơn ngày hiện tại và lớn hơn ngày sinh</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Nơi cấp <b>*</b></label> 
                                <input type="text" class="form-control" id="txtIssuedByUpdate">
                                <small>Error Message</small>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6">
                                <label>Hình ảnh khách hàng <b>*</b></label>
                                <input type="file" accept="image/*" id="txtImageCustomerUpdate" class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                                </br>
                                <div id="listImageCustomerUpdate" class="gallery listImageCustomerUpdate">
                                    
                                </div>
                                <!-- <div id="listImageCustomerUpdateAfterAdd" class="gallery listImageCustomerUpdateAfterAdd">
                                    
                                </div> -->
                                <!-- <div class="takePhotoCustomerUpdate" _isShow = "0" style="display: none;">
                                    <video id="playerCustomerUpdate" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="captureCustomerUpdate">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshotCustomerUpdateImage" width=320 height=240></canvas>
                                </div>
                                </br>
                                <button class="btn btn-info btn-sm btnTakePhotoCustomerUpdate">Mở camera</button> -->
                                <img class="form-control imgCustomerUpdate" style="display: none;"  height="250px" width="250px" src="" alt="">
                            </div>
                            <div class="form-group col-xl-6">
                                <label>Hình ảnh loại giấy tờ <b>*</b></label>
                                <input type="file" accept="image/*" id="txtImageAuthPaperUpdate" class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                                </br>
                                <div class=" gallery listImageAuthUpdate">
                                    
                                </div>
                                <!-- <div class="takePhotoAuthPaperUpdate" _isShow = "0" style="display: none;">
                                    <video id="playerAuthPaperUpdate" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="captureAuthPaperUpdate">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshotAuthPaperUpdateImage" width=320 height=240></canvas>
                                </div>
                                </br>
                                <button class="btn btn-info btn-sm btnTakePhotoAuthPaperUpdate">Mở camera</button> -->
                                <img class="form-control imgAuthPaperUpdate" style="display: none;" height="250px" width="250px" src="" alt="">
                            </div>
                        <!-- <img class="form-control imgAuthPaperUpdate" style="display: none;object-fit: cover;" height="250px" width="250px" src="" alt="">
                    </div>
                    <div class="form-group col-1"><label>Hoạt động</label> 
                        <div class="toggle-switch">
                            <input type="checkbox" class="check cbActive">
                            <b class="b switch"></b>
                            <b class="b track"></b> -->
                        </div>
                    </div>
                <div class="row gutters">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btn-lg btnConfirmUpdateCustomer">Xác nhận</button>
            </div>
        </div>
    </div>
</div>