<style>
    .modal-choose-agency .modal-dialog{
        width: 400px;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <%- include ../layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-laptop_windows"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Thông tin cá nhân</h5>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right btn-change-agency" data-toggle="tooltip" data-placement="left" title="Change Agency">
                                <span class="icon-swap_horiz"></span>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnUpdateUser">
                                    <span class="icon-border_color"></span> Cập nhật mật khẩu
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <!-- table-striped table-bordered -->
                                    <table id="table-infomation-user" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <tbody>
                                            <tr>
                                                <td data-column="Username" class="vertical-header-column">Tên truy cập</td>
                                                <th data-column="Balakumar"><%=infoUser.username %> </th>
                                            </tr>
                                            <tr>            
                                                <td data-column="Username" class="vertical-header-column">Email</td>
                                                <th data-column="Balakumar"><%=infoUser.email %></th>
                                            </tr>
                                            <tr>
                                                <td data-column="Username" class="vertical-header-column">Trạng thái hoạt động</td>
                                                
                                                <th data-column="Balakumar">
                                                    <% if (infoUser.status == 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% } else { %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td data-column="Username" class="vertical-header-column">Quyền</td>
                                                <% TYPE_LEVEL.forEach(type => { %>
                                                    <% if (type.value == infoUser.level) { %>
                                                        <th data-column="Balakumar"><%=type.text %></th>
                                                    <% } %>
                                                <% }) %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- POPUP CẬP NHẬT FAQ -->
<div class="modal fade bs-example-modal-sm modal-update-infoUser" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật mật khẩu</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="form-group col-xl-12"><label>Nhập mật khẩu hiện tại</label> 
                            <input type="password" class="form-control" id="oldPassword">
                        </div>
                        <div class="form-group col-xl-12"><label>Nhập mật khẩu mới</label> 
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group col-xl-12"><label>Xác nhận mật khẩu mới</label> 
                            <input type="password" class="form-control" id="newPassword">
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdatePassword border-btn-black" _userID=<%=infoUser._id%>>Xác nhận</button>
            </div>
        </div>
    </div>
</div>
