<script>
	toastr.options = {
		"closeButton": false,
		"debug": false,
		"positionClass": "toast-top-right",
		"onclick": null,
		"showDuration": "300",
		"hideDuration": "1000",
		"timeOut": "5000",
		"extendedTimeOut": "1000",
		"showEasing": "swing",
		"hideEasing": "linear",
		"showMethod": "fadeIn",
		"hideMethod": "fadeOut"
	};

	//Active menu children
	$(".child-selected").closest("ul").attr("aria-expanded", "true");
	$(".child-selected").closest("ul").addClass("in");
	$(".child-selected").closest("a").attr("aria-expanded", "true");
	$(".child-selected").parents("li").addClass("active selected");
	$(".child-selected a").addClass("current-page");

	const languageDataTable = {
		"language": {
			"lengthMenu": "Hiển thị _MENU_ kết quả",
			"search": "Tìm kiếm",
			"zeroRecords": "Không tìm thấy kết quả trùng khớp",
			"info": "Trang _PAGE_ tổng _PAGES_ kết quả",
			"infoEmpty": "Không tìm thấy kết quả",
			"infoFiltered": "(lọc từ _MAX_ kết quả hiện có)",
			"paginate": {
				"first":      "Trang đầu tiên",
				"last":       "Trang cuối cùng",
				"next":       "Trang tiếp",
				"previous":   "Trang trước"
			},
		},
	}

	let disableAndLoading = (that) => {
		$(that).text('').html(`
			<i class="icon-spinner6"> Vui lòng chờ</i>
		`);
		$(that).attr("disabled", true);
	}

	let enableAndStopLoading = (that) => {
		$(that).text('Xác Nhận');
		$(that).attr("disabled", false);
	}

	let enableAndStopLoading2 = (that, text) => {
		$(that).text(text);
		$(that).attr("disabled", false);
	}

	function delay(callback, ms) {
		var timer = 0;
		return function() {
			var context = this, args = arguments;
			clearTimeout(timer);
			timer = setTimeout(function () {
			callback.apply(context, args);
			}, ms || 0);
		};
	}

	function removeVietnameseTones(str) {
		str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
		str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
		str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
		str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
		str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
		str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
		str = str.replace(/đ/g,"d");
		str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
		str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
		str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
		str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
		str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
		str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
		str = str.replace(/Đ/g, "D");
		// Some system encode vietnamese combining accent as individual utf-8 characters
		// Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
		str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
		str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
		// Remove extra spaces
		// Bỏ các khoảng trắng liền nhau
		str = str.replace(/ + /g," ");
		str = str.trim();
		// Remove punctuations
		// Bỏ dấu câu, kí tự đặc biệt
		str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
		return str;
	}

	function goBack() {
		window.history.back();
	}

	function readURLBlob(input, idImage, type) {
		if ( input.files && input.files[0] ) {
			for (let  i = 0; i < input.files.length; i++){
				let src = URL.createObjectURL(input.files[i]);
				$(idImage).append(`
					<div class="img-wraps" data-src="${src}">
						<span class="close deleteImage" _type="${type}" _imgName="${input.files[i].name}" _imageID = "">&times;</span>

						<a data-src="${src}" href="${src}" class="effects khongtrung">
							<img style="object-fit: contain;" src="${src}" value="${input.files[i].name}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
							<div class="overlay">
							</div>
						</a>
					</div>
				`);
			}
		}
	}

	function changeLightGallery({ lightGallery, input }){
		if ( lightGallery ){
			$(".lg-backdrop").remove();
			$(".lg-outer").remove();
			
			$(input).data('lightGallery').destroy(true);
		}

		lightGallery = $(input).lightGallery({
			thumbnail:true,
		});
	}

	$('#datatableListInventorySession').DataTable({
		'iDisplayLength': 10,
		// "scrollY": "1000px",
		// //"scrollX": true,
		// "scrollCollapse": true,
		"aaSorting": [],
		"bPaginate": true,  
		"bInfo": false,  
		"bFilter": true,
		"bAutoWidth": false,
		"aoColumns" : [
			{ sWidth: '5%' },
			{ sWidth: '40%' },
			{ sWidth: '40%' },
			{ sWidth: '15%' },
		],
		...languageDataTable
	});

	$('#datatableListTransactionInInventorySession').DataTable({
		'iDisplayLength': 10,
		// "scrollY": "1000px",
		// //"scrollX": true,
		// "scrollCollapse": true,
		"aaSorting": [],
		"bPaginate": true,  
		"bInfo": false,  
		"bFilter": true,
		"bAutoWidth": false,
		"aoColumns" : [
			{ sWidth: '5%' },
			{ sWidth: '20%' },
			{ sWidth: '30%' },
			{ sWidth: '10%' },
			{ sWidth: '10%' },
			{ sWidth: '10%' },
		],
		...languageDataTable
	});

	// TRACK ERROR (CLIENT)

	// window.addEventListener('error', function(e) {
	// 	let stacktrace = e.stack;
	// 	if (!stacktrace && e.error) {
	// 		stacktrace = e.error.stack;
	// 	}

	// 	console.log(e.message + ', ' + e.filename + ', ' + e.lineno + ':' + e.colno)
	// 	if (stacktrace) {
	// 		console.log('Stacktrace: ' + stacktrace);
	// 	}
	// });

	$(document).ready(function () {

		$(".btnLogout").click(function(e){
			e.preventDefault();
			localStorage.removeItem("token_admin");
			location.href = `<%= CF_ROUTINGS_COMMON.LOGOUT %>`;
		});

		$(".btnUpdateUser").click(function(e){
			e.preventDefault();
			$(".modal-update-infoUser").modal('show');
		});

		$(".btnConfirmUpdatePassword").click(function(e){
			e.preventDefault();
			let userID = $(this).attr("_userID");
			let oldPassword = $("#oldPassword").val();
			let password = $("#password").val();
			let newPassword = $("#newPassword").val();

			if(!oldPassword){
				return toastr.warning(`Vui lòng nhập mật khẩu cũ`, "THÔNG BÁO"); 
			}
			if(!password){
				return toastr.warning(`Vui lòng nhập mật khẩu mới`, "THÔNG BÁO"); 
			}
			if(!newPassword){
				return toastr.warning(`Vui lòng xác nhận mật khẩu mới`, "THÔNG BÁO"); 
			}

			if(password.toString() != newPassword.toString()){
				return toastr.warning(`Xác nhận mật khẩu mới không trùng khớp`, "THÔNG BÁO"); 
			}

			$.ajax({
					url: `/permission/update-user`,
					method: 'post',
					data: {oldPassword, password, userID},
					success: resp => {
						let { message } = resp;

						if (!resp.error){
							toastr.success(`Cập nhật mật khẩu thành công`, "THÔNG BÁO"); 
							setTimeout(() => location.reload(), 700);
						} else{
							if(message && message == "old_password_wrong"){
								return toastr.warning(`Mật khẩu không đúng. Hãy thử lại!`, "THÔNG BÁO"); 
							}
							return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
						}
					},
					error: function(err) {
						return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
					}
				});
		});

		

		$(function(){
			$('#table-infomation-user').DataTable({
				dom:            'ftip',
				stateSave:      saveState,
				retrieve:       true,
				autoWidth:      false,
				info:           true,
				paging:         false,
				scrollY:        false,
				scrollX:        true,
				scrollCollapse: false,
				fixedHeader:    true,
				fixedColumns:   {
					leftColumns: 1
				},
			});
		});

		$(document).on("click", ".notify-item", function(e){
			e.preventDefault();
			let notificationID = $(this).attr("_notifyid");
			let url = $(this).attr("_notiUrl");

			if(url){
				$.ajax({
					url: `/notification/update-status-notification/${notificationID}`,
					method: 'get',
					success: resp => {
						if (!resp.error){
							$(this).empty();
							return location.href = url;
						}else{
							return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
						}
					},
					error: function(err) {
						return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
					}
				});
			}
		});

		let endNotify = false;
		$('.wrapper-notification').scroll(function() {
			const wrapNotify = $('.wrapper-notification');
			const wrapHeight = wrapNotify.height()
			const wrapScroll = wrapNotify.scrollTop();
			const wrapScrollHeight = wrapNotify[0].scrollHeight;

			// console.log({ wrapHeight, wrapScroll, wrapScrollHeight, endNotify: !endNotify });

			if((wrapHeight + wrapScroll) === wrapScrollHeight && !endNotify) {
				const skip = wrapNotify.find('li').length;

				$.ajax({
					type: "GET",
					url: `<%= CF_ROUTINGS_NOTIFICATION.LIST_NOTIFICATIONS %>?skip=${skip}`
				}).done(resp => {
					const { error, data, message } = resp;

					if(error){
						return toastr.error(`Có lỗi: ${message}`, "THÔNG BÁO");
					}

					if(!data || !data.length){
						return endNotify = true;
					}

					data.map(notify => {
						const description = notify.description.length > 30 ? 
							notify.description.slice(0, 30).concat("...") : notify.description;

						wrapNotify.append(`
							<li class="notify-item active" _notifyID="${notify._id}" _notiUrl="${notify.url}">
								<a href="#" class="notify-link">
									<span class="icon">
										<i class="icon-fire"></i>
									</span>
									<div class="details">
										<p>
											<span>${notify.title}</span>
											<p style="font-size: 13px">
												${moment(notify.createAt).format('LL')} lúc 
												${moment(notify.createAt).format('LT')}
											</p>
											<p> ${description} </p>
										</p>
									</div>
								</a>
							</li>
						`);
					})
				}).fail(err => console.error(err))
			}
		});

	});
</script>