<script>
    $(document).ready(function(){

        function addCategoryToLocalStorage(categoryID, categoryName, value, type) {
            let listCategory = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');

            // Thêm danh mục vào localStorage
            if(listCategory){
                listCategory = JSON.parse(listCategory);

                let isHaveCategory = listCategory.findIndex(category => category.categoryID === categoryID);
                if(isHaveCategory === -1){
                    listCategory = [...listCategory, {
                        categoryID,
                        categoryName,
                        value,
						type
                    }]
                }
            }else{
                listCategory = [{
                    categoryID,
                    categoryName,
                    value,
					type
                }]
            }

            localStorage.setItem('PRODUCT_CATEGORY_CHOOSED', JSON.stringify(listCategory));
        }

        function removeCategoryToLocalStorage(categoryID) {
            let listCategory = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');

            // Xóa danh mục khi back
            if(listCategory){
                listCategory = JSON.parse(listCategory);
                listCategory = listCategory.filter(category => category.categoryID !== categoryID);
                localStorage.setItem('PRODUCT_CATEGORY_CHOOSED', JSON.stringify(listCategory));
            }
        }

        async function analyse() {
            return new Promise(async resolve => {
                let infoAgencyChoosed   = localStorage.getItem('AGENCY_CHOOSED');
                let listCategoryChoosed = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');

                if(listCategoryChoosed && infoAgencyChoosed){
                    listCategoryChoosed = JSON.parse(listCategoryChoosed);
                    localStorage.removeItem('PRODUCT_CATEGORY_CHOOSED');

                    let listCategoryID = listCategoryChoosed.map(category => category.categoryID);
                    let agencyChoosed  = JSON.parse(infoAgencyChoosed) || {};
                    localStorage.removeItem('AGENCY_CHOOSED');

                    $.ajax({
                        type: "POST",
                        url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.CALCULATE_PRICED %>`,
                        data: { categories: listCategoryChoosed, agencyID: agencyChoosed.agencyID },
                    }).done(resp => {
                        const { error, message, data: analysePrice } = resp;

                        if(error){
                            return resolve({ error: true, message });
                        }

                        let categoriesChoosed = listCategoryChoosed.map(category => category.categoryName).join(', ');

                        $('#txtAgencyNameModal').val(agencyChoosed.agencyName);
                        $('#txtCategoriesModal').val(categoriesChoosed);
                        cleaveOnlinePricing.setRawValue(analysePrice);

                        resolve({ error: false, analysePrice });
                    }).fail(err => resolve({ error: true, message: err }));
                } else{
                    resolve({ error: true, message: `Có lỗi trong quá trình định giá` });
                }

            })
        }

        async function getListAgencyHasCategories(categories) {
            return new Promise(async resolve => {
                $.ajax({
                    type: "POST",
                    url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_AGENCY_HAS_CATEGORIES %>`,
                    data: { categories },
                }).done(resolve).fail(resolve)
            })
        }

        let cleaveOnlinePricing = new Cleave('#txtPricingModal', {
            numeral: true,
            numeralDecimalMark: ',',
            delimiter: '.'
        });

		$('.input-text-field').toArray().forEach(function(field){
			new Cleave(field, {
				numeral: true,
				numeralThousandsGroupStyle: 'thousand'
			});
		});

        $('#slAgency').select2();

        $(document).on('click', '.item-checkbox', function () {
            $(this).toggleClass('active');
            $(this).find('p.text--blue_dark').toggleClass('active');
            $(this).find('.fa-check').toggleClass('invisible');

            const hasActive         = $(this).hasClass('active');
            const _categoryID       = $(this).parent().attr('_categoryID');
            const _categoryName     = $(this).parent().attr('_categoryName');
            const _categoryPrice    = $(this).parent().attr('_categoryPrice');

            if(hasActive && _categoryPrice){
                addCategoryToLocalStorage(_categoryID, _categoryName, _categoryPrice);
            } else{
                removeCategoryToLocalStorage(_categoryID);
            }
        });

        $(document).on('click', '.btn-proceed-price-product, .last-product-category', async function (e) {
            e.preventDefault();

            const _categoryID       = $(this).attr('_categoryID');
            const _categoryName     = $(this).attr('_categoryName');
            const _categoryPrice    = $(this).attr('_categoryPrice');
			let _infoFields			= $(this).attr('_infoFields');

            if(_categoryID){
                addCategoryToLocalStorage(_categoryID, _categoryName, _categoryPrice);
            } else{
                $(this).hide();
            }

			// Check fields is input (text field, dropdown)
			if(_infoFields){
				_infoFields = JSON.parse(_infoFields);

				_infoFields.length && _infoFields.map(item => {
					if(item.type === 2){
						const value = $(`.field--item .input-text-field[_categoryID=${item.categoryID}]`).val().replaceAll(',','');
						addCategoryToLocalStorage(item.categoryID, item.categoryName, value, item.type);
					}

					if(item.type === 3){
						const value = $(`.dropdown--item .select-dropdown-item[_categoryID=${item.categoryID}]`).val();
						addCategoryToLocalStorage(item.categoryID, item.categoryName, value, item.type);
					}
				})
			}

            // Get list agency has categories and set again select 2
            let categories = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');
            if(categories){
                categories = JSON.parse(categories);
                categories = categories.map(category => category.categoryID);

                const { data: listAgencyHasCategories } = await getListAgencyHasCategories(categories);
                if(listAgencyHasCategories && listAgencyHasCategories.length){
                    listAgencyHasCategories.map(agency => {
                        $('#slAgency').append(`
                            <option value="${agency._id}">
                                ${agency.name}
                            </option>
                        `);
                    })
                }

            }

            $('.form-select-agency').removeClass('d-none');
            $('.btn-select-agency').removeClass('d-none');
            $('.btn-back').addClass('d-none');
            $('.container--list').addClass('d-none');
            $('.text-parent').addClass('d-none');
        });

		$('.list--link').on('click', function (e) {
            e.preventDefault();

            const _categoryID       = $(this).attr('_categoryID');
            const _categoryName     = $(this).attr('_categoryName');
            const _categoryPrice    = $(this).attr('_categoryPrice');
			const _specialCategory	= $(this).attr('_specialCategory');
            const _href             = $(this).attr('href');

            addCategoryToLocalStorage(_categoryID, _categoryName, _categoryPrice);

			// Check special category is last category
			if(_specialCategory && _specialCategory == 6){
				$('.btn-proceed-price-product').trigger('click');
			} else{
				location.href = _href;
			}
        });

        $('.btn-back').on('click', function (e) {
            e.preventDefault();

			const listCategoryCheckbox = $('.item-checkbox');
			if(listCategoryCheckbox.length){
				listCategoryCheckbox.each((_, checkbox) => {
					const _categoryID = $(checkbox).parent().attr('_categoryid');
					removeCategoryToLocalStorage(_categoryID);
				})
			}

            const _href             = $(this).attr('href');
            const _parentCategory   = $(this).attr('_parentCategory');

            removeCategoryToLocalStorage(_parentCategory);
            location.href = _href;
        });

        $('.btn-select-agency').on('click', function () {
            const agencyID = $('#slAgency').val();
            if(!agencyID){
                return toastr.warning(`Bạn chưa chọn đại lý`, "THÔNG BÁO");
            }

            const agencyName = $(`#slAgency option[value=${agencyID}]`).text().trim();
            localStorage.setItem('AGENCY_CHOOSED', JSON.stringify({ agencyID, agencyName }));

            $('.form-select-agency').addClass('d-none');
            $('.btn-select-agency').addClass('d-none');

            $('.form-pricing-request').removeClass('d-none');
            $('.container--list').addClass('d-none');
			$('.btn-back').addClass('d-none');
            $('.text-parent').addClass('d-none');
        });

		$('.btn-next-step').on('click', function (e) {
			e.preventDefault();

			let infoFields = $(this).attr('_infoFields');
			if(!infoFields) return toastr.warning(`Có lỗi xảy ra`, "THÔNG BÁO");;

			infoFields = JSON.parse(infoFields);
			infoFields.length && infoFields.map(item => {
				if(item.type === 2){
					const value = $(`.field--item .input-text-field[_categoryID=${item.categoryID}]`).val().replaceAll(',','');
					addCategoryToLocalStorage(item.categoryID, item.categoryName, value, item.type);
				}

				if(item.type === 3){
					const value = $(`.dropdown--item .select-dropdown-item[_categoryID=${item.categoryID}]`).val();
					addCategoryToLocalStorage(item.categoryID, item.categoryName, value, item.type);
				}
			})

			location.href = `/step-by-choose?category=${infoFields[0].categoryID}`;
		});

        $('.btn-send-pricing-request').on('click', async function () {
            let agency = localStorage.getItem('AGENCY_CHOOSED');
            if(agency){
                agency = JSON.parse(agency);
                agency = agency.agencyID;
            }
            let phone_regex   = /((09|03|07|08|05)+([0-9]{8})\b)/g;

            let fullname      = $('#txtFullname').val().trim();
            let phone         = $('#txtPhone').val().trim();
            let email         = $('#txtEmail').val().trim();
			let note		  = $('#txtNote').val().trim();
            let categories    = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED') || [];

            if(!phone || !fullname){
                return toastr.warning(`Xin vui lòng nhập đầy đủ số điện thoại và họ tên`, "THÔNG BÁO");
            }

            if (phone_regex.test(phone) == false){
                return toastr.warning(`Số điện thoại của bạn không đúng định dạng`, "THÔNG BÁO");
            }

			if(!email || !validateEmail(email)){
                return toastr.warning(`Email không hợp lệ`, "THÔNG BÁO");
			}

			if(!agency){
                return toastr.warning(`Bạn chưa chọn đại lý`, "THÔNG BÁO");
			}

            if(categories){
                categories = JSON.parse(categories);
                categories = categories.map(category => category.categoryID);
            }

            const { error, message, analysePrice: priced } = await analyse();
            if(error){
                return toastr.warning(message, "THÔNG BÁO");
            }
            // console.log({ agency, name: fullname, email, phone, note, categories, priced });

            $.ajax({
                type: "POST",
                url: `<%= CF_ROUTINGS_PRICING_REQUEST.ADD_PRICING_REQUEST %>`,
                data: { agency, name: fullname, email, phone, note, categories, priced },
            }).done(resp => {
                const { error, message, data } = resp;

                if(error){
                    return toastr.warning(`Có lỗi xảy ra trong quá trình gửi yêu cầu định giá: ${message}`, "THÔNG BÁO");
                }

                if(agency){
                    socketAgency.emit('CSS_PRICING_REQUEST', {
						agencyID: agency,
						requestID: data._id,
						fullname
					});
                }

                $('.modal-online-pricing').modal('show');
            }).fail(err => console.error(err))
        });

        $('.modal-online-pricing').on('hidden.bs.modal', function () {
            location.href = '/';
        });

		// Load step category choosed
		let listStepCategoryChoosed = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');
		if(listStepCategoryChoosed){
			listStepCategoryChoosed = JSON.parse(listStepCategoryChoosed);
			let htmlStepCategoryChoosed = '';

			listStepCategoryChoosed.length && listStepCategoryChoosed.map((category, index) => {
				let { categoryID, categoryName } = category;

				htmlStepCategoryChoosed += `
					<li class="text--blue_dark my-2">
						<span class="step-category-number" _categoryID="${categoryID}">${index + 1}</span>
						${categoryName}
					</li>
				`;
			})
			$('.list-step-category-choosed').html(htmlStepCategoryChoosed);
			$('.list-step-category-choosed li:last-child .step-category-number').addClass('active');
		}

		// Skip step
		$('.step-category-number').on('click', function () {
			let categoryIDSelected 		= $(this).attr('_categoryID');
			let listStepCategoryChoosed = localStorage.getItem('PRODUCT_CATEGORY_CHOOSED');

			if(listStepCategoryChoosed){
				listStepCategoryChoosed = JSON.parse(listStepCategoryChoosed);

				let index = undefined;
				listStepCategoryChoosed.map((category, i) => {
					let categoryID = category.categoryID;

					if(categoryID === categoryIDSelected){
						index = i;
					}

					if(!isNaN(index) && i > index){
						removeCategoryToLocalStorage(categoryID);
					}
				})
			}

			// $('#id',$($.makeArray(array)));
			location.href = `/step-by-choose?category=${categoryIDSelected}`;
		});

		if (window.history && window.history.pushState) {
			window.history.pushState('forward', null, './#forward');

			$(window).on('popstate', function() {
				location.href = '/';
			});
		}

        // ---------------------------------------------------------------------

		// Nothing...
		<% if (!listProductCategory || !listProductCategory.length) { %>
			$('.btn-proceed-price-product').trigger('click');
		<% } %>        
    })
</script>
