<div style="text-align: center;" class="not-found">
    <br>
    <img src="../../../../template/new-admin/img/error.png" width="12%" w alt="no_result">
    <h4 style="color: #999; margin-top: 20px;">Không tìm thấy kết quả nào</h4>
    <h6 style="color: #999;">Chúng tôi chưa thể tìm thấy dữ liệu ở trang này</h6>
</div>
