<script>
    moment.locale('vi');

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

	const languageDataTable = {
		"language": {
			"lengthMenu": "Hiển thị _MENU_ kết quả",
			"search": "Tìm kiếm",
			"zeroRecords": "Không tìm thấy kết quả trùng khớp",
			"info": "Trang _PAGE_ tổng _PAGES_ kết quả",
			"infoEmpty": "Không tìm thấy kết quả",
			"infoFiltered": "(lọc từ _MAX_ kết quả hiện có)",
			"paginate": {
				"first":      "Trang đầu tiên",
				"last":       "Trang cuối cùng",
				"next":       "Trang tiếp",
				"previous":   "Trang trước"
			},
		},
	}

    let disableAndLoading = (that) => {
        $(that).text('').html(`
            <img style="height: 30px;" src="/template/new-admin/img/icon-loading.gif" > Vui lòng chờ</img>
        `);
        $(that).attr("disabled", true);
    }

    let enableAndStopLoading = (that) => {
        $(that).text('Xác Nhận');
        $(that).attr("disabled", false);
    }

    let enableAndStopLoading2 = (that, text) => {
        $(that).text(text);
        $(that).attr("disabled", false);
    }
    // Giới hạn số lượng hình ảnh
    // author: SonLP
    function limitImage(input){
        var $fileUpload = $(input);
        return parseInt($fileUpload.get(0).files.length);
    };
    // Set error input
    // Auhtor: SonLP
    function setError( input, errorMessage){
        // console.log({input})
        $(input).addClass("error");
        // console.log($(input).parent().find('small'));
        $(input).parent().find('small').addClass("errors");
        $(input).parent().find('small').text(errorMessage);
        $(input).parent().find('small').css("display", "block");
    };

     //Set input error
    function setError2( input, errorMessage){
        // console.log({input})
        $(input).addClass("error");
        $(input).parent().find('.error-card-product').addClass("errors");
        $(input).parent().find('.error-card-product').text(errorMessage);
        $(input).parent().find('.error-card-product').show();
    };

    // Set success input
    // Auhtor: SonLP
    function setSuccess( input ){
        $(input).removeClass("error");
        $(input).parent().find('small').removeClass("errors");
    };

    // Set input success
    function setSuccess2( input ){
        $(input).removeClass("error");
        $(input).parent().find('.error-card-product').removeClass("errors");
    };

    // xóa ký tự
    // Auhtor: SonLP
    function replaceAll(str, find, replace) {
        return str.replace(new RegExp(find, 'g'), replace);
    }
    // cleavejs
    // Auhtor: SonLP
    function runCleave(input) {
        $(input).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });
    }
    //formatter thêm dấu phẩy
    // example : formatter.format(200000) =  200,000
    // Auhtor: SonLP
    var formatter = new Intl.NumberFormat('en-US');

    function delay(callback, ms) {
		var timer = 0;
		return function() {
			var context = this, args = arguments;
			clearTimeout(timer);
			timer = setTimeout(function () {
			callback.apply(context, args);
			}, ms || 0);
		};
	}

    function debounce (fn, delay) {
        return args => {
            clearTimeout(fn.id)
            // console.log({ id: fn.id });s
            fn.id = setTimeout(() => {
                fn.call(this, args)
            }, delay)
        }
    }

    var ChuSo=new Array(" không "," một "," hai "," ba "," bốn "," năm "," sáu "," bảy "," tám "," chín ");
    var Tien=new Array( "", " nghìn", " triệu", " tỷ", " nghìn tỷ", " triệu tỷ");

    //1. Hàm đọc số có ba chữ số;
    function DocSo3ChuSo(baso)
        {
            var tram;
            var chuc;
            var donvi;
            var KetQua="";
            tram=parseInt(baso/100);
            chuc=parseInt((baso%100)/10);
            donvi=baso%10;
            if(tram==0 && chuc==0 && donvi==0) return "";
            if(tram!=0)
            {
                KetQua += ChuSo[tram] + " trăm ";
                if ((chuc == 0) && (donvi != 0)) KetQua += " linh ";
            }
            if ((chuc != 0) && (chuc != 1))
            {
                    KetQua += ChuSo[chuc] + " mươi";
                    if ((chuc == 0) && (donvi != 0)) KetQua = KetQua + " linh ";
            }
            if (chuc == 1) KetQua += " mười ";
            switch (donvi)
            {
                case 1:
                    if ((chuc != 0) && (chuc != 1))
                    {
                        KetQua += " mốt ";
                    }
                    else
                    {
                        KetQua += ChuSo[donvi];
                    }
                    break;
                case 5:
                    if (chuc == 0)
                    {
                        KetQua += ChuSo[donvi];
                    }
                    else
                    {
                        KetQua += " lăm ";
                    }
                    break;
                default:
                    if (donvi != 0)
                    {
                        KetQua += ChuSo[donvi];
                    }
                    break;
                }
            return KetQua;
        }

    function DocTienBangChu(SoTien)
        {
            var lan=0;
            var i=0;
            var so=0;
            var KetQua="";
            var tmp="";
            var ViTri = new Array();
            if(SoTien<0) return "Số tiền âm !";
            if(SoTien==0) return "Không đồng !";
            if(SoTien>0)
                {
                    so=SoTien;
                }
            else
                {
                    so = -SoTien;
                }
            if (SoTien > 8999999999999999)
                {
                    //SoTien = 0;
                    return "Số quá lớn!";
                }
            ViTri[5] = Math.floor(so / 1000000000000000);
            if(isNaN(ViTri[5]))
                ViTri[5] = "0";

            so = so - parseFloat(ViTri[5].toString()) * 1000000000000000;
            ViTri[4] = Math.floor(so / 1000000000000);

            if(isNaN(ViTri[4]))
                ViTri[4] = "0";
            so = so - parseFloat(ViTri[4].toString()) * 1000000000000;
            ViTri[3] = Math.floor(so / 1000000000);

            if(isNaN(ViTri[3]))
                ViTri[3] = "0";

            so = so - parseFloat(ViTri[3].toString()) * 1000000000;
            ViTri[2] = parseInt(so / 1000000);

            if(isNaN(ViTri[2]))
                ViTri[2] = "0";
            ViTri[1] = parseInt((so % 1000000) / 1000);

            if(isNaN(ViTri[1]))
                ViTri[1] = "0";
            ViTri[0] = parseInt(so % 1000);
            if(isNaN(ViTri[0]))
                ViTri[0] = "0";
            if (ViTri[5] > 0)
            {
                lan = 5;
            }
            else if (ViTri[4] > 0)
            {
                lan = 4;
            }
            else if (ViTri[3] > 0)
            {
                lan = 3;
            }
            else if (ViTri[2] > 0)
            {
                lan = 2;
            }
            else if (ViTri[1] > 0)
            {
                lan = 1;
            }
            else
            {
                lan = 0;
            }
            for (i = lan; i >= 0; i--)
            {
                tmp = DocSo3ChuSo(ViTri[i]);
                KetQua += tmp;
                if (ViTri[i] > 0) KetQua += Tien[i];
                if ((i > 0) && (tmp.length > 0)) KetQua += ',';//&& (!string.IsNullOrEmpty(tmp))
            }
            if (KetQua.substring(KetQua.length - 1) == ',')
            {
                    KetQua = KetQua.substring(0, KetQua.length - 1);
            }
            KetQua = KetQua.substring(1,2).toUpperCase()+ KetQua.substring(2);
            return KetQua;//.substring(0, 1);//.toUpperCase();// + KetQua.substring(1);
        }
    
    // const debounceAjax = debounce(ajax, 1000)

    // document.querySelector('#debounce').addEventListener('keyup', e => {
    // 	debounceAjax(e.target.value)
    // })
    function readURL(input, idImage, type) {
        if ( input.files && input.files[0] ) {
            // console.log({ files: input.files });
            for (let  i = 0; i < input.files.length; i++){
                // console.log({ img: input.files[i] });
                // var reader = new FileReader();
                
                let src = URL.createObjectURL(input.files[i]);
                // console.log({ src });
                
                // reader.onload = function (e) {
                
                //     console.log({ e });
                //     console.log({ ____input : input.files[i] });
                    $(idImage).append(`
                        <div class="img-wraps" data-src="${src}">
                            <span class="close deleteImage" _type="${type}" _imgName="${input.files[i].name}" _imageID = "">&times;</span>

                            <a data-src="${src}" href="${src}" class="effects khongtrung">
                                <img style="object-fit: cover;" src="${src}" value="${input.files[i].name}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
                                <div class="overlay">
                                </div>
                            </a>
                        </div>
                    `);
            //    }

            //     reader.readAsDataURL(input.files[i]); 
            }
        }
    }
    
    function debounce(func, timeout = 300){
		let timer;
		return (...args) => {
			clearTimeout(timer);
			timer = setTimeout(() => { func.apply(this, args); }, timeout);
		};
	}
	function saveInput(){
		console.log('Saving data');
	}
	// const processChange = debounce(() => saveInput());

    function changeLightGallery({ lightGallery, input }){
        if ( lightGallery ){
            $(".lg-backdrop").remove();
            $(".lg-outer").remove();
            
            $(input).data('lightGallery').destroy(true);
        }

        lightGallery = $(input).lightGallery({
            thumbnail:true,
            // dynamicEl: [{
            // 	"src": 'http://sachinchoolur.github.io/lightGallery/demos/dynamic.html',
            // 	'iframe' : true
            // }]
        });
    }

    function isInt(value) { 
        return !isNaN(parseInt(value,10)) && (parseFloat(value,10) == parseInt(value,10)); 
    }

    function goBack() {
        window.history.back();
    }

    $(document).ready(function () {

        //Active menu children
        $(".child-selected").closest("ul").attr("aria-expanded", "true");
        $(".child-selected").closest("ul").addClass("in");
        $(".child-selected").closest("a").attr("aria-expanded", "true");
        $(".child-selected").parents("li").addClass("active selected");
        $(".child-selected a").addClass("current-page");

		<% if(!agencyChoosed){ %>
			$('.modal-choose-agency').modal('show');
		<% } %>

        $(".btnLogout").click(function(e){
            e.preventDefault();
			localStorage.removeItem("token_agency");
			location.href = `<%= CF_ROUTINGS_COMMON.LOGOUT %>`;
        })

        $(".btnUpdateUser").click(function(e){
			e.preventDefault();
			$(".modal-update-infoUser").modal('show');
		});

		$(".btnConfirmUpdatePassword").click(function(e){
			e.preventDefault();
			let userID = $(this).attr("_userID");
			let oldPassword = $("#oldPassword").val();
			let password = $("#password").val();
			let newPassword = $("#newPassword").val();

			if(!oldPassword){
				return toastr.warning(`Vui lòng nhập mật khẩu cũ`, "THÔNG BÁO"); 
			}
			if(!password){
				return toastr.warning(`Vui lòng nhập mật khẩu mới`, "THÔNG BÁO"); 
			}
			if(!newPassword){
				return toastr.warning(`Vui lòng xác nhận mật khẩu mới`, "THÔNG BÁO"); 
			}

			if(password.toString() != newPassword.toString()){
				return toastr.warning(`Xác nhận mật khẩu mới không trùng khớp`, "THÔNG BÁO"); 
			}

			$.ajax({
                url: `<%= CF_ROUTINGS_USER.UPDATE_USER %>`,
                method: 'post',
                data: {oldPassword, password, userID},
                success: resp => {
                    console.log({ resp });
                    let { message } = resp;
                    if (!resp.error){
                        toastr.success(`Cập nhật mật khẩu thành công`, "THÔNG BÁO"); 
                        setTimeout(() => {
                            return location.reload();
                        }, 700);
                    }else{
                        if(message && message == "old_password_wrong"){
                            return toastr.warning(`Mật khẩu không đúng. Hãy thử lại!`, "THÔNG BÁO"); 
                        }
                        return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
                    }
                },
                error: function(err) {
                    return toastr.error(`Có lỗi trong quá trình sảy ra. Vui lòng thử lại`, "THÔNG BÁO"); 
                }
            });

		});

		$(function(){
			$('#table-infomation-user').DataTable({
				dom:            'ftip',
				// stateSave:      saveState,
				retrieve:       true,
				autoWidth:      false,
				info:           true,
				paging:         false,
				scrollY:        false,
				scrollX:        true,
				scrollCollapse: false,
				fixedHeader:    true,
				fixedColumns:   {
					leftColumns: 1
				},
				...languageDataTable
			});
		});

        $('.btn-change-agency').on('click', function () {
            $('.modal-choose-agency').modal('show');
        });

        $('.btnChooseAgency').on('click', function () {
            const agencyID = $('#slChooseAgency').val();

            $.ajax({
                type: "GET",
                url: `<%= CF_ROUTINGS_COMMON.CHOOSE_AGENCY %>?agencyID=${agencyID}`,
            }).done(resp => {
                const { error, message } = resp;

                if(error){
                    return toastr.error(`Có lỗi trong quá trình chọn đại lý: ${message}`, "THÔNG BÁO");
                }

                setTimeout(() => location.reload(), 1000);
            }).fail(err => console.error(err))

            $('.modal-choose-agency').modal('hide');
        });

		$(document).on('click', '.notify-link', function (e) {
			e.preventDefault();

			const notifyID = $(this).parent().attr('_notifyID').trim();

			if(notifyID){
                $.ajax({
                    type: "GET",
                    url: `<%= CF_ROUTINGS_NOTIFICATION.UPDATE_STATUS_NOTIFICATION %>?notifyID=${notifyID}&status=1`,
                }).done(resp => {
                    $(this).parent().removeClass('active');
					location.href = $(this).attr('href');
                }).fail(err => console.error(err))
            }
		});

		let endNotify = false;
		$('.wrapper-notification').scroll(function() {
			const wrapNotify = $('.wrapper-notification');
			const wrapHeight = wrapNotify.height()
			const wrapScroll = wrapNotify.scrollTop();
			const wrapScrollHeight = wrapNotify[0].scrollHeight;

			// console.log({ wrapHeight, wrapScroll, wrapScrollHeight, endNotify: !endNotify });

			if((wrapHeight + wrapScroll) === wrapScrollHeight && !endNotify) {
				const skip = wrapNotify.find('li').length;

				$.ajax({
					type: "GET",
					url: `<%= CF_ROUTINGS_NOTIFICATION.LIST_NOTIFICATIONS %>?skip=${skip}`
				}).done(resp => {
					const { error, data, message } = resp;

					if(error){
						return toastr.error(`Có lỗi: ${message}`, "THÔNG BÁO");
					}

					if(!data || !data.length){
						endNotify = true;
						return;
					}

					data.map(notify => {
						wrapNotify.append(`
							<li class="notify-item active" _notifyID="${notify._id}">
								<a href="${notify.url}" class="notify-link">
									<span class="icon">
										<i class="icon-fire"></i>
									</span>
									<div class="details">
										<p>
											<span>${notify.title}</span>
											${notify.description}
										</p>
									</div>
								</a>
							</li>
						`);
					})
				}).fail(err => console.error(err))

			}
		});

    });
</script>
