<script>
    $(document).ready(function(){
		$(function(){
            $('.table-list-product-category').DataTable({
                'iDisplayLength': 10,
				// "scrollY": "1000px",
                // "scrollX": true,
                // "scrollCollapse": true,
                // "paging": false,
				// "aoColumns" : [
                //     { sWidth: '5%' },
                //     { sWidth: '5%' },
                //     { sWidth: '15%' },
                //     { sWidth: '5%' },
                //     { sWidth: '5%' },
                //     { sWidth: '10%' },
                //     { sWidth: '5%' },
                //     { sWidth: '10%' },
                //     { sWidth: '5%' },
                //     { sWidth: '5%' },
                //     { sWidth: '10%' },
                // ],
				...languageDataTable
            });
        });

        // ----------------------------------------------------------------------------------------------------------

        let arrCategoryID   = [];
        let arrCategoryName = [];

		const setValueUpdateForm = params => {
			const { 
				priceAgency, parentID, categoryID, categoryName, categoryStatus, 
				interestAgency, percentValue, dropDown
			} = params;

			parentID        && $('#txtParentIDUpdateModal').val(parentID);
			categoryID      && $('#txtCategoryIDUpdateModal').val(categoryID);
			categoryName    && $('#txtNameProductCategory').val(categoryName);
			categoryStatus  && $('#slStatusCategoryUpdateModal').val(categoryStatus);
		}

		const getInfoProductCategory = async categoryID => {
			return new Promise(resolve => {
				$.ajax({
					type: "GET",
					url: `<%= CF_ROUTINGS_PRODUCT_CATEGORY.INFO_PRODUCT_CATEGORY %>?categoryID=${categoryID}`,
				}).done(resolve).fail(resolve);
			})
		}

		$('.cb-choose-product-category').on('change', function () {
			const isChecked     = $(this).prop('checked');
			const categoryID    = $(this).attr('_categoryID').trim();
            const categoryName  = $(this).attr('_categoryName').trim();

			arrCategoryID   = isChecked ? [...new Set([...arrCategoryID, categoryID])] 
										: arrCategoryID.filter(ID => ID !== categoryID);

            arrCategoryName = isChecked ? [...new Set([...arrCategoryName, categoryName])] 
										: arrCategoryName.filter(NAME => NAME !== categoryName);
		});

        $('.btn-update-product-category').on('click', function () {
            $('.modal-update-price-category').modal('show');
            $('#txtNameProductCategory').val(arrCategoryName.join(', '));
        });

        $('.btn-update-price-category').on('click', function () {
            const parentID = $(this).attr('_parentID');
            const categoryID = $(this).attr('_categoryID');
            const categoryName = $(this).attr('_categoryName');
            const categoryStatus = $(this).attr('_categoryStatus');
            const interestAgency = $(this).attr('_interestAgency');
            const percentValueAgency = $(this).attr('_percentValueAgency');

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_AGENCY_PRODUCT_CATEGORY.INFO_CATEGORY_AGENCY %>?categoryID=${categoryID}`
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					if(message !== 'not_found_price_agency_category'){
						return toastr.warning(`Có lỗi xảy ra: ${message}`, "THÔNG BÁO");
					}

					(async () => {
						const { error, message, data } = await getInfoProductCategory(categoryID);
						if(error){
							// const priceAgency = $(`.tr-product-category-${categoryID} td:nth-child(7)`).text().trim();
							return toastr.warning(`Có lỗi xảy ra: ${message}`, "THÔNG BÁO");
						}

						const { name, price, percentValue, dropDown } = data;
						const dataUpdate = {
							priceAgency: price,
							parentID,
							categoryID,
							categoryName: name,
							categoryStatus,
							interestAgency,
							percentValue: percentValue,
							dropDown
						}
						setValueUpdateForm(dataUpdate);
					})()

				} else{
					const { price, percentValue, status, interestDefault, dropDown, product_category } = data;
					const dataUpdate = {
						priceAgency: price,
						parentID,
						categoryID: product_category._id,
						categoryName: product_category.name,
						categoryStatus: status,
						interestAgency: interestDefault,
						percentValue,
						dropDown: dropDown || product_category.dropDown
					}
					setValueUpdateForm(dataUpdate);
				}

				$('.modal-update-price-category').modal('show');
			}).fail(err => toastr.warning(err.message, "THÔNG BÁO"))

        })

        $('.btnConfirmUpdatePriceCategory').on('click', function () {
			const agencyID 		    = `<%= agencyChoosed && agencyChoosed._id %>`;
            const parentID          = $('#txtParentIDUpdateModal').val();
            const categoryID        = $('#txtCategoryIDUpdateModal').val();
            const status            = $('#slStatusCategoryUpdateModal').val();
            const interest          = $('#txtInterestCategoryUpdateModal').val();
			const percentValue		= $('#txtPercentValueUpdateModal').val();
            const price             = cleavePriceAgency.getRawValue();
			const listCategoryID    = categoryID ? [categoryID] : [...arrCategoryID];

			if(!agencyID){
				return toastr.error(`Hiện tại bạn không thuộc đại lý nào cả`, "THÔNG BÁO");
			}
			if(!price){
				return toastr.error(`Bạn cần nhập giá cho danh mục`, "THÔNG BÁO");
			}
            if(!listCategoryID.length){
				return toastr.error(`Bạn chưa chọn danh mục để cập nhật`, "THÔNG BÁO");
            };

			let listItemDropdown = $('.row-dropdown-item:not(.d-none)').toArray();
			if(listItemDropdown.length){
				listItemDropdown = listItemDropdown.map(item => {
					const itemId = $(item).attr('_dropdownID').trim();
					const itemText = $(item).find('.input-property-dropdown').val().trim();
					const itemValue = $(item).find('.input-value-dropdown').val().replaceAll(',','');

					return { text: itemText, value: itemValue, _id: itemId };
				})
			}

            $.ajax({
                type: "POST",
                url: `<%= CF_ROUTINGS_AGENCY_PRODUCT_CATEGORY.UPDATE_AGENCY_PRODUCT_CATEGORY %>`,
                data: { parentID, agencyID, listCategoryID, price, percentValue, interest, listItemDropdown, status },
            })
            .done(resp => {
                const { error, message } = resp;

                if(error){
                    return toastr.error(`Có lỗi trong quá trình cập nhật: ${message}`, "THÔNG BÁO");
                }

                toastr.info(`Cập nhật thành công`, "THÔNG BÁO");
                setTimeout(() => location.reload(), 1000);
            })
            .fail(err => console.error(err))
            .always(() => $('.modal-update-price-category').modal('hide'))
        });

        $('.modal-update-price-category').on('hidden.bs.modal', function() {
            $('#txtCategoryIDUpdateModal').val('');
            $('#txtPriceCategoryUpdateModal').val('');
        })

        $('#btn-upload-multi-file').on('click', async function () {
            const files1 = $('#input-upload-multi-file-1').prop('files');
            const files2 = $('#input-upload-multi-file-2').prop('files');

            const multiInput = [
                {
                    files: files1,
                    type: 'list_image_1'
                },
                {
                    files: files2,
                    type: 'list_image_2'
                }
            ];

            console.log({ files1, files2, multiInput });

            const listUrl = await addFileToUpload(multiInput, links => {
                console.log('Upload success: ', links);
            }, (percentage, type) => {
                percentage = +percentage + '%';

                switch (type) {
                    case 'list_image_1':
                        $('.progress1').css({ width: percentage });
                        break;
                    case 'list_image_2':
                        $('.progress2').css({ width: percentage });
                        break;
                    default:
                        break;
                }

            }, '.container-image-preview');

            console.log({ __listUrl: listUrl() });

            // const listUrl = await addFileToUpload(files, '.container-image-preview', (links) => {
            //     console.log('Upload success: ', links);
            // });
        });

		$('.cb-check-all-product-category').on('change', function () {
			const isCheckAll = $(this).prop('checked');
			$('.cb-choose-product-category').prop('checked', isCheckAll ? true : false).trigger('change');
		});

    })





























	// function htmlRowCategory(params) {
	//     const { _id, name, description, parent, childs, priceAgency, type } = params;

	//     // Check last product category to analyse
	//     let hasChilds = true;
	//     if(!childs || !childs.length){
	//         hasChilds = false;
	//     }

	//     if(type == 1){
	//         return `
	//             <a class="${hasChilds ? 'product-category' : 'last-product-category' } product-category-${name}" 
	//                 href="javascript:void(0)"
	//                 class="list--link"
	//                 _categoryID="${_id}"
	//                 _parentCategory="${parent}"
	//                 _price="${priceAgency}">
	//                 <div class="link--item border border-top-0 px-3 py-3 d-flex justify-content-between">
	//                     <p class="text--blue_dark text-small m-0">
	//                         <div class="content-category" style="flex-grow: 2">
	//                             ${name}
	//                             <div class="text-description">
	//                                 ${description}
	//                             </div>
	//                         </div>
	//                     </p>
	//                     <div>
	//                         <i class="fa fa-chevron-right pull-right pt-1 arrow-right" aria-hidden="true"></i>
	//                     </div>
	//                 </div>
	//             </a>
	//         `;
	//     } else{
	//         return `
	//             <a class="product-category-${_id}" href="javascript:void(0)" class="list--link list--link_multi">
	//                 <div class="link--item item-checkbox border border-top-0 px-3 py-3" _price="${priceAgency}">
	//                     <p class="text--blue_dark text-small m-0">
	//                         <div class="content-category" style="flex-grow: 2">
	//                             ${name}
	//                             <div class="text-description">
	//                                 ${description}
	//                             </div>
	//                         </div>
	//                     </p>
	//                     <div>
	//                         <i class="pt-1 fa fa-check pull-right invisible" aria-hidden="true"></i>
	//                     </div>
	//                 </div>
	//             </a>
	//         `;
	//     }
	// }

	// function callAjaxPreviewCategory(parentCategoryID = null) {
	//     let url = parentCategoryID ?
	//         `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT %>/?parentCategoryID=${parentCategoryID}&type=API` :
	//         `<%= CF_ROUTINGS_PRODUCT_CATEGORY.LIST_ACTIVE_PRODUCT_CATEGORY_BY_PARENT %>/?type=API`;
			
	//     $.ajax({
	//         type: "GET",
	//         url,
	//     }).done(resp => {
	//         console.log({ parentCategoryID, url, resp });
	//         const { infoParent, listChildsCategory } = resp;

	//         if(infoParent){
	//             $('.modal-preview-product-category .modal-body .text-parent').text(infoParent.textParent);
	//             $('.btn-back-category-modal').removeClass('d-none').attr({
	//                 '_categoryID': parentCategoryID,
	//                 '_parentCategoryID': infoParent.parent
	//             });
	//         } else{
	//             $('.modal-preview-product-category .modal-body .text-parent').text('');
	//             $('.btn-back-category-modal').addClass('d-none');
	//         }

	//         $('.btn-proceed-price-product-modal').addClass('d-none');

	//         if(listChildsCategory && listChildsCategory.length){
	//             let htmlCategoryPreview = '';
	//             let hasChilds = false;

	//             listChildsCategory.map(category => {
	//                 if (category.childs && category.childs.length) {
	//                     hasChilds = true;
	//                 }
	//                 if(category.statusAgency === 1){
	//                     htmlCategoryPreview += htmlRowCategory(category);
	//                 }
	//             })
	//             $('.container--list').html(htmlCategoryPreview);

	//         } else{
	//             analyse();
	//             // $('.btn-proceed-price-product-modal').removeClass('d-none');
	//         }

	//     }).fail(err => console.error(err))
	// }

	// function analyse() {
	//     let listCategoryChoosed = localStorage.getItem('PRODUCT_CATEGORY');
	//     if(!listCategoryChoosed){
	//         return toastr.error(`Có lỗi trong quá trình định giá`, "THÔNG BÁO");
	//     }

	//     listCategoryChoosed = JSON.parse(listCategoryChoosed);
	//     const analysePrice = listCategoryChoosed.reduce((total, category) => total += +category.price, 0);
	//     alert(analysePrice);
	// }

	// function addCategoryToLocalStorage(categoryID, price) {
	//     // Thêm danh mục vào localStorage
	//     priceProductList = [...priceProductList, {
	//         categoryID,
	//         price
	//     }];
	//     localStorage.setItem('PRODUCT_CATEGORY', JSON.stringify(priceProductList));
	// }

	// function removeCategoryToLocalStorage(categoryID) {
	//     // Xóa danh mục khi back
	//     priceProductList = priceProductList.filter(category => category.categoryID !== categoryID);
	//     localStorage.setItem('PRODUCT_CATEGORY', JSON.stringify(priceProductList));
	// }

	// let priceProductList = [];


	// $('.btn-preview').on('click', function () {
	//     localStorage.removeItem('PRODUCT_CATEGORY');
	//     $('.modal-preview-product-category').modal('show');
	//     callAjaxPreviewCategory();
	// });

	// $(document).on('click', '.last-product-category', function () {
	//     const categoryID  = $(this).attr('_categoryID');
	//     const price       = $(this).attr('_price');

	//     $('.btn-back-category-modal').removeClass('d-none').attr('_categoryID', categoryID);

	//     addCategoryToLocalStorage(categoryID, price);
	//     analyse();
	// });

	// $(document).on('click', '.product-category', function () {
	//     const categoryID  = $(this).attr('_categoryID');
	//     const price       = $(this).attr('_price');

	//     addCategoryToLocalStorage(categoryID, price);
	//     callAjaxPreviewCategory(categoryID);
	// });

	// $(document).on('click', '.btn-back-category-modal', function () {
	//     const categoryID        = $(this).attr('_categoryID');
	//     const parentCategoryID  = $(this).attr('_parentCategoryID');

	//     removeCategoryToLocalStorage(categoryID);
	//     callAjaxPreviewCategory(parentCategoryID);
	// })

	// $(document).on('click', '.item-checkbox', function () {
	//     $(this).toggleClass('active');
	//     $(this).find('.fa-check').toggleClass('invisible');

	//     const hasActive = $(this).hasClass('active');
	//     const categoryID = $(this).attr('_categoryID');
	//     const price = $(this).attr("_price");

	//     if(hasActive && price){
	//         priceProductList = [...priceProductList, {
	//             categoryID,
	//             price
	//         }];
	//     } else{
	//         priceProductList = priceProductList.filter(category => category.categoryID !== categoryID);
	//     }
	// });

	// $('.btn-proceed-price-product-modal').on('click', analyse);

	// $('#txtSearchCategoryModal').on('keyup', function () {
	//     const keyword = $(this).val().toLowerCase();

	//     $('.container--list .product-category').filter(function(){
	//         const text = $(this).text().toLowerCase();
	//         $(this).toggle(text.search(keyword) !== -1);
	//     })
	// });
</script>
