<style>
    @media (min-width: 576px){
        .modal-create-customer {
            max-width: none;
            margin: auto;
        }
    }

    .modal-create-customer{
        /* max-width: 10%; */
        /* margin: 10px 10% 10px 10%; */
        margin-top: 20px;
        width: 80%;
    }
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* @media (max-width: 1200px){
        .select2-container{
            width: 100% !important;
        }
    } */
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    img.img-thumbnail{
        width: 100px;
    }
    .font-change{
        font-size: 15px;
    }
    .error {
        border-color: #ff6565;    
    }
    .error-card-product{
        color: #ff6565;
        /* position: absolute; */
        visibility: hidden;
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .titlePopup{
       padding: 0;
   }
    /*
        css cho xóa card sản phẩm
     */
    .img-wraps {
        position: relative;
        display: inline-block;
        /* border: 1px red solid; */
        font-size: 0;
    }
    .img-wraps .close {
        position: absolute;
        top: 2px;
        right: 13px;
        z-index: 100;
        /* background-color: #FFF; */
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        /* opacity: .2; */
        text-align: center;
        font-size: 30px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wraps:hover .close {
        opacity: 1;
        color: #ff0000 ;
    }

    /*
        css cho xóa hình ảnh 
     */
    .img-wrapss {
        position: relative;
        display: inline-block;
        /* border: 1px red solid; */
        font-size: 0;
    }
    .img-wrapss .close {
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 100;
        /* background-color: #FFF; */
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        /* opacity: .2; */
        text-align: center;
        font-size: 30px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wrapss:hover .close {
        opacity: 1;
        color: #ff0000 ;
    }
    .form-control:disabled{
        background-color: #98a0bc;
    }
    .color-icon{
        color: #DF9024;
    }
    .lg-outer.lg-visible{
        background: black;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    .progress-bar{
        transition: none;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Tạo giao dịch</h5>
                            <!-- <h6 class="sub-heading">Welcome to Unify Admin Template</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <!-- <div class="col-xl-6"> -->
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-group color-icon"></span> Thông tin khách hàng 
                                    </h3>
                                    <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Những thông tin có dấu (*) là thông tin bắt buộc</p>
                                <!-- </div> -->
                                
                                </br>
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6"> 
                                        <div class="checkCustomerPhone">
                                            <label>Tìm kiếm khách hàng hệ thống (*) </label> 
                                            <input type="text" placeholder="VD: 0853807***" class="form-control txtPhoneCustomerSystem" id="txtPhoneCustomerSystem">
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Nhập số điện thoại để tìm kiếm khách hàng của hệ thống, nếu số điện thoại đã tồn tại không thuộc đại lý và không thể tạo thêm khách hàng</p>
                                            <small>Error Message</small>
                                        </div>
                                        
                                        </br>
                                            <!-- <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button> -->
                                        <label>Khách hàng <b>(*)</b> </label> 
                                        <select class="form-control" id="txtCustomer">
                                            <option class="unChooseCustomer" value="">Chọn khách hàng</option>
                                            <% listCustomerOfAgency && listCustomerOfAgency.length && listCustomerOfAgency.forEach( customer => { %>
                                                <% if(customerID && customerID == customer._id) { %>
                                                    <option value="<%= customer._id %>" selected><%= customer.name %></option>
                                                <% }else{ %>
                                                    <option value="<%= customer._id %>"><%= customer.name %></option>
                                                <% } %>
                                            <%}) %>
                                        </select>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Khách hàng của Đại Lý</p>
                                        <small>Error Message</small>
                                        <div class="text-left">
                                            <button style="margin-top: 10px;" class="btn btn-primary btn-create-customer">Tạo khách hàng</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 infoCustomerAdd" style="display: none;"> 
                                        <p class="text-left "> <b> Mã khách hàng: </b> <span class="txtCustomerCode"></span> </p>
                                        <p class="text-left"> <b>Tên khách hàng:</b>   <span class="txtCustomerName"></span>  </p>
                                        <p class="text-left"><b>Số điện thoại:</b>     <span class="txtCustomerPhone"></span>  </p>
                                        <p class="text-left"> 
                                            <b>Giới tính: </b> 
                                            <span class="txtCustomerGender"></span>
                                        </p>
                                        <p class="text-left"><b>Ngày sinh:</b> 
                                            <span class="txtCustomerBirthday"></span>
                                        </p>
                                        <p class="text-left"><b>Địa chỉ: </b>
                                            <span class="txtCustomerAddress"></span>
                                        </p>                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row gutters parentRow">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row gutters">
                                        <div class="col-xl-6">
                                            <h3 class="col-xl-12 mt-0 titlePopup">
                                                <span class="icon-swap color-icon"></span> Thông tin giao dịch </h3>
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Bạn phải tạo sản phẩm trước</p>
                                            
                                            </br>
                                        </div>
                                        <div class="text-right col-xl-6">
                                            <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                        </div>
                                    </div>
    
                                </div>
                                
                                
                                <div class="row gutters">
                                    <!-- <div class="form-group col-xl-6"><label>Ngày Giao Dịch</label> 
                                        <input type="date" class="form-control" id="txtTransactionDateAdd" value="<%= moment(Date.now()).format().substring(0, 10) %>" disabled> -->
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Khách hàng phải trên 18 tuổi</p> -->
                                        <!-- <small>Error Message</small>
                                    </div> -->
                                    <div class="form-group col-xl-6">
                                        <label>Số tiền vay (*) </label> 
                                        <input type="text" placeholder="VD: 1,000,000" class="form-control txtLoanAmountAdd" id="txtLoanAmountAdd">
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số tiền vay phải nhỏ hơn hạn mức phê duyệt</p>
                                        <small>Error Message</small>
                                        <!-- <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button> -->
                                    </div>
                                    
                                    <!-- <div class="form-group col-xl-6"><label>Ngày Đến Hạn</label> 
                                        <input type="date" class="form-control" id="txtExpireTimeAdd" value="<%= moment(Date.now()).format().substring(0, 10) %>" disabled>
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6"><label>Ngày Bắt Đầu Tính Lãi</label> 
                                        <input type="date" class="form-control" id="txtInterestStartDateAdd" value="<%= moment(Date.now()).format().substring(0, 10) %>" disabled>
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6">
                                        <label>Hạn mức vay tham khảo</label> 
                                        <input type="text" class="form-control" id="" >
                                        <small>Error Message</small>
                                    </div> -->
                                    <div class="form-group col-xl-6">
                                        <label>Hạn mức phê duyệt</label> 
                                        <input type="text" class="form-control txtApprovalLimitAdd" id="txtApprovalLimitAdd" disabled>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hạn mức phê duyệt tự động thay đổi dựa vào giá sản phẩm</p>
                                        <small>Error Message</small>
                                    </div>
                                    <!-- <div class="form-group col-xl-6"><label>Số Ngày Cầm Dự Kiến<b>*</b></label> 
                                        <input type="number" class="form-control" id="txtExpectedDateAdd" value="30">
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6">
                                        <label>Ghi chú</label> 
                                        <input type="text" class="form-control" id="txtNoteAdd">
                                        <small>Error Message</small>
                                    </div> -->
                                    
                                    <!-- <div class="form-group col-xl-4">
                                        <label>Số ngày tính lãi </label> 
                                        <input type="number" class="form-control" id="txtInterestAmountAdd">
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6">
                                        <label>Tổng lãi + Phí </label> 
                                        <input type="text" class="form-control" id="txtInterestTotalAdd">
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6">
                                        <label>Tổng tiền trả bằng số </label> 
                                        <input type="text" class="form-control" id="txtTotalMoneyNumberAdd" disabled>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Tổng tiền trả tự động thay đổi dựa vào số tiền vay</p>
                                        <small>Error Message</small>
                                    </div> -->
                                    <!-- <div class="form-group col-xl-6">
                                        <label>Tổng tiền trả bằng chữ </label> 
                                        <input type="text" class="form-control" id="txtTotalMoneyCharAdd" disabled>
                                        <small>Error Message</small>
                                    </div> -->
                                    <div class="form-group col-xl-12">
                                        <label>Ghi chú duyệt</label> 
                                        <textarea type="text" cols="30" rows="10" class="form-control" id="txtApprovalNoteAdd"></textarea>
                                        <small>Error Message</small>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row gutters">
                                    <!-- <div class="col-xl-6">
                                        <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                    </div> -->
                                    <!-- <div class="text-right col-xl-6">
                                        <button class="btn btn-info btn-lg  btnConfirmAddTransaction">Xác nhận</button>
                                    </div> -->
                                </div>

                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="card" >
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-0 titlePopup">
                                    <span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                                </br>
                                <div class="row gutters">
                                    <div class="col-xl-12">
                                        <p class="validateInput text-primary" style="font-size: 20px;"> Hình ảnh bắt buộc</p>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress1" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <label>Hình ảnh khách hàng <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtImageCustomerTransAdd" class="form-control" multiple>
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listImageCustomerTransAdd">
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress2" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress2" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->
                                        <label>Hình ảnh giấy tờ <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtKYCImagesTransAdd" class="form-control" multiple>
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listKYCImagesTransAdd">
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress4" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress4" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh sản phẩm <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtFormVerificationImagesTransAdd" class="form-control" multiple>
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listFormVerificationImagesTransAdd">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <p class="validateInput text-primary" style="font-size: 20px;">  Hình ảnh không bắt buộc</p>
                                    </div>

                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress3" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress3" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh biên nhận </label>
                                        <input type="file" accept="image/*" id="txtReceiptImagesAdd" class="form-control" multiple>
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listReceiptImagesAdd">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress5 role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress4" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh hóa đơn và phiếu kiểm định</label>
                                        <input type="file" accept="image/*" id="txtBillImagesTransAdd" class="form-control" multiple>
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listBillImagesTransAdd">
                                        </div>
                                    </div>
                                </div> 
                                <div class="row gutters">
                                    <!-- <div class="col-xl-6">
                                        <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                    </div> -->
                                    <div class="text-right col-xl-12">
                                        <button class="btn btn-info btn-lg  btnConfirmAddTransaction">Xác nhận</button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- POPUP định giá SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-pricing-product" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0 ">Định giá sản phẩm</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <div class="d-flex justify-content-start">
                <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                    <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                </a>
            </div>     -->
            
            <div class="modal-body">
                
                </br>
                <h6 class=" text-primary" style="margin-bottom: 20px;">Bạn chọn danh mục để định giá sản phẩm</h6>
                <div class="previous--container">
                    <a href="javascript:void(0)" class="text--green btn-back-category-modal d-none">
                        <i class="icon-arrow-left-thick" style="font-size: 20px;"></i>
                    </a>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12">
                        <!-- <h3 class="col-xl-12 mt-0 titlePopup titlePopupChild "><span class="icon-info2 color-icon"></span> Thông tin phiếu </h3> -->
                        </br>
                            <div id="accordionIcons " class="accordion-icons showPricingProduct" role="tablist">

                            </div>
                            <!-- <div class="form-group col-xl-12 "><label>Loại phiếu <b>(*)</b></label> 
                                <div class="parentTypeFinancial">
                                    <label class="custom-control custom-radio">
                                        <input id="maleAdd" name="type" value="1" type="radio" class="custom-control-input typeFinancialAdd" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Thu</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="femaleAdd" name="type" value="2" type="radio" class="custom-control-input typeFinancialAdd">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Chi</span>
                                    </label>
                                    <small>Error Message</small>
                                </div>
                            </div>
                            <div class="form-group col-xl-12">
                                <label>Tên phiếu <b>(*)</b></label> 
                                <input type="text" class="form-control" placeholder="VD: Nạp quỹ" id="txtNameFinancialAdd">
                                <small>Error Message</small>
                            </div> -->
                            <!-- <div class="form-group col-xl-2">
                                </br>
                                </br>
                            </div> -->
                            <!-- <div class="form-group col-xl-12">
                                <label>Giá <b>(*)</b></label> 
                                <input type="text" class="form-control" placeholder="VD: 50,000,000" id="txtPriceFinancialAdd">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-12">
                                <label>Note </label> 
                                <input type="text" class="form-control" placeholder="VD: Nạp quỹ đầu tháng" id="txtNoteFinancialAdd">
                                <small>Error Message</small>
                            </div> -->
                            <!-- <div class="form-group col-xl-12">
                                <label>Loại giao dịch <b>*</b></label> 
                                <select class="form-control" id="txtTypeTransactionFinancialAdd">
                                    <option value="">Chọn Loại giao dịch</option>
                                    
                                </select>
                                <small>Error Message</small>
                            </div> -->
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddPricingProduct">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO KHÁCH HÀNG -->
<div class="modal fade bs-example-modal-sm model-create-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-create-customer">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Khởi tạo khách hàng mới</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary" style="
                margin-left: 15px;
            ">Những thông tin có dấu (*) là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                </br>
                <h6 class=" text-primary" style="margin-bottom: 20px">Những thông tin có dấu (*) là thông tin bắt buộc</h6>
                <div class="row gutters">
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-group color-icon"></span> Thông tin cá nhân </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-4">
                                <label>Mã Khách Hàng <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtCode" disabled>
                                <small>Error Message</small>
                                <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button>
                            </div>
                            <!-- <div class="form-group col-xl-2">
                                </br>
                                </br>
                            </div> -->
                            <div class="form-group col-xl-4">
                                <label>Tên <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtName">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-4"><label>Giới tính</label> 
                                <div class="">
                                    <label class="custom-control custom-radio">
                                        <input id="maleAdd" name="radio1" value="1" type="radio" class="custom-control-input gender" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nam</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="femaleAdd" name="radio1" value="0" type="radio" class="custom-control-input gender">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nữ</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Ngày Sinh</label> 
                                <input type="date" class="form-control" value="2021-01-01"  id="txtBirthDay">
                                <!-- </br> -->
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;">(*) Khách hàng phải trên 18 tuổi</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Số Điện Thoại <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtPhone">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p>
                                <small>Error Message</small>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Công Việc</label> 
                                <input type="text" class="form-control" id="txtJob">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ghi Chú</label> 
                                <input type="text" class="form-control" id="txtNote">
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-address color-icon"></span> Địa chỉ thường trú </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-12"><label>Địa chỉ</label> 
                                <input type="text" class="form-control" id="txtAddress">
                            </div>
                        </br>
                            <div class="form-group col-xl-4"><label>Tỉnh/Thành Phố <b>*</b></label> 
                                </br>
                                <select class="form-control" id="txtCity">
                                    <option value="">Chọn Tỉnh/Thành phố</option>
                                    <% listProvince.forEach(province => { %>
                                        <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                    <% }) %>
                                </select>
                                </br>
                                <small>Error Message</small>
                            </div>
                            
                            <div class="form-group col-xl-4"><label>Quận/Huyện</label> 
                                </br>
                               
                                <select class="form-control" id="txtDistrict">
                                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                                    <!-- <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option> -->
                                </select>
                            </div>
                            <div class="form-group col-xl-4"><label>Phường</label> 
                                </br>
                                <select class="form-control" id="txtWard">
                                    <option id="emptyWard" value="">Chọn Phường</option>
                                    <!-- <option value="Phường 1">Phường 1</option>
                                    <option value="Phường 2">Phường 2</option> -->
                                </select>
                            </div>
                            
                        </div>
                        <!-- <img class="form-control imgCustomer" style="display: none;object-fit: cover;"  height="250px" width="250px" src="" alt=""> -->
                    </div>
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-open-book color-icon"></span> Thông tin giấy xác nhận </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Loại giấy tờ <b>(*)</b></label>
                                </br>
                                <select class="form-control" id="txtAuthPaper">
                                    <option value="0">CMND</option>
                                    <option value="1">Bằng lái xe</option>
                                    <option value="2">CCCD</option>
                                    <option value="3">Khác</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Số loại giấy tờ <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtNumberAuthPaper">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) CMND chỉ được nhập 9 số, CCCD và Bằng lái xe chỉ được nhập 12 số</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ngày cấp <b>(*)</b></label> 
                                <input type="date" class="form-control" value="2021-01-01" id="txtIssuedOn">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Ngày cấp phải nhỏ hơn ngày hiện tại và lớn hơn ngày sinh</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Nơi cấp <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtIssuedBy">
                                <small>Error Message</small>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup">
                            <span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6 ">
                                <label>Hình ảnh khách hàng <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageCustomer"  class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                                </br>
                                <div class=" gallery listImageCustomer" _isShow = "0">
                                </div>
                                <!-- <div class="takePhotoCustomer" style="display: none;">
                                    <video id="player" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="capture">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshot" width=320 height=240></canvas>
                                </div>
                                </br>
                                <button class="btn btn-info btn-sm btnTakePhoto">Mở camera</button> -->
                                <img class="form-control imgCustomer" style="display: none;"  height="250px" width="250px" src="" alt="">
                            </div>
                            <div class="form-group col-xl-6">
                                <label>Hình ảnh loại giấy tờ <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageAuthPaper" class="form-control" multiple>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p> -->
                                <small>Error Message</small>
                               
                                </br>
                                <div class="gallery listImageAuthPaper">
                                </div>
                                <!-- <div class="takePhotoAuthPaper" _isShow = "0" style="display: none;">
                                    <video id="playerAuthPaper" width="200px" height="200px" controls autoplay></video>
                                    <button class="btn btn-primary btn-sm" id="captureAuthPaper">Chụp ảnh</button>
                                    <canvas style="display: none;" id="snapshotAuthPaperImage" width=320 height=240></canvas>
                                </div> -->
                                <!-- </br>
                                <button class="btn btn-info btn-sm btnTakePhotoAuthPaper">Mở camera</button> -->
                                <img class="form-control imgAuthPaper" style="display: none;" height="250px" width="250px" src="" alt="">
                            </div>
                        </div>
                        <!-- <img class="form-control imgAuthPaper" style="display: none;object-fit: cover;" height="250px" width="250px" src="" alt=""> -->
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddCustomer">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


    