<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-dialog{
        /* max-width: 10%; */
        margin: 10px 10% 10px 10%;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Chi tiết <%=infoInventorySession.name%></h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-12">
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListTransactionOfInventorySession" class="table table-striped table-bordered">
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên Khách hàng</th>
                                                <th>Sản phẩm</th>
                                                <th>Tổng số tiền</th>
                                                <th>Ghi chú</th>
                                                <th>Thời gian giao dịch</th>
                                                <th>Trạng thái kiểm kê</th>
                                                <!-- <th>Tác vụ</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listTransactionOfInventory && listTransactionOfInventory.length && listTransactionOfInventory.forEach((item, index) => { %>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td><a href="/transaction/info-transaction/<%=item.transaction._id%>"><%=_lodash.get(item.transaction.customer, "name", "")%></a></td>
                                                    <td >
                                                        <% item.transaction.products && item.transaction.products.length && item.transaction.products.forEach(product => { %>
                                                            <p style="margin-top: 10px"><%=product.name%> - <%=formatCurrency('###,###.', product.price)%>đ</p>
                                                        <% }) %>
                                                    </td>
                                                    <td><%=formatCurrency('###,###.', item.transaction.totalMoneyNumber)%></td>
                                                    <td><%=item.transaction.note && item.transaction.note.length > 200 ? item.transaction.note.slice(0, 200).concat('...') : item.transaction.note %></td>
                                                    <td><%=moment(item.transaction.createAt).format('L') %> lúc <%=moment(item.transaction.createAt).format('LT');%></td>
                                                    <td>
                                                        <% if(item.historyCheckOfTransactionAndInventory){ %>
                                                            <span class="badge badge-pill badge-success">
                                                                Đã kiểm kê
                                                            </span>
                                                            <p style="margin-top: 10px;">vào lúc <%=moment(item.historyCheckOfTransactionAndInventory.createAt).format('LT') %> - <%=moment(item.historyCheckOfTransactionAndInventory.createAt).format('L') %></p>
                                                            <p>NV Kiểm kê: <%=item.historyCheckOfTransactionAndInventory.userID.username %> </p>
                                                            <a style="color: #49589e;" href="/transaction/history-check/<%=item.transaction._id%>?inventorySessionID=<%=infoInventorySession._id%> "><i>Xem lịch sử kiểm kê</i></a>
                                                        <% }else { %>
                                                            <span class="badge badge-pill badge-info">Chưa kiểm kê</span>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
