<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-dialog{
        /* max-width: 10%; */
        /* margin: 10px 10% 10px 10%; */
        margin-top: 20px;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   
    .btnFilter{
        margin-top: 15px;
    }
   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    /* .select2-container{
        width: 200px !important;
    } */
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* @media (max-width: 1200px){
        .select2-container{
            width: 100% !important;
        }
    } */
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách giao dịch</h5>
                            <!-- <h6 class="sub-heading">List Customer</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group col-xl-3 "><label>Loại giao dịch</label> 
                                        <div class="parentTypeFinancial">
                                            <select class="form-control typeTransaction" id="typeTransaction">
                                                <option value="">Chọn loại giao dịch</option>
                                                <% TYPE_TRANSACTION.forEach(type => { %>
                                                    <option value="<%= type.value%>" <% if (typeTrans == type.value) { %>
                                                        selected
                                                    <% } %>><%= type.text%></option>
                                                <% }) %>
                                            </select>
                                            <small>Error Message</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3 "><label>Trạng thái giao dịch</label> 
                                        <div class="parentTypeFinancial">
                                            <select class="form-control typeStatusTransaction" id="typeStatusTransaction">
                                                <option value="">Chọn trạng thái</option>
                                                <% TYPE_STATUS_TRANSACTION.forEach(type => { %>
                                                    <option value="<%= type.value%>" <% if (typeStatusTrans == type.value) { %>
                                                        selected
                                                    <% } %>><%= type.text%></option>
                                                <% }) %>
                                            </select>
                                            <small>Error Message</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-2"><label>Từ Ngày</label> 
                                        <input type="date" class="form-control"  id="txtFromDay" value="<%= fromDay ? fromDay: '' %>">
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-xl-2"><label>Đến ngày</label> 
                                        <input type="date" class="form-control"  id="txtToDay" value="<%= toDay ? toDay: '' %>">
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-xl-2">
                                        <br />
                                        <button type="button" class="btn btn-success btnFilter br-btn">
                                            <span class="icon-search"></span>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-2 ">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="/transaction/add" class="btn btn-outline-primary  waves-effect waves-light btn-create-customer">
									<span class="icon-add_circle"></span>
                                    Tạo giao dịch
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListTransaction2" class="table table-striped table-bordered">
                                
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="sttThead" style="width: 1%;">Danh sách giao dịch 
                                                    <% if(type && type === "maturity") { %>
                                                        (<span style="color: #DF9024;">3 ngày - Đến Hạn</span>)
                                                    <% } %>
                                                    <% if(type && type === "expires") { %>
                                                        (<span style="color: #DF9024;">Quá hạn trong 7 ngày</span>)
                                                    <% } %>
                                                    <% if(type && type === "liquidationAssets") { %>
                                                        (<span style="color: #DF9024;">Quá hạn hơn 7 ngày</span>)
                                                    <% } %>
                                                </th>
                                                <!-- <th class="nameThead"       style="width: 15%;">Mã khách hàng</th>
                                                <th class="genderThead"     style="width: 8%;">Tên Khách Hàng</th>
                                                <th class="phoneThead"      style="width: 8%;">Mã giao dịch</th>
                                                <th class="authPaperThead"  style="width: 10%;">Trạng thái</th>
                                                <th class="numberAuthThead" style="width: 10%;">Loại giao dịch</th>
                                                <th class="addressThead"    style="width: 24%;">Ngày giao dịch</th>
                                                <th class="statusThead"     style="width: 10%;">Trạng thái</th>
                                                <th class="btnThead"        style="width: 10%;"></th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listTransaction && listTransaction.length) { %>
                                                <% listTransaction.forEach(( transaction, index ) => { %>
                                                    <% if (transaction && transaction.customer) { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/transaction/info-transaction/<%= transaction._id %>">
                                                                    <b title="Khách Hàng">KH: <i><%= transaction.customer[0].code ? transaction.customer[0].code : ''%> </i> -
                                                                        <i>
                                                                            <%= transaction.customer[0].name  ? transaction.customer[0].name  : '' %>
                                                                        </i> 
                                                                    </b> 
                                                                    <br>
                                                                    <b title="Biên Nhận">BN:</b> <i><%= transaction.code ? transaction.code : '' %></i> -
                                                                    <i>
                                                                        <% if ( transaction.status === 0 ){ %>
                                                                                Đang xử lý
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 1 ){ %>
                                                                            <% if( transaction.latestInjectTransaction[0] && transaction.latestInjectTransaction[0].type == 6 && transaction.latestInjectTransaction[0].ransom == 2 ){ %>
                                                                                Chờ chuộc
                                                                            <% }else if( transaction.latestInjectTransaction[0] && transaction.latestInjectTransaction[0].type == 6 && transaction.latestInjectTransaction[0].ransom == 1 ){ %>
                                                                                Đã chuộc
                                                                            <% }else { %>
                                                                                Đang cầm
                                                                            <% } %>
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 2 ){ %>
                                                                                Không duyệt
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 3 ){ %>
                                                                            Đã chuộc
                                                                        <% } %> 
                                                                    </i> <br>
                                                                    <b title="Giao dịch đang thực hiện">GD: </b>
                                                                    <i>
                                                                        <% if( transaction.latestInjectTransaction[0] ) { %>
                                                                            <% TYPE_TRANSACTION.forEach( type => { %>
                                                                                <% if( type.value == transaction.latestInjectTransaction[0].type && transaction.latestInjectTransaction[0].type != 6 ){ %>
                                                                                    <%= type.text %>
                                                                                <% } %>
                                                                                <% if( type.value == transaction.latestInjectTransaction[0].type && transaction.latestInjectTransaction[0].type == 6 ){ %>
                                                                                    <%= type.text %>
                                                                                <% } %>
                                                                            <% }) %>
                                                                        <% }else{ %>
                                                                                Cầm đồ
                                                                        <% } %>
                                                                    </i> -
                                                                    <i>
                                                                        <%= moment(transaction.interestStartDate).format('L')  %> -
                                                                        <%=  moment(transaction.interestStartDate).format('LT')  %>
                                                                    </i> - 
                                                                    <i>
                                                                        <% if ( transaction.status === 0 ){ %>
                                                                                Chờ duyệt
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 1 || transaction.status == 3){ %>
                                                                                Đã chốt
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 2 ){ %>
                                                                                Không duyệt
                                                                        <% } %> 
                                                                    </i> <br>
                                                                    <b title="Ngày đến hạn">NDH: </b>
                                                                    <i>
                                                                        <%= moment(transaction.expireTimeAfterPeriod).format('L')  %> -
                                                                        <%=  moment(transaction.expireTimeAfterPeriod).format('LT')  %>
                                                                    </i> <br>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listTransaction && listTransaction.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-create-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Khởi tạo khách hàng mới</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                </br>
                <p class="modal-header text-primary" style="margin-bottom: 20px;">Những thông tin có dấu (*) là thông tin bắt buộc</p>
                <div class="row gutters">
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Thông tin cá nhân </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6">
                                <label>Tên <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtName">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Giới tính</label> 
                                <div class="">
                                    <label class="custom-control custom-radio">
                                        <input id="maleAdd" name="radio1" value="1" type="radio" class="custom-control-input gender" >
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nam</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="femaleAdd" name="radio1" value="0" type="radio" class="custom-control-input gender">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nữ</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Ngày Sinh</label> 
                                <input type="date" class="form-control" value="2021-01-01"  id="txtBirthDay">
                                <!-- </br> -->
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;">(*) Khách hàng phải trên 18 tuổi</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Số Điện Thoại <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtPhone">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p>
                                <small>Error Message</small>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Công Việc</label> 
                                <input type="text" class="form-control" id="txtJob">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ghi Chú</label> 
                                <input type="text" class="form-control" id="txtNote">
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Địa chỉ thường trú </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                                <input type="text" class="form-control" id="txtAddress">
                            </div>
                            <div class="form-group col-xl-6"><label>Phường</label> 
                                <select class="form-control" id="txtWard">
                                    <option value="Phường 1">Phường 1</option>
                                    <option value="Phường 2">Phường 2</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Quận/Huyện</label> 
                                <select class="form-control" id="txtDistrict">
                                    <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Tỉnh/Thành Phố <b>*</b></label> 
                                <select class="form-control" id="txtCity">
                                    <option value="TP 1">TP 1</option>
                                    <option value="TP 2">TP 2</option>
                                </select>
                            </div>
                        </div>
                        <!-- <img class="form-control imgCustomer" style="display: none;object-fit: cover;"  height="250px" width="250px" src="" alt=""> -->
                    </div>
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Thông tin giấy xác nhận </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Loại giấy tờ <b>(*)</b></label>
                                <select class="form-control" id="txtAuthPaper">
                                    <option value="0">CMND</option>
                                    <option value="1">Bằng lái xe</option>
                                    <option value="2">CCCD</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Số loại giấy tờ <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtNumberAuthPaper">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) CMND chỉ được nhập 10 số, CCCD và Bằng lái xe chỉ được nhập 12 số</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ngày cấp <b>(*)</b></label> 
                                <input type="date" class="form-control" value="2021-01-01" id="txtIssuedOn">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Ngày cấp phải nhỏ hơn ngày hiện tại và lớn hơn ngày sinh</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Nơi cấp <b>(*)</b></label> 
                                <input type="text" class="form-control" id="txtIssuedBy">
                                <small>Error Message</small>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Hình ảnh </h3>
                           
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6 ">
                                <label>Hình ảnh khách hàng <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageCustomer"  class="form-control" multiple>
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                <small>Error Message</small>
                                </br>
                                <div class="listImageCustomer">
                                </div>
                                <img class="form-control imgCustomer" style="display: none;"  height="250px" width="250px" src="" alt="">
                            </div>
                            <div class="form-group col-xl-6">
                                <label>Hình ảnh loại giấy tờ <b>(*)</b></label>
                                <input type="file" accept="image/*" id="txtImageAuthPaper" class="form-control" multiple>
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                <small>Error Message</small>
                                </br>
                                <div class="listImageAuthPaper">
                                </div>
                                <img class="form-control imgAuthPaper" style="display: none;" height="250px" width="250px" src="" alt="">
                            </div>
                        </div>
                        <!-- <img class="form-control imgAuthPaper" style="display: none;object-fit: cover;" height="250px" width="250px" src="" alt=""> -->
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddCustomer">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-update-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật thông tin khách hàng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <!-- <h6 class="modal-title mt-0"> Thông tin cá nhân </h6> -->
                <p class="modal-header text-primary" style="margin: 15px 0;">Những thông tin có dấu * là thông tin bắt buộc</p>
                <div class="row gutters">
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Thông tin cá nhân </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6">
                                <label>Tên <b>*</b></label> 
                                <input type="text" class="form-control" id="txtNameUpdate" >
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Giới tính</label> 
                                <div class="">
                                    <label class="custom-control custom-radio">
                                        <input id="male" name="radio" value="1" type="radio" class="custom-control-input genderUpdate" checked="true">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nam</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input id="female" name="radio" value="0" type="radio" class="custom-control-input genderUpdate">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Nữ</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Ngày Sinh</label> 
                                <input type="date" class="form-control" id="txtBirthDayUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Khách hàng phải trên 18 tuổi</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Số Điện Thoại <b>*</b></label> 
                                <input type="text" class="form-control" id="txtPhoneUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p>
                                <small>Error Message</small>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="form-group col-xl-4"><label>Công Việc</label> 
                                <input type="text" class="form-control" id="txtJobUpdate">
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-4"><label>Ghi Chú</label> 
                                <input type="text" class="form-control" id="txtNoteUpdate">
                            </div>
                            <div class="form-group col-xl-2"><label>Hoạt động</label> 
                                <div class="toggle-switch">
                                    <input type="checkbox" class="check cbActive">
                                    <b class="b switch"></b>
                                    <b class="b track"></b>
                                </div>
                            </div>
                        </div>
                        </br>
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Địa chỉ thường trú </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Địa chỉ</label> 
                                <input type="text" class="form-control" id="txtAddressUpdate">
                            </div>
                            <div class="form-group col-xl-6"><label>Phường</label> 
                                <select class="form-control" id="txtWardUpdate">
                                    <option value="Phường 1">Phường 1</option>
                                    <option value="Phường 2">Phường 2</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Quận/Huyện</label> 
                                <select class="form-control" id="txtDistrictUpdate">
                                    <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Tỉnh/Thành Phố <b>(*)</b></label> 
                                <select class="form-control" id="txtCityUpdate">
                                    <option value="TP 1">TP 1</option>
                                    <option value="TP 2">TP 2</option>
                                </select>
                                <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số điện thoại chỉ được 10 số</p> -->
                            </div>
                        </div>
                        <!-- <img class="form-control imgCustomerUpdate" style="display: none;object-fit: cover;"  height="250px" width="250px" src="" alt=""> -->
                    </div>
                    <div class="col-xl-6">
                        <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Thông tin giấy xác nhận </h3>
                        </br>
                        <div class="row gutters">
                            <div class="form-group col-xl-6"><label>Loại giấy tờ <b>*</b></label>
                                <select class="form-control" id="txtAuthPaperUpdate">
                                    <option value="0">CMND</option>
                                    <option value="1">Bằng lái xe</option>
                                    <option value="2">Passport</option>
                                </select>
                            </div>
                            <div class="form-group col-xl-6"><label>Số loại giấy tờ <b>*</b></label> 
                                <input type="text" class="form-control" id="txtNumberAuthPaperUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) CMND chỉ được nhập 10 số, CCCD và Bằng lái xe chỉ được nhập 12 số</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Ngày cấp <b>*</b></label> 
                                <input type="date" class="form-control" id="txtIssuedOnUpdate">
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Ngày cấp phải nhỏ hơn ngày hiện tại và lớn hơn ngày sinh</p>
                                <small>Error Message</small>
                            </div>
                            <div class="form-group col-xl-6"><label>Nơi cấp <b>*</b></label> 
                                <input type="text" class="form-control" id="txtIssuedByUpdate">
                                <small>Error Message</small>
                            </div>
                        </div>
                        <img class="form-control imgAuthPaperUpdate" style="display: none;object-fit: cover;" height="250px" width="250px" src="" alt="">
                    </div>
                    <div class="form-group col-1"><label>Hoạt động</label> 
                        <div class="toggle-switch">
                            <input type="checkbox" class="check cbActive">
                            <b class="b switch"></b>
                            <b class="b track"></b>
                        </div>
                    </div>
                <div class="row gutters">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btn-lg btnConfirmUpdateCustomer">Xác nhận</button>
            </div>
        </div>
    </div>
</div>