<!-- BEGIN .app-container -->
<style>

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .modal-confirm {		
        color: #636363;
        width: 600px;
        font-size: 15px;
    }
    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-confirm .modal-header {
        border-bottom: none;   
        position: relative;
    }
    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }	
    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }	
    .modal-confirm .icon-box {
        color: #fff;		
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #DF9024;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .icon-box::before {
        content:none;
    }
    .modal-confirm .icon-box i {
        font-size: 64px;
    }
    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #DF9024;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }
    .modal-confirm .btn:hover, .modal-confirm .btn:focus {
        background: #DF9024;
        outline: none;
    }
    /* table{
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; 
        word-wrap:break-word; 
    } */
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách giao dịch</h5>
                            <!-- <h6 class="sub-heading">List Customer</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <!-- <div class="card-header">
                            <div class="col-lg-12">
                                <div class="row"> -->
                                    <!-- <div class="form-group col-2">
                                        <label>Tên/SDT</label> 
                                        <input type="text" class="form-control" id="txtNameFilter">
                                    </div> -->
                                    <!-- <div class="form-group col-2">
                                        <label>Giới tính</label>
                                        <select class="form-control" id="txtGenderFilter">
                                            
                                        </select>
                                    </div>
                                    <div class="form-group col-2"><label>Phường</label> 
                                        <select class="form-control" id="txtWardFilter">
                                            
                                        </select>
                                    </div>
                                    <div class="form-group col-2"><label>Quận/Huyện</label> 
                                        <select class="form-control" id="txtDistrictFilter">
                                            
                                        </select>
                                    </div>
                                    <div class="form-group col-2"><label>Tỉnh/Thành Phố</label> 
                                        <select class="form-control" id="txtCityFilter">
                                           
                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <label>Loại giấy tờ</label>
                                        <select class="form-control" id="txtAuthPaperFilter">
                                            
                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <br />
                                        <h1></h1>
                                        <button type="button"  class="btn btn-success btnFilter">Tìm kiếm</button>
                                    </div> -->
                                <!-- </div>
                            </div>
                            <div class="form-group col-2 "> -->
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            <!-- </div> -->
                            <!-- <div class="col-lg-12 d-flex justify-content-end">
                                <a href="/transaction/add-transaction1" class="btn btn-outline-primary  waves-effect waves-light btn-create-customer">
                                    + Tạo giao dịch
                                </a>
                            </div> -->
                        <!-- </div> -->
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListTransaction" class="table table-striped table-bordered">
                                
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="sttThead"        style="width: 1%;">Danh sách giao dịch</th>
                                                <th class="nameThead"       style="width: 1%;">Duyệt giao dịch</th>
                                                <!-- <th class="genderThead"     style="width: 8%;">Tên Khách Hàng</th>
                                                <th class="phoneThead"      style="width: 8%;">Mã giao dịch</th>
                                                <th class="authPaperThead"  style="width: 10%;">Trạng thái</th>
                                                <th class="numberAuthThead" style="width: 10%;">Loại giao dịch</th>
                                                <th class="addressThead"    style="width: 24%;">Ngày giao dịch</th>
                                                <th class="statusThead"     style="width: 10%;">Trạng thái</th>
                                                <th class="btnThead"        style="width: 10%;"></th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listTransaction && listTransaction.length) { %>
                                                <% listTransaction.forEach(( transaction, index ) => { %>
                                                    <% if (transaction &&transaction.customer) { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/transaction/info-transaction/<%= transaction._id %>">
                                                                    <b title="Khách hàng">KH: <i><%= transaction.customer.code ? transaction.customer.code : ''%> </i> -
                                                                    <i>
                                                                        <%= transaction.customer.name  ? transaction.customer.name  : '' %>
                                                                    </i> </b> <br>
                                                                    <b title="Biên nhận">BN:</b> <i><%= transaction.code ? transaction.code : '' %></i> -
                                                                    <i>
                                                                        <% if ( transaction.status === 0 ){ %>
                                                                                Đang xử lý
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 1 ){ %>
                                                                                Đang cầm
                                                                        <% } %> 
                                                                        <% if ( transaction.status == 2 ){ %>
                                                                                Không duyệt
                                                                        <% } %> 
                                                                    </i> <br>
                                                                    <b title="Giao dịch đang thực hiện">GD: </b><i>Cầm đồ</i> -
                                                                    <i>
                                                                        <%= moment(transaction.createAt).format('L')  %>-
                                                                        <%=  moment(transaction.createAt).format('LT')  %>
                                                                        
                                                                    </i> - 
                                                                    <i>
                                                                        <% if ( level && level == 1 ){ %>

                                                                            <% if ( transaction.status === 0 ){ %>
                                                                                    Chờ duyệt
                                                                            <% } %> 
                                                                            <% if ( transaction.status == 1 ){ %>
                                                                                    Đã chốt
                                                                            <% } %> 
                                                                            <% if ( transaction.status == 2 ){ %>
                                                                                    Không duyệt
                                                                            <% } %> 
                                                                        <% } %> 
                                                                    </i> <br>
                                                                    <b title="Ngày đến hạn">NDH: </b>
                                                                    <i>
                                                                        <%= moment(transaction.expireTimeAfterPeriod).format('L')  %> -
                                                                        <%=  moment(transaction.expireTimeAfterPeriod).format('LT')  %>
                                                                    </i> <br>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <!-- <div class="form-group col-xl-6"><label>Trạng thái</label>  -->
                                                                    <!-- <div class=""> -->
                                                                        <label class="custom-control custom-radio">
                                                                            <input id="maleAdd" name="radio<%= index + 1 %>" value="1" type="radio" _transID="<%= transaction._id %>" class="custom-control-input status" >
                                                                            <span class="custom-control-indicator"></span>
                                                                            <span class="custom-control-description">Duyệt</span>
                                                                        </label>
                                                                        <label class="custom-control custom-radio">
                                                                            <input id="femaleAdd" name="radio<%= index + 1 %>" value="2" type="radio" _transID="<%= transaction._id %>" class="custom-control-input status">
                                                                            <span class="custom-control-indicator"></span>
                                                                            <span class="custom-control-description">Không duyệt</span>
                                                                        </label>
                                                                    <!-- </div> -->
                                                                <!-- </div> -->
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if (listTransaction && listTransaction.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->
<!-- POPUP giao dịch -->
<div class="modal fade bs-example-modal-sm model-change-status-transaction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Xác nhận không duyệt</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary">Những thông tin có dấu * là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                <!-- <h6 class="modal-title mt-0"> Thông tin cá nhân </h6> -->
                <div class="row gutters popupCheckStatusTransaction">
                    <p class="text-left col-xl-12"> <b> Mã khách hàng: </b>  <span class="txtCustomerCodeTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Tên khách hàng: </b> <span class="txtCustomerNameTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Số điện thoại: </b>  <span class="txtCustomerPhoneTrans"></span> </p>  
                    <p class="text-left col-xl-12"> <b> Giới tính: </b>  <span class="txtCustomerGenderTrans"></span> </p>  
                    <p class="text-left col-xl-12"> <b> Mã giao dịch: </b>  <span class="txtCodeTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Số tiền vay: </b>  <span class="txtLoanAmountTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Hạn mức phê duyệt: </b>  <span class="txtApprovalLimitTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Ngày giao dịch: </b>  <span class="txtTransactionDate"></span> </p>
                    <p class="text-left col-xl-12 textStatusFinancial"> <b> Loại quỹ: </b>
                        <div class="text-left col-xl-12 checkStatusFinancial">
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialMoney" name="statusFinancial" value="1" type="radio"  class="custom-control-input statusFinancial" >
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ tiền mặt</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialBank" name="statusFinancial" value="2" type="radio" class="custom-control-input statusFinancial">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ ngân hàng</span>
                            </label>
                        </div>
                    </p>
                </div>
                <div class="row gutters">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btn-lg btnConfirmUncheckTransaction">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- POPUP TẠO tài khoản employee  -->
<div id="modalNotifyCreateSuccess" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="icon-box">
                    <i class="fas fa-check-circle"></i>
                </div>				
                <h4 class="modal-title w-100 transactionCreateSuccess">Thay đổi trạng thái giao dịch thành công!</h4>	
                <!-- <h4 class="modal-title w-100 transactionCreateSuccess">Tạo nhân viên thành công!</h4>	 -->
            </div>
            <div class="modal-body">
                <p class="text-center">Bạn đã <b><span class="titleChangeSuccess"></span></b> giao dịch thành công</p>
                <!-- <p class="text-center">Vui lòng kiểm tra email của bạn</p> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>  