<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    @media only screen and (min-width: 465px) and (max-width: 1199px){
        .title{
            position: absolute !important;
            top: 15% !important;
            font-size: 17px !important;
            overflow-wrap: break-word !important;
            max-width: 25% !important;
        }

        .number{
            position: absolute !important;
            top: 27% !important;
            font-weight: bold;
            font-size: 20px !important;
            max-width: 25% !important;
        }
    }

    @media (max-width: 471px){
        .title{
            position: absolute !important;
            top: 20% !important;
            font-size: 15px !important;
            overflow-wrap: break-word !important;
            max-width: 25% !important;
        }
        .number{
            position: absolute !important;
            top: 32% !important;
            font-weight: bold;
            font-size: 20px !important;
            max-width: 25% !important;
        }
    }

    .modal-update{
        /* max-width: 10%; */
        margin: 10px 10% 10px 10%;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }


    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }
   

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }

    .title{
        position: absolute;
        top: 27%;
        font-size: 20px;
        color: white;
    }

    .number{
        color: #fff;
        position: absolute;
        top: 35%;
        font-size: 40px;
    }
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách Phiên Kiểm kê của Đại Lý </h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-12">
                                    <label style="color: #deb284fa;">Lưu ý: Nhấp vào tên Phiêm Kiểm kê để xem chi tiết.</label>
                                </div>
                            </div>
                            <div style="width: 100%; height: 100px;">
                                <a href="/transaction/list-transaction-24h?tab=1&start=<%= start%>&end=<%= end%>">
                                    <div style="background-color: #f06a52; width: 33%; height: 100%; float: left; padding: 20px; cursor: pointer;">
                                        <p class="title">Tổng gói hàng chưa kiểm kê</p>
                                        <p class="number"><%=amountTransactionNotInventory < 10 ? `0${amountTransactionNotInventory}`: amountTransactionNotInventory%></p>
                                    </div>
                                </a>
                                <a href="/transaction/list-transaction-24h?tab=2&start=<%= start%>&end=<%= end%>">
                                    <div style="background-color: #75b647; width: 33%; height: 100%; float: left; padding: 20px; cursor: pointer;"> 
                                        <p class="title">Tổng gói hàng đã kiểm kê (Hôm nay)</p>
                                        <p class="number"><%=amountTransactionHaveInventory < 10 ? `0${amountTransactionHaveInventory}`: amountTransactionHaveInventory%></p>
                                    </div>
                                </a>
                                <a href="/transaction/list-transaction-24h?tab=3&start=<%= start%>&end=<%= end%>">
                                    <div style="background-color: #FABC02; width: 34%; height: 100%; float: left; padding: 20px; cursor: pointer;"> 
                                        <p class="title">Tổng gói hàng hiện đang giữ</p>
                                        <p class="number"><%=amountTransaction < 10 ? `0${amountTransaction}`: amountTransaction%></p>
                                    </div>
                                </a>
                            </div>
                            <br>
                            <div class="row gutters">
                                
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtStartDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtEndDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearchInventory br-btn">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>                                    
                            <div class="form-group col-2">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListInventorySession" class="table table-striped table-bordered">
                                    <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                        <!-- thead-inverse -->
                                        <thead class="thead-default">
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên Phiên Kiểm Kê</th>
                                                <th>Mô tả</th>
                                                <th>Ngày Kiểm kê</th>
                                                <th>Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listInventorySession && listInventorySession.length && listInventorySession.forEach((inventory, index) => { %>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td><a href="/inventory/detail/<%=inventory.data._id%>"><%= _lodash.get(inventory.data, 'name', '')%> (<%=`${inventory.count}/${inventory.data.transactions.length}`%> )</a></td>
                                                    <td><%= _lodash.get(inventory.data, 'description', '')%></td>
                                                    <td><%=moment(inventory.data.createAt).format('L')%></td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-primary btn-sm">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" 
                                                                class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" 
                                                                x-placement="right-start" 
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item btnUpdateInventory" href="javascript:void(0)" _inventoryID="<%= inventory.data._id %>">
                                                                    <span class="icon-border_color"></span> Cập nhật phiên kiểm kê
                                                                </a>
                                                                <a class="dropdown-item btnDeleteInventory" href="javascript:void(0)" _inventoryID="<%= inventory.data._id %>">
                                                                    <span class="icon-trash2"></span> Xóa phiên kiểm kê
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% if (listInventorySession && listInventorySession.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- POPUP CẬP NHẬT PHIÊN KIỂM KÊ -->
<div class="modal fade bs-example-modal-sm modal-create-inventory-session" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-update">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Cập nhật phiên Kiểm kê</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Tên</label> 
                        <input type="text" class="form-control" id="txtName">
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Mô tả</label> 
                        <input type="text" class="form-control" id="txtDescription">
                        <small>Set Error</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateInventorySession">Xác nhận</button>
            </div>
        </div>
    </div>
</div>