<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-popup{
        /* max-width: 10%; */
        margin: 10px 10% 10px 10%;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }

    input[type=checkbox] {
        transform: scale(1.5);
    }
    
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Lịch sử kiểm kê của giao dịch</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="datatableListHistoryCheck" class="table table-striped table-bordered">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>STT</th>
                                                <th>Nhân viên kiểm kê</th>
                                                <th>Ngày kiểm kê</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listHistoryCheckOfTransaction && listHistoryCheckOfTransaction.length && listHistoryCheckOfTransaction.forEach((historyCheck, index) => { %>
                                                <tr>
                                                    <td><%=index+1 %></td>
                                                    <td><%=historyCheck.userID.username %></td>
                                                    <td><%=moment(historyCheck.createAt).format('L') %> lúc <%=moment(historyCheck.createAt).format('LT') %></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% if (listHistoryCheckOfTransaction && listHistoryCheckOfTransaction.length == 0) { %>
                                        <% include ../../common/views/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>




