<!-- BEGIN .app-container -->
<style>
    @media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin: auto;
        }
    }

    .modal-popup{
        /* max-width: 10%; */
        margin: 10px 10% 10px 10%;
        width: 80%;
    }

    .error {
        border-color: #ff6565;    
    }

    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }

   .titlePopup{
       padding: 0;
   }

   .hr-19 {
        border: none;
        height: 10px;
        background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
        background-color: #333747 ;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 10px;
    }

   .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .btnFilter{
        margin-top: 8px;
    }

    input[type=checkbox] {
        transform: scale(1.5);
    }
    
</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5><%=title%></h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <br>
                            <div class="row gutters">
                                <!-- <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtStartDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                        <% if (start) { %>
                                            <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                        <% }else{ %>
                                            <input type="date" class="form-control" id="txtEndDate">
                                        <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearch br-btn">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div> -->
                                <% if (!tab) { %>
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <a href="#" class="btn btn-outline-primary  waves-effect waves-light btn-create-inventory-session">
                                            <span class="icon-add_circle"></span>
                                            Tạo phiên kiểm kê
                                        </a>
                                    </div>
                                <% } %>
                            </div>                                    
                            <div class="form-group col-2">
                                <!-- <button type="button" class="btn btn-secondary btnBack">Trở về</button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                            <table id="datatableListTransaction" class="table table-striped table-bordered">
                            <!-- <table class="table table-hover table-responsive table-list-customer"> -->
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Khách hàng</th>
                                        <th>Sản phẩm</th>
                                        <th>Tổng số tiền</th>
                                        <th>Ghi chú</th>
                                        <th>Ngày giao dịch</th>
                                        <!-- <th>Trạng thái</th> -->
                                        <th>Trạng thái kiểm kê</th>
                                        <!-- <th>Tác vụ</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listTransaction && listTransaction.length && listTransaction.forEach((transaction, index) => { %>
                                        <tr>
                                            <td><%=index + 1%></td>
                                            <td><a href="/transaction/info-transaction/<%=transaction._id%>"><%=_lodash.get(transaction.customer, "name", "")%></a></td>
                                            <td>
                                                <% transaction.products && transaction.products.length && transaction.products.forEach(product => { %>
                                                    <p style="margin-top: 10px"><%=product.name%> - <%=formatCurrency('###,###.', product.price)%>đ</p>
                                                <% }) %>
                                            </td>
                                            <td><%=formatCurrency('###,###.', transaction.totalMoneyNumber)%></td>

                                            <td><%=transaction.note && _lodash.get(transaction, "note", "")%></td>
                                            <%
                                                let statusChar;
                                                if(transaction.status == 0){
                                                    statusChar = "Đang xử lý";
                                                }else if(transaction.status == 1){
                                                    statusChar = "Đã duyệt";
                                                }else{
                                                    statusChar = "Không duyệt";
                                                }
                                                
                                            %>
                                            <td><%=moment(transaction.createAt).format('L') %> lúc <%=moment(transaction.createAt).format('LT');%></td>
                                            <!-- <td><%=statusChar%></td> -->
                                            <td>
                                                <% if( transaction.historyCheck && transaction.historyCheck.length > 0 ){ %>
                                                    <% 
                                                        let indexEnd = transaction.historyCheck.length - 1
                                                        let nameEmployee, lastCreateAtHistoryCheck;
                                                        if(transaction.historyCheck[indexEnd].userID.username){ //Nếu điều kiện này đúng thì nó thuộc tab 3
                                                            nameEmployee = transaction.historyCheck[indexEnd].userID.username;
                                                            lastCreateAtHistoryCheck = transaction.historyCheck[indexEnd].createAt;
                                                        }else{
                                                            nameEmployee = transaction.userID.username;
                                                            lastCreateAtHistoryCheck = transaction.lastHistoryCheck.createAt;
                                                        }
                                                    %> 
                                                    <span class="badge badge-pill badge-success">
                                                        Đã kiểm kê
                                                    </span>
                                                    <p style="margin-top: 10px;"><%=moment(lastCreateAtHistoryCheck).format('L') %> lúc <%=moment(lastCreateAtHistoryCheck).format('LT') %> </p>
                                                    <p>NV Kiểm kê: <%=nameEmployee %> </p>
                                                    <a style="color: #49589e;" href="/transaction/history-check/<%=transaction._id%>"><i>Xem lịch sử kiểm kê</i></a>
                                                <% }else if(transaction.historyCheck && transaction.historyCheck.length == 0){ %>
                                                    <span class="badge badge-pill badge-info">Chưa kiểm kê</span>
                                                <% }else{ %>
                                                    <span class="badge badge-pill badge-secondary">Báo mất</span>
                                                <% } %>
                                            </td>
                                            <!-- <td>
                                                <div class="btn-group mb-2">
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                        Thao Tác
                                                    </button>
                                                    <button type="button" 
                                                        class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" 
                                                        x-placement="right-start" 
                                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                        <a class="dropdown-item btnBlockUser btnShowUpdateInventory" href="javascript:void(0)" _transactionID="<%= transaction._id %>">
                                                            <span class="icon-trash2"></span> Cập nhật Trạng thái Kiểm kê
                                                        </a>
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <% if (listTransaction && listTransaction.length == 0) { %>
                                <% include ../../common/views/no_result.ejs %>
                            <% } %>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- POPUP CẬP NHẬT TRẠNG THÁI -->
<div class="modal fade bs-example-modal-sm modal-update-inventory-transaction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái Kiểm kê</h5>
            </div>
            <div class="modal-body">
				<div class="form-group d-none">
                    <input type="hidden" class="form-control" id="txtPricingRequestIDModal">
                </div>
                <div class="form-group"><label>Trạng thái</label>
                    <select class="form-control" id="type-inventory">
                        <option value="0">Chưa kiểm tra</option>
                        <option value="1">Đã kiểm tra</option>
                        <option value="2">Báo mất</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success btnConfirmUpdateInventory">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->

<div style="" class="modal fade bs-example-modal-sm modal-create-inventory-session" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Tạo phiên Kiểm kê</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Tên</label> 
                        <input type="text" class="form-control" id="txtName">
                        <small>Set Error</small>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="form-group col-xl-12"><label>Mô tả</label> 
                        <textarea class="form-control" id="txtDescription" cols="30" rows="5"></textarea>
                        <small>Set Error</small>
                    </div>
                </div>
                <br>
                <div class="row gutters">
                    <div class="form-group col-xl-12">
                        <input type="checkbox" id="checkbox1" name="vehicle1" value="1">
                        <label for="vehicle1">&nbsp;Chọn ngày tuỳ chọn</label><br>
                    </div>
                </div>
                <div class="row gutters betweenDate">
                    <div class="form-group col-xl-3"><label>Từ ngày</label> 
                        <input type="date" class="form-control" id="txtStartDatePopup">
                        <small>Set Error</small>
                    </div>
                    <div class="form-group col-xl-3"><label>Đến ngày</label>
                        <input type="date" class="form-control" id="txtEndDatePopup">
                        <small>Set Error</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddInventorySession">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



