<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .select2-selection__rendered{
        line-height: 35px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 37px !important;
    }
    .select2-selection__arrow {
        height: 35px !important;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }
    #txtStartDate{
        color: black;
        background: white;
    }
    #txtEndDate{
        color: black;
        background: white;
    }

    #txtKey{
        color: black;
        background: white;
    }
  
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách Giao dịch</h5>
                            <!-- <h6 class="sub-heading">List Transaction</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <!-- <div class="form-group col-xl-4"><label><span class="icon-glass2"> </span>Tìm theo từ khóa</label> 
                                    <input type="text" class="form-control" placeholder="VD: Cầm đồ Tô Thành Đạt" id="txtKey">
                                </div> -->
                                <div class="form-group col-xl-3"><label><span class="icon-glass2"> </span>Bộ lọc theo Địa chỉ</label> 
                                    <select class="form-control address" id="txtCityFilter">
                                        <option value="">Chọn Tỉnh/Thành phố</option>
                                            <% listProvince.forEach(province => { %>
                                                <% if (city && city.toString() == province[1].code.toString()) { %>
                                                    <option selected value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                                <% }else{ %>
                                                    <option value="<%=province[1].code%>"><%=province[1].name_with_type%></option>
                                                <% } %>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-xl-3"><label>&nbsp;<span></span></label> 
                                    <select class="form-control address" id="txtDistrictFilter">
                                        <option value="">Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="form-group col-xl-3"><label>&nbsp;<span></span></label> 
                                    <select class="form-control address" id="txtWardFilter">
                                        <option value="">Chọn Xã/Phường</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label><span class="icon-glass2"> </span>Bộ lọc Đại Lý</label> 
                                    <select class="form-control" id="txtAgency">
                                        <option value="">Tất cả Đại Lý</option>
                                        <% listAgency && listAgency.length && listAgency.forEach(agency => { %>
                                            <% if (agencyFilter && agencyFilter.toString() == agency._id.toString()) { %>
                                                <option selected value="<%=agency._id%>"><%=agency.name%></option>
                                            <% }else { %>
                                                <option value="<%=agency._id%>"><%=agency.name%></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Danh mục kinh doanh</label> 
                                    <select class="form-control" id="typeProductCategory">
                                        <option value="">Chọn Danh mục Kinh doanh</option>
                                        <% listProductCategory && listProductCategory.length && listProductCategory.forEach(product => { %>
                                            <% if (type && type.toString() == product._id.toString()) { %>
                                                <option selected value="<%=product._id%>"><%=product.name%></option>
                                            <% }else { %>
                                                <option value="<%=product._id%>"><%=product.name%></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtStartDate">
                                    <% } %>
                                   
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtEndDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Trạng thái</label> 
                                    <select class="form-control" id="filter-other">
                                        <option value="">Chọn Trạng thái</option>
                                        <% TYPE_STATUS_TRANSACTION.forEach( status => { %> 
                                            <% if (sort == status.value) { %> 
                                                <option value="<%= status.value %>" selected><%= status.text %></option>
                                            <% } else {%> 
                                                <option value="<%= status.value %>"><%= status.text %></option>
                                            <% } %> 
                                        <% }) %> 
                                    </select>
                                    <small>Set Error</small>
                                </div>
                               
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px;" type="button" class="btn btn-success btnSearch border-btn-black">
										<span class="icon-search"></span>
										Tìm kiếm 
									</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div class="row" >
                                <div class="col-xl-4">
                                    <p class="text-left"> Tổng số tiền cầm: 
                                        <b> 
                                            <% if (calculPricePawn) { %>
                                                <%=formatCurrency('###,###.', calculPricePawn)%>đ
                                            <% } else { %>
                                            0 
                                            <% } %>
                                        </b>  
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-left"> Tổng số tiền vay thêm: 
                                        <b> 
                                            <% if (calculPriceBorrow) { %>
                                                <%=formatCurrency('###,###.', calculPriceBorrow)%>đ
                                            <% } else { %>
                                            0 
                                            <% } %>
                                        </b>  
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-left"> Tổng số tiền trả bớt: 
                                        <b> 
                                            <% if (calculPricePay) { %>
                                                <%=formatCurrency('###,###.', calculPricePay)%>đ
                                            <% } else { %>
                                            0 
                                            <% } %>
                                        </b>  
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-left"> Tổng số tiền trả lãi: 
                                        <b> 
                                            <% if (totalInterestAllTransaction) { %>
                                                <%=formatCurrency('###,###.', totalInterestAllTransaction)%>đ
                                            <% } else { %>
                                            0 
                                            <% } %>
                                        </b>  
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-left"> Tổng số tiền chuộc: 
                                        <b> 
                                            <% if (calculPriceRansom) { %>
                                                <%=formatCurrency('###,###.', calculPriceRansom)%>đ
                                            <% } else { %>
                                            0 
                                            <% } %>
                                        </b>  
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <button class="downloadExcel">
                                        <b>EXPORT EXCEL</b>
                                    </button>
                                </div>
                            </div>
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="table-list-transaction"class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead >
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên Đại lý Cha</th>
                                                <th>Tên Đại lý</th>
                                                <th>Số tiền cầm</th>
                                                <th>Số tiền vay thêm</th>
                                                <th>Số tiền trả bớt</th>
                                                <th>Tổng số tiền lãi và phí</th>
                                                <th>Tổng số tiền chuộc</th>
                                                <th>Loại quỹ</th>
                                                <th>Ngày giao dịch</th>
                                                <th>Trạng thái</th>
                                                <th>Ghi chú</th>
                                                <!-- <th>Trạng thái</th> -->
                                                <!-- <th></th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listTransactionWithTypeAndAgency && listTransactionWithTypeAndAgency.length && listTransactionWithTypeAndAgency.forEach((transaction, index) => { %>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td>
                                                        <%= _lodash.get(transaction, 'nameParent', '') %>
                                                    </td>
                                                    <td>
                                                        <a href="/transaction/info-transaction/<%= transaction._id %>">
                                                            <%= _lodash.get(transaction, 'name', '') %>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%=formatCurrency('###,###.', transaction.totalMoneyNumber)%>
                                                    </td>
                                                    <td>
                                                        <% if (transaction.totalPriceBorrow) { %>
                                                            <%=formatCurrency('###,###.', transaction.totalPriceBorrow)%>
                                                        <% } else { %>
                                                           0 
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (transaction.totalPricePay) { %>
                                                            <%=formatCurrency('###,###.', transaction.totalPricePay)%>
                                                        <% } else { %>
                                                           0 
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (transaction.interestAndFeeAllInjectTransaction) { %>
                                                            <%=formatCurrency('###,###.', transaction.interestAndFeeAllInjectTransaction)%>
                                                        <% } else { %>
                                                           0 
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (transaction.totalPriceRansom) { %>
                                                            <%=formatCurrency('###,###.', transaction.totalPriceRansom)%>
                                                        <% } else { %>
                                                           0 
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <%= _lodash.get(transaction, 'nameFinancial', '') %>
                                                    </td>
                                                    <td>
                                                        <%=moment(transaction.createAt).format('L') %> lúc <%=moment(transaction.createAt).format('LT');%>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-pill <%= TYPE_STATUS_TRANSACTION[transaction.status].class%>">
                                                            <%= TYPE_STATUS_TRANSACTION[transaction.status].text%>
                                                        </span>
                                                    </td>
                                                    <td><%=transaction.note%></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% if (listTransactionWithTypeAndAgency && listTransactionWithTypeAndAgency.length == 0) { %>
                                        <% include ../../common/components/no_result.ejs %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
