<style>
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* @media (max-width: 1200px){
        .select2-container{
            width: 100% !important;
        }
    } */
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    img.img-thumbnail{
        width: 100px;
    }
    .font-change{
        font-size: 15px;
    }
    .error {
        border-color: #ff6565;    
    }
    .error-card-product{
        color: #ff6565;
        /* position: absolute; */
        visibility: hidden;
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .titlePopup{
       padding: 0;
   }
    /*
        css cho xóa card sản phẩm
     */
    .img-wraps {
        position: relative;
        display: inline-block;
        /* border: 1px red solid; */
        font-size: 0;
    }
    .img-wraps .close {
        position: absolute;
        top: 2px;
        right: 13px;
        z-index: 100;
        /* background-color: #FFF; */
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        /* opacity: .2; */
        text-align: center;
        font-size: 30px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wraps:hover .close {
        opacity: 1;
        color: #ff0000 ;
    }

    /*
        css cho xóa hình ảnh 
     */
    .img-wrapss {
        position: relative;
        display: inline-block;
        /* border: 1px red solid; */
        font-size: 0;
    }
    .img-wrapss .close {
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 100;
        /* background-color: #FFF; */
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        /* opacity: .2; */
        text-align: center;
        font-size: 30px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wrapss:hover .close {
        opacity: 1;
        color: #ff0000 ;
    }
    .form-control:disabled{
        background-color: #98a0bc;
    }
    .color-icon{
        color: #DF9024;
    }
    .lg-outer.lg-visible{
        background: black;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    .progress-bar{
        transition: none;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="page-title">
                            <h5>Chỉnh sửa giao dịch</h5>
                            <!-- <h6 class="sub-heading">Welcome to Unify Admin Template</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions">
                            <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download Reports">
                                <i class="icon-download4"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->
        <!-- BEGIN .main-content -->
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <!-- <div class="col-xl-6"> -->
                                    <h3 class="col-xl-12 mt-0 titlePopup">
                                        <span class="icon-group color-icon"></span> Thông tin khách hàng 
                                    </h3>
                                    
                                    </br>
                                    <p class="text-left"> <b> Mã khách hàng:</b> <%= infoTransaction.customer.code %> </p>
                                    <p class="text-left"> <b>Tên khách hàng:</b> <%= infoTransaction.customer.name %> </p>
                                    <p class="text-left"><b>Số điện thoại:</b> <%= infoTransaction.customer.phone %> </p>
                                    <p class="text-left"> 
                                        <b>Giới tính: </b> 
                                            <%= TYPE_GENDER[infoTransaction.customer.gender].text %>
                                             
                                    </p>
                                   
                                    <p class="text-left"><b>Ngày sinh:</b> <%= moment(_lodash.get(infoTransaction.customer, "birthday", "")).format('L')  %>
                                         
                                    </p>

                                    <!-- <h3 class="col-xl-12 mt-0 titlePopup"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Địa chỉ thường trú </h3> -->
                                    <p class="text-left"><b>Địa chỉ: </b>
                                        <%= _lodash.get(infoTransaction.customer, "address", "") %>
                                        <%= wardArr     && wardArr.length      ? wardArr[1].name_with_type + "," : '' %>
                                        <%= districtArr && districtArr.length      ? districtArr[1].name_with_type + "," : '' %>
                                        <%= provinceArr && provinceArr.length      ? provinceArr[1].name_with_type  : '' %>
                                    
                                        
                                    </p>
                                    <!-- <p class="text-left"><b>Hoạt động:</b>
                                            <span class="badge badge-pill badge-success">
                                                Đang hoạt động
                                            </span>
                                            <span class="badge badge-pill badge-secondary">Không Hoạt Động</span>
                                    </p> -->
                                    </br>   
                                    <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Những thông tin có dấu (*) là thông tin bắt buộc</p> -->
                                <!-- </div> -->
                                
                                </br>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters parentRow">
                        <% if(infoTransaction.products && infoTransaction.products.length) { %>
                            <% for(let i = 0; i < infoTransaction.products.length; i++) { %>
                                <div class="col-xl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 createProductCard img-wraps">
                                    <span class="close deleteCard" __productID="<%= infoTransaction.products[i]._id %>" _index="<%= i + 1 %>" _type="" <% if(i != infoTransaction.products.length - 1) {%>
                                        style="display: none;"
                                    <%}%> >&times;</span>
                                    <div class="card ">
                                        <div class="card-body">
                                            <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-database3 color-icon"></span> Sản phẩm </h3>
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Những thông tin có dấu (*) là thông tin bắt buộc</p>
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Bạn phải nhập đầy đủ thông tin mới được phép tạo thêm sản phẩm</p>
                                            </br>
                                            <div class="row gutters cardProduct" style="
                                                margin-top: 15px;
                                            ">
                                                <div class="form-group col-xl-6 categoryPricingProductAppend">
                                                    <h6>Danh mục (*)</h6> 
                                                    <select class="form-control txtProductCategoryAdd" id="txtProductCategoryAdd<%= i + 1%>">
                                                        <option value="">Chọn danh mục</option>
                                                        <% listProductCategory && listProductCategory.length && listProductCategory.forEach(category => { %>
                                                            <% if(category._id.toString() == infoTransaction.products[i].type._id.toString()) { %>
                                                                <option value="<%= category._id %>" selected><%= category.name %></option>
                                                            <% }else{ %>
                                                                <option value="<%= category._id %>"><%= category.name %></option>
                                                            <% } %>
                                                        <% } ) %>
                                                    </select>
                                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                                </div>
                                                <div class="form-group col-xl-6">
                                                    <h6>Tên sản phẩm (*)</h6> 
                                                    <input type="text" class="form-control txtProductNameAdd" value="<%= infoTransaction.products[i].name %>" placeholder="VD: Nhẫn Kim Cương"   id="txtProductNameAdd<%= i + 1%>" >
                                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                                </div>
                                                <div class="form-group col-xl-6">
                                                    <h6>Giá sản phẩm (*)</h6> 
                                                    <input type="text" class="form-control txtProductPriceAdd" value="<%= formatCurrency('###,###.', infoTransaction.products[i].price) %>" placeholder="VD: 2,000,000" id="txtProductPriceAdd<%= i + 1%>" >
                                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                                </div>
                                                <div class="form-group col-xl-6">
                                                    <h6>Ghi chú</h6> 
                                                    <input type="text" class="form-control txtNotePriceAdd" value="<%= infoTransaction.products[i].note %>" placeholder="VD: Sản phẩm còn được bảo hành" id="txtNotePriceAdd<%= i + 1%>" >
                                                    <h6 class="error-card-product" style="font-size: 12px;">Error Message</h6>
                                                </div>
                                                <div class=" col-xl-6" style="margin-top:25px;">
                                                    <button class="btn btn-primary  btnPricingProduct" _index="<%= i + 1%>">Định giá sản phẩm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                        
                        
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row gutters">
                                        <div class="col-xl-6">
                                            <h3 class="col-xl-12 mt-0 titlePopup">
                                                <span class="icon-swap color-icon"></span> Thông tin giao dịch </h3>
                                            <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Bạn phải tạo sản phẩm trước</p>
                                            
                                            </br>
                                        </div>
                                        <div class="text-right col-xl-6">
                                            <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="row gutters">
                                    <!-- <div class="form-group col-xl-6"><label>Ngày Giao Dịch</label> 
                                        <input type="date" class="form-control" id="txtTransactionDateAdd" value="<%= moment(Date.now()).format().substring(0, 10) %>" disabled> -->
                                        <!-- <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Khách hàng phải trên 18 tuổi</p> -->
                                        <!-- <small>Error Message</small>
                                    </div> -->
                                    <div class="form-group col-xl-6">
                                        <label>Số tiền vay (*) </label> 
                                        <input type="text" placeholder="VD: 1,000,000" class="form-control txtLoanAmountAdd" id="txtLoanAmountAdd" value="<%= formatCurrency('###,###.', infoTransaction.loanAmount) %>">
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Số tiền vay phải nhỏ hơn hạn mức phê duyệt</p>
                                        <small>Error Message</small>
                                        <!-- <button class="btn btn-info btn-sm btnCheckCode">Kiểm tra mã</button> -->
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <label>Hạn mức phê duyệt</label> 
                                        <input type="text" class="form-control txtApprovalLimitAdd" id="txtApprovalLimitAdd" value="<%= formatCurrency('###,###.',_lodash.get(infoTransaction, "approvalLimit", "")) %>" disabled>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hạn mức phê duyệt tự động thay đổi dựa vào giá sản phẩm</p>
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <label>Tổng tiền trả bằng số </label> 
                                        <input type="text" class="form-control" id="txtTotalMoneyNumberAdd" value="<%= formatCurrency('###,###.', infoTransaction.loanAmount ) %>" disabled>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Tổng tiền trả tự động thay đổi dựa vào số tiền vay</p>
                                        <small>Error Message</small>
                                    </div>
                                    
                                    <div class="form-group col-xl-12">
                                        <label>Ghi chú duyệt</label> 
                                        <textarea type="text" cols="30" rows="10" class="form-control" id="txtApprovalNoteAdd" value><%= _lodash.get(infoTransaction, "approvalNote", "") %></textarea>
                                        <small>Error Message</small>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row gutters">
                                    <!-- <div class="col-xl-6">
                                        <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                    </div> -->
                                    <!-- <div class="text-right col-xl-6">
                                        <button class="btn btn-info btn-lg  btnConfirmAddTransaction">Xác nhận</button>
                                    </div> -->
                                </div>

                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="card" >
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-0 titlePopup">
                                    <span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                                </br>
                                <div class="row gutters">
                                    <div class="col-xl-12">
                                        <p class="validateInput text-primary" style="font-size: 20px;">  Hình ảnh bắt buộc</p>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress1" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <label>Hình ảnh khách hàng <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtImageCustomerTransAdd" class="form-control" multiple>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listImageCustomerTransAdd">
                                            <% if ( infoTransaction.customerImages && infoTransaction.customerImages.length ){ %>
                                                <% infoTransaction.customerImages && infoTransaction.customerImages.length && infoTransaction.customerImages.forEach( image => { %>
                                                    <div class="img-wraps" data-src="<%= image.path %>">
                                                        <span class="close deleteImage" _type="imgImageCustomerTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                        <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                            <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                            <div class="overlay">
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress2" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress2" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->
                                        <label>Hình ảnh giấy tờ <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtKYCImagesTransAdd" class="form-control" multiple>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listKYCImagesTransAdd">
                                            <% if ( infoTransaction.KYCImages && infoTransaction.KYCImages.length ){ %>
                                                <% infoTransaction.KYCImages && infoTransaction.KYCImages.length && infoTransaction.KYCImages.forEach( image => { %>
                                                    <div class="img-wraps" data-src="<%= image.path %>">
                                                        <span class="close deleteImage" _type="imgKYCImagesTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                        <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                            <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                            <div class="overlay">
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress4" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress4" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh phiếu kiểm đinh <b>(*)</b></label>
                                        <input type="file" accept="image/*" id="txtFormVerificationImagesTransAdd" class="form-control" multiple>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listFormVerificationImagesTransAdd">
                                            <% if ( infoTransaction.formVerificationImages && infoTransaction.formVerificationImages.length ){ %>
                                                <% infoTransaction.formVerificationImages && infoTransaction.formVerificationImages.length && infoTransaction.formVerificationImages.forEach( image => { %>
                                                    <div class="img-wraps" data-src="<%= image.path %>">
                                                        <span class="close deleteImage" _type="imgFormVerificationImagesTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                        <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                            <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                            <div class="overlay">
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <p class="validateInput text-primary" style="font-size: 20px;">  Hình ảnh không bắt buộc</p>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress3" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress3" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh biên nhận</label>
                                        <input type="file" accept="image/*" id="txtReceiptImagesAdd" class="form-control" multiple>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listReceiptImagesAdd">
                                            <% if ( infoTransaction.receiptImages && infoTransaction.receiptImages.length ){ %>
                                                <% infoTransaction.receiptImages && infoTransaction.receiptImages.length && infoTransaction.receiptImages.forEach( image => { %>
                                                    <div class="img-wraps" data-src="<%= image.path %>">
                                                        <span class="close deleteImage" _type="imgReceiptImagesAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                        <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                            <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                            <div class="overlay">
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="progress">
                                            <div class="progress-bar progress5" role="progressbar" style="width: 0;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- <div class="progress4" style="color: white; font-size:30px;height:10px;width:0; background-color: #218838;"></div> -->

                                        <label>Hình ảnh hóa đơn</label>
                                        <input type="file" accept="image/*" id="txtBillImagesTransAdd" class="form-control" multiple>
                                        <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                        <small>Error Message</small>
                                        </br>
                                        <div class="gallery listBillImagesTransAdd">
                                            <% if ( infoTransaction.billImages && infoTransaction.billImages.length ){ %>
                                                <% infoTransaction.billImages && infoTransaction.billImages.length && infoTransaction.billImages.forEach( image => { %>
                                                    <div class="img-wraps" data-src="<%= image.path %>">
                                                        <span class="close deleteImage" _type="imgImageBillTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                        <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                            <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                            <div class="overlay">
                                                            </div>
                                                        </a>
                                                    </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row gutters">
                                    <!-- <div class="col-xl-6">
                                        <button class="btn btn-primary  btnCreateProduct">Tạo sản phẩm</button>
                                    </div> -->
                                    <div class="text-right col-xl-12">
                                        <button class="btn btn-info btn-lg  btnConfirmAddTransaction" _status="<%= infoTransaction.status %>" _transactionID = "<%= infoTransaction._id %>">Xác nhận</button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <%infoTransaction.injectTransaction && infoTransaction.injectTransaction.length && infoTransaction.injectTransaction.forEach((injectTransaction, index) => { %>
                        <div class="card cardCreateInjectTrans">
                            <div class="card-header">
                                <h3 class="col-xl-12 mt-0 titlePopup"><span class="icon-add_box color-icon"></span> Chỉnh sửa giao dịch bổ sung ngày <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('L')%> lúc <%= moment(_lodash.get(injectTransaction, "createAt", "")).format('LT')%> </h3>
                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Những thông tin có dấu (*) là thông tin bắt buộc</p>
                            </div>
                            <div class="card-body">
                                <div class="row gutters font-change parentInjectTrans">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                                        <label>Tên giao dịch <b>(*)</b></label> 
                                        <input type="text" class="form-control" id="txtTransactionInjectName" value="<%= injectTransaction.title %>" >
                                        <small>Error Message</small>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 ">
                                        <label>Ghi chú </label> 
                                        <input type="text" class="form-control" id="txtTransactionInjectNote"  value='<%= _lodash.get(injectTransaction, "note", "") %>'>
                                        <small>Error Message</small>
                                    </div>

                                    <% if(injectTransaction.type != 2 && injectTransaction.type != 6) { %>
                                        <% if(injectTransaction.type == 5) { %>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Phí cấp lại<b>(*)</b> </label> 
                                                <input type="text" class="form-control txtReissueFee" id="txtReissueFee" value="100,000">
                                                <small>Error Message</small>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Yêu cầu in lần thứ<b>(*)</b> </label> 
                                                <input type="text" class="form-control" id="txtRequestPrintTh"  value="" disabled>
                                                <small>Error Message</small>
                                            </div>
                                        <% } %>
                                        <% if(injectTransaction.type == 3) { %>
                                            <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Số tiền có thể vay thêm <b>(*)</b></label> 
                                                <input type="text" class="form-control" id="txtCanBorrowMore" value='<%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "canBorrowMore", "")) %>' disabled>
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Số tiền có thể vay thêm = Hạn mức phê duyệt - Số tiền vay, tự động tính</p>
                                                <small>Error Message</small>
                                            </div> -->
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Số tiền muốn vay thêm<b>(*)</b> </label> 
                                                <input type="text" class="form-control txtAmountWantBorrowMore" id="txtAmountWantBorrowMore" value='<%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantBorrowMore", "")) %>' >
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Số tiền muốn vay thêm phải nhỏ hơn số tiền có thể vay</p>
                                                <small>Error Message</small>
                                            </div>
                                        <% } %>
                                        <% if(injectTransaction.type == 4) { %>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Trả bớt tối thiểu <b>(*)</b> </label> 
                                                <input type="text" class="form-control" id="txtPaybackMin" value='<%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "paybackMin", "")) %>' disabled >
                                                <small>Error Message</small>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                                <label>Số tiền muốn trả bớt <b>(*)</b></label> 
                                                <input type="text" class="form-control txtAmountWantPayback" id="txtAmountWantPayback" value='<%= formatCurrency('###,###.',_lodash.get(injectTransaction.meta, "amountWantPayback", "")) %>' >
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> Số tiền muốn trả bớt phải lớn hơn 50,000 và phải nhỏ hơn số tiền vay + lãi</p>
                                                <small>Error Message</small>
                                            </div>
                                        <% } %>
                                    <% } %>

                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        </br>
                                        <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-0 titlePopup"><span class="icon-image2 color-icon"></span> Hình ảnh </h3>
                                        </br>
                                        <div class="row gutters ">
                                            <div class="form-group col-xl-3 customerImageInject">
                                                <label>Hình ảnh khách hàng <b>*</b></label>
                                                <input type="file" accept="image/*" id="txtImageCustomerInjectTransAdd" class="form-control" multiple>
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                                <small>Error Message</small>
                                                </br>
                                                <div class="gallery listImageCustomerInjectTransAdd">
                                                    <% if ( injectTransaction.customerImages && injectTransaction.customerImages.length ){ %>
                                                        <% injectTransaction.customerImages && injectTransaction.customerImages.length && injectTransaction.customerImages.forEach( image => { %>
                                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                <div class="img-wraps" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                                    <span class="close deleteImage" _type="imgImageCustomerInjectTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                                    <a data-src="<%= _lodash.get(image, 'path', '')   %>" href="<%= _lodash.get(image, 'path', '')   %>" class="effects khongtrung">
                                                                        <img style="object-fit: contain;" src="<%= _lodash.get(image, 'path', '')   %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            <!-- </div> -->
                                                        <% }) %>
                                                    <% }  %>
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-3">
                                                <label>Hình ảnh giấy tờ <b>*</b></label>
                                                <input type="file" accept="image/*" id="txtKYCImagesInjectTransAdd" class="form-control" multiple>
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                                <small>Error Message</small>
                                                </br>
                                                <div class="gallery listKYCImagesInjectTransAdd">
                                                    <% if ( injectTransaction.KYCImages && injectTransaction.KYCImages.length ){ %>
                                                        <% injectTransaction.KYCImages && injectTransaction.KYCImages.length && injectTransaction.KYCImages.forEach( image => { %>
                                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                <div class="img-wraps" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                                    <span class="close deleteImage" _type="imgKYCInjectImagesTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                                    <a data-src="<%= _lodash.get(image, 'path', '')   %>" href="<%= _lodash.get(image, 'path', '')   %>" class="effects khongtrung">
                                                                        <img style="object-fit: contain;" src="<%= _lodash.get(image, 'path', '')   %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            <!-- </div> -->
                                                        <% }) %>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-3">
                                                <label>Hình ảnh biên nhận <b>*</b></label>
                                                <input type="file" accept="image/*" id="txtReceiptInjectImagesAdd" class="form-control" multiple>
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                                <small>Error Message</small>
                                                </br>
                                                <div class="gallery listReceiptImagesInjectAdd">
                                                    <% if ( injectTransaction.receiptImages && injectTransaction.receiptImages.length ){ %>
                                                        <% injectTransaction.receiptImages && injectTransaction.receiptImages.length && injectTransaction.receiptImages.forEach( image => { %>
                                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                <div class="img-wraps" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                                    <span class="close deleteImage" _type="imgReceiptImagesInjectAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                                    <a data-src="<%= _lodash.get(image, 'path', '')   %>" href="<%= _lodash.get(image, 'path', '')   %>" class="effects khongtrung">
                                                                        <img style="object-fit: contain;" src="<%= _lodash.get(image, 'path', '')   %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            <!-- </div> -->
                                                        <% }) %>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-3">
                                                <label>Hình ảnh phiếu kiểm đinh <b>*</b></label>
                                                <input type="file" accept="image/*" id="txtFormVerificationImagesInjectTransAdd" class="form-control" multiple>
                                                <p class="validateInput text-primary" style="font-size: 12px;margin: 0.75px;"> (*) Hình ảnh chỉ được chọn tối đa 5 ảnh</p>
                                                <small>Error Message</small>
                                                </br>
                                                <div class="gallery listFormVerificationImagesInjectTransAdd">
                                                    <% if ( injectTransaction.formVerificationImages && injectTransaction.formVerificationImages.length ){ %>
                                                        <% injectTransaction.formVerificationImages && injectTransaction.formVerificationImages.length && injectTransaction.formVerificationImages.forEach( image => { %>
                                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
                                                                <div class="img-wraps" data-src="<%= _lodash.get(image, 'path', '')   %>">
                                                                    <span class="close deleteImage" _type="imgFormVerificationImagesInjectTransAdd" _imgname="<%= image.name %>" _imageid="<%= image._id %>">×</span>
                                                                    <a data-src="<%= _lodash.get(image, 'path', '')   %>" href="<%= _lodash.get(image, 'path', '')   %>" class="effects khongtrung">
                                                                        <img style="object-fit: contain;" src="<%= _lodash.get(image, 'path', '')   %>" value="<%= image.name %>" width="120px" height="120px  class=" img-responsive="" alt="Unify Admin">
                                                                        <div class="overlay">
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            <!-- </div> -->
                                                        <% }) %>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="row gutters">
                                            <div class="text-right col-lg-12 col-md-12 col-sm-12">
                                                <button _type="<%= injectTransaction.type %>" _transactionMainID="<%= infoTransaction._id %>" _transactionID="<%= injectTransaction._id %>" class="btn btn-lg btn-primary btnUpdateInjectTransactionInject"
                                                    >Xác nhận</button>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- POPUP định giá SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-pricing-product" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0 ">Định giá sản phẩm</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <div class="d-flex justify-content-start">
                <a href="javascript:void(0)" class="text--green" onclick="history.back()">
                    <span class="icon-arrow-left-thick" style="font-size: 20px;"></span>
                </a>
            </div>     -->
            
            <div class="modal-body">
                
                </br>
                <h6 class=" text-primary" style="margin-bottom: 20px;">Bạn chọn danh mục để định giá sản phẩm</h6>
                <div class="previous--container">
                    <a href="javascript:void(0)" class="text--green btn-back-category-modal d-none">
                        <i class="icon-arrow-left-thick" style="font-size: 20px;"></i>
                    </a>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12">
                        <!-- <h3 class="col-xl-12 mt-0 titlePopup titlePopupChild "><span class="icon-info2 color-icon"></span> Thông tin phiếu </h3> -->
                        </br>
                            <div id="accordionIcons " class="accordion-icons showPricingProduct" role="tablist">

                            </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddPricingProduct">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP Xác nhận giao dịch bổ sung -->
<div class="modal fade bs-example-modal-sm model-show-inject-transaction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Xác nhận giao dịch</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary">Những thông tin có dấu * là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                <!-- <h6 class="modal-title mt-0"> Thông tin cá nhân </h6> -->
                <div class="row gutters modalInfoInjectTransaction">
                    <p class="text-left col-xl-12"> <b> Tên giao dịch bổ sung: </b>  <span class="txtNameInjectTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Ghi chú: </b> <span class="txtNoteInjectTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Loại giao dịch: </b>  <span class="txtTypeInjectTrans"></span> </p>  
                    
                </div>
                <div class="row gutters checkStatusFinancialInjectParent">
                    <p class="text-left col-xl-12 textStatusFinancialInject"> <b> Loại quỹ: </b>
                        <div class="text-left col-xl-12 checkStatusFinancialInject">
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialMoneyInject" name="statusFinancialInject" value="1" type="radio"  class="custom-control-input statusFinancialInject" >
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ tiền mặt</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialBankInject" name="statusFinancialInject" value="2" type="radio" class="custom-control-input statusFinancialInject">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ ngân hàng</span>
                            </label>
                        </div>
                    </p>
                </div>
                <div class="row gutters">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btn-lg btnConfirmAddInjectTransaction" >Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP giao dịch -->
<div class="modal fade bs-example-modal-sm model-change-status-transaction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-0">Chỉnh sửa Giao dịch</h2>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- <h6 class=" text-primary">Những thông tin có dấu * là thông tin bắt buộc</h6> -->

            <div class="modal-body">
                <!-- <h6 class="modal-title mt-0"> Thông tin cá nhân </h6> -->
                <div class="row gutters popupCheckStatusTransaction">
                    <p class="text-left col-xl-12"> <b> Mã khách hàng: </b>  <span class="txtCustomerCodeTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Tên khách hàng: </b> <span class="txtCustomerNameTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Số điện thoại: </b>  <span class="txtCustomerPhoneTrans"></span> </p>  
                    <p class="text-left col-xl-12"> <b> Giới tính: </b>  <span class="txtCustomerGenderTrans"></span> </p>  
                    <p class="text-left col-xl-12"> <b> Mã giao dịch: </b>  <span class="txtCodeTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Số tiền vay: </b>  <span class="txtLoanAmountTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Hạn mức phê duyệt: </b>  <span class="txtApprovalLimitTrans"></span> </p>
                    <p class="text-left col-xl-12"> <b> Ngày giao dịch: </b>  <span class="txtTransactionDate"></span> </p>
                    <p class="text-left col-xl-12 textStatusFinancial"> <b> Loại quỹ: </b>
                        <div class="text-left col-xl-12 checkStatusFinancial">
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialMoney" name="statusFinancial" value="1" type="radio"  class="custom-control-input statusFinancial" >
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ tiền mặt</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="statusFinancialBank" name="statusFinancial" value="2" type="radio" class="custom-control-input statusFinancial">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Trừ quỹ ngân hàng</span>
                            </label>
                        </div>
                    </p>
                </div>
                <div class="row gutters">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btn-lg btnConfirmUncheckTransaction">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



    