<% moment.locale('vi') %>
<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Thông báo từ Hệ Thống</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-20">
                                <div class="card-body">
                                    <% if (infoNotification.notificationCore) { %>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Tiêu đề</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <input disabled class="form-control" type="text" value = "<%=infoNotification && infoNotification.notificationCore && infoNotification.notificationCore.title%>">
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b>Mô tả</b>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <textarea  disabled class="form-control"name="" id="" cols="30" rows="5"><%=infoNotification && infoNotification.notificationCore && infoNotification.notificationCore.description%></textarea>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    Nội dung
                                                </label>
                                            </div>
                                            <div>
                                                <div style="background-color: #e9ecef;" class="form-control" name="" id="contentDetail" cols="30" rows="10" disabled><%-infoNotification && infoNotification.notificationCore&& infoNotification.notificationCore.content%></div>
                                            </div>
                                        </div>
                                        <div class="form-group right">
                                            <button onclick="goBack()" class="btn btn-secondary"> Quay lại</button>
                                        </div>
                                        </div>
                                    <% }else{%>
                                        <div class="row">
                                            <h5 style="margin-left: 10px">Thông báo không tồn tại hoặc đã xóa</h5>
                                        </div>
                                    <%} %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
