<style>
    img.img-thumbnail{
        width: 100px;
    }
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }

    .tag{
        margin-top: 10px;
        margin-left: 10px;
    }

    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }

    .dataTables_length select {
        background-color: rgb(202, 202, 202);
    }
    .dataTables_filter input {
        background-color: rgb(255, 255, 255);
    }

    .note{
        color: #DF9024;
        font-size: small;
    }

    .agency-receive{
        width: 500px;
        height: 150px;
        overflow: scroll;
    }

    
  
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px">Danh sách Thông báo</h5>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="main-content">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row gutters">
                                <div class="form-group col-xl-2"><label>Từ ngày</label> 
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtStartDate" value="<%=start%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtStartDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2"><label>Đến ngày</label>
                                    <% if (start) { %>
                                        <input type="date" class="form-control" id="txtEndDate" value="<%=end%>">
                                    <% }else{ %>
                                        <input type="date" class="form-control" id="txtEndDate">
                                    <% } %>
                                    <small>Set Error</small>
                                </div>
                                <div class="form-group col-xl-2">
                                    <button style="margin-top: 36px" type="button" class="btn btn-success btnSearch border-btn-black">
										<span class="icon-search"></span>
										Tìm kiếm
									</button>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-product-category">
                                    <span class="icon-add_circle"></span> Tạo thông báo
                                </a>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                    <table id="table-list-notification" class="table table-striped table-bordered">
                                        <!-- thead-inverse -->
                                        <thead >
                                            <tr>
                                                <th>STT</th>
                                                <th>Loại thông báo</th>
                                                <th>Tiêu đề</th>
                                                <!-- <th>Mô tả</th>
                                                <th>Nội dung</th> -->
                                                <th>Thời gian</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (listNotification && listNotification.length) { %>
                                                <% listNotification.forEach(( notification, index ) => { %>
                                                    <tr>
                                                        <th><%= index + 1 %></th>
                                                        <% TYPE_NOTIFICATION.forEach(type => { %>
                                                            <% if (type.value.toString() == notification.type.toString()) { %>
                                                                <td style="color: #537e84;"><%=type.text %> </td>
                                                            <% } %>
                                                        <% }) %>
                                                        <td>
                                                            <a href="<%=notification.url ? notification.url: '/notification' %>">
                                                                <i><%= notification.title %></i>
                                                            </a>
                                                                <!-- <i><%= notification.title %></i> -->
                                                        </td>
                                                        <!-- <td>
                                                            <i><%= notification.description %></i>
                                                        </td>
                                                        <td>
                                                            <i><%- notification.content && notification.content.length > 200 ? notification.content.slice(0, 200).concat("...") : notification.content %></i>
                                                        </td> -->
                                                        <td>
                                                            <i><%= moment(notification.createAt).format('L'); %> lúc <%= moment(notification.createAt).format('LT'); %></i>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group mb-2 border-btn-black">
                                                                <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%= notification._id && notification._id %>">
                                                                    Thao Tác
                                                                </button>
                                                                <button type="button" 
                                                                    class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" 
                                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" 
                                                                    x-placement="right-start" 
                                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                    <!-- <a class="dropdown-item btnUpdateNotification" href="javascript:void(0)" _notificationID="<%= notification._id %>">
                                                                        <span class="icon-border_color"></span> Sửa Thông Tin
                                                                    </a> -->
                                                                    <a class="dropdown-item btnDeleteNotification" href="javascript:void(0)" _notificationID="<%= notification._id %>">
                                                                        <span class="icon-trash2"></span> Xóa
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


