<!doctype html>   
<!--[if IE 6 ]><html lang="en-us" class="ie6"> <![endif]--> 
<!--[if IE 7 ]><html lang="en-us" class="ie7"> <![endif]--> 
<!--[if IE 8 ]><html lang="en-us" class="ie8"> <![endif]--> 
<!--[if (gt IE 7)|!(IE)]><!--> 
<html lang="en-US" class="no-js">
  <!--<![endif]-->  
  <head>    
    <!-- ==============================================
    	Title and basic Meta Tags
  =============================================== -->    
    <meta charset="utf-8">    
    <title>K360 Admin Dashboard | LDK Team</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content>    
    <meta name="keywords" content>    
    <meta name="author" content="TheThemeLab">	 	
    <!-- ==============================================
    	Mobile Metas
    =============================================== --> 	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  		 					 	
    <!-- ==============================================
    	Google Fonts
    =============================================== -->     
    <link href="http://fonts.googleapis.com/css?family=Abril+Fatface|Merienda+One" rel="stylesheet" type="text/css">		     
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">    
    <!-- ==============================================
    	CSS
    =============================================== -->                
    <link rel="stylesheet" type="text/css" href="../../../template/404/css/bootstrap.min.css">            
    <link rel="stylesheet" type="text/css" href="../../../template/404/css/style.css">        
    <link rel="stylesheet" type="text/css" href="../../../template/404/css/animate.css">    
  </head>     
  <body class="preload">        
    <!-- Overlay -->     
    <div class="bg-overlay">
    </div>           
    <!-- End Overlay -->     
    <div id="wrapper" class="border">       
      <div class="full-width">      
        <!-- Start Container-->         
        <div class="container content-inner">     
          <div style="margin-top: 100px;"  class="col-md-6 col-md-offset-3 text-404 text-center">       
            <!-- 404 text here -->       
            <h2 class="line animated Out">404</h2>        
            <h1 class="line3 animated Out">Page Not</h1>        
            <h1 style="margin-top: 8px" class="line4 animated Out">Found</h1>        
            <!-- ./404 text here -->     
          </div>     
        </div>               
        <!-- End Container -->     
             
      </div>                             
      <!--Footer-->                   
      <div class="footer row">       	  
        <div class="container">      
          <div class="footerContent animated Out">	    
            <div class="col-md-6 col-md-offset-3 text-center clear">	    
              <!-- Nav -->	    
              <nav style="margin-top: 18px;">			
                <a target="_blank" href="https://k360.gq/">Cầm đồ</a>			
                <a target="_blank" href="https://k360.gq/post/list-post">Blog</a>			
                <a target="_blank" href="https://k360.gq/faq">FAQ</a>			
                <a target="_blank" href="https://k360.gq/contact">Liên hệ</a>		  
              </nav>		  
              <!-- End Nav -->      
              <!-- Copyright Text -->    		  
              <!-- <div class="copyright">Copyright &copy; 2014 
                <a href="#">Samara</a>. All Rights Reserved.
              </div>                -->
              <!-- End Copyright Text -->                 	    
            </div>      
          </div>	     	  
        </div>    
      </div>    
      <!-- End Footer -->    
    </div>    
    <!-- End Wrapper -->    
  
    <!-- Loading... -->	     
    <div id="preload">		       
      <div id="preload-content">			         
        <div class="preload-bounce">				           
          <span class="bounce1">
          </span>				           
          <span class="bounce2">
          </span>				           
          <span class="bounce3">
          </span>                   
          <span class="bounce4">
          </span>			         
        </div>			         
        <div class="preload-text">Loading...
        </div>		       
      </div>	     
    </div>	       
    <!-- ==============================================
        JS
    =============================================== -->         
  <script type="text/javascript" src="../../../template/404/js/modernizr.custom.js"></script>     
  <script type="text/javascript" src="../../../template/404/js/jquery.min.js"></script>           
  <script type="text/javascript" src="../../../template/404/js/bootstrap.min.js"></script>     
  <script type="text/javascript" src="../../../template/404/js/plugins.js"></script>     
  <script type="text/javascript" src="../../../template/404/js/init.js"></script>         
  </body>
</html>