
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Phiên Làm Việc Hết Hạn</title>
    <meta name="author" content="K360" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <script>
		window.addEventListener('popstate', function (event) {
			history.pushState(null, document.title, location.href);
		});
        setTimeout(function(){
            localStorage.removeItem('token_agency');
            window.location.replace('/login');
        }, 0);
    </script>
</body>
</html>
