<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="K360 Agency" />
		<meta name="keywords" content="Trang đăng nhập đại lý" />
		<meta name="author" content="K360" />
		<!-- <link rel="shortcut icon" href="../../../../template/new-admin/img/favicon.ico" /> -->
		<link rel="shortcut icon" href="../../../../template/new-admin/img/3601_favicon.png" />
		<title>k360 Agency- Login</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		
		<!-- Common CSS -->
		<link rel="stylesheet" href="../../../../template/new-admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/fonts/icomoon/icomoon.css" />

		<!-- Mian and Login css -->
		<link rel="stylesheet" href="../../../../template/new-admin/css/main.css" />
		<link href="../../../../template/toastr/toastr.min.css" rel="stylesheet" />
	</head>  

	<body class="login-bg">
			
		<div class="container">
			<div class="login-screen row align-items-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<form action="index.html">
						<div class="login-container">
							<div class="row no-gutters">
								<!-- <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12"> -->
									<div class="login-box">
										<a href="javascript:void(0)" class="login-logo">
											<img src="../../../../template/new-admin/img/k360.png" alt="Unify Admin Dashboard" />
										</a>
										<div class="p3" style="margin: 30px 0">
											<!-- <h4 class="text-muted font-18 m-b-5 text-center">
												Đăng Nhập Hệ Thống K360
											</h4> -->
											<p class="text-muted text-center">
												Đăng nhập để tiếp tục
											</p>
										</div>
										<div class="input-group">
											<span class="input-group-addon" id="username"><i class="icon-account_circle"></i></span>
											<input type="text" id="txtEmail" class="form-control" placeholder="Email" aria-label="username" aria-describedby="username">
										</div>
										<br>
										<div class="input-group">
											<span class="input-group-addon" id="password"><i class="icon-verified_user"></i></span>
											<input type="password" id="txtPassword" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password">
										</div>
										<div class="actions clearfix">
											<a href="/recover-password">Quên Mật Khẩu </a>
									  	<button class="btn btn-primary" id="btnLogin">Đăng Nhập</button>
									  </div>
									  <!-- <div class="or"></div>
									  <div class="mt-4">
									  	<a href="signup.html" class="additional-link">Don't have an Account? <span>Create Now</span></a>
									  </div> -->
									</div>
								<!-- </div> -->
								<!-- <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
									<div class="login-slider"></div>
								</div> -->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer class="main-footer no-bdr fixed-btm">
			<div class="container">
				Copyright LDK SOFTWARE @ <script>document.write(new Date().getFullYear())</script>
			</div>
		</footer>
		<script src="../../../../template/new-admin/js/jquery.js"></script>
		<script src="../../../../template/toastr/toastr.min.js"></script>

		<script>
			$(document).ready(function(){

				toastr.options = {
					"closeButton": false,
					"debug": false,
					"positionClass": "toast-top-right",
					"onclick": null,
					"showDuration": "300",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};

				if (window.history && window.history.pushState) {
					window.history.pushState('forward', null, './#forward');

					$(window).on('popstate', function() {
						location.href = '/logout';
					});
				}

				$('#btnLogin').on('click', function(e){
					e.preventDefault();
					let email = $('#txtEmail').val();
					let password = $('#txtPassword').val();
		
					$.ajax({
						url: `/login`,
						method: `POST`,
						data: { email, password },
						success: function(resp) {
							if(resp.error && resp.message == "user_not_inside_agency"){
								return toastr.error("Đăng Nhập Thất Bại! Tài khoản không thuộc Đại Lý nào", "THÔNG BÁO");
							}
							if(resp.error)
								return toastr.error("Đăng Nhập Thất Bại", "THÔNG BÁO");

							const { token } = resp.data;
							localStorage.setItem('token_agency', token);
							toastr.success("Đăng Nhập Thành Công", "THÔNG BÁO");
		
							setTimeout(() => location.href = `/transaction/list-transaction`, 1000);
						}, error: function(err) {
							console.log({ err });
							toastr.error("Đăng Nhập Thất Bại", "THÔNG BÁO");
						}
					})
				});
			})
		</script>
	</body>
</html>

