<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="K360 Admin" />
		<meta name="keywords" content="Trang đăng nhập vào Admin hệ thống" />
		<meta name="author" content="K360" />
		<link rel="shortcut icon" href="../../../../template/new-admin/img/3601_favicon.png" />
		<title>K360 Admin - Login</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		
		<!-- Common CSS -->
		<link rel="stylesheet" href="../../../../template/new-admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../../template/new-admin/fonts/icomoon/icomoon.css" />

		<!-- Mian and Login css -->
		<link rel="stylesheet" href="../../../../template/new-admin/css/main.css" />
		<link href="../../../../template/toastr/toastr.min.css" rel="stylesheet" />
	</head>  

	<body class="login-bg">
			
		<div class="container">
			<div class="login-screen row align-items-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<form action="index.html">
						<div class="login-container">
							<div class="row no-gutters">
								<!-- <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12"> -->
									<div class="login-box">
										<a href="#" class="login-logo">
											<img src="../../../../template/new-admin/img/logo_k360.png" alt="Unify Admin Dashboard" />
										</a>
										<div class="p3" style="margin: 30px 0">
											<!-- <h4 class="text-muted font-18 m-b-5 text-center">
												Đăng Nhập Hệ Thống K360
											</h4> -->
											<p class="text-muted text-center">
												Xác nhận mật khẩu mới
											</p>
										</div>
										
										<!-- <div class="input-group">
											<span class="input-group-addon" id="username"><i class="icon-account_circle"></i></span>
											<input type="text" id="txtCode" class="form-control" placeholder="Code" aria-label="username" aria-describedby="username">
											<button class="input-group-addon btnForgetPassword" style="color: aliceblue; margin-left: 7px;" id="username">Gửi lại mã</button>
										</div> -->
										<div class="input-group">
											<span class="input-group-addon" id="password"><i class="icon-verified_user"></i></span>
											<input type="password" id="txtPassword" class="form-control" placeholder="Mật Khẩu Mới" aria-label="Password" aria-describedby="password">
										</div>
										<br>
										<div class="input-group">
											<span class="input-group-addon" id="password"><i class="icon-verified_user"></i></span>
											<input type="password" id="txtPasswordConfirm" class="form-control" placeholder="Mật Khẩu Mới" aria-label="Password" aria-describedby="password">
										</div>
										<div class="actions clearfix">
									  		<button class="btn btn-primary" id="btnChangePassword">Xác Nhận</button>
									  </div>
									  <!-- <div class="or"></div> -->
									  <div class="mt-4">
									  	<!-- <a href="signup.html" class="additional-link">Don't have an Account? <span>Create Now</span></a> -->
									  </div>
									</div>
								<!-- </div> -->
								<!-- <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
									<div class="login-slider"></div>
								</div> -->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer class="main-footer no-bdr fixed-btm">
			<div class="container">
				Copyright LDK SOFTWARE @ 2021
			</div>
		</footer>
		<script src="../../../../template/new-admin/js/jquery.js"></script>
		<script src="../../../../template/toastr/toastr.min.js"></script>

		<script>
			$(document).ready(function(){

				toastr.options = {
					"closeButton": false,
					"debug": false,
					"positionClass": "toast-top-right",
					"onclick": null,
					"showDuration": "300",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				
			
				function getParams(name, url) {
					if (!url) {
						url = window.location.href;
					}
					var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
					if (!results) { 
						return undefined;
					}
					return results[1] || undefined;
				}
				let email = getParams("email");
				let code  = getParams("code");

				$('#btnChangePassword').on('click', function(e){
					e.preventDefault();
					let password        = $("#txtPassword").val();
					let passwordConfirm = $("#txtPasswordConfirm").val();

					if (!password || !passwordConfirm) {
						return toastr.warning("Mời bạn nhập đầy đủ thông tin", "Thông Báo");
					}

					if (password != passwordConfirm) {
						return toastr.warning("Mật khẩu không trùng khớp", "Thông Báo");
					}

					$.ajax({
						url: `/update-pass-recover`,
						method: `POST`,
						data: { email, code, password },
						success: function(resp) {
							if(resp.error) {
								if (resp.message == "email_not_exist") {
									return toastr.warning("Email không tồn tại, Mời bạn nhập lại", "THÔNG BÁO");
								}
								return toastr.warning("Có lỗi trong quá trình cập nhật", "THÔNG BÁO");
							}
							toastr.success("Bạn đã thay đổi mật khẩu thành công", "THÔNG BÁO");
							setTimeout(function() {
								window.location.href = `/login`;
							}, 700);
						}, error: function(err) {
							console.log({ err });
							toastr.warning("Có lỗi trong quá trình cập nhật", "THÔNG BÁO");
						}
					})
				});
			})
		</script>
	</body>
</html>

