<% include layout/head-admin.ejs %>
    <%- include(render.inc) %>
<% include layout/footer-admin.ejs %>

<%- include inc/scripts/main-script %>


<!-- ==================== QUẢN LÝ DANH MỤC SẢN PHẨM ==================== -->
<% if (render.code === CF_ROUTINGS_PRODUCT_CATEGORY.LIST_CHILD_BY_PARENT ||
    render.code === CF_ROUTINGS_PRODUCT_CATEGORY.LIST_PRODUCT_CATEGORY ||
    render.code === CF_ROUTINGS_PRODUCT_CATEGORY.ADD_PRODUCT_CATEGORY) { %>
    <%- include("../packages/product_category/views/scripts/manage_product_category-script") %>
<% } %>

<!-- ==================== QUẢN LÝ FAQ ==================== -->
<% if (render.code === CF_ROUTINGS_FAQ.LIST_FAQ) { %>
    <%- include("../packages/faq/views/scripts/manage_faq-script.ejs") %>
<% } %>


<!-- ==================== QUẢN LÝ ĐẠI LÝ ==================== -->
<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_LIST_AGENCY) { %>
    <%- include("../packages/agency/views/utils/list_agency-script.ejs") %>
<% } %>

<% if (render.code === CF_ROUTINGS_AGENCY.VIEW_DETAIL_AGENCY) { %>
    <%- include("../packages/agency/views/utils/detail_agency-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ SLIDE ==================== -->
<% if (render.code === CF_ROUTINGS_SLIDE.LIST_SLIDE){ %>
    <%- include("../packages/slide/views/script/list_slide-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ BÀI VIÉT ==================== -->
<% if (render.code === CF_ROUTINGS_BLOG.LIST_CATEGORY) { %>
	<%- include("../packages/blog/views/scripts/manage_category-script.ejs") %>
<% } %>

<% if (render.code === CF_ROUTINGS_BLOG.LIST_POST ||
		render.code === CF_ROUTINGS_BLOG.ADD_POST ||
		render.code === CF_ROUTINGS_BLOG.UPDATE_POST) { %>
	<%- include("../packages/blog/views/scripts/manage_blog-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ GIAO DỊCH ==================== -->
<% if (render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_TRANSACTION_24H
        || render.code === CF_ROUTINGS_TRANSACTION.VIEW_LIST_TRANSACTION ) { %>
	<%- include("../packages/transaction/views/scripts/manage_transaction-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ THÔNG BÁO ==================== -->
<% if (render.code === CF_ROUTINGS_NOTIFICATION.VIEW_LIST_NOTIFICATION ||
	render.code === CF_ROUTINGS_NOTIFICATION.VIEW_LIST_NOTIFICATION_RECEIVE) { %>
	<%- include("../packages/notification/views/scripts/list_notification-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ LIÊN HỆ ==================== -->
<% if (render.code === CF_ROUTINGS_CONTACT.VIEW_LIST_CONTACT) { %>
	<%- include("../packages/contact/views/scripts/list_contact-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ THỐNG KÊ ==================== -->
<% if (render.code === CF_ROUTINGS_STATISTICAL.VIEW_STATISTICAL) { %>
	<%- include("../packages/statistical/views/scripts/manage_statistical-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ KIỂM KÊ ==================== -->
<% if (render.code === CF_ROUTINGS_INVENTORY.VIEW_LIST_INVENTORY_SESSION ||
		render.code === CF_ROUTINGS_INVENTORY.VIEW_LIST_INVENTORY_SESSION_OF_AGENCY ||
		render.code === CF_ROUTINGS_INVENTORY.DETAIL_INVENTORY_SESSION) { %>
	<%- include("../packages/inventory_session/views/scripts/manage_inventory_session-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ TÀI KHOẢN ==================== -->
<% if (render.code === CF_ROUTINGS_ADMIN.LIST_USER_ADMIN_API) { %>
	<%- include("../packages/permissions/users/views/scripts/list_user-script.ejs") %>
<% } %>

<!-- ==================== QUẢN LÝ BÌNH LUẬN ==================== -->
<% if (render.code === CF_ROUTINGS_BLOG.LIST_COMMENT_BY_POST) { %>
	<%- include("../packages/blog/views/scripts/manage_comment-script.ejs") %>
<% } %>
