<script>
    $(document).ready(function(){

		function appendComment({ fullname, content, createAt }) {
			$('.comments-wrap').append(`
				<div class="comments__item">
					<div class="comments__item-ava" style="background: transparent url('../../../../template/img/avaCmt0.svg') 0% 0% no-repeat padding-box;"></div>
					<div class="comments__item-content">
						<div class="comments__item-content-header">
							<h2 class="comments__item-content-header-name">
								${fullname}
							</h2>
							<span class="comments__item-content-header-time">
								${moment(createAt).format("L")}
							</span>
						</div>
						<div class="comments__item-content-main">
							<span>${content}</span>
						</div>
					</div>
				</div>
			`);
		}

		$('#btnComment').on('click', function () {
			const postID	= $(this).attr('_postID').trim();
			const fullname 	= $('#txtNameComment').val().trim();
			const email 	= $('#txtEmailComment').val().trim();
			const content 	= $('#txtContentComment').val().trim();
			const website 	= $('#txtWebsiteComment').val().trim();

			if(!fullname || !content){
				return toastr.warning(`Bạn cần nhập đầy đủ các trường yêu cầu`, "THÔNG BÁO");	 
			}
			if(!email || !validateEmail(email)){
				return toastr.warning(`Email không hợp lệ`, "THÔNG BÁO");
			}
			if(!postID){
				return toastr.warning(`Bài viết không tồn tại`, "THÔNG BÁO");
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_BLOG.ADD_COMMENT %>`,
				data: { fullname, email, content, website, postID }
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					return toastr.warning(`Có lỗi trong khi bình luận: ${message}`, "THÔNG BÁO");
				}

				const { fullname, content, createAt } = data;
				appendComment({ fullname, content, createAt });

				$('#txtNameComment').val('');
				$('#txtEmailComment').val('');
				$('#txtContentComment').val('');
				$('#txtWebsiteComment').val('');
			}).fail(err => console.error(err))

		});
    });    
</script>
