<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	.modal-update-status-comment .modal-dialog{
		width: 300px;
	}
	/* .dataTables_length,
	.dataTables_paginate{
		display: none;
	} */
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="margin-top: 10px;">Danh sách bình luận</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-show-modal-update-status-comment">
									<span class="icon-add_circle"></span>
                                    Cập nhật trạng thái
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-comment">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
										<th>#</th>
                                        <th>STT</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Nội dung</th>
                                        <th>Website</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listComment && listComment.length) { %>
                                        <% listComment.forEach(( comment, index ) => { %>
                                            <tr class="tr-comment-<%= comment._id %>">
												 <td>
													<input type="checkbox" class="cb-choose-comment" value="<%= comment._id %>" />
												</td>
                                                <td>
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= comment.fullname %>
                                                    </i>
                                                </td>
												<td>
                                                    <i>
                                                        <%= comment.email %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <i>
                                                        <% let content = comment.content.length > 100 ? comment.content.substr(0, 100) + '...' : comment.content %> 
                                                        <%= content %>
                                                    </i>
                                                </td>
												<td>
													<i>
                                                        <%= comment.website %>
                                                    </i>
                                                </td>
												<td>
                                                    <% if (comment.status === 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hiển thị
                                                        </span>
                                                    <% } else{ %>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không hiển thị
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= moment(comment.createAt).format('L') %>
                                                    </i>
                                                </td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-primary btn-sm btn-update-status-comment" 
														_commentID="<%= comment._id %>">
															Cập nhật
														</button>
													</div>
												</td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->

<!-- CẬP NHẬT TRẠNG THÁI BÌNH LUẬN -->
<div class="modal fade bs-example-modal-sm modal-update-status-comment" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Trạng thái</label>
					<select class="form-control" id="scStatusComment">
						<option value="0">Không hiển thị</option>
						<option value="1" selected>Hiển thị</option>
					</select>
				</div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="btnConfirmUpdateStatusComment">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
