<!-- POPUP CẬP NHẬT DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm modal-online-pricing" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Định giá danh mục sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên đại lý</label>
                    <input type="text" class="form-control" id="txtAgencyNameModal" placeholder="..." disabled>
                </div>
                <div class="form-group"><label>Các danh mục đã chọn</label>
                    <input type="text" class="form-control" id="txtCategoriesModal" placeholder="..." disabled>
                </div>
                <div class="form-group"><label>Định giá</label>
                    <input type="text" class="form-control" id="txtPricingModal" placeholder="..." disabled>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btnConfirmPricing" data-dismiss="modal" style="background: rgb(203, 88, 18)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
