<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>

<!-- BEGIN .app-container -->
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5 style="
                            margin-top: 10px;
                        ">Danh sách slide</h5>
                            <!-- <h6 class="sub-heading">List slide</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-start">
                               
                            </div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btnAddSlide">
									<span class="icon-add_circle"></span>
                                    Tạo slide
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <table class="table table-hover table-responsive table-list-slide">
                                <!-- thead-inverse -->
                                <thead class="thead-default">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Mô tả</th>
                                        <th>link</th>
                                        <th>Hình ảnh</th>
                                        <th>Hiển thị</th>
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listSlide.forEach((slide, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= slide.title%></td>
                                            <td><%= slide.description%></td>
                                            <td><%= slide.link%></td>
                                            <td>
                                                <div class="imgPreviewSlide " >
                                                    <img class="img-fluid img-thumbnail rounded" data-src="<%= slide.image && slide.image.path%>" src="<%= slide.image && slide.image.path%>" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="btnUpdateStatusSlide" name="" id="" <% if (slide.status == 1) { %>
                                                    checked
                                                <% } %>  _slideID="<%= slide._id%>">
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2 border-btn-black">
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                        Thao Tác
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="right-start">
                                                        <a class="dropdown-item btnUpdateSlide" href="javascript:void(0)" _slideID="<%= slide._id%>">
                                                            Sửa
                                                        </a>
                                                        <a class="dropdown-item btnBlockUser btnDeleteSlide" href="javascript:void(0)" _slideID="<%= slide._id%>">
                                                            Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>
<!-- END: .app-container -->


<!-- POPUP TẠO SLIDE -->
<div class="modal fade bs-example-modal-sm model-create-slide" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    +Tạo/cập nhật slide</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tiêu đề slide</label> 
                    <input type="text" class="form-control" id="txtTitleSlide" placeholder="Tiêu đề không được bỏ trống">
                </div>
              
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtDescriptionSlide" cols="30" rows="5" placeholder="Nhập mô tả cho slide"></textarea>
                </div>
                <div class="form-group"><label>Link</label>
                    <input type="text" class="form-control" id="txtLinkSlide" placeholder="https://www.facebook.com/">
                </div>
                
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" id="imageSlide" class="form-control" accept="image/*">
                    </br>   
                    <div class="gallery imageSlide">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddSlide border-btn-black">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateSlide" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

