<!-- BEGIN .app-container -->
<style>
    .error {
        border-color: #ff6565;    
    }
    small{
        color: #ff6565;
        position: absolute;
        visibility: hidden;
    }
    .errors {
        visibility: visible;
    }
    .modal-header{
        background: #4C526B;
        color: white;
    }
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    .select2-container{
        width: 100% !important;
    }

</style>
<div class="app-container">
    <!-- BEGIN .app-side -->
    <% include ../../../views/layout/utils/leftbar %>
    <!-- END: .app-side -->

    <!-- BEGIN .app-main -->
    <div class="app-main">
        <!-- BEGIN .main-heading -->
        <header class="main-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="page-icon">
                            <i class="icon-border_outer"></i>
                        </div>
                        <div class="page-title">
                            <h5>Danh sách quản lý lãi</h5>
                            <!-- <h6 class="sub-heading">Quản lý lãi</h6> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="right-actions"> -->
                            <!-- <a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
                                <i class="icon-download4"></i> -->
                            <!-- </a> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
        </header>
        <!-- END: .main-heading -->

        <!-- BEGIN .main-content -->
        <div class="main-content">
            
            <!-- Row start -->
            <div class="row gutters">
                
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">Danh mục</label>
                                    <select class="form-control" id="search_product">
                                        <option value="">Chọn danh mục</option>
                                        <% listProductCategory.length && listProductCategory.forEach(product => { %>
                                            <option value="<%= product._id%>" <% if (_product == product._id) { %>
                                                selected
                                            <% } %>><%= product.name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Phần trăm lãi(%)</label>
                                    <input type="number" class="form-control" placeholder="VD: 10" id="search_percent" style="height: 36px;
                                    border-radius: 4px;" <% if (percent) { %>
                                        value="<%=percent%>"
                                    <% } %>>
                                </div>
                                <div class="col-lg-3">
                                    <a href="javascript:void(0)" class="btn btn-success btnSearchInterestRate br-btn" style="margin-top: 30px;">
                                        <span class="icon-search"></span>
										Tìm kiếm 
                                    </a>
                                </div>
                            </div>
							<div class="col-lg-12 d-flex justify-content-end">
                                <a style="
                                    margin-top: 20px;
                                " href="javascript:void(0)" class="btn btn-outline-primary waves-effect waves-light btn-create-interest-rate">
									<span class="icon-add_circle"></span>
                                    Tạo quản lý lãi
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- table-striped table-bordered -->
                            <div style="width: 100%">
                                <div class="table-responsive">
                                <table id="datatableListCustomer" width="100%" class="table table-striped table-bordered table-list-interest-rate">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Danh mục</th>
                                            <th>Từ ngày</th>
                                            <th>Đến ngày</th>
                                            <th>Lãi(%)</th>
                                            <th>Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listData && listData.length && listData.forEach((data, index) => { %>
                                            <tr>
                                                <td><%= index + 1%></td>
                                                <td><%= data.name%></td>
                                                <td><%= data.product.name%></td>
                                                <td><%= data.from%></td>
                                                <td><%= data.to%></td>
                                                <td><%= data.percent%></td>
                                                <td>
                                                    <div class="btn-group mb-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnDropDown_<%=index + 1%>">
                                                            Thao Tác
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="right-start" >
                                                            <a class="dropdown-item btnUpdateInterestRate" href="javascript:void(0)" _interestRate="<%= data._id%>">
                                                                Cập nhật Thông Tin
                                                            </a>
                                                            <a class="dropdown-item btnRemoveInterestRate" href="javascript:void(0)" _interestRate="<%= data._id%>">
                                                                Xoá
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                                <% if (listData && listData.length == 0) { %>
                                    <% include ../../common/views/no_result.ejs %>
                                <% } %>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Row end -->
        </div>
        <!-- END: .main-content -->
    </div>
    <!-- END: .app-main -->
</div>

<!-- END: .app-container -->
<!-- POPUP TẠO DANH MỤC SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm model-create-interest-rate" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0"><img src="/template/new-admin/img/checked.svg" width="30px" alt="checked" class="completed"> Tạo/Cập nhật quản lý lãi</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <label>Tên</label> 
                        <input type="text" class="form-control" id="txtNameInterestRate" placeholder="VD: lãi suất cầm laptop từ 1 đến 5 ngày">
                        <small>Error Message</small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label>Danh mục</label> 
                        <select name="" id="txtProductInterestRate" class="form-control">
                            <option value="">Chọn danh mục</option>
                           <% listProductCategory.length && listProductCategory.forEach(product => { %>
                                <option value="<%= product._id%>"><%= product.name%></option>
                           <% }) %>
                        </select>
                        <small></small>
                    </div>
                    <!-- <div class="form-group col-4">
                        <label>Loại giao dịch</label> 
                        <select name="" id="txtTypeTransaction" class="form-control">
                            <option value="">Chọn giao dịch</option>
                            <% TYPE_TRANSACTION.forEach(type => { %>
                                <option value="<%= type.value%>"><%= type.text%></option>
                            <% }) %>
                        </select>
                        <small></small>
                    </div> -->
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label>Từ ngày</label> 
                        <input type="number" class="form-control" id="txtFrom" placeholder="VD: 1" min="1" max="30">
                        <small></small>
                    </div>
                    <div class="form-group col-4">
                        <label>Đến ngày</label> 
                        <input type="number" class="form-control" id="txtTo" placeholder="VD: 5"  min="1" max="30">
                        <small></small>
                    </div>
                    <div class="form-group col-4">
                        <label>Phần trăm lãi suất</label> 
                        <input type="number" class="form-control" id="txtPercent" placeholder="VD: 10%" min="0" max="100">
                        <small></small>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddInterestRate">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP LÃI -->
<div class="modal fade bs-example-modal-sm model-update-interest-rate" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật % lãi</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-8"> 
                        <label>Tên</label> 
                        <input type="text" class="form-control" id="txtNameInterestRateUpdate" value="">
                        <small></small>
                    </div>
                    <div class="form-group col-4">
                        <label>Phần trăm lãi suất</label> 
                        <input type="number" class="form-control" id="txtPercentUpdate" placeholder="VD: 10%" min="0" max="100">
                        <small></small>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateInterestRate">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
